.root {
  @apply flex flex-wrap;
  /* imitate command bar height ref https://github.com/microsoft/fluentui/blob/master/packages/azure-themes/src/azure/styles/CommandBar.styles.ts#L14 */
  @apply h-9; 

  /* Align the first item with the screen title. */
  @apply px-3.5;
}

.searchBox {
  @apply w-[300px] flex-none;
  @apply mobile:w-full;
}
