.root {
  @apply flex items-center flex-wrap;
  @apply h-11;

  /* Align the first item with the screen title. */
  @apply px-3.5;

  /* Mimick command bar bottom border */
  border-bottom: 1px solid #edebe9;
}

.filterContainer {
  @apply flex items-center;
  @apply h-full;
  @apply flex-1-0-auto;
}

.searchBox {
  @apply w-[300px] flex-none;
  @apply mobile:w-full;
  @apply mx-4;
}

.dateRangeFilter {
  @apply h-full;
}

.activityTypeFilter {
  @apply h-full;
}

.clearAllButton {
  @apply h-full;
}
