.root {
  @apply flex gap-4 items-center flex-wrap;
  @apply h-11;

  /* Align the first item with the screen title. */
  @apply px-3.5;
}

.searchBox {
  @apply w-[300px] flex-none;
  @apply mobile:w-full;
}

.dateRangeFilter {
  @apply h-full;
}

.activityTypeFilter {
  @apply h-full;
}
