@layer components {
  :root {
    --banner-logo__height: 3.75rem;
    --banner-logo__max-width: 350px;
    --banner-logo-container__bg-color: var(--color-surface-primary);
  }

  :root.dark {
    --banner-logo-container__bg-color: var(--color-surface-primary);
  }

  .banner-logo__container {
    @apply flex;
    @apply items-center;
    @apply w-full;
    @apply h-25;
    @apply py-5;
    @apply hidden;
    background-color: var(--banner-logo-container__bg-color);

    :root[alignment-logo="start"] & {
      @apply justify-start;
    }

    :root[alignment-logo="center"] & {
      @apply justify-center;
    }

    :root[alignment-logo="end"] & {
      @apply justify-end;
    }

    :root[alignment-logo="hidden"] & {
      @apply hidden;
    }
  }

  .banner-logo {
    @apply hidden;
    height: var(--banner-logo__height);
    max-width: var(--banner-logo__max-width);
  }

  /* The banner is visible only in light mode and not mobile with .banner-logo.light src is non-empty*/
  :root:not(.dark) .banner-logo__container.light:has(.banner-logo.light:not([src=""])) {
    @apply hidden tablet:flex;
  }

  /* The banner is visible only in dark mode and not mobile with .banner-logo.dark src is non-empty */
  :root.dark .banner-logo__container.dark:has(.banner-logo.dark:not([src=""])) {
    @apply hidden tablet:flex;
  }

  /* The light logo is visible only in light mode and src is non-empty. */
  :root:not(.dark) .banner-logo.light:not([src=""]) {
    display: initial;
  }
  /* The dark logo is visible only in dark mode and src is non-empty. */
  :root.dark .banner-logo.dark:not([src=""]) {
    display: initial;
  }
}
