@layer components {
  :root {
    --brand-logo__height: 2.5rem;
    --branch-logo__max-width: 350px;
  }

  .brand-logo__container {
    @apply flex;

    :root[alignment-logo="start"] & {
      @apply justify-start;
    }

    :root[alignment-logo="center"] & {
      @apply justify-center;
    }

    :root[alignment-logo="end"] & {
      @apply justify-end;
    }

    :root[alignment-logo="hidden"] & {
      @apply hidden;
    }
  }

  .brand-logo {
    @apply hidden;
    @apply mb-8;
    height: var(--brand-logo__height);
    max-width: var(--brand-logo__max-width);
  }

  /* The light logo is visible only in light mode and src is non-empty. */
  :root:not(.dark) .brand-logo.light:not([src=""]) {
    display: initial;
  }
  /* The dark logo is visible only in dark mode and src is non-empty. */
  :root.dark .brand-logo.dark:not([src=""]) {
    display: initial;
  }
}
