@layer components {
  :root {
    --brand-logo__height: 2.5rem;
    --branch-logo__max-width: 350px;
  }

  .brand-logo__container {
    @apply flex;

    :root[alignment-logo="start"] & {
      @apply justify-start;
    }

    :root[alignment-logo="center"] & {
      @apply justify-center;
    }

    :root[alignment-logo="end"] & {
      @apply justify-end;
    }

    :root[alignment-logo="hidden"] & {
      @apply hidden;
    }
  }
  .brand-logo {
    height: var(--brand-logo__height);
    max-width: var(--brand-logo__max-width);
  }
  .brand-logo.dark {
    @apply hidden;
  }
  .dark .brand-logo.light {
    @apply hidden;
  }
  .dark .brand-logo.dark {
    display: initial;
  }
}
