@layer components {
  :root {
    --brand-logo__height: 2.5rem;
    --brand-logo__height--settings: 3.75rem;
    --brand-logo__max-width: 350px;
  }

  .brand-logo__container {
    @apply hidden; /* flex is applied in data-src selector */

    :root[alignment-logo="start"] & {
      @apply justify-start;
    }

    :root[alignment-logo="center"] & {
      @apply justify-center;
    }

    :root[alignment-logo="end"] & {
      @apply justify-end;
    }

    :root[alignment-logo="hidden"] & {
      @apply hidden;
    }
  }

  .brand-logo {
    /* Use object-contain to maintain aspect ratio. */
    @apply object-contain;
    max-width: var(--brand-logo__max-width);
  }

  .brand-logo--default {
    height: var(--brand-logo__height);
  }

  .brand-logo--settings {
    height: var(--brand-logo__height--settings);
  }

  /* Below data-src selector is a workaround until css :has() is widely-supported */
  /* The light logo is visible only in light mode and src is non-empty. */
  :root:not(.dark) .brand-logo__container.light:not([data-src=""]) {
    @apply flex;
  }
  /* The dark logo is visible only in dark mode and src is non-empty. */
  :root.dark .brand-logo__container.dark:not([data-src=""]) {
    @apply flex;
  }
}
