.close-btn {
  @apply cursor-pointer;

  @apply w-11 h-11;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../img/close.svg");
}

.dark .close-btn {
  background-image: url("../../img/close-dark.svg");
}
