.close-btn {
  @apply cursor-pointer;

  /* Make button clickable area at least 44px x 44px */
  @apply p-5.5 -m-5.5;
  transform: translateX(
    -0.2rem
  ); /* FIXME: Figure out why button shifted right after applying above */

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/close.svg");
}

.dark .close-btn {
  background-image: url("../img/close-dark.svg");
}
