@layer components {
  :root {
    --country-flag-icon__font-size: 1.5rem; /* 24 / 16 = 1.5 */
    --settings-item-icon__font-size: 1.5rem;
  }

  :root.dark {
    /* TODO(tung): Dark mode styles */
  }

  .country-flag-icon {
    font-size: var(--country-flag-icon__font-size);
  }

  .settings-item-icon {
    font-size: var(--settings-item-icon__font-size);
  }
}
