@layer components {
  :root {
    --alternative-icon__font-size: 1.5em; /* 24 / 16 = 1.5 */
    --country-flag-icon__font-size: 1.5em; /* 24 / 16 = 1.5 */
  }

  :root.dark {
    /* TODO(tung): Dark mode styles */
  }

  .alternative-icon {
    font-size: var(--alternative-icon__font-size);
  }

  .country-flag-icon {
    font-size: var(--country-flag-icon__font-size);
  }
}
