@layer components {
  :root {
    --label-btn-bg-color: transparent;
    --label-btn-text-color: var(--color-primary-base);
    --label-btn-border-radius: 0px;
    --label-btn-font-family: var(--typography-label-large__font-family);
    --label-btn-font-size: var(--typography-label-large__font-size);
    --label-btn-line-height: var(--typography-label-large__line-height);
    --label-btn-letter-spacing: var(--typography-label-large__letter-spacing);
    --label-btn-font-weight: var(--typography-label-large__font-weight);
    --label-btn-ring-width: 0px;
    --label-btn-ring-color: transparent;
    --label-btn-py: var(--padding-2\.5);

    --label-btn-px: var(--padding-3);

    --label-btn-bg-color-hover: transparent;
    --label-btn-text-color-hover: var(--color-primary-500);
    --label-btn-ring-width-hover: var(--label-btn-ring-width);
    --label-btn-ring-color-hover: var(--label-btn-ring-color);

    --label-btn-bg-color-active: transparent;
    --label-btn-text-color-active: var(--color-primary-500);
    --label-btn-ring-width-active: var(--label-btn-ring-width);
    --label-btn-ring-color-active: var(--label-btn-ring-color);

    --label-btn-bg-color-disabled: transparent;
    /* FIXME(tung): It is grey-600 with opacity in figma, confirm with designer */
    --label-btn-text-color-disabled: var(--color-grey-300);
    --label-btn-ring-width-disabled: var(--label-btn-ring-width);
    --label-btn-ring-color-disabled: var(--label-btn-ring-color);
  }

  :root.dark {
    /* TODO(tung): Dark mode styles */
  }

  .label-btn {
    @apply text-center;

    background-color: var(--label-btn-bg-color);
    color: var(--label-btn-text-color);
    border-radius: var(--label-btn-border-radius);
    font-family: var(--label-btn-font-family);
    font-size: var(--label-btn-font-size);
    line-height: var(--label-btn-line-height);
    letter-spacing: var(--label-btn-letter-spacing);
    font-weight: var(--label-btn-font-weight);
    @apply ring-inset	
      ring-[length:var(--label-btn-ring-width)]
      ring-[color:var(--label-btn-ring-color)];
    padding: var(--label-btn-py) var(--label-btn-px);

    &:hover {
      background-color: var(--label-btn-bg-color-hover);
      color: var(--label-btn-text-color-hover);
      @apply ring-inset
        ring-[length:var(--label-btn-ring-width-hover)]
        ring-[color:var(--label-btn-ring-color-hover)];
    }

    &:active {
      background-color: var(--label-btn-bg-color-active);
      color: var(--label-btn-text-color-active);
      @apply ring-inset
        ring-[length:var(--label-btn-ring-width-active)]
        ring-[color:var(--label-btn-ring-color-active)];
    }

    &:disabled {
      background-color: var(--label-btn-bg-color-disabled);
      color: var(--label-btn-text-color-disabled);
      @apply ring-inset
        ring-[length:var(--label-btn-ring-width-disabled)]
        ring-[color:var(--label-btn-ring-color-disabled)];
    }
  }
}
