@layer components {
  :root {
    --layout-flex-align-items: center;
    --layout-padding-left: 0;
    --layout-padding-right: 0;

    --layout__bg-color: var(--color-bg-base);
    --layout__bg_position: center;
    --layout__bg_repeat: no-repeat;
    --layout__bg_size: cover;
  }

  .layout--default {
    @apply flex flex-col flex-1-0-auto;
    @apply items-center justify-start;

    background-color: var(--layout__bg-color);
    background-image: var(--layout__bg-image);
    background-repeat: var(--layout__bg_repeat);
    background-position: var(--layout__bg_position);
    background-size: var(--layout__bg_size);
  }

  .layout--default .widget {
    @apply flex-1-0-auto;
  }

  .layout__header--default,
  .layout__footer--default {
    @apply min-h-0 h-0 w-full;
  }

  @media (min-width: theme("screens.tablet")) {
    .layout--default {
      align-items: var(--layout-flex-align-items);
    }

    .layout__header--default,
    .layout__footer--default {
      @apply flex-1;
      max-height: 160px;
    }
  }

  @media (min-width: theme("screens.desktop")) {
    .layout--default {
      padding-left: var(--layout-padding-left);
      padding-right: var(--layout-padding-right);
    }
  }
}
