@layer components {
  .layout--default {
    @apply flex flex-col flex-1-0-auto;
    @apply items-center justify-start;

    background-color: var(--color-bg-base);
  }

  .layout--default .widget {
    @apply flex-1-0-auto;
  }

  .layout__header--default,
  .layout__footer--default {
    @apply min-h-0 h-0 w-full;
  }

  @media (min-width: theme("screens.tablet")) {
    .layout__header--default,
    .layout__footer--default {
      @apply flex-1;
      max-height: 160px;
    }
  }
}
