@layer components {
  :root {
    --locale-input__text-color: var(--color-neutral-700);
    --locale-input__text-color--error: var(--color-neutral-200);
    --locale-input__font-size: var(--typography-body-large__font-size);
    --locale-input__line-height: var(--typography-body-large__line-height);
    --locale-input__letter-spacing: var(
      --typography-body-large__letter-spacing
    );
    --locale-input__font-weight: var(--typography-body-large__font-weight);
    --locale-input__font-family: twemoji-countries, inter;
    --locale-input__space-x: 0.5em;

    --locale-input__trigger-ring-color: var(--color-neutral-100);
    --locale-input__trigger-ring-color--focus: var(
      --color-primary-theme-primary
    );
    --locale-input__trigger-ring-color--error: var(--color-error);
    --locale-input__trigger-ring-width: var(--border-width-regular);
    --locale-input__trigger-ring-width--focus: var(
      --border-width-regular--active
    );
    --locale-input__trigger-border-radius: calc(
        var(--locale-input__font-size) * 14 / 16
      )
      /* 14 / 16 ratio to font size */;
    --locale-input__trigger-padding: 1em;
    --locale-input__trigger-height: 3.5rem;
  }

  .locale-input__trigger {
    @apply text-left;
    @apply flex items-center justify-between;

    height: var(--locale-input__trigger-height);
    padding: var(--locale-input__trigger-padding);
    border-radius: var(--locale-input__trigger-border-radius);
    @apply ring-inset
          ring-[length:var(--locale-input\_\_trigger-ring-width)]
          ring-[color:var(--locale-input\_\_trigger-ring-color)];

    &:focus {
      @apply ring-inset
          ring-[length:var(--locale-input\_\_trigger-ring-width--focus)]
          ring-[color:var(--locale-input\_\_trigger-ring-color--focus)];
    }

    &::after {
      content: "arrow_forward_ios";
      font-family: "material-icons";
      font-size: 1.125rem;
      transform: rotate(90deg);
    }
  }
}
