@layer components {
  :root {
    --modal__bg-color: var(--color-surface-primary);
  }

  .modal {
    @apply absolute inset-0;

    @apply hidden;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;

    @apply px-6;
    @apply py-8;

    background-color: var(--modal__bg-color);

    &.open {
      @apply flex;
    }
  }

  @media (min-width: theme("screens.tablet")) {
    .modal {
      @apply px-6;
      @apply py-6;
    }
  }
}
