@layer components {
  :root {
    --password-strength-meter__font-family: var(
      --typography-body-medium__font-family
    );
    --password-strength-meter__font-size: var(
      --typography-body-medium__font-size
    );
    --password-strength-meter__line-height: var(
      --typography-body-medium__line-height
    );
    --password-strength-meter__letter-spacing: var(
      --typography-body-medium__letter-spacing
    );
    --password-strength-meter__font-weight: var(
      --typography-body-medium__font-weight
    );
    --password-strength-meter__color--very-weak: var(--color-error);
    --password-strength-meter__color--weak: var(--color-error);
    --password-strength-meter__color--medium: var(--color-warning);
    --password-strength-meter__color--strong: var(--color-success);
  }

  .password-strength-meter {
    @apply flex items-center;
    font-family: var(--password-strength-meter__font-family);
    font-size: var(--password-strength-meter__font-size);
    line-height: var(--password-strength-meter__line-height);
    letter-spacing: var(--password-strength-meter__letter-spacing);
    font-weight: var(--password-strength-meter__font-weight);
    &.password-strength-meter--very-weak {
      color: var(--password-strength-meter__color--very-weak);
      & > .password-strength-meter__icon::after {
        /* FIXME(davis): Confirming with designer on the icon. As it's tabler icon in figma */
        content: "sentiment_dissatisfied";
      }
    }

    &.password-strength-meter--weak {
      color: var(--password-strength-meter__color--weak);
      & > .password-strength-meter__icon::after {
        content: "sentiment_dissatisfied";
      }
    }

    &.password-strength-meter--medium {
      color: var(--password-strength-meter__color--medium);
      & > .password-strength-meter__icon::after {
        content: "sentiment_neutral";
      }
    }

    &.password-strength-meter--strong {
      color: var(--password-strength-meter__color--strong);
      & > .password-strength-meter__icon::after {
        content: "mood";
      }
    }
  }

  .password-strength-meter__icon {
    font-size: calc(var(--password-strength-meter__font-size) * 1.42857142857)
      /* 20 / 14 = 1.42857142857 */;
  }
}
