@layer components {
  :root {
    --primary-btn-bg-color: var(--color-primary-base);
    --primary-btn-text-color: var(--color-white);
    --primary-btn-border-radius: var(--border-radius-rounded-square);
    --primary-btn-font-family: var(--typography-label-large__font-family);
    --primary-btn-font-size: var(--typography-label-large__font-size);
    --primary-btn-line-height: var(--typography-label-large__line-height);
    --primary-btn-letter-spacing: var(--typography-label-large__letter-spacing);
    --primary-btn-font-weight: var(--typography-label-large__font-weight);
    --primary-btn-ring-width: 0px;
    --primary-btn-ring-color: transparent;
    --primary-btn-py: 1em;

    --primary-btn-px: calc(
      (var(--primary-btn-py) * 2 + var(--primary-btn-line-height)) / 2
    ); /* = Height / 2 */

    --primary-btn-bg-color-hover: var(--color-primary-500);
    --primary-btn-text-color-hover: var(--primary-btn-text-color);
    --primary-btn-ring-width-hover: var(--primary-btn-ring-width);
    --primary-btn-ring-color-hover: var(--primary-btn-ring-color);

    --primary-btn-bg-color-active: var(--color-primary-500);
    --primary-btn-text-color-active: var(--primary-btn-text-color);
    --primary-btn-ring-width-active: var(--primary-btn-ring-width);
    --primary-btn-ring-color-active: var(--primary-btn-ring-color);

    --primary-btn-bg-color-disabled: var(--color-grey-200);
    /* FIXME(tung): It is grey-600 with opacity in figma, confirm with designer */
    --primary-btn-text-color-disabled: var(--color-grey-400);
    --primary-btn-ring-width-disabled: var(--primary-btn-ring-width);
    --primary-btn-ring-color-disabled: var(--primary-btn-ring-color);
  }

  :root.dark {
    /* TODO(tung): Dark mode styles */
  }

  .primary-btn {
    @apply text-center;

    background-color: var(--primary-btn-bg-color);
    color: var(--primary-btn-text-color);
    border-radius: var(--primary-btn-border-radius);
    font-family: var(--primary-btn-font-family);
    font-size: var(--primary-btn-font-size);
    line-height: var(--primary-btn-line-height);
    letter-spacing: var(--primary-btn-letter-spacing);
    font-weight: var(--primary-btn-font-weight);
    @apply ring-inset	
      ring-[length:var(--primary-btn-ring-width)]
      ring-[color:var(--primary-btn-ring-color)];
    padding: var(--primary-btn-py) var(--primary-btn-px);

    &:hover {
      background-color: var(--primary-btn-bg-color-hover);
      color: var(--primary-btn-text-color-hover);
      @apply ring-inset
        ring-[length:var(--primary-btn-ring-width-hover)]
        ring-[color:var(--primary-btn-ring-color-hover)];
    }

    &:active {
      background-color: var(--primary-btn-bg-color-active);
      color: var(--primary-btn-text-color-active);
      @apply ring-inset
        ring-[length:var(--primary-btn-ring-width-active)]
        ring-[color:var(--primary-btn-ring-color-active)];
    }

    &:disabled {
      background-color: var(--primary-btn-bg-color-disabled);
      /* FIXME(tung): It is grey-600 with opacity in figma, confirm with designer */
      color: var(--primary-btn-text-color-disabled);
      @apply ring-inset
        ring-[length:var(--primary-btn-ring-width-disabled)]
        ring-[color:var(--primary-btn-ring-color-disabled)];
    }
  }
}
