@layer components {
  :root {
    --radio__border-color: var(--color-neutral-500);
    --radio__border-color--checked: var(--color-primary-theme-primary);
    --radio__bg-color: var(--color-surface-primary);

    --radio__text-color: var(--color-neutral-700);
    --radio__font-family: var(--typography-label-large__font-family);
    --radio__font-size: var(--typography-label-large__font-size);
    --radio__line-height: var(--typography-label-large__line-height);
    --radio__letter-spacing: var(--typography-label-large__letter-spacing);
    --radio__font-weight: var(--typography-label-large__font-weight);

    --radio__label-border-color: var(--color-neutral-100);
  }
  :root.dark {
    --radio__border-color: var(--color-neutral-500);
    --radio__border-color--checked: var(--color-primary-theme-primary);
    --radio__text-color: var(--color-neutral-100);

    --radio__label-border-color: var(--color-neutral-400);
  }

  .radio {
    @apply w-5 h-5;
    @apply rounded-full;
    @apply border-2 border-solid;
    border-color: var(--radio__border-color);
  }

  .radio:checked {
    border-color: var(--radio__border-color--checked);
    background-color: var(--radio__border-color--checked);
    box-shadow: inset -0.005rem -0.005rem 0 0.15rem var(--radio__bg-color);
  }

  .radio:not(:checked):hover {
    border-color: var(--radio__border-color);
    background-color: var(--radio__border-color);
    box-shadow: inset -0.005rem -0.005rem 0 0.15rem var(--radio__bg-color);
  }

  .radio-label {
    @apply grid grid-cols-[auto,1.25rem] gap-y-4;
    @apply px-2 py-4;
    @apply w-86;

    color: var(--settings-item__text-color);
    background-color: var(--radio__bg-color);

    border-color: var(--radio__label-border-color);
    border-bottom-width: 1px;
    border-style: solid;

    font-family: var(--radio__font-family);
    font-size: var(--radio__font-size);
    line-height: var(--radio__line-height);
    letter-spacing: var(--radio__letter-spacing);
    font-weight: var(--radio__font-weight);
  }

  .radio-input {
    @apply hidden;
  }

  .radio:checked ~ .radio-input {
    @apply block;
  }
}
