@layer components {
  :root {
    --screen-icon__font-size: 4rem;
    --screen-icon__color: var(--icon-color);
  }

  .screen-icon {
    font-size: var(--screen-icon__font-size);
    color: var(--screen-icon__color);

    :root[alignment-content="start"] & {
      @apply text-start;
    }

    :root[alignment-content="center"] & {
      @apply text-center;
    }

    :root[alignment-content="end"] & {
      @apply text-end;
    }
  }
}
