@layer components {
  :root {
    --screen-title-font-family: var(--typography-headline-medium__font-family);
    --screen-title-font-size: var(--typography-headline-medium__font-size);
    --screen-title-line-height: var(--typography-headline-medium__line-height);
    --screen-title-letter-spacing: var(
      --typography-headline-medium__letter-spacing
    );
    --screen-title-font-weight: var(--typography-headline-medium__font-weight);
  }
  :root.dark {
    /* TODO(tung): Dark mode styles */
  }

  .screen-title {
    font-family: var(--screen-title-font-family);
    font-size: var(--screen-title-font-size);
    line-height: var(--screen-title-line-height);
    letter-spacing: var(--screen-title-letter-spacing);
    font-weight: var(--screen-title-font-weight);

    :root[alignment-content="start"] & {
      @apply text-start;
    }

    :root[alignment-content="center"] & {
      @apply text-center;
    }

    :root[alignment-content="end"] & {
      @apply text-end;
    }
  }
}
