@layer components {
  :root {
    --settings-title__font-family: var(
      --typography-headline-small__font-family
    );
    --settings-title__font-size: var(--typography-headline-small__font-size);
    --screen-title__line-height: var(--typography-headline-small__line-height);
    --screen-title__letter-spacing: var(
      --typography-headline-small__letter-spacing
    );
    --screen-title__font-weight: var(--typography-headline-small__font-weight);
    --screen-title__text-color: var(--color-neutral-700);
  }
  :root.dark {
    --screen-title__text-color: var(--color-neutral-100);
  }

  .settings-title {
    font-family: var(--settings-title__font-family);
    font-size: var(--settings-title__font-size);
    line-height: var(--screen-title__line-height);
    letter-spacing: var(--screen-title__letter-spacing);
    font-weight: var(--screen-title__font-weight);
    color: var(--screen-title__text-color);
  }
}
