@layer components {
  :root {
    --settings-content__width: 21.5625rem;
  }

  .settings-content {
    padding-left: var(--widget-content__px);
    padding-right: var(--widget-content__px);

    @media (min-width: theme("screens.tablet")) {
      margin: 0 auto;
      width: calc(
        var(--settings-content__width) + var(--widget-content__px, 0px)
      );
    }
  }

  .settings-content-form {
    @apply flex flex-col gap-y-8;
  }

  .settings-content-form-fields {
    @apply flex flex-col gap-y-4;
  }
}
