@layer components {
  :root {
    --settings-header__bg-color: var(--color-surface-primary);
  }

  :root.dark {
    --settings-header__bg-color: var(--color-surface-primary);
  }

  .settings-header {
    @apply hidden;
    @apply items-center;
    @apply w-full;
    @apply h-25;
    @apply py-5;
    background-color: var(--settings-header__bg-color);
  }

  /* The light logo is visible only in light mode and src is non-empty. */
  :root:not(.dark) .shadow-logo.light:not([data-src=""]) .settings-header {
    @apply tablet:flex tablet:flex-col;
  }
  /* The dark logo is visible only in dark mode and src is non-empty. */
  :root.dark .shadow-logo.dark:not([data-src=""]) .settings-header {
    @apply tablet:flex tablet:flex-col;
  }
}
