@layer components {
  :root {
    --settings-action-item__description-color: var(--body-text__text-color);
    --settings-action-item__description-font-family: var(
      --body-text__font-family--md
    );
    --settings-action-item__description-font-size: var(
      --body-text__font-size--md
    );
    --settings-action-item__description-line-height: var(
      --body-text__line-height--md
    );
    --settings-action-item__description-letter-spacing: var(
      --body-text__letter-spacing--md
    );
    --settings-action-item__description-font-weight: var(
      --body-text__font-weight--md
    );

    --settings-action-item__icon-color--pale: var(--color-neutral-200);
  }

  .settings-action-item__container {
    @apply flex;
    --settings-action-item-padding-x: 0.5rem;
    --settings-action-item-padding-y: 1rem;
    color: var(--settings-item__text-color);
    border-color: var(--settings-item__border-color);
    border-bottom-width: 1px;
    border-style: solid;

    --icon-placeholder-display: none;
    --icon-size: 1.5rem;
    &.settings-action-item__container-with-icon {
      --icon-placeholder-display: block;
    }
  }

  .settings-action-item__container {
    &.settings-action-item__container-with-extra-content {
      .settings-action-item__content-container {
        @apply pb-2;
      }
    }
  }

  .settings-action-item__content-container {
    @apply block;
    @apply px-[var(--settings-action-item-padding-x)];
    @apply py-[var(--settings-action-item-padding-y)];
  }

  .settings-action-item__label-container {
    @apply flex gap-x-2;
  }

  .settings-action-item__description-container {
    @apply text-start;
    @apply flex gap-x-2 items-center justify-start;
    @apply mt-1;
    &::before {
      content: "";
      width: var(--icon-size);
      display: var(--icon-placeholder-display);
    }

    color: var(--settings-action-item__description-color);
    font-family: var(--settings-action-item__description-font-family);
    font-size: var(--settings-action-item__description-font-size);
    line-height: var(--settings-action-item__description-line-height);
    letter-spacing: var(--settings-action-item__description-letter-spacing);
    font-weight: var(--settings-action-item__description-font-weight);
  }

  .settings-action-item__extra-content-container {
    @apply flex gap-x-2 items-center;
    @apply px-[var(--settings-action-item-padding-x)];
    @apply pb-[var(--settings-action-item-padding-y)];
    &::before {
      content: "";
      width: var(--icon-size);
      display: var(--icon-placeholder-display);
    }
  }

  .settings-action-item__icon {
    @apply settings-item-icon;
  }

  .settings-action-item__action-button-container {
    @apply py-[var(--settings-action-item-padding-y)];
  }

  .settings-action-item__arrow-container {
    @apply flex flex-none items-center;
    @apply py-[var(--settings-action-item-padding-y)];
  }

  .settings-action-item__label {
    @apply settings-item__label;
    @apply break-all;
  }

  .settings-action-item__icon--pale {
    @apply settings-item-icon;
    line-height: normal;
    color: var(--settings-action-item__icon-color--pale);
  }
}
