@layer components {
  :root {
    --settings-item__bg-color: var(--color-surface-primary);
    --settings-item__text-color: var(--color-neutral-700);
    --settings-item__border-radius: var(--border-radius-rounded-square);
    --settings-item__font-family: var(--typography-label-large__font-family);
    --settings-item__font-size: var(--typography-label-large__font-size);
    --settings-item__line-height: var(--typography-label-large__line-height);
    --settings-item__letter-spacing: var(
      --typography-label-large__letter-spacing
    );
    --settings-item__font-weight: var(--typography-label-large__font-weight);
    --settings-item__ring-width: 1.5px;
    --settings-item__ring-color: var(--color-neutral-100);
    --settings-item__py: var(--settings-item__font-size);

    --settings-item__bg-color--hover: var(--color-neutral-100);
    --settings-item__text-color--hover: var(--settings-item__text-color);
    --settings-item__ring-width--hover: var(--settings-item__ring-width);
    --settings-item__ring-color--hover: var(--settings-item__ring-color);

    --settings-item__bg-color--active: var(--color-neutral-100);
    --settings-item__text-color--active: var(--settings-item__text-color);
    --settings-item__ring-width--active: var(--settings-item__ring-width);
    --settings-item__ring-color--active: var(--settings-item__ring-color);

    --settings-icon__font-size: 1.125rem; /* 18 / 16 = 1.125 */

    --settings-item__bg-color-alternative: var(--color-neutral-200);
  }

  :root.dark {
    --settings-item__text-color: var(--color-neutral-100);
    --settings-item__ring-color: var(--color-neutral-500);
    --settings-item__bg-color--hover: var(--color-neutral-500);
    --settings-item__bg-color--active: var(--color-neutral-500);

    --settings-item__bg-color-alternative: var(--color-neutral-200);
  }

  .settings-item {
    @apply text-center;
    @apply flex justify-center items-center;

    background-color: var(--settings-item__bg-color);
    font-family: var(--settings-item__font-family);
    font-size: var(--settings-item__font-size);
    line-height: var(--settings-item__line-height);
    letter-spacing: var(--settings-item__letter-spacing);
    font-weight: var(--settings-item__font-weight);
    padding: var(--settings-item__py) 0;
    color: var(--settings-item__text-color);

    &:hover {
      background-color: var(--settings-item__bg-color--hover);
      color: var(--settings-item__text-color--hover);
      @apply ring-inset
        ring-[length:var(--settings-item\_\_ring-width--hover)]
        ring-[color:var(--settings-item\_\_ring-color--hover)];
    }

    &:active {
      background-color: var(--secondary-item__bg-color--active);
      color: var(--secondary-item__text-color--active);
      @apply ring-inset
        ring-[length:var(--secondary-item\_\_ring-width--active)]
        ring-[color:var(--secondary-item\_\_ring-color--active)];
    }
  }
}
.settings-item__alternative_icon {
  font-size: var(--settings-icon__font-size);
  color: var(--settings-item__bg-color-alternative);
}
