@layer components {
  :root {
    --tertiary-btn__bg-color: var(--color-neutral-700);
    --tertiary-btn__text-color: var(--color-white);
    --tertiary-btn__border-radius: var(--border-radius-full);
    --tertiary-btn__font-family: var(--typography-label-medium__font-family);
    --tertiary-btn__font-size: var(--typography-label-medium__font-size);
    --tertiary-btn__line-height: var(--typography-label-medium__line-height);
    --tertiary-btn__letter-spacing: var(
      --typography-label-medium__letter-spacing
    );
    --tertiary-btn__font-weight: var(--typography-label-medium__font-weight);
    --tertiary-btn__ring-width: 0;
    --tertiary-btn__ring-color: transparent;
    --tertiary-btn__py: calc(
      var(--tertiary-btn__font-size) * 10 / 14
    ); /* y padding / font size ration = 10 / 14 */

    --tertiary-btn__px: calc(
      (var(--tertiary-btn__py) * 2 + var(--tertiary-btn__line-height)) / 2
    ); /* = Height / 2 */

    --tertiary-btn__bg-color--hover: var(--color-neutral-600);
    --tertiary-btn__text-color--hover: var(--tertiary-btn__text-color);
    --tertiary-btn__ring-width--hover: var(--tertiary-btn__ring-width);
    --tertiary-btn__ring-color--hover: var(--tertiary-btn__ring-color);

    --tertiary-btn__bg-color--active: var(--color-neutral-600);
    --tertiary-btn__text-color--active: var(--tertiary-btn__text-color);
    --tertiary-btn__ring-width--active: var(--tertiary-btn__ring-width);
    --tertiary-btn__ring-color--active: var(--tertiary-btn__ring-color);

    --tertiary-btn__bg-color--disabled: var(--color-neutral-200);
    --tertiary-btn__text-color--disabled: var(--color-neutral-600);
    --tertiary-btn__ring-width--disabled: var(--tertiary-btn__ring-width);
    --tertiary-btn__ring-color--disabled: var(--tertiary-btn__ring-color);
  }

  :root.dark {
    --tertiary-btn__bg-color: var(--color-neutral-100);
    --tertiary-btn__text-color: var(--color-neutral-700);
    --tertiary-btn__bg-color--hover: var(--color-neutral-200);
    --tertiary-btn__bg-color--active: var(--color-neutral-200);
    --tertiary-btn__bg-color--disabled: var(--color-neutral-400);
    --tertiary-btn__text-color--disabled: var(--color-neutral-100);
  }

  .tertiary-btn {
    @apply text-center;

    background-color: var(--tertiary-btn__bg-color);
    color: var(--tertiary-btn__text-color);
    border-radius: var(--tertiary-btn__border-radius);
    font-family: var(--tertiary-btn__font-family);
    font-size: var(--tertiary-btn__font-size);
    line-height: var(--tertiary-btn__line-height);
    letter-spacing: var(--tertiary-btn__letter-spacing);
    font-weight: var(--tertiary-btn__font-weight);
    @apply ring-inset
      ring-[length:var(--tertiary-btn\_\_ring-width)]
      ring-[color:var(--tertiary-btn\_\_ring-color)];
    padding: var(--tertiary-btn__py) var(--tertiary-btn__px);

    &:hover {
      background-color: var(--tertiary-btn__bg-color--hover);
      color: var(--tertiary-btn__text-color--hover);
      @apply ring-inset
        ring-[length:var(--tertiary-btn\_\_ring-width--hover)]
        ring-[color:var(--tertiary-btn\_\_ring-color--hover)];
    }

    &:active {
      background-color: var(--tertiary-btn__bg-color--active);
      color: var(--tertiary-btn__text-color--active);
      @apply ring-inset
        ring-[length:var(--tertiary-btn\_\_ring-width--active)]
        ring-[color:var(--tertiary-btn\_\_ring-color--active)];
    }

    &:disabled {
      background-color: var(--tertiary-btn__bg-color--disabled);
      color: var(--tertiary-btn__text-color--disabled);
      @apply ring-inset
        ring-[length:var(--tertiary-btn\_\_ring-width--disabled)]
        ring-[color:var(--tertiary-btn\_\_ring-color--disabled)];
    }
  }
}
