@layer components {
  :root {
    --watermark-display: inline-block;
  }

  html[data-watermark-enabled="false"] {
    --watermark-display: hidden;
  }

  .watermark {
    @apply h-[22px] w-[120px] bg-no-repeat bg-center;
    display: var(--watermark-display);
    background-size: auto 22px;
    background-image: url("./icons/raw/watermark.svg");
  }

  .watermark__container {
    @apply mt-8 flex justify-center;
  }

  @media (min-width: theme("screens.tablet")) {
    .watermark__container {
      @apply mt-16;
    }
  }
}
