@layer components {
  :root {
    --widget__bg-color: var(--color-white);
    --widget__width: 100%;
    --widget__max-width: 400px;
    --widget__border-radius: 0px;
    --widget__box-shadow: none;
    --widget__border: none;

    @media (min-width: theme("screens.tablet")) {
      --widget__border-radius: var(--border-radius-large);
      --widget__box-shadow: none;
      --widget__border: none;
    }
  }

  .widget {
    width: var(--widget__width);
    max-width: var(--widget__max-width);
    border-radius: var(--widget__border-radius);
    border: var(--widget__border);
    box-shadow: var(--widget__box-shadow);
    background-color: var(--widget__bg-color);

    @apply block;
    @apply relative;
    @apply px-6 py-8;
  }

  :root:not([alignment-content]) .widget {
    /* This rule is to prevent ui shifting before the attribute added */
    @apply invisible;
  }
}
