{{ define "__html_head.html" }}
<head>
<meta charset="UTF-8">
<title>{{ .AppName }}</title>
<meta name="x-authgear-request-url" content="{{ .RequestURL }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- This fontawesome kit is created by Louis Chan -->
<!-- It is a Free version so only Solid and Brands are available -->
<!-- It is the web font version -->
<script src="https://kit.fontawesome.com/534d9bbb85.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ .StaticAssetURLPrefix }}/authui/css/main.css">
<script src="{{ .StaticAssetURLPrefix }}/authui/js/main.js"></script>
<script src="{{ .StaticAssetURLPrefix }}/authui/js/zxcvbn.67c4ece9efc40c9d0a1d7d995b2b22a91be500c2.js" async></script>
{{ if .CSS }}
<style>
{{ .CSS }}
</style>
{{ end }}
</head>
{{ end }}
