<!DOCTYPE html>
<html>
{{ template "__html_head.html" . }}
<body class="page">
<div class="content">

{{ template "__header.html" . }}

{{ template "__nav_bar.html" }}

<form class="simple-form vertical-form form-fields-container pane" method="post" novalidate>
{{ $.CSRFField }}

<h1 class="title primary-txt">{{ template "create-password-page-title" }}</h1>

{{ template "__error.html" . }}

{{ if $.IdentityDisplayID }}
<!-- This field is for Chrome and Safari to correctly associate the username with the password -->
<input style="display: none" aria-hidden="true" type="text" autocomplete="username" name="" value="{{ $.IdentityDisplayID }}">
{{ end }}

<div class="password-input-wrapper">
	<input
		id="password"
		data-password-policy-password=""
		class="input text-input primary-txt"
		type="password"
		autocomplete="new-password"
		autocapitalize="none"
		name="x_password"
		placeholder="{{ template "new-password-placeholder" }}"
	>
	<button class="show-password-button" type="button">
		<i class="fas fa-eye" aria-hidden="true"></i>
	</button>
	<button class="hide-password-button" type="button">
		<i class="fas fa-eye-slash" aria-hidden="true"></i>
	</button>
</div>

<div class="password-input-wrapper">
	<!-- https://www.chromium.org/developers/design-documents/form-styles-that-chromium-understands -->
	<input
		class="input text-input primary-txt"
		type="password"
		autocomplete="new-password"
		autocapitalize="none"
		name="x_confirm_password"
		placeholder="{{ template "confirm-password-placeholder" }}"
	>
	<button class="show-password-button" type="button">
		<i class="fas fa-eye" aria-hidden="true"></i>
	</button>
	<button class="hide-password-button" type="button">
		<i class="fas fa-eye-slash" aria-hidden="true"></i>
	</button>
</div>

<meter id="password-strength-meter" class="password-strength-meter" min="1" max="5" value="0"></meter>
<label class="primary-txt" for="password-strength-meter">
	{{ template "password-policy-password-strength-label" }}
	<span id="password-strength-meter-description" class="password-strength-meter-description"
	      data-desc-1="{{ template "password-policy-password-strength-meter-1" }}"
	      data-desc-2="{{ template "password-policy-password-strength-meter-2" }}"
	      data-desc-3="{{ template "password-policy-password-strength-meter-3" }}"
	      data-desc-4="{{ template "password-policy-password-strength-meter-4" }}"
	      data-desc-5="{{ template "password-policy-password-strength-meter-5" }}"
	      ></span>
</label>

{{ template "__password_policy.html" . }}

{{ range $.Alternatives }}
{{ if eq .Type "totp" }}
<a class="link align-self-flex-start" href="{{ .URL }}">{{ template "setup-totp-instead" }}</a>
{{ end }}
{{ if eq .Type "oob_otp" }}
<a class="link align-self-flex-start" href="{{ .URL }}">{{ template "setup-oob-otp-instead" }}</a>
{{ end }}
{{ if eq .Type "password" }}
<a class="link align-self-flex-start" href="{{ .URL }}">{{ template "setup-password-instead" }}</a>
{{ end }}
{{ end }}

<button class="btn primary-btn align-self-flex-end" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>

</form>

</div>
</body>
</html>
