<!DOCTYPE html>
<html>
{{ template "__html_head.html" . }}
<body class="page">
	<div class="content">
		{{ template "__header.html" . }}

		{{ template "__nav_bar.html" true }}

		<div class="authorize-form pane">
			<div class="authorize-idp-section">
				{{ range $.IdentityCandidates }}
				{{ if eq .type "oauth" }}
				<form class="authorize-idp-form" method="post" novalidate>
				{{ $.CSRFField }}
				<button class="btn sso-btn {{ .provider_type }}" type="submit" name="x_provider_alias" value="{{ .provider_alias }}" data-form-xhr="false">
					<span class="sso-btn-content">
					{{- if eq .provider_type "apple" -}}
					<i class="fab fa-apple" aria-hidden="true"></i>
					<span class="title">{{ template "oauth-branding-apple" }}</span>
					{{- end -}}
					{{- if eq .provider_type "google" -}}
					<i class="fab fa-google" aria-hidden="true"></i>
					<span class="title">{{ template "oauth-branding-google" }}</span>
					{{- end -}}
					{{- if eq .provider_type "facebook" -}}
					<i class="fab fa-facebook-f" aria-hidden="true"></i>
					<span class="title">{{ template "oauth-branding-facebook" }}</span>
					{{- end -}}
					{{- if eq .provider_type "linkedin" -}}
					<i class="fab fa-linkedin-in" aria-hidden="true"></i>
					<span class="title">{{ template "oauth-branding-linkedin" }}</span>
					{{- end -}}
					{{- if eq .provider_type "azureadv2" -}}
					<i class="fab fa-microsoft" aria-hidden="true"></i>
					<span class="title">{{ template "oauth-branding-azureadv2" }}</span>
					{{- end -}}
					</span>
				</button>
				</form>
				{{ end }}
				{{ end }}
			</div>

			{{ $has_oauth := false }}
			{{ $has_login_id := false }}
			{{ range $.IdentityCandidates }}
				{{ if eq .type "oauth" }}
				{{ $has_oauth = true }}
				{{ end }}
				{{ if eq .type "login_id" }}
				{{ $has_login_id = true }}
				{{ end }}
			{{ end }}
			{{ if $has_oauth }}{{ if $has_login_id }}
			<div class="primary-txt sso-loginid-separator">{{ template "sso-login-id-separator" }}</div>
			{{ end }}{{ end }}

			{{ template "__error.html" . }}

			<form class="authorize-loginid-form" method="post" novalidate>
				{{ $.CSRFField }}

				{{ if $.x_login_id_input_type }}{{ if eq $.x_login_id_input_type "phone" }}{{ if $.LoginPageLoginIDHasPhone }}
				<div class="phone-input">
					<select class="input select primary-txt" name="x_calling_code">
						{{ range $.CountryCallingCodes }}
						<option
							value="{{ . }}"
							{{ if $.x_calling_code }}{{ if eq $.x_calling_code . }}
							selected
							{{ end }}{{ end }}
							>
							+{{ . }}
						</option>
						{{ end }}
					</select>
					<input
						class="input text-input primary-txt"
						type="text"
						inputmode="numeric"
						pattern="[0-9]*"
						autocomplete="tel-national"
						autocapitalize="none"
						name="x_national_number"
						placeholder="{{ template "phone-number-placeholder" }}"
					>
				</div>
				{{ end }}{{ end }}{{ end }}

				{{ if $.x_login_id_input_type }}{{ if not (eq $.x_login_id_input_type "phone") }}{{ if (not (eq $.LoginPageTextLoginIDVariant "none")) }}
				<input
					class="input text-input primary-txt"
					type="{{ $.LoginPageTextLoginIDInputType }}"
					autocomplete="username"
					autocapitalize="none"
					name="x_login_id"
					placeholder="{{ template "login-id-placeholder" (makemap "variant" $.LoginPageTextLoginIDVariant) }}"
				>
				<!-- This field is for Chrome and Safari to consider the above field as username for autocomplete -->
				<input style="display: none" aria-hidden="true" type="password" autocomplete="current-password" name="">
				{{ end }}{{ end }}{{ end }}

				{{ if $.x_login_id_input_type }}{{ if eq $.x_login_id_input_type "phone" }}{{ if (not (eq $.LoginPageTextLoginIDVariant "none")) }}
				<a class="link align-self-flex-start" href="{{ call $.MakeURL "" "x_login_id_input_type" $.LoginPageTextLoginIDInputType }}">{{ template "use-text-login-id-description" (makemap "variant" $.LoginPageTextLoginIDVariant) }}</a>
				{{ end }}{{ end }}{{ end }}

				{{ if $.x_login_id_input_type }}{{ if not (eq $.x_login_id_input_type "phone") }}{{ if $.LoginPageLoginIDHasPhone }}
				<a class="link align-self-flex-start" href="{{ call $.MakeURLState "" "x_login_id_input_type" "phone" }}">{{ template "use-phone-login-id-description" }}</a>
				{{ end }}{{ end }}{{ end }}

				{{ if not $.PublicSignupDisabled }}
				<div class="link">
					<span class="primary-text">{{ template "signup-button-hint" }}</span>
					<a href="{{ call $.MakeURLState "/signup" }}">{{ template "signup-button-label" }}</a>
				</div>
				{{ end }}

				{{ if $.ForgotPasswordEnabled }}
				<a class="link align-self-flex-start" href="{{ call $.MakeURL "/forgot_password" }}">{{ template "forgot-password-button-label" }}</a>
				{{ end }}

				{{ if or $.LoginPageLoginIDHasPhone (not (eq $.LoginPageTextLoginIDVariant "none")) }}
				<button class="btn primary-btn align-self-flex-end" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>
				{{ end }}
			</form>
		</div>
	</div>
</body>
</html>
