$box-shadow-color: rgba(0, 0, 0, 0.1);
$widget-box-shadow: 0 0.5px 1px $box-shadow-color,
  0 1.5px 3.5px $box-shadow-color;

$theme-primary-color: #176df3;
$neutral-secondary-color: #605e5c;
$neutral-lighter-color: #f3f2f1;
$error-color: #e23d3d;
$white: #ffffff;
$black: #000000;
