.toggleGroup {
  @apply flex flex-col overflow-y-auto;
  border: 1px solid var(--gray-a4);
  border-radius: var(--radius-4);
}

.toggleGroup > * {
  @apply flex-none;
}

.toggleGroup__itemSeparator {
  @apply block;
  border: 0;
  background-color: var(--gray-a4);
  height: 1px;
}

.toggleGroupItem {
  @apply flex items-center gap-6 p-4 cursor-pointer;
}

.toggleGroupItem__leftColumn {
  @apply flex items-center gap-3;
  @apply flex-1 overflow-hidden text-ellipsis;
}

.toggleGroupItem__textContainer {
  @apply flex flex-col gap-[0.125rem];
  @apply flex-1 overflow-hidden text-ellipsis;
}

.toggleGroupItem__text {
  color: var(--gray-12);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-3);
  letter-spacing: var(--letter-spacing-3);
}

.toggleGroupItem__supportingText {
  color: var(--gray-a11);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-2);
}
