.root {
  min-height: 100%;
}

.content {
  margin: 20px;
}

.form {
  margin: 0 20px;
}

.phoneNumberFields {
  display: grid;
  grid-template:
    "label    label"
    "code     phone"
    / 120px 200px;
}

.phoneNumberLabel {
  grid-area: label;
}

.countryCode {
  grid-area: code;
}

.phone {
  grid-area: phone;
  margin-left: 10px;
}

.verified {
  margin: 25px 0;
}
