.widget {
  grid-column: 1 / span 6;
}

.phoneNumberFields {
  display: grid;
  gap: 10px;
  grid-template:
    "label    label"
    "code     phone"
    / 120px 1fr;
}

.phoneNumberLabel {
  grid-area: label;
}

.countryCode {
  grid-area: code;
}

.phone {
  grid-area: phone;
}
