.root {
  min-height: 100%;
}

.breadcrumb {
  margin: 15px 25px 0;
}

.content {
  margin: 0 35px 30px;
}

.usernameField {
  width: 320px;
  margin-bottom: 25px;
}

.passwordField {
  width: 320px;
}

.password {
  margin-bottom: 25px;
}
