.verticalForm {
  grid-column: 1 / span 8;
  @apply w-full max-w-[360px];
  @apply grid gap-8;
  grid-template-columns: 100%;
  grid-auto-rows: min-content;

  @apply mobile:max-w-none;
}

.identityOptionLabel {
  padding: 0 0 10px;
}

.widget {
  grid-column: 1 / span 8;
  @apply tablet:col-span-full;
}

.checkbox {
  @apply mt-3;
}

.choiceGroupOptionContent {
  padding-left: 26px;
  @apply pt-1 pb-4;
  @apply flex flex-col gap-1;
}

.accountValidPeriodSection {
  @apply flex flex-col gap-2 py-2;
}

.accountValidPeriodForm {
  @apply mt-4;
  @apply max-w-120;
}
