.root {
  display: flex;
  min-height: 100%;
}

.wrapper {
  padding: 10px 20px 40px;
}

.content {
  margin: 0 20px;
}

.usernameField {
  width: 320px;
  margin-bottom: 25px;
}

.passwordField {
  width: 320px;
}

.password {
  margin-bottom: 25px;
}
