.root {
  display: flex;
  min-height: 100%;
}

.wrapper {
  padding: 10px 20px;
}

.content {
  margin: 0 20px 50px;
}

.identityOption {
  padding: 2px 0 0 30px;
}

.identityOptionLabel {
  padding: 0 0 10px;
}

.textField {
  width: 320px;
  margin-bottom: 15px;
}

.userInfo {
  margin-bottom: 15px;
  width: 350px;
}

.addUserButton {
  margin-top: 20px;
}
