.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.header {
  padding: 24px;
}

.pageTitle {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: var(--gray-12);
}

.pivot {
  margin-top: 20px;
}

.pivot :global(.rt-TabsList) {
  box-shadow: none;
  border-bottom: 1px solid var(--gray-a6);
}

.listContainer {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.commandBarContainerContent {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 0;
}

.list {
  flex: 1 1 0px;
}

.messageBar {
  margin-top: 10px;
}

.hidden {
  width: 0;
  height: 0;
  visibility: hidden;
}
