.root {
  margin: 0 32px;
}

.content {
  max-width: 885px;
}

.logSummary {
  padding: 16px;
  margin-bottom: 20px;
}

.summaryText {
  margin: 6px;
}

.codeBlock {
  height: 260px;
  overflow-y: auto;
}
