.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 0;
}

.widget {
  grid-column: 1 / span 12;
  @apply mobile:col-span-full;
}

.messageBar {
  margin-top: 10px;
}

.hidden {
  width: 0;
  height: 0;
  visibility: hidden;
}
