.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.header {
  padding: 24px;
}

.pivot {
  margin-top: 20px;
}

.listContainer {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.commandBarContainerContent {
  display: flex;
  flex-direction: column;
  padding: 24px;
  padding-right: 0;
  padding-top: 16px;
}

.list {
  flex: 1 1 0px;
}

.messageBar {
  margin-top: 10px;
}

.hidden {
  width: 0;
  height: 0;
  visibility: hidden;
}
