.widget {
  grid-column: 1 / span 8;
  @apply tablet:col-span-full;
}

.form {
  @apply grid gap-12;
  grid-template-columns: 100%;
  grid-auto-rows: min-content;

  @apply mobile:max-w-none;
}

.checkbox {
  @apply mt-3;
}
