.primaryIdentities {
  display: grid;
  margin-bottom: 20px;
  grid-gap: 16px;
  grid-template:
    "email       phone"
    "username    ."
    / auto auto;
}

.primaryEmail {
  grid-area: email;
}

.primaryPhone {
  grid-area: phone;
}

.primaryUsername {
  grid-area: username;
}
