.root {
  min-height: 100%;
}

.content {
  margin: 20px 20px 50px;
}

.form {
  margin: 0 20px;
}

.passwordField {
  width: 320px;
}

.newPasswordField {
  margin-bottom: 25px;
}

.confirmPasswordField {
  margin-bottom: 20px;
}
