.root {
  min-height: 100%;
}

.content {
  padding: 10px 20px;
  margin-bottom: 40px;
}

.form {
  margin: 0 20px;
}

.passwordField {
  width: 320px;
}

.newPasswordField {
  margin-bottom: 25px;
}

.confirmPasswordField {
  margin-bottom: 20px;
}
