.content {
  flex: 1 1 0;
  overflow: hidden;
}

.widget {
  grid-column: 1 / span 12;
  @apply tablet:col-span-full;
  min-height: 0;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.emptyStateContainer {
  /* Spacing top = 48px */
  /* Gap from layout = 20px */
  /* Remaining space = 48 - 20 = 28px = 7unit */
  @apply mt-7;
}

.emptyStateIcon {
  @apply h-16 w-16;
}

.emptyStateTitle {
  @apply mt-6;
  font-size: 1.25rem;
  font-weight: 600;
}

.emptyStateSubtitle {
  @apply mt-4;
  font-size: 1rem;
  font-weight: 400;
  max-width: 480px;
  text-align: center;
}

.emptyStateButton {
  @apply mt-8;
}

.searchBox {
  align-self: center;
  width: 300px;

  @apply mt-12 mobile:w-auto;
}

.message {
  @apply mt-5 h-min;
}
