.content {
  @apply mt-11;
}

.widget {
  grid-column: 1 / span 12;
  @apply tablet:col-span-full;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.emptyStateContainer {
  @apply mt-7 py-6;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.emptyStateIcon {
  @apply h-16 w-16;
}

.emptyStateTitle {
  @apply mt-6;
  font-size: 1.25rem;
  font-weight: 600;
}

.emptyStateSubtitle {
  @apply mt-4;
  font-size: 1rem;
  font-weight: 400;
  max-width: 480px;
  text-align: center;
}

.emptyStateButton {
  @apply mt-8;
}

.searchBox {
  align-self: center;
  width: 300px;

  @apply mobile:w-auto;
}

.message {
  @apply mt-5;
}
