.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pagination {
  align-self: flex-end;
  margin: 12px 16px;
}

.actionButton {
  padding: 0;
  font-size: 12px;
  display: contents;
  color: #605e5c;
}
