.root {
  width: 600px;
  font-size: 13px;
  font-weight: 300;
  display: grid;
  row-gap: 4px;
  column-gap: 26px;
  grid-template:
    "pic     accountID"
    "pic             ." 10px
    "pic     createdAt"
    "pic   lastLoginAt"
    / min-content auto;
}

.profilePic {
  grid-area: pic;
  place-self: center;
}

.accountID {
  grid-area: accountID;
}

.createdAt {
  grid-area: createdAt;
}

.lastLoginAt {
  grid-area: lastLoginAt;
}
