@import "../../styles/variable.scss";

.root {
  width: 600px;
  font-size: 13px;
  font-weight: 300;
  display: grid;
  row-gap: 4px;
  column-gap: 26px;
  grid-template:
    "pic     accountID"
    "pic     formattedName"
    "pic             ." 4px
    "pic     createdAt"
    "pic   lastLoginAt"
    / min-content auto;
  margin-bottom: 20px;
}

.profilePic {
  grid-area: pic;
  place-self: center;
}

.accountID {
  grid-area: accountID;
  color: $black;
}

.formattedName {
  grid-area: formattedName;
  color: $black;
}

.createdAt {
  grid-area: createdAt;
}

.lastLoginAt {
  grid-area: lastLoginAt;
}
