.root {
  max-width: 600px;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 20px;
  display: grid;
  row-gap: 4px;
  column-gap: 26px;
  grid-template-columns: min-content auto;
  grid-template-rows: auto;
}

.cameraLink {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.cameraLink:hover {
  opacity: initial;
}

.cameraIcon {
  color: white;
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.profilePic {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  place-self: center;
  position: relative;
}

.lines {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: auto;
  row-gap: 4px;
  column-gap: 26px;
}

.explorerURL {
  color: inherit;
}

.formattedName {
  color: #000000;
}

.anonymousUserLabel {
  font-style: italic;
}

.anonymizedUserLabel {
  font-style: italic;
}

.inlineGridItem {
  display: inline-block;
  align-self: start;
  justify-self: start;
}
