.root {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.authenticatorContainer {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.header {
  display: block;
  font-weight: 600;
}

.authenticatorKindHeader {
  margin-top: 16px;
}

.authenticatorTypeSection + .authenticatorTypeSection {
  margin-top: 12px;
}

.authenticatorTypeSection--password {
  margin-top: 12px;
}

.authenticatorTypeHeader {
  margin-bottom: 12px;
}

.cell {
  padding-left: 1px;
  display: grid;
  grid-gap: 3px 0;
}

.cell--not-first {
  @apply mt-2;
}

.cellLabel {
  font-size: 13px;
}

.cellDesc {
  font-size: 13px;
  color: #888888;
}

.button {
  place-self: center;
  font-weight: 600;
  border: 1px solid #d8d8d8;
  margin-left: 12px;
}

.passwordCell {
  grid-template:
    "plabel    preset    premove"
    "pdesc     preset    premove"
    "pchange   preset    premove"
    "pexpired  preset    premove"
    / auto min-content min-content;
  grid-gap: 10px 0;
}

.passwordCellLabel {
  grid-area: plabel;
  font-weight: 600;
}

.passwordCellDesc {
  grid-area: pdesc;
}

.passwordCellChangeOnLogin {
  grid-area: pchange;
}

.passwordCellExpired {
  grid-area: pexpired;

  @apply text-neutral-dark;
  @apply text-xs;
}

.passwordCellExpiredPrefix {
  @apply text-neutral-dark;
  @apply text-xs;
  @apply font-semibold;
}

.changePasswordButton {
  grid-area: preset;
  white-space: nowrap;
}

.removePasswordButton {
  grid-area: premove;
}

.oobOtpCell {
  grid-template:
    "oicon    olabel    oremove"
    "empty    odesc     oremove"
    / min-content auto min-content;
  column-gap: 8px;
}

.oobOtpCellIcon {
  grid-area: oicon;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oobOtpCellLabel {
  grid-area: olabel;
  font-weight: 600;
}

.oobOtpCellAddedOn {
  grid-area: odesc;
}

.oobOtpRemoveButton {
  grid-area: oremove;
}

.totpCell {
  grid-template:
    "tlabel    tremove"
    "tdesc     tremove"
    / auto min-content;
}

.totpCellLabel {
  grid-area: tlabel;
  font-weight: 600;
}

.totpCellDesc {
  grid-area: tdesc;
}

.totpRemoveButton {
  grid-area: tremove;
}

.passkeyCell {
  grid-template:
    "icon label remove"
    "empty desc remove"
    / min-content auto min-content;
  column-gap: 8px;
}

.passkeyCellIcon {
  grid-area: icon;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passkeyCellLabel {
  grid-area: label;
  font-weight: 600;
}

.passkeyCellDesc {
  grid-area: desc;
}

.passkeyCellRemoveButton {
  grid-area: remove;
}

.authenticatorEmpty {
  color: #888888;
}
