.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.toolbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}

.filterBar {
  flex: 1 1 auto;
  min-width: 0;
  padding-left: 0;
}

.viewAuditLogAction {
  display: flex;
  height: 44px;
  align-items: center;
}

.tableArea {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.listWrapper {
  overflow-y: auto;
  flex: 1 1 auto;
  min-height: 8rem;
}

.loading {
  display: flex;
  justify-content: center;
  padding: 32px;
}

.table {
  width: 848px;
  max-width: 100%;
}

.activityColumn {
  width: 64.5%;
}

.timestampColumn {
  width: 35.5%;
}

.pagination {
  align-self: flex-end;
  margin: 8px 16px 0;
}
