.root {
  margin: 10px 8px;
  width: 640px;
}

.authenticatorContainer {
  padding: 15px 0;
}

.authenticatorHeader {
  font-size: 14px;
}

.cellInfo {
  font-size: 13px;
  padding: 3px 0;
}

.cellLabel {
  margin-bottom: 5px;
}

.cellDesc {
  color: #888888;
}

.detailsButton {
  align-self: center;
}

.activated {
  color: #33ba89;
}
