.root {
  display: flex;
  flex-direction: column;
  > :global(.ms-Viewport) {
    display: contents;
  }
}

.list {
  flex: 1 0 0;
}

.pagination {
  align-self: flex-end;
  margin: 12px 16px;
}

.actionButton {
  padding: 0;
  font-size: 12px;
  font-weight: 600;
  display: contents;
}
