.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 0%;
  display: flex;
  flex-direction: column;
  margin: 0 32px;
}

.usersList {
  flex: 1 0 0%;
}

.searchBox {
  align-self: center;
}
