$descriptionTextColor: #888888;

.root {
  margin: 12px 8px 50px;
  width: 640px;
}

.authenticatorContainer {
  padding: 10px 0 0;
}

.header {
  display: block;
  font-weight: 600;
}

.authenticatorKindHeader {
  font-size: 15px;
  margin-bottom: 15px;
}

.authenticatorTypeHeader {
  font-size: 13px;
  margin-bottom: 10px;
}

.list {
  margin-bottom: 15px;
}

.cell {
  padding-left: 1px;
  margin-bottom: 15px;
  display: grid;
  grid-gap: 3px 0;
}

.cellLabel {
  font-size: 13px;
}

.cellDesc {
  font-size: 13px;
  color: #888888;
}

.button {
  place-self: center;
  font-weight: 600;
  margin: 0 5px;
  border: 1px solid #d8d8d8;
}

.passwordCell {
  grid-template:
    "plabel    preset    premove"
    "pdesc     preset    premove"
    / auto min-content min-content;
}

.passwordCellLabel {
  grid-area: plabel;
  font-weight: 600;
}

.passwordCellDesc {
  grid-area: pdesc;
}

.resetPasswordButton {
  grid-area: preset;
  white-space: nowrap;
}

.removePasswordButton {
  grid-area: premove;
}

.oobOtpList {
  padding-left: 15px;
}

.oobOtpCell {
  grid-template:
    "oicon    olabel    oremove"
    "odesc    odesc     oremove"
    / min-content auto min-content;
}

.oobOtpCellIcon {
  grid-area: oicon;
  font-size: 14px;
  margin-right: 2px;
}

.oobOtpCellLabel {
  grid-area: olabel;
  align-self: center;
}

.oobOtpCellAddedOn {
  grid-area: odesc;
  padding-left: 2px;
  color: $descriptionTextColor;
}

.oobOtpRemoveButton {
  grid-area: oremove;
}

.totpList {
  padding-left: 15px;
}

.totpCell {
  grid-template:
    "tlabel    tremove"
    "tdesc     tremove"
    / auto min-content;
}

.totpCellLabel {
  grid-area: tlabel;
}

.totpCellDesc {
  grid-area: tdesc;
}

.totpRemoveButton {
  grid-area: tremove;
}
