.root {
  margin-left: 10px;
  max-width: 640px;
}

.headerSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
}

.header {
  font-weight: 600;
}

.identityLists {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.subHeader {
  display: flex;
  margin: 12px 0;
  font-weight: 600;
}

.cellContainer {
  /* Desktop */
  /* grid-template:
    "        icon        name           .      verify      remove"
    "           .        desc           .      verify      remove"
    / min-content auto 1fr min-content min-content; */

  /* Mobile */
  /* grid-template:
    "        icon        name           .         .         ."
    "           .        desc           .         .         ."
    "           .        verify      remove       .         ."
    / min-content auto 1fr min-content min-content; */

  @apply desktop:grid-cols-[min-content_auto_1fr_min-content_min-content]
          desktop:grid-areas-[icon_name_._verify_remove,._desc_._verify_remove]
          mobile:grid-areas-[icon_name_.,._desc_.,._verify_remove];

  display: grid;
  column-gap: 8px;
  row-gap: 8px;
  margin-top: 4px;
}

.cellIcon {
  grid-area: icon;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cellName {
  grid-area: name;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cellDescUnverified {
  color: #e0aa1a;
  white-space: nowrap;
}

.cellDescVerified {
  color: #10b070;
}

.cellDescSeparator {
  color: #888888;
  margin: 0 8px;
}

.cellDesc {
  color: #888888;
  grid-area: desc;
  display: flex;
  flex-direction: row;
}

.controlButton {
  border: 1px solid #d8d8d8;
  font-weight: 600;
  white-space: nowrap;
}

.removeButton {
  grid-area: remove;
  place-self: center;
  @apply mobile:place-self-auto;
}

.verifyButton {
  grid-area: verify;
  place-self: center;
  @apply mobile:place-self-auto;
}

.unverifyButton {
  grid-area: verify;
  place-self: center;
  @apply mobile:place-self-auto;
}
