.screenRoot {
  @apply flex flex-col flex-1-0-auto min-h-0;
}

.topBar {
  @apply sticky top-0 z-10;
  @apply mobile:top-[var(--screen-header-height)];
}

.formContainer {
  @apply flex flex-col flex-1-0-auto;
  min-height: 0;
}

.screenContent {
  @apply flex-1 overflow-auto;
  @apply mobile:overflow-visible;
}

.widget {
  @apply flex flex-col;
  padding: 24px;
  gap: 24px;
  min-height: 100%;
}

.tabs {
  /* push down a bit from summary */
}

.tabContent {
  @apply flex flex-col;
  width: 100%;
  max-width: 848px;
  padding-top: 8px;
  gap: 24px;
}

.fullWidthTabContent {
  max-width: none;
}

.profileTabContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding-top: 8px;
}

.profileTabMain {
  order: 1;
  width: 100%;
  max-width: 848px;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profileTabSidebar {
  order: 2;
  align-self: flex-start;
  width: 100%;
  max-width: 848px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dateItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dateItemValue {
  display: flex;
  gap: 16px;
  align-items: center;
}

.dateItemDate {
  white-space: nowrap;
  min-width: 100px;
}
