.root {
  margin-top: 25px;
  width: 680px;
}

.header {
  font-size: 14px;
  font-weight: 600;
  padding-left: 10px;
  margin: 0;
}

.actionButton {
  padding: 0;
  font-size: 12px;
  font-weight: 600;
  display: contents;
}

.cell {
  line-height: 18px;
}

.revokeAllButton {
  border: 1px solid #d8d8d8;
  margin-top: 20px;
}
