.root {
  margin-top: 25px;
  margin-left: 10px;
  width: 640px;
}

.header {
  font-size: 14px;
  margin: 0;
}

.cellInfo {
  display: flex;
  padding: 5px 0 3px;
}

.cellIcon {
  padding: 3px;
}

.cellDetail {
  padding: 0 10px;
  font-weight: 300;
  font-size: 13px;
}

.cellName {
  padding-bottom: 3px;
}

.cellDesc {
  color: #888888;
}

.removeButton {
  margin-right: 3px;
}
