.root {
  display: flex;
  flex-direction: column;
  width: calc(80px * 8 + 20px * 8);
  row-gap: 40px;
}

.standalone {
  margin: 10px calc(20px / 2);
}

.nameGroup {
  display: grid;
  row-gap: 8px;
  column-gap: 16px;
  padding: 10px;

  grid-template-areas:
    "c1 c2"
    "c3 c4"
    "c5 .";
}

.c1 {
  grid-area: c1;
}

.c2 {
  grid-area: c2;
}

.c3 {
  grid-area: c3;
}

.c4 {
  grid-area: c4;
}

.c5 {
  grid-area: c5;
}

.twoColumnGroup {
  display: grid;
  row-gap: 8px;
  column-gap: 16px;
  padding: 10px;

  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
}

.singleColumnGroup {
  display: grid;
  row-gap: 8px;
  padding: 10px;

  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: min-content;
}

.addressGroup {
  display: grid;
  gap: 8px;
  padding: 10px;

  grid-template:
    "label       label   label" auto
    "street      street  street" auto
    "city        city    city" auto
    "postalCode  state   country" auto
    / 1fr 1fr 1fr;
}

.gridAreaLabel {
  grid-area: label;
}

.gridAreaStreet {
  grid-area: street;
}

.gridAreaCity {
  grid-area: city;
}

.gridAreaPostalCode {
  grid-area: postalCode;
}

.gridAreaState {
  grid-area: state;
}

.gridAreaCountry {
  grid-area: country;
}
