.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.screenContent {
  padding: 10px 15px;
}

.userDetails {
  margin: 0 15px;
}

.userDetailsTab {
  margin-top: 15px;
  margin-left: -5px;
}
