/tmp
/dist
.env
/var/authgear.yaml
/var/authgear.secrets.yaml
/var/authgear.features.yaml
/tls-cert.pem
/tls-key.pem
.parcel-cache/

# docker
docker-compose.override.yaml

# vs code
.vscode

# node
node_modules/

# compiled static files
resources/authgear/static/*.*.js
resources/authgear/static/*.*.css
resources/authgear/static/*.map
resources/authgear/static/build.html
resources/portal/static/
!resources/portal/static/img/logo.png

# generated code
pkg/lib/webparcel/parcel_gen.go
