/tmp
.env
/var/authgear.yaml
/var/authgear.secrets.yaml
/tls-cert.pem
/tls-key.pem

# docker
docker-compose.override.yaml

# vs code
.vscode

# node
node_modules/

# compiled static files
resources/authgear/static/authgear.js
resources/authgear/static/password-policy.js
