/tmp
/.vagrant
/dist
data
.env
skygear-server
standalone-tenant-config.yaml

# golang
vendor
.virtualgo

# Fabric
fabfile.pyc

# python
__pycache__

# docker
docker-compose.override.yml

# nix
result-bin

# vs code
.vscode

# node
node_modules/
