ourd:
  image: oursky/ourd:master
  ports:
  - "3000:3000"
  - "5555"
  volumes:
  - development.ini:/go/src/app/config.ini
  - data:/var/lib/ourd/data
  links:
  - db
  command: sh -c "PGHOST=db PGPORT=$DB_PORT_5432_TCP_PORT $GOPATH/bin/ourd config.ini"
  environment:
    DATABASE_URL: dbname=postgres sslmode=disable
    PGUSER: postgres

db:
  build: .
  dockerfile: Dockerfile-postgres
  volumes:
  - /usr/local/var/postgres:/var/lib/postgresql/data
  ports:
  - "5432"
