version: "3"
services:
  db:
    image: postgres:12.3
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    ports:
      - "5432:5432"

  redis:
    image: redis:6.0
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.12.1
    environment:
      discovery.type: single-node
    ports:
    - "9200:9200"
    - "9300:9300"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data

  proxy:
    image: nginx:1.18
    volumes:
    - ./nginx.conf:/etc/nginx/nginx.conf
    - ./portal/dist:/usr/share/nginx/html
    ports:
    - "8000:8000"
    - "8010:8010"

volumes:
  redis_data:
    driver: local
  db_data:
    driver: local
  elasticsearch_data:
    driver: local
