version: "3"
services:
  db:
    image: postgres-pg-partman:latest
    build:
      context: ./postgres
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./postgresql.conf:/etc/postgresql/postgresql.conf
    command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf"]
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    ports:
      - "5432:5432"

  redis:
    # Azure cache for Redis supports 6.0 only
    image: redis:6.0.20
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.16.2
    environment:
      discovery.type: single-node
    ports:
    - "9200:9200"
    - "9300:9300"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data

  proxy:
    image: nginx:1.18
    volumes:
    - ./nginx.conf:/etc/nginx/nginx.conf
    - ./tls-key.pem:/etc/nginx/tls-key.pem
    - ./tls-cert.pem:/etc/nginx/tls-cert.pem
    ports:
    - "8000:8000"
    - "8010:8010"
    - "3100:3100"
    - "443:443"

volumes:
  redis_data:
    driver: local
  db_data:
    driver: local
  elasticsearch_data:
    driver: local
