{{ define "__alternatives.html" }}
    {{ $rendered_separator := false }}
    {{ range $.AlternativeSteps }}
        {{ if eq .Step "create-passkey" }}
            {{ if (and (not $.separatorDisabled) (not $rendered_separator)) }}
                {{ $rendered_separator = true }}
                <div class="alternative-separator flex flex-row items-center">
                    <span class="primary-txt mx-1.5 text-sm">{{ template "or-label" }}</span>
                </div>
            {{ end }}
            <div class="text-sm" data-controller="passkey-creation">
            <button class="btn secondary-btn" type="button" data-action="click->passkey-creation#create" data-passkey-creation-target="button">
                {{ template "setup-passkey-instead" .Data }}
            </button>
            <form method="post" novalidate>
                <input type="hidden" name="x_step_kind" value="{{ .Step }}">
                <input type="hidden" name="x_stage" value="{{ $.AuthenticationStage }}">
                <input type="hidden" name="x_attestation_response" data-passkey-creation-target="input">
                <button type="submit" class="hidden" name="x_action" value="choose_step" data-passkey-creation-target="submit"></button>
            </form>
            </div>
        {{ end }}
        {{ if eq .Step "use-passkey" }}
            {{ if (and (not $.separatorDisabled) (not $rendered_separator)) }}
                {{ $rendered_separator = true }}
                <div class="alternative-separator flex flex-row items-center">
                    <span class="primary-txt mx-1.5 text-sm">{{ template "or-label" }}</span>
                </div>
            {{ end }}
            <div class="text-sm" data-controller="passkey-request" data-passkey-request-auto-value="true" data-passkey-request-allow-credentials-value="true">
            <button class="btn secondary-btn" type="button" data-action="click->passkey-request#use" data-passkey-request-target="button">
                {{ template "use-passkey-instead" .Data }}
            </button>
            <form method="post" novalidate>
                <input type="hidden" name="x_step_kind" value="{{ .Step }}">
                <input type="hidden" name="x_stage" value="{{ $.AuthenticationStage }}">
                <input type="hidden" name="x_assertion_response" data-passkey-request-target="input">
                <button type="submit" class="hidden" name="x_action" value="choose_step" data-passkey-request-target="submit"></button>
            </form>
            </div>
        {{ end }}
        {{ if (or (eq .Step "setup-totp")
                  (eq .Step "setup-oob-otp-email")
                  (eq .Step "setup-oob-otp-sms")
                  (eq .Step "create-password")
                  (eq .Step "enter-totp")
                  (eq .Step "enter-password")
                  (eq .Step "enter-oob-otp-authn-email")
                  (eq .Step "enter-oob-otp-authn-sms")
                  (eq .Step "setup-whatsapp-otp")
                  (eq .Step "verify-whatsapp-otp-authn")
                  (eq .Step "setup-login-link-otp")
                  (eq .Step "verify-login-link-otp-authn")) }}
            {{ if (and (not $.separatorDisabled) (not $rendered_separator)) }}
                {{ $rendered_separator = true }}
                <div class="alternative-separator flex flex-row items-center">
                    <span class="primary-txt mx-1.5 text-sm">{{ template "or-label" }}</span>
                </div>
            {{ end }}
            <form method="post" novalidate>
                <input type="hidden" name="x_step_kind" value="{{ .Step }}">
                {{ range $name, $value := .Input }}
                    <input type="hidden" name="{{ $name }}" value="{{ $value }}">
                {{ end }}
                <div class="text-sm">
                <button class="btn secondary-btn text-left" type="submit" name="x_action" value="choose_step">
                    {{ if eq .Step "setup-totp" }}
                        {{ template "setup-totp-instead" .Data }}
                    {{ end }}
                    {{ if eq .Step "setup-oob-otp-email" }}
                        {{ if eq $.AuthenticationStage "primary" }}
                            {{ template "setup-primary-oob-otp-email-instead" .Data }}
                        {{ else }}
                            {{ template "setup-oob-otp-email-instead" .Data }}
                        {{ end }}
                    {{ end }}
                    {{ if eq .Step "setup-oob-otp-sms" }}
                        {{ if eq $.AuthenticationStage "primary" }}
                            {{ template "setup-primary-oob-otp-sms-instead" .Data }}
                        {{ else }}
                            {{ template "setup-oob-otp-sms-instead" .Data }}
                        {{ end }}
                    {{ end }}
                    {{ if eq .Step "create-password" }}
                        {{ if eq $.AuthenticationStage "primary" }}
                            {{ template "setup-password-instead" .Data }}
                        {{ else }}
                            {{ template "setup-secondary-password-instead" .Data }}
                        {{ end }}
                    {{ end }}
                    {{ if eq .Step "enter-totp" }}
                        {{ template "enter-totp-instead" .Data }}
                    {{ end }}
                    {{ if eq .Step "enter-password" }}
                        {{ if eq $.AuthenticationStage "primary" }}
                            {{ template "enter-password-instead" .Data }}
                        {{ else }}
                            {{ template "enter-secondary-password-instead" .Data }}
                        {{ end }}
                    {{ end }}
                    {{ if eq .Step "enter-oob-otp-authn-email" }}
                        {{ template "enter-oob-otp-email-instead" .Data }}
                    {{ end }}
                    {{ if eq .Step "enter-oob-otp-authn-sms" }}
                        {{ template "enter-oob-otp-sms-instead" .Data }}
                    {{ end }}
                    {{ if eq .Step "setup-whatsapp-otp" }}
                        {{ template "setup-phone-otp-instead" .Data }}
                    {{ end }}
                    {{ if eq .Step "verify-whatsapp-otp-authn" }}
                        {{  template "verify-phone-otp-instead" .Data }}
                    {{ end }}
                    {{ if eq .Step "setup-login-link-otp" }}
                        {{ template "setup-login-link-otp-instead" .Data }}
                    {{ end }}
                    {{ if eq .Step "verify-login-link-otp-authn" }}
                        {{  template "verify-login-link-otp-instead" .Data }}
                    {{ end }}
                </button>
                </div>
            </form>
        {{ end }}
    {{ end }}
{{ end }}
