{{ define "__alternatives.html" }}
    {{ range .AlternativeSteps }}
        <form method="post" novalidate>
            {{ $.CSRFField }}
            <input type="hidden" name="x_step_kind" value="{{ .Step }}">
            {{ range $name, $value := .Input }}
                <input type="hidden" name="{{ $name }}" value="{{ $value }}">
            {{ end }}
            <input type="hidden" name="x_action" value="choose_step"/>
            <div class="text-sm margin-b-20">
            {{ if eq .Step "enter-recovery-code" }}
            {{ if ($.Translations.HasKey "customer-support-link") }}
                {{ template "enter-recovery-code-instead-with-customer-support-v1" (dict "customerSupportLink" ($.Translations.RenderText "customer-support-link" nil)) }}
            {{ else }}
                {{ template "enter-recovery-code-instead-v1" }}
            {{ end }}
            {{ else }}
            <button class="btn secondary-btn" type="submit">
                {{ if eq .Step "setup-totp" }}
                    {{ template "setup-totp-instead" .Data }}
                {{ end }}
                {{ if eq .Step "setup-oob-otp-email" }}
                    {{ template "setup-oob-otp-email-instead" .Data }}
                {{ end }}
                {{ if eq .Step "setup-oob-otp-sms" }}
                    {{ template "setup-oob-otp-sms-instead" .Data }}
                {{ end }}
                {{ if eq .Step "create-password" }}
                    {{ template "setup-password-instead" .Data }}
                {{ end }}
                {{ if eq .Step "enter-totp" }}
                    {{ template "enter-totp-instead" .Data }}
                {{ end }}
                {{ if eq .Step "enter-password" }}
                    {{ template "enter-password-instead" .Data }}
                {{ end }}
                {{ if eq .Step "enter-oob-otp-authn-email" }}
                    {{ template "enter-oob-otp-email-instead" .Data }}
                {{ end }}
                {{ if eq .Step "enter-oob-otp-authn-sms" }}
                    {{ template "enter-oob-otp-sms-instead" .Data }}
                {{ end }}
            </button>
            {{ end }}
            </div>
        </form>
    {{ end }}
{{ end }}
