{{- define "__authflow_forgot_password_alternatives.html" }}

{{- if (len $.AlternativeChannels) }}
<div class="alternative-separator flex flex-row items-center">
	<span class="primary-txt mx-1.5 text-sm">{{ template "or-label" }}</span>
</div>
{{- end }}

<div class="space-y-1">

{{- range $.AlternativeChannels }}
  <form class="text-left text-sm" method="post" novalidate>
    <input type="hidden" name="x_index" value="{{ .Index }}">
    <input type="hidden" name="x_action" value="select_channel">  
    <button class="btn secondary-btn text-left text-sm" type="submit">
      {{- if eq .Channel "sms" }}
        {{ template "forgot-password-alternatives--sms-otp" }}
      {{- end }}
      {{- if eq .Channel "whatsapp" }}
        {{ template "forgot-password-alternatives--whatsapp-otp" }}
      {{- end }}
    </button>
  </form>
{{- end }}

</div>

{{- end}}
