{{- define "__authflow_branch.html" }}

{{- if (len $.Branches) }}
<div class="alternative-separator flex flex-row items-center">
	<span class="primary-txt mx-1.5 text-sm">{{ template "or-label" }}</span>
</div>
{{- end }}

<div class="space-y-1">

{{- range $.Branches }}
{{- if eq $.ActionType "authenticate" }}
{{- if eq .Authentication "recovery_code" }}
<form class="text-left text-sm" method="post" novalidate>
{{ $.CSRFField }}
<input type="hidden" name="x_index" value="{{ .Index }}">
<input type="hidden" name="x_channel" value="{{ .Channel }}">
<input type="hidden" name="x_action" value="take_branch">
{{ if ($.Translations.HasKey "customer-support-link") }}
    {{ template "enter-recovery-code-instead-with-customer-support-v1" (dict "customerSupportLink" ($.Translations.RenderText "customer-support-link" nil)) }}
{{ else }}
    {{ template "enter-recovery-code-instead-v1" }}
{{ end }}
</form>
{{- end }}
{{- end }}
{{- end }}

{{- range $.Branches }}
<form method="post" novalidate>
{{ $.CSRFField }}
<input type="hidden" name="x_index" value="{{ .Index }}">
<input type="hidden" name="x_channel" value="{{ .Channel }}">
<input type="hidden" name="x_action" value="take_branch">
<button class="btn secondary-btn text-left text-sm" type="submit">
{{- if eq $.ActionType "create_authenticator" }}
{{- if eq .Authentication "primary_password" }}
	{{ template "setup-password-instead" }}
{{- end }}
{{- if eq .Authentication "secondary_password" }}
	{{ template "setup-secondary-password-instead" }}
{{- end }}
{{- if eq .Authentication "secondary_totp" }}
	{{ template "setup-totp-instead" }}
{{- end }}
{{- if eq .Authentication "primary_oob_otp_email" }}
	{{- if .VerificationSkippable }}
		{{ template "setup-oob-otp-without-verification" (dict "target" .MaskedClaimValue) }}
	{{ else }}
		{{- if eq .OTPForm "code" }}
		{{ template "setup-email-otp-code-instead" }}
		{{- end }}
		{{- if eq .OTPForm "link" }}
		{{ template "setup-email-otp-link-instead" }}
		{{- end }}
	{{- end }}
{{- end }}
{{- if eq .Authentication "secondary_oob_otp_email" }}
	{{- if .VerificationSkippable }}
		{{ template "setup-oob-otp-without-verification" (dict "target" .MaskedClaimValue) }}
	{{ else }}
		{{- if eq .OTPForm "code" }}
		{{ template "setup-email-otp-code-instead" }}
		{{- end }}
		{{- if eq .OTPForm "link" }}
		{{ template "setup-email-otp-link-instead" }}
		{{- end }}
  {{- end }}
{{- end }}
{{- if eq .Authentication "primary_oob_otp_sms" }}
	{{- if .VerificationSkippable }}
		{{ template "setup-oob-otp-without-verification" (dict "target" .MaskedClaimValue) }}
	{{ else }}
		{{- if eq .Channel "sms" }}
		{{ template "setup-phone-otp-sms-instead" }}
		{{- end }}
		{{- if eq .Channel "whatsapp" }}
		{{ template "setup-phone-otp-whatsapp-instead" }}
		{{- end }}
	{{- end }}
{{- end }}
{{- if eq .Authentication "secondary_oob_otp_sms" }}
	{{- if .VerificationSkippable }}
		{{ template "setup-oob-otp-without-verification" (dict "target" .MaskedClaimValue) }}
	{{ else }}
		{{- if eq .Channel "sms" }}
		{{ template "setup-phone-otp-sms-instead" }}
		{{- end }}
		{{- if eq .Channel "whatsapp" }}
		{{ template "setup-phone-otp-whatsapp-instead" }}
		{{- end }}
	{{- end }}
{{- end }}
{{- end }}

{{- if eq $.ActionType "authenticate" }}
{{- if eq .Authentication "primary_password" }}
	{{ template "enter-password-instead" }}
{{- end }}
{{- if eq .Authentication "secondary_password" }}
	{{ template "enter-secondary-password-instead" }}
{{- end }}
{{- if eq .Authentication "primary_passkey" }}
	{{ template "use-passkey-instead" }}
{{- end }}
{{- if eq .Authentication "secondary_totp" }}
	{{ template "enter-totp-instead" }}
{{- end }}
{{- if eq .Authentication "primary_oob_otp_email" }}
	{{- if eq .OTPForm "code" }}
	{{ template "enter-email-otp-code-instead" (dict "target" .MaskedClaimValue) }}
	{{- end }}
	{{- if eq .OTPForm "link" }}
	{{ template "use-email-otp-link-instead" (dict "target" .MaskedClaimValue) }}
	{{- end }}
{{- end }}
{{- if eq .Authentication "secondary_oob_otp_email" }}
	{{- if eq .OTPForm "code" }}
	{{ template "enter-email-otp-code-instead" (dict "target" .MaskedClaimValue) }}
	{{- end }}
	{{- if eq .OTPForm "link" }}
	{{ template "use-email-otp-link-instead" (dict "target" .MaskedClaimValue) }}
	{{- end }}
{{- end }}
{{- if (or (eq .Authentication "primary_oob_otp_sms") (eq .Authentication "secondary_oob_otp_sms")) }}
	{{- if eq .Channel "sms" }}
	{{ template "enter-phone-otp-sms-instead" (dict "target" .MaskedClaimValue) }}
	{{- end }}
	{{- if eq .Channel "whatsapp" }}
	{{ template "enter-phone-otp-whatsapp-instead" (dict "target" .MaskedClaimValue) }}
	{{- end }}
{{- end }}
{{- end }}


{{- if eq $.ActionType "verify" }}
{{- if eq .Channel "sms" }}
	{{ template "enter-phone-otp-sms-instead" (dict "target" .MaskedClaimValue) }}
{{- end }}
{{- if eq .Channel "whatsapp" }}
	{{ template "enter-phone-otp-whatsapp-instead" (dict "target" .MaskedClaimValue) }}
{{- end }}
{{- end }}

</button>
</form>
{{- end }}

</div>

{{- end }}
