{{ define "__error.html" }} {{ $display_error := false }} {{ if .Error }} {{
$display_error = true }} {{ if eq .Error.reason "PasswordPolicyViolated" }}
<!-- This error is handled differently -->
{{ $display_error = false }} {{ else if eq .Error.reason "WebUIInvalidSession"
}}
<!-- This error is handled as fatal error -->
{{ $display_error = false }} {{ else if eq .Error.reason "DisabledUser" }}
<!-- This error is handled differently -->
{{ $display_error = false }} {{ else if eq .Error.reason "DeactivatedUser" }}
<!-- This error is handled differently -->
{{ $display_error = false }} {{ else if eq .Error.reason
"ScheduledDeletionByAdmin" }}
<!-- This error is handled differently -->
{{ $display_error = false }} {{ else if eq .Error.reason
"ScheduledDeletionByEndUser" }}
<!-- This error is handled differently -->
{{ $display_error = false }} {{ end }} {{ end }}
<div
  id="error-message"
  class="messages-bar flex flew-row errors {{ if not $display_error }}hidden{{ end }}"
  data-controller="message-bar"
  data-action="messagebar:show-message@document->message-bar#showMessage messagebar:hide-message@document->message-bar#hideMessage"
>
  <div class="w-8 h-8 flex justify-center items-center error-txt">
    <i class="ti ti-alert-circle"></i>
  </div>
  <ul
    class="messages-txt list-none flex flex-col flex-1 mx-0 my-1.5 p-0 text-sm"
  >
    <li id="error-message-server" class="hidden">
      {{ template "error-server" }}
    </li>
    <li id="error-message-network" class="hidden">
      {{ template "error-network" }}
    </li>
    <li id="error-message-invalid-selected-image" class="hidden">
      {{ template "error-invalid-selected-image" }}
    </li>
    <li id="error-message-no-passkey" class="hidden">
      {{ template "error-no-passkey" (dict "type"
      $.FirstNonPasskeyPrimaryAuthenticatorType) }}
    </li>
    <li id="error-message-passkey-empty-allow-credentials" class="hidden">
      {{ template "error-passkey-empty-allow-credentials" (dict "variant" $.LoginIDContextualType) }}
    </li>
    <li id="error-message-passkey-duplicate" class="hidden">
      {{ template "error-passkey-duplicate" }}
    </li>
    <li id="error-message-metamask-unauthorized" class="hidden">
      {{ template "error-metamask-unauthorized" }}
    </li>
    <li id="error-message-metamask-unsupported-method" class="hidden">
      {{ template "error-metamask-unsupported-method" }}
    </li>
    <li id="error-message-metamask-disconnected" class="hidden">
      {{ template "error-metamask-disconnected" }}
    </li>
    <li id="error-message-failed-to-connect-wallet" class="hidden">
      {{ template "error-failed-to-connect-wallet" }}
    </li>

    {{ if $display_error }} {{ $info := .Error.info }} {{ if eq .Error.reason
    "ValidationFailed" }} {{ range .Error.info.causes }} {{ if (eq .kind
    "required") }}
    {{ if (call $.SliceContains .details.missing "q_login_id") }}
    <li>
      {{ template "error-login-id-required" (dict "variant" $.LoginIDContextualType) }}
    </li>
    {{ else if (call $.SliceContains .details.missing "x_password" ) }}
    <li>{{ template "error-password-required" }}</li>
    {{ else if (call $.SliceContains .details.missing "x_oob_otp_code" ) }}
    <li>{{ template "error-oob-otp-code-required" }}</li>
    {{ else if (call $.SliceContains .details.missing "x_totp_code" ) }}
    <li>{{ template "error-totp-code-required" }}</li>
    {{ else if (call $.SliceContains .details.missing "x_verification_code" ) }}
    <li>{{ template "error-verification-code-required" }}</li>
    {{ else if (call $.SliceContains .details.missing "x_recovery_code" ) }}
    <li>{{ template "error-recovery-code-required" }}</li>
    {{ else if (call $.SliceContains .details.missing "x_old_password" ) }}
    <li>{{ template "error-old-password-required" }}</li>
    {{ else if (call $.SliceContains .details.missing "x_new_password" ) }}
    <li>{{ template "error-new-password-required" }}</li>
    {{ else if (call $.SliceContains .details.missing "x_confirm_password" ) }}
    <li>{{ template "error-confirm-password-required" }}</li>
    {{ else if (call $.SliceContains .details.missing "x_email" ) }}
    <li>{{ template "error-email-required" }}</li>
    {{ else if (call $.SliceContains .details.missing "x_e164" ) }}
    <li>{{ template "error-phone-number-required" }}</li>
    {{ else }}
    <li>{{ .Error.message }}</li>
    {{ end }} {{ else if (eq .kind "format") }} {{ if (eq .details.format
    "phone") }}
    <li>{{ template "error-phone-number-format" }}</li>
    {{ else if (eq .details.format "email") }}
    <li>{{ template "error-invalid-email" }}</li>
    {{ else if (eq .details.format "username") }}
    <li>{{ template "error-invalid-username" }}</li>
    {{ else if (eq .details.format "x_totp_code") }}
    <li>{{ template "error-totp-code-format" }}</li>
    {{ else if (eq .details.format "x_oob_otp_code") }}
    <li>{{ template "error-oob-otp-code-format" }}</li>
    {{ else if (eq .details.format "x_verification_code") }}
    <li>{{ template "error-verification-code-format" }}</li>
    {{ else if (eq .details.format "x_recovery_code") }}
    <li>{{ template "error-recovery-code-format" }}</li>
    {{ else if (eq .details.format "uri") }}
    <li>{{ template "error-uri-format" }}</li>
    {{ else }}
    <li>{{ .Error.message }}</li>
    {{ end }} {{ else if (eq .kind "maxLength") }}
    <li>
      {{ template "error-max-length" (dict "expected" .details.expected) }}
    </li>
    {{ else if (eq .kind "blocked") }} {{ if (or (eq .details.reason
    "EmailDomainBlocklist") (eq .details.reason "EmailDomainAllowlist")) }}
    <li>{{ template "error-email-not-allowed" }}</li>
    {{ else if (or (eq .details.reason "UsernameReserved") (eq .details.reason
    "UsernameExcludedKeywords")) }}
    <li>{{ template "error-username-not-allowed" }}</li>
    {{ else }}
    <li>{{ .details.reason }}</li>
    {{ end }} {{ else if (eq .kind "type") }}
    <li>
      {{ template "error-type" (dict "expected" (index .details.expected 0)) }}
    </li>
    {{ else if (eq .kind "minimum") }}
    <li>{{ template "error-minimum" (dict "minimum" .details.minimum) }}</li>
    {{ else if (eq .kind "maximum") }}
    <li>{{ template "error-maximum" (dict "maximum" .details.maximum) }}</li>
    {{ else if (eq .kind "maximum") }} {{ else if (eq .kind "general") }}
    <li>{{ .details.msg }}</li>
    {{ else }}
    <li>{{ .Error.message }}</li>
    {{ end }} {{ end }}
    {{ else if eq .Error.reason "UserNotFound" }}
    {{ template "__error_account" . }}
    {{ else if eq .Error.reason "InvalidCredentials" }}
    <li>
      {{ template "error-invalid-credentials" (dict "AuthenticationType"
      $info.AuthenticationType) }}
    </li>
    {{ else if eq .Error.reason "PasswordResetFailed" }}
    <li>{{ template "error-password-reset-failed" }}</li>
    {{ else if eq .Error.reason "NewPasswordTypo" }}
    <li>{{ template "error-new-password-typo" }}</li>
    {{ else if eq .Error.reason "StandardAttributesEmailRequired" }}
      {{ if .Error.info.ProviderType }}
        {{ if eq .Error.info.ProviderType "github" }}
          <li>{{ template "error-email-required-github" }}</li>
        {{ else }}
          <li>{{ template "error-developer-email-required" }}</li>
        {{ end }}
      {{ else }}
        <li>{{ template "error-developer-email-required" }}</li>
      {{ end }}
    {{ else if eq .Error.reason "InvariantViolated" }}
      {{ $cause := .Error.info.cause }}
      {{ if (eq $cause.kind "RemoveLastIdentity") }}
        <li>{{ template "error-remove-last-identity" }}</li>
      {{ else if (eq $cause.kind "RemoveLastPrimaryAuthenticator") }}
        <li>{{ template "error-remove-last-primary-authenticator" }}</li>
      {{ else if (eq $cause.kind "RemoveLastSecondaryAuthenticator") }}
        <li>{{ template "error-remove-last-secondary-authenticator" }}</li>
      {{ else if (eq $cause.kind "DuplicatedIdentity") }}
        {{ template "__error_account" . }}
      {{ else if (eq $cause.kind "DuplicatedAuthenticator") }}
        <li>{{ template "error-duplicated-authenticator" (dict "AuthenticatorType" $cause.AuthenticatorType) }}
       </li>
      {{ else if (eq $cause.kind "MismatchedUser") }}
        <li>{{ template "error-developer-reauthentication" }}</li>
      {{ else if (eq $cause.kind "NoAuthenticator") }}
        <li>{{ template "error-no-authenticator" }}</li>
      {{ else }}
        <li>{{ .Error.message }}</li>
      {{ end }}
    {{ else if eq .Error.reason "InvalidVerificationCode" }}
    <li>
      {{ template "error-verification-code-invalid" }}
      <button
        class="btn secondary-btn"
        type="button"
        data-controller="mirror-button"
        data-mirror-button-selector-value="#resend-button"
        data-action="mirror-button#click"
      >
        {{ template "error-verification-code-invalid-click-to-resend" }}
      </button>
    </li>
    {{ else if eq .Error.reason "RateLimited" }}
      {{ if eq .Error.info.bucket_name "MessagingSMSPerTarget" }}
      <li>{{ template "error-sms-send-limit-exceeded" }}</li>
      {{ else if eq .Error.info.bucket_name "MessagingSMSPerIP" }}
      <li>{{ template "error-sms-send-limit-exceeded" }}</li>
      {{ else if eq .Error.info.bucket_name "MessagingSMS" }}
      <li>{{ template "error-sms-send-limit-exceeded" }}</li>
      {{ else }}
      <li>{{ template "error-rate-limited" }}</li>
      {{ end }}
    {{ else if eq .Error.reason "AccountLockout" }}
    {{ $until := (ensureTime .Error.info.until) }}
    <li>
      <span data-lockout-target="locked" data-controller="format-date-relative">
        {{ template "error-account-locked--countdown" (dict
          "rfc3339" (rfc3339 $until)
          "datetime" $until
        )}}
      </span>
      <span data-lockout-target="unlocked">
        {{ template "error-account-locked" }}
      </span>
    </li>
    {{ else if eq .Error.reason "UsageLimitExceeded" }}
    <li>{{ template "error-usage-limit-exceeded" }}</li>
    {{ else if eq .Error.reason "SMSNotSupported" }}
    <li>
      {{ if ($.Translations.HasKey "customer-support-link") }} {{ template
      "oob-otp-sms-is-not-supported-with-customer-support" (dict
      "customerSupportLink" ($.Translations.RenderText "customer-support-link"
      nil)) }} {{ else }} {{ template "oob-otp-sms-is-not-supported" }} {{ end
      }}
    </li>
    {{ else if eq .Error.reason "WebHookDisallowed" }} {{ $error_reason := index
    .Error.info.reasons 0 }}
    <li>
      {{ if $error_reason.title }} {{ $error_reason.title }} {{ else }}
      <!-- title is not provided, use default title -->
      {{ if eq .Error.info.event_type "pre_signup" }} {{ template
      "error-webhook-pre-signup-disallowed" }} {{ else }} {{ template
      "error-webhook-disallowed" }} {{ end }} {{ end }} {{ if
      $error_reason.reason }}
      <br />
      {{ $error_reason.reason }} {{ end }}
    </li>
    {{ else if eq .Error.reason "WebHookInvalidResponse" }}
    <li>{{ template "error-webhook-invalid-response" }}</li>
    {{ else if eq .Error.reason "WebHookDeliveryTimeout" }}
    <li>{{ template "error-webhook-delivery-timeout" }}</li>
    {{ else if eq .Error.reason "InvalidNetwork" }}
    <li>
      {{ template "error-invalid-web3-network" (dict "chainID"
      $info.expected_chain_id) }}
    </li>
    {{ else if eq .Error.reason "InvalidWhatsappUser" }}
    <li>{{ template "error-invalid-whatsapp-user" }}</li>
    {{ else if eq .Error.reason "NoAvailableWhatsappClient" }}
    <li>{{ template "error-no-available-whatsapp-client" }}</li>
    {{ else if eq .Error.reason "ChangePasswordFailed" }}
      {{ $cause := .Error.info.cause }}
        {{ if (eq $cause.kind "PasswordReused") }}
        <span>{{ template "error-password-change-password-reused" }}</span>
        {{ else }}
        <span>{{ .Error.message }}</span>
        {{ end }}
    {{ else }}
    <li>
      {{ template "error-unknown" }}{{ call $.LogUnknownError .Error }}
    </li>
    {{ end }} {{ end }}
  </ul>
  <button
    type="button"
    class="w-8 h-8 flex justify-center items-center"
    data-action="click->message-bar#close"
  >
    <i class="ti ti-x"></i>
  </button>
</div>
{{ end }} {{ define "__error_account" }} {{ $info := $.Error.info }} {{ $dict :=
(dict "IntentKind" $info.IntentKind "IdentityTypeIncoming"
$info.IdentityTypeIncoming "LoginIDTypeIncoming" $info.LoginIDTypeIncoming
"OAuthProviderTypeIncoming" $info.OAuthProviderTypeIncoming
"IdentityTypeExisting" $info.IdentityTypeExisting "LoginIDTypeExisting"
$info.LoginIDTypeExisting "OAuthProviderTypeExisting"
$info.OAuthProviderTypeExisting )}} {{/* Determine whether it is a conflict */}}
{{ $is_conflict := true }} {{ if not $info.IdentityTypeExisting }} {{
$is_conflict = false }} {{ end }} {{/* Tell the end-user the account is not
found if there is no conflict */}} {{ if not $is_conflict }}
<li>{{ template "error-account-not-found" $dict }}</li>
{{ end }} {{/* Tell the end-user these is a conflict */}} {{/* and give
suggestion contextually */}} {{ if $is_conflict }} {{ $suggest_connect_oauth :=
(and (eq $info.IdentityTypeExisting "login_id") (eq $info.IdentityTypeIncoming
"oauth") )}}

<li>
  {{ template "error-account-conflict" $dict }} {{ if $suggest_connect_oauth }}
  {{ template "error-suggestion-connect-oauth" $dict }} {{ else }} {{ template
  "error-suggestion-sign-in" $dict }} {{ end }}
</li>
{{ end }} {{ end }}
