{{ define "__error.html" }}
{{ $display_error := false }}
{{ if .Error }}
    {{ $display_error = true }}
    {{ if eq .Error.reason "PasswordPolicyViolated" }}
        <!-- This error is handled differently -->
        {{ $display_error = false }}
    {{ else if eq .Error.reason "WebUIInvalidSession" }}
        <!-- This error is handled as fatal error -->
        {{ $display_error = false }}
    {{ else if eq .Error.reason "WebHookDisallowed" }}
        <!-- This error is handled as fatal error -->
        {{ $display_error = false }}
    {{ end }}
{{ end }}
<div class="messages-bar flew-row errors-messages-bar errors {{ if not $display_error }}hidden{{ else }}flex{{ end }}" data-network-error="{{ template "error-network" }}" data-server-error="{{ template "error-server" }}">
    <div class="icon"><i class="ti ti-alert-circle"></i></div>
    <ul class="messages-txt error-txt">
        {{ if $display_error }}
            {{ $info := .Error.info }}
            {{ if eq .Error.reason "ValidationFailed" }}
                {{ range .Error.info.causes }}
                    {{ if (eq .kind "required") }}
                        {{ if (and (call $.SliceContains .details.missing "x_login_id" ) ($.x_login_id_input_type)) }}
                            {{ if (eq $.x_login_id_input_type "phone") }}
                                <li>{{ template "error-login-id-required" (dict "variant" $.x_login_id_input_type) }}</li>
                            {{ else }}
                                <li>{{ template "error-login-id-required" (dict "variant" $.LoginIDInputVariant) }}</li>
                            {{ end }}
                        {{ else if (and (call $.SliceContains .details.missing "x_login_id" ) ($.LoginIDType)) }}
                            <li>{{ template "error-login-id-required" (dict "variant" $.LoginIDType) }}</li>
                        {{ else if (call $.SliceContains .details.missing "x_password" ) }}
                            <li>{{ template "error-password-required" }}</li>
                        {{ else if (call $.SliceContains .details.missing "x_oob_otp_code" ) }}
                            <li>{{ template "error-oob-otp-code-required" }}</li>
                        {{ else if (call $.SliceContains .details.missing "x_totp_code" ) }}
                            <li>{{ template "error-totp-code-required" }}</li>
                        {{ else if (call $.SliceContains .details.missing "x_verification_code" ) }}
                            <li>{{ template "error-verification-code-required" }}</li>
                        {{ else if (call $.SliceContains .details.missing "x_recovery_code" ) }}
                            <li>{{ template "error-recovery-code-required" }}</li>
                        {{ else if (call $.SliceContains .details.missing "x_old_password" ) }}
                            <li>{{ template "error-old-password-required" }}</li>
                        {{ else if (call $.SliceContains .details.missing "x_new_password" ) }}
                            <li>{{ template "error-new-password-required" }}</li>
                        {{ else if (call $.SliceContains .details.missing "x_confirm_password" ) }}
                            <li>{{ template "error-confirm-password-required" }}</li>
                        {{ else if (call $.SliceContains .details.missing "x_email" ) }}
                            <li>{{ template "error-email-required" }}</li>
                        {{ else }}
                            <li>{{ . }}</li>
                        {{ end }}
                    {{ else if (eq .kind "format") }}
                        {{ if (eq .details.format "phone") }}
                            <li>{{ template "error-phone-number-format" }}</li>
                        {{ else if (eq .details.format "email") }}
                            <li>{{ template "error-invalid-email" }}</li>
                        {{ else if (eq .details.format "username") }}
                            <li>{{ template "error-invalid-username" }}</li>
                        {{ else if (eq .details.format "x_totp_code") }}
                            <li>{{ template "error-totp-code-format" }}</li>
                        {{ else if (eq .details.format "x_oob_otp_code") }}
                            <li>{{ template "error-oob-otp-code-format" }}</li>
                        {{ else if (eq .details.format "x_verification_code") }}
                            <li>{{ template "error-verification-code-format" }}</li>
                        {{ else if (eq .details.format "x_recovery_code") }}
                            <li>{{ template "error-recovery-code-format" }}</li>
                        {{ else }}
                            <li>{{ . }}</li>
                        {{ end }}
                    {{ else if (eq .kind "maxLength") }}
                        <li>{{ template "error-max-length" (dict "expected" .details.expected) }}</li>
                    {{ else if (eq .kind "blocked") }}
                        {{ if (or (eq .details.reason "EmailDomainBlocklist") (eq .details.reason "EmailDomainAllowlist")) }}
                            <li>{{ template "error-email-not-allowed" }}</li>
                        {{ else if (or (eq .details.reason "UsernameReserved") (eq .details.reason "UsernameExcludedKeywords")) }}
                            <li>{{ template "error-username-not-allowed" }}</li>
                        {{ else }}
                            <li>{{ .details.reason }}</li>
                        {{ end }}
                    {{ else if (eq .kind "general") }}
                        <li>{{ .details.msg }}</li>
                    {{ else }}
                        <li>{{ . }}</li>
                    {{ end }}
                {{ end }}
            {{ else if eq .Error.reason "UserNotFound" }}
                <li>{{ template "error-user-not-found" }}</li>
            {{ else if eq .Error.reason "InvalidCredentials" }}
                <li>{{ template "error-invalid-credentials" (dict "AuthenticationType" $info.AuthenticationType) }}</li>
            {{ else if eq .Error.reason "PasswordResetFailed" }}
                <li>{{ template "error-password-reset-failed" }}</li>
            {{ else if eq .Error.reason "NewPasswordTypo" }}
                <li>{{ template "error-new-password-typo" }}</li>
            {{ else if eq .Error.reason "InvariantViolated" }}
                {{ $cause := .Error.info.cause }}
                {{ if (eq $cause.kind "RemoveLastIdentity") }}
                    <li>{{ template "error-remove-last-identity" }}</li>
                {{ else if (eq $cause.kind "RemoveLastPrimaryAuthenticator") }}
                    <li>{{ template "error-remove-last-primary-authenticator" }}</li>
                {{ else if (eq $cause.kind "RemoveLastSecondaryAuthenticator") }}
                    <li>{{ template "error-remove-last-secondary-authenticator" }}</li>
                {{ else if (eq $cause.kind "DuplicatedIdentity") }}
                    <li>{{ template "error-duplicated-identity" (dict "IntentKind" $info.IntentKind "IdentityType" $info.IdentityType "LoginIDType" $info.LoginIDType) }}</li>
                {{ else if (eq $cause.kind "DuplicatedAuthenticator") }}
                    <li>{{ template "error-duplicated-authenticator" (dict "AuthenticatorType" $cause.AuthenticatorType) }}</li>
                {{ else if (eq $cause.kind "MismatchedUser") }}
                    <li>{{ template "error-developer-reauthentication" }}</li>
                {{ else if (eq $cause.kind "NoAuthenticator") }}
                    <li>{{ template "error-developer-reauthentication" }}</li>
                {{ else }}
                    <li>{{ . }}</li>
                {{ end }}
            {{ else if eq .Error.reason "InvalidVerificationCode" }}
                <li>
                    {{ template "error-verification-code-invalid" }}
                    <a href="#" data-submit-link="verify-identity-resend">
                        {{ template "error-verification-code-invalid-click-to-resend" }}
                    </a>
                </li>
            {{ else if eq .Error.reason "RateLimited" }}
                <li>{{ template "error-rate-limited" }}</li>
            {{ else if eq .Error.reason "SMSNotSupported" }}
                <li>
                {{ if ($.Translations.HasKey "customer-support-link") }}
                    {{ template "oob-otp-sms-is-not-supported-with-customer-support" (dict "customerSupportLink" ($.Translations.RenderText "customer-support-link" nil)) }}
                {{ else }}
                    {{ template "oob-otp-sms-is-not-supported" }}
                {{ end }}
                </li>
            {{ else }}
                <li>{{ .Error.message }}</li>
            {{ end }}
        {{ end }}
    </ul>
    <div class="close"><i class="ti ti-x"></i></div>
</div>
{{ end }}