{{ define "__html_head.html" }}
<head>
<meta charset="UTF-8">
<title>{{ template "app.name" }}</title>
<link rel="shortcut icon" href="{{ call $.StaticAssetURL "favicon" }}">
<meta name="x-authgear-request-url" content="{{ .RequestURL }}">
<meta name="x-authgear-page-loaded-at" content="{{ .PageLoadedAt }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<link rel="stylesheet" href="{{ call $.StaticAssetURL "web-css" }}">
<script src="{{ call $.StaticAssetURL "web-js" }}"></script>
<script src="{{ call $.StaticAssetURL "password-policy-js" }}" async></script>
</head>
{{ end }}
