{{ define "__html_head.html" }}
<head>
<meta charset="UTF-8">
<title>{{ template "app.name" }}</title>
<link rel="shortcut icon" href="{{ call $.StaticAssetURL "favicon" }}">
<meta name="x-authgear-page-loaded-at" content="{{ .PageLoadedAt }}">
<meta name="x-intl-tel-input-only-countries" content="{{ $.AllowedPhoneCountryCodeJSON }}">
<meta name="x-intl-tel-input-preferred-countries" content="{{ $.PinnedPhoneCountryCodeJSON }}">
<meta name="x-geoip-country-code" content="{{ $.GeoIPCountryCode }}">
<meta name="x-form-json" content="{{ $.FormJSON }}" data-controller="restore-form" data-restore-form-target="metaTag">
<meta name="x-color-scheme" content="{{ $.ColorScheme }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Tell turbolinks not to use stale page for application visit -->
<!-- See https://github.com/turbolinks/turbolinks#opting-out-of-caching -->
<!-- This issue is particularly noticeable in the following situation -->
<!-- 1. Go to picture screen, see the profile picture screen -->
<!-- 2. Remove the picture screen, be redirected to profile screen -->
<!-- 3. Go back to picture screen, see the stale profile picture screen with the removed picture for a very short period -->
<!-- Stale page is still available for navigating back -->
<meta name="turbo-cache-control" content="no-preview">
<link rel="stylesheet" href="{{ call $.StaticAssetURL "tabler-icons.min.css" }}">
<link rel="stylesheet" href="{{ call $.StaticAssetURL "tailwind.css" }}">
<link rel="stylesheet" href="{{ call $.StaticAssetURL "intl-tel-input/css/intlTelInput.min.css" }}">
<link rel="stylesheet" href="{{ call $.StaticAssetURL "cropperjs/css/cropper.min.css" }}">
<link rel="stylesheet" href="{{ call $.StaticAssetURL "authgear-light-theme.css" }}">
{{ if $.DarkThemeEnabled }}
<link rel="stylesheet" href="{{ call $.StaticAssetURL "authgear-dark-theme.css" }}">
{{ end }}
<link rel="stylesheet" href="{{ call $.StaticAssetURL "authgear.css" }}">

<!-- Google Tag Manager -->
{{ if $.GoogleTagManagerContainerID }}
<script nonce="{{ $.CSPNonce }}">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ $.GoogleTagManagerContainerID }}');</script>
{{ end }}
<!-- End Google Tag Manager -->

<script src="{{ call $.StaticAssetURL "intl-tel-input/js/intlTelInput.min.js" }}"></script>
<script src="{{ call $.StaticAssetURL "intl-tel-input/js/utils.js" }}"></script>
<script src="{{ call $.StaticAssetURL "cropperjs/js/cropper.min.js" }}"></script>
<script src="{{ call $.StaticAssetURL "web-js" }}"></script>
</head>
{{ end }}
