{{ define "__modal.html" }}
<div class="modal closed" data-modal-target="modalEle">
<div class="modal-overlay" data-action="click->modal#onClickModalCancel"></div>
<div class="modal-container max-w-md">
    <div class="modal-content py-4 text-left px-6">
        <div class="flex justify-between items-center mb-5">
            <h1 class="model-title m-0 primary-txt text-xl" data-modal-target="modalTitleEle"></h1>
        </div>
        <p class="model-body mt-0 mb-5 secondary-txt" data-modal-target="modalBodyEle"></p>
        <div class="flex justify-end space-x-4">
            <button class="btn primary-btn" data-modal-target="modalActionBtnEle" data-action="click->modal#onClickModalAction"></button>
            <button class="btn light-btn" data-modal-target="modalCancelBtnEle" data-action="click->modal#onClickModalCancel"></button>
        </div>
    </div>
</div>
</div>
{{ end }}
