{{ define "__modal.html" }}
<div class="modal closed" data-modal-ele="true">
<div class="modal-overlay" data-modal-overlay-ele="true"></div>
<div class="modal-container">
    <div class="modal-content py-4 text-left px-6">
        <div class="flex justify-content-space-between align-items-center margin-b-20">
            <h1 class="model-title margin-0 primary-txt text-xl" data-modal-title-ele="true"></h1>
        </div>
        <p class="model-body margin-t-0 margin-b-20 secondary-txt" data-modal-body-ele="true"></p>
        <div class="flex justify-end gap-8">
            <button class="btn primary-btn" data-modal-action-btn-ele="true"></button>
            <button class="btn light-btn" data-modal-cancel-btn-ele="true"></button>
        </div>
    </div>
</div>
</div>
{{ end }}
