{{ define "__password_strength_meter.html" }}
<div class="{{ .ClassName }} flex flex-col space-y-2">
	<meter class="password-strength-meter" min="1" max="5" value="0" data-password-policy-target="currentMeter"></meter>
	<label class="primary-txt leading-normal text-sm" for="password-strength-meter">
		{{ template "password-policy-password-strength-label" }}
		<span
			class="password-strength-meter-description"
			data-password-policy-target="currentMeterDescription"
			data-desc-1="{{ template "password-policy-password-strength-meter-1" }}"
			data-desc-2="{{ template "password-policy-password-strength-meter-2" }}"
			data-desc-3="{{ template "password-policy-password-strength-meter-3" }}"
			data-desc-4="{{ template "password-policy-password-strength-meter-4" }}"
			data-desc-5="{{ template "password-policy-password-strength-meter-5" }}"
		></span>
	</label>
</div>
{{ end }}
