{{ define "__page_frame.html" }}
<!DOCTYPE html>
<html lang="{{ $.ResolvedLanguageTag }}">
{{ template "__html_head.html" . }}
<body class="page">

<!-- Google Tag Manager (noscript) -->
{{ if $.GoogleTagManagerContainerID }}
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.GoogleTagManagerContainerID }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
{{ end }}
<!-- End Google Tag Manager (noscript) -->

{{ template "__message_bar.html" . }}
<div id="loading-progress-bar"></div>
<div class="max-w-90 m-auto">
	<div class="grid grid-cols-6 tablet:grid-cols-12 desktop:grid-cols-12 gap-x-4 auto-rows-auto mx-4 tablet:mx-4 desktop:mx-6 margin-b-32">
		<div class="col-start-1 col-span-6 tablet:col-start-4 tablet:col-span-6 desktop:col-start-5 desktop:col-span-4">
			<div class="page-header">
				{{ template "__header.html" . }}
			</div>
		</div>
		<div class="col-start-1 col-span-6 tablet:col-start-4 tablet:col-span-6 desktop:col-start-5 desktop:col-span-4 twc-container-vertical">
			{{ template "page-content" . }}
		</div>
	</div>
</div>
{{ template "__modal.html" }}
</body>
</html>
{{ end }}
