{{ define "__password_input.html" }}
<div class="{{ .ClassName }} password-input-wrapper flex flex-row">
	<input
		tabindex="0"
		{{ if .IsNewPassword }}data-password-policy-password=""{{ end }}
		{{ if .AutoFocus }}autofocus{{ end }}
		class="input text-input primary-txt flex-1"
		type="password"
		autocomplete="new-password"
		autocapitalize="none"
		name="{{ .Name }}"
		{{ if .IsNewPassword }}
		placeholder="{{ template "new-password-placeholder" }}"
		{{ else }}
		placeholder="{{ template "confirm-password-placeholder" }}"
		{{ end }}
		data-show-password-button="{{ .Name }}-show-password-button"
		data-hide-password-button="{{ .Name }}-hide-password-button"
	>
	<button id="{{ .Name }}-show-password-button" class="w-8 flex-none" type="button" tabindex="-1" title="{{ template "show-password-label" }}">
		<i class="ti ti-eye" aria-hidden="true"></i>
	</button>
	<button id="{{ .Name }}-hide-password-button" class="w-8 flex-none hidden" type="button" tabindex="-1" title="{{ template "hide-password-label" }}">
		<i class="ti ti-eye-off" aria-hidden="true"></i>
	</button>
</div>
{{ end }}
