{{ define "__password_input.html" }}
<div class="{{ .ClassName }} password-input-wrapper flex flex-row" data-controller="password-visibility-toggle">
	<input
		tabindex="0"
		{{ if eq .Type "new-password" }}
		data-password-policy-target="input"
		data-action="password-policy#check"
		{{ end }}
		{{ if .AutoFocus }}autofocus{{ end }}
		class="text-input primary-txt flex-1"
		type="password"
		{{ if eq .Type "old-password" }}
		autocomplete="current-password"
		{{ else if eq .Type "new-password" }}
		autocomplete="new-password"
		{{ end }}
		autocapitalize="none"
		name="{{ .Name }}"
		{{ if eq .Type "old-password" }}
		placeholder="{{ template "password-placeholder" }}"
		{{ else if eq .Type "new-password" }}
		placeholder="{{ template "new-password-placeholder" }}"
		{{ else if eq .Type "confirm-password" }}
		placeholder="{{ template "confirm-password-placeholder" }}"
		{{ end }}
		data-password-visibility-toggle-target="input"
		{{ if .PasswordRules }}
		passwordrules="{{ .PasswordRules }}"
		{{ end }}
	>
	<button
		class="w-8 flex-none"
		type="button"
		tabindex="-1"
		title="{{ template "show-password-label" }}"
		data-password-visibility-toggle-target="showButton"
		data-action="password-visibility-toggle#show">
		<i class="ti ti-eye primary-txt" aria-hidden="true"></i>
	</button>
	<button
		class="w-8 flex-none hidden"
		type="button"
		tabindex="-1"
		title="{{ template "hide-password-label" }}"
		data-password-visibility-toggle-target="hideButton"
		data-action="password-visibility-toggle#hide">
		<i class="ti ti-eye-off primary-txt" aria-hidden="true"></i>
	</button>
</div>
{{ end }}
