{{ define "__password_policy.html" }}
{{ if .PasswordPolicies }}
<section class="password-policy-section">
  <p class="password-policy-title primary-txt text-sm leading-normal">
    {{ template "password-policy-title" }}
  </p>
  <ul class="password-policy-list">
  {{ range .PasswordPolicies }}
    {{ if eq .Name "PasswordTooShort" }}
    <li class="primary-txt text-sm leading-normal password-policy length {{ template "PASSWORD_POLICY_CLASS" . }}" data-min-length="{{ .Info.min_length}}">
      {{ template "password-policy-minimum-length" (dict "length" .Info.min_length) }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordUppercaseRequired" }}
    <li class="primary-txt text-sm leading-normal password-policy uppercase {{ template "PASSWORD_POLICY_CLASS" . }}">
      {{ template "password-policy-uppercase" }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordLowercaseRequired" }}
    <li class="primary-txt text-sm leading-normal password-policy lowercase {{ template "PASSWORD_POLICY_CLASS" . }}">
      {{ template "password-policy-lowercase" }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordDigitRequired" }}
    <li class="primary-txt text-sm leading-normal password-policy digit {{ template "PASSWORD_POLICY_CLASS" . }}">
      {{ template "password-policy-digit" }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordSymbolRequired" }}
    <li class="primary-txt text-sm leading-normal password-policy symbol {{ template "PASSWORD_POLICY_CLASS" . }}">
      {{ template "password-policy-symbol" }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordContainingExcludedKeywords" }}
    <li class="primary-txt text-sm leading-normal password-policy {{ template "PASSWORD_POLICY_CLASS" . }}">
      {{ template "password-policy-banned-words" }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordReused" }}
      {{ if not $.IsNew }}
      <li class="primary-txt text-sm leading-normal password-policy {{ template "PASSWORD_POLICY_CLASS" . }}">
        {{ template "password-policy-reuse" (dict "size" .Info.history_size "day" .Info.history_days) }}
      </li>
      {{ end }}
    {{ end }}
  {{ end }}
  </ul>

  {{ $password_strength_policy := false }}
  {{ $required_password_strength := 0 }}
  {{ $password_strength_css_class := "" }}

  {{ range .PasswordPolicies }}
  {{ if eq .Name "PasswordBelowGuessableLevel" }}
    {{ $password_strength_policy = . }}
    {{ $required_password_strength = .Info.min_level }}
    {{- if .Info.x_error_is_password_policy_violated -}}
    {{- if .Info.x_is_violated -}}
    {{ $password_strength_css_class = "error-txt" }}
    {{- else -}}
    {{ $password_strength_css_class = "good-txt" }}
    {{- end -}}
    {{- end -}}
  {{ end }}
  {{ end }}

  {{ if (gt $required_password_strength 0) }}
  <p class="password-policy-required-password-strength-title primary-txt text-sm leading-normal {{ $password_strength_css_class }}">
    {{ template "password-policy-required-password-strength-label" }}
  </p>
  <meter id="password-strength-meter-required" class="password-strength-meter" min="1" max="5" value="{{ $required_password_strength }}"></meter>
  <label class="primary-txt text-sm leading-normal" for="password-strength-meter-required">
    {{ template "password-policy-password-strength-label" }}
    <span class="password-strength-meter-description"
       data-value="{{ $required_password_strength }}">
    {{ if eq $required_password_strength 0 }}
    {{ template "password-policy-password-strength-meter-0" }}
    {{ end }}
    {{ if eq $required_password_strength 1 }}
    {{ template "password-policy-password-strength-meter-1" }}
    {{ end }}
    {{ if eq $required_password_strength 2 }}
    {{ template "password-policy-password-strength-meter-2" }}
    {{ end }}
    {{ if eq $required_password_strength 3 }}
    {{ template "password-policy-password-strength-meter-3" }}
    {{ end }}
    {{ if eq $required_password_strength 4 }}
    {{ template "password-policy-password-strength-meter-4" }}
    {{ end }}
    {{ if eq $required_password_strength 5 }}
    {{ template "password-policy-password-strength-meter-5" }}
    {{ end }}
    </span>
  </label>
  {{ end }}

</section>
{{ end }}
{{ end }}
{{- define "PASSWORD_POLICY_CLASS" -}}
  {{- if .Info.x_error_is_password_policy_violated -}}
    {{- if .Info.x_is_violated -}}
      error-txt
    {{- else -}}
      good-txt
    {{- end -}}
  {{- end -}}
{{- end -}}
