{{ define "__password_policy.html" }}
{{ if .PasswordPolicies }}
<div>
  <p class="m-0 primary-txt text-sm leading-normal">
    {{ template "password-policy-title" }}
  </p>
  <ul class="block m-0 p-0">
  {{ range .PasswordPolicies }}
    {{ if eq .Name "PasswordTooShort" }}
    <li class="primary-txt text-sm leading-normal block {{ template "PASSWORD_POLICY_CLASS" . }}" data-min-length="{{ .Info.min_length}}" data-password-policy-target="length item">
      {{ template "password-policy-minimum-length" (dict "length" .Info.min_length) }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordUppercaseRequired" }}
    <li class="primary-txt text-sm leading-normal block {{ template "PASSWORD_POLICY_CLASS" . }}" data-password-policy-target="uppercase item">
      {{ template "password-policy-uppercase" }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordLowercaseRequired" }}
    <li class="primary-txt text-sm leading-normal block {{ template "PASSWORD_POLICY_CLASS" . }}" data-password-policy-target="lowercase item">
      {{ template "password-policy-lowercase" }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordAlphabetRequired" }}
    <li class="primary-txt text-sm leading-normal block {{ template "PASSWORD_POLICY_CLASS" . }}" data-password-policy-target="alphabet item">
      {{ template "password-policy-alphabet" }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordDigitRequired" }}
    <li class="primary-txt text-sm leading-normal block {{ template "PASSWORD_POLICY_CLASS" . }}" data-password-policy-target="digit item">
      {{ template "password-policy-digit" }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordSymbolRequired" }}
    <li class="primary-txt text-sm leading-normal block {{ template "PASSWORD_POLICY_CLASS" . }}" data-password-policy-target="symbol item">
      {{ template "password-policy-symbol" }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordContainingExcludedKeywords" }}
    <li class="primary-txt text-sm leading-normal block {{ template "PASSWORD_POLICY_CLASS" . }}" data-password-policy-target="item" >
      {{ template "password-policy-banned-words" }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordReused" }}
      {{ if not $.IsNew }}
      <li class="primary-txt text-sm leading-normal block {{ template "PASSWORD_POLICY_CLASS" . }}" data-password-policy-target="item">
        {{ template "password-policy-reuse" (dict "size" .Info.history_size "day" .Info.history_days) }}
      </li>
      {{ end }}
    {{ end }}
  {{ end }}
  </ul>

</div>
{{ end }}
{{ end }}
{{- define "PASSWORD_POLICY_CLASS" -}}
  {{- if .Info.x_error_is_password_policy_violated -}}
    {{- if .Info.x_is_violated -}}
      error-txt
    {{- else -}}
      good-txt
    {{- end -}}
  {{- end -}}
{{- end -}}
