{{ define "__phone_otp_alternatives.html" }}
  {{ range .PhoneOTPAlternativeSteps }}
    {{ if (or (eq .Step "setup-oob-otp-sms")
              (eq .Step "setup-whatsapp-otp")
              (eq .Step "enter-oob-otp-authn-sms")
              (eq .Step "verify-whatsapp-otp-authn")
              (eq .Step "verify-identity")
              (eq .Step "verify-identity-via-whatsapp")
          ) }}
      <form method="post" novalidate>
        <input type="hidden" name="x_step_kind" value="{{ .Step }}">
        {{ range $name, $value := .Input }}
          <input type="hidden" name="{{ $name }}" value="{{ $value }}">
        {{ end }}
        <input type="hidden" name="x_action" value="choose_step"/>
        <div class="text-sm">
        <button class="btn secondary-btn" type="submit">
          {{ if (or (eq .Step "setup-oob-otp-sms") (eq .Step "enter-oob-otp-authn-sms") (eq .Step "verify-identity")) }}
            {{ template "phone-otp-verify-with-sms-instead" .Data }}
          {{ end }}
          {{ if (or (eq .Step "setup-whatsapp-otp") (eq .Step "verify-whatsapp-otp-authn") (eq .Step "verify-identity-via-whatsapp")) }}
            {{ template "phone-otp-verify-with-whatsapp-instead" .Data }}
          {{ end }}
        </button>
        </div>
      </form>
    {{ end }}
  {{ end }}
{{ end }}
