{{ define "__phone_otp_alternatives.html" }}
  {{/* Show as link by default */}}
  {{ $containerClass := "text-sm" }}
  {{ $buttonClass := "btn secondary-btn" }}
  {{ if $.buttonStyleEnabled }}
    {{ $containerClass = "text-base grid grid-cols-1 auto-rows-auto" }}
    {{ $buttonClass = "btn primary-btn outline" }}
  {{ end }}
  {{ range .PhoneOTPAlternativeSteps }}
    {{ if (or (eq .Step "setup-oob-otp-sms")
              (eq .Step "setup-whatsapp-otp")
              (eq .Step "enter-oob-otp-authn-sms")
              (eq .Step "verify-whatsapp-otp-authn")
          ) }}
      <form method="post" novalidate>
        {{ $.CSRFField }}
        <input type="hidden" name="x_step_kind" value="{{ .Step }}">
        {{ range $name, $value := .Input }}
          <input type="hidden" name="{{ $name }}" value="{{ $value }}">
        {{ end }}
        <input type="hidden" name="x_action" value="choose_step"/>
        <div class="{{ $containerClass }}">
        <button class="{{ $buttonClass }}" type="submit">
          {{ if (or (eq .Step "setup-oob-otp-sms") (eq .Step "enter-oob-otp-authn-sms")) }}
            {{ if $.buttonStyleEnabled }}
              {{ template "phone-otp-verify-with-sms-instead-button" .Data }}
            {{ else }}
              {{ template "phone-otp-verify-with-sms-instead" .Data }}
            {{ end }}
          {{ end }}
          {{ if (or (eq .Step "setup-whatsapp-otp") (eq .Step "verify-whatsapp-otp-authn")) }}
            {{ template "phone-otp-verify-with-whatsapp-instead" .Data }}
          {{ end }}
        </button>
        </div>
      </form>
    {{ end }}
  {{ end }}
{{ end }}
