{{ define "__toc_pp_footer.html" -}}
{{ $showFooter := $.Translations.HasKey "toc-pp-footer" }}
{{ $termsOnly := $.Translations.HasKey "terms-of-service-link" }}
{{ $privacyOnly := $.Translations.HasKey "privacy-policy-link" }}

{{ $variant := "" }}
{{ if and ($termsOnly) (not $privacyOnly) }}
  {{ $variant = "termsOnly" }}
{{ end }}
{{ if and ($privacyOnly) (not $termsOnly) }}
  {{ $variant = "privacyOnly" }}
{{ end }}
{{ if and ($termsOnly) ($privacyOnly) }}
  {{ $variant = "both" }}
{{ end }}
{{ if and (not $termsOnly) (not $privacyOnly) }}
  {{ $showFooter = false }}
{{ end }}

{{ if $showFooter }}
<p class="text-sm primary-txt m-0">
  {{ template "toc-pp-footer" (dict "variant" $variant
                                    "termsOfService" (.Translations.RenderText "terms-of-service-link" nil)
                                    "privacyPolicy" (.Translations.RenderText "privacy-policy-link" nil)) }}
</p>
{{ end }}
{{ end }}
