{{ define "__use_recovery_code.html" }}
    {{ range .AlternativeSteps }}
        {{ if eq .Step "enter-recovery-code" }}
            <form method="post" novalidate>
                <input type="hidden" name="x_step_kind" value="{{ .Step }}">
                {{ range $name, $value := .Input }}
                    <input type="hidden" name="{{ $name }}" value="{{ $value }}">
                {{ end }}
                <input type="hidden" name="x_action" value="choose_step"/>
                <div class="primary-txt text-sm">
                {{ if ($.Translations.HasKey "customer-support-link") }}
                    {{ template "enter-recovery-code-instead-with-customer-support-v1" (dict "customerSupportLink" ($.Translations.RenderText "customer-support-link" nil)) }}
                {{ else }}
                    {{ template "enter-recovery-code-instead-v1" }}
                {{ end }}
                </div>
            </form>
        {{ end }}
    {{ end }}
{{ end }}
