{{ define "__wide_page_frame.html" }}
<!DOCTYPE html>
<html lang="{{ $.ResolvedLanguageTag }}">
{{ template "__html_head.html" . }}
<body class="page flex flex-col">
    {{ template "__message_bar.html" . }}
    <div class="grid grid-cols-6 tablet:grid-cols-12 desktop:grid-cols-12 column-gap-16 auto-rows-auto margin-h-16 tablet:margin-h-16 desktop:margin-h-24 margin-b-32">
	<div class="col-start-1 col-span-6 tablet:col-start-3 tablet:col-span-8 desktop:col-start-4 desktop:col-span-6">
	    {{ template "__header.html" . }}
	</div>
	<div class="col-start-1 col-span-6 tablet:col-start-3 tablet:col-span-8 desktop:col-start-4 desktop:col-span-6 flex flex-col row-gap-20">
	{{ template "page-content" . }}
	</div>
    </div>
    {{ template "__modal.html" }}
</body>
</html>
{{ end }}
