{{ define "__wide_page_frame.html" }}
<!DOCTYPE html>
<html
{{ if and ($.DarkThemeEnabled) ($.DarkThemeForced) }}
	class="dark"
{{ end }}
	lang="{{ $.ResolvedLanguageTag }}"
	dir="{{ $.HTMLDir }}"
	data-controller="format-date-relative"
	data-dark-theme-enabled="{{ $.DarkThemeEnabled }}"
	data-dark-theme-forced="{{ $.DarkThemeForced }}">
{{ template "__html_head.html" . }}

<body class="page" data-controller="prevent-double-tap websocket modal simple-modal xhr-submit-form" data-action="dblclick->prevent-double-tap#action">

<!-- Google Tag Manager (noscript) -->
{{ if $.GoogleTagManagerContainerID }}
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.GoogleTagManagerContainerID }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
{{ end }}
<!-- End Google Tag Manager (noscript) -->

{{ template "__message_bar.html" . }}
<div id="loading-progress-bar"></div>
{{ template "__tutorial.html" . }}
<div class="max-w-360 m-auto">
	<div class="grid grid-cols-6 tablet:grid-cols-12 desktop:grid-cols-12 gap-x-4 auto-rows-auto mx-4 tablet:mx-4 desktop:mx-6 mb-8">
		<div class="col-start-1 col-span-6 tablet:col-start-3 tablet:col-span-8 desktop:col-start-4 desktop:col-span-6">
			{{ template "__header.html" . }}
		</div>
		<div class="col-start-1 col-span-6 tablet:col-start-3 tablet:col-span-8 desktop:col-start-4 desktop:col-span-6 twc-container-vertical">
			{{ template "page-content" . }}
		</div>
	</div>
</div>
{{ template "__modal.html" }}
</body>
</html>
{{ end }}
