{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 padding-b-20 px-6 tablet:px-8 desktop:px-8">

{{ if .Error }}
  {{ if eq .Error.reason "DisabledUser" }}
    {{ if .Error.info.reason }}
      <p class="primary-txt text-center">
        {{ template "error-disabled-user" }}
        <br>
        {{ template "error-disabled-user-reason" (dict "reason" .Error.info.reason) }}
      </p>
    {{ else }}
      <p class="primary-txt text-center">
        {{ template "error-disabled-user" }}
      </p>
    {{ end }}
  {{ end }}

  {{ if eq .Error.reason "DeactivatedUser" }}
    <p class="primary-txt text-center">
      {{ template "error-deactivated-user" }}
    </p>
  {{ end }}

  {{ if eq .Error.reason "ScheduledDeletionByAdmin" }}
    <p class="primary-txt text-center">
      {{ template "error-scheduled-deletion-by-admin" (dict "date" (ensureTime .Error.info.delete_at) "rfc3339" (rfc3339 (ensureTime .Error.info.delete_at))) }}
    </p>
  {{ end }}

  {{ if eq .Error.reason "ScheduledDeletionByEndUser" }}
    <p class="primary-txt text-center">
      {{ template "error-scheduled-deletion-by-end-user" (dict "date" (ensureTime .Error.info.delete_at) "rfc3339" (rfc3339 (ensureTime .Error.info.delete_at))) }}
    </p>
  {{ end }}

  <p class="primary-txt text-center">
    {{ if ($.Translations.HasKey "customer-support-link") }}
        {{ template "account-status-contact-support-with-link" (dict "customerSupportLink" ($.Translations.RenderText "customer-support-link" nil)) }}
    {{ else }}
        {{ template "account-status-contact-support" }}
    {{ end }}
  </p>
{{ end }}

{{ template "__watermark.html" . }}
</div>
{{ end }}
