<!DOCTYPE html>

<html
{{ if and ($.DarkThemeEnabled) (not $.LightThemeEnabled) }}
class="dark"
{{ end }}
lang="{{ $.ResolvedLanguageTag }}"
data-controller="format-date-relative"
data-dark-theme-enabled="{{ $.DarkThemeEnabled }}"
data-light-theme-enabled="{{ $.LightThemeEnabled }}">
<head>
<meta charset="UTF-8">
<title>{{ template "app.name" }}</title>
<link rel="shortcut icon" href="{{ call $.GeneratedStaticAssetURL "favicon.png" }}">
<meta name="x-authgear-page-loaded-at" content="{{ .PageLoadedAt }}">
<meta name="x-intl-tel-input-only-countries" content="{{ $.AllowedPhoneCountryCodeJSON }}">
<meta name="x-intl-tel-input-preferred-countries" content="{{ $.PinnedPhoneCountryCodeJSON }}">
<meta name="x-geoip-country-code" content="{{ $.GeoIPCountryCode }}">
<meta name="x-form-json" content="{{ $.FormJSON }}" data-controller="restore-form">
<meta name="x-color-scheme" content="{{ $.ColorScheme }}">
<meta name="x-sentry-dsn" content="{{ $.AuthUISentryDSN }}">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<!-- Tell Turbo not to use stale page for application visit -->
<!-- See https://turbo.hotwired.dev/handbook/building#opting-out-of-caching -->
<!-- This issue is particularly noticeable in the following situation -->
<!-- 1. Go to picture screen, see the profile picture screen -->
<!-- 2. Remove the picture screen, be redirected to profile screen -->
<!-- 3. Go back to picture screen, see the stale profile picture screen with the removed picture for a very short period -->
<!-- Stale page is still available for navigating back -->
<meta name="turbo-cache-control" content="no-preview">

{{ template "authflowv2/__generated_asset.html" . }}

</head>

<body class="flex flex-col items-center text-center p-8">
  <img
    class="object-contain w-47 mb-16"
    src="{{ call $.GeneratedStaticAssetURL "ag_brand_logo.svg" }}"
  />
  <i class="material-icons text-[3rem] text-[var(--color-primary-theme-primary)] mb-4">warning</i>
  <h1 class="typography-headline-small mb-2 text-[var(--color-neutral-700)]">{{ include "v2.page.app-not-found.default.title" nil }}</h1>
  <p class="typography-body-large mb-8 text-[var(--color-neutral-400)]">{{ include "v2.page.app-not-found.detault.description" nil }}</p>
  <div class="w-64 grid grid-flow-row gap-4">
    <a href="https://www.authgear.com/" class="primary-btn w-full">{{ include "v2.page.app-not-found.detault.go-to-homepage" nil }}</a>
    <a href="https://github.com/orgs/authgear/discussions/categories/get-help" class="label-btn w-full">{{ include "v2.page.app-not-found.detault.contact-support" nil }}</a>
  </div>
</body>
</html>
