{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<div class="hidden" data-controller="authflow-websocket authflow-polling" data-authflow-websocket-url-value="{{ $.WebsocketURL }}" data-authflow-polling-statetoken-value="{{ $.StateToken }}"></div>

<h1 class="m-0 primary-txt text-center text-xl font-bold">
{{- if eq $.FlowType "reauth" }}
	{{ template "login-link-otp-page-title-reauth" }}
{{- else }}
	{{ template "login-link-otp-page-title" }}
{{- end }}
</h1>

{{- if eq $.FlowType "reauth" }}
<p class="text-sm m-0 break-words secondary-txt text-center">
	{{ template "login-link-otp-tips-reauth" }}
</p>
{{- end }}

{{- if eq $.StateQuery "matched" }}
<form id="next-form" class="hidden" method="post" novalidate>
{{ $.CSRFField }}
</form>

<div class="grid grid-cols-1 auto-rows-auto bg-gray-100 dark:bg-gray-800 py-18 px-4 text-center">
	<i class="good-txt text-base ti ti-check" aria-hidden="true"></i>
	<p class="text-sm primary-txt whitespace-pre-wrap">{{ template "login-link-otp-matched-description" }}</p>
</div>
{{- if $.DeviceTokenEnabled }}
<div class="flex flex-row items-center self-start">
	<input form="next-form" class="device-token-input" id="device-token" type="checkbox" name="x_device_token" value="true">
	<label class="p-1 text-sm primary-txt" for="device-token">{{ template "create-device-token-label" }}</label>
</div>
{{- end }}
<button
	form="next-form"
	class="btn primary-btn"
	type="submit"
	name="x_action"
	value="check"
	data-authgear-event="authgear.button.redirect_login_link_result"
>
{{ template "login-link-otp-next-button-label" }}
</button>
{{- end }}

{{- if not (eq $.StateQuery "matched") }}
<div class="text-sm break-words primary-txt text-center whitespace-pre-wrap">
{{- if eq $.StateQuery "invalid_code" }}
{{ template "login-link-otp-invalid-code-description" }}
{{- else }}
{{ template "login-link-otp-initial-description" (dict "target" $.MaskedClaimValue) }}
{{- end }}
</div>

<form class="link" method="post" novalidate>
{{ $.CSRFField }}
<span class="primary-txt text-sm">{{ template "login-link-otp-resend-button-hint" }}</span>
<button
	class="btn secondary-btn text-sm"
	type="submit"
	name="x_action"
	value="resend"
	data-resend-button-cooldown-value="{{ $.ResendCooldown }}"
	data-resend-button-label-value="{{ template "login-link-otp-resend-button-label" }}"
	data-resend-button-label-unit-value="{{ template "login-link-otp-resend-button-label--unit" }}"
	data-authgear-event="authgear.button.resend_login_link_otp"
	data-controller="resend-button"
>
{{ template "login-link-otp-resend-button-label" }}
</button>
</form>

{{ template "__authflow_branch.html" . }}

{{- end }}

{{ template "__watermark.html" . }}

</div>
{{ end }}
