{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="primary-txt text-center m-0 text-xl font-bold">
  {{ if (eq .Reason "expiry") }}
    {{ template "change-password-expiry-page-title" }}
  {{ else }}
    {{ template "change-password-page-title" }}
  {{ end }}
</h1>

<div class="text-sm break-words text-center primary-txt">
  {{ if (eq .Reason "expiry") }}
    {{ template "change-password-expiry-page-description" }}
  {{ else }}
    {{ template "change-password-page-description--force" }}
  {{ end }}
</div>

<form class="twc-container-vertical" method="post" novalidate data-controller="password-policy">

{{ template "__password_input.html" (dict
	"Name" "x_new_password"
	"Type" "new-password"
	"PasswordRules" $.PasswordRulesString
) }}

{{ template "__password_input.html" (dict
	"Name" "x_confirm_password"
	"Type" "confirm-password"
) }}

{{ template "__password_strength_meter.html" }}

{{ template "__password_policy.html" . }}

<button
	class="btn primary-btn submit-btn mt-5"
	type="submit"
	name="x_action"
	value=""
	data-authgear-event="authgear.button.change_password"
>
{{ template "next-button-label" }}
</button>

</form>

{{ template "__watermark.html" . }}

</div>
{{ end }}
