{{ template "__page_frame.html" . }}

{{ define "page-content" }}

	{{ $has_oauth := false }}
	{{ $has_login_id := false }}
	{{ range $.IdentityCandidates }}
		{{ if eq .type "oauth" }}
		{{ $has_oauth = true }}
		{{ end }}
		{{ if eq .type "login_id" }}
		{{ $has_login_id = true }}
		{{ end }}
	{{ end }}
	<div class="pane flex flex-col">
		{{ if $has_login_id }}{{ if (not (or $.PublicSignupDisabled $.AllowLoginOnly)) }}
		<div class="flex flex-row">
			<a class="not-a flex items-center justify-center flex-1 py-4 signin-signup-link secondary-txt current" href="{{ call $.MakeURL "/login" "q_login_id_input_type" $.LoginIDInputType "x_step" "" }}" data-turbo-action="replace">{{ template "login-label" }}</a>
			<a class="not-a flex items-center justify-center flex-1 py-4 signin-signup-link secondary-txt" href="{{ call $.MakeURL "/signup" "q_login_id_input_type" $.LoginIDInputType "x_step" "" }}" data-turbo-action="replace">{{ template "signup-label" }}</a>
		</div>
		{{ end }}{{ end }}

		<div class="twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">
			<form
				class="twc-container-vertical"
				method="post"
				novalidate
				data-controller="retain-form-form"
				data-retain-form-form-id-value="auth-form"
				>
				{{ $.CSRFField }}

				<h1 class="m-0 primary-txt text-center text-xl font-bold">
					{{ if $.ClientName }}
					{{ template "log-in-to-continue" (dict "AppOrClientName" $.ClientName) }}
					{{ else }}
					{{ $appName := ($.Translations.RenderText "app.name" nil) }}
					{{ template "log-in-to-continue" (dict "AppOrClientName" $appName) }}
					{{ end }}
				</h1>
				<input type="hidden" name="x_login_id_input_type" value="{{ $.LoginIDInputType }}"/>

				{{ if $.LoginIDInputType }}{{ if eq $.LoginIDInputType "phone" }}{{ if $.PhoneLoginIDEnabled }}
				<input
					data-intl-tel-input="true"
					data-intl-tel-input-class-value="flex flex-row"
					class="primary-txt text-input w-full"
					tabindex="0"
					{{ if $.ShouldFocusInput }}autofocus{{ end }}
					type="text"
					inputmode="tel"
					autocomplete="tel-national username webauthn"
					autocapitalize="none"
					name="x_login_id"
					placeholder="{{ template "phone-number-placeholder" }}"
					data-controller="intl-tel-input"
					data-action="input->intl-tel-input#input countrychange->intl-tel-input#input intl-tel-input:input->retain-form-form#input"
					data-retain-form-form-target="input"
					data-retain-form-form-name-param="phone"
				>
				{{ end }}{{ end }}{{ end }}

				{{ if $.LoginIDInputType }}{{ if not (eq $.LoginIDInputType "phone") }}{{ if (or $.EmailLoginIDEnabled $.UsernameLoginIDEnabled) }}
				<input
					tabindex="0"
					{{ if $.ShouldFocusInput }}autofocus{{ end }}
					class="text-input primary-txt"
					type="{{ $.NonPhoneLoginIDInputType }}"
					autocomplete="username webauthn"
					autocapitalize="none"
					name="x_login_id"
					placeholder="{{ template "login-id-placeholder" (dict "variant" $.NonPhoneLoginIDType) }}"
					data-controller="retain-form-input"
					data-action="input->retain-form-input#input retain-form-input:input->retain-form-form#input"
					data-retain-form-form-target="input"
					data-retain-form-form-name-param="text"
				>
				{{ end }}{{ end }}{{ end }}

				<!-- This field is for Chrome and Safari to consider the above field as username for autocomplete -->
				<!-- both `class="hidden"` and `display:none` do not work for iOS autofill -->
				<input style="position: absolute; width: 0; height: 0;" aria-hidden="true" type="password" autocomplete="current-password" name="">

				{{ if $.LoginIDInputType }}{{ if eq $.LoginIDInputType "phone" }}{{ if (or $.EmailLoginIDEnabled $.UsernameLoginIDEnabled) }}
				<a class="link text-sm self-start block" href="{{ call $.MakeURL "" "q_login_id_input_type" $.NonPhoneLoginIDInputType }}" data-turbo-action="replace">{{ template "use-text-login-id-description" (dict "variant" $.NonPhoneLoginIDType) }}</a>
				{{ end }}{{ end }}{{ end }}

				{{ if $.LoginIDInputType }}{{ if not (eq $.LoginIDInputType "phone") }}{{ if $.PhoneLoginIDEnabled }}
				<a class="link text-sm self-start block" href="{{ call $.MakeURL "" "q_login_id_input_type" "phone" }}" data-turbo-action="replace">{{ template "use-phone-login-id-description" }}</a>
				{{ end }}{{ end }}{{ end }}

				{{ if not $.LoginIDDisabled }}
				<button
					class="btn primary-btn"
					type="submit"
					name="x_action"
					value="login_id"
					{{/* Modal mediation and conditional mediation cannot be present in the same page. */}}
					{{/* When a page has a pending conditional mediation promise, the modal mediation promise will always be */}}
					{{/* rejected with a NotAllowedError immediately after invocation. */}}
					{{/* Therefore, in this page, we opt-out for Turbo form submission. */}}
					{{/* Then the next page can use modal mediation normally. */}}
					data-turbo="false"
					data-authgear-event="authgear.button.sign_in"
				>{{ template "login-label" }}</button>
				{{ end }}

				{{/* Forgot password link is deliberately omitted here. */}}
			</form>

			{{/* Separator */}}

			{{ if (and $has_login_id (or $has_oauth $.PasskeyEnabled)) }}
			<div class="alternative-separator flex flex-row items-center">
				<span class="primary-txt mx-1.5 text-sm">{{ template "sso-login-id-separator-both-present" }}</span>
			</div>
			{{ end }}

			{{ if or $has_oauth $.PasskeyEnabled }}
			<div class="grid grid-cols-1 auto-rows-auto gap-y-2">
				{{ if $.PasskeyEnabled }}
				<div class="flex flex-col"
					data-controller="authflow-passkey-request"
					data-authflow-passkey-request-options-value="{{ $.PasskeyRequestOptionsJSON }}"
					data-authflow-passkey-request-auto-value="false">
					<button class="btn passkey-btn"
						type="button"
						data-action="click->authflow-passkey-request#use"
						data-authflow-passkey-request-target="button"
						data-authgear-event="authgear.button.use_passkey"
						disabled>
						<span class="passkey-btn-content">
							<div class="passkey-btn-icon authgear-icons authgear-icons-passkey"></div>
							<span class="text-base">
								{{ template "sign-in-with-passkey" }}
							</span>
						</span>
					</button>
					<form class="hidden" method="post" novalidate>
					{{ $.CSRFField }}
					<input type="hidden" name="x_assertion_response" data-authflow-passkey-request-target="input">
					<button type="submit" class="hidden" name="x_action" value="passkey" data-authflow-passkey-request-target="submit"></button>
					</form>
				</div>
				{{ end }}
				{{ range $.IdentityCandidates }}
				{{ if eq .type "oauth" }}
				<form class="flex flex-col" method="post" data-turbo="false" novalidate>
				{{ $.CSRFField }}
				{{ $skip := false }}
				{{- if (and (eq .provider_type "wechat") (eq .provider_app_type "mobile") (not $.IsNativePlatform)) -}}
				{{ $skip = true }}
				{{ end }}
				{{- if (and (eq .provider_type "wechat") (eq .provider_app_type "web") ($.IsNativePlatform)) -}}
				{{ $skip = true }}
				{{ end }}
				{{- if not $skip -}}
				<button
					class="btn sso-btn {{ .provider_type }}"
					type="submit"
					name="x_action"
					value="oauth"
					data-turbo="false"
					data-authgear-event="authgear.button.oauth"
				>
					<input type="hidden" name="x_provider_alias" value="{{ .provider_alias }}">
					<span class="sso-btn-content">
					{{- $icon_class := printf "%s-icon" .provider_type -}}
					{{- if eq .provider_type "azureadv2" -}}
					{{- $icon_class = "microsoft-icon" }}
					{{- end -}}
					{{- if eq .provider_type "azureadb2c" -}}
					{{- $icon_class = "microsoft-icon" }}
					{{- end -}}
					{{- if eq .provider_type "adfs" -}}
					{{- $icon_class = "microsoft-icon" }}
					{{- end -}}

					<div class="sso-btn-icon {{ $icon_class }}"></div>
					<span class="text-base">{{ $.Translations.RenderText (printf "oauth-branding-%s" .provider_type) nil }}</span>
					</span>
				</button>
				</form>
				{{ end }}
				{{ end }}
				{{ end }}
			</div>
			{{ end }}

			{{ template "__toc_pp_footer.html" . }}

			{{ template "__watermark.html" . }}

		</div>
	</div>

{{ end }}
