{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="m-0 primary-txt text-center text-xl font-bold">{{ template "reset-password-success-page-title" }}</h1>

<div class="text-sm break-words primary-txt text-center">{{ template "reset-password-success-description" }}</div>

{{ if .CanBackToSignIn }}
<a class="as-btn not-a btn primary-btn mt-5" href="{{ call $.MakeURL "/login" "x_step" "" "x_can_back_to_login" "" }}">{{ template "login-button-label--reset-password-success-page" }}</a>
{{ end }}

{{ template "__watermark.html" . }}
</div>
{{ end }}
