{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="m-0 primary-txt text-center text-xl font-bold">
<div class="whatsapp-icon w-6 h-6 inline-block align-sub" ></div>
	{{ template "forgot-password-whatsapp-otp-page-title" }}
</h1>

{{- if $.MaskedClaimValue }}{{- if $.CodeLength }}
<div class="text-sm break-words primary-txt text-center">
{{ template "forgot-password-whatsapp-otp-description" (dict "length" $.CodeLength "target" $.MaskedClaimValue) }}
</div>
{{- end }}{{- end }}

<form id="main-form" class="twc-container-vertical" method="post" novalidate>

<input
	tabindex="0"
	{{ if $.ShouldFocusInput }}autofocus{{ end }}
	class="text-input primary-txt"
	type="text"
	inputmode="numeric"
	pattern="[0-9]*"
	autocomplete="one-time-code"
	autocapitalize="none"
	name="x_code"
	placeholder="{{ template "forgot-password-whatsapp-otp-placeholder" }}"
	{{ if $.FailedAttemptRateLimitExceeded }}disabled{{ end }}
>

</form>

<form class="link" method="post" novalidate>
<span class="primary-txt text-sm">
{{ if not $.FailedAttemptRateLimitExceeded }}
{{ template "forgot-password-whatsapp-otp-resend-button-hint" }}
{{ else }}
{{ template "forgot-password-whatsapp-otp-resend-button-rate-limited-hint" }}
{{ end }}
</span>
<button
	id="resend-button"
	class="btn secondary-btn text-sm"
	type="submit"
	name="x_action"
	value="resend"
	data-resend-button-cooldown-value="{{ $.ResendCooldown }}"
	data-resend-button-label-value="{{ template "forgot-password-whatsapp-otp-resend-button-label" }}"
	data-resend-button-label-unit-value="{{ template "forgot-password-whatsapp-otp-resend-button-label--unit" }}"
	data-authgear-event="authgear.button.resend_whatsapp_otp"
	data-controller="resend-button"
>
{{ template "forgot-password-whatsapp-otp-resend-button-label" }}
</button>
</form>

<button
	form="main-form"
	class="btn primary-btn mt-5"
	type="submit"
	name="x_action"
	value="submit"
	{{ if $.FailedAttemptRateLimitExceeded }}disabled{{ end }}
	data-authgear-event="authgear.button.enter_forgot_password_whatsapp_otp"
	data-action-button
>
{{ template "next-button-label" }}
</button>

{{ template "__authflow_forgot_password_alternatives.html" . }}

{{ template "__watermark.html" . }}

</div>
{{ end }}
