{{ template "__page_frame.html" . }}

{{ define "page-content" }}

{{ $is_reauth := (eq $.FlowType "reauth") }}
{{ $is_verify := (eq $.FlowActionType "verify") }}
{{ $is_email := (eq $.Channel "email") }}

<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="m-0 primary-txt text-center text-xl font-bold">
{{- if $is_reauth }}
	{{- if $is_email }}
		{{ template "oob-otp-page-title-reauth--email" }}
	{{- else }}
		{{ template "oob-otp-page-title-reauth--sms" }}
	{{- end }}
{{- else if $is_verify }}
	{{- if $is_email }}
		{{ template "verify-user-page-title--email" }}
	{{- else }}
		{{ template "verify-user-page-title--sms" }}
	{{- end }}
{{- else }}
	{{- if $is_email }}
		{{ template "oob-otp-page-title--email" }}
	{{- else }}
		{{ template "oob-otp-page-title--sms" }}
	{{- end }}
{{- end }}
</h1>

{{- if $.MaskedClaimValue }}{{- if $.CodeLength }}
<div class="text-sm break-words primary-txt text-center">
{{- if $is_verify }}
	{{ template "verify-user-description" (dict "length" $.CodeLength "target" $.MaskedClaimValue) }}
{{- else }}
	{{ template "oob-otp-description" (dict "length" $.CodeLength "target" $.MaskedClaimValue) }}
{{- end }}
</div>
{{- end }}{{- end }}

{{- if $is_reauth }}
<p class="text-sm m-0 break-words secondary-txt text-center">
	{{ template "oob-otp-tips-reauth" }}
</p>
{{- end }}

<form id="main-form" class="twc-container-vertical" method="post" novalidate>

<input
	tabindex="0"
	{{ if $.ShouldFocusInput }}autofocus{{ end }}
	class="text-input primary-txt"
	type="text"
	inputmode="numeric"
	pattern="[0-9]*"
	autocomplete="one-time-code"
	autocapitalize="none"
	name="x_code"
	{{ if $is_verify }}
	placeholder="{{ template "verify-user-placeholder" }}"
	{{ else }}
	placeholder="{{ template "oob-otp-placeholder" }}"
	{{ end }}
	{{ if $.FailedAttemptRateLimitExceeded }}disabled{{ end }}
>

{{ if $.DeviceTokenEnabled }}
<div class="flex flex-row items-center self-start">
<input class="device-token-input" id="device-token" type="checkbox" name="x_device_token" value="true">
<label class="p-1 text-sm primary-txt" for="device-token">{{ template "create-device-token-label" }}</label>
</div>
{{ end }}
</form>

<form class="link" method="post" novalidate>
<span class="primary-txt text-sm">
{{- if not $.FailedAttemptRateLimitExceeded }}
	{{- if $is_verify }}
		{{ template "verify-user-resend-button-hint" }}
	{{- else }}
		{{ template "oob-otp-resend-button-hint" }}
	{{- end }}
{{- else }}
	{{- if $is_verify }}
		{{ template "verify-user-resend-button-rate-limited-hint" }}
	{{- else }}
		{{ template "oob-otp-resend-button-rate-limited-hint" }}
	{{- end }}
{{- end }}
</span>
<button
	id="resend-button"
	class="btn secondary-btn text-sm"
	type="submit"
	name="x_action"
	value="resend"
	data-resend-button-cooldown-value="{{ $.ResendCooldown }}"
	{{ if $is_verify }}
	data-resend-button-label-value="{{ template "verify-user-resend-button-label" }}"
	data-resend-button-label-unit-value="{{ template "verify-user-resend-button-label--unit" }}"
	data-authgear-event="authgear.button.resend_verification_code"
	{{ else }}
	data-resend-button-label-value="{{ template "oob-otp-resend-button-label" }}"
	data-resend-button-label-unit-value="{{ template "oob-otp-resend-button-label--unit" }}"
	data-authgear-event="authgear.button.resend_oob_otp"
	{{ end }}
	data-controller="resend-button"
>
{{- if $is_verify }}
	{{ template "verify-user-resend-button-label" }}
{{- else }}
	{{ template "oob-otp-resend-button-label" }}
{{- end }}
</button>
</form>

<button
	form="main-form"
	class="btn primary-btn mt-5"
	type="submit"
	name="x_action"
	value="submit"
	{{ if $.FailedAttemptRateLimitExceeded }}disabled{{ end }}
	{{ if $is_verify }}
	data-authgear-event="authgear.button.enter_verification_code"
	{{ else }}
	data-authgear-event="authgear.button.enter_oob_otp"
	{{ end }}
	data-action-button
>
{{ template "next-button-label" }}
</button>

{{ template "__authflow_branch.html" . }}

{{ template "__watermark.html" . }}

</div>

{{ end }}
