{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<form class="twc-container-vertical" method="post" novalidate>

<h1 class="primary-txt text-center m-0 text-xl font-bold">{{ template "forgot-password-page-title" }}</h1>

{{ $isCode := (eq $.OTPForm "code") }}

{{ if $.LoginIDInputType }}{{ if eq $.LoginIDInputType "phone" }}{{ if $.PhoneLoginIDEnabled }}
{{ if $.LoginID }}
<div class="text-sm break-words primary-txt text-center">
  {{ if $isCode }}
    {{ template "forgot-password-send-to-phone-description--code" }}
  {{ else }}
    {{ template "forgot-password-send-to-phone-description--link" }}
  {{ end }}
</div>
<input type="hidden" name="x_login_id" value="{{ $.LoginID }}">
<p class="text-sm font-bold primary-txt m-0 text-center">{{ $.LoginID }}</p>
{{ else }}
<div class="text-sm break-words primary-txt text-center">
  {{ if $isCode }}
    {{ template "forgot-password-phone-description--code" }}
  {{ else }}
    {{ template "forgot-password-phone-description--link" }}
  {{ end }}
</div>
<input
  data-intl-tel-input="true"
  data-intl-tel-input-class-value="flex flex-row"
  class="mb-5 primary-txt text-input w-full"
  tabindex="0"
  {{ if $.ShouldFocusInput }}autofocus{{ end }}
  type="text"
  inputmode="tel"
  autocomplete="tel-national"
  autocapitalize="none"
  name="x_login_id"
  placeholder="{{ template "phone-number-placeholder" }}"
  data-controller="intl-tel-input"
  data-action="input->intl-tel-input#input countrychange->intl-tel-input#input"
>
{{ end }}
<input type="hidden" name="x_login_id_type" value="phone">
{{ end }}{{ end }}{{ end }}

{{ if (not (eq $.LoginIDInputType "phone")) }}{{ if $.EmailLoginIDEnabled }}
{{ if $.LoginID }}
<div class="text-sm break-words primary-txt text-center">
  {{ if $isCode }}
    {{ template "forgot-password-send-to-email-description--code" }}
  {{ else }}
    {{ template "forgot-password-send-to-email-description--link" }}
  {{ end }}
</div>
<input type="hidden" name="x_login_id" value="{{ $.LoginID }}">
<p class="text-sm font-bold primary-txt m-0 text-center">{{ $.LoginID }}</p>
{{ else }}
<div class="text-sm break-words primary-txt text-center">
  {{ if $isCode }}
    {{ template "forgot-password-email-description--code" }}
  {{ else }}
    {{ template "forgot-password-email-description--link" }}
  {{ end }}
</div>
<input
  tabindex="0"
  {{ if $.ShouldFocusInput }}autofocus{{ end }}
  class="text-input primary-txt"
  type="{{ $.LoginIDInputType }}"
  autocomplete="username"
  autocapitalize="none"
  name="x_login_id"
  placeholder="{{ template "email-placeholder" }}"
>
{{ end }}
<input type="hidden" name="x_login_id_type" value="email">
{{ end }}{{ end }}

{{ if ne $.LoginIDInputType "email" }}{{ if $.EmailLoginIDEnabled }}
<a class="link text-sm self-start" href="{{ call $.MakeURL "" "q_login_id_input_type" "email" }}" data-turbo-action="replace">{{ template "use-email-login-id-description" }}</a>
{{ end }}{{ end }}

{{ if ne $.LoginIDInputType "phone" }}{{ if $.PhoneLoginIDEnabled }}
<a class="link text-sm self-start" href="{{ call $.MakeURL "" "q_login_id_input_type" "phone" }}" data-turbo-action="replace">{{ template "use-phone-login-id-description" }}</a>
{{ end }}{{ end }}

{{ if not $.LoginIDDisabled }}
<button
  class="btn primary-btn submit-btn"
  type="submit"
  name="x_action"
  value=""
  data-authgear-event="authgear.button.send_reset_password_code"
>
{{ if $isCode }}
  {{- template "forgot-password-send-button-label--code" -}}
{{ else }}
  {{- template "forgot-password-send-button-label--link" -}}
{{ end }}
</button>
{{ end }}

</form>

{{ template "__watermark.html" . }}
</div>

{{ end }}
