{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="primary-txt text-center m-0 text-xl font-bold">
	{{ if eq $.AuthenticationStage "secondary" }}
		{{ if eq $.FlowType "reauth" }}
			{{ template "enter-additional-password-page-title-reauth" }}
		{{ else }}
			{{ template "enter-additional-password-page-title" }}
		{{ end }}
	{{ else }}
		{{ if eq $.FlowType "reauth" }}
			{{ template "enter-password-page-title-reauth" }}
		{{ else }}
			{{ template "enter-password-page-title" }}
		{{ end }}
	{{ end }}
</h1>

{{ if eq $.FlowType "reauth" }}
	<p class="text-sm m-0 break-words secondary-txt text-center">
		{{ if eq $.AuthenticationStage "secondary" }}
			{{ template "enter-password-page-tips-additional-password-reauth" }}
		{{ else }}
			{{ template "enter-password-page-tips-password-reauth" }}
		{{ end }}
	</p>
{{ end }}

<form id="main-form" class="twc-container-vertical" method="post" novalidate>
{{ $.CSRFField }}

<!-- This field is for Chrome and Safari to correctly associate the username with the password -->
<!-- both `class="hidden"` and `display:none` do not work for iOS autofill -->
<!-- The hash of the style attribute is sha256-fOghyYcDMsLl/lf7piKeVgEljdV7IgqwGymlDo5oDhU= -->
{{ if $.PasswordManagerUsername }}
<input style="position:absolute;width:0;height:0;" aria-hidden="true" type="text" autocomplete="username" name="" value="{{ $.PasswordManagerUsername }}">
{{ end }}

{{ template "__password_input.html" (dict
	"Name" "x_password"
	"Type" "old-password"
	"AutoFocus" $.ShouldFocusInput
) }}

{{ if $.DeviceTokenEnabled }}
<div class="flex flex-row items-center self-start">
	<input class="device-token-input" id="device-token" type="checkbox" name="x_device_token" value="true">
	<label class="px-1 text-sm primary-txt" for="device-token">{{ template "create-device-token-label" }}</label>
</div>
{{ end }}
</form>

<!-- This page for entering password. So if the user reaches this page normally, forgot password link should be provided -->
{{ if eq $.AuthenticationStage "primary" }}
<a class="link text-sm self-start" href="{{ call $.MakeURL "/authflow/forgot_password" "q_login_id_input_type" $.ForgotPasswordInputType "q_login_id" $.ForgotPasswordLoginID "x_step" "" }}">{{ template "forgot-password-button-label--enter-password-page" }}</a>
{{ end }}

<button
	form="main-form"
	class="btn primary-btn mt-5"
	type="submit"
	name="x_action"
	value=""
	data-authgear-event="authgear.button.enter_password"
	data-action-button
>{{ template "next-button-label" }}</button>

{{ template "__authflow_branch.html" . }}

{{ template "__watermark.html" . }}
</div>

{{ end }}
