{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="m-0 primary-txt text-center text-xl font-bold">
{{- if eq $.AuthenticationStage "primary" }}
	{{ template "create-password-page-title" }}
{{- else if eq $.AuthenticationStage "secondary" }}
	{{ template "create-additional-password-page-title" }}
{{- end }}
</h1>

<form class="twc-container-vertical" method="post" novalidate data-controller="password-policy">
{{ $.CSRFField }}

<!-- This field is for Chrome and Safari to correctly associate the username with the password -->
<!-- The hash of the style attribute is sha256-0EZqoz+oBhx7gF4nvY2bSqoGyy4zLjNF+SDQXGp/ZrY= -->
{{ if $.PasswordManagerUsername }}
<input style="display:none;" aria-hidden="true" type="text" autocomplete="username" name="" value="{{ $.PasswordManagerUsername }}">
{{ end }}

{{ template "__password_input.html" (dict
	"Name" "x_password"
	"Type" "new-password"
	"AutoFocus" $.ShouldFocusInput
	"PasswordRules" $.PasswordRulesString
) }}

{{ template "__password_input.html" (dict
	"Name" "x_confirm_password"
	"Type" "confirm-password"
) }}

{{ template "__password_strength_meter.html" }}

{{ template "__password_policy.html" . }}

<button
	class="btn primary-btn mt-5"
	type="submit"
	name="x_action"
	value=""
	data-authgear-event="authgear.button.create_password"
>
{{ template "next-button-label" }}
</button>

</form>

{{ template "__authflow_branch.html" . }}

{{ template "__watermark.html" . }}

</div>
{{ end }}
