{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="m-0 primary-txt text-center text-xl font-bold">
{{- if eq $.FlowType "reauth" }}
	{{ template "use-passkey-page-title-reauth" }}
{{- else }}
	{{ template "use-passkey-page-title" }}
{{- end }}
</h1>

{{- if eq $.FlowType "reauth" }}
<p class="text-sm m-0 break-words secondary-txt text-center">
	{{ template "use-passkey-tips-reauth" }}
</p>
{{- end }}

<div
	class="twc-container-vertical"
	data-controller="authflow-passkey-request"
	data-authflow-passkey-request-options-value="{{ $.PasskeyRequestOptionsJSON }}"
	data-authflow-passkey-request-auto-value="true"
>
<button
	class="btn primary-btn my-5"
	type="button"
	data-action="click->authflow-passkey-request#use"
	data-authflow-passkey-request-target="button"
	data-authgear-event="authgear.button.use_passkey"
>
{{ template "use-passkey-label" }}
</button>

{{ template "__authflow_branch.html" . }}

<form class="hidden" method="post" novalidate>
{{ $.CSRFField }}
<input type="hidden" name="x_assertion_response" data-authflow-passkey-request-target="input">
<button type="submit" class="hidden" name="x_action" value="" data-authflow-passkey-request-target="submit"></button>
</form>

</div>

{{ template "__watermark.html" . }}

</div>
{{ end }}
