{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="m-0 primary-txt text-center text-xl font-bold">{{ template "wechat-auth-title" }}</h1>

{{ if $.IsNativePlatform }}
{{ if $.WechatRedirectURI }}
<p class="text-sm break-words m-0 primary-txt text-center">{{ template "wechat-auth-with-app-description" }}</p>

<form class="twc-container-vertical my-5" data-controller="click-to-switch" method="post" novalidate>

<a class="as-btn not-a btn primary-btn"
    href="{{ $.WechatRedirectURI }}"
    data-turbo-action="replace"
    data-click-to-switch-target="clickToHide"
    data-action="click-to-switch#click"
>
{{ template "wechat-open-app" }}
</a>

<button
    class="btn primary-btn wechat hidden"
    type="submit"
    name="x_action"
    value=""
    data-is-refresh-link="true"
    data-click-to-switch-target="clickToShow"
>
{{ template "wechat-proceed" }}
</button>

</form>
{{ end }}
{{ else }}
<p class="text-sm break-words m-0 primary-txt text-center">{{ template "wechat-auth-with-qr-code-description" }}</p>

<img class="w-48 place-self-center" src="{{ $.ImageURI }}">
{{ end }}

{{ template "__watermark.html" . }}
</div>
{{ end }}
