{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="m-0 primary-txt text-center text-xl font-bold">{{ template "prompt-create-passkey-page-title" }}</h1>

<i class="authgear-icons authgear-icons-passkey text-3xl block primary-txt text-center" aria-hidden="true"></i>

<div class="text-sm break-words primary-txt text-center">{{ template "prompt-create-passkey-page-description" }}</div>

<div
	class="twc-container-vertical"
	data-controller="authflow-passkey-creation"
	data-authflow-passkey-creation-options-value="{{ $.CreationOptionsJSON }}"
	>
	<div class="flex flex-col space-y-2">
		<button
			class="btn primary-btn"
			type="button"
			data-action="click->authflow-passkey-creation#create"
			data-authflow-passkey-creation-target="button"
			data-authgear-event="authgear.button.create_passkey"
		>{{ template "create-passkey-label" }}</button>
		<form method="post" novalidate>
			<button class="block w-full btn secondary-btn px-5 py-1.5 text-center" type="submit" name="x_action" value="skip">
				{{ template "prompt-create-passkey-skip-label" }}
			</button>
		</form>
	</div>

	<form class="hidden" method="post" novalidate>
	<input type="hidden" name="x_attestation_response" data-authflow-passkey-creation-target="input">
	<button type="submit" class="hidden" name="x_action" value="" data-authflow-passkey-creation-target="submit"></button>
	</form>
</div>

{{ template "__watermark.html" . }}

</div>
{{ end }}
