{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

{{ $showForm := true }}
{{ if .Error }}
	{{ if eq .Error.reason "PasswordResetFailed" }}
		<h1 class="primary-txt m-0 text-center text-xl font-bold">
			{{ template "error-password-reset-failed" }}
		</h1>
		{{ $showForm = false }}
	{{ end }}
{{ end }}

{{ if $showForm }}
<form class="twc-container-vertical" method="post" novalidate data-controller="password-policy">

<h1 class="m-0 primary-txt text-center text-xl font-bold">{{ template "reset-password-page-title" }}</h1>

<div class="text-sm break-words primary-txt text-center">{{ template "reset-password-description" }}</div>

{{ template "__password_input.html" (dict
	"Name" "x_password"
	"Type" "new-password"
	"AutoFocus" $.ShouldFocusInput
	"PasswordRules" $.PasswordRulesString
) }}

{{ template "__password_input.html" (dict
	"Name" "x_confirm_password"
	"Type" "confirm-password"
) }}

{{ template "__password_strength_meter.html" }}

{{ template "__password_policy.html" . }}

<button
	class="btn primary-btn submit-btn mt-5"
	type="submit"
	name="x_action"
	value=""
	data-authgear-event="authgear.button.reset_password"
>{{ template "next-button-label" }}</button>

</form>
{{ end }}

{{ template "__watermark.html" . }}
</div>
{{ end }}
