{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
<div class="pane flex flex-col">
{{ template "__nav_bar.html" }}
<form class="flex flex-col width-full margin-v-20" method="post" novalidate>
{{ $.CSRFField }}

<h1 class="primary-txt text-center margin-t-0 margin-b-10 text-xl font-bold">{{ template "change-secondary-password-page-title" }}</h1>

<div class="text-sm break-words primary-txt text-center margin-b-20">{{ template "change-secondary-password-page-description" }}</div>

<input
	id="old_password"
	tabindex="0"
	autofocus
	class="input text-input primary-txt margin-b-20"
	type="password"
	autocomplete="current-password"
	autocapitalize="none"
	name="x_old_password"
	placeholder="{{ template "password-placeholder" }}"
>

<input
	id="new_password"
	tabindex="0"
	data-password-policy-password=""
	class="input text-input primary-txt margin-b-20"
	type="password"
	autocomplete="new-password"
	autocapitalize="none"
	name="x_new_password"
	placeholder="{{ template "new-password-placeholder" }}"
>

<!-- https://www.chromium.org/developers/design-documents/form-styles-that-chromium-understands -->
<input
	class="input text-input primary-txt margin-b-20"
	tabindex="0"
	type="password"
	autocomplete="new-password"
	autocapitalize="none"
	name="x_confirm_password"
	placeholder="{{ template "confirm-password-placeholder" }}"
>

<meter id="password-strength-meter" class="password-strength-meter margin-b-20" min="1" max="5" value="0"></meter>
<label class="primary-txt text-sm leading-normal" for="password-strength-meter">
	{{ template "password-policy-password-strength-label" }}
	<span id="password-strength-meter-description" class="password-strength-meter-description"
	      data-desc-1="{{ template "password-policy-password-strength-meter-1" }}"
	      data-desc-2="{{ template "password-policy-password-strength-meter-2" }}"
	      data-desc-3="{{ template "password-policy-password-strength-meter-3" }}"
	      data-desc-4="{{ template "password-policy-password-strength-meter-4" }}"
	      data-desc-5="{{ template "password-policy-password-strength-meter-5" }}"
	      ></span>
</label>

<div class="margin-b-20">
{{ template "__password_policy.html" . }}
</div>

<button class="btn primary-btn submit-btn margin-b-20" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>

</form>

<div class="footer-watermark margin-v-20"></div>
</div>
</div>
{{ end }}
