{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
<div class="pane flex flex-col">
{{ template "__nav_bar.html" }}
<div class="flex flex-col width-full margin-v-20">

<h1 class="primary-txt text-center margin-t-20 margin-b-10 text-xl font-bold">{{ template "change-password-page-title" }}</h1>

<form class="flex flex-col" method="post" novalidate>
{{ $.CSRFField }}

<div class="text-sm break-words text-center margin-t-0 margin-b-20 primary-txt">
	{{ if $.Force }}
	{{ template "change-password-page-description--force" }}
	{{ else }}
	{{ template "change-password-page-description" }}
	{{ end }}
</div>

{{ if not $.Force }}
<input
	id="old_password"
	tabindex="0"
	autofocus
	class="input text-input primary-txt margin-b-20"
	type="password"
	autocomplete="current-password"
	autocapitalize="none"
	name="x_old_password"
	placeholder="{{ template "password-placeholder" }}"
>
{{ end }}

<div class="password-input-wrapper margin-b-20">
	<input
		id="new_password"
		tabindex="0"
		data-password-policy-password=""
		class="input text-input primary-txt"
		type="password"
		autocomplete="new-password"
		autocapitalize="none"
		name="x_new_password"
		placeholder="{{ template "new-password-placeholder" }}"
	>
	<button class="show-password-button" type="button" tabindex="-1" title="{{ template "show-password-label" }}">
		<i class="ti ti-eye" aria-hidden="true"></i>
	</button>
	<button class="hide-password-button" type="button" tabindex="-1" title="{{ template "hide-password-label" }}">
		<i class="ti ti-eye-off" aria-hidden="true"></i>
	</button>
</div>

<div class="password-input-wrapper margin-b-20">
	<!-- https://www.chromium.org/developers/design-documents/form-styles-that-chromium-understands -->
	<input
		class="input text-input primary-txt"
		tabindex="0"
		type="password"
		autocomplete="new-password"
		autocapitalize="none"
		name="x_confirm_password"
		placeholder="{{ template "confirm-password-placeholder" }}"
	>
	<button class="show-password-button" type="button" title="{{ template "show-password-label" }}">
		<i class="ti ti-eye" aria-hidden="true"></i>
	</button>
	<button class="hide-password-button" type="button" title="{{ template "hide-password-label" }}">
		<i class="ti ti-eye-off" aria-hidden="true"></i>
	</button>
</div>

<meter id="password-strength-meter" class="password-strength-meter margin-b-20" min="1" max="5" value="0"></meter>
<label class="primary-txt text-sm leading-normal" for="password-strength-meter">
	{{ template "password-policy-password-strength-label" }}
	<span id="password-strength-meter-description" class="password-strength-meter-description"
	      data-desc-1="{{ template "password-policy-password-strength-meter-1" }}"
	      data-desc-2="{{ template "password-policy-password-strength-meter-2" }}"
	      data-desc-3="{{ template "password-policy-password-strength-meter-3" }}"
	      data-desc-4="{{ template "password-policy-password-strength-meter-4" }}"
	      data-desc-5="{{ template "password-policy-password-strength-meter-5" }}"
	      ></span>
</label>

<div class="margin-b-20">
{{ template "__password_policy.html" . }}
</div>

<button class="btn primary-btn submit-btn margin-b-20" type="submit" name="x_action" value="">{{ template "next-button-label" }}</button>

</form>
</div>

<div class="margin-t-20">{{ template "__watermark.html" . }}</div>
</div>
</div>
{{ end }}
