{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical padding-t-32 padding-b-20 px-6 tablet:padding-h-32 desktop:padding-h-32">

<h1 class="primary-txt text-center m-0 text-xl font-bold">{{ template "change-password-page-title" }}</h1>

<form class="twc-container-vertical" method="post" novalidate>
{{ $.CSRFField }}

<div class="text-sm break-words text-center primary-txt">
	{{ if $.Force }}
	{{ template "change-password-page-description--force" }}
	{{ else }}
	{{ template "change-password-page-description" }}
	{{ end }}
</div>

{{ if not $.Force }}
<input
	id="old_password"
	tabindex="0"
	autofocus
	class="input text-input primary-txt"
	type="password"
	autocomplete="current-password"
	autocapitalize="none"
	name="x_old_password"
	placeholder="{{ template "password-placeholder" }}"
>
{{ end }}

{{ template "__password_input.html" (dict
	"Name" "x_new_password"
	"IsNewPassword" true
) }}

{{ template "__password_input.html" (dict
	"Name" "x_confirm_password"
	"IsNewPassword" false
) }}

{{ template "__password_strength_meter.html" }}

{{ template "__password_policy.html" . }}

<button
	class="btn primary-btn submit-btn mt-5"
	type="submit"
	name="x_action"
	value=""
	data-authgear-event="authgear.button.change_password"
>{{ template "next-button-label" }}</button>

</form>

{{ template "__watermark.html" . }}
</div>
{{ end }}
