{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane flex flex-col">

<div class="flex flex-col width-full margin-v-20">

<h1 class="primary-txt text-center margin-t-20 margin-b-10 text-xl font-bold">{{ template "change-password-page-title" }}</h1>

<form class="flex flex-col" method="post" novalidate>
{{ $.CSRFField }}

<div class="text-sm break-words text-center margin-t-0 margin-b-20 primary-txt">
	{{ if $.Force }}
	{{ template "change-password-page-description--force" }}
	{{ else }}
	{{ template "change-password-page-description" }}
	{{ end }}
</div>

{{ if not $.Force }}
<input
	id="old_password"
	tabindex="0"
	autofocus
	class="input text-input primary-txt margin-b-20"
	type="password"
	autocomplete="current-password"
	autocapitalize="none"
	name="x_old_password"
	placeholder="{{ template "password-placeholder" }}"
>
{{ end }}

{{ template "__password_input.html" (dict
	"ClassName" "margin-b-20"
	"Name" "x_new_password"
	"IsNewPassword" true
) }}

{{ template "__password_input.html" (dict
	"ClassName" "margin-b-20"
	"Name" "x_confirm_password"
	"IsNewPassword" false
) }}

{{ template "__password_strength_meter.html" }}

<div class="margin-b-20">
{{ template "__password_policy.html" . }}
</div>

<button class="btn primary-btn submit-btn margin-b-20" type="submit" name="x_action" value="">{{ template "next-button-label" }}</button>

</form>
</div>

<div class="margin-t-20">{{ template "__watermark.html" . }}</div>
</div>
{{ end }}
