{{ template "__page_frame.html" . }} {{ define "page-content" }}
<div
  class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8"
>
  <h2 class="primary-txt text-center m-0 text-xl font-bold">
    {{ template "confirm-terminate-other-sessions-hint" }}
  </h2>
  <div class="flex flex-col">
    <form class="block mt-5" method="post" novalidate>
      <button
        class="btn primary-btn w-full block"
        type="submit"
        name="x_response"
        value="confirm"
        data-authgear-event="authgear.button.confirm_terminate_other_sessions"
      >
        {{ template "confirm-terminate-other-sessions-continue-button-label" }}
      </button>
    </form>
    <form class="block mt-4 mb-1" method="post" novalidate>
      <button
        class="btn secondary-btn w-full block"
        type="submit"
        name="x_response"
        value="cancel"
        data-authgear-event="authgear.button.cancel_terminate_other_sessions"
      >
        {{ template "confirm-terminate-other-sessions-cancel-button-label" }}
      </button>
    </form>
  </div>
  {{ template "__watermark.html" . }}
</div>
{{ end }}
