{{ template "__page_frame.html" . }} {{ define "page-content" }}
<div
  class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8"
>
  <h1 class="m-0 primary-txt text-center text-xl font-bold">
    {{ template "connect-web3-account-page-title" }}
  </h1>

  <div class="text-sm break-words primary-txt text-center">
    {{ template "connect-web3-account-page-description" (dict "provider"
    ($.Translations.RenderText (printf "web3-provider-%s" $.Provider) nil)) }}
  </div>

  <div
    class="twc-container-vertical"
  >
    <div class="flex flex-col space-y-5 items-center">
      <div class="flex flex-row space-x-2 items-center">
        <div
          class="w-5 h-5 rounded-full"
        ></div>
        <span
          class="text-xl leading-6 font-semibold primary-txt"
          >-</span
        >
      </div>
      <form class="flex flex-col items-center w-full" method="post" novalidate>
        {{ $.CSRFField }}
        <input
          class="hidden"
          name="x_siwe_message"
          type="hidden"
        />
        <input
          class="hidden"
          name="x_siwe_signature"
        />
        <button
          class="hidden"
          type="submit"
          name="x_action"
          value="submit"
        ></button>
        <button
          class="w-full btn primary-btn px-5 py-1.5 text-center"
          type="button"
        >
          {{ template "connect-web3-account-page-next" }}
        </button>
      </form>
    </div>
  </div>

  <div class="text-sm break-words primary-txt text-center">
    {{ template "connect-web3-account-page-change-account" (dict "provider"
    ($.Translations.RenderText (printf "web3-provider-%s" $.Provider) nil)) }}
  </div>

  {{ template "__watermark.html" . }}
</div>
{{ end }}
