{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">
  <h1 class="m-0 primary-txt text-center text-xl font-bold">
    {{ template "consent-title" (dict "clientName" $.ClientName) }}
  </h1>

  <div class="primary-txt text-center flex flex-row justify-center py-2">
    <i class="ti ti-user text-4xl leading-10"></i>
    <span class="ml-2 truncate text-base leading-10">
      {{ template "consent-display-name" $.UserProfile }}
    </span>
  </div>

  {{ if $.Scopes }}
    <div class="text-sm break-words primary-txt text-center">
      {{ template "consent-scopes-label" (dict "clientName" $.ClientName) }}
    </div>

    <ul class="list-disc list-inside">
      {{ if (has "https://authgear.com/scopes/full-userinfo" $.Scopes) }}
        <li class="text-sm break-words primary-txt">
          {{ template "consent-scopes-full-userinfo" }}
        </li>
      {{ end }}

      {{ if (has "profile" $.Scopes) }}
        <li class="text-sm break-words primary-txt">
          {{ template "consent-scopes-profile" }}
        </li>
      {{ end }}

      {{ if (has "email" $.Scopes) }}
        <li class="text-sm break-words primary-txt">
          {{ template "consent-scopes-email" }}
        </li>
      {{ end }}

      {{ if (has "phone" $.Scopes) }}
        <li class="text-sm break-words primary-txt">
          {{ template "consent-scopes-phone" }}
        </li>
      {{ end }}

      {{ if (has "address" $.Scopes) }}
        <li class="text-sm break-words primary-txt">
          {{ template "consent-scopes-address" }}
        </li>
      {{ end }}
    </ul>
  {{ end }}

  {{ if (and $.ClientPolicyURI $.ClientTOSURI) }}
    <div class="text-sm primary-txt">
      {{ template "consent-policy-and-tos-link-desc" (dict "clientName" $.ClientName "policyURI" $.ClientPolicyURI "tosURI" $.ClientTOSURI) }}
    </div>
  {{ else if $.ClientPolicyURI }}
    <div class="text-sm primary-txt">
      {{ template "consent-policy-link-desc" (dict "clientName" $.ClientName "policyURI" $.ClientPolicyURI) }}
    </div>
  {{ else if $.ClientTOSURI }}
    <div class="text-sm primary-txt">
      {{ template "consent-tos-link-desc" (dict "clientName" $.ClientName "tosURI" $.ClientTOSURI) }}
    </div>
  {{ end }}

  <form method="post" novalidate>
    {{ $.CSRFField }}
    <button
      class="btn primary-btn w-full mt-3"
      type="submit"
      name="x_action"
      value="consent"
      data-turbo="false"
      data-authgear-event="authgear.button.consent_allow"
    >{{ template "consent-allow-button-label" }}</button>
  </form>

  <form method="post" novalidate>
    {{ $.CSRFField }}
    <button
      class="btn primary-btn outline w-full"
      type="submit"
      name="x_action"
      value="cancel"
      data-turbo="false"
      data-authgear-event="authgear.button.consent_cancel"
    >{{ template "consent-cancel-button-label" }}</button>
  </form>

  {{ template "__watermark.html" . }}
</div>
{{ end }}
