{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
<div class="pane flex flex-direction-column">
{{ template "__nav_bar.html" }}
<div class="flex flex-direction-column width-full margin-v-20">

<h1 class="font-inherit margin-b-20 primary-txt text-center">
	{{ if eq $.AuthenticationStage "primary" }}
		{{ template "create-password-page-title" }}
	{{ else if eq $.AuthenticationStage "secondary" }}
		{{ template "create-additional-password-page-title" }}
	{{ end }}
</h1>

<form class="flex flex-direction-column" method="post" novalidate>
{{ $.CSRFField }}

{{ if $.IdentityDisplayID }}
<!-- This field is for Chrome and Safari to correctly associate the username with the password -->
<input style="display: none" aria-hidden="true" type="text" autocomplete="username" name="" value="{{ $.IdentityDisplayID }}">
{{ end }}

<input type="hidden" name="x_stage" value="{{ $.AuthenticationStage }}">

<div class="password-input-wrapper margin-b-20">
	<input
		id="password"
		tabindex="0"
		autofocus
		data-password-policy-password=""
		class="input text-input primary-txt"
		type="password"
		autocomplete="new-password"
		autocapitalize="none"
		name="x_password"
		placeholder="{{ template "new-password-placeholder" }}"
	>
	<button class="show-password-button" type="button" tabindex="-1" title="{{ template "show-password-label" }}">
		<i class="fas fa-eye" aria-hidden="true"></i>
	</button>
	<button class="hide-password-button" type="button" tabindex="-1" title="{{ template "hide-password-label" }}">
		<i class="fas fa-eye-slash" aria-hidden="true"></i>
	</button>
</div>

<div class="password-input-wrapper margin-b-20">
	<!-- https://www.chromium.org/developers/design-documents/form-styles-that-chromium-understands -->
	<input
		tabindex="0"
		class="input text-input primary-txt"
		type="password"
		autocomplete="new-password"
		autocapitalize="none"
		name="x_confirm_password"
		placeholder="{{ template "confirm-password-placeholder" }}"
	>
	<button class="show-password-button" type="button" title="{{ template "show-password-label" }}">
		<i class="fas fa-eye" aria-hidden="true"></i>
	</button>
	<button class="hide-password-button" type="button" title="{{ template "hide-password-label" }}">
		<i class="fas fa-eye-slash" aria-hidden="true"></i>
	</button>
</div>

<meter id="password-strength-meter" class="password-strength-meter margin-b-20" min="1" max="5" value="0"></meter>
<label class="primary-txt leading-normal font-smaller" for="password-strength-meter">
	{{ template "password-policy-password-strength-label" }}
	<span id="password-strength-meter-description" class="password-strength-meter-description"
	      data-desc-1="{{ template "password-policy-password-strength-meter-1" }}"
	      data-desc-2="{{ template "password-policy-password-strength-meter-2" }}"
	      data-desc-3="{{ template "password-policy-password-strength-meter-3" }}"
	      data-desc-4="{{ template "password-policy-password-strength-meter-4" }}"
	      data-desc-5="{{ template "password-policy-password-strength-meter-5" }}"
	      ></span>
</label>

<div class="margin-b-20">
{{ template "__password_policy.html" . }}
</div>

<button class="btn primary-btn margin-b-20" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>

</form>

<div>
{{ template "__alternatives.html" . }}
</div>

</div>
<div class="footer-watermark margin-v-20"></div>
</div>
</div>
{{ end }}