{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="m-0 primary-txt text-center text-xl font-bold">
	{{ template "create-passkey-page-title" }}
</h1>

<i class="authgear-icons authgear-icons-passkey text-3xl block primary-txt text-center" aria-hidden="true"></i>

<div class="text-sm break-words primary-txt text-center">{{ template "prompt-create-passkey-page-description" }}</div>

<div class="twc-container-vertical" data-controller="passkey-creation">
<button
	class="btn primary-btn"
	type="button"
	data-action="click->passkey-creation#create"
	data-passkey-creation-target="button"
	data-authgear-event="authgear.button.create_passkey"
>{{ template "create-passkey-label" }}</button>

<form class="hidden" method="post" novalidate>
<input type="hidden" name="x_stage" value="{{ $.AuthenticationStage }}">
<input type="hidden" name="x_attestation_response" data-passkey-creation-target="input">
<button type="submit" class="hidden" name="x_action" value="" data-passkey-creation-target="submit"></button>
</form>

</div>

{{ template "__watermark.html" . }}
</div>
{{ end }}
