{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane flex flex-col">

<div class="flex flex-col width-full margin-v-20">

<h1 class="margin-v-20 primary-txt text-center text-xl font-bold">
	{{ if eq $.AuthenticationStage "primary" }}
		{{ template "create-password-page-title" }}
	{{ else if eq $.AuthenticationStage "secondary" }}
		{{ template "create-additional-password-page-title" }}
	{{ end }}
</h1>

<form class="flex flex-col" method="post" novalidate>
{{ $.CSRFField }}

{{ if $.IdentityDisplayID }}
<!-- This field is for Chrome and Safari to correctly associate the username with the password -->
<input style="display: none" aria-hidden="true" type="text" autocomplete="username" name="" value="{{ $.IdentityDisplayID }}">
{{ end }}

<input type="hidden" name="x_stage" value="{{ $.AuthenticationStage }}">

{{ template "__password_input.html" (dict
	"ClassName" "margin-b-20"
	"Name" "x_password"
	"IsNewPassword" true
	"AutoFocus" true
) }}

{{ template "__password_input.html" (dict
	"ClassName" "margin-b-20"
	"Name" "x_confirm_password"
	"IsNewPassword" false
) }}

{{ template "__password_strength_meter.html" }}

<div class="margin-b-20">
{{ template "__password_policy.html" . }}
</div>

<button class="btn primary-btn margin-b-20" type="submit" name="x_action" value="">{{ template "next-button-label" }}</button>

</form>

<div>
{{ template "__alternatives.html" . }}
</div>

</div>
<div class="margin-t-20">{{ template "__watermark.html" . }}</div>
</div>
{{ end }}