<!DOCTYPE html>
<html>
{{ template "__html_head.html" . }}
<body class="page">
<div class="content">

{{ template "__header.html" . }}

{{ template "__nav_bar.html" }}

<div class="simple-form vertical-form form-fields-container pane">

<h1 class="title primary-txt">{{ template "enter-recovery-code-title" }}</h1>

{{ template "__error.html" . }}

<p class="description primary-txt">{{ template "enter-recovery-code-description" }}</p>

<form class="vertical-form form-fields-container" method="post" novalidate>
{{ $.CSRFField }}

<input
	class="input text-input primary-txt"
	type="text"
	autocomplete="one-time-code"
	autocapitalize="characters"
	name="x_code"
	placeholder="{{ template "enter-recovery-code-placeholder" }}"
>

<button class="btn primary-btn align-self-flex-end" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>

</form>

{{ template "__alternatives.html" . }}

</div>

</div>
</body>
</html>
