{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
{{ template "__nav_bar.html" }}

<div class="pane margin-6 flex flex-direction-column">
<div class="padding-6 flex flex-direction-column">

{{ if $.OOBOTPChannel }}
{{ if eq $.OOBOTPChannel "sms" }}
<h1 class="font-inherit margin-10 primary-txt">{{ template "oob-otp-page-title--sms" }}</h1>
{{ end }}
{{ if eq $.OOBOTPChannel "email" }}
<h1 class="font-inherit margin-10 primary-txt">{{ template "oob-otp-page-title--email" }}</h1>
{{ end }}
{{ end }}

{{ if $.OOBOTPTarget }}
<div class="font-smaller overflow-wrap-break-word primary-txt margin-10">{{ template "oob-otp-description" (dict "length" $.OOBOTPCodeLength "target" $.OOBOTPTarget) }}</div>
{{ end }}

<form class="flex flex-direction-column" method="post" novalidate>
{{ $.CSRFField }}

<input
	tabindex="0"
	autofocus
	class="input text-input primary-txt margin-10"
	type="text"
	inputmode="numeric"
	pattern="[0-9]*"
	autocomplete="one-time-code"
	autocapitalize="none"
	name="x_code"
	placeholder="{{ template "oob-otp-placeholder" }}"
>

{{ if $.CanRequestDeviceToken }}
<div class="flex flex-direction-row align-items-center align-self-flex-start margin-10">
<input class="device-token-input" id="device-token" type="checkbox" name="x_device_token" value="true">
<label class="padding-4 font-smaller primary-txt" for="device-token">{{ template "create-device-token-label" }}</label>
</div>
{{ end }}

<button class="btn primary-btn align-self-flex-end margin-10" type="submit" name="x_action" value="submit">{{ template "next-button-label" }}</button>

</form>

<div class="margin-10">
{{ template "__alternatives.html" . }}
</div>

<form class="link margin-10" method="post" novalidate>
{{ $.CSRFField }}

<span class="primary-txt font-smaller">{{ template "oob-otp-resend-button-hint" }}</span>
<button id="resend-button" class="btn secondary-btn font-smaller" type="submit" name="x_action" value="resend"
	data-cooldown="{{ $.OOBOTPCodeSendCooldown }}"
	data-label="{{ template "oob-otp-resend-button-label" }}"
	data-label-unit="{{ template "oob-otp-resend-button-label--unit" }}">{{ template "oob-otp-resend-button-label" }}</button>
</form>

</div>
</div>

</div>
{{ end }}
