{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
<div class="pane flex flex-col">
{{ template "__nav_bar.html" }}
<div class="flex flex-col width-full margin-v-20">

<h1 class="primary-txt text-center margin-t-0 margin-b-20 text-xl font-bold">{{ template "enter-password-page-title" }}</h1>

<form class="flex flex-col" method="post" novalidate>
{{ $.CSRFField }}

<!-- This field is for Chrome and Safari to correctly associate the username with the password -->
<input style="display: none" aria-hidden="true" type="text" autocomplete="username" name="" value="{{ $.IdentityDisplayID }}">

<input type="hidden" name="x_stage" value="{{ $.AuthenticationStage }}">

<input
	tabindex="0"
	autofocus
	id="password"
	class="input text-input primary-txt margin-b-20"
	type="password"
	autocomplete="current-password"
	autocapitalize="none"
	name="x_password"
	placeholder="{{ template "password-placeholder" }}"
>

{{ if $.CanRequestDeviceToken }}
<div class="flex flex-row items-center self-start margin-b-20">
	<input class="device-token-input" id="device-token" type="checkbox" name="x_device_token" value="true">
	<label class="padding-h-4 text-sm primary-txt" for="device-token">{{ template "create-device-token-label" }}</label>
</div>
{{ end }}

<!-- This page for entering password. So if the user reaches this page normally, forgot password link should be provided -->
{{ if .ForgotPasswordInputType }}
<a class="link text-sm self-start margin-b-20" href="{{ call $.MakeURL "/forgot_password" "x_login_id_input_type" $.ForgotPasswordInputType "x_login_id" $.ForgotPasswordLoginID "x_calling_code" $.ForgotPasswordCallingCode "x_national_number" $.ForgotPasswordNational }}">{{ template "forgot-password-button-label--enter-password-page" }}</a>
{{ end }}

<button class="btn primary-btn margin-b-20" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>

</form>

<div>
{{ template "__alternatives.html" . }}
</div>
</div>

<div class="footer-watermark margin-v-20"></div>
</div>
</div>
{{ end }}
