{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="primary-txt text-center m-0 text-xl font-bold">
	{{ if eq $.AuthenticationStage "secondary" }}
		{{ template "enter-additional-password-page-title" }}
	{{ else }}
		{{ template "enter-password-page-title" }}
	{{ end }}
</h1>

<form id="main-form" class="twc-container-vertical" method="post" novalidate>
{{ $.CSRFField }}

<!-- This field is for Chrome and Safari to correctly associate the username with the password -->
{{ if $.IdentityDisplayID }}
<input style="display: none" aria-hidden="true" type="text" autocomplete="username" name="" value="{{ $.IdentityDisplayID }}">
{{ end }}

<input type="hidden" name="x_stage" value="{{ $.AuthenticationStage }}">

{{ template "__password_input.html" (dict
	"Name" "x_password"
	"Type" "old-password"
	"AutoFocus" true
) }}

{{ if $.CanRequestDeviceToken }}
<div class="flex flex-row items-center self-start">
	<input class="device-token-input" id="device-token" type="checkbox" name="x_device_token" value="true">
	<label class="px-1 text-sm primary-txt" for="device-token">{{ template "create-device-token-label" }}</label>
</div>
{{ end }}
</form>

<!-- This page for entering password. So if the user reaches this page normally, forgot password link should be provided -->
{{ if eq $.AuthenticationStage "primary" }}{{ if .ForgotPasswordInputType }}
<a class="link text-sm self-start" href="{{ call $.MakeURL "/forgot_password" "x_login_id_input_type" $.ForgotPasswordInputType "x_login_id" $.ForgotPasswordLoginID }}">{{ template "forgot-password-button-label--enter-password-page" }}</a>
{{ end }}{{ end }}

{{ template "__use_recovery_code.html" . }}

<button
	form="main-form"
	class="btn primary-btn mt-5"
	type="submit"
	name="x_action"
	value=""
	data-authgear-event="authgear.button.enter_password"
>{{ template "next-button-label" }}</button>

{{ template "__alternatives.html" . }}

{{ template "__watermark.html" . }}
</div>
{{ end }}
