<!DOCTYPE html>
<html>
{{ template "__html_head.html" . }}
<body class="page">
<div class="content">

{{ template "__header.html" . }}

{{ template "__nav_bar.html" }}

<div class="simple-form vertical-form form-fields-container pane">

<h1 class="title primary-txt">{{ template "enter-password-page-title" }}</h1>

{{ template "__error.html" . }}

<form class="vertical-form form-fields-container" method="post" novalidate>
{{ $.CSRFField }}

<!-- This field is for Chrome and Safari to correctly associate the username with the password -->
<input style="display: none" aria-hidden="true" type="text" autocomplete="username" name="" value="{{ $.IdentityDisplayID }}">

<input
	id="password"
	class="input text-input primary-txt"
	type="password"
	autocomplete="current-password"
	autocapitalize="none"
	name="x_password"
	placeholder="{{ template "password-placeholder" }}"
>

{{ if $.CanRequestDeviceToken }}
<div class="device-token-control align-self-flex-start">
<input class="device-token-input" id="device-token" type="checkbox" name="x_device_token" value="true">
<label class="device-token-label primary-txt" for="device-token">{{ template "create-device-token-label" }}</label>
</div>
{{ end }}

<button class="btn primary-btn align-self-flex-end" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>

<!-- This page for entering password. So if the user reaches this page normally, forgot password link should be provided -->
{{ if .ForgotPasswordInputType }}
<a class="link font-smaller align-self-flex-start" href="{{ call $.MakeURL "/forgot_password" "x_login_id_input_type" $.ForgotPasswordInputType "x_login_id" $.ForgotPasswordLoginID "x_calling_code" $.ForgotPasswordCallingCode "x_national_number" $.ForgotPasswordNational }}">{{ template "forgot-password-button-label--enter-password-page" }}</a>
{{ end }}


</form>

{{ template "__alternatives.html" . }}

</div>

</div>
</body>
</html>
