{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical padding-t-32 padding-b-20 padding-h-24 tablet:padding-h-32 desktop:padding-h-32">

<h1 class="margin-0 primary-txt text-center text-xl font-bold">{{ template "enter-recovery-code-title" }}</h1>

<p class="text-sm break-words margin-0 primary-txt text-center">{{ template "enter-recovery-code-description" }}</p>

<form class="twc-container-vertical" method="post" novalidate>
{{ $.CSRFField }}

<input
	tabindex="0"
	autofocus
	class="input text-input primary-txt"
	type="text"
	autocomplete="one-time-code"
	autocapitalize="characters"
	name="x_recovery_code"
	placeholder="{{ template "enter-recovery-code-placeholder" }}"
>

<button
	class="btn primary-btn margin-t-20"
	type="submit"
	name="x_action"
	value=""
	data-authgear-event="authgear.button.enter_recovery_code"
>{{ template "next-button-label" }}</button>

</form>

{{ template "__alternatives.html" . }}

{{ template "__watermark.html" . }}
</div>
{{ end }}
