{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical padding-t-32 padding-b-20 padding-h-24 tablet:padding-h-32 desktop:padding-h-32">

<h1 class="margin-0 primary-txt text-center text-xl font-bold">
	{{ if $.IdentityID }}
	{{ template "enter-login-id-page-title--change" (dict "key" $.LoginIDKey) }}
	{{ else }}
	{{ template "enter-login-id-page-title--add" (dict "key" $.LoginIDKey) }}
	{{ end }}
</h1>

{{ if $.IdentityID }}
<p class="text-sm margin-0 break-words secondary-txt text-center">
	{{ template "enter-login-id-page-description--change" (dict "key" $.LoginIDKey "displayID" $.DisplayID) }}
</p>
{{ end }}

<form id="main-form" class="twc-container-vertical" method="post" novalidate>

{{ $.CSRFField }}

{{ if eq .LoginIDInputType "phone" }}
<input
	data-intl-tel-input="true"
	data-intl-tel-input-class="flex flex-row"
	class="primary-txt input text-input w-full"
	tabindex="0"
	autofocus
	type="text"
	inputmode="tel"
	autocomplete="tel-national"
	autocapitalize="none"
	name="x_login_id"
	placeholder="{{ template "phone-number-placeholder" }}"
>
{{ else }}
<input
	tabindex="0"
	autofocus
	class="input text-input primary-txt"
	type="{{ .LoginIDInputType }}"
	autocomplete="username"
	autocapitalize="none"
	name="x_login_id"
	placeholder="{{ template "login-id-placeholder" (dict "variant" .LoginIDType) }}"
>
{{ end }}

<div class="flex flex-col row-gap-8 margin-t-20">
	<button form="main-form" class="btn primary-btn" type="submit" name="x_action" value="add_or_update">{{ template "next-button-label" }}</button>

	{{ if .IdentityID }}{{ if gt $.IdentityCount 1 }}
	<button form="remove-form" class="btn secondary-btn text-left text-sm" type="submit" name="x_action" value="remove">
		{{ if eq .LoginIDType "username" }}
		{{ template "remove-button-label" }}
		{{ else }}
		{{ template "disconnect-button-label" }}
		{{ end }}
	</button>
	{{ end }}{{ end }}
</div>

</form>

<form id="remove-form" class="hidden" method="post" novalidate>
{{ $.CSRFField }}
</form>

{{ template "__watermark.html" . }}
</div>
{{ end }}
