{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
<div class="pane flex flex-col">
{{ template "__nav_bar.html" }}
<div class="flex flex-col width-full margin-v-20">

<h1 class="margin-t-0 margin-b-10 primary-txt text-center text-xl font-bold">
	{{ if $.IdentityID }}
	{{ template "enter-login-id-page-title--change" (dict "key" $.LoginIDKey) }}
	{{ else }}
	{{ template "enter-login-id-page-title--add" (dict "key" $.LoginIDKey) }}
	{{ end }}
</h1>

{{ if $.IdentityID }}
<p class="text-sm margin-t-0 margin-b-10 break-words secondary-txt text-center">
	{{ template "enter-login-id-page-description--change" (dict "key" $.LoginIDKey "displayID" $.DisplayID) }}
</p>
{{ end }}

<form id="main-form" class="flex flex-col margin-t-10" method="post" novalidate>

{{ $.CSRFField }}

{{ if eq .LoginIDInputType "phone" }}
<div class="phone-input margin-b-20">
	<select class="select primary-txt" name="x_calling_code">
		{{ range $.CountryCallingCodes }}
		<option
			value="{{ . }}"
			{{ if $.x_calling_code }}{{ if eq $.x_calling_code . }}
			selected
			{{ end }}{{ end }}
			>
			+{{ . }}
		</option>
		{{ end }}
	</select>
	<input
		tabindex="0"
		autofocus
		class="input text-input primary-txt"
		type="text"
		inputmode="numeric"
		pattern="[0-9]*"
		autocomplete="tel-national"
		autocapitalize="none"
		name="x_national_number"
		placeholder="{{ template "phone-number-placeholder" }}"
	>
</div>
{{ else }}
<input
	tabindex="0"
	autofocus
	class="input text-input primary-txt margin-b-20"
	type="{{ .LoginIDInputType }}"
	autocomplete="username"
	autocapitalize="none"
	name="x_login_id"
	placeholder="{{ template "login-id-placeholder" (dict "variant" .LoginIDType) }}"
>
{{ end }}


<button form="main-form" class="btn primary-btn margin-b-20" type="submit" name="x_action" value="add_or_update">{{ template "next-button-label" }}</button>

{{ if .IdentityID }}{{ if gt $.IdentityCount 1 }}
<button form="remove-form" class="btn secondary-btn margin-b-20 text-left text-sm" type="submit" name="x_action" value="remove">
	{{ if eq .LoginIDType "username" }}
	{{ template "remove-button-label" }}
	{{ else }}
	{{ template "disconnect-button-label" }}
	{{ end }}
</button>
{{ end }}{{ end }}

</form>

<form id="remove-form" class="hidden" method="post" novalidate>
{{ $.CSRFField }}
</form>

</div>

<div class="margin-t-20">{{ template "__watermark.html" . }}</div>
</div>
</div>
{{ end }}