<!DOCTYPE html>
<html>
{{ template "__html_head.html" . }}
<body class="page">
{{ template "__message_bar.html" . }}
<div class="content">
{{ template "__nav_bar.html" }}

<div class="pane margin-6 flex flex-direction-column">
{{ template "__header.html" . }}
<div class="padding-6 flex flex-direction-column">

<h1 class="font-inherit margin-10 primary-txt">{{ template "enter-totp-title" }}</h1>

<p class="font-smaller overflow-wrap-break-word primary-txt margin-10">{{ template "enter-totp-description" }}</p>

<form class="flex flex-direction-column" method="post" novalidate>
{{ $.CSRFField }}

<input
	tabindex="0"
	autofocus
	class="input text-input primary-txt margin-10"
	type="text"
	inputmode="numeric"
	pattern="[0-9]*"
	autocomplete="one-time-code"
	autocapitalize="none"
	name="x_code"
	placeholder="{{ template "enter-totp-code-placeholder" }}"
>

{{ if $.CanRequestDeviceToken }}
<div class="flex flex-direction-row align-items-center align-self-flex-start margin-10">
<input class="device-token-input" id="device-token" type="checkbox" name="x_device_token" value="true">
<label class="padding-4 font-smaller primary-txt" for="device-token">{{ template "create-device-token-label" }}</label>
</div>
{{ end }}

<button class="btn primary-btn align-self-flex-end margin-10" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>

</form>

<div class="margin-10">
{{ template "__alternatives.html" . }}
</div>

</div>
</div>

</div>
</body>
</html>
