{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
<div class="pane flex flex-col">
{{ template "__nav_bar.html" }}
<div class="flex flex-col width-full margin-v-20">

<h1 class="text-center margin-t-20 margin-b-10 text-xl font-bold">{{ template "enter-totp-title" }}</h1>

<p class="text-sm break-words primary-txt text-center margin-t-0 margin-b-20">{{ template "enter-totp-description" }}</p>

<form class="flex flex-col" method="post" novalidate>
{{ $.CSRFField }}

<input
	tabindex="0"
	autofocus
	class="input text-input primary-txt margin-b-20"
	type="text"
	inputmode="numeric"
	pattern="[0-9]*"
	autocomplete="one-time-code"
	autocapitalize="none"
	name="x_totp_code"
	placeholder="{{ template "enter-totp-code-placeholder" }}"
>

{{ if $.CanRequestDeviceToken }}
<div class="flex flex-row items-center self-start margin-b-20">
<input class="device-token-input" id="device-token" type="checkbox" name="x_device_token" value="true">
<label class="padding-4 text-sm primary-txt" for="device-token">{{ template "create-device-token-label" }}</label>
</div>
{{ end }}

<button class="btn primary-btn margin-b-20" type="submit" name="x_action" value="">{{ template "next-button-label" }}</button>

</form>

<div>
{{ template "__alternatives.html" . }}
</div>

</div>
<div class="margin-t-20">{{ template "__watermark.html" . }}</div>
</div>
</div>
{{ end }}
