{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical padding-t-32 padding-b-20 px-6 tablet:px-8 desktop:px-8">

<h1 class="m-0 primary-txt text-center text-xl font-bold">
	{{ if $.IdentityID }}
	{{ template "enter-login-id-page-title--change" (dict "key" $.LoginIDKey) }}
	{{ else }}
	{{ template "enter-login-id-page-title--add" (dict "key" $.LoginIDKey) }}
	{{ end }}
</h1>

{{ if $.IdentityID }}
<p class="text-sm m-0 break-words secondary-txt text-center">
	{{ template "enter-login-id-page-description--change" (dict "key" $.LoginIDKey "displayID" $.DisplayID) }}
</p>
{{ end }}

<form id="main-form" class="twc-container-vertical" method="post" novalidate>

{{ $.CSRFField }}

{{ if eq .LoginIDInputType "phone" }}
<input
	data-intl-tel-input="true"
	data-intl-tel-input-class="flex flex-row"
	class="primary-txt input text-input w-full"
	tabindex="0"
	autofocus
	type="text"
	inputmode="tel"
	autocomplete="tel-national"
	autocapitalize="none"
	name="x_login_id"
	placeholder="{{ template "phone-number-placeholder" }}"
>
{{ else }}
<input
	tabindex="0"
	autofocus
	class="input text-input primary-txt"
	type="{{ .LoginIDInputType }}"
	autocomplete="username"
	autocapitalize="none"
	name="x_login_id"
	placeholder="{{ template "login-id-placeholder" (dict "variant" .LoginIDType) }}"
>
{{ end }}

<div class="grid grid-cols-1 auto-rows-auto gap-y-2 mt-5">
	<button
		form="main-form"
		class="btn primary-btn"
		type="submit"
		name="x_action"
		value="add_or_update"
		data-authgear-event="authgear.button.change_login_id"
	>{{ template "next-button-label" }}</button>

	{{ if .IdentityID }}{{ if gt $.IdentityCount 1 }}
	<button
		form="remove-form"
		class="btn secondary-btn text-left text-sm"
		type="submit"
		name="x_action"
		value="remove"
		data-authgear-event="authgear.button.remove_login_id"
	>
		{{ if eq .LoginIDType "username" }}
		{{ template "remove-button-label" }}
		{{ else }}
		{{ template "disconnect-button-label" }}
		{{ end }}
	</button>
	{{ end }}{{ end }}
</div>

</form>

<form id="remove-form" class="hidden" method="post" novalidate>
{{ $.CSRFField }}
</form>

{{ template "__watermark.html" . }}
</div>
{{ end }}
