{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<main class="content">
{{ template "__nav_bar.html" true }}

<div class="pane margin-6 flex flex-direction-column">
{{ template "__header.html" . }}
<div class="padding-6 flex flex-direction-column">
{{ if .Error }}
{{ if eq .Error.reason "WebUIInvalidSession" }}
    {{ if len .SessionStepURLs }}
        {{ template "error-web-ui-invalid-session-return" }}
        <a class="as-btn not-a btn primary-btn" href="{{ last .SessionStepURLs }}" data-turbolinks="false">
            {{ template "error-web-ui-invalid-session-action" }}
        </a>
    {{ else }}
        {{ template "error-web-ui-invalid-session-retry" }}
        <a class="as-btn not-a btn primary-btn" href="/" data-turbolinks="false">
            {{ template "error-web-ui-invalid-session-action" }}
        </a>
    {{ end }}
{{ else if eq .Error.reason "WebHookDisallowed" }}
{{ $error_reason := index .Error.info.reasons 0 }}
<h1 class="font-inherit primary-txt margin-10">
{{ if $error_reason.title }}
    {{ $error_reason.title }}
{{ else }}
    <!-- title is not provided, use default title -->
    {{ if eq .Error.info.event_type "pre_signup" }}
        {{ template "error-webhook-pre-signup-disallowed" }}
    {{ else }}
        {{ template "error-webhook-disallowed" }}
    {{ end }}
{{ end }}
</h1>
<p class="font-smaller overflow-wrap-break-word primary-txt margin-10">{{ $error_reason.reason }}</p>
<a class="as-btn not-a btn primary-btn margin-10" href="/" data-turbolinks="false">
    {{ template "error-webhook-disallowed-action" }}
</a>
{{ else }}
<h1 class="font-inherit primary-txt margin-10">{{ template "error-server" }}</h1>
{{ end }}
{{ end }}
</div>
</div>
</main>
{{ end }}