{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="primary-txt pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

{{ if .Error }}
{{ if eq .Error.reason "WebUIInvalidSession" }}
    {{ if len .SessionStepURLs }}
        <div class="text-center text-sm">
            {{ template "error-web-ui-invalid-session-return" }}
        </div>
        <a class="as-btn not-a btn primary-btn my-5" href="{{ last .SessionStepURLs }}" data-turbo="false">
            {{ template "error-web-ui-invalid-session-action" }}
        </a>
    {{ else }}
        <div class="text-center text-sm">
            {{ template "error-web-ui-invalid-session-retry" }}
        </div>
        <a class="as-btn not-a btn primary-btn my-5" href="/" data-turbo="false">
            {{ template "error-web-ui-invalid-session-action" }}
        </a>
    {{ end }}
{{ else }}
<h1 class="primary-txt m-0 text-center text-xl font-bold">{{ template "error-server" }}</h1>
{{ end }}
{{ end }}

{{ template "__watermark.html" . }}
</div>
{{ end }}