{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
<div class="pane flex flex-col">
{{ template "__nav_bar.html" }}
<div class="flex flex-col width-full margin-v-20">

<h1 class="primary-txt margin-v-20 text-center text-xl font-bold">{{ template "forgot-password-success-page-title" }}</h1>

<div class="text-sm break-words primary-txt margin-b-20 text-center">{{ template "forgot-password-success-description" (dict "target" $.GivenLoginID) }}</div>

<a class="as-btn not-a btn primary-btn margin-b-20" href="{{ .RedirectURI }}">{{ template "login-button-label--forgot-password-success-page" }}</a>

</div>
<div class="footer-watermark margin-v-20"></div>
</div>
</div>
{{ end }}