{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="primary-txt m-0 text-center text-xl font-bold">{{ template "forgot-password-success-page-title" }}</h1>

<div class="text-sm break-words primary-txt text-center">{{ template "forgot-password-success-description" (dict "target" $.GivenLoginID) }}</div>

<a class="as-btn not-a btn primary-btn mt-5" href="{{ .RedirectURI }}">{{ template "login-button-label--forgot-password-success-page" }}</a>

{{ template "__watermark.html" . }}
</div>
{{ end }}
