{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
{{ template "__nav_bar.html" true }}

<div class="pane margin-6 flex flex-direction-column">
<div class="padding-6 flex flex-direction-column">

<h1 class="font-inherit primary-txt margin-10">{{ template "forgot-password-success-page-title" }}</h1>

<div class="font-smaller overflow-wrap-break-word primary-txt margin-10">{{ template "forgot-password-success-description" (dict "target" $.GivenLoginID) }}</div>

<a class="as-btn not-a btn primary-btn align-self-flex-end margin-10" href="{{ .RedirectURI }}">{{ template "login-button-label--forgot-password-success-page" }}</a>

</div>
</div>

</div>
{{ end }}