{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
<div class="pane flex flex-col">
{{ template "__nav_bar.html" }}
<form class="flex flex-col width-full margin-v-20" method="post" novalidate>
{{ $.CSRFField }}

<h1 class="primary-txt text-center margin-t-20 margin-b-10 text-xl font-bold">{{ template "forgot-password-page-title" }}</h1>

{{ if $.x_login_id_input_type }}{{ if eq $.x_login_id_input_type "phone" }}{{ if $.PhoneLoginIDEnabled }}
{{ if $.x_login_id }}
<div class="text-sm break-words primary-txt margin-b-20 text-center">{{ template "forgot-password-send-to-phone-description" }}</div>
<input type="hidden" name="x_login_id" value="{{ $.x_login_id }}">
<p class="text-sm font-bold primary-txt margin-t-0 margin-b-20 text-center">{{ $.x_login_id }}</p>
{{ else }}
<div class="text-sm break-words primary-txt margin-b-20 text-center">{{ template "forgot-password-phone-description" }}</div>
<input
	data-intl-tel-input="true"
	data-intl-tel-input-class="margin-b-20 flex flex-col"
	class="margin-b-20 primary-txt input text-input"
	tabindex="0"
	autofocus
	type="text"
	inputmode="tel"
	autocomplete="tel-national"
	autocapitalize="none"
	name="x_login_id"
	placeholder="{{ template "phone-number-placeholder" }}"
>
{{ end }}
{{ end }}{{ end }}{{ end }}

{{ if $.x_login_id_input_type }}{{ if (not (eq $.x_login_id_input_type "phone")) }}{{ if $.EmailLoginIDEnabled }}
{{ if $.x_login_id }}
<div class="text-sm break-words primary-txt margin-b-20 text-center">{{ template "forgot-password-send-to-email-description" }}</div>
<input type="hidden" name="x_login_id" value="{{ $.x_login_id }}">
<p class="text-sm font-bold primary-txt margin-t-0 margin-b-20 text-center">{{ $.x_login_id }}</p>
{{ else }}
<div class="text-sm break-words primary-txt margin-b-20 text-center">{{ template "forgot-password-email-description" }}</div>
<input
	tabindex="0"
	autofocus
	class="input text-input primary-txt margin-b-20"
	type="{{ $.x_login_id_input_type }}"
	autocomplete="username"
	autocapitalize="none"
	name="x_login_id"
	placeholder="{{ template "email-placeholder" }}"
>
{{ end }}
{{ end }}{{ end }}{{ end }}

{{ if $.x_login_id_input_type }}{{ if eq $.x_login_id_input_type "phone" }}{{ if $.EmailLoginIDEnabled }}{{ if not $.x_login_id }}
<a class="link text-sm self-start margin-b-20" href="{{ call $.MakeURL "" "x_login_id_input_type" "email" }}" data-turbolinks-action="replace">{{ template "use-email-login-id-description" }}</a>
{{ end }}{{ end }}{{ end }}{{ end }}

{{ if $.x_login_id_input_type }}{{ if eq $.x_login_id_input_type "email" }}{{ if $.PhoneLoginIDEnabled }}{{ if not $.x_login_id }}
<a class="link text-sm self-start margin-b-20" href="{{ call $.MakeURL "" "x_login_id_input_type" "phone" }}" data-turbolinks-action="replace">{{ template "use-phone-login-id-description" }}</a>
{{ end }}{{ end }}{{ end }}{{ end }}

{{ if not $.LoginIDDisabled }}
<button class="btn primary-btn submit-btn margin-b-20" type="submit" name="submit" value="">{{ template "forgot-password-send-button-label" }}</button>
{{ end }}

</form>
<div class="margin-t-20">{{ template "__watermark.html" . }}</div>
</div>
</div>
{{ end }}