<!DOCTYPE html>
<html>
{{ template "__html_head.html" . }}
<body class="page">
<div class="content">

{{ template "__header.html" . }}

{{ template "__nav_bar.html" }}

{{ template "__error.html" . }}

<form class="pane flex flex-direction-column padding-6" method="post" novalidate>
{{ $.CSRFField }}

<h1 class="font-inherit margin-10 primary-txt">{{ template "forgot-password-page-title" }}</h1>

{{ if $.x_login_id_input_type }}{{ if eq $.x_login_id_input_type "phone" }}{{ if $.LoginPageLoginIDHasPhone }}
{{ if $.x_national_number }}
<div class="font-smaller overflow-wrap-break-word primary-txt margin-10">{{ template "forgot-password-send-to-phone-description" }}</div>
{{ else }}
<div class="font-smaller overflow-wrap-break-word primary-txt margin-10">{{ template "forgot-password-phone-description" }}</div>
{{ end }}
<div class="phone-input margin-10">
	<select
		class="input select primary-txt"
		name="x_calling_code"
		{{ if $.x_national_number }}
		disabled
		{{ end }}
	>
		{{ range .CountryCallingCodes }}
		<option
			value="{{ . }}"
			{{ if $.x_calling_code }}{{ if eq $.x_calling_code . }}
			selected
			{{ end }}{{ end }}
			>
			+{{ . }}
		</option>
		{{ end }}
	</select>
	<input
		class="input text-input primary-txt"
		type="text"
		inputmode="numeric"
		pattern="[0-9]*"
		autocomplete="tel-national"
		autocapitalize="none"
		name="x_national_number"
		placeholder="{{ template "phone-number-placeholder" }}"
		{{ if $.x_national_number }}
		value="{{ $.x_national_number }}"
		disabled
		{{ end }}
	>
</div>
{{ end }}{{ end }}{{ end }}

{{ if $.x_login_id_input_type }}{{ if (not (eq $.x_login_id_input_type "phone")) }}{{ if or (eq $.LoginPageTextLoginIDVariant "email") (eq $.LoginPageTextLoginIDVariant "email_or_username") }}
{{ if $.x_login_id }}
<div class="font-smaller overflow-wrap-break-word primary-txt margin-10">{{ template "forgot-password-send-to-email-description" }}</div>
{{ else }}
<div class="font-smaller overflow-wrap-break-word primary-txt margin-10">{{ template "forgot-password-email-description" }}</div>
{{ end }}
<input
	class="input text-input primary-txt margin-10"
	type="{{ $.x_login_id_input_type }}"
	autocomplete="username"
	autocapitalize="none"
	name="x_login_id"
	placeholder="{{ template "email-placeholder" }}"
	{{ if $.x_login_id }}
	value="{{ $.x_login_id }}"
	disabled
	{{ end }}
>
{{ end }}{{ end }}{{ end }}

{{ if $.x_login_id_input_type }}{{ if eq $.x_login_id_input_type "phone" }}{{ if or (eq $.LoginPageTextLoginIDVariant "email") (eq $.LoginPageTextLoginIDVariant "email_or_username") }}{{ if not $.x_national_number }}
<a class="link font-smaller align-self-flex-start margin-10" href="{{ call $.MakeURL "" "x_login_id_input_type" "email" }}" data-turbolinks-action="replace">{{ template "use-email-login-id-description" }}</a>
{{ end }}{{ end }}{{ end }}{{ end }}

{{ if $.x_login_id_input_type }}{{ if eq $.x_login_id_input_type "email" }}{{ if $.LoginPageLoginIDHasPhone }}{{ if not $.x_login_id }}
<a class="link font-smaller align-self-flex-start margin-10" href="{{ call $.MakeURL "" "x_login_id_input_type" "phone" }}" data-turbolinks-action="replace">{{ template "use-phone-login-id-description" }}</a>
{{ end }}{{ end }}{{ end }}{{ end }}

{{ if or $.LoginPageLoginIDHasPhone (not (eq $.LoginPageTextLoginIDVariant "none")) }}
<button class="btn primary-btn submit-btn align-self-flex-end margin-10" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>
{{ end }}

</form>

</div>
</body>
</html>
