{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
<div class="pane flex flex-col">
{{ template "__nav_bar.html" }}
<form class="flex flex-col width-full margin-v-20" method="post" novalidate>
{{ $.CSRFField }}

<h1 class="primary-txt text-center margin-t-0 margin-b-10 text-xl font-bold">{{ template "forgot-password-page-title" }}</h1>

{{ if $.x_login_id_input_type }}{{ if eq $.x_login_id_input_type "phone" }}{{ if $.LoginPageLoginIDHasPhone }}
{{ if $.x_national_number }}
<div class="text-sm break-words primary-txt margin-b-20 text-center">{{ template "forgot-password-send-to-phone-description" }}</div>
<input type="hidden" name="x_calling_code" value="{{ $.x_calling_code }}">
<input type="hidden" name="x_national_number" value="{{ $.x_national_number }}">
<p class="primary-txt margin-t-0 margin-b-20 text-center">+{{ $.x_calling_code }} {{ $.x_national_number }}</p>
{{ else }}
<div class="text-sm break-words primary-txt margin-b-20 text-center">{{ template "forgot-password-phone-description" }}</div>
<div class="phone-input margin-b-20">
	<select
		class="select primary-txt"
		name="x_calling_code"
	>
		{{ range .CountryCallingCodes }}
		<option
			value="{{ . }}"
			{{ if $.x_calling_code }}{{ if eq $.x_calling_code . }}
			selected
			{{ end }}{{ end }}
			>
			+{{ . }}
		</option>
		{{ end }}
	</select>
	<input
		tabindex="0"
		autofocus
		class="input text-input primary-txt"
		type="text"
		inputmode="numeric"
		pattern="[0-9]*"
		autocomplete="tel-national"
		autocapitalize="none"
		name="x_national_number"
		placeholder="{{ template "phone-number-placeholder" }}"
	>
</div>
{{ end }}
{{ end }}{{ end }}{{ end }}

{{ if $.x_login_id_input_type }}{{ if (not (eq $.x_login_id_input_type "phone")) }}{{ if or (eq $.LoginPageTextLoginIDVariant "email") (eq $.LoginPageTextLoginIDVariant "email_or_username") }}
{{ if $.x_login_id }}
<div class="text-sm break-words primary-txt margin-b-20 text-center">{{ template "forgot-password-send-to-email-description" }}</div>
<input type="hidden" name="x_login_id" value="{{ $.x_login_id }}">
<p class="primary-txt margin-t-0 margin-b-20 text-center">{{ $.x_login_id }}</p>
{{ else }}
<div class="text-sm break-words primary-txt margin-b-20 text-center">{{ template "forgot-password-email-description" }}</div>
<input
	tabindex="0"
	autofocus
	class="input text-input primary-txt margin-b-20"
	type="{{ $.x_login_id_input_type }}"
	autocomplete="username"
	autocapitalize="none"
	name="x_login_id"
	placeholder="{{ template "email-placeholder" }}"
>
{{ end }}
{{ end }}{{ end }}{{ end }}

{{ if $.x_login_id_input_type }}{{ if eq $.x_login_id_input_type "phone" }}{{ if or (eq $.LoginPageTextLoginIDVariant "email") (eq $.LoginPageTextLoginIDVariant "email_or_username") }}{{ if not $.x_national_number }}
<a class="link text-sm self-start margin-b-20" href="{{ call $.MakeURL "" "x_login_id_input_type" "email" }}" data-turbolinks-action="replace">{{ template "use-email-login-id-description" }}</a>
{{ end }}{{ end }}{{ end }}{{ end }}

{{ if $.x_login_id_input_type }}{{ if eq $.x_login_id_input_type "email" }}{{ if $.LoginPageLoginIDHasPhone }}{{ if not $.x_login_id }}
<a class="link text-sm self-start margin-b-20" href="{{ call $.MakeURL "" "x_login_id_input_type" "phone" }}" data-turbolinks-action="replace">{{ template "use-phone-login-id-description" }}</a>
{{ end }}{{ end }}{{ end }}{{ end }}

{{ if or $.LoginPageLoginIDHasPhone (not (eq $.LoginPageTextLoginIDVariant "none")) }}
<button class="btn primary-btn submit-btn margin-b-20" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>
{{ end }}

</form>
<div class="margin-t-20">{{ template "__watermark.html" . }}</div>
</div>
</div>
{{ end }}