{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
	<div class="pane flex flex-direction-column">
	<div class="flex flex-direction-column">
		{{ if not $.PublicSignupDisabled }}
		<div class="signin-signup-switch flex flex-direction-row">
			<a class="not-a signin-signup-link primary-txt current" href="/login" data-turbolinks-action="replace">{{ template "login-label" }}</a>
			<a class="not-a signin-signup-link primary-txt" href="/signup" data-turbolinks-action="replace">{{ template "signup-label" }}</a>
		</div>
		{{ end }}

		{{ template "__nav_bar.html" true }}

		<div class="width-full margin-t-40 margin-b-20">
			<form class="flex flex-direction-column" method="post" novalidate>
				{{ $.CSRFField }}

				{{ if $.x_login_id_input_type }}{{ if eq $.x_login_id_input_type "phone" }}{{ if $.LoginPageLoginIDHasPhone }}
				<div class="margin-b-20 phone-input">
					<select class="select primary-txt" name="x_calling_code">
						{{ range $.CountryCallingCodes }}
						<option
							value="{{ . }}"
							{{ if $.x_calling_code }}{{ if eq $.x_calling_code . }}
							selected
							{{ end }}{{ end }}
							>
							+{{ . }}
						</option>
						{{ end }}
					</select>
					<input
						tabindex="0"
						autofocus
						class="input text-input primary-txt"
						type="text"
						inputmode="numeric"
						pattern="[0-9]*"
						autocomplete="tel-national"
						autocapitalize="none"
						name="x_national_number"
						placeholder="{{ template "phone-number-placeholder" }}"
					>
				</div>
				{{ end }}{{ end }}{{ end }}

				{{ if $.x_login_id_input_type }}{{ if not (eq $.x_login_id_input_type "phone") }}{{ if (not (eq $.LoginPageTextLoginIDVariant "none")) }}
				<input
					tabindex="0"
					autofocus
					class="margin-b-20 input text-input primary-txt"
					type="{{ $.LoginPageTextLoginIDInputType }}"
					autocomplete="username"
					autocapitalize="none"
					name="x_login_id"
					placeholder="{{ template "login-id-placeholder" (dict "variant" $.LoginPageTextLoginIDVariant) }}"
				>
				<!-- This field is for Chrome and Safari to consider the above field as username for autocomplete -->
				<input style="display: none" aria-hidden="true" type="password" autocomplete="current-password" name="">
				{{ end }}{{ end }}{{ end }}

				{{ if $.x_login_id_input_type }}{{ if eq $.x_login_id_input_type "phone" }}{{ if (not (eq $.LoginPageTextLoginIDVariant "none")) }}
				<a class="link font-smaller align-self-flex-start block margin-b-20" href="{{ call $.MakeURL "" "x_login_id_input_type" $.LoginPageTextLoginIDInputType }}" data-turbolinks-action="replace">{{ template "use-text-login-id-description" (dict "variant" $.LoginPageTextLoginIDVariant) }}</a>
				{{ end }}{{ end }}{{ end }}

				{{ if $.x_login_id_input_type }}{{ if not (eq $.x_login_id_input_type "phone") }}{{ if $.LoginPageLoginIDHasPhone }}
				<a class="link font-smaller align-self-flex-start block margin-b-20" href="{{ call $.MakeURL "" "x_login_id_input_type" "phone" }}" data-turbolinks-action="replace">{{ template "use-phone-login-id-description" }}</a>
				{{ end }}{{ end }}{{ end }}

				{{ if or $.LoginPageLoginIDHasPhone (not (eq $.LoginPageTextLoginIDVariant "none")) }}
				<button class="btn primary-btn margin-b-20" type="submit" name="x_action" value="login_id">{{ template "next-button-label" }}</button>
				{{ end }}

				{{/* Forgot password link is deliberately omitted here. */}}
			</form>

			{{/* Separator */}}
			{{ $has_oauth := false }}
			{{ $has_login_id := false }}
			{{ range $.IdentityCandidates }}
				{{ if eq .type "oauth" }}
				{{ $has_oauth = true }}
				{{ end }}
				{{ if eq .type "login_id" }}
				{{ $has_login_id = true }}
				{{ end }}
			{{ end }}

			{{ if $has_oauth }}{{ if $has_login_id }}
			<div class="sso-loginid-separator flex flex-direction-row align-items-center margin-b-20">
				<span class="primary-txt margin-h-6">{{ template "sso-login-id-separator-both-present" }}</span>
			</div>
			{{ end }}{{ end }}

			{{ if $has_oauth }}{{ if not $has_login_id }}
			<div class="text-center margin-b-20">
				{{ template "sso-login-id-separator-oauth-present" }}
			</div>
			{{ end }}{{ end }}

			<div class="flex flex-direction-column">
				{{ range $.IdentityCandidates }}
				{{ if eq .type "oauth" }}
				<form class="flex flex-direction-column" method="post" novalidate>
				{{ $.CSRFField }}
				{{ $skip := false }}
				{{- if (and (eq .provider_type "wechat") (eq .provider_app_type "mobile") (not $.IsNativePlatform)) -}}
				{{ $skip = true }}
				{{ end }}
				{{- if (and (eq .provider_type "wechat") (eq .provider_app_type "web") ($.IsNativePlatform)) -}}
				{{ $skip = true }}
				{{ end }}
				{{- if not $skip -}}
				<button class="btn sso-btn margin-b-20 {{ .provider_type }}" type="submit" name="x_action" value="oauth" data-form-xhr="false">
					<input type="hidden" name="x_provider_alias" value="{{ .provider_alias }}">
					<span class="sso-btn-content">
					{{- if eq .provider_type "apple" -}}
					<div class="sso-btn-icon"><i class="fab fa-apple" aria-hidden="true"></i></div>
					<span class="title">{{ template "oauth-branding-apple" }}</span>
					{{- end -}}
					{{- if eq .provider_type "google" -}}
					<div class="sso-btn-icon google-icon"></div>
					<span class="title">{{ template "oauth-branding-google" }}</span>
					{{- end -}}
					{{- if eq .provider_type "facebook" -}}
					<div class="sso-btn-icon"><i class="fab fa-facebook-f" aria-hidden="true"></i></div>
					<span class="title">{{ template "oauth-branding-facebook" }}</span>
					{{- end -}}
					{{- if eq .provider_type "linkedin" -}}
					<div class="sso-btn-icon"><i class="fab fa-linkedin-in" aria-hidden="true"></i></div>
					<span class="title">{{ template "oauth-branding-linkedin" }}</span>
					{{- end -}}
					{{- if eq .provider_type "azureadv2" -}}
					<div class="sso-btn-icon"><i class="fab fa-microsoft" aria-hidden="true"></i></div>
					<span class="title">{{ template "oauth-branding-azureadv2" }}</span>
					{{- end -}}
					{{- if eq .provider_type "adfs" -}}
					<div class="sso-btn-icon"><i class="fab fa-microsoft" aria-hidden="true"></i></div>
					<span class="title">{{ template "oauth-branding-adfs" }}</span>
					{{- end -}}
					{{- if eq .provider_type "wechat" -}}
					<div class="sso-btn-icon"><i class="fab fa-weixin" aria-hidden="true"></i></div>
					<span class="title">{{ template "oauth-branding-wechat" }}</span>
					{{- end -}}
					</span>
				</button>
				</form>
				{{ end }}
				{{ end }}
				{{ end }}
			</div>

			{{ if ($.Translations.HasKey "toc-pp-footer") }}
			<p class="font-smaller primary-txt margin-t-0 margin-b-20">
			{{ template "toc-pp-footer" (dict "termsOfService" (.Translations.RenderText "terms-of-service-link" nil) "privacyPolicy" (.Translations.RenderText "privacy-policy-link" nil)) }}
			</p>
			{{ end }}

		</div>

		<div class="footer-watermark margin-b-20"></div>
	</div>
	</div>
</div>
{{ end }}
