{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="m-0 primary-txt text-center text-xl font-bold">
  {{ template "login-link-otp-page-title" }}
</h1>

{{ if not (eq .StateQuery "matched") }}
  {{ if eq .StateQuery "" }}
    <div class="text-sm break-words primary-txt text-center whitespace-pre-wrap">{{ template "login-link-otp-initial-description" (dict "target" .Target) }}</div>
  {{ else if eq .StateQuery "invalid_code" }}
    <div class="text-sm break-words primary-txt text-center whitespace-pre-wrap">{{ template "login-link-otp-invalid-code-description" }}</div>
  {{ end }}

  <form id="dryrun-verify-form" class="hidden" method="post" action="{{ $.FormActionPath }}" novalidate>
    {{ $.CSRFField }}
  </form>

  <button
    form="dryrun-verify-form"
    class="hidden"
    type="submit"
    name="x_action"
    value="dryrun_verify"
    data-submit-when-refresh="true"
  ></button>

  <form class="link" method="post" novalidate>
    {{ $.CSRFField }}
    <span class="primary-txt text-sm">{{ template "login-link-otp-resend-button-hint" }}</span>
    <button class="btn secondary-btn text-sm" type="submit" name="x_action" value="resend"
      data-resend-button-cooldown-value="{{ $.OTPCodeSendCooldown }}"
      data-resend-button-label-value="{{ template "login-link-otp-resend-button-label" }}"
      data-resend-button-label-unit-value="{{ template "login-link-otp-resend-button-label--unit" }}"
      data-authgear-event="authgear.button.resend_login_link_otp"
      data-controller="resend-button"
    >{{ template "login-link-otp-resend-button-label" }}</button>
  </form>

{{ template "__use_recovery_code.html" . }}

{{ $needSeparator := not (empty .AlternativeSteps) }}
{{ if $needSeparator }}
<div class="alternative-separator flex flex-row items-center">
  <span class="primary-txt mx-1.5 text-sm">{{ template "or-label" }}</span>
</div>
{{ end }}

{{ $altOptions := (set (deepCopy .) "separatorDisabled" true) }}
{{ template "__alternatives.html" $altOptions }}
{{ else }}
<form id="next-form" class="hidden" method="post" action="{{ $.FormActionPath }}" novalidate>
{{ $.CSRFField }}
</form>

<div class="grid grid-cols-1 auto-rows-auto bg-gray-100 dark:bg-gray-800 py-18 px-4 text-center">
  <i class="good-txt text-base ti ti-check" aria-hidden="true"></i>
  <p class="text-sm primary-txt whitespace-pre-wrap">{{ template "login-link-otp-matched-description" }}</p>
</div>
{{ if $.CanRequestDeviceToken }}
  <div class="flex flex-row items-center self-start">
    <input form="next-form" class="device-token-input" id="device-token" type="checkbox" name="x_device_token" value="true">
    <label class="p-1 text-sm primary-txt" for="device-token">{{ template "create-device-token-label" }}</label>
  </div>
{{ end }}
<button
  form="next-form"
  class="btn primary-btn"
  type="submit"
  name="x_action"
  value="next"
  data-authgear-event="authgear.button.redirect_login_link_result"
>{{ template "login-link-otp-next-button-label" }}</button>
{{ end }}

{{ template "__watermark.html" . }}

</div>
{{ end }}
