{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical padding-t-32 padding-b-20 padding-h-24 tablet:padding-h-32 desktop:padding-h-32">
  <h2 class="primary-txt text-center m-0 text-xl font-bold">
    {{ template "logout-button-hint" }}
  </h2>
  <!-- We need to disable XHR for this request because after logout it could possibly redirect to external website with post_logout_uri -->
  <form class="flex flex-col" method="post" novalidate>
    {{ $.CSRFField }}
    <button
      class="btn primary-btn margin-v-20"
      type="submit"
      name="x_action"
      value="logout"
      data-form-xhr="false"
      data-authgear-event="authgear.button.sign_out"
    >{{ template "logout-button-label" }}</button>
  </form>
  {{ template "__watermark.html" . }}
</div>
{{ end }}
