{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="m-0 primary-txt text-center text-xl font-bold">
  {{ template "magic-link-otp-page-title" }}
</h1>

<div class="text-sm break-words primary-txt text-center">
  {{ template "magic-link-otp-description" (dict "target" .Target) }}
</div>

<form id="main-form" class="hidden" method="post" action="{{ $.FormActionPath }}" novalidate>
{{ $.CSRFField }}
</form>

{{ template "__use_recovery_code.html" . }}
{{ template "__watermark.html" . }}

</div>
{{ end }}
