{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
	{{ $has_oauth := false }}
	{{ $has_login_id := false }}
	{{ range $.IdentityCandidates }}
		{{ if eq .type "oauth" }}
		{{ $has_oauth = true }}
		{{ end }}
		{{ if eq .type "login_id" }}
		{{ $has_login_id = true }}
		{{ end }}
	{{ end }}
	{{ if $.PublicSignupDisabled }}
	<div class="pane margin-6 flex flex-col">
	<div class="padding-6 flex flex-col">

		<div class="width-full margin-t-40 margin-b-20">
			<p class="primary-txt margin-t-0 margin-b-20">{{ template "public-signup-disabled-notice" }}</p>
			<a class="as-btn not-a btn primary-btn margin-b-20" href="/login" data-turbolinks="false">{{ template "login-label" }}</a>
		</div>
		<div>{{ template "__watermark.html" . }}</div>
	</div>
	</div>
	{{ else }}
	<div class="pane flex flex-col">
	<div class="flex flex-col">
		<div class="width-full margin-v-20">
			<form class="flex flex-col" method="post" novalidate>
				{{ $.CSRFField }}

				<h1 class="margin-t-0 margin-b-20 primary-txt text-center text-xl font-bold">
					{{ if $.ClientName }}
					{{ template "sign-up-to-continue" (dict "AppOrClientName" $.ClientName) }}
					{{ else }}
					{{ $appName := ($.Translations.RenderText "app.name" nil) }}
					{{ template "sign-up-to-continue" (dict "AppOrClientName" $appName) }}
					{{ end }}
				</h1>

				<input type="hidden" name="x_login_id_key" value="{{ .x_login_id_key }}">

				{{ range $.IdentityCandidates }}
				{{ if eq .type "login_id" }}{{ if eq .login_id_key $.x_login_id_key }}
				<input type="hidden" name="x_login_id_type" value="{{ .login_id_type }}">
				{{ if eq .login_id_type "phone" }}
					<input
						data-intl-tel-input="true"
						data-intl-tel-input-class="margin-b-20 flex flex-col"
						class="margin-b-20 primary-txt input text-input"
						tabindex="0"
						autofocus
						type="text"
						inputmode="tel"
						autocomplete="tel-national"
						autocapitalize="none"
						name="x_login_id"
						placeholder="{{ template "phone-number-placeholder" }}"
					>
				{{ else }}
					<input
						tabindex="0"
						autofocus
						class="margin-b-20 input text-input primary-txt"
						type="{{ $.x_login_id_input_type }}"
						name="x_login_id"
						autocomplete="username"
						autocapitalize="none"
						placeholder="{{ template "login-id-placeholder" (dict "variant" $.x_login_id_key) }}"
					>
				{{ end }}
				{{ end }}{{ end }}
				{{ end }}

				{{ range $.IdentityCandidates }}
				{{ if eq .type "login_id" }}{{ if not (eq .login_id_key $.x_login_id_key) }}
					<a class="link text-sm self-start block margin-b-10" data-turbolinks-action="replace"
						href="{{ call $.MakeCurrentStepURL "x_login_id_key" .login_id_key "x_login_id_input_type" .login_id_input_type}}">
						{{ template "use-login-id-key" (dict "key" .login_id_key) }}
					</a>
				{{ end }}{{ end }}
				{{ end }}

				{{ if $has_login_id }}
				<button class="btn primary-btn margin-t-10 margin-b-20" type="submit" name="x_action" value="login_id">
					{{ template "next-button-label" }}
				</button>
				{{ end }}
			</form>

			{{ if $has_oauth }}{{ if $has_login_id }}
			<div class="sso-loginid-separator flex flex-row items-center margin-b-20">
				<span class="primary-txt margin-h-6 text-sm">{{ template "sso-login-id-separator-both-present" }}</span>
			</div>
			{{ end }}{{ end }}

			{{ if $has_oauth }}
			<div class="flex flex-col margin-b-12">
				{{ range $.IdentityCandidates }}
				{{ if eq .type "oauth" }}
				<form class="flex flex-col" method="post" novalidate>
				{{ $.CSRFField }}
				{{ $skip := false }}
				{{- if (and (eq .provider_type "wechat") (eq .provider_app_type "mobile") (not $.IsNativePlatform)) -}}
				{{ $skip = true }}
				{{ end }}
				{{- if (and (eq .provider_type "wechat") (eq .provider_app_type "web") ($.IsNativePlatform)) -}}
				{{ $skip = true }}
				{{ end }}
				{{- if not $skip -}}
				<button class="btn sso-btn margin-b-8 {{ .provider_type }}" type="submit" name="x_action" value="oauth" data-form-xhr="false">
					<input type="hidden" name="x_provider_alias" value="{{ .provider_alias }}">
					<span class="sso-btn-content">
					{{- if eq .provider_type "apple" -}}
					<div class="sso-btn-icon image-icon apple-icon"></div>
					<span class="title text-base">{{ template "oauth-branding-apple" }}</span>
					{{- end -}}
					{{- if eq .provider_type "google" -}}
					<div class="sso-btn-icon image-icon google-icon"></div>
					<span class="title text-base">{{ template "oauth-branding-google" }}</span>
					{{- end -}}
					{{- if eq .provider_type "facebook" -}}
					<div class="sso-btn-icon image-icon facebook-icon"></div>
					<span class="title text-base">{{ template "oauth-branding-facebook" }}</span>
					{{- end -}}
					{{- if eq .provider_type "linkedin" -}}
					<div class="sso-btn-icon image-icon linkedin-icon"></div>
					<span class="title text-base">{{ template "oauth-branding-linkedin" }}</span>
					{{- end -}}
					{{- if eq .provider_type "azureadv2" -}}
					<div class="sso-btn-icon image-icon microsoft-icon"></div>
					<span class="title text-base">{{ template "oauth-branding-azureadv2" }}</span>
					{{- end -}}
					{{- if eq .provider_type "adfs" -}}
					<div class="sso-btn-icon image-icon microsoft-icon"></div>
					<span class="title text-base">{{ template "oauth-branding-adfs" }}</span>
					{{- end -}}
					{{- if eq .provider_type "wechat" -}}
					<div class="sso-btn-icon image-icon wechat-icon"></div>
					<span class="title text-base">{{ template "oauth-branding-wechat" }}</span>
					{{- end -}}
					</span>
				</button>
				</form>
				{{ end }}
				{{ end }}
				{{ end }}
			</div>
			{{ end }}

			{{ if ($.Translations.HasKey "toc-pp-footer") }}
			<p class="text-sm primary-txt margin-t-0 margin-b-20">
			{{ template "toc-pp-footer" (dict "termsOfService" (.Translations.RenderText "terms-of-service-link" nil) "privacyPolicy" (.Translations.RenderText "privacy-policy-link" nil)) }}
			</p>
			{{ end }}
		</div>
		<div>{{ template "__watermark.html" . }}</div>
	</div>
	</div>
	{{ end }}
</div>
{{ end }}
