{{ template "__page_frame.html" . }}

{{ define "page-content" }}

	{{ $has_oauth := false }}
	{{ $has_login_id := false }}
	{{ $show_captcha := false }}
	{{ range $.IdentityCandidates }}
		{{ if eq .type "oauth" }}
			{{ $has_oauth = true }}
			{{ if $.OauthBotProtectionRequired }}
        {{ $show_captcha = true  }}
      {{ end }}
		{{ end }}
		{{ if eq .type "login_id" }}
			{{ $has_login_id = true }}
			{{ if eq .login_id_key $.LoginIDKey }}
				{{ if eq .login_id_type "phone" }}{{ if $.PhoneLoginIDBotProtectionRequired }}
          {{ $show_captcha = true  }}
        {{ end }}{{ end }}
        {{ if eq .login_id_type "username" }}{{ if $.UsernameLoginIDBotProtectionRequired }}
          {{ $show_captcha = true  }}
        {{ end }}{{ end }}
        {{ if eq .login_id_type "email" }}{{ if $.EmailLoginIDBotProtectionRequired }}
          {{ $show_captcha = true  }}
        {{ end }}{{ end }}
			{{ end }}
		{{ end }}
	{{ end }}
	{{ if $.PublicSignupDisabled }}
	<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">
		<p class="primary-txt m-0 text-base">{{ template "public-signup-disabled-notice" }}</p>
		<a class="as-btn not-a btn primary-btn my-5" href="{{ call $.MakeURL "/login" }}" data-turbo="false">{{ template "login-label" }}</a>
		{{ template "__watermark.html" . }}
	</div>
	{{ else }}

	<div 
		class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8"
		{{ if $show_captcha }}
			{{ template "web/authflowv2/__bot_protection_controller.html" . }}
		{{ end }}
	>
			<form class="twc-container-vertical" method="post" novalidate>
				{{ $.CSRFField }}
				{{ if $show_captcha }}
					{{ template "web/authflowv2/bot_protection_form_input.html" . }}
				{{ end }}

				<h1 class="m-0 primary-txt text-center text-xl font-bold">
					{{ if $.ClientName }}
					{{ template "sign-up-to-continue" (dict "AppOrClientName" $.ClientName) }}
					{{ else }}
					{{ $appName := ($.Translations.RenderText "app.name" nil) }}
					{{ template "sign-up-to-continue" (dict "AppOrClientName" $appName) }}
					{{ end }}
				</h1>

				<input type="hidden" name="q_login_id_key" value="{{ $.LoginIDKey }}">

				{{ range $.IdentityCandidates }}
				{{ if eq .type "login_id" }}{{ if eq .login_id_key $.LoginIDKey }}
				<input type="hidden" name="q_login_id_type" value="{{ .login_id_type }}">
				{{ if eq .login_id_type "phone" }}
					<input
						data-intl-tel-input="true"
						data-intl-tel-input-class-value="flex flex-row"
						class="primary-txt text-input w-full"
						tabindex="0"
						{{ if $.ShouldFocusInput }}autofocus{{ end }}
						type="text"
						inputmode="tel"
						autocomplete="tel-national"
						autocapitalize="none"
						name="q_login_id"
						placeholder="{{ template "phone-number-placeholder" }}"
						data-controller="intl-tel-input"
						data-action="input->intl-tel-input#input countrychange->intl-tel-input#input"
					>
				{{ else }}
					<input
						tabindex="0"
						{{ if $.ShouldFocusInput }}autofocus{{ end }}
						class="text-input primary-txt"
						type="{{ $.NonPhoneLoginIDInputType }}"
						name="q_login_id"
						autocomplete="username"
						autocapitalize="none"
						placeholder="{{ template "login-id-placeholder" (dict "variant" $.LoginIDKey) }}"
					>
				{{ end }}
				{{ end }}{{ end }}
				{{ end }}

				{{ range $.IdentityCandidates }}
				{{ if eq .type "login_id" }}{{ if not (eq .login_id_key $.LoginIDKey) }}
					<a class="link text-sm self-start block" data-turbo-action="replace"
						href="{{ call $.MakeURL "" "q_login_id_key" .login_id_key "q_login_id_input_type" .login_id_input_type}}">
						{{ template "use-login-id-key" (dict "key" .login_id_key) }}
					</a>
				{{ end }}{{ end }}
				{{ end }}

				{{ if $has_login_id }}
				<button
					class="btn primary-btn"
					type="submit"
					name="x_action"
					value="login_id"
					data-authgear-event="authgear.button.sign_up"
				>{{ template "signup-label" }}</button>
				{{ end }}
			</form>

			{{ if $show_captcha }}
				{{ template "web/authflowv2/bot_protection_widget.html" . }}
			{{ end }}

			{{ if $has_oauth }}{{ if $has_login_id }}
			<div class="alternative-separator flex flex-row items-center">
				<span class="primary-txt mx-1.5 text-sm">{{ template "sso-login-id-separator-both-present" }}</span>
			</div>
			{{ end }}{{ end }}

			{{ if $has_oauth }}
			<div class="grid grid-cols-1 auto-rows-auto gap-y-2">
				{{ range $.IdentityCandidates }}
				{{ if eq .type "oauth" }}
				<form class="flex flex-col" method="post" data-turbo="false" novalidate>
				{{ $.CSRFField }}
				{{ if $show_captcha }}
					{{ template "web/authflowv2/bot_protection_form_input.html" $ }}
				{{ end }}
				{{ $skip := false }}
				{{- if (and (eq .provider_type "wechat") (eq .provider_app_type "mobile") (not $.IsNativePlatform)) -}}
				{{ $skip = true }}
				{{ end }}
				{{- if (and (eq .provider_type "wechat") (eq .provider_app_type "web") ($.IsNativePlatform)) -}}
				{{ $skip = true }}
				{{ end }}
				{{- if not $skip -}}
				<button
					class="btn sso-btn {{ .provider_type }}"
					type="submit"
					name="x_action"
					value="oauth"
					data-turbo="false"
					data-authgear-event="authgear.button.oauth"
				>
					<input type="hidden" name="x_provider_alias" value="{{ .provider_alias }}">
					<span class="sso-btn-content">
					{{- $icon_class := printf "%s-icon" .provider_type -}}
					{{- if eq .provider_type "azureadv2" -}}
					{{- $icon_class = "microsoft-icon" }}
					{{- end -}}
					{{- if eq .provider_type "azureadb2c" -}}
					{{- $icon_class = "microsoft-icon" }}
					{{- end -}}
					{{- if eq .provider_type "adfs" -}}
					{{- $icon_class = "microsoft-icon" }}
					{{- end -}}

					<div class="sso-btn-icon {{ $icon_class }}"></div>
					<span class="text-base">{{ $.Translations.RenderText (printf "oauth-branding-%s" .provider_type) nil }}</span>
					</span>
				</button>
				</form>
				{{ end }}
				{{ end }}
				{{ end }}
			</div>
			{{ end }}

			{{ template "__toc_pp_footer.html" . }}

			{{ template "__watermark.html" . }}
	</div>
	{{ end }}

{{ end }}
