{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 padding-b-20 px-6 tablet:px-8 desktop:px-8">

<form class="twc-container-vertical" method="post" novalidate>
{{ $.CSRFField }}

<h1 class="m-0 primary-txt text-center text-xl font-bold">{{ template "reset-password-page-title" }}</h1>

<div class="text-sm break-words primary-txt text-center">{{ template "reset-password-description" }}</div>

{{ template "__password_input.html" (dict
	"Name" "x_password"
	"IsNewPassword" true
	"AutoFocus" true
) }}

{{ template "__password_input.html" (dict
	"Name" "x_confirm_password"
	"IsNewPassword" false
) }}

{{ template "__password_strength_meter.html" }}

{{ template "__password_policy.html" . }}

<button
	class="btn primary-btn submit-btn mt-5"
	type="submit"
	name="x_action"
	value=""
	data-authgear-event="authgear.button.reset_password"
>{{ template "next-button-label" }}</button>

</form>
{{ template "__watermark.html" . }}
</div>
{{ end }}
