<!DOCTYPE html>
<html>
{{ template "__html_head.html" . }}
<body class="page">
<div class="content">

{{ template "__header.html" . }}

{{ template "__nav_bar.html" true }}

{{ template "__error.html" . }}

<div class="pane flex flex-direction-column padding-6">

<h1 class="font-inherit margin-10 primary-txt">{{ template "reset-password-success-page-title" }}</h1>

<div class="font-smaller overflow-wrap-break-word primary-txt margin-10">{{ template "reset-password-success-description" }}</div>

</div>

</div>
</body>
</html>
