{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
<div class="pane flex flex-col">

<form class="flex flex-col width-full margin-v-20" method="post" novalidate>
{{ $.CSRFField }}

<h1 class="margin-t-20 margin-b-10 primary-txt text-center text-xl font-bold">{{ template "reset-password-page-title" }}</h1>

<div class="text-sm break-words primary-txt margin-b-20 text-center">{{ template "reset-password-description" }}</div>

{{ template "__password_input.html" (dict
	"ClassName" "margin-b-20"
	"Name" "x_password"
	"IsNewPassword" true
	"AutoFocus" true
) }}

{{ template "__password_input.html" (dict
	"ClassName" "margin-b-20"
	"Name" "x_confirm_password"
	"IsNewPassword" false
) }}

{{ template "__password_strength_meter.html" }}

<div class="margin-b-20">
{{ template "__password_policy.html" . }}
</div>

<button class="btn primary-btn submit-btn margin-b-20" type="submit" name="x_action" value="">{{ template "next-button-label" }}</button>

</form>
<div class="margin-t-20">{{ template "__watermark.html" . }}</div>
</div>
</div>
{{ end }}