<!DOCTYPE html>
<html>
{{ template "__html_head.html" . }}
<body class="page">
{{ template "__error.html" . }}
<div class="content">
{{ template "__nav_bar.html" true }}

<div class="pane margin-6 flex flex-direction-column">
{{ template "__header.html" . }}
<div class="padding-6 flex flex-direction-column">

<h1 class="font-inherit primary-txt margin-10">{{ template "return-page-title" }}</h1>

<p class="font-smaller overflow-wrap-break-word primary-txt margin-10">{{ template "return-page-description" }}</p>

</div>
</div>

</div>
</html>
