{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="primary-txt m-0 text-center text-xl font-bold">
    {{ if $.ClientName }}
    {{ template "select-account-title" (dict "AppOrClientName" $.ClientName) }}
    {{ else }}
    {{ $appName := ($.Translations.RenderText "app.name" nil) }}
    {{ template "select-account-title" (dict "AppOrClientName" $appName) }}
    {{ end }}
</h1>

<p class="text-sm primary-txt m-0 text-center">
    {{ template "select-account-you-are-using-description" }}
</p>

<div class="primary-txt text-center flex flex-row justify-center">
    <i class="ti ti-user text-4xl leading-10"></i>
    <span class="ml-2 truncate text-base leading-10">
      {{ template "select-account-display-name" $.UserProfile }}
    </span>
</div>

<div class="twc-container-vertical mt-5">
    <form class="flex flex-col" method="post" novalidate>
    {{ $.CSRFField }}
    <button
        class="btn primary-btn submit-btn"
        type="submit"
        name="x_action"
        value="continue"
        data-turbo="false"
        data-authgear-event="authgear.button.continue_with_current_account"
    >{{ template "select-account-continue-label" }}</button>
    </form>

    <form class="flex flex-col" method="post" novalidate>
    {{ $.CSRFField }}
    <button
        class="btn light-btn submit-btn"
        type="submit"
        name="x_action"
        value="login"
        data-turbo="false"
        data-authgear-event="authgear.button.use_another_account"
    >{{ template "select-account-use-another-account-label" }}</button>
    </form>
</div>

{{ template "__watermark.html" . }}
</div>
{{ end }}
