{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical padding-t-32 padding-b-20 padding-h-24 tablet:padding-h-32 desktop:padding-h-32">

<h1 class="primary-txt margin-0 text-center text-xl font-bold">
    {{ if $.ClientName }}
    {{ template "select-account-title" (dict "AppOrClientName" $.ClientName) }}
    {{ else }}
    {{ $appName := ($.Translations.RenderText "app.name" nil) }}
    {{ template "select-account-title" (dict "AppOrClientName" $appName) }}
    {{ end }}
</h1>

<p class="text-sm primary-txt margin-0 text-center">
    {{ template "select-account-you-are-using-description" }}
</p>

<div class="primary-txt text-center flex flex-row justify-center justify-center">
    <i class="ti ti-user text-4xl leading-10"></i>
    <span class="margin-l-8 truncate text-base leading-10">{{ $.IdentityDisplayName }}</span>
</div>

<div class="twc-container-vertical margin-t-20">
    <form class="flex flex-col" method="post" novalidate>
	{{ $.CSRFField }}
	<button class="btn primary-btn submit-btn" type="submit" name="x_action" value="continue" data-form-xhr="false">{{ template "select-account-continue-label" }}</button>
    </form>

    <form class="flex flex-col" method="post" novalidate>
	{{ $.CSRFField }}
	<button class="btn light-btn submit-btn" type="submit" name="x_action" value="login" data-form-xhr="false">{{ template "select-account-use-another-account-label" }}</button>
    </form>
</div>

{{ template "__watermark.html" . }}
</div>
{{ end }}
