{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<main class="content settings-content">
<div class="pane flex flex-col">
  {{ template "__nav_bar.html" "/settings" }}

  {{/* picture */}}
  <div class="padding-20 row-sep gap-12 grid grid-profile-picture">
    <div class="grid-area-title">{{ template "standard-attribute-picture" }}</div>
    <img class="grid-area-picture settings-profile-profile-picture"
      {{ if $.Picture }}
	src="{{ $.Picture }}"
      {{ else }}
        src="{{ call $.StaticAssetURL "avatar-placeholder" }}"
      {{ end }}
    >
    {{/* TODO(picture) */}}
    {{/* The edit link is not shown because we only supports entering URL */}}
    {{/* We will add the button back when we support uploading picture */}}
  </div>

  {{/* FormattedNames */}}
  <div class="padding-20 row-sep gap-6 grid grid-name-desc-action">
    <span class="grid-area-name primary-txt">{{ template "settings-profile-formatted-names-label" }}</span>
    <span class="grid-area-desc secondary-txt whitespace-pre-wrap">{{ $.FormattedNames }}</span>
    <a class="link grid-area-action self-center" href="/settings/profile/name/edit">
      <i class="ti ti-edit"></i>
    </a>
  </div>

  {{/* email */}}
  <div class="padding-20 row-sep gap-6 grid grid-name-desc-action">
    <span class="grid-area-name primary-txt">{{ template "standard-attribute-email" }}</span>
    <span class="grid-area-desc secondary-txt">{{ $.Email }}</span>
    <a class="link grid-area-action self-center" href="/settings/profile/email/edit">
      <i class="ti ti-edit"></i>
    </a>
  </div>

  {{/* phone_number */}}
  <div class="padding-20 row-sep gap-6 grid grid-name-desc-action">
    <span class="grid-area-name primary-txt">{{ template "standard-attribute-phone-number" }}</span>
    <span class="grid-area-desc secondary-txt">{{ $.PhoneNumber }}</span>
    <a class="link grid-area-action self-center" href="/settings/profile/phone_number/edit">
      <i class="ti ti-edit"></i>
    </a>
  </div>

  {{/* preferred_username */}}
  <div class="padding-20 row-sep gap-6 grid grid-name-desc-action">
    <span class="grid-area-name primary-txt">{{ template "standard-attribute-preferred-username" }}</span>
    <span class="grid-area-desc secondary-txt">{{ $.PreferredUsername }}</span>
    <a class="link grid-area-action self-center" href="/settings/profile/preferred_username/edit">
      <i class="ti ti-edit"></i>
    </a>
  </div>

  {{/* profile */}}
  <div class="padding-20 row-sep gap-6 grid grid-name-desc-action">
    <span class="grid-area-name primary-txt">{{ template "standard-attribute-profile" }}</span>
    <span class="grid-area-desc secondary-txt">{{ $.Profile }}</span>
    <a class="link grid-area-action self-center" href="/settings/profile/profile/edit">
      <i class="ti ti-edit"></i>
    </a>
  </div>

  {{/* website */}}
  <div class="padding-20 row-sep gap-6 grid grid-name-desc-action">
    <span class="grid-area-name primary-txt">{{ template "standard-attribute-website" }}</span>
    <span class="grid-area-desc secondary-txt">{{ $.Website }}</span>
    <a class="link grid-area-action self-center" href="/settings/profile/website/edit">
      <i class="ti ti-edit"></i>
    </a>
  </div>

  {{/* gender */}}
  <div class="padding-20 row-sep gap-6 grid grid-name-desc-action">
    <span class="grid-area-name primary-txt">{{ template "standard-attribute-gender" }}</span>
    <span class="grid-area-desc secondary-txt">{{ $.Gender }}</span>
    <a class="link grid-area-action self-center" href="/settings/profile/gender/edit">
      <i class="ti ti-edit"></i>
    </a>
  </div>

  {{/* birthdate */}}
  <div class="padding-20 row-sep gap-6 grid grid-name-desc-action">
    <span class="grid-area-name primary-txt">{{ template "standard-attribute-birthdate" }}</span>
    <span class="grid-area-desc secondary-txt">{{ $.Birthdate }}</span>
    <a class="link grid-area-action self-center" href="/settings/profile/birthdate/edit">
      <i class="ti ti-edit"></i>
    </a>
  </div>

  {{/* zoneinfo */}}
  <div class="padding-20 row-sep gap-6 grid grid-name-desc-action">
    <span class="grid-area-name primary-txt">{{ template "standard-attribute-zoneinfo" }}</span>
    <span class="grid-area-desc secondary-txt">{{ $.Zoneinfo }}</span>
    <a class="link grid-area-action self-center" href="/settings/profile/zoneinfo/edit">
      <i class="ti ti-edit"></i>
    </a>
  </div>

  {{/* locale */}}
  <div class="padding-20 row-sep gap-6 grid grid-name-desc-action">
    <span class="grid-area-name primary-txt">{{ template "standard-attribute-locale" }}</span>
    <span class="grid-area-desc secondary-txt">{{ $.Locale }}</span>
    <a class="link grid-area-action self-center" href="/settings/profile/locale/edit">
      <i class="ti ti-edit"></i>
    </a>
  </div>

  {{/* address */}}
  <div class="padding-20 row-sep gap-6 grid grid-name-desc-action">
    <span class="grid-area-name primary-txt">{{ template "standard-attribute-address" }}</span>
    <span class="grid-area-desc secondary-txt">
      {{- if $.AddressStreetAddress }}<span class="whitespace-pre-wrap">{{ $.AddressStreetAddress }}</span><br>{{ end }}
      {{- if $.AddressLocality }}{{ $.AddressLocality }}<br>{{ end }}
      {{- if $.AddressRegion }}{{ $.AddressRegion }}<br>{{ end }}
      {{- if $.AddressPostalCode }}{{ $.AddressPostalCode }}<br>{{ end }}
      {{- if $.AddressCountry }}{{ $.AddressCountry }}<br>{{ end }}
    </span>
    <a class="link grid-area-action self-center" href="/settings/profile/address/edit">
      <i class="ti ti-edit"></i>
    </a>
  </div>

</div>
</main>
{{ end }}
