{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical padding-t-12 padding-b-20 padding-h-24 tablet:padding-h-32 desktop:padding-h-32">
  {{ template "__nav_bar.html" "/settings/profile" }}

  {{ $ca := false }}
  {{ $caLabel := "" }}

  {{ if (eq $.Variant "custom_attributes") }}
  {{ $ca = (call $.GetCustomAttributeByPointer $.Pointer) }}
  {{ if $ca }}
    {{ $label_key := printf "custom-attribute-label-%s" $ca.Pointer }}
    {{ $has_key := $.Translations.HasKey $label_key }}
    {{ if $has_key }}
      {{ $caLabel = $.Translations.RenderText $label_key nil }}
    {{ else }}
      {{ $caLabel = $ca.Label }}
    {{ end }}
  {{ end }}
  {{ end }}

  <h1 class="primary-txt margin-0 text-xl text-center font-bold">
    {{ template "settings-profile-edit-title" (dict "variant" $.Variant "label" $caLabel) }}
  </h1>

  <form id="imagepicker-form-remove" class="hidden" method="post" novalidate>
    {{ $.CSRFField }}
    <input type="hidden" name="/picture" value="">
  </form>

  <form id="imagepicker-form-upload" class="hidden" method="post" novalidate>
    {{ $.CSRFField }}
    <input id="imagepicker-input-value" type="hidden" name="/picture" value="">
    <input type="hidden" name="x_action" value="save">
  </form>

  <form id="form" class="twc-container-vertical" method="post" novalidate>
  {{ $.CSRFField }}

  {{ $save_disabled := false }}

  {{ if (eq $.Variant "name") }}
  {{ if (call $.IsEditable "/name") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-name" }}
    <input class="primary-txt input text-input text-base" name="/name" value="{{ $.Name }}">
  </label>
  {{ end }}
  {{ if (call $.IsEditable "/nickname") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-nickname" }}
    <input class="primary-txt input text-input text-base" name="/nickname" value="{{ $.Nickname }}">
  </label>
  {{ end }}
  {{ if (call $.IsEditable "/given_name") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-given-name" }}
    <input class="primary-txt input text-input text-base" name="/given_name" value="{{ $.GivenName }}">
  </label>
  {{ end }}
  {{ if (call $.IsEditable "/middle_name") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-middle-name" }}
    <input class="primary-txt input text-input text-base" name="/middle_name" value="{{ $.MiddleName }}">
  </label>
  {{ end }}
  {{ if (call $.IsEditable "/family_name") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-family-name" }}
    <input class="primary-txt input text-input text-base" name="/family_name" value="{{ $.FamilyName }}">
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "email") }}
  {{ if (call $.IsEditable "/email") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-email" }}
    <select class="primary-txt select" name="/email" {{ if not $.Emails }}disabled{{ end }}>
      {{ range $.Emails }}
      <option value="{{ . }}" {{ if (eq $.Email .) }}selected{{ end }}>{{ . }}</option>
      {{ end }}
    </select>
    {{ if not $.Emails }}
      {{ $save_disabled = true }}
      <span class="text-base primary-txt">{{ template "settings-profile-edit-email-placeholder" }}</span>
    {{ end }}
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "phone_number") }}
  {{ if (call $.IsEditable "/phone_number") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-phone-number" }}
    <select class="primary-txt select" name="/phone_number" {{ if not $.PhoneNumbers }}disabled{{ end }}>
      {{ range $.PhoneNumbers }}
      <option value="{{ . }}" {{ if (eq $.PhoneNumber .) }}selected{{ end }}>{{ . }}</option>
      {{ end }}
    </select>
    {{ if not $.PhoneNumbers }}
      {{ $save_disabled = true }}
      <span class="text-base primary-txt">{{ template "settings-profile-edit-phone-number-placeholder" }}</span>
    {{ end }}
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "preferred_username") }}
  {{ if (call $.IsEditable "/preferred_username") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-preferred-username" }}
    <select class="primary-txt select" name="/preferred_username" {{ if not $.PreferredUsernames }}disabled{{ end }}>
      {{ range $.PreferredUsernames }}
      <option value="{{ . }}" {{ if (eq $.PreferredUsername .) }}selected{{ end }}>{{ . }}</option>
      {{ end }}
    </select>
    {{ if not $.PreferredUsernames }}
      {{ $save_disabled = true }}
      <span class="text-base primary-txt">{{ template "settings-profile-edit-preferred-username-placeholder" }}</span>
    {{ end }}
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "profile") }}
  {{ if (call $.IsEditable "/profile") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-profile" }}
    <input class="primary-txt input text-input text-base" name="/profile" value="{{ $.Profile }}">
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "picture") }}
  {{ if (call $.IsEditable "/picture") }}
  <div class="grid grid-cols-1 auto-rows-auto">
    <img id="imagepicker-img-preview" class="w-60 h-60 rounded-full place-self-center"
      {{ if $.Picture }}
	src="{{ $.Picture }}"
      {{ else }}
	src="{{ call $.StaticAssetURL "avatar-placeholder" }}"
      {{ end }}
    >
    <div>
      <img id="imagepicker-img-cropper" class="w-full h-60 hidden">
    </div>
    <input id="imagepicker-input-file" type="file" class="hidden" accept="image/png, image/jpeg">
    <button id="imagepicker-button-file" type="button" class="btn primary-btn text-base margin-t-40">
      {{ template "settings-profile-edit-upload-picture-label" }}
    </button>
    <button
      id="imagepicker-button-remove"
      class="btn secondary-btn text-base margin-t-12 {{ if not $.Picture }}hidden{{ end }}"
      type="submit"
      name="x_action"
      value="save"
      form="imagepicker-form-remove"
      data-modal="confirmation"
      data-modal-title="{{ template "settings-profile-edit-remove-confirmation-title" }}"
      data-modal-body="{{ template "settings-profile-edit-remove-confirmation-desc" }}"
      data-modal-action-label="{{ template "settings-profile-edit-remove-confirmation-action-label" }}"
      data-modal-cancel-label="{{ template "settings-profile-edit-remove-confirmation-cancel-label" }}"
    >
      {{ template "settings-profile-edit-remove-picture-label" }}
    </button>
    <button id="imagepicker-button-save" class="btn primary-btn text-base margin-t-40 hidden" type="button">
      {{ template "save-button-label" }}
    </button>
  </div>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "website") }}
  {{ if (call $.IsEditable "/website") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-website" }}
    <input class="primary-txt input text-input text-base" name="/website" value="{{ $.Website }}">
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "address") }}
  {{ if (call $.IsEditable "/address") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-street-address" }}
    <textarea class="primary-txt input text-base" rows="3" name="/address/street_address">
      {{- $.AddressStreetAddress -}}
    </textarea>
  </label>
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-locality" }}
    <input class="primary-txt input text-input text-base" name="/address/locality" value="{{ $.AddressLocality }}">
  </label>
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-postal-code" }}
    <input class="primary-txt input text-input text-base" name="/address/postal_code" value="{{ $.AddressPostalCode }}">
  </label>
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-region" }}
    <input class="primary-txt input text-input text-base" name="/address/region" value="{{ $.AddressRegion }}">
  </label>
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-country" }}
    <select class="primary-txt select" name="/address/country">
      <option value="" {{ if not $.AddressCountry }}selected{{ end }}>{{ template "unset-label" }}</option>
      {{ range $.Alpha2 }}
      {{ $label := (print "territory-" . ) }}
      <option value="{{ . }}" {{ if (eq $.AddressCountry .) }}selected{{ end }}>{{ . }} - {{ ($.Translations.RenderText $label nil) }}</option>
      {{ end }}
    </select>
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "birthdate") }}
  {{ if (call $.IsEditable "/birthdate") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-birthdate" }}
    <input class="primary-txt input text-input text-base" type="date" name="/birthdate" value="{{ $.Birthdate }}" max="{{ $.Today }}">
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "gender") }}
  {{ if (call $.IsEditable "/gender") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-gender" }}
    <select class="primary-txt select" name="gender-select" data-gender-select="gender-input">
      <option value="" {{ if not $.Gender }}selected{{ end }}>{{ template "unset-label" }}</option>
      <option value="female" {{ if (eq $.Gender "female") }}selected{{ end }}>{{ template "gender-female" }}</option>
      <option value="male" {{ if (eq $.Gender "male") }}selected{{ end }}>{{ template "gender-male" }}</option>
      <option value="other" {{ if (and (not (eq $.Gender "female")) (not (eq $.Gender "male")) $.Gender) }}selected{{ end }}>{{ template "settings-profile-edit-gender-other" }}</option>
    </select>
  </label>
  <input id="gender-input" class="primary-txt input text-input text-base" name="gender-input" value="{{ $.Gender }}">
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "zoneinfo") }}
  {{ if (call $.IsEditable "/zoneinfo") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-zoneinfo" }}
    <select class="primary-txt select" name="/zoneinfo">
      <option value="" {{ if not $.Zoneinfo }}selected{{ end }}>{{ template "unset-label" }}</option>
      {{ range $.Timezones }}
      <option value="{{ .Name }}" {{ if (eq $.Zoneinfo .Name) }}selected{{ end }}>{{ .DisplayLabel }}</option>
      {{ end }}
    </select>
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "locale") }}
  {{ if (call $.IsEditable "/locale") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-locale" }}
    <select class="primary-txt select" name="/locale">
      <option value="" {{ if not $.Locale }}selected{{ end }}>{{ template "unset-label" }}</option>
      {{ range $.Languages }}
      {{ $label := (print "language-" . ) }}
      <option value="{{ . }}" {{ if (eq $.Locale .) }}selected{{ end }}>{{ . }} - {{ ($.Translations.RenderText $label nil) }}</option>
      {{ end }}
    </select>
  </label>
  {{ end }}
  {{ end }}

  {{ if $ca }}
  {{ if $ca.IsEditable }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{/* The label */}}
    {{ $caLabel }}

    {{/* The control */}}

    {{ if (eq $ca.Type "string") }}
    <input type="text" class="primary-txt input text-input text-base" name="{{ $ca.Pointer }}" value="{{ showAttributeValue $ca.Value }}">
    {{ end }}

    {{ if (eq $ca.Type "number") }}
    <input
      type="text"
      inputmode="decimal"
      class="primary-txt input text-input text-base"
      name="{{ $ca.Pointer }}"
      value="{{ showAttributeValue $ca.Value }}">
    {{ end }}

    {{ if (eq $ca.Type "integer") }}
    <input
      type="text"
      inputmode="numeric"
      class="primary-txt input text-input text-base"
      name="{{ $ca.Pointer }}"
      value="{{ showAttributeValue $ca.Value }}">
    {{ end }}

    {{ if (eq $ca.Type "enum") }}
    <select
      class="primary-txt select"
      name="{{ $ca.Pointer }}">
      <option value="" {{ if not $ca.Value }}selected{{ end }}>{{ template "unset-label" }}</option>
      {{ range $ca.Enum }}
      {{ $label_key := printf "custom-attribute-enum-label-%s-%s" $ca.Pointer .Value }}
      {{ $has_key := $.Translations.HasKey $label_key }}
      <option value="{{ showAttributeValue .Value }}" {{ if (eq $ca.Value .Value) }}selected{{ end }}>
	{{ if $has_key }}
	  {{ $.Translations.RenderText $label_key nil }}
	{{ else }}
	  {{ .Label }}
	{{ end }}
      </option>
      {{ end }}
    </select>
    {{ end }}

    {{ if (eq $ca.Type "phone_number") }}
    <input
      data-intl-tel-input="true"
      data-intl-tel-input-class="flex flex-row"
      type="text"
      inputmode="tel"
      class="primary-txt input text-input text-base w-full"
      name="{{ $ca.Pointer }}"
      value="{{ showAttributeValue $ca.Value }}">
    {{ end }}

    {{ if (eq $ca.Type "email") }}
    <input
      type="email"
      inputmode="email"
      class="primary-txt input text-input text-base"
      name="{{ $ca.Pointer }}"
      value="{{ showAttributeValue $ca.Value }}">
    {{ end }}

    {{ if (eq $ca.Type "url") }}
    <input
      type="url"
      inputmode="url"
      class="primary-txt input text-input text-base"
      name="{{ $ca.Pointer }}"
      value="{{ showAttributeValue $ca.Value }}">
    {{ end }}

    {{ if (eq $ca.Type "country_code") }}
    <select
      class="primary-txt select"
      name="{{ $ca.Pointer }}">
      <option value="" {{ if not $ca.Value }}selected{{ end }}>{{ template "unset-label" }}</option>
      {{ range $.Alpha2 }}
      {{ $label := (print "territory-" . ) }}
      <option value="{{ . }}" {{ if (eq $ca.Value .) }}selected{{ end }}>{{ . }} - {{ ($.Translations.RenderText $label nil) }}</option>
      {{ end }}
    </select>
    {{ end }}
  </label>

  {{ if (or (eq $ca.Type "number") (eq $ca.Type "integer")) }}
  {{ if (and (isNil $ca.Minimum) (isNil $ca.Maximum)) }}
  {{ else if (and (not (isNil $ca.Minimum)) (isNil $ca.Maximum)) }}
    <span class="primary-txt text-sm">{{ template "custom-attribute-numeric-hint-minimum" (dict "minimum" (showAttributeValue $ca.Minimum)) }}</span>
  {{ else if (and (isNil $ca.Minimum) (not (isNil $ca.Maximum))) }}
    <span class="primary-txt text-sm">{{ template "custom-attribute-numeric-hint-maximum" (dict "maximum" (showAttributeValue $ca.Maximum)) }}</span>
  {{ else }}
    <span class="primary-txt text-sm">{{ template "custom-attribute-numeric-hint-minimum-maximum" (dict "minimum" (showAttributeValue $ca.Minimum) "maximum" (showAttributeValue $ca.Maximum)) }}</span>
  {{ end }}
  {{ end }}

  {{ end }}
  {{ end }}

  <button id="save-button" class="btn primary-btn margin-t-20 {{ if (eq $.Variant "picture") }}hidden{{ end }}" type="submit" name="x_action" value="save" {{ if $save_disabled }}disabled{{ end }}>
    {{ template "save-button-label" }}
  </button>

  </form>

  {{ template "__watermark.html" . }}
</div>
{{ end }}
