{{ template "__wide_page_frame.html" . }}

{{ define "page-content" }}
<div class="pane flex flex-col">
  <div class="px-4">
    {{ template "__nav_bar.html" (call $.MakeURL "/settings") }}
  </div>

  <div class="px-5 pt-4 pb-5 row-sep grid grid-cols-1 auto-rows-auto gap-y-1">
    <h1 class="m-0 primary-txt text-xl font-bold">
      {{ template "settings-biometric-title" }}
    </h1>
    <p class="m-0 secondary-txt text-sm">
      {{ template "settings-biometric-description" }}
    </p>
  </div>

  {{ range $.BiometricIdentities }}
  <div class="p-5 row-sep grid grid-cols-[auto_minmax(0,_1fr)_auto] auto-rows-auto gap-y-1 gap-x-2">
    <i class="twc-title-icon ti ti-devices col-span-1 col-start-1 primary-txt text-base" aria-hidden="true"></i>
    <h2 class="col-span-1 col-start-2 self-center m-0 primary-txt text-base">
      {{ if .DisplayName }}
      {{ .DisplayName }}
      {{ else }}
      {{ template "settings-biometric-identity-unknown-name" }}
      {{ end }}
    </h2>
    <p class="col-span-2 col-start-2 self-center m-0 secondary-txt truncate text-sm">
      {{ template "settings-biometric-identity-description" (dict "time" .CreatedAt "rfc3339" (rfc3339 .CreatedAt)) }}
    </p>
    <form class="w-6 col-start-3 row-start-1 row-span-2 flex flex-col" method="post" novalidate>
      <input type="hidden" name="q_identity_id" value="{{ .ID }}">
      <button
        class="btn destructive-secondary-btn flex-1 flex flex-col items-end justify-center"
        type="submit"
        name="x_action"
        value="remove"
        data-authgear-event="authgear.button.remove_biometric"
      >
        <i class="ti ti-unlink"></i>
      </button>
    </form>
  </div>
  {{ end }}

</div>

{{ end }}
