{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 padding-b-20 px-6 tablet:px-8 desktop:px-8">

<h1 class="primary-txt text-center m-0 text-xl font-bold">
  {{ template "account-deletion-success-title" }}
</h1>

<p class="m-0 primary-txt text-center text-sm">
  {{ template "account-deletion-success-description" (dict "date" $.ExpectedAccountDeletionTime "rfc3339" (rfc3339 $.ExpectedAccountDeletionTime)) }}
</p>

<a class="not-a btn primary-btn mt-5 flex flex-col items-center justify-center" href="/">
  {{ template "done-button-label" }}
</a>

{{ template "__watermark.html" . }}
</div>
{{ end }}
