{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<main class="content settings-content">
{{ template "__nav_bar.html" }}

{{/* Profile */}}
<div class="pane flex flex-col margin-b-20">
  <section class="padding-h-20 margin-t-16 margin-b-4">
    <h1 class="margin-0 primary-txt text-xl font-bold">
      {{ template "settings-my-profile-title" }}
    </h1>
  </section>
  <section class="padding-10 flex flex-row items-center row-sep">
    <img
      class="margin-10 profile-picture"
      {{ if $.ProfilePictureURL }}
        src="{{ $.ProfilePictureURL }}"
      {{ else }}
        src="{{ call $.StaticAssetURL "avatar-placeholder" }}"
      {{ end }}
    >
    <div class="margin-h-10 flex flex-col gap-4">
      {{ if $.FormattedName }}<span class="primary-txt">{{ $.FormattedName }}</span>{{ end }}
      {{ if $.EndUserAccountID }}<span class="secondary-txt font-sm">{{ $.EndUserAccountID }}</span>{{ end }}
      {{ if (and (not $.FormattedName) (not $.EndUserAccountID)) }}<span class="secondary-txt font-sm">{{ template "settings-my-profile-empty-label" }}</span>{{ end }}
    </div>
  </section>
  <section class="padding-20 row-sep">
    <a class="link action text-sm" href="#">
      <i class="ti ti-chevrons-right"></i>
      {{ template "more-button-label" }}
    </a>
  </section>
</div>

{{/* Identity */}}
<div class="pane flex flex-col margin-b-20">
<div class="flex flex-col">
  <section class="padding-h-20 margin-t-16 margin-b-4">
    <h1 class="margin-0 primary-txt text-xl font-bold">
      {{ template "settings-my-account-title" }}
    </h1>
  </section>
  <section class="padding-20 row-sep grid grid-title-desc">
    <h2 class="grid-area-title margin-0 primary-txt text-base font-semibold">
      {{ template "settings-identity-title" }}
    </h2>
    <p class="grid-area-desc margin-0 text-sm secondary-txt">
      {{ template "settings-identity-description" }}
    </p>
  </section>

  {{ $show_more_button := false }}
  {{ range .IdentityCandidates }}
  {{ $claim_verification_statuses := index $.VerificationStatuses .identity_id }}
  {{ $verification_status := "disabled" }}
  {{ if ne (len $claim_verification_statuses) 0 }}
    {{ $verification_status = (index $claim_verification_statuses 0).Status }}
  {{ end }}

  {{/* We do not want to show unset row */}}
  {{ $is_unset := (not .identity_id) }}

  {{/* We define is_hidden here for future configurability */}}
  {{ $is_hidden := ($is_unset)}}

  {{/* Only show more button when at least one row is hidden */}}
  {{ $show_more_button = (or ($show_more_button) ($is_hidden)) }}

  {{ if not $is_hidden }}
  <section class="padding-20 row-sep grid grid-icon-name-claim-action1-action2-action3">
    {{ $ti := "" }}

    {{ if eq .type "oauth" }}
    {{ if eq .provider_type "google" }}   {{ $ti = "ti ti-brand-google" }}     {{ end }}
    {{ if eq .provider_type "apple" }}    {{ $ti = "ti ti-brand-apple"  }}     {{ end }}
    {{ if eq .provider_type "facebook" }} {{ $ti = "ti ti-brand-facebook" }}   {{ end }}
    {{ if eq .provider_type "linkedin" }} {{ $ti = "ti ti-brand-linkedin" }}   {{ end }}
    {{ if eq .provider_type "azureadv2" }}{{ $ti = "ti ti-brand-windows" }}    {{ end }}
    {{ if eq .provider_type "adfs" }}     {{ $ti = "ti ti-brand-windows" }}    {{ end }}
    {{ if eq .provider_type "wechat" }}   {{ $ti = "ti ti-message-circle" }}   {{ end }}
    {{ end }}

    {{ if eq .type "login_id" }}
    {{ if eq .login_id_type "email" }}   {{ $ti = "ti ti-mail" }}{{ end }}
    {{ if eq .login_id_type "username" }}{{ $ti = "ti ti-at" }}      {{ end }}
    {{ if eq .login_id_type "phone" }}   {{ $ti = "ti ti-device-mobile" }}   {{ end }}

    {{ end }}

    <i class="grid-area-icon justify-self-start margin-0 primary-txt text-base {{ $ti }}" aria-hidden="true"></i>
    <p class="grid-area-name self-center margin-0 primary-txt text-base">
      {{ if eq .type "oauth" }}
        {{ if eq .provider_type "google" }}{{ template "settings-identity-oauth-google" }}{{ end }}
        {{ if eq .provider_type "apple" }}{{ template "settings-identity-oauth-apple" }}{{ end }}
        {{ if eq .provider_type "facebook" }}{{ template "settings-identity-oauth-facebook" }}{{ end }}
        {{ if eq .provider_type "linkedin" }}{{ template "settings-identity-oauth-linkedin" }}{{ end }}
        {{ if eq .provider_type "azureadv2" }}{{ template "settings-identity-oauth-azureadv2" }}{{ end }}
        {{ if eq .provider_type "adfs" }}{{ template "settings-identity-oauth-adfs" }}{{ end }}
        {{ if eq .provider_type "wechat" }}{{ template "settings-identity-oauth-wechat" }}{{ end }}
      {{ end }}
      {{ if eq .type "login_id" }}
        {{ if eq .login_id_type "email" }}{{ template "settings-identity-login-id-email" }}{{ end }}
        {{ if eq .login_id_type "phone" }}{{ template "settings-identity-login-id-phone" }}{{ end }}
        {{ if eq .login_id_type "username" }}{{ template "settings-identity-login-id-username" }}{{ end }}
        {{ if eq .login_id_type "raw" }}{{ template "settings-identity-login-id-raw" }}{{ end }}
      {{ end }}
    </p>

    {{ if .display_id }}
    <p class="grid-area-claim margin-t-4 self-center text-sm margin-0 secondary-txt leading-normal">
      {{ .display_id }}

      <!-- TODO(verification): show verification for all identity types -->
      {{ if eq .type "login_id" }}
      {{ if .identity_id }}
      {{ if or (eq $verification_status "pending") (eq $verification_status "required") }}
      <span class="error-txt">
        {{ template "verification-status-label--unverified" }}
      </span>
      {{ end }}
      {{ if eq $verification_status "verified" }}
      <span class="good-txt">
        {{ template "verification-status-label--verified" }}
      </span>
      {{ end }}
      {{ end }}
      {{ end }}
    </p>
    {{ end }}

    {{ if eq .type "oauth" }}
    <form class="grid-area-action1 self-center justify-self-end" method="post" novalidate>
    {{ $.CSRFField }}
    <input type="hidden" name="x_provider_alias" value="{{ .provider_alias }}">
    <input type="hidden" name="x_identity_id" value="{{ .identity_id }}">
    {{ if not .modify_disabled }}{{ if .identity_id }}
      {{ if gt $.IdentityCount 1 }}
    <button class="btn destructive-btn" type="submit" name="x_action" value="unlink_oauth">
      <i class="ti ti-unlink margin-l-8 padding-v-16"></i>
    </button>
      {{ end }}
    {{ else }}
    <button class="btn secondary-btn" type="submit" name="x_action" value="link_oauth" data-form-xhr="false">
      <i class="ti ti-circle-plus margin-l-8 padding-v-16"></i>
    </button>
    {{ end }}{{ end }}
    </form>
    {{ end }}

    {{ if eq .type "login_id" }}
    {{ if not .modify_disabled }}{{ if .identity_id }}
    <a class="link grid-area-action1 self-center justify-self-end" href="{{ call $.MakeURL "/settings/enter_login_id" "x_login_id_key" .login_id_key "x_login_id_type" .login_id_type "x_login_id_input_type" .login_id_input_type "x_identity_id" .identity_id }}">
      <i class="ti ti-edit margin-l-8 padding-v-16"></i>
    </a>
    {{ else }}
    <a class="link grid-area-action1 self-center justify-self-end" href="{{ call $.MakeURL "/settings/enter_login_id" "x_login_id_key" .login_id_key "x_login_id_type" .login_id_type "x_login_id_input_type" .login_id_input_type }}">
      <i class="ti ti-circle-plus margin-l-8 padding-v-16"></i>
    </a>
    {{ end }}{{ end }}
    {{ end }}

    {{ if eq .type "login_id" }}
    {{ if .identity_id }}
    {{ if or (eq $verification_status "pending") (eq $verification_status "required") }}
    <form class="grid-area-action3 self-center margin-t-4" method="post" novalidate>
    {{ $.CSRFField }}
    <input type="hidden" name="x_identity_id" value="{{ .identity_id }}">
    <button class="btn action-btn text-xs" type="submit" name="x_action" value="verify_login_id">
      {{ template "resend-verification-code-button-label" }}
    </button>
    </form>
    {{ end }}
    {{ end }}
    {{ end }}

  </section>
  {{ end }}
  {{ end }}

  {{ if $show_more_button }}
  <section class="padding-20 row-sep">
    <a class="link action text-sm" href="/settings/identity">
      <i class="ti ti-chevrons-right"></i>
      {{ template "more-login-methods-label" }}
    </a>
  </section>
  {{ end }}

</div>
</div>

<!-- Primary password, oob_otp -->
{{ $has_primary_password := false }}
{{ $has_primary_oob_otp_email := false }}
{{ $has_primary_oob_otp_sms := false }}
{{ range $.Authenticators }}
{{ if eq .Kind "primary" }}
  {{ if eq .Type "password" }}
  {{ $has_primary_password = true }}
  {{ end }}
  {{ if eq .Type "oob_otp_email" }}
  {{ $has_primary_oob_otp_email = true }}
  {{ end }}
  {{ if eq .Type "oob_otp_sms" }}
  {{ $has_primary_oob_otp_sms = true }}
  {{ end }}
{{ end }}
{{ end }}

<!-- MFA -->
<!-- Individual secondary authenticator section is shown if it is allowed in the configuration -->
<!-- or the user somehow has authenticator of that kind -->
{{ $has_secondary_totp := false }}
{{ $has_secondary_oob_otp_email := false }}
{{ $has_secondary_oob_otp_sms := false }}
{{ $secondary_password := false }}
{{ range $.Authenticators }}
{{ if eq .Kind "secondary" }}
  {{ if eq .Type "totp" }}
    {{ $has_secondary_totp = true }}
  {{ else if eq .Type "oob_otp_email" }}
    {{ $has_secondary_oob_otp_email = true }}
  {{ else if eq .Type "oob_otp_sms" }}
    {{ $has_secondary_oob_otp_sms = true }}
  {{ else if eq .Type "password" }}
    {{ $secondary_password = . }}
  {{ end }}
{{ end }}
{{ end }}
{{ $show_secondary_totp := (or $has_secondary_totp $.SecondaryTOTPAllowed) }}
{{ $show_secondary_oob_otp_email := (or $has_secondary_oob_otp_email $.SecondaryOOBOTPEmailAllowed) }}
{{ $show_secondary_oob_otp_sms := (or $has_secondary_oob_otp_sms $.SecondaryOOBOTPSMSAllowed) }}
{{ $show_secondary_password := (or $secondary_password $.SecondaryPasswordAllowed) }}
{{ $show_mfa := (or $show_secondary_totp $show_secondary_oob_otp_email $show_secondary_oob_otp_sms $show_secondary_password) }}


<div class="pane margin-b-20">
<!-- The title and the description -->
<section class="padding-h-20 margin-v-16 gap-4 grid grid-title-desc-action1-action2">
  <h1 class="grid-area-title margin-0 primary-txt text-xl font-bold">
    {{ template "settings-page-security-section-title" }}
  </h1>
  <p class="grid-area-desc text-sm margin-0 secondary-txt">
    {{ template "settings-page-security-section-description" }}
  </p>
</section>
<section class="padding-20 padding-t-0">
  <div class="settings-security-list">
    {{ range $.Authenticators }}
    <!-- Primary Password -->
    {{ if eq .Type "password" }}{{ if eq .Kind "primary" }}
    <a class="settings-security-item not-a" href="/settings/change_password">
      <i class="ti ti-key icon margin-b-10 primary-txt" aria-hidden="true"></i>
      <p class="margin-t-0 margin-b-10 primary-txt text-base">
        {{ template "settings-page-primary-password-title" }}
      </p>
      <p class="margin-t-0 margin-b-10 secondary-txt text-xs">
        <!-- FIXME(ui): Use user preferred timezone -->
        {{ template "settings-page-primary-password-description" (dict "time" .UpdatedAt "rfc3339" (rfc3339 .UpdatedAt)) }}
      </p>
    </a>
    {{ end }}{{ end }}

    <!-- Primary OOB OTP Email -->
    {{ if eq .Type "oob_otp_email" }}{{ if eq .Kind "primary" }}
    <a class="settings-security-item not-a" href="/settings/identity">
      <i class="ti ti-mail icon margin-b-10 primary-txt" aria-hidden="true"></i>
      <p class="margin-t-0 margin-b-10 primary-txt text-base">
        {{ template "settings-page-primary-oob-otp-title--email" }}
      </p>
      <p class="margin-0 secondary-txt text-xs truncate">
        {{ index .Claims "https://authgear.com/claims/oob_otp/email" }}
      </p>
      <p class="margin-t-0 margin-b-10 secondary-txt text-xs">
        <!-- FIXME(ui): Use user preferred timezone -->
        {{ template "settings-page-primary-oob-otp-description" (dict "time" .CreatedAt "rfc3339" (rfc3339 .CreatedAt)) }}
      </p>
    </a>
    {{ end }}{{ end }}

    <!-- Primary OOB OTP SMS -->
    {{ if eq .Type "oob_otp_sms" }}{{ if eq .Kind "primary" }}
    <a class="settings-security-item not-a" href="/settings/identity">
      <i class="ti ti-message-dots icon margin-b-10 primary-txt" aria-hidden="true"></i>
      <p class="margin-t-0 margin-b-10 primary-txt text-base">
        {{ template "settings-page-primary-oob-otp-title--sms" }}
      </p>
      <p class="margin-0 secondary-txt text-xs">
        {{ index .Claims "https://authgear.com/claims/oob_otp/phone" }}
      </p>
      <p class="margin-t-0 margin-b-10 secondary-txt text-xs">
        <!-- FIXME(ui): Use user preferred timezone -->
        {{ template "settings-page-primary-oob-otp-description" (dict "time" .CreatedAt "rfc3339" (rfc3339 .CreatedAt)) }}
      </p>
    </a>
    {{ end }}{{ end }}
    {{ end }}

    <!-- MFA -->
    {{ if $show_mfa }}
    <a class="settings-security-item not-a" href="/settings/mfa">
      <i class="ti ti-shield-lock icon margin-b-10 primary-txt" aria-hidden="true"></i>
      <p class="margin-t-0 margin-b-10 primary-txt text-base">
        {{ template "settings-page-mfa-section-title" }}
      </p>
      <p class="margin-t-0 margin-b-10 secondary-txt text-xs">
        {{ template "settings-page-mfa-section-description" }}
      </p>
    </a>
    {{ end }}

    {{ if $.ShowBiometric }}
    <!-- Biometric -->
    <a class="settings-security-item not-a" href="/settings/biometric">
      <i class="ti ti-fingerprint icon margin-b-10 primary-txt" aria-hidden="true"></i>
      <p class="margin-t-0 margin-b-10 primary-txt text-base">
        {{ template "settings-page-biometric-section-title" }}
      </p>
      <p class="margin-t-0 margin-b-10 secondary-txt text-xs">
        {{ template "settings-page-biometric-section-description" }}
      </p>
    </a>
    {{ end }}

    <a class="settings-security-item not-a" href="/settings/sessions">
      <i class="ti ti-shield-check icon margin-b-10 primary-txt" aria-hidden="true"></i>
      <p class="margin-t-0 margin-b-10 primary-txt text-base">
        {{ template "settings-page-session-section-title" }}
      </p>
      <p class="margin-t-0 margin-b-10 secondary-txt text-xs">
        {{ template "settings-page-session-section-description" }}
      </p>
    </a>
  </div>
</section>
</div>

{{ if $.ClientURI }}
<div class="pane margin-b-20">
  <section class="padding-v-16 padding-h-20 flex justify-center">
    <a class="link text-sm" href="{{ $.ClientURI }}">
      <i class="ti ti-logout margin-r-10"></i>
      {{ template "back-to-app-label" }}
    </a>
  </section>
</div>
{{ end }}


</main>
{{ end }}
