{{ template "__wide_page_frame.html" . }}

{{ define "page-content" }}
<div class="pane flex flex-col">
  <div class="padding-h-16">
    {{ template "__nav_bar.html" "/settings" }}
  </div>

  {{/* picture */}}
  {{ if (call $.IsReadable "/picture") }}
  <div class="padding-20 row-sep gap-3 grid grid-cols-1fr-auto grid-rows-auto-auto">
    <div class="col-start-1 col-span-1 row-start-1 row-span-1 primary-txt">{{ template "standard-attribute-picture" }}</div>
    <img class="col-start-1 col-span-1 row-start-2 row-span-1 rounded-full bg-center bg-cover bg-no-repeat w-20 h-20"
      {{ if $.Picture }}
	src="{{ $.Picture }}"
      {{ else }}
        src="{{ call $.StaticAssetURL "avatar-placeholder" }}"
      {{ end }}
    >
    {{/* TODO(picture) */}}
    {{/* The edit link is not shown because we only supports entering URL */}}
    {{/* We will add the button back when we support uploading picture */}}
  </div>
  {{ end }}

  {{/* FormattedNames */}}
  {{ if (or (call $.IsReadable "/name") (call $.IsReadable "/given_name") (call $.IsReadable "/family_name") (call $.IsReadable "/middle_name") (call $.IsReadable "/nickname")) }}
  <div class="padding-20 row-sep gap-1.5 grid grid-cols-1fr-auto grid-rows-auto-auto">
    <span class="col-start-1 col-span-1 row-start-1 row-span-1 primary-txt">{{ template "settings-profile-formatted-names-label" }}</span>
    <span class="col-start-1 col-span-1 row-start-2 row-span-1 secondary-txt whitespace-pre-wrap">{{ $.FormattedNames }}</span>
    {{ if (or (call $.IsEditable "/name") (call $.IsEditable "/given_name") (call $.IsEditable "/family_name") (call $.IsEditable "/middle_name") (call $.IsEditable "/nickname")) }}
    <a class="link col-start-2 row-span-full self-center" href="/settings/profile/name/edit">
      <i class="ti ti-edit"></i>
    </a>
    {{ end }}
  </div>
  {{ end }}

  {{/* email */}}
  {{ if (call $.IsReadable "/email") }}
  <div class="padding-20 row-sep gap-1.5 grid grid-cols-1fr-auto grid-rows-auto-auto">
    <span class="col-start-1 col-span-1 row-start-1 row-span-1 primary-txt">{{ template "standard-attribute-email" }}</span>
    <span class="col-start-1 col-span-1 row-start-2 row-span-1 secondary-txt">{{ $.Email }}</span>
    {{ if (call $.IsEditable "/email") }}
    <a class="link col-start-2 row-span-full self-center" href="/settings/profile/email/edit">
      <i class="ti ti-edit"></i>
    </a>
    {{ end }}
  </div>
  {{ end }}

  {{/* phone_number */}}
  {{ if (call $.IsReadable "/phone_number") }}
  <div class="padding-20 row-sep gap-1.5 grid grid-cols-1fr-auto grid-rows-auto-auto">
    <span class="col-start-1 col-span-1 row-start-1 row-span-1 primary-txt">{{ template "standard-attribute-phone-number" }}</span>
    <span class="col-start-1 col-span-1 row-start-2 row-span-1 secondary-txt">{{ $.PhoneNumber }}</span>
    {{ if (call $.IsEditable "/phone_number") }}
    <a class="link col-start-2 row-span-full self-center" href="/settings/profile/phone_number/edit">
      <i class="ti ti-edit"></i>
    </a>
    {{ end }}
  </div>
  {{ end }}

  {{/* preferred_username */}}
  {{ if (call $.IsReadable "/preferred_username") }}
  <div class="padding-20 row-sep gap-1.5 grid grid-cols-1fr-auto grid-rows-auto-auto">
    <span class="col-start-1 col-span-1 row-start-1 row-span-1 primary-txt">{{ template "standard-attribute-preferred-username" }}</span>
    <span class="col-start-1 col-span-1 row-start-2 row-span-1 secondary-txt">{{ $.PreferredUsername }}</span>
    {{ if (call $.IsEditable "/preferred_username") }}
    <a class="link col-start-2 row-span-full self-center" href="/settings/profile/preferred_username/edit">
      <i class="ti ti-edit"></i>
    </a>
    {{ end }}
  </div>
  {{ end }}

  {{/* profile */}}
  {{ if (call $.IsReadable "/profile") }}
  <div class="padding-20 row-sep gap-1.5 grid grid-cols-1fr-auto grid-rows-auto-auto">
    <span class="col-start-1 col-span-1 row-start-1 row-span-1 primary-txt">{{ template "standard-attribute-profile" }}</span>
    <span class="col-start-1 col-span-1 row-start-2 row-span-1 secondary-txt">{{ $.Profile }}</span>
    {{ if (call $.IsEditable "/profile") }}
    <a class="link col-start-2 row-span-full self-center" href="/settings/profile/profile/edit">
      <i class="ti ti-edit"></i>
    </a>
    {{ end }}
  </div>
  {{ end }}

  {{/* website */}}
  {{ if (call $.IsReadable "/website") }}
  <div class="padding-20 row-sep gap-1.5 grid grid-cols-1fr-auto grid-rows-auto-auto">
    <span class="col-start-1 col-span-1 row-start-1 row-span-1 primary-txt">{{ template "standard-attribute-website" }}</span>
    <span class="col-start-1 col-span-1 row-start-2 row-span-1 secondary-txt">{{ $.Website }}</span>
    {{ if (call $.IsEditable "/website") }}
    <a class="link col-start-2 row-span-full self-center" href="/settings/profile/website/edit">
      <i class="ti ti-edit"></i>
    </a>
    {{ end }}
  </div>
  {{ end }}

  {{/* gender */}}
  {{ if (call $.IsReadable "/gender") }}
  <div class="padding-20 row-sep gap-1.5 grid grid-cols-1fr-auto grid-rows-auto-auto">
    <span class="col-start-1 col-span-1 row-start-1 row-span-1 primary-txt">{{ template "standard-attribute-gender" }}</span>
    <span class="col-start-1 col-span-1 row-start-2 row-span-1 secondary-txt">{{ $.Gender }}</span>
    {{ if (call $.IsEditable "/gender") }}
    <a class="link col-start-2 row-span-full self-center" href="/settings/profile/gender/edit">
      <i class="ti ti-edit"></i>
    </a>
    {{ end }}
  </div>
  {{ end }}

  {{/* birthdate */}}
  {{ if (call $.IsReadable "/birthdate") }}
  <div class="padding-20 row-sep gap-1.5 grid grid-cols-1fr-auto grid-rows-auto-auto">
    <span class="col-start-1 col-span-1 row-start-1 row-span-1 primary-txt">{{ template "standard-attribute-birthdate" }}</span>
    <span class="col-start-1 col-span-1 row-start-2 row-span-1 secondary-txt" data-input-date-value="{{ $.Birthdate }}">{{ $.Birthdate }}</span>
    {{ if (call $.IsEditable "/birthdate") }}
    <a class="link col-start-2 row-span-full self-center" href="/settings/profile/birthdate/edit">
      <i class="ti ti-edit"></i>
    </a>
    {{ end }}
  </div>
  {{ end }}

  {{/* zoneinfo */}}
  {{ if (call $.IsReadable "/zoneinfo") }}
  <div class="padding-20 row-sep gap-1.5 grid grid-cols-1fr-auto grid-rows-auto-auto">
    <span class="col-start-1 col-span-1 row-start-1 row-span-1 primary-txt">{{ template "standard-attribute-zoneinfo" }}</span>
    <span class="col-start-1 col-span-1 row-start-2 row-span-1 secondary-txt">
      {{ if $.Zoneinfo }}
	{{ $.ZoneinfoTimezone.DisplayLabel }}
      {{ end }}
    </span>
    {{ if (call $.IsEditable "/zoneinfo") }}
    <a class="link col-start-2 row-span-full self-center" href="/settings/profile/zoneinfo/edit">
      <i class="ti ti-edit"></i>
    </a>
    {{ end }}
  </div>
  {{ end }}

  {{/* locale */}}
  {{ if (call $.IsReadable "/locale") }}
  <div class="padding-20 row-sep gap-1.5 grid grid-cols-1fr-auto grid-rows-auto-auto">
    <span class="col-start-1 col-span-1 row-start-1 row-span-1 primary-txt">{{ template "standard-attribute-locale" }}</span>
    <span class="col-start-1 col-span-1 row-start-2 row-span-1 secondary-txt">
      {{ if $.Locale }}
	{{ $label := (print "language-" $.Locale) }}
	{{ $.Locale }} - {{ ($.Translations.RenderText $label nil) }}
      {{ end }}
    </span>
    {{ if (call $.IsEditable "/locale") }}
    <a class="link col-start-2 row-span-full self-center" href="/settings/profile/locale/edit">
      <i class="ti ti-edit"></i>
    </a>
    {{ end }}
  </div>
  {{ end }}

  {{/* address.address */}}
  {{ if (call $.IsReadable "/address") }}
  <div class="padding-20 row-sep gap-1.5 grid grid-cols-1fr-auto grid-rows-auto-auto">
    <span class="col-start-1 col-span-1 row-start-1 row-span-1 primary-txt">{{ template "standard-attribute-address" }}</span>
    <span class="col-start-1 col-span-1 row-start-2 row-span-1 secondary-txt">
      {{- if $.AddressStreetAddress }}<span class="whitespace-pre-wrap">{{ $.AddressStreetAddress }}</span><br>{{ end }}
      {{- if $.AddressLocality }}{{ $.AddressLocality }}<br>{{ end }}
      {{- if $.AddressRegion }}{{ $.AddressRegion }}<br>{{ end }}
      {{- if $.AddressPostalCode }}{{ $.AddressPostalCode }}<br>{{ end }}
      {{- if $.AddressCountry }}{{ $.Translations.RenderText (printf "territory-%s" $.AddressCountry) nil }}<br>{{ end }}
    </span>
    {{ if (call $.IsEditable "/address") }}
    <a class="link col-start-2 row-span-full self-center" href="/settings/profile/address/edit">
      <i class="ti ti-edit"></i>
    </a>
    {{ end }}
  </div>
  {{ end }}

  {{ range $.CustomAttributes }}
  <div class="padding-20 row-sep gap-1.5 grid grid-cols-1fr-auto grid-rows-auto-auto">
    {{ $label_key := printf "custom-attribute-label-%s" .Pointer }}
    {{ $has_key := $.Translations.HasKey $label_key }}
    <span class="col-start-1 col-span-1 row-start-1 row-span-1 primary-txt">
      {{ if $has_key }}
        {{ $.Translations.RenderText $label_key nil }}
      {{ else }}
        {{ .Label }}
      {{ end }}
    </span>
    <span class="col-start-1 col-span-1 row-start-2 row-span-1 secondary-txt">
      {{ if .Value }}
        {{ if eq .Type "enum" }}
          {{ $variant_label_key := printf "%s-%s" $label_key .Value }}
          {{ if $.Translations.HasKey $variant_label_key }}
            {{ $.Translations.RenderText $variant_label_key nil }}
          {{ else }}
            {{ .EnumValueLabel }}
          {{ end }}
        {{ else if eq .Type "country_code" }}
          {{ $.Translations.RenderText (printf "territory-%s" .Value) nil }}
        {{ else }}
          {{ .Value }}
        {{ end }}
      {{ end }}
    </span>
    {{ if .IsEditable }}
    <a class="link col-start-2 row-span-full self-center" href="/settings/profile/custom_attributes/edit?pointer={{ .Pointer }}">
      <i class="ti ti-edit"></i>
    </a>
    {{ end }}
  </div>
  {{ end }}

</div>
{{ end }}
