{{ template "__wide_page_frame.html" . }}

{{ define "page-content" }}
<div class="pane flex flex-col">

<div class="px-4">
  {{ template "__nav_bar.html" "/settings" }}
</div>

<div class="px-5 pt-4 pb-5 row-sep grid grid-cols-1 auto-rows-auto gap-y-1">
  <h1 class="m-0 primary-txt text-xl font-bold">
    {{ template "settings-sessions-title" }}
  </h1>
  <p class="m-0 secondary-txt text-sm">
    {{ template "settings-sessions-description" }}
  </p>
</div>

<div class="twc-container-vertical row-sep py-5">
{{ range $.SessionGroups }}
<div class="px-5 flex flex-col divide-y">
  <div class="flex flex-row space-x-2 py-1.5 items-center">
    {{ $icon := "" }}
    {{ if eq .Type "grouped" }}{{ $icon = "devices" }}{{ else }}{{ $icon = "device-laptop" }}{{ end }}
    <i class="twc-title-icon ti ti-{{ $icon }} primary-txt text-sm" aria-hidden="true"></i>
    <h2 class="flex-1 primary-txt text-base m-0 truncate text-sm font-normal">{{ .DisplayName }}</h2>
  </div>
  {{ range .Sessions }}
  <div class="grid grid-cols-1fr-auto py-1.5">
    <p class="col-start-1 text-sm leading-normal m-0 secondary-txt">
      {{ if and .LastAccessedByIPEnglishCountryName .LastAccessedByIPCountryCode }}
      {{ template "settings-sessions-item-title" (dict "countryName" .LastAccessedByIPEnglishCountryName "countryCode" .LastAccessedByIPCountryCode "ip" .LastAccessedByIP) }}
      {{ else }}
      {{ .LastAccessedByIP }}
      {{ end }}
    </p>
    <p class="col-start-1 row-start-2 text-sm leading-normal m-0 secondary-txt">
      {{ $desc := .DisplayName }}
      {{ if .ApplicationName }}
      {{ $desc = .ApplicationName }}
      {{ end }}
      {{ template "settings-sessions-item-description" (dict "time" .LastAccessedAt "rfc3339" (rfc3339 .LastAccessedAt) "desc" $desc "isCurrent" (eq .ID $.CurrentSessionID)) }}
    </p>
    {{ if not (eq .ID $.CurrentSessionID) }}
    <form class="col-start-2 row-start-1 row-span-2 w-6 flex flex-col" method="post" novalidate>
      {{ $.CSRFField }}
      <input type="hidden" name="x_session_id" value="{{ .ID }}">
      <button
        class="btn primary-txt flex-1 flex flex-col items-end justify-center"
        type="submit"
        name="x_action"
        value="revoke"
        aria-label="{{ template "settings-sessions-revoke-label" }}"
        data-modal-title="{{ template "settings-sessions-confirmation-title" }}"
        data-modal-body="{{ template "settings-sessions-confirmation-desc" }}"
        data-modal-action-label="{{ template "settings-sessions-confirmation-action-label" }}"
        data-modal-cancel-label="{{ template "settings-sessions-confirmation-cancel-label" }}"
        data-authgear-event="authgear.button.revoke_session"
        data-action="click->modal#confirmFormSubmit"
      >
        <i class="ti ti-x"></i>
      </button>
    </form>
    {{ end }}
  </div>
  {{ end }}
  {{ if .OfflineGrantIDs }}
  <div class="grid py-2">
    <form method="post" novalidate>
      {{ $.CSRFField }}
      <input type="hidden" name="x_session_id" value="{{ index .OfflineGrantIDs 0 }}">
      <button
        class="btn destructive-secondary-btn text-sm"
        type="submit"
        name="x_action"
        value="revoke_group"
        data-modal-title="{{ template "settings-sessions-confirmation-title" }}"
        data-modal-body="{{ template "settings-sessions-confirmation-group-desc" }}"
        data-modal-action-label="{{ template "settings-sessions-confirmation-action-label" }}"
        data-modal-cancel-label="{{ template "settings-sessions-confirmation-cancel-label" }}"
        data-authgear-event="authgear.button.revoke_session_group"
        data-action="click->modal#confirmFormSubmit"
      >
        {{ template "settings-sessions-revoke-group-label" }}
      </button>
    </form>
  </div>
  {{ end }}
</div>
{{ end }}
</div>

<div class="p-5 row-sep">
  <form method="post" novalidate>
    {{ $.CSRFField }}
    <button
      class="btn destructive-secondary-btn text-sm"
      type="submit"
      name="x_action"
      value="revoke_all"
      data-modal-title="{{ template "settings-sessions-confirmation-title" }}"
      data-modal-body="{{ template "settings-sessions-confirmation-all-desc" }}"
      data-modal-action-label="{{ template "settings-sessions-confirmation-action-label" }}"
      data-modal-cancel-label="{{ template "settings-sessions-confirmation-cancel-label" }}"
      data-authgear-event="authgear.button.revoke_all_sessions"
      data-action="click->modal#confirmFormSubmit"
    >
      {{ template "settings-sessions-revoke-all-label" }}
    </button>
  </form>
</div>

</div>
{{ end }}
