{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<main class="content">
{{ template "__nav_bar.html" }}

<div class="pane margin-6 flex flex-direction-column">
<div class="padding-6 flex flex-direction-column">
  <div class="margin-h-14 row-sep grid grid-name-desc-action">
    <h1 class="grid-area-name font-inherit margin-0 primary-txt">
      {{ template "settings-sessions-title" }}
    </h1>
    <p class="grid-area-desc font-smaller margin-0 padding-v-8 secondary-txt">
      {{ template "settings-sessions-description" }}
    </p>
    <form class="grid-area-action primary-action" method="post" novalidate>
      {{ $.CSRFField }}
      <button class="btn destructive-btn" type="submit" name="x_action" value="revoke_all">
        {{ template "settings-sessions-revoke-all-label" }}
      </button>
    </form>
  </div>
</div>
</div>

{{ range $.SessionGroups }}
<div class="pane margin-6 flex flex-direction-column padding-h-18 padding-bottom-8 divide-y">
  <div class="grid grid-icon-title-action padding-v-12">
    {{ $icon := "" }}
    {{ if eq .Type "grouped" }}{{ $icon = "mobile-alt" }}{{ else }}{{ $icon = "laptop" }}{{ end }}
    <i class="grid-area-icon fas fa-{{ $icon }}" aria-hidden="true"></i>

    <h2 class="grid-area-title font-inherit margin-0 margin-h-10 text-ellipsis">{{ .DisplayName }}</h2>

    {{ if .OfflineGrantIDs }}
    <form class="grid-area-action" method="post" novalidate>
      {{ $.CSRFField }}
      <input type="hidden" name="x_session_id" value="{{ index .OfflineGrantIDs 0 }}">
      <button class="btn destructive-btn" type="submit" name="x_action" value="revoke_group">
        {{ template "settings-sessions-revoke-group-label" }}
      </button>
    </form>
    {{ end }}
  </div>
  {{ range .Sessions }}
  <div class="grid grid-name-desc-action padding-v-10">
    <p class="grid-area-name font-inherit margin-0 primary-txt">
      {{ if and .LastAccessedByIPEnglishCountryName .LastAccessedByIPCountryCode }}
      {{ template "settings-sessions-item-title" (dict "countryName" .LastAccessedByIPEnglishCountryName "countryCode" .LastAccessedByIPCountryCode "ip" .LastAccessedByIP) }}
      {{ else }}
      {{ .LastAccessedByIP }}
      {{ end }}
    </p>
    <p class="grid-area-desc font-smaller margin-0 secondary-txt">
      {{ $desc := .DisplayName }}
      {{ if .ApplicationName }}
      {{ $desc = .ApplicationName }}
      {{ end }}
      {{ template "settings-sessions-item-description" (dict "desc" $desc "time" .LastAccessedAt "isCurrent" (eq .ID $.CurrentSessionID)) }}
    </p>
    {{ if not (eq .ID $.CurrentSessionID) }}
    <form class="grid-area-action" method="post" novalidate>
      {{ $.CSRFField }}
      <input type="hidden" name="x_session_id" value="{{ .ID }}">
      <button class="btn remove-btn" type="submit" name="x_action" value="revoke" aria-label="{{ template "settings-sessions-revoke-label" }}"></button>
    </form>
    {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}

</main>
{{ end }}