{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-3 pb-5 px-6 tablet:px-8 desktop:px-8" data-controller="image-picker">
  {{ template "__nav_bar.html" (call $.MakeURL "/settings/profile") }}

  {{ $ca := false }}
  {{ $caLabel := "" }}

  {{ if (eq $.Variant "custom_attributes") }}
  {{ $ca = (call $.GetCustomAttributeByPointer $.Pointer) }}
  {{ if $ca }}
    {{ $label_key := printf "custom-attribute-label-%s" $ca.Pointer }}
    {{ $has_key := $.Translations.HasKey $label_key }}
    {{ if $has_key }}
      {{ $caLabel = $.Translations.RenderText $label_key nil }}
    {{ else }}
      {{ $caLabel = $ca.Label }}
    {{ end }}
  {{ end }}
  {{ end }}

  <h1 class="primary-txt m-0 text-xl text-center font-bold">
    {{ template "settings-profile-edit-title" (dict "variant" $.Variant "label" $caLabel) }}
  </h1>

  <form id="imagepicker-form-remove" class="hidden" method="post" novalidate>
    <input type="hidden" name="/picture" value="">
  </form>

  {{/* Normally form does not need action set. */}}
  {{/* However, this form is submitted asynchronously. */}}
  {{/* By the time this form is submitted, the URL in the address bar could have changed. */}}
  {{/* This could result in a weird bug like https://github.com/authgear/authgear-server/issues/1916 */}}
  {{/* Back button is clicked after the upload was initiated */}}
  {{/* When the upload finishes, this form is submitted to the URL of the previous page */}}
  {{/* The previous page does not support POST method, hence we see the error described in the issue */}}
  <form class="hidden" method="post" action="{{ $.RequestURI }}" novalidate data-image-picker-target="formUpload">
    <input type="hidden" name="/picture" value="" data-image-picker-target="inputValue">
    <input type="hidden" name="x_action" value="save">
  </form>

  <form id="form" class="twc-container-vertical" method="post" novalidate>

  {{ $save_disabled := false }}

  {{ if (eq $.Variant "name") }}
  {{ if (call $.IsEditable "/name") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-name" }}
    <input class="primary-txt text-input" name="/name" value="{{ $.Name }}">
  </label>
  {{ end }}
  {{ if (call $.IsEditable "/nickname") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-nickname" }}
    <input class="primary-txt text-input" name="/nickname" value="{{ $.Nickname }}">
  </label>
  {{ end }}
  {{ if (call $.IsEditable "/given_name") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-given-name" }}
    <input class="primary-txt text-input" name="/given_name" value="{{ $.GivenName }}">
  </label>
  {{ end }}
  {{ if (call $.IsEditable "/middle_name") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-middle-name" }}
    <input class="primary-txt text-input" name="/middle_name" value="{{ $.MiddleName }}">
  </label>
  {{ end }}
  {{ if (call $.IsEditable "/family_name") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-family-name" }}
    <input class="primary-txt text-input" name="/family_name" value="{{ $.FamilyName }}">
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "email") }}
  {{ if (call $.IsEditable "/email") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-email" }}
    <select
      class="primary-txt select"
      name="/email" {{ if not $.Emails }}disabled{{ end }}
      data-controller="select-empty-value"
      data-action="change->select-empty-value#toggleClass"
    >
      {{ range $.Emails }}
      <option value="{{ . }}" {{ if (eq $.Email .) }}selected{{ end }}>{{ . }}</option>
      {{ end }}
    </select>
    {{ if not $.Emails }}
      {{ $save_disabled = true }}
      <span class="text-base primary-txt">{{ template "settings-profile-edit-email-placeholder" }}</span>
    {{ end }}
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "phone_number") }}
  {{ if (call $.IsEditable "/phone_number") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-phone-number" }}
    <select
      class="primary-txt select"
      name="/phone_number" {{ if not $.PhoneNumbers }}disabled{{ end }}
      data-controller="select-empty-value"
      data-action="change->select-empty-value#toggleClass"
    >
      {{ range $.PhoneNumbers }}
      <option value="{{ . }}" {{ if (eq $.PhoneNumber .) }}selected{{ end }}>{{ . }}</option>
      {{ end }}
    </select>
    {{ if not $.PhoneNumbers }}
      {{ $save_disabled = true }}
      <span class="text-base primary-txt">{{ template "settings-profile-edit-phone-number-placeholder" }}</span>
    {{ end }}
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "preferred_username") }}
  {{ if (call $.IsEditable "/preferred_username") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-preferred-username" }}
    <select
      class="primary-txt select"
      name="/preferred_username" {{ if not $.PreferredUsernames }}disabled{{ end }}
      data-controller="select-empty-value"
      data-action="change->select-empty-value#toggleClass"
    >
      {{ range $.PreferredUsernames }}
      <option value="{{ . }}" {{ if (eq $.PreferredUsername .) }}selected{{ end }}>{{ . }}</option>
      {{ end }}
    </select>
    {{ if not $.PreferredUsernames }}
      {{ $save_disabled = true }}
      <span class="text-base primary-txt">{{ template "settings-profile-edit-preferred-username-placeholder" }}</span>
    {{ end }}
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "profile") }}
  {{ if (call $.IsEditable "/profile") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-profile" }}
    <input class="primary-txt text-input" name="/profile" value="{{ $.Profile }}">
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "picture") }}
  {{ if (call $.IsEditable "/picture") }}
  <div class="grid grid-cols-1 auto-rows-auto">
    <img
      class="w-60 h-60 rounded-full place-self-center"
      {{ if $.Picture }}
	      src="{{ $.Picture }}"
      {{ else }}
	      src="{{ call $.GeneratedStaticAssetURL "avatar_placeholder.png" }}"
      {{ end }}
      data-image-picker-target="imgPreview"
    >
    <div>
      <img
        class="w-full h-60 hidden"
        data-image-picker-target="imgCropper"
        data-action="error->image-picker#onError"
      >
    </div>
    <input
      type="file"
      class="hidden"
      accept="image/png, image/jpeg"
      data-image-picker-target="inputFile"
      data-action="input->image-picker#onChange"
    >
    <button
      type="button"
      class="btn primary-btn text-base mt-10"
      data-image-picker-target="buttonFile"
      data-action="click->image-picker#onClickFile"
    >
      {{ template "settings-profile-edit-upload-picture-label" }}
    </button>
    <button
      class="btn secondary-btn text-base mt-3 {{ if not $.Picture }}hidden{{ end }}"
      type="submit"
      name="x_action"
      value="save"
      form="imagepicker-form-remove"
      data-authgear-event="authgear.button.update_profile"
      data-modal-title="{{ template "settings-profile-edit-remove-confirmation-title" }}"
      data-modal-body="{{ template "settings-profile-edit-remove-confirmation-desc" }}"
      data-modal-action-label="{{ template "settings-profile-edit-remove-confirmation-action-label" }}"
      data-modal-cancel-label="{{ template "settings-profile-edit-remove-confirmation-cancel-label" }}"
      data-image-picker-target="buttonRemove"
      {{/* confirmFormSubmit requires data-turbo="false" to work */}}
      data-turbo="false"
      data-action="click->modal#confirmFormSubmit"
    >
      {{ template "settings-profile-edit-remove-picture-label" }}
    </button>
    <button
      class="btn primary-btn text-base mt-10 hidden"
      type="button"
      data-authgear-event="authgear.button.update_profile"
      data-image-picker-target="buttonSave"
      data-action="click->image-picker#onClickSave"
    >
      {{ template "save-button-label" }}
    </button>
  </div>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "website") }}
  {{ if (call $.IsEditable "/website") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-website" }}
    <input class="primary-txt text-input" name="/website" value="{{ $.Website }}">
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "address") }}
  {{ if (call $.IsEditable "/address") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-street-address" }}
    <textarea class="primary-txt textarea" rows="3" name="/address/street_address">
      {{- $.AddressStreetAddress -}}
    </textarea>
  </label>
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-locality" }}
    <input class="primary-txt text-input" name="/address/locality" value="{{ $.AddressLocality }}">
  </label>
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-postal-code" }}
    <input class="primary-txt text-input" name="/address/postal_code" value="{{ $.AddressPostalCode }}">
  </label>
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-region" }}
    <input class="primary-txt text-input" name="/address/region" value="{{ $.AddressRegion }}">
  </label>
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-country" }}
    <select
      class="primary-txt select"
      name="/address/country"
      data-controller="select-empty-value"
      data-action="change->select-empty-value#toggleClass"
    >
      <option value="" {{ if not $.AddressCountry }}selected{{ end }}>{{ template "unset-label" }}</option>
      {{ range $.Alpha2 }}
      {{ $label := (print "territory-" . ) }}
      <option value="{{ . }}" {{ if (eq $.AddressCountry .) }}selected{{ end }}>{{ . }} - {{ ($.Translations.RenderText $label nil) }}</option>
      {{ end }}
    </select>
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "birthdate") }}
  {{ if (call $.IsEditable "/birthdate") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-birthdate" }}
    <input class="primary-txt text-input" type="date" name="/birthdate" value="{{ $.Birthdate }}" max="{{ $.Today }}">
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "gender") }}
  {{ if (call $.IsEditable "/gender") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt" data-controller="gender-select">
    {{ template "standard-attribute-gender" }}
    <select
      class="primary-txt select"
      name="gender-select"
      data-controller="select-empty-value"
      data-gender-select-target="select"
      data-action="change->select-empty-value#toggleClass change->gender-select#onChange"
    >
      <option value="" {{ if not $.Gender }}selected{{ end }}>{{ template "unset-label" }}</option>
      <option value="female" {{ if (eq $.Gender "female") }}selected{{ end }}>{{ template "gender-female" }}</option>
      <option value="male" {{ if (eq $.Gender "male") }}selected{{ end }}>{{ template "gender-male" }}</option>
      <option value="other" {{ if (and (not (eq $.Gender "female")) (not (eq $.Gender "male")) $.Gender) }}selected{{ end }}>{{ template "settings-profile-edit-gender-other" }}</option>
    </select>
    <input
    class="primary-txt text-input"
    name="gender-input"
    value="{{ $.Gender }}"
    data-gender-select-target="input"
    >
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "zoneinfo") }}
  {{ if (call $.IsEditable "/zoneinfo") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-zoneinfo" }}
    <select 
      class="primary-txt select" 
      name="/zoneinfo"
      data-controller="select-empty-value"
      data-action="change->select-empty-value#toggleClass"
    >
      <option value="" {{ if not $.Zoneinfo }}selected{{ end }}>{{ template "unset-label" }}</option>
      {{ range $.Timezones }}
      <option value="{{ .Name }}" {{ if (eq $.Zoneinfo .Name) }}selected{{ end }}>{{ .DisplayLabel }}</option>
      {{ end }}
    </select>
  </label>
  {{ end }}
  {{ end }}

  {{ if (eq $.Variant "locale") }}
  {{ if (call $.IsEditable "/locale") }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{ template "standard-attribute-locale" }}
    <select
      class="primary-txt select"
      name="/locale"
      data-controller="select-empty-value"
      data-action="change->select-empty-value#toggleClass"
    >
      <option value="" {{ if not $.Locale }}selected{{ end }}>{{ template "unset-label" }}</option>
      {{ range $.Languages }}
      {{ $label := (print "language-" . ) }}
      <option value="{{ . }}" {{ if (eq $.Locale .) }}selected{{ end }}>{{ . }} - {{ ($.Translations.RenderText $label nil) }}</option>
      {{ end }}
    </select>
  </label>
  {{ end }}
  {{ end }}

  {{ if $ca }}
  {{ if $ca.IsEditable }}
  <label class="grid grid-cols-1 auto-rows-auto gap-y-1.5 text-xs secondary-txt">
    {{/* The label */}}
    {{ $caLabel }}

    {{/* The control */}}

    {{ if (eq $ca.Type "string") }}
    <input type="text" class="primary-txt text-input" name="{{ $ca.Pointer }}" value="{{ showAttributeValue $ca.Value }}">
    {{ end }}

    {{ if (eq $ca.Type "number") }}
    <input
      type="text"
      inputmode="decimal"
      class="primary-txt text-input"
      name="{{ $ca.Pointer }}"
      value="{{ showAttributeValue $ca.Value }}">
    {{ end }}

    {{ if (eq $ca.Type "integer") }}
    <input
      type="text"
      inputmode="numeric"
      class="primary-txt text-input"
      name="{{ $ca.Pointer }}"
      value="{{ showAttributeValue $ca.Value }}">
    {{ end }}

    {{ if (eq $ca.Type "enum") }}
    <select
      class="primary-txt select"
      name="{{ $ca.Pointer }}"
      data-controller="select-empty-value"
      data-action="change->select-empty-value#toggleClass"
    >
      <option value="" {{ if not $ca.Value }}selected{{ end }}>{{ template "unset-label" }}</option>
      {{ range $ca.Enum }}
      {{ $label_key := printf "custom-attribute-enum-label-%s-%s" $ca.Pointer .Value }}
      {{ $has_key := $.Translations.HasKey $label_key }}
      <option value="{{ showAttributeValue .Value }}" {{ if (eq $ca.Value .Value) }}selected{{ end }}>
	{{ if $has_key }}
	  {{ $.Translations.RenderText $label_key nil }}
	{{ else }}
	  {{ .Label }}
	{{ end }}
      </option>
      {{ end }}
    </select>
    {{ end }}

    {{ if (eq $ca.Type "phone_number") }}
    <input
      data-intl-tel-input="true"
      data-intl-tel-input-class-value="flex flex-row"
      type="text"
      inputmode="tel"
      class="primary-txt text-input w-full"
      name="{{ $ca.Pointer }}"
      value="{{ showAttributeValue $ca.Value }}"
      data-controller="intl-tel-input"
      data-action="input->intl-tel-input#input countrychange->intl-tel-input#input"
    >
    {{ end }}

    {{ if (eq $ca.Type "email") }}
    <input
      type="email"
      inputmode="email"
      class="primary-txt text-input"
      name="{{ $ca.Pointer }}"
      value="{{ showAttributeValue $ca.Value }}">
    {{ end }}

    {{ if (eq $ca.Type "url") }}
    <input
      type="url"
      inputmode="url"
      class="primary-txt text-input"
      name="{{ $ca.Pointer }}"
      value="{{ showAttributeValue $ca.Value }}">
    {{ end }}

    {{ if (eq $ca.Type "country_code") }}
    <select
      class="primary-txt select"
      name="{{ $ca.Pointer }}"
      data-controller="select-empty-value"
      data-action="change->select-empty-value#toggleClass"
    >
      <option value="" {{ if not $ca.Value }}selected{{ end }}>{{ template "unset-label" }}</option>
      {{ range $.Alpha2 }}
      {{ $label := (print "territory-" . ) }}
      <option value="{{ . }}" {{ if (eq $ca.Value .) }}selected{{ end }}>{{ . }} - {{ ($.Translations.RenderText $label nil) }}</option>
      {{ end }}
    </select>
    {{ end }}
  </label>

  {{ if (or (eq $ca.Type "number") (eq $ca.Type "integer")) }}
  {{ if (and (isNil $ca.Minimum) (isNil $ca.Maximum)) }}
  {{ else if (and (not (isNil $ca.Minimum)) (isNil $ca.Maximum)) }}
    <span class="primary-txt text-sm">{{ template "custom-attribute-numeric-hint-minimum" (dict "minimum" (showAttributeValue $ca.Minimum)) }}</span>
  {{ else if (and (isNil $ca.Minimum) (not (isNil $ca.Maximum))) }}
    <span class="primary-txt text-sm">{{ template "custom-attribute-numeric-hint-maximum" (dict "maximum" (showAttributeValue $ca.Maximum)) }}</span>
  {{ else }}
    <span class="primary-txt text-sm">{{ template "custom-attribute-numeric-hint-minimum-maximum" (dict "minimum" (showAttributeValue $ca.Minimum) "maximum" (showAttributeValue $ca.Maximum)) }}</span>
  {{ end }}
  {{ end }}

  {{ end }}
  {{ end }}

  <button
    id="save-button"
    class="btn primary-btn mt-5 {{ if (eq $.Variant "picture") }}hidden{{ end }}"
    type="submit"
    name="x_action"
    value="save"
    {{ if $save_disabled }}disabled{{ end }}
    data-authgear-event="authgear.button.update_profile"
  >
    {{ template "save-button-label" }}
  </button>

  </form>

  {{ template "__watermark.html" . }}
</div>
{{ end }}
