{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-3 pb-5 px-6 tablet:px-8 desktop:px-8">
{{ template "__nav_bar.html" (call $.MakeURL "/settings") }}
	<h1 class="primary-txt text-center m-0 text-xl font-bold">
		{{ template "recovery-code-title" }}
	</h1>

	{{ if not $.RecoveryCodes }}
		<p class="primary-txt text-center m-0 text-sm whitespace-pre-wrap">{{ template "recovery-code-not-available-description" }}</p>
		<form method="post" novalidate>
			<button
				class="btn primary-btn w-full"
				type="submit"
				name="x_action"
				value="regenerate"
				data-authgear-event="authgear.button.regenerate_recovery_code"
			>
				{{ template "get-new-recovery-codes-button-label" }}
			</button>
		</form>
	{{ else }}
		<p class="primary-txt text-center m-0 text-sm whitespace-pre-wrap">{{ template "recovery-code-storage-description" }}</p>
		<ol class="recovery-code-list m-0 p-5 grid grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-2 gap-x-5">
			{{ range $.RecoveryCodes }}
				<li class="font-mono whitespace-pre text-base leading-none mx-5 place-self-center">{{ . }}</li>
			{{ end }}
		</ol>
		<code id="copy-button-source" class="hidden">{{ template "__recovery_code.html" . }}</code>

		<p class="text-sm primary-txt text-center m-0">{{ template "recovery-code-consumption-description" }}</p>

		<div class="mt-5 grid gap-4 grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-2">
			<form method="post" novalidate>
				<button
					class="btn primary-btn w-full"
					type="submit"
					name="x_action"
					value="regenerate"
					data-authgear-event="authgear.button.regenerate_recovery_code"
				>
					{{ template "get-new-recovery-codes-button-label" }}
				</button>
			</form>
			{{ if $.IsSupportedMobilePlatform }}
				<div>
					<button
						class="btn primary-btn w-full"
						type="button"
						data-controller="copy-button"
						data-copy-button-source-value="#copy-button-source"
						data-copy-button-copy-label-value="{{ template "copy-button-label" }}"
						data-copy-button-copied-label-value="{{ template "copied-button-label" }}"
						data-authgear-event="authgear.button.download_recovery_code"
						data-action="copy-button#copy"
					>
						{{ template "copy-button-label" }}
					</button>
				</div>
			{{ else }}
				<form method="post" novalidate target="_blank">
					<button
						class="btn primary-btn w-full"
						type="submit"
						name="x_action"
						value="download"
						data-turbo="false"
						data-authgear-event="authgear.button.download_recovery_code"
					>
						{{ template "download-button-label" }}
					</button>
				</form>
			{{ end }}
		</div>
	{{ end }}

	{{ template "__watermark.html" . }}
</div>
{{ end }}
