{{ template "__wide_page_frame.html" . }}

{{ define "page-content" }}

<div class="pane flex flex-col">
  <div class="px-5 mt-4 mb-1">
    <h1 class="m-0 primary-txt text-xl font-bold">
      {{ template "settings-my-profile-title" }}
    </h1>
  </div>

  <div class="p-2.5 flex flex-row items-center row-sep">
    <img
      class="m-2.5 rounded-full bg-center bg-cover bg-no-repeat w-18 h-18"
      src="{{ call $.StaticAssetURL "avatar-placeholder" }}"
    >
    <div class="mx-2.5 flex flex-col space-y-1">
      <span class="primary-txt">{{ template "settings-page-anonymous-user" }}</span>
    </div>
  </div>
</div>

{{ if $.ClientURI }}
<div class="pane padding-v-16 px-5 flex justify-center">
  <a class="link text-sm" href="{{ $.ClientURI }}">
    <i class="ti ti-logout mr-2.5"></i>
    {{ template "back-to-app-label" }}
  </a>
</div>
{{ end }}

{{ end }}
