<!DOCTYPE html>
<html>
{{ template "__html_head.html" . }}
<body class="page">
{{ template "__message_bar.html" . }}
<main class="content">
{{ template "__nav_bar.html" }}

{{ $has_secondary_totp := false }}
{{ $has_secondary_oob_otp_email := false }}
{{ $has_secondary_oob_otp_sms := false }}
{{ $secondary_password := false }}
{{ range $.Authenticators }}
{{ if eq .Kind "secondary" }}
  {{ if eq .Type "totp" }}
    {{ $has_secondary_totp = true }}
  {{ else if eq .Type "oob_otp_email" }}
    {{ $has_secondary_oob_otp_email = true }}
  {{ else if eq .Type "oob_otp_sms" }}
    {{ $has_secondary_oob_otp_sms = true }}
  {{ else if eq .Type "password" }}
    {{ $secondary_password = . }}
  {{ end }}
{{ end }}
{{ end }}
{{ $has_mfa := (or $has_secondary_totp $has_secondary_oob_otp_email $has_secondary_oob_otp_sms $secondary_password) }}
{{ $show_secondary_totp := (or $has_secondary_totp $.SecondaryTOTPAllowed) }}
{{ $show_secondary_oob_otp_email := (or $has_secondary_oob_otp_email $.SecondaryOOBOTPEmailAllowed) }}
{{ $show_secondary_oob_otp_sms := (or $has_secondary_oob_otp_sms $.SecondaryOOBOTPSMSAllowed) }}
{{ $show_secondary_password := (or $secondary_password $.SecondaryPasswordAllowed) }}

<div class="pane margin-6 flex flex-direction-column">
{{ template "__header.html" . }}
<div class="padding-6 flex flex-direction-column">
  <!-- Title -->
  <section class="margin-h-14 padding-v-10 row-sep gap-8 grid grid-title">
    <h3 class="grid-area-title margin-0 font-inherit primary-txt">
      {{ template "settings-page-mfa-section-title" }}
    </h3>
  </section>

  <!-- Secondary TOTP -->
  {{ if $show_secondary_totp }}
  <section class="margin-h-14 padding-v-10 row-sep gap-8 grid grid-title-desc-action1-action2">
    <p class="grid-area-title margin-0 font-inherit primary-txt">
      {{ template "settings-page-secondary-totp-title" }}
    </p>
    {{ if $has_secondary_totp }}
    <p class="grid-area-desc margin-0 font-smaller good-txt">
      {{ template "activated-label" }}
    </p>
    <a class="link grid-area-action1 justify-self-end" href="/settings/mfa/totp">
      {{ template "details-button-label" }}
    </a>
    {{ else }}
    <p class="grid-area-desc margin-0 font-smaller warn-txt">
      {{ template "inactive-label" }}
    </p>
    <form class="grid-area-action1 justify-self-end" method="post" novalidate>
      {{ $.CSRFField }}
      <button class="btn secondary-btn" type="submit" name="x_action" value="add_secondary_totp">
        {{ template "configure-button-label" }}
      </button>
    </form>
    {{ end }}
  </section>
  {{ end }}

  <!-- Secondary OOB OTP Email -->
  {{ if $show_secondary_oob_otp_email }}
  <section class="margin-h-14 padding-v-10 row-sep gap-8 grid grid-title-desc-action1-action2">
    <p class="grid-area-title margin-0 font-inherit primary-txt">
      {{ template "settings-page-secondary-oob-otp-email-title" }}
    </p>
    {{ if $has_secondary_oob_otp_email }}
    <p class="grid-area-desc margin-0 font-smaller good-txt">
      {{ template "activated-label" }}
    </p>
    <a class="link grid-area-action1 justify-self-end" href="/settings/mfa/oob_otp_email">
      {{ template "details-button-label" }}
    </a>
    {{ else }}
    <p class="grid-area-desc margin-0 font-smaller warn-txt">
      {{ template "inactive-label" }}
    </p>
    <form class="grid-area-action1 justify-self-end" method="post" novalidate>
      {{ $.CSRFField }}
      <button class="btn secondary-btn" type="submit" name="x_action" value="add_secondary_oob_otp_email">
        {{ template "configure-button-label" }}
      </button>
    </form>
    {{ end }}
  </section>
  {{ end }}

  {{ if $show_secondary_oob_otp_sms }}
  <section class="margin-h-14 padding-v-10 row-sep gap-8 grid grid-title-desc-action1-action2">
    <p class="grid-area-title margin-0 font-inherit primary-txt">
      {{ template "settings-page-secondary-oob-otp-sms-title" }}
    </p>
    {{ if $has_secondary_oob_otp_sms }}
    <p class="grid-area-desc margin-0 font-smaller good-txt">
      {{ template "activated-label" }}
    </p>
    <a class="link grid-area-action1 justify-self-end" href="/settings/mfa/oob_otp_sms">
      {{ template "details-button-label" }}
    </a>
    {{ else }}
    <p class="grid-area-desc margin-0 font-smaller warn-txt">
      {{ template "inactive-label" }}
    </p>
    <form class="grid-area-action1 justify-self-end" method="post" novalidate>
      {{ $.CSRFField }}
      <button class="btn secondary-btn" type="submit" name="x_action" value="add_secondary_oob_otp_sms">
        {{ template "configure-button-label" }}
      </button>
    </form>
    {{ end }}
  </section>
  {{ end }}


  <!-- Secondary Password -->
  {{ if $show_secondary_password }}
  <section class="margin-h-14 padding-v-10 row-sep gap-8 grid grid-title-desc-action1-action2">
    <p class="grid-area-title margin-0 font-inherit primary-txt">
      {{ template "settings-page-secondary-password-title" }}
    </p>
    {{ if $secondary_password }}
    <p class="grid-area-desc margin-0 font-smaller good-txt">
      <!-- FIXME(ui): Use user preferred timezone -->
      {{ template "settings-page-secondary-password-description" (dict "time" $secondary_password.UpdatedAt) }}
    </p>
    <a class="grid-area-action1 justify-self-end btn secondary-btn" href="/settings/mfa/change_secondary_password">
      {{ template "change-password-button-label" }}
    </a>
    <form class="grid-area-action2 justify-self-end" method="post" novalidate>
      {{ $.CSRFField }}
      <input type="hidden" name="x_authenticator_id" value="{{ $secondary_password.ID }}">
      <button class="btn destructive-btn" type="submit" name="x_action" value="remove_secondary_password">
        {{ template "remove-button-label" }}
      </button>
    </form>
    {{ else }}
    <form class="link grid-area-action1 justify-self-end" method="post" novalidate>
      {{ $.CSRFField }}
      <button class="btn secondary-btn" type="submit" name="x_action" value="setup_secondary_password">
        {{ template "setup-password-button-label" }}
      </button>
    </form>
    {{ end }}
  </section>
  {{ end }}

  <!-- Recovery code -->
  {{ if (and $has_mfa $.ListRecoveryCodesAllowed) }}
  <section class="margin-h-14 padding-v-10 row-sep gap-8 grid grid-title-desc-action1-action2">
    <h3 class="grid-area-title margin-0 font-inherit primary-txt">
      {{ template "settings-page-recovery-code-title" }}
    </h3>
    <p class="grid-area-desc margin-0 font-smaller secondary-txt">
      {{ template "settings-page-recovery-code-description" }}
    </p>
    <a class="link grid-area-action1 justify-self-end" href="/settings/mfa/recovery_code">
      {{ template "show-recovery-code-button-label" }}
    </a>
  </section>
  {{ end }}

  <!-- Revoke all device tokens -->
  {{ if $has_mfa }}
  <section class="margin-h-14 padding-v-10 row-sep gap-8 grid grid-title-desc-action1-action2">
    <h3 class="grid-area-title margin-0 font-inherit primary-txt">
      {{ template "settings-page-trusted-devices-title" }}
    </h3>
  {{ if $.HasDeviceTokens }}
  <form class="grid-area-desc margin-0" method="post" novalidate>
    {{ $.CSRFField }}
    <button class="justify-self-start btn destructive-btn" type="submit" name="x_action" value="revoke_devices">
      {{ template "revoke-all-device-tokens-button-label" }}
    </button>
  </form>
  {{ else }}
  <p class="grid-area-desc margin-0 font-smaller secondary-txt">
    {{ template "no-device-tokens-description" }}
  </p>
  {{ end }}
  {{ end }}
  </section>

</div>
</div>

</main>
</body>
</html>
