{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<main class="content settings-content">
<div class="pane flex flex-col gap-20">
  <div class="margin-h-20 margin-t-12">
    {{ template "__nav_bar.html" "/settings/profile" }}
  </div>
  <h1 class="margin-0 text-xl text-center">
    {{ template "settings-profile-edit-title" (dict "variant" $.Variant) }}
  </h1>

  <form id="form" class="flex flex-col gap-20" method="post" novalidate>
  {{ $.CSRFField }}

  {{ if (eq $.Variant "name") }}
  <label class="flex flex-col margin-h-40 gap-6 text-xs secondary-txt">
    {{ template "standard-attribute-name" }}
    <input class="input text-input text-base" name="/name" value="{{ $.Name }}">
  </label>
  <label class="flex flex-col margin-h-40 gap-6 text-xs secondary-txt">
    {{ template "standard-attribute-nickname" }}
    <input class="input text-input text-base" name="/nickname" value="{{ $.Nickname }}">
  </label>
  <label class="flex flex-col margin-h-40 gap-6 text-xs secondary-txt">
    {{ template "standard-attribute-given-name" }}
    <input class="input text-input text-base" name="/given_name" value="{{ $.GivenName }}">
  </label>
  <label class="flex flex-col margin-h-40 gap-6 text-xs secondary-txt">
    {{ template "standard-attribute-middle-name" }}
    <input class="input text-input text-base" name="/middle_name" value="{{ $.MiddleName }}">
  </label>
  <label class="flex flex-col margin-h-40 gap-6 text-xs secondary-txt">
    {{ template "standard-attribute-family-name" }}
    <input class="input text-input text-base" name="/family_name" value="{{ $.FamilyName }}">
  </label>
  {{ end }}

  {{ if (eq $.Variant "profile") }}
  <label class="flex flex-col margin-h-40 gap-6 text-xs secondary-txt">
    {{ template "standard-attribute-profile" }}
    <input class="input text-input text-base" name="/profile" value="{{ $.Profile }}">
  </label>
  {{ end }}

  {{ if (eq $.Variant "website") }}
  <label class="flex flex-col margin-h-40 gap-6 text-xs secondary-txt">
    {{ template "standard-attribute-website" }}
    <input class="input text-input text-base" name="/website" value="{{ $.Website }}">
  </label>
  {{ end }}

  {{ if (eq $.Variant "address") }}
  <label class="flex flex-col margin-h-40 gap-6 text-xs secondary-txt">
    {{ template "standard-attribute-street-address" }}
    <textarea class="input text-base" rows="3" name="/address/street_address">
      {{- $.AddressStreetAddress -}}
    </textarea>
  </label>
  <label class="flex flex-col margin-h-40 gap-6 text-xs secondary-txt">
    {{ template "standard-attribute-locality" }}
    <input class="input text-input text-base" name="/address/locality" value="{{ $.AddressLocality }}">
  </label>
  <label class="flex flex-col margin-h-40 gap-6 text-xs secondary-txt">
    {{ template "standard-attribute-postal-code" }}
    <input class="input text-input text-base" name="/address/postal_code" value="{{ $.AddressPostalCode }}">
  </label>
  <label class="flex flex-col margin-h-40 gap-6 text-xs secondary-txt">
    {{ template "standard-attribute-region" }}
    <input class="input text-input text-base" name="/address/region" value="{{ $.AddressRegion }}">
  </label>
  <label class="flex flex-col margin-h-40 gap-6 text-xs secondary-txt">
    {{ template "standard-attribute-country" }}
    <select class="select" name="/address/country">
      <option value="" {{ if not $.AddressCountry }}selected{{ end }}>{{ template "settings-profile-edit-country-placeholder" }}</option>
      {{ range $.Alpha2 }}
      {{ $label := (print "territory-" . ) }}
      <option value="{{ . }}" {{ if (eq $.AddressCountry .) }}selected{{ end }}>{{ . }} - {{ ($.Translations.RenderText $label nil) }}</option>
      {{ end }}
    </select>
  </label>
  {{ end }}

  {{ if (eq $.Variant "birthdate") }}
  <label class="flex flex-col margin-h-40 gap-6 text-xs secondary-txt">
    {{ template "standard-attribute-birthdate" }}
    <input class="input text-input text-base" type="date" name="/birthdate" value="{{ $.Birthdate }}" max="{{ $.Today }}">
  </label>
  {{ end }}

  {{ if (eq $.Variant "gender") }}
  <label class="flex flex-col margin-h-40 gap-6 text-xs secondary-txt">
    {{ template "standard-attribute-gender" }}
    <input class="input text-input text-base" name="/gender" value="{{ $.Gender }}" list="gender-list">
  </label>
  <datalist id="gender-list">
    <option value="female">{{ template "gender-female" }}</option>
    <option value="male">{{ template "gender-male" }}</option>
  </datalist>
  {{ end }}

  {{ if (eq $.Variant "zoneinfo") }}
  <label class="flex flex-col margin-h-40 gap-6 text-xs secondary-txt">
    {{ template "standard-attribute-zoneinfo" }}
    <select class="select" name="/zoneinfo">
      <option value="" {{ if not $.Zoneinfo }}selected{{ end }}>{{ template "settings-profile-edit-zoneinfo-placeholder" }}</option>
      {{ range $.Timezones }}
      <option value="{{ .Name }}" {{ if (eq $.Zoneinfo .Name) }}selected{{ end }}>[UTC {{ .FormattedOffset }}] {{ .Name }}</option>
      {{ end }}
    </select>
  </label>
  {{ end }}

  <button class="btn primary-btn margin-h-40 margin-v-20" type="submit" name="x_action" value="save">
    {{ template "save-button-label" }}
  </button>

  </form>

  <div class="margin-t-20">{{ template "__watermark.html" . }}</div>
</div>
</main>
{{ end }}
