{{ template "__wide_page_frame.html" . }}

{{ define "page-content" }}

{{/* Profile */}}
{{ if not $.IsStandardAttributesAllHidden }}
<div class="pane flex flex-col">

  <div class="px-5 mt-4 mb-1">
    <h1 class="m-0 primary-txt text-xl font-bold">
      {{ template "settings-my-profile-title" }}
    </h1>
  </div>

  <div class="p-2.5 flex flex-row items-center row-sep">
    <img
      class="m-2.5 rounded-full bg-center bg-cover bg-no-repeat w-18 h-18"
      {{ if (and (call $.IsReadable "/picture") $.Picture) }}
        src="{{ $.Picture }}"
      {{ else }}
        src="{{ call $.GeneratedStaticAssetURL "avatar_placeholder.png" }}"
      {{ end }}
    >
    <div class="min-w-0 flex-1 mx-2.5 flex flex-col space-y-1">
      {{ $any_name_readable := (or (call $.IsReadable "/name") (call $.IsReadable "/given_name") (call $.IsReadable "/family_name") (call $.IsReadable "/middle_name") (call $.IsReadable "/nickname")) }}
      {{ if (and $any_name_readable $.FormattedName) }}<span class="primary-txt truncate">{{ $.FormattedName }}</span>{{ end }}
      {{ if (and (not $.FormattedName) $.EndUserAccountID) }}<span class="primary-txt truncate">{{ $.EndUserAccountID }}</span>{{ end }}
      {{ if (and $.FormattedName $.EndUserAccountID) }}<span class="secondary-txt truncate font-sm">{{ $.EndUserAccountID }}</span>{{ end }}
      {{ if (and (not $.FormattedName) (not $.EndUserAccountID)) }}<span class="secondary-txt truncate font-sm">{{ template "settings-my-profile-empty-label" }}</span>{{ end }}
    </div>
  </div>

  <div class="p-5 row-sep">
    <a class="link action text-sm" href="{{ call $.MakeURL "/settings/profile" }}">
      <i class="ti ti-chevrons-right"></i>
      {{ template "more-button-label" }}
    </a>
  </div>
</div>
{{ end }}

{{/* Identity */}}
<div class="pane flex flex-col">

  <div class="px-5 py-4 row-sep grid grid-cols-1 auto-rows-auto gap-y-1">
    <h1 class="m-0 primary-txt text-xl font-bold">
      {{ template "settings-my-account-title" }}
    </h1>
    <p class="m-0 text-sm secondary-txt">
      {{ template "settings-identity-description" (dict "count" $.IdentityCount ) }}
    </p>
  </div>

  {{ $show_more_button := false }}
  {{ range .IdentityCandidates }}
  {{ $claim_verification_statuses := index $.VerificationStatuses .identity_id }}
  {{ $verification_verified := false }}
  {{ $verification_triggerable := false }}
  {{ if ne (len $claim_verification_statuses) 0 }}
    {{ $claim_verification_status := index $claim_verification_statuses 0 }}
    {{ $verification_verified = $claim_verification_status.Verified }}
    {{ $verification_triggerable = $claim_verification_status.EndUserTriggerable }}
  {{ end }}

  {{/* We do not want to show unset row */}}
  {{ $is_unset := (not .identity_id) }}

  {{/* We define is_hidden here for future configurability */}}
  {{ $is_hidden := ($is_unset)}}

  {{/* Only show more button when at least one row is hidden */}}
  {{ $show_more_button = (or ($show_more_button) ($is_hidden)) }}

  {{/* Always show more button when account deletion is enabled */}}
  {{ if $.AccountDeletionAllowed }}
  {{ $show_more_button = true }}
  {{ end }}

  {{ if not $is_hidden }}
  <section class="p-5 row-sep flex flex-row space-x-2">
    {{ $ti := "" }}

    {{ if eq .type "oauth" }}
    {{ if eq .provider_type "azureadv2" }}
      {{ $ti = "ti ti-brand-windows" }}
    {{ else if eq .provider_type "azureadb2c" }}
      {{ $ti = "ti ti-brand-windows" }}
    {{ else if eq .provider_type "adfs" }}
      {{ $ti = "ti ti-brand-windows" }}
    {{ else if eq .provider_type "wechat" }}
      {{ $ti = "ti ti-message-circle" }}
    {{ else if eq .provider_type "iamsmart" }}
      {{ $ti = "ti ti-circle-letter-i" }}
    {{ else }}
      {{ $ti = printf "ti ti-brand-%s" .provider_type }}
    {{ end }}
    {{ end }}

    {{ if eq .type "login_id" }}
    {{ if eq .login_id_type "email" }}   {{ $ti = "ti ti-mail" }}{{ end }}
    {{ if eq .login_id_type "username" }}{{ $ti = "ti ti-at" }}      {{ end }}
    {{ if eq .login_id_type "phone" }}   {{ $ti = "ti ti-device-mobile" }}   {{ end }}
    {{ end }}

    {{ if eq .type "siwe" }}
    {{ $ti = "ti ti-currency-ethereum" }}
    {{ end }}

    <div class="grid grid-cols-1 auto-rows-auto gap-y-1 flex-1">

      {{/* Row */}}
      <div class="flex flex-row space-x-2">
        <i class="twc-title-icon primary-txt text-base {{ $ti }}" aria-hidden="true"></i>
        <p class="m-0 primary-txt text-base">
          {{ if eq .type "oauth" }}
            {{ $.Translations.RenderText (printf "settings-identity-oauth-%s" .provider_type) nil }}
          {{ end }}
          {{ if eq .type "login_id" }}
            {{ $.Translations.RenderText (printf "settings-identity-login-id-%s" .login_id_type) nil }}
          {{ end }}
          {{ if eq .type "siwe" }}
            {{ template "settings-identity-siwe" }}
          {{ end }}
        </p>
      </div>

      {{/* Row */}}
      {{ if .display_id }}
      <p class="text-sm m-0 secondary-txt leading-normal">
        {{ .display_id }}

        <!-- TODO(verification): show verification for all identity types -->
        {{ if eq .type "login_id" }}
        {{ if .identity_id }}
        {{ if $verification_triggerable }}
        {{ if not $verification_verified }}
        <span class="error-txt">
          {{ template "verification-status-label--unverified" }}
        </span>
        {{ else }}
        <span class="good-txt">
          {{ template "verification-status-label--verified" }}
        </span>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
      </p>
      {{ end }}

      {{/* Row */}}
      {{ if eq .type "login_id" }}
      {{ if .identity_id }}
      {{ if $verification_triggerable }}
      {{ if not $verification_verified }}
      <form class="" method="post" novalidate>
        {{ $.CSRFField }}
        <input type="hidden" name="q_identity_id" value="{{ .identity_id }}">
        <button class="btn action-btn text-xs" type="submit" name="x_action" value="verify_login_id">
          {{ template "verify-via-button-label" (dict "loginIDType" .login_id_type ) }}
        </button>
      </form>
      {{ end }}{{ end }}{{ end }}{{ end }}

    </div>

    {{/* Action */}}
    {{ if eq .type "oauth" }}
    <form class="w-6 flex flex-col" method="post" novalidate>
      {{ $.CSRFField }}
      <input type="hidden" name="x_provider_alias" value="{{ .provider_alias }}">
      <input type="hidden" name="q_identity_id" value="{{ .identity_id }}">
      {{ if .identity_id }}
        {{ if not .delete_disabled }}
          {{ if gt $.IdentityCount 1 }}
            <button class="btn destructive-secondary-btn flex-1 flex flex-col items-end justify-center" type="submit" name="x_action" value="unlink_oauth">
              <i class="ti ti-unlink"></i>
            </button>
          {{ end }}
        {{ end }}
      {{ else }}
        {{ if not .create_disabled }}
          <button class="btn secondary-btn flex-1 flex flex-col items-end justify-center" type="submit" name="x_action" value="link_oauth" data-turbo="false">
            <i class="ti ti-circle-plus"></i>
          </button>
        {{ end }}
      {{ end }}
    </form>
    {{ end }}

    {{/* Action */}}
    {{ if eq .type "login_id" }}
      {{ if .identity_id }}
        {{ if or (not .update_disabled) (and (not .delete_disabled) (gt $.IdentityCount 1)) }}
          <a class="link w-6 flex flex-col items-end justify-center" href="{{ call $.MakeURL "/settings/enter_login_id" "q_login_id_key" .login_id_key "q_login_id_type" .login_id_type "q_login_id_input_type" .login_id_input_type "q_identity_id" .identity_id }}">
            <i class="ti ti-edit"></i>
          </a>
        {{ end }}
      {{ else }}
        {{ if not .create_disabled }}        
          <a class="link w-6 flex flex-col items-end justify-center" href="{{ call $.MakeURL "/settings/enter_login_id" "q_login_id_key" .login_id_key "q_login_id_type" .login_id_type "q_login_id_input_type" .login_id_input_type }}">
            <i class="ti ti-circle-plus"></i>
          </a>
        {{ end }}
      {{ end }}
    {{ end }}

  </section>
  {{ end }}
  {{ end }}

  {{ if $show_more_button }}
  <div class="p-5 row-sep">
    <a class="link action text-sm" href="{{ call $.MakeURL "/settings/identity" }}">
      <i class="ti ti-chevrons-right"></i>
      {{ template "more-button-label" }}
    </a>
  </div>
  {{ end }}

</div>

<!-- MFA -->

<div class="pane grid grid-cols-1 auto-rows-auto gap-y-2.5 pt-4 pb-5">
<!-- The title and the description -->
<div class="px-5 grid grid-cols-1 auto-rows-auto gap-y-1">
  <h1 class="m-0 primary-txt text-xl font-bold">
    {{ template "settings-page-security-section-title" }}
  </h1>
  <p class="text-sm m-0 secondary-txt">
    {{ template "settings-page-security-section-description" }}
  </p>
</div>

<div class="px-5 grid grid-cols-2 tablet:grid-cols-2 desktop:grid-cols-3 auto-rows-min gap-4">
  {{ if $.ShowPrimaryPasskey }}
  <a class="settings-security-item not-a" href="{{ call $.MakeURL "/settings/passkey" }}">
    <i class="authgear-icons authgear-icons-passkey text-3xl block primary-txt" aria-hidden="true"></i>
    <p class="m-0 primary-txt text-base">
      {{ template "settings-page-primary-passkey-title" }}
    </p>
    <p class="m-0 secondary-txt text-xs truncate">
    {{ if $.LatestPrimaryPasskey }}
      <!-- FIXME(ui): Use user preferred timezone -->
      {{ template "settings-page-primary-passkey-description" (dict "name" $.LatestPrimaryPasskey.Passkey.CreationOptions.PublicKey.User.DisplayName "time" $.LatestPrimaryPasskey.CreatedAt "rfc3339" (rfc3339 $.LatestPrimaryPasskey.CreatedAt)) }}
    {{ else }}
      {{ template "settings-page-primary-passkey-description-none" }}
    {{ end }}
    </p>
  </a>
  {{ end }}

  {{ range $.Authenticators }}
  <!-- Primary Password -->
  {{ if eq .Type "password" }}{{ if eq .Kind "primary" }}
  <a class="settings-security-item not-a" href="{{ call $.MakeURL "/settings/change_password" }}">
    <i class="ti ti-key text-3xl block primary-txt" aria-hidden="true"></i>
    <p class="m-0 primary-txt text-base">
      {{ template "settings-page-primary-password-title" }}
    </p>
    <p class="m-0 secondary-txt text-xs truncate">
      <!-- FIXME(ui): Use user preferred timezone -->
      {{ template "settings-page-primary-password-description" (dict "time" .UpdatedAt "rfc3339" (rfc3339 .UpdatedAt)) }}
    </p>
  </a>
  {{ end }}{{ end }}

  <!-- Primary OOB OTP Email -->
  {{ if eq .Type "oob_otp_email" }}{{ if eq .Kind "primary" }}
  <a class="settings-security-item not-a" href="{{ call $.MakeURL "/settings/identity" }}">
    <i class="ti ti-mail text-3xl block primary-txt" aria-hidden="true"></i>
    <p class="m-0 primary-txt text-base">
      {{ template "settings-page-primary-oob-otp-title--email" }}
    </p>
    <p class="m-0 secondary-txt text-xs truncate">
      {{ .OOBOTP.Email }}
      <br>
      <!-- FIXME(ui): Use user preferred timezone -->
      {{ template "settings-page-primary-oob-otp-description" (dict "time" .CreatedAt "rfc3339" (rfc3339 .CreatedAt)) }}
    </p>
  </a>
  {{ end }}{{ end }}

  <!-- Primary OOB OTP SMS -->
  {{ if eq .Type "oob_otp_sms" }}{{ if eq .Kind "primary" }}
  <a class="settings-security-item not-a" href="{{ call $.MakeURL "/settings/identity" }}">
    <i class="ti ti-message-dots text-3xl block primary-txt" aria-hidden="true"></i>
    <p class="m-0 primary-txt text-base">
      {{ template "settings-page-primary-oob-otp-title--phone" }}
    </p>
    <p class="m-0 secondary-txt text-xs truncate">
      {{ .OOBOTP.Phone }}
      <br>
      <!-- FIXME(ui): Use user preferred timezone -->
      {{ template "settings-page-primary-oob-otp-description" (dict "time" .CreatedAt "rfc3339" (rfc3339 .CreatedAt)) }}
    </p>
  </a>
  {{ end }}{{ end }}
  {{ end }}

  <!-- MFA -->
  {{ if $.ShowMFA }}
  <a class="settings-security-item not-a" href="{{ call $.MakeURL "/settings/mfa" }}">
    <i class="ti ti-shield-lock text-3xl block  primary-txt" aria-hidden="true"></i>
    <p class="m-0 primary-txt text-base">
      {{ template "settings-page-mfa-section-title" }}
    </p>
    <p class="m-0 secondary-txt text-xs">
      {{ template "settings-page-mfa-section-description" }}
    </p>
  </a>
  {{ end }}

  {{ if $.ShowBiometric }}
  <!-- Biometric -->
  <a class="settings-security-item not-a" href="{{ call $.MakeURL "/settings/biometric" }}">
    <i class="ti ti-fingerprint text-3xl block primary-txt" aria-hidden="true"></i>
    <p class="m-0 primary-txt text-base">
      {{ template "settings-page-biometric-section-title" }}
    </p>
    <p class="m-0 secondary-txt text-xs">
      {{ template "settings-page-biometric-section-description" }}
    </p>
  </a>
  {{ end }}

  <a class="settings-security-item not-a" href="{{ call $.MakeURL "/settings/sessions" }}">
    <i class="ti ti-shield-check text-3xl block primary-txt" aria-hidden="true"></i>
    <p class="m-0 primary-txt text-base">
      {{ template "settings-page-session-section-title" (dict "hasThirdPartyClient" .HasThirdPartyClient) }}
    </p>
    <p class="m-0 secondary-txt text-xs">
      {{ template "settings-page-session-section-description" (dict "hasThirdPartyClient" .HasThirdPartyClient) }}
    </p>
  </a>
</div>

</div>

{{ if $.ClientURI }}
<div class="pane py-4 px-5 flex justify-center">
  <a class="link text-sm" href="{{ $.ClientURI }}">
    <i class="ti ti-logout mr-2.5"></i>
    {{ template "back-to-app-label" }}
  </a>
</div>
{{ end }}

{{ end }}
