<!DOCTYPE html>
<html>
{{ template "__html_head.html" . }}
<body class="page">
<main class="content">

{{ template "__header.html" . }}

{{ template "__nav_bar.html" }}

{{ template "__error.html" . }}

<section class="pane">
  <section class="margin-h-14 padding-v-10 row-sep">
    <h1 class="font-inherit margin-0 primary-txt">
      {{ template "settings-oob-otp-title" }}
    </h1>
  </section>

  {{ range $.Authenticators }}
    <form class="margin-h-14 padding-v-10 row-sep grid grid-icon-name-desc-action" method="post" novalidate>
      {{ if eq (index .Claims "https://authgear.com/claims/oob_otp/channel_type") "email" }}
        <i class="grid-area-icon align-self-start justify-self-center margin-2 fas fa-envelope" aria-hidden="true"></i>
        <p class="grid-area-name align-self-center font-size-inherit margin-0 primary-txt">
          {{ index .Claims "https://authgear.com/claims/oob_otp/email" }}
        </p>
      {{ end }}
      {{ if eq (index .Claims "https://authgear.com/claims/oob_otp/channel_type") "sms" }}
        <i class="grid-area-icon align-self-start justify-self-center margin-2 fas fa-phone" aria-hidden="true"></i>
        <p class="grid-area-name align-self-center font-size-inherit margin-0 primary-txt">
          {{ index .Claims "https://authgear.com/claims/oob_otp/phone" }}
        </p>
      {{ end }}
      <p class="grid-area-desc align-self-center font-smaller margin-0 secondary-txt">
        <!-- FIXME(ui): Use user preferred timezone -->
        {{ template "settings-totp-item-description" (dict "time" .CreatedAt) }}
      </p>
      {{ $.CSRFField }}
      <input type="hidden" name="x_authenticator_id" value="{{ .ID }}">
      <button class="grid-area-action align-self-center justify-self-end btn destructive-btn" type="submit" name="x_action" value="remove">
        {{ template "remove-button-label" }}
      </button>
    </form>
  {{ end }}
  <section class="margin-h-14 padding-v-10 row-sep">
    <form class="primary-action" method="post" novalidate>
      {{ $.CSRFField }}
      <button class="btn secondary-btn" type="submit" name="x_action" value="add">
        {{ template "add-button-label" }}
      </button>
    </form>
  </section>
</section>

</main>
</body>
</html>
