{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<main class="content">
	<div class="pane flex flex-col">
	{{ template "__nav_bar.html" "/settings" }}
	<div class="flex flex-col width-full margin-v-20">
		<h1 class="primary-txt text-center margin-t-0 margin-b-10 text-xl font-bold">
			{{ template "recovery-code-title" }}
		</h1>

		<section class="recovery-code-list-section">
			<p class="primary-txt text-center margin-t-0 margin-b-20 text-sm whitespace-pre-wrap">{{ template "recovery-code-storage-description" }}</p>
			<div class="margin-b-20 code-list-container">
				<ol class="margin-0 padding-0 code-list">
					{{ range $.RecoveryCodes }}
						<li class="code-item">{{ . }}</li>
					{{ end }}
				</ol>
			</div>
			<code id="recovery-code-content" class="hidden">{{ template "__recovery_code.html" . }}</code>

			<p class="text-sm primary-txt text-center margin-t-0 margin-b-20">{{ template "recovery-code-consumption-description" }}</p>
		</section>

		<section class="margin-b-20 flex flex-row recovery-code-action-section">
			<form method="post" class="action margin-h-4" novalidate>
				{{ $.CSRFField }}
				<button class="btn primary-btn w-full" type="submit" name="x_action" value="regenerate">
					{{ template "get-new-code-button-label" }}
				</button>
			</form>
			{{ if $.IsSupportedMobilePlatform }}
				<button
					class="btn primary-btn margin-h-4 w-full action"
					type="button"
					data-copy-button-target="#recovery-code-content"
					data-copy-button-copy-label="{{ template "copy-button-label" }}"
					data-copy-button-copied-label="{{ template "copied-button-label" }}">
					{{ template "copy-button-label" }}
				</button>
			{{ else }}
				<form method="post" class="action margin-h-4" novalidate target="_blank">
					{{ $.CSRFField }}
					<button class="btn primary-btn w-full" type="submit" name="x_action" value="download" data-form-xhr="false">
						{{ template "download-button-label" }}
					</button>
				</form>
			{{ end }}
		</section>

	</div>
	<div class="margin-t-20">{{ template "__watermark.html" . }}</div>
	</div>
</main>
{{ end }}
