{{ template "__wide_page_frame.html" . }}

{{ define "page-content" }}
<div class="pane flex flex-col">
  <div class="px-4">
    {{ template "__nav_bar.html" (call $.MakeURL "/settings/mfa") }}
  </div>

  <div class="px-5 pt-4 pb-5 row-sep grid grid-cols-1 auto-rows-auto gap-y-1">
    <h1 class="text-base m-0 primary-txt text-xl font-bold">
      {{ if eq $.OOBAuthenticatorType "oob_otp_email" }}
      {{ template "settings-oob-otp-email-title" }}
      {{ else if eq $.OOBAuthenticatorType "oob_otp_sms" }}
      {{ template "settings-oob-otp-phone-title" }}
      {{ end }}
    </h1>
  </div>

  {{ range $.Authenticators }}
    <form class="p-5 row-sep grid grid-cols-[auto_minmax(0,_1fr)_auto] auto-rows-auto gap-y-1 gap-x-2" method="post" novalidate>
      {{ if eq $.OOBAuthenticatorType "oob_otp_email" }}
        <i class="twc-title-icon col-span-1 col-start-1 ti ti-mail text-base primary-txt" aria-hidden="true"></i>
        <p class="col-span-1 col-start-2 self-center font-size-inherit m-0 primary-txt text-base">
          {{ .OOBOTP.Email }}
        </p>
      {{ end }}
      {{ if eq $.OOBAuthenticatorType "oob_otp_sms" }}
        <i class="twc-title-icon col-span-1 col-start-1 ti ti-device-mobile text-base primary-txt" aria-hidden="true"></i>
        <p class="col-span-1 col-start-2 self-center font-size-inherit m-0 primary-txt text-base">
          {{ .OOBOTP.Phone }}
        </p>
      {{ end }}
      <p class="col-start-1 col-span-2 row-start-2 self-center m-0 secondary-txt text-sm">
        <!-- FIXME(ui): Use user preferred timezone -->
        {{ template "settings-totp-item-description" (dict "time" .CreatedAt "rfc3339" (rfc3339 .CreatedAt)) }}
      </p>
      <input type="hidden" name="x_authenticator_id" value="{{ .ID }}">
      <button
        class="w-6 col-start-3 row-start-1 row-span-2 flex flex-col items-end justify-center btn destructive-secondary-btn"
        type="submit"
        name="x_action"
        value="remove"
        data-authgear-event="authgear.button.remove_oob_otp"
      >
        <i class="ti ti-circle-minus"></i>
      </button>
    </form>
  {{ end }}

  <form class="row-sep" method="post" novalidate>
    <button class="settings-add-btn secondary-btn" type="submit" name="x_action" value="add">
      {{ template "add-button-label" }}
    </button>
  </form>

</div>

{{ end }}
