{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane flex flex-col row-gap-20 padding-t-12 padding-b-20 padding-h-24 tablet:padding-h-32 desktop:padding-h-32">
{{ template "__nav_bar.html" "/settings" }}
	<h1 class="primary-txt text-center margin-0 text-xl font-bold">
		{{ template "recovery-code-title" }}
	</h1>

	<p class="primary-txt text-center margin-0 text-sm whitespace-pre-wrap">{{ template "recovery-code-storage-description" }}</p>
	<ol class="recovery-code-list margin-0 padding-v-20 padding-inline-end-20 grid grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-2 column-gap-20">
		{{ range $.RecoveryCodes }}
			<li class="font-mono whitespace-pre text-base leading-none margin-h-20 place-self-center">{{ . }}</li>
		{{ end }}
	</ol>
	<code id="recovery-code-content" class="hidden">{{ template "__recovery_code.html" . }}</code>

	<p class="text-sm primary-txt text-center margin-0">{{ template "recovery-code-consumption-description" }}</p>

	<div class="margin-t-20 grid gap-8 grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-2">
		<form method="post" novalidate>
			{{ $.CSRFField }}
			<button class="btn primary-btn w-full" type="submit" name="x_action" value="regenerate">
				{{ template "get-new-code-button-label" }}
			</button>
		</form>
		{{ if $.IsSupportedMobilePlatform }}
			<div>
				<button
					class="btn primary-btn w-full"
					type="button"
					data-copy-button-target="#recovery-code-content"
					data-copy-button-copy-label="{{ template "copy-button-label" }}"
					data-copy-button-copied-label="{{ template "copied-button-label" }}">
					{{ template "copy-button-label" }}
				</button>
			</div>
		{{ else }}
			<form method="post" novalidate target="_blank">
				{{ $.CSRFField }}
				<button class="btn primary-btn w-full" type="submit" name="x_action" value="download" data-form-xhr="false">
					{{ template "download-button-label" }}
				</button>
			</form>
		{{ end }}
	</div>

	{{ template "__watermark.html" . }}
</div>
{{ end }}
