{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<main class="content settings-content">
{{ $has_secondary_totp := false }}
{{ $has_secondary_oob_otp_email := false }}
{{ $has_secondary_oob_otp_sms := false }}
{{ $secondary_password := false }}
{{ range $.Authenticators }}
{{ if eq .Kind "secondary" }}
  {{ if eq .Type "totp" }}
    {{ $has_secondary_totp = true }}
  {{ else if eq .Type "oob_otp_email" }}
    {{ $has_secondary_oob_otp_email = true }}
  {{ else if eq .Type "oob_otp_sms" }}
    {{ $has_secondary_oob_otp_sms = true }}
  {{ else if eq .Type "password" }}
    {{ $secondary_password = . }}
  {{ end }}
{{ end }}
{{ end }}
{{ $has_mfa := (or $has_secondary_totp $has_secondary_oob_otp_email $has_secondary_oob_otp_sms $secondary_password) }}
{{ $show_secondary_totp := (or $has_secondary_totp $.SecondaryTOTPAllowed) }}
{{ $show_secondary_oob_otp_email := (or $has_secondary_oob_otp_email $.SecondaryOOBOTPEmailAllowed) }}
{{ $show_secondary_oob_otp_sms := (or $has_secondary_oob_otp_sms $.SecondaryOOBOTPSMSAllowed) }}
{{ $show_secondary_password := (or $secondary_password $.SecondaryPasswordAllowed) }}

<div class="pane flex flex-direction-column">
<div class="flex flex-direction-column">
  {{ template "__nav_bar.html" }}
  <!-- Title -->
  <section class="padding-20 row-sep gap-4 grid grid-title-desc">
    <h3 class="grid-area-title margin-0 primary-txt text-xl font-bold">
      {{ template "settings-page-mfa-section-title" }}
    </h3>
    <p class="grid-area-desc margin-0 secondary-txt text-sm">
      {{ template "settings-page-mfa-section-description" }}
    </p>
  </section>

  <!-- Secondary TOTP -->
  {{ if $show_secondary_totp }}
  <section class="padding-20 row-sep grid grid-icon-title-desc-action1-action2">
    <i class="ti ti-device-mobile grid-area-icon margin-0 primary-txt text-base" aria-hidden="true"></i>
    <p class="grid-area-title margin-0 primary-txt text-base">
      {{ template "settings-page-secondary-totp-title" }}
    </p>
    {{ if $has_secondary_totp }}
    <p class="grid-area-desc margin-t-4 margin-0 good-txt text-sm">
      {{ template "activated-label" }}
    </p>
    <a class="link grid-area-action1 align-self-center justify-self-end" href="/settings/mfa/totp">
      <i class="ti ti-edit margin-l-8 padding-v-16"></i>
    </a>
    {{ else }}
    <p class="grid-area-desc margin-0 warn-txt text-sm">
      {{ template "inactive-label" }}
    </p>
    <form class="grid-area-action1 align-self-center justify-self-end" method="post" novalidate>
      {{ $.CSRFField }}
      <button class="btn secondary-btn" type="submit" name="x_action" value="add_secondary_totp">
        <i class="ti ti-edit margin-l-8 padding-v-16"></i>
      </button>
    </form>
    {{ end }}
  </section>
  {{ end }}

  <!-- Secondary OOB OTP Email -->
  {{ if $show_secondary_oob_otp_email }}
  <section class="padding-20 row-sep grid grid-icon-title-desc-action1-action2">
    <i class="ti ti-mail grid-area-icon margin-0 primary-txt text-base" aria-hidden="true"></i>
    <p class="grid-area-title margin-0 primary-txt text-base">
      {{ template "settings-page-secondary-oob-otp-email-title" }}
    </p>
    {{ if $has_secondary_oob_otp_email }}
    <p class="grid-area-desc margin-t-4 margin-0 good-txt text-sm">
      {{ template "activated-label" }}
    </p>
    <a class="link grid-area-action1 align-self-center justify-self-end" href="/settings/mfa/oob_otp_email">
      <i class="ti ti-edit margin-l-8 padding-v-16"></i>
    </a>
    {{ else }}
    <p class="grid-area-desc margin-t-4 margin-0 warn-txt text-sm">
      {{ template "inactive-label" }}
    </p>
    <form class="grid-area-action1 align-self-center justify-self-end" method="post" novalidate>
      {{ $.CSRFField }}
      <button class="btn secondary-btn" type="submit" name="x_action" value="add_secondary_oob_otp_email">
        <i class="ti ti-edit margin-l-8 padding-v-16"></i>
      </button>
    </form>
    {{ end }}
  </section>
  {{ end }}

  {{ if $show_secondary_oob_otp_sms }}
  <section class="padding-20 row-sep grid grid-icon-title-desc-action1-action2">
    <i class="ti ti-device-mobile grid-area-icon margin-0 primary-txt text-base" aria-hidden="true"></i>
    <p class="grid-area-title margin-0 primary-txt text-base">
      {{ template "settings-page-secondary-oob-otp-sms-title" }}
    </p>
    {{ if $has_secondary_oob_otp_sms }}
    <p class="grid-area-desc margin-t-4 margin-0 good-txt text-sm">
      {{ template "activated-label" }}
    </p>
    <a class="link grid-area-action1 align-self-center justify-self-end" href="/settings/mfa/oob_otp_sms">
      <i class="ti ti-edit margin-l-8 padding-v-16"></i>
    </a>
    {{ else }}
    <p class="grid-area-desc margin-t-4 margin-0 warn-txt text-sm">
      {{ template "inactive-label" }}
    </p>
    <form class="grid-area-action1 align-self-center justify-self-end" method="post" novalidate>
      {{ $.CSRFField }}
      <button class="btn secondary-btn" type="submit" name="x_action" value="add_secondary_oob_otp_sms">
        <i class="ti ti-edit margin-l-8 padding-v-16"></i>
      </button>
    </form>
    {{ end }}
  </section>
  {{ end }}


  <!-- Secondary Password -->
  {{ if $show_secondary_password }}
  <section class="padding-20 row-sep grid grid-icon-title-desc-action1-action2">
    <i class="ti ti-lock grid-area-icon margin-0 primary-txt text-base" aria-hidden="true"></i>
    <p class="grid-area-title margin-0 primary-txt text-base">
      {{ template "settings-page-secondary-password-title" }}
    </p>
    {{ if $secondary_password }}
    <p class="grid-area-desc margin-t-4 margin-0 secondary-txt text-sm">
      <!-- FIXME(ui): Use user preferred timezone -->
      {{ template "settings-page-secondary-password-description" (dict "time" $secondary_password.UpdatedAt) }}
    </p>
    <a class="grid-area-action1 align-self-center justify-self-end btn secondary-btn" href="/settings/mfa/change_secondary_password">
      <i class="ti ti-edit margin-l-8 padding-v-16"></i>
    </a>
    <form class="grid-area-action2 align-self-center justify-self-end" method="post" novalidate>
      {{ $.CSRFField }}
      <input type="hidden" name="x_authenticator_id" value="{{ $secondary_password.ID }}">
      <button class="btn destructive-btn" type="submit" name="x_action" value="remove_secondary_password">
        <i class="ti ti-circle-minus margin-l-8 padding-v-16"></i>
      </button>
    </form>
    {{ else }}
    <form class="link grid-area-action1 align-self-center justify-self-end" method="post" novalidate>
      {{ $.CSRFField }}
      <button class="btn secondary-btn" type="submit" name="x_action" value="setup_secondary_password">
        <i class="ti ti-edit margin-l-8 padding-v-16"></i>
      </button>
    </form>
    {{ end }}
  </section>
  {{ end }}

  <!-- Recovery code -->
  {{ if (and $has_mfa $.ListRecoveryCodesAllowed) }}
  <section class="padding-20 row-sep grid grid-icon-title-desc-action1-action2">
    <i class="ti ti-file-text grid-area-icon margin-0 primary-txt text-base" aria-hidden="true"></i>
    <p class="grid-area-title margin-0 primary-txt text-base">
      {{ template "settings-page-recovery-code-title" }}
    </p>
    <p class="grid-area-desc margin-t-4 margin-0 secondary-txt text-sm">
      {{ template "settings-page-recovery-code-description" }}
    </p>
    <a class="grid-area-action1 align-self-center justify-self-end text-sm as-btn not-a btn action-btn" href="/settings/mfa/recovery_code">
      {{ template "show-recovery-code-button-label" }}
    </a>
  </section>
  {{ end }}

  <!-- Revoke all device tokens -->
  {{ if $has_mfa }}
  <section class="padding-20 row-sep grid grid-icon-title-desc-action1-action2">
    <i class="ti ti-user-check grid-area-icon margin-0 primary-txt text-base" aria-hidden="true"></i>
    <p class="grid-area-title margin-0 primary-txt text-sm text-base">
      {{ template "settings-page-trusted-devices-title" }}
    </p>
  {{ if $.HasDeviceTokens }}
  <form class="grid-area-desc margin-t-4 margin-0" method="post" novalidate>
    {{ $.CSRFField }}
    <button class="justify-self-start btn destructive-btn text-sm" type="submit" name="x_action" value="revoke_devices">
      {{ template "revoke-all-device-tokens-button-label" }}
    </button>
  </form>
  {{ else }}
  <p class="grid-area-desc margin-t-4 margin-0 secondary-txt text-sm">
    {{ template "no-device-tokens-description" }}
  </p>
  {{ end }}
  {{ end }}
  </section>

</div>
</div>

</main>
{{ end }}