{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<main class="content settings-content">
<div class="pane flex flex-direction-column">
<div class="flex flex-direction-column">
  {{ template "__nav_bar.html" }}
  <section class="padding-20 row-sep">
    <h1 class="font-inherit margin-0 primary-txt">
      {{ template "settings-totp-title" }}
    </h1>
  </section>

  {{ range $.Authenticators }}
    <form class="padding-20 row-sep grid grid-title-desc-action1-action2" method="post" novalidate>
      <p class="grid-area-title align-self-center margin-0 primary-txt font-smaller leading-normal">
        {{ index .Claims "https://authgear.com/claims/totp/display_name" }}
      </p>
      <p class="grid-area-desc align-self-center margin-0 secondary-txt font-smaller leading-normal">
        <!-- FIXME(ui): Use user preferred timezone -->
        {{ template "settings-totp-item-description" (dict "time" .CreatedAt) }}
      </p>
      {{ $.CSRFField }}
      <input type="hidden" name="x_authenticator_id" value="{{ .ID }}">
      <button class="grid-area-action1 align-self-center justify-self-end btn destructive-btn font-smaller leading-normal" type="submit" name="x_action" value="remove">
        {{ template "remove-button-label" }}
      </button>
    </form>
  {{ end }}
  <section class="padding-20 row-sep">
    <form class="primary-action" method="post" novalidate>
      {{ $.CSRFField }}
      <button class="btn secondary-btn font-smaller leading-normal" type="submit" name="x_action" value="add">
        {{ template "add-button-label" }}
      </button>
    </form>
  </section>

</div>
</div>

</main>
{{ end }}