<!DOCTYPE html>
<html>
{{ template "__html_head.html" . }}
<body class="page">
{{ template "__message_bar.html" . }}
<main class="content">
{{ template "__nav_bar.html" }}

<div class="pane margin-6 flex flex-direction-column">
{{ template "__header.html" . }}
<div class="padding-6 flex flex-direction-column">
  <section class="margin-h-14 padding-v-10 gap-8 row-sep grid grid-title-desc">
    <h1 class="grid-area-title margin-0 font-inherit primary-txt">
      {{ template "settings-identity-title" }}
    </h1>
    <p class="grid-area-desc margin-0 font-smaller secondary-txt">
      {{ template "settings-identity-description" }}
    </p>
  </section>

  {{ range .IdentityCandidates }}
  {{ $claim_verification_statuses := index $.VerificationStatuses .identity_id }}
  {{ $verification_status := "disabled" }}
  {{ if ne (len $claim_verification_statuses) 0 }}
    {{ $verification_status = (index $claim_verification_statuses 0).Status }}
  {{ end }}

  {{ $skip := false }}
  {{ if eq .type "oauth" }}
  {{- if (and (eq .provider_type "wechat") (eq .provider_app_type "mobile") (not $.IsNativePlatform)) -}}
  {{ $skip = true }}
  {{ end }}
  {{- if (and (eq .provider_type "wechat") (eq .provider_app_type "web") ($.IsNativePlatform)) -}}
  {{ $skip = true }}
  {{ end }}
  {{ end }}

  {{- if not $skip -}}
  <section class="margin-h-14 padding-v-10 row-sep grid grid-icon-name-claim-action1-action2">
    {{ $fa := "" }}

    {{ if eq .type "oauth" }}
    {{ if eq .provider_type "google" }}   {{ $fa = "fab fa-google" }}     {{ end }}
    {{ if eq .provider_type "apple" }}    {{ $fa = "fab fa-apple"  }}     {{ end }}
    {{ if eq .provider_type "facebook" }} {{ $fa = "fab fa-facebook-f" }} {{ end }}
    {{ if eq .provider_type "linkedin" }} {{ $fa = "fab fa-linkedin-in" }}{{ end }}
    {{ if eq .provider_type "azureadv2" }}{{ $fa = "fab fa-microsoft" }}  {{ end }}
    {{ if eq .provider_type "adfs" }}     {{ $fa = "fab fa-microsoft" }}  {{ end }}
    {{ if eq .provider_type "wechat" }}   {{ $fa = "fab fa-weixin" }}     {{ end }}
    {{ end }}

    {{ if eq .type "login_id" }}
    {{ if eq .login_id_type "email" }}   {{ $fa = "fas fa-envelope" }}{{ end }}
    {{ if eq .login_id_type "username" }}{{ $fa = "fas fa-at" }}      {{ end }}
    {{ if eq .login_id_type "phone" }}   {{ $fa = "fas fa-phone" }}   {{ end }}

    {{ end }}

    <i class="grid-area-icon align-self-start justify-self-center margin-2 primary-txt {{ $fa }}" aria-hidden="true"></i>
    <h2 class="grid-area-name align-self-center font-inherit margin-0 primary-txt">
      {{ if eq .type "oauth" }}
        {{ if eq .provider_type "google" }}{{ template "settings-identity-oauth-google" }}{{ end }}
        {{ if eq .provider_type "apple" }}{{ template "settings-identity-oauth-apple" }}{{ end }}
        {{ if eq .provider_type "facebook" }}{{ template "settings-identity-oauth-facebook" }}{{ end }}
        {{ if eq .provider_type "linkedin" }}{{ template "settings-identity-oauth-linkedin" }}{{ end }}
        {{ if eq .provider_type "azureadv2" }}{{ template "settings-identity-oauth-azureadv2" }}{{ end }}
        {{ if eq .provider_type "adfs" }}{{ template "settings-identity-oauth-adfs" }}{{ end }}
        {{ if eq .provider_type "wechat" }}{{ template "settings-identity-oauth-wechat" }}{{ end }}
      {{ end }}
      {{ if eq .type "login_id" }}
        {{ if eq .login_id_type "email" }}{{ template "settings-identity-login-id-email" }}{{ end }}
        {{ if eq .login_id_type "phone" }}{{ template "settings-identity-login-id-phone" }}{{ end }}
        {{ if eq .login_id_type "username" }}{{ template "settings-identity-login-id-username" }}{{ end }}
        {{ if eq .login_id_type "raw" }}{{ template "settings-identity-login-id-raw" }}{{ end }}
      {{ end }}
    </h2>

    {{ if .display_id }}
    <h3 class="grid-area-claim align-self-center font-smaller margin-0 secondary-txt text-ellipsis">
      {{ .display_id }}

      <!-- TODO(verification): show verification for all identity types -->
      {{ if eq .type "login_id" }}
      {{ if .identity_id }}
      {{ if or (eq $verification_status "pending") (eq $verification_status "required") }}
      <span class="warn-txt">
        ({{ template "verification-status-label--unverified" }})
      </span>
      {{ end }}
      {{ if eq $verification_status "verified" }}
      <span class="good-txt">
        ({{ template "verification-status-label--verified" }})
      </span>
      {{ end }}
      {{ end }}
      {{ end }}
    </h3>
    {{ end }}

    {{ if eq .type "oauth" }}
    <form class="grid-area-action1 align-self-center justify-self-end" method="post" novalidate>
    {{ $.CSRFField }}
    <input type="hidden" name="x_provider_alias" value="{{ .provider_alias }}">
    <input type="hidden" name="x_identity_id" value="{{ .identity_id }}">
    {{ if not .modify_disabled }}{{ if .identity_id }}
    <button class="btn destructive-btn" type="submit" name="x_action" value="unlink_oauth">{{ template "disconnect-button-label" }}</button>
    {{ else }}
    <button class="btn secondary-btn" type="submit" name="x_action" value="link_oauth" data-form-xhr="false">{{ template "connect-button-label" }}</button>
    {{ end }}{{ end }}
    </form>
    {{ end }}

    {{ if eq .type "login_id" }}
    {{ if not .modify_disabled }}{{ if .identity_id }}
    <a class="link grid-area-action1 align-self-center justify-self-end" href="{{ call $.MakeURL "/settings/enter_login_id" "x_login_id_key" .login_id_key "x_login_id_type" .login_id_type "x_login_id_input_type" .login_id_input_type "x_identity_id" .identity_id }}">{{ template "change-button-label" }}</a>
    {{ else }}
    <a class="link grid-area-action1 align-self-center justify-self-end" href="{{ call $.MakeURL "/settings/enter_login_id" "x_login_id_key" .login_id_key "x_login_id_type" .login_id_type "x_login_id_input_type" .login_id_input_type }}">
      {{ if eq .login_id_type "username" }}
      {{ template "setup-button-label" }}
      {{ else }}
      {{ template "connect-button-label" }}
      {{ end }}
    </a>
    {{ end }}{{ end }}
    {{ end }}

    {{ if eq .type "login_id" }}
    {{ if .identity_id }}
    {{ if or (eq $verification_status "pending") (eq $verification_status "required") }}
    <form class="grid-area-action2 align-self-center justify-self-end" method="post" novalidate>
    {{ $.CSRFField }}
    <input type="hidden" name="x_identity_id" value="{{ .identity_id }}">
    <button class="btn secondary-btn" type="submit" name="x_action" value="verify_login_id">
      {{ template "resend-verification-code-button-label" }}
    </button>
    </form>
    {{ end }}
    {{ end }}
    {{ end }}

  </section>
  {{ end }}

  {{ end }}

</div>
</div>

</main>
</body>
</html>
