{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<form
  method="post" 
  novalidate 
  class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8"
>

{{ $.CSRFField }}

<h1 class="primary-txt text-center m-0 text-xl font-bold">
  {{ template "account-deletion-success-title" }}
</h1>

<p class="m-0 primary-txt text-center text-sm">
  {{ template "account-deletion-success-description" (dict "date" $.ExpectedAccountDeletionTime "rfc3339" (rfc3339 $.ExpectedAccountDeletionTime)) }}
</p>

<button
  type="submit"
  name="x_action"
  value="" 
  class="btn primary-btn mt-5 flex flex-col items-center justify-center"
>
  {{ template "done-button-label" }}
</button>

{{ template "__watermark.html" . }}
</form>
{{ end }}
