{{ template "__wide_page_frame.html" . }}

{{ define "page-content" }}

{{/* Profile */}}
{{ if not $.IsStandardAttributesAllHidden }}
<div class="pane flex flex-col">

  <div class="px-5 mt-4 mb-1">
    <h1 class="m-0 primary-txt text-xl font-bold">
      {{ template "settings-my-profile-title" }}
    </h1>
  </div>

  <div class="p-2.5 flex flex-row items-center row-sep">
    <img
      class="m-2.5 rounded-full bg-center bg-cover bg-no-repeat w-18 h-18"
      {{ if (and (call $.IsReadable "/picture") $.Picture) }}
        src="{{ $.Picture }}"
      {{ else }}
        src="{{ call $.StaticAssetURL "avatar-placeholder" }}"
      {{ end }}
    >
    <div class="mx-2.5 flex flex-col space-y-1">
      {{ $any_name_readable := (or (call $.IsReadable "/name") (call $.IsReadable "/given_name") (call $.IsReadable "/family_name") (call $.IsReadable "/middle_name") (call $.IsReadable "/nickname")) }}
      {{ if (and $any_name_readable $.FormattedName) }}<span class="primary-txt">{{ $.FormattedName }}</span>{{ end }}
      {{ if (and (not $.FormattedName) $.EndUserAccountID) }}<span class="primary-txt">{{ $.EndUserAccountID }}</span>{{ end }}
      {{ if (and $.FormattedName $.EndUserAccountID) }}<span class="secondary-txt font-sm">{{ $.EndUserAccountID }}</span>{{ end }}
      {{ if (and (not $.FormattedName) (not $.EndUserAccountID)) }}<span class="secondary-txt font-sm">{{ template "settings-my-profile-empty-label" }}</span>{{ end }}
    </div>
  </div>

  <div class="p-5 row-sep">
    <a class="link action text-sm" href="/settings/profile">
      <i class="ti ti-chevrons-right"></i>
      {{ template "more-button-label" }}
    </a>
  </div>
</div>
{{ end }}

{{/* Identity */}}
<div class="pane flex flex-col">

  <div class="px-5 mt-4 mb-1">
    <h1 class="m-0 primary-txt text-xl font-bold">
      {{ template "settings-my-account-title" }}
    </h1>
  </div>

  <div class="p-5 row-sep grid grid-cols-1 auto-rows-auto gap-y-1">
    <h2 class="m-0 primary-txt text-base font-semibold">
      {{ template "settings-identity-title" }}
    </h2>
    <p class="m-0 text-sm secondary-txt">
      {{ template "settings-identity-description" }}
    </p>
  </div>

  {{ $show_more_button := false }}
  {{ range .IdentityCandidates }}
  {{ $claim_verification_statuses := index $.VerificationStatuses .identity_id }}
  {{ $verification_status := "disabled" }}
  {{ if ne (len $claim_verification_statuses) 0 }}
    {{ $verification_status = (index $claim_verification_statuses 0).Status }}
  {{ end }}

  {{/* We do not want to show unset row */}}
  {{ $is_unset := (not .identity_id) }}

  {{/* We define is_hidden here for future configurability */}}
  {{ $is_hidden := ($is_unset)}}

  {{/* Only show more button when at least one row is hidden */}}
  {{ $show_more_button = (or ($show_more_button) ($is_hidden)) }}

  {{/* Always show more button when account deletion is enabled */}}
  {{ if $.AccountDeletionAllowed }}
  {{ $show_more_button = true }}
  {{ end }}

  {{ if not $is_hidden }}
  <section class="p-5 row-sep flex flex-row space-x-2">
    {{ $ti := "" }}

    {{ if eq .type "oauth" }}
    {{ if eq .provider_type "azureadv2" }}
      {{ $ti = "ti ti-brand-windows" }}
    {{ else if eq .provider_type "azureadb2c" }}
      {{ $ti = "ti ti-brand-windows" }}
    {{ else if eq .provider_type "adfs" }}
      {{ $ti = "ti ti-brand-windows" }}
    {{ else if eq .provider_type "wechat" }}
      {{ $ti = "ti ti-message-circle" }}
    {{ else }}
      {{ $ti = printf "ti ti-brand-%s" .provider_type }}
    {{ end }}
    {{ end }}

    {{ if eq .type "login_id" }}
    {{ if eq .login_id_type "email" }}   {{ $ti = "ti ti-mail" }}{{ end }}
    {{ if eq .login_id_type "username" }}{{ $ti = "ti ti-at" }}      {{ end }}
    {{ if eq .login_id_type "phone" }}   {{ $ti = "ti ti-device-mobile" }}   {{ end }}
    {{ end }}

    <div class="grid grid-cols-1 auto-rows-auto gap-y-1 flex-1">

      {{/* Row */}}
      <div class="flex flex-row space-x-2">
        <i class="twc-title-icon primary-txt text-base {{ $ti }}" aria-hidden="true"></i>
        <p class="m-0 primary-txt text-base">
          {{ if eq .type "oauth" }}
            {{ $.Translations.RenderText (printf "settings-identity-oauth-%s" .provider_type) nil }}
          {{ end }}
          {{ if eq .type "login_id" }}
            {{ $.Translations.RenderText (printf "settings-identity-login-id-%s" .login_id_type) nil }}
          {{ end }}
        </p>
      </div>

      {{/* Row */}}
      {{ if .display_id }}
      <p class="text-sm m-0 secondary-txt leading-normal">
        {{ .display_id }}

        <!-- TODO(verification): show verification for all identity types -->
        {{ if eq .type "login_id" }}
        {{ if .identity_id }}
        {{ if or (eq $verification_status "pending") (eq $verification_status "required") }}
        <span class="error-txt">
          {{ template "verification-status-label--unverified" }}
        </span>
        {{ end }}
        {{ if eq $verification_status "verified" }}
        <span class="good-txt">
          {{ template "verification-status-label--verified" }}
        </span>
        {{ end }}
        {{ end }}
        {{ end }}
      </p>
      {{ end }}

      {{/* Row */}}
      {{ if eq .type "login_id" }}
      {{ if .identity_id }}
      {{ if or (eq $verification_status "pending") (eq $verification_status "required") }}
      <form class="" method="post" novalidate>
        {{ $.CSRFField }}
        <input type="hidden" name="x_identity_id" value="{{ .identity_id }}">
        <button class="btn action-btn text-xs" type="submit" name="x_action" value="verify_login_id">
          {{ template "verify-via-button-label" (dict "loginIDType" .login_id_type ) }}
        </button>
      </form>
      {{ end }}{{ end }}{{ end }}

    </div>

    {{/* Action */}}
    {{ if eq .type "oauth" }}
    <form class="w-6 flex flex-col" method="post" novalidate>
      {{ $.CSRFField }}
      <input type="hidden" name="x_provider_alias" value="{{ .provider_alias }}">
      <input type="hidden" name="x_identity_id" value="{{ .identity_id }}">
      {{ if not .modify_disabled }}
        {{ if .identity_id }}
          {{ if gt $.IdentityCount 1 }}
            <button class="btn destructive-secondary-btn flex-1 flex flex-col items-end justify-center" type="submit" name="x_action" value="unlink_oauth">
              <i class="ti ti-unlink"></i>
            </button>
          {{ end }}
        {{ else }}
        <button class="btn secondary-btn flex-1 flex flex-col items-end justify-center" type="submit" name="x_action" value="link_oauth" data-form-xhr="false">
          <i class="ti ti-circle-plus"></i>
        </button>
        {{ end }}
      {{ end }}
    </form>
    {{ end }}

    {{/* Action */}}
    {{ if eq .type "login_id" }}
    {{ if not .modify_disabled }}{{ if .identity_id }}
    <a class="link w-6 flex flex-col items-end justify-center" href="{{ call $.MakeURL "/settings/enter_login_id" "x_login_id_key" .login_id_key "x_login_id_type" .login_id_type "x_login_id_input_type" .login_id_input_type "x_identity_id" .identity_id }}">
      <i class="ti ti-edit"></i>
    </a>
    {{ else }}
    <a class="link w-6 flex flex-col items-end justify-center" href="{{ call $.MakeURL "/settings/enter_login_id" "x_login_id_key" .login_id_key "x_login_id_type" .login_id_type "x_login_id_input_type" .login_id_input_type }}">
      <i class="ti ti-circle-plus"></i>
    </a>
    {{ end }}{{ end }}
    {{ end }}

  </section>
  {{ end }}
  {{ end }}

  {{ if $show_more_button }}
  <div class="p-5 row-sep">
    <a class="link action text-sm" href="/settings/identity">
      <i class="ti ti-chevrons-right"></i>
      {{ template "more-button-label" }}
    </a>
  </div>
  {{ end }}

</div>

<!-- Primary password, oob_otp -->
{{ $has_primary_password := false }}
{{ $has_primary_oob_otp_email := false }}
{{ $has_primary_oob_otp_sms := false }}
{{ range $.Authenticators }}
{{ if eq .Kind "primary" }}
  {{ if eq .Type "password" }}
  {{ $has_primary_password = true }}
  {{ end }}
  {{ if eq .Type "oob_otp_email" }}
  {{ $has_primary_oob_otp_email = true }}
  {{ end }}
  {{ if eq .Type "oob_otp_sms" }}
  {{ $has_primary_oob_otp_sms = true }}
  {{ end }}
{{ end }}
{{ end }}

<!-- MFA -->
<!-- Individual secondary authenticator section is shown if it is allowed in the configuration -->
<!-- or the user somehow has authenticator of that kind -->
{{ $has_secondary_totp := false }}
{{ $has_secondary_oob_otp_email := false }}
{{ $has_secondary_oob_otp_sms := false }}
{{ $secondary_password := false }}
{{ range $.Authenticators }}
{{ if eq .Kind "secondary" }}
  {{ if eq .Type "totp" }}
    {{ $has_secondary_totp = true }}
  {{ else if eq .Type "oob_otp_email" }}
    {{ $has_secondary_oob_otp_email = true }}
  {{ else if eq .Type "oob_otp_sms" }}
    {{ $has_secondary_oob_otp_sms = true }}
  {{ else if eq .Type "password" }}
    {{ $secondary_password = . }}
  {{ end }}
{{ end }}
{{ end }}
{{ $show_secondary_totp := (or $has_secondary_totp $.SecondaryTOTPAllowed) }}
{{ $show_secondary_oob_otp_email := (or $has_secondary_oob_otp_email $.SecondaryOOBOTPEmailAllowed) }}
{{ $show_secondary_oob_otp_sms := (or $has_secondary_oob_otp_sms $.SecondaryOOBOTPSMSAllowed) }}
{{ $show_secondary_password := (or $secondary_password $.SecondaryPasswordAllowed) }}
{{ $show_mfa := (and (not $.SecondaryAuthenticationDisabled) (or $show_secondary_totp $show_secondary_oob_otp_email $show_secondary_oob_otp_sms $show_secondary_password)) }}


<div class="pane grid grid grid-cols-1 auto-rows-auto gap-y-2.5 pt-4 pb-5">
<!-- The title and the description -->
<div class="px-5 grid grid-cols-1 auto-rows-auto gap-y-1">
  <h1 class="m-0 primary-txt text-xl font-bold">
    {{ template "settings-page-security-section-title" }}
  </h1>
  <p class="text-sm m-0 secondary-txt">
    {{ template "settings-page-security-section-description" }}
  </p>
</div>

<div class="px-5 grid grid-cols-2 tablet:grid-cols-2 desktop:grid-cols-3 auto-rows-min gap-4">
  {{ range $.Authenticators }}
  <!-- Primary Password -->
  {{ if eq .Type "password" }}{{ if eq .Kind "primary" }}
  <a class="settings-security-item p-3 tablet:p-3 desktop:p-4 rounded-md not-a grid grid grid-cols-1 auto-rows-auto gap-y-2.5" href="/settings/change_password">
    <i class="ti ti-key text-3xl block primary-txt" aria-hidden="true"></i>
    <p class="m-0 primary-txt text-base">
      {{ template "settings-page-primary-password-title" }}
    </p>
    <p class="m-0 secondary-txt text-xs">
      <!-- FIXME(ui): Use user preferred timezone -->
      {{ template "settings-page-primary-password-description" (dict "time" .UpdatedAt "rfc3339" (rfc3339 .UpdatedAt)) }}
    </p>
  </a>
  {{ end }}{{ end }}

  <!-- Primary OOB OTP Email -->
  {{ if eq .Type "oob_otp_email" }}{{ if eq .Kind "primary" }}
  <a class="settings-security-item p-3 tablet:p-3 desktop:p-4 rounded-md not-a grid grid grid-cols-1 auto-rows-auto gap-y-2.5" href="/settings/identity">
    <i class="ti ti-mail text-3xl block primary-txt" aria-hidden="true"></i>
    <p class="m-0 primary-txt text-base">
      {{ template "settings-page-primary-oob-otp-title--email" }}
    </p>
    <p class="m-0 secondary-txt text-xs truncate">
      {{ index .Claims "https://authgear.com/claims/oob_otp/email" }}
      <br>
      <!-- FIXME(ui): Use user preferred timezone -->
      {{ template "settings-page-primary-oob-otp-description" (dict "time" .CreatedAt "rfc3339" (rfc3339 .CreatedAt)) }}
    </p>
  </a>
  {{ end }}{{ end }}

  <!-- Primary OOB OTP SMS -->
  {{ if eq .Type "oob_otp_sms" }}{{ if eq .Kind "primary" }}
  <a class="settings-security-item p-3 tablet:p-3 desktop:p-4 rounded-md not-a grid grid grid-cols-1 auto-rows-auto gap-y-2.5" href="/settings/identity">
    <i class="ti ti-message-dots text-3xl block primary-txt" aria-hidden="true"></i>
    <p class="m-0 primary-txt text-base">
      {{ template "settings-page-primary-oob-otp-title--phone" }}
    </p>
    <p class="m-0 secondary-txt text-xs">
      {{ index .Claims "https://authgear.com/claims/oob_otp/phone" }}
      <br>
      <!-- FIXME(ui): Use user preferred timezone -->
      {{ template "settings-page-primary-oob-otp-description" (dict "time" .CreatedAt "rfc3339" (rfc3339 .CreatedAt)) }}
    </p>
  </a>
  {{ end }}{{ end }}
  {{ end }}

  <!-- MFA -->
  {{ if $show_mfa }}
  <a class="settings-security-item p-3 tablet:p-3 desktop:p-4 rounded-md not-a grid grid grid-cols-1 auto-rows-auto gap-y-2.5" href="/settings/mfa">
    <i class="ti ti-shield-lock text-3xl block  primary-txt" aria-hidden="true"></i>
    <p class="m-0 primary-txt text-base">
      {{ template "settings-page-mfa-section-title" }}
    </p>
    <p class="m-0 secondary-txt text-xs">
      {{ template "settings-page-mfa-section-description" }}
    </p>
  </a>
  {{ end }}

  {{ if $.ShowBiometric }}
  <!-- Biometric -->
  <a class="settings-security-item p-3 tablet:p-3 desktop:p-4 rounded-md not-a grid grid grid-cols-1 auto-rows-auto gap-y-2.5" href="/settings/biometric">
    <i class="ti ti-fingerprint text-3xl block primary-txt" aria-hidden="true"></i>
    <p class="m-0 primary-txt text-base">
      {{ template "settings-page-biometric-section-title" }}
    </p>
    <p class="m-0 secondary-txt text-xs">
      {{ template "settings-page-biometric-section-description" }}
    </p>
  </a>
  {{ end }}

  <a class="settings-security-item p-3 tablet:p-3 desktop:p-4 rounded-md not-a grid grid grid-cols-1 auto-rows-auto gap-y-2.5" href="/settings/sessions">
    <i class="ti ti-shield-check text-3xl block primary-txt" aria-hidden="true"></i>
    <p class="m-0 primary-txt text-base">
      {{ template "settings-page-session-section-title" }}
    </p>
    <p class="m-0 secondary-txt text-xs">
      {{ template "settings-page-session-section-description" }}
    </p>
  </a>
</div>

</div>

{{ if $.ClientURI }}
<div class="pane py-4 px-5 flex justify-center">
  <a class="link text-sm" href="{{ $.ClientURI }}">
    <i class="ti ti-logout mr-2.5"></i>
    {{ template "back-to-app-label" }}
  </a>
</div>
{{ end }}

{{ end }}
