{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<main class="content settings-content">
<div class="pane flex flex-direction-column">
<div class="flex flex-direction-column">
  {{ template "__nav_bar.html" }}
  <section class="padding-20 row-sep gap-4 grid grid-title-desc">
    <h1 class="grid-area-title margin-0 primary-txt text-xl font-bold">
      {{ template "settings-identity-title" }}
    </h1>
    <p class="grid-area-desc margin-0 secondary-txt text-sm">
      {{ template "settings-identity-description" }}
    </p>
  </section>

  {{ range .IdentityCandidates }}
  {{ $claim_verification_statuses := index $.VerificationStatuses .identity_id }}
  {{ $verification_status := "disabled" }}
  {{ if ne (len $claim_verification_statuses) 0 }}
    {{ $verification_status = (index $claim_verification_statuses 0).Status }}
  {{ end }}

  {{ $skip := false }}
  {{ if eq .type "oauth" }}
  {{- if (and (eq .provider_type "wechat") (eq .provider_app_type "mobile") (not $.IsNativePlatform)) -}}
  {{ $skip = true }}
  {{ end }}
  {{- if (and (eq .provider_type "wechat") (eq .provider_app_type "web") ($.IsNativePlatform)) -}}
  {{ $skip = true }}
  {{ end }}
  {{ end }}

  {{- if not $skip -}}
  <section class="padding-20 row-sep grid grid-icon-name-claim-action1-action2-action3">
    {{ $ti := "" }}

    {{ if eq .type "oauth" }}
    {{ if eq .provider_type "google" }}   {{ $ti = "ti ti-brand-google" }}    {{ end }}
    {{ if eq .provider_type "apple" }}    {{ $ti = "ti ti-brand-apple" }}     {{ end }}
    {{ if eq .provider_type "facebook" }} {{ $ti = "ti ti-brand-facebook" }}  {{ end }}
    {{ if eq .provider_type "linkedin" }} {{ $ti = "ti ti-brand-linkedin" }}  {{ end }}
    {{ if eq .provider_type "azureadv2" }}{{ $ti = "ti ti-brand-windows" }}   {{ end }}
    {{ if eq .provider_type "adfs" }}     {{ $ti = "ti ti-brand-windows" }}   {{ end }}
    {{ if eq .provider_type "wechat" }}   {{ $ti = "ti ti-message-circle" }}  {{ end }}
    {{ end }}

    {{ if eq .type "login_id" }}
    {{ if eq .login_id_type "email" }}   {{ $ti = "ti ti-mail" }}{{ end }}
    {{ if eq .login_id_type "username" }}{{ $ti = "ti ti-at" }}      {{ end }}
    {{ if eq .login_id_type "phone" }}   {{ $ti = "ti ti-device-mobile" }}   {{ end }}

    {{ end }}

    <i class="grid-area-icon align-self-start justify-self-start margin-0 primary-txt text-base {{ $ti }}" aria-hidden="true"></i>
    <p class="grid-area-name align-self-center margin-0 primary-txt text-base">
      {{ if eq .type "oauth" }}
        {{ if eq .provider_type "google" }}{{ template "settings-identity-oauth-google" }}{{ end }}
        {{ if eq .provider_type "apple" }}{{ template "settings-identity-oauth-apple" }}{{ end }}
        {{ if eq .provider_type "facebook" }}{{ template "settings-identity-oauth-facebook" }}{{ end }}
        {{ if eq .provider_type "linkedin" }}{{ template "settings-identity-oauth-linkedin" }}{{ end }}
        {{ if eq .provider_type "azureadv2" }}{{ template "settings-identity-oauth-azureadv2" }}{{ end }}
        {{ if eq .provider_type "adfs" }}{{ template "settings-identity-oauth-adfs" }}{{ end }}
        {{ if eq .provider_type "wechat" }}{{ template "settings-identity-oauth-wechat" }}{{ end }}
      {{ end }}
      {{ if eq .type "login_id" }}
        {{ if eq .login_id_type "email" }}{{ template "settings-identity-login-id-email" }}{{ end }}
        {{ if eq .login_id_type "phone" }}{{ template "settings-identity-login-id-phone" }}{{ end }}
        {{ if eq .login_id_type "username" }}{{ template "settings-identity-login-id-username" }}{{ end }}
        {{ if eq .login_id_type "raw" }}{{ template "settings-identity-login-id-raw" }}{{ end }}
      {{ end }}
    </p>

    {{ if .display_id }}
    <p class="grid-area-claim margin-t-4 align-self-center text-sm margin-0 secondary-txt text-ellipsis leading-normal">
      {{ .display_id }}

      <!-- TODO(verification): show verification for all identity types -->
      {{ if eq .type "login_id" }}
      {{ if .identity_id }}
      {{ if or (eq $verification_status "pending") (eq $verification_status "required") }}
      <span class="error-txt">
        {{ template "verification-status-label--unverified" }}
      </span>
      {{ end }}
      {{ if eq $verification_status "verified" }}
      <span class="good-txt">
        {{ template "verification-status-label--verified" }}
      </span>
      {{ end }}
      {{ end }}
      {{ end }}
    </p>
    {{ end }}

    {{ if eq .type "oauth" }}
    <form class="grid-area-action1 align-self-center justify-self-end" method="post" novalidate>
    {{ $.CSRFField }}
    <input type="hidden" name="x_provider_alias" value="{{ .provider_alias }}">
    <input type="hidden" name="x_identity_id" value="{{ .identity_id }}">
    {{ if not .modify_disabled }}{{ if .identity_id }}
      {{ if gt $.IdentityCount 1 }}
      <button class="btn destructive-btn" type="submit" name="x_action" value="unlink_oauth">
        <i class="ti ti-unlink margin-l-8 padding-v-16"></i>
      </button>
      {{ end }}
    {{ else }}
    <button class="btn secondary-btn" type="submit" name="x_action" value="link_oauth" data-form-xhr="false">
      <i class="ti ti-circle-plus margin-l-8 padding-v-16"></i>
    </button>
    {{ end }}{{ end }}
    </form>
    {{ end }}

    {{ if eq .type "login_id" }}
    {{ if not .modify_disabled }}{{ if .identity_id }}
    <a class="link grid-area-action1 align-self-center justify-self-end" href="{{ call $.MakeURL "/settings/enter_login_id" "x_login_id_key" .login_id_key "x_login_id_type" .login_id_type "x_login_id_input_type" .login_id_input_type "x_identity_id" .identity_id }}">
      <i class="ti ti-edit margin-l-8 padding-v-16"></i>
    </a>
    {{ else }}
    <a class="link grid-area-action1 align-self-center justify-self-end" href="{{ call $.MakeURL "/settings/enter_login_id" "x_login_id_key" .login_id_key "x_login_id_type" .login_id_type "x_login_id_input_type" .login_id_input_type }}">
      <i class="ti ti-circle-plus margin-l-8 padding-v-16"></i>
    </a>
    {{ end }}{{ end }}
    {{ end }}

    {{ if eq .type "login_id" }}
    {{ if .identity_id }}
    {{ if or (eq $verification_status "pending") (eq $verification_status "required") }}
    <form class="grid-area-action3 margin-t-4 align-self-center align-self-start" method="post" novalidate>
    {{ $.CSRFField }}
    <input type="hidden" name="x_identity_id" value="{{ .identity_id }}">
    <button class="btn action-btn text-xs" type="submit" name="x_action" value="verify_login_id">
      {{ template "resend-verification-code-button-label" }}
    </button>
    </form>
    {{ end }}
    {{ end }}
    {{ end }}

  </section>
  {{ end }}

  {{ end }}

</div>
</div>

</main>
{{ end }}