{{ template "__wide_page_frame.html" . }}

{{ define "page-content" }}

<div class="pane flex flex-col">
  <div class="px-4">
    {{ template "__nav_bar.html" (call $.MakeURL "/settings") }}
  </div>

  <!-- Title -->
  <div class="px-5 pt-4 pb-5 row-sep grid grid-cols-1 auto-rows-auto gap-y-1">
    <h3 class="m-0 primary-txt text-xl font-bold">
      {{ template "settings-page-mfa-section-title" }}
    </h3>
    <p class="m-0 secondary-txt text-sm">
      {{ template "settings-page-mfa-section-description" }}
    </p>
  </div>

  <!-- Secondary TOTP -->
  {{ if $.ShowSecondaryTOTP }}
  <div class="p-5 row-sep grid grid-cols-[auto_minmax(0,_1fr)_auto] auto-rows-auto gap-y-1 gap-x-2">
    <i class="twc-title-icon ti ti-device-mobile col-start-1 col-span-1 primary-txt text-base" aria-hidden="true"></i>
    <p class="col-start-2 col-span-1 m-0 primary-txt text-base">
      {{ template "settings-page-secondary-totp-title" }}
    </p>
    {{ if $.HasSecondaryTOTP }}
    <p class="col-start-1 col-span-2 m-0 good-txt text-sm">
      {{ template "activated-label" }}
    </p>
    <a class="link w-6 col-start-3 col-span-1 row-start-1 row-span-2 flex flex-col items-end justify-center" href="{{ call $.MakeURL "/settings/mfa/totp" }}">
      <i class="ti ti-edit"></i>
    </a>
    {{ else }}
    <p class="col-start-1 col-span-2 m-0 warn-txt text-sm">
      {{ template "inactive-label" }}
    </p>
    <form class="col-start-3 col-span-1 row-start-1 row-span-2 w-6 flex flex-col" method="post" novalidate>
      <button class="btn secondary-btn flex-1 flex flex-col items-end justify-center" type="submit" name="x_action" value="add_secondary_totp">
        <i class="ti ti-edit"></i>
      </button>
    </form>
    {{ end }}
  </div>
  {{ end }}

  <!-- Secondary OOB OTP Email -->
  {{ if $.ShowSecondaryOOBOTPEmail }}
  <div class="p-5 row-sep grid grid-cols-[auto_minmax(0,_1fr)_auto] auto-rows-auto gap-y-1 gap-x-2">
    <i class="twc-title-icon ti ti-mail col-start-1 col-span-1 primary-txt text-base" aria-hidden="true"></i>
    <p class="col-start-2 col-span-1 m-0 primary-txt text-base">
      {{ template "settings-page-secondary-oob-otp-email-title" }}
    </p>
    {{ if $.HasSecondaryOOBOTPEmail }}
    <p class="col-start-1 col-span-2 m-0 good-txt text-sm">
      {{ template "activated-label" }}
    </p>
    <a class="link w-6 col-start-3 col-span-1 row-start-1 row-span-2 flex flex-col items-end justify-center" href="{{ call $.MakeURL "/settings/mfa/oob_otp_email" }}">
      <i class="ti ti-edit"></i>
    </a>
    {{ else }}
    <p class="col-start-1 col-span-2 m-0 warn-txt text-sm">
      {{ template "inactive-label" }}
    </p>
    <form class="col-start-3 col-span-1 row-start-1 row-span-2 w-6 flex flex-col" method="post" novalidate>
      <button class="btn secondary-btn flex-1 flex flex-col items-end justify-center" type="submit" name="x_action" value="add_secondary_oob_otp_email">
        <i class="ti ti-edit"></i>
      </button>
    </form>
    {{ end }}
  </div>
  {{ end }}

  {{ if $.ShowSecondaryOOBOTPSMS }}
  <div class="p-5 row-sep grid grid-cols-[auto_minmax(0,_1fr)_auto] auto-rows-auto gap-y-1 gap-x-2">
    <i class="twc-title-icon ti ti-device-mobile col-start-1 col-span-1 primary-txt text-base" aria-hidden="true"></i>
    <p class="col-start-2 col-span-1 m-0 primary-txt text-base">
      {{ template "settings-page-secondary-oob-otp-phone-title" }}
    </p>
    {{ if $.HasSecondaryOOBOTPSMS }}
    <p class="col-start-1 col-span-2 m-0 good-txt text-sm">
      {{ template "activated-label" }}
    </p>
    <a class="link w-6 col-start-3 col-span-1 row-start-1 row-span-2 flex flex-col items-end justify-center" href="{{ call $.MakeURL "/settings/mfa/oob_otp_sms" }}">
      <i class="ti ti-edit"></i>
    </a>
    {{ else }}
    <p class="col-start-1 col-span-2 m-0 warn-txt text-sm">
      {{ template "inactive-label" }}
    </p>
    <form class="col-start-3 col-span-1 row-start-1 row-span-2 w-6 flex flex-col" method="post" novalidate>
      <button class="btn secondary-btn flex-1 flex flex-col items-end justify-center" type="submit" name="x_action" value="add_secondary_oob_otp_sms">
        <i class="ti ti-edit"></i>
      </button>
    </form>
    {{ end }}
  </div>
  {{ end }}


  <!-- Secondary Password -->
  {{ if $.ShowSecondaryPassword }}
  <div class="p-5 row-sep grid grid-cols-[auto_minmax(0,_1fr)_auto] auto-rows-auto gap-y-1 gap-x-2">
    <i class="twc-title-icon ti ti-lock col-start-1 col-span-1 primary-txt text-base" aria-hidden="true"></i>
    <p class="col-start-2 col-span-1 m-0 primary-txt text-base">
      {{ template "settings-page-secondary-password-title" }}
    </p>
    {{ if $.SecondaryPassword }}
    <p class="col-start-1 col-span-2 m-0 secondary-txt text-sm">
      <!-- FIXME(ui): Use user preferred timezone -->
      {{ template "settings-page-secondary-password-description" (dict "time" $.SecondaryPassword.UpdatedAt "rfc3339" (rfc3339 $.SecondaryPassword.UpdatedAt)) }}
    </p>
    <a class="link w-6 col-start-3 col-span-1 row-start-1 row-span-2 flex flex-col items-end justify-center btn secondary-btn" href="{{ call $.MakeURL "/settings/mfa/change_secondary_password" }}">
      <i class="ti ti-edit"></i>
    </a>
    <form class="col-start-4 col-span-1 row-start-1 row-span-2 w-6 flex flex-col" method="post" novalidate>
      <input type="hidden" name="x_authenticator_id" value="{{ $.SecondaryPassword.ID }}">
      <button class="btn destructive-secondary-btn flex-1 flex flex-col items-end justify-center" type="submit" name="x_action" value="remove_secondary_password">
        <i class="ti ti-circle-minus"></i>
      </button>
    </form>
    {{ else }}
    <form class="link col-start-3 col-span-1 row-start-1 row-span-2 w-6 flex flex-col" method="post" novalidate>
      <button class="btn secondary-btn flex-1 flex flex-col items-end justify-center" type="submit" name="x_action" value="setup_secondary_password">
        <i class="ti ti-edit"></i>
      </button>
    </form>
    {{ end }}
  </div>
  {{ end }}

  <!-- Recovery code -->
  {{ if (and $.HasMFA $.ListRecoveryCodesAllowed) }}
  <div class="p-5 row-sep grid grid-cols-[auto_minmax(0,_1fr)_auto] auto-rows-auto gap-y-1 gap-x-2">
    <i class="twc-title-icon ti ti-file-text col-start-1 col-span-1 primary-txt text-base" aria-hidden="true"></i>
    <p class="col-start-2 col-span-1 m-0 primary-txt text-base">
      {{ template "settings-page-recovery-code-title" }}
    </p>
    <p class="col-start-1 col-span-2 m-0 secondary-txt text-sm">
      {{ template "settings-page-recovery-code-description" }}
    </p>
    <a class="link col-start-3 col-span-1 row-start-1 row-span-2 self-center text-sm as-btn not-a btn action-btn" href="{{ call $.MakeURL "/settings/mfa/recovery_code" }}">
      {{ template "show-recovery-code-button-label" }}
    </a>
  </div>
  {{ end }}

  <!-- Revoke all device tokens -->
  {{ if $.HasMFA }}
  <div class="p-5 row-sep grid grid-cols-[auto_minmax(0,_1fr)] gap-y-1 gap-x-2">
    <i class="twc-title-icon ti ti-user-check col-start-1 col-span-1 primary-txt text-base" aria-hidden="true"></i>
    <p class="col-start-2 col-span-1 m-0 primary-txt text-sm text-base">
      {{ template "settings-page-trusted-devices-title" }}
    </p>
  {{ if $.HasDeviceTokens }}
  <form class="col-start-1 col-span-2 m-0" method="post" novalidate>
    <button class="justify-self-start btn destructive-secondary-btn text-sm" type="submit" name="x_action" value="revoke_devices">
      {{ template "revoke-all-device-tokens-button-label" }}
    </button>
  </form>
  {{ else }}
  <p class="col-start-1 col-span-2 m-0 secondary-txt text-sm">
    {{ template "no-device-tokens-description" }}
  </p>
  {{ end }}
  {{ end }}
  </div>

</div>

{{ end }}
