<!DOCTYPE html>
<html>
{{ template "__html_head.html" . }}
<body class="page">
{{ template "__message_bar.html" . }}
<main class="content">
{{ template "__nav_bar.html" }}

<div class="pane margin-6 flex flex-direction-column">
{{ template "__header.html" . }}
<div class="padding-6 flex flex-direction-column">
  <div class="margin-h-14 padding-v-10 row-sep grid grid-name-desc-action">
    <h1 class="grid-area-name font-inherit margin-0 primary-txt">
      {{ template "settings-sessions-title" }}
    </h1>
    <p class="grid-area-desc font-smaller margin-0 padding-v-4 secondary-txt">
      {{ template "settings-sessions-description" }}
    </p>
    <form class="grid-area-action primary-action" method="post" novalidate>
      {{ $.CSRFField }}
      <button class="btn destructive-btn" type="submit" name="x_action" value="revoke_all">
        {{ template "settings-sessions-revoke-all-label" }}
      </button>
    </form>
  </div>
</div>
</div>

<div class="pane margin-6 flex flex-direction-column">
{{ range $.Sessions }}
  <form class="margin-h-14 padding-v-10 row-sep grid grid-name-desc-action" method="post" novalidate>
    <p class="grid-area-name font-inherit align-self-center margin-0 primary-txt">
      {{ .DisplayName }}
    </p>
    <p class="grid-area-desc font-smaller align-self-center margin-0 secondary-txt">
      <!-- FIXME(ui): Use user preferred timezone -->
      {{ template "settings-sessions-item-description" (dict "time" .LastAccessedAt) }}
    </p>
    {{ if not (eq .ID $.CurrentSessionID) }}
    {{ $.CSRFField }}
    <input type="hidden" name="x_session_id" value="{{ .ID }}">
    <button class="grid-area-action align-self-start justify-self-end btn destructive-btn" type="submit" name="x_action" value="revoke">
      {{ template "settings-sessions-revoke-label" }}
    </button>
    {{ end }}
  </form>
{{ end }}
</div>

</main>
</body>
</html>
