{{ template "__wide_page_frame.html" . }}

{{ define "page-content" }}
<div class="pane flex flex-col">
  <div class="padding-h-16">
    {{ template "__nav_bar.html" "/settings/mfa" }}
  </div>

  <div class="padding-h-20 padding-t-16 padding-b-20 row-sep gap-4 flex flex-col row-gap-4">
    <h1 class="margin-0 primary-txt text-xl font-bold">
      {{ template "settings-totp-title" }}
    </h1>
  </div>

  {{ range $.Authenticators }}
    <form class="padding-20 row-sep grid grid-cols-1fr-auto auto-rows-auto row-gap-4 column-gap-8" method="post" novalidate>
      <p class="col-start-1 col-span-1 self-center margin-0 primary-txt text-base">
        {{ index .Claims "https://authgear.com/claims/totp/display_name" }}
      </p>
      <p class="col-start-1 col-span-1 row-start-2 row-span-1 self-center margin-0 secondary-txt text-sm">
        <!-- FIXME(ui): Use user preferred timezone -->
        {{ template "settings-totp-item-description" (dict "time" .CreatedAt "rfc3339" (rfc3339 .CreatedAt)) }}
      </p>
      {{ $.CSRFField }}
      <input type="hidden" name="x_authenticator_id" value="{{ .ID }}">
      <button class="w-6 col-start-2 col-span-1 row-start-1 row-span-2 self-center justify-self-end btn destructive-btn" type="submit" name="x_action" value="remove">
        <i class="ti ti-circle-minus"></i>
      </button>
    </form>
  {{ end }}

  <div class="padding-20 row-sep">
    <form class="primary-action" method="post" novalidate>
      {{ $.CSRFField }}
      <button class="btn secondary-btn text-sm" type="submit" name="x_action" value="add">
        {{ template "add-button-label" }}
      </button>
    </form>
  </div>

</div>

{{ end }}
