{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="primary-txt text-center m-0 text-xl font-bold">
  {{ template "account-deletion-title" }}
</h1>

<p class="m-0 secondary-txt text-center text-sm">
  {{ template "account-deletion-description" (dict "date" $.ExpectedAccountDeletionTime "rfc3339" (rfc3339 $.ExpectedAccountDeletionTime)) }}
</p>

<form class="twc-container-vertical" method="post" novalidate data-controller="account-deletion">
  {{ $.CSRFField }}
  <label class="flex flex-col">
    <span class="secondary-txt text-sm">
      {{ template "account-deletion-confirmation-label" (dict "deleteConfirmationText" "DELETE") }}
    </span>
    <input class="primary-txt text-input"
      name="delete"
      data-account-deletion-target="input"
      data-action="input->account-deletion#delete"
    >
  </label>

  <button
    class="btn destructive-btn mt-5"
    type="submit"
    name="x_action"
    value="delete"
    disabled
    data-authgear-event="authgear.button.schedule_account_deletion"
    data-account-deletion-target="button"
  >
    {{ template "account-deletion-delete-account-button-label" }}
  </button>
</form>

{{ template "__watermark.html" . }}
</div>
{{ end }}
