<!DOCTYPE html>
<html>
{{ template "__html_head.html" . }}
<body class="page">
<div class="content">

{{ template "__header.html" . }}

{{ template "__nav_bar.html" }}

{{ template "__error.html" . }}

<div class="pane flex flex-direction-column padding-6">

<h1 class="font-inherit margin-10 primary-txt">
	{{ if eq $.InputType "phone" }}
	{{ template "setup-oob-otp-title--sms" }}
	{{ end }}
	{{ if eq $.InputType "email" }}
	{{ template "setup-oob-otp-title--email" }}
	{{ end }}
</h1>

<form class="flex flex-direction-column" method="post" novalidate>

{{ $.CSRFField }}

{{ if eq $.InputType "phone" }}
<div class="phone-input margin-10">
	<select class="select primary-txt" name="x_calling_code">
		{{ range $.CountryCallingCodes }}
		<option
			value="{{ . }}"
			{{ if $.x_calling_code }}{{ if eq $.x_calling_code . }}
			selected
			{{ end }}{{ end }}
			>
			+{{ . }}
		</option>
		{{ end }}
	</select>
	<input
		tabindex="0"
		autofocus
		class="input text-input primary-txt"
		type="text"
		inputmode="numeric"
		pattern="[0-9]*"
		autocomplete="one-time-code"
		autocapitalize="none"
		name="x_national_number"
		placeholder="{{ template "phone-number-placeholder" }}"
	>
</div>
{{ else }}
<input
	tabindex="0"
	autofocus
	class="input text-input primary-txt margin-10"
	type="{{ $.InputType }}"
	name="x_email"
	autocomplete="email"
	autocapitalize="none"
	placeholder="{{ template "email-placeholder" }}"
>
{{ end }}

{{ if eq $.InputType "email" }}
<a class="link font-smaller align-self-flex-start margin-10" href="{{ call $.MakeCurrentStepURL "x_input_type" "phone" }}" data-turbolinks-action="replace">
	{{ template "setup-oob-otp-use-phone-description" }}
</a>
{{ end }}

{{ if eq $.InputType "phone" }}
<a class="link font-smaller align-self-flex-start margin-10" href="{{ call $.MakeCurrentStepURL "x_input_type" "email" }}" data-turbolinks-action="replace">
	{{ template "setup-oob-otp-use-email-description" }}
</a>
{{ end }}

<button class="btn primary-btn align-self-flex-end margin-10" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>

</form>

<div class="margin-10">
{{ template "__alternatives.html" . }}
</div>

</div>

</div>
</body>
</html>
