{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="m-0 primary-txt text-center text-xl font-bold">
	{{ template "setup-login-link-otp-title" }}
</h1>

<form class="twc-container-vertical" method="post" novalidate>


<input
	tabindex="0"
	{{ if $.ShouldFocusInput }}autofocus{{ end }}
	class="text-input primary-txt"
	type="email"
	name="x_email"
	autocomplete="email"
	autocapitalize="none"
	placeholder="{{ template "setup-login-link-otp-email-input-placeholder" }}"
>

<button
	class="btn primary-btn mt-5"
	type="submit"
	name="x_action"
	value=""
	data-authgear-event="authgear.button.setup_oob_otp"
>{{ template "next-button-label" }}</button>

</form>

{{ template "__alternatives.html" . }}

{{ template "__watermark.html" . }}
</div>
{{ end }}
