{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
<div class="pane flex flex-col">
{{ template "__nav_bar.html" }}
<div class="flex flex-col width-full margin-v-20">

<h1 class="margin-t-20 margin-b-20 primary-txt text-center text-xl font-bold">
	{{ if eq $.OOBAuthenticatorType "oob_otp_sms" }}
	{{ template "setup-oob-otp-title--sms" }}
	{{ end }}
	{{ if eq $.OOBAuthenticatorType "oob_otp_email" }}
	{{ template "setup-oob-otp-title--email" }}
	{{ end }}
</h1>

<form class="flex flex-col" method="post" novalidate>

{{ $.CSRFField }}

{{ if eq $.OOBAuthenticatorType "oob_otp_sms" }}
<input
	data-intl-tel-input="true"
	data-intl-tel-input-class="margin-b-20 flex flex-col"
	class="margin-b-20 primary-txt input text-input"
	tabindex="0"
	autofocus
	type="text"
	inputmode="tel"
	autocomplete="tel-national"
	autocapitalize="none"
	name="x_e164"
	placeholder="{{ template "phone-number-placeholder" }}"
>
{{ else }}
<input
	tabindex="0"
	autofocus
	class="input text-input primary-txt margin-b-20"
	type="email"
	name="x_email"
	autocomplete="email"
	autocapitalize="none"
	placeholder="{{ template "email-placeholder" }}"
>
{{ end }}

<button class="btn primary-btn margin-b-20" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>

</form>

<div>
{{ template "__alternatives.html" . }}
</div>

</div>

<div class="margin-t-20">{{ template "__watermark.html" . }}</div>
</div>
</div>
{{ end }}