{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
<div class="pane flex flex-col">
{{ template "__nav_bar.html" . }}
<div class="flex flex-col width-full margin-v-20">

<h1 class="margin-t-0 margin-b-20 primary-txt text-center text-xl font-bold">
	{{ if eq $.OOBAuthenticatorType "oob_otp_sms" }}
	{{ template "setup-oob-otp-title--sms" }}
	{{ end }}
	{{ if eq $.OOBAuthenticatorType "oob_otp_email" }}
	{{ template "setup-oob-otp-title--email" }}
	{{ end }}
</h1>

<form class="flex flex-col" method="post" novalidate>

{{ $.CSRFField }}

{{ if eq $.OOBAuthenticatorType "oob_otp_sms" }}
<div class="phone-input margin-b-20">
	<select class="select primary-txt" name="x_calling_code">
		{{ range $.CountryCallingCodes }}
		<option
			value="{{ . }}"
			{{ if $.x_calling_code }}{{ if eq $.x_calling_code . }}
			selected
			{{ end }}{{ end }}
			>
			+{{ . }}
		</option>
		{{ end }}
	</select>
	<input
		tabindex="0"
		autofocus
		class="input text-input primary-txt"
		type="text"
		inputmode="numeric"
		pattern="[0-9]*"
		autocomplete="one-time-code"
		autocapitalize="none"
		name="x_national_number"
		placeholder="{{ template "phone-number-placeholder" }}"
	>
</div>
{{ else }}
<input
	tabindex="0"
	autofocus
	class="input text-input primary-txt margin-b-20"
	type="email"
	name="x_email"
	autocomplete="email"
	autocapitalize="none"
	placeholder="{{ template "email-placeholder" }}"
>
{{ end }}

<button class="btn primary-btn margin-b-20" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>

</form>

<div>
{{ template "__alternatives.html" . }}
</div>

</div>

<div class="footer-watermark margin-v-20"></div>
</div>
</div>
{{ end }}