{{ template "__page_frame.html" . }} {{ define "page-content" }}
<div
  class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8"
>
  <h1 class="primary-txt m-0 text-center text-xl font-bold">
    ✅ {{ template "tester-success-page-title" }}
  </h1>

  <div class="text-sm break-words primary-txt text-center">
    {{ template "tester-success-page-description" (dict "target" $.GivenLoginID)
    }}
  </div>

  <pre class="text-xs overflow-x-auto">{{ $.UserInfoJson }}</pre>

  <a class="link text-sm self-start" href="/settings"
    >{{ template "tester-button-label--settings-page" }}</a
  >

  <a class="link text-sm self-start" href="{{ $.ReturnURI }}"
    >{{ template "tester-button-label--back-to-portal" }}</a
  >

  {{ template "__watermark.html" . }}
</div>
{{ end }}
