{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="m-0 primary-txt text-center text-xl font-bold">
	{{ template "use-passkey-page-title" }}
</h1>

<div class="twc-container-vertical" data-controller="passkey-request" data-passkey-request-auto-value="true" data-passkey-request-allow-credentials-value="true">
<button
	class="btn primary-btn my-5"
	type="button"
	data-action="click->passkey-request#use"
	data-passkey-request-target="button"
	data-authgear-event="authgear.button.use_passkey"
>{{ template "use-passkey-label" }}</button>

<form class="hidden" method="post" novalidate>
<input type="hidden" name="x_stage" value="{{ $.AuthenticationStage }}">
<input type="hidden" name="x_assertion_response" data-passkey-request-target="input">
<button type="submit" class="hidden" name="x_action" value="" data-passkey-request-target="submit"></button>
</form>

</div>

{{ template "__watermark.html" . }}
</div>
{{ end }}
