{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<main class="content">
{{ template "__nav_bar.html" }}

<div class="pane margin-6 flex flex-direction-column">
{{ template "__header.html" . }}
<div class="padding-6 flex flex-direction-column">

{{ if .Error }}
    {{ if eq .Error.reason "DisabledUser" }}
        <p class="margin-10">{{ template "error-disabled-user" }}</p>
        {{ if .Error.info.reason }}
            <p class="margin-10">{{ template "error-disabled-user-reason" (dict "reason" .Error.info.reason) }}</p>
        {{ else }}
            <p class="margin-10">{{ template "error-disabled-user-no-reason" }}</p>
        {{ end }}
    {{ else }}
        <p class="margin-10">{{ template "error-blocked-user" }}</p>
    {{ end }}
{{ else }}
    <p class="margin-10">{{ template "error-blocked-user" }}</p>
{{ end }}

</div>
</div>

</main>
{{ end }}