{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<main class="content">
<div class="pane flex flex-col">
{{ template "__nav_bar.html" }}
<div class="flex flex-col width-full margin-v-20">

{{ if .Error }}
    {{ if eq .Error.reason "DisabledUser" }}
        <p class="primary-txt margin-b-20 text-center">{{ template "error-disabled-user" }}</p>
        {{ if .Error.info.reason }}
            <p class="primary-txt margin-b-20 text-center">{{ template "error-disabled-user-reason" (dict "reason" .Error.info.reason) }}</p>
        {{ else }}
            <p class="primary-txt margin-b-20 text-center">{{ template "error-disabled-user-no-reason" }}</p>
        {{ end }}
    {{ else }}
        <p class="primary-txt margin-b-20 text-center">{{ template "error-blocked-user" }}</p>
    {{ end }}
{{ else }}
    <p class="primary-txt margin-b-20 text-center">{{ template "error-blocked-user" }}</p>
{{ end }}

</div>
<div class="margin-t-20">{{ template "__watermark.html" . }}</div>
</div>

</main>
{{ end }}