{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<form id="verify-form" class="hidden" method="post" action="{{ $.FormActionPath }}" novalidate>
</form>


{{ if eq .StateQuery "invalid_code" }}
  <h1 class="m-0 primary-txt text-center text-xl font-bold">{{ template "verify-login-link-page-title" }}</h1>
  <div class="text-sm break-words primary-txt text-center">{{ template "verify-login-link-invalid-code-description" }}</div>
{{ else if eq .StateQuery "matched" }}
  {{ $appName := ($.Translations.RenderText "app.name" nil) }}
  <div class="mb-3 text-sm break-words primary-txt text-center whitespace-pre-wrap">{{ template "verify-login-link-matched-description" (dict "AppOrClientName" $appName) }}</div>
{{ else }}
  <h1 class="m-0 primary-txt text-center text-xl font-bold">{{ template "verify-login-link-page-title" }}</h1>

  <div class="text-sm break-words primary-txt text-center">
    {{ $appName := ($.Translations.RenderText "app.name" nil) }}
    {{ template "verify-login-link-initial-description" (dict "AppOrClientName" $appName) }}
  </div>

  <input form="verify-form" type="hidden" name="x_oob_otp_code" value="{{ .Code }}">

  <button
    form="verify-form"
    class="btn primary-btn submit-btn mt-5"
    type="submit"
    name="x_action"
    value=""
    data-authgear-event="authgear.button.verify_login_link"
  >
    {{ template "verify-login-link-next-button-label" }}
  </button>
{{ end }}
{{ template "__watermark.html" . }}
</div>
{{ end }}
