<!DOCTYPE html>
<html>
{{ template "__html_head.html" . }}
<body class="page">
{{ template "__error.html" . }}
<div class="content">

{{ if eq $.Action "update_session_step" }}
{{ template "__nav_bar.html" true }}
{{ else if $.IdentityDisplayID }}
{{ template "__nav_bar.html" }}
{{ else }}
{{ template "__nav_bar.html" true }}
{{ end }}

<div class="pane margin-6 flex flex-direction-column">
{{ template "__header.html" . }}
<div class="padding-6 flex flex-direction-column">

{{ if $.IdentityDisplayID }}
{{ if eq $.VerificationCodeChannel "sms" }}
<h1 class="font-inherit margin-10 primary-txt">{{ template "verify-user-page-title--sms" }}</h1>
{{ end }}
{{ if eq $.VerificationCodeChannel "email" }}
<h1 class="font-inherit margin-10 primary-txt">{{ template "verify-user-page-title--email" }}</h1>
{{ end }}
{{ end }}

{{ if $.IdentityDisplayID }}
<div class="font-smaller overflow-wrap-break-word primary-txt margin-10">{{ template "verify-user-description" (dict "length" $.VerificationCodeLength "target" $.IdentityDisplayID) }}</div>

<form class="flex flex-direction-column" method="post" novalidate>
{{ $.CSRFField }}

<input
	tabindex="0"
	autofocus
	class="input text-input primary-txt margin-10"
	type="text"
	inputmode="numeric"
	pattern="[0-9]*"
	autocomplete="one-time-code"
	autocapitalize="none"
	name="x_code"
	placeholder="{{ template "verify-user-placeholder" }}"
	value="{{ $.VerificationCode }}"
	{{ if eq $.Action "update_session_step" }}readonly{{ end }}
>
<button
	class="btn primary-btn align-self-flex-end margin-10"
	type="submit"
	name="x_action"
	value="{{ $.Action }}"
	{{ if eq $.Action "submit" }}{{ if $.VerificationCode }}data-auto-submit="true"{{ end }}{{ end }}
>
{{ template "next-button-label" }}
</button>
</form>

<form class="link margin-10" method="post" novalidate>
{{ $.CSRFField }}

{{ if not (eq $.Action "update_session_step") }}
<span class="primary-txt font-smaller">{{ template "verify-user-resend-button-hint" }}</span>
<button id="resend-button" class="btn secondary-btn font-smaller" type="submit" name="x_action" value="resend"
	data-cooldown="{{ $.VerificationCodeSendCooldownLeft }}"
	data-label="{{ template "verify-user-resend-button-label" }}"
	data-label-unit="{{ template "verify-user-resend-button-label--unit" }}">{{ template "verify-user-resend-button-label" }}</button>
{{ end }}

</form>
{{ end }}

</div>
</div>

</div>
</body>
</html>
