{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="m-0 primary-txt text-center text-xl font-bold">{{ template "verify-identity-via-whatsapp-page-title" }}</h1>

<div class="text-sm break-words primary-txt text-center">{{ template "verify-identity-via-whatsapp-description" (dict "whatsappNumber" "the number" ) }}</div>

<form id="main-form" class="twc-container-vertical" method="post" novalidate>
{{ $.CSRFField }}

<p class="primary-txt text-center text-2xl tracking-widest">
{{ $.WhatsappOTP }}
</p>

</form>

<form id="fallback-sms-form" class="hidden" method="post" novalidate>
{{ $.CSRFField }}
</form>

<button
	form="main-form"
	class="btn primary-btn mt-5"
	type="submit"
	name="x_action"
	value="verify"
>{{ template "verify-identity-via-whatsapp-confirm" }}</button>

{{ if eq .PhoneOTPMode "whatsapp_sms" }}
<button
	form="fallback-sms-form"
	class="btn secondary-btn"
	type="submit"
	name="x_action"
	value="fallback_sms"
>{{ template "verify-identity-via-whatsapp-fallback-sms" }}</button>
{{ end }}

{{ template "__watermark.html" . }}
</div>
{{ end }}
