{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="content">
{{ template "__nav_bar.html" }}

<div class="pane margin-6 flex flex-direction-column">
{{ template "__header.html" . }}
<div class="padding-6 flex flex-direction-column">

<h1 class="font-inherit margin-10 primary-txt">{{ template "wechat-auth-title" }}</h1>

{{ if .IsNativePlatform }}
{{ if .WeChatRedirectURI }}
<p class="font-smaller overflow-wrap-break-word margin-10 primary-txt">{{ template "wechat-auth-with-app-description" }}</p>

<div class="switch-link-group flex flex-direction-column margin-10">
<a class="as-btn not-a btn primary-btn item click-to-switch"
    href="{{ $.WeChatRedirectURI }}"
    data-turbolinks-action="replace"
>
{{ template "wechat-open-app" }}
</a>
<a class="as-btn not-a btn primary-btn item switch-to-item wechat"
    href="{{ $.CurrentURI }}"
    data-turbolinks-action="replace"
    data-is-refresh-link="true"
>
{{ template "wechat-proceed" }}
</a>
</div>
{{ end }}
{{ else }}
<p class="font-smaller overflow-wrap-break-word margin-10 primary-txt">{{ template "wechat-auth-with-qr-code-description" }}</p>

<img class="margin-10 qr-code-image" src="{{ $.ImageURI }}">
{{ end }}

</div>
</div>

</div>
{{ end }}
