{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical padding-t-32 padding-b-20 padding-h-24 tablet:padding-h-32 desktop:padding-h-32">

<h1 class="m-0 primary-txt text-center text-xl font-bold">{{ template "wechat-auth-title" }}</h1>

{{ if .IsNativePlatform }}
{{ if .WeChatRedirectURI }}
<p class="text-sm break-words m-0 primary-txt text-center">{{ template "wechat-auth-with-app-description" }}</p>

<div class="twc-container-vertical margin-v-20">
<a class="as-btn not-a btn primary-btn"
    href="{{ $.WeChatRedirectURI }}"
    data-turbolinks-action="replace"
    data-switch-to-on-click="#proceed-button"
>
{{ template "wechat-open-app" }}
</a>
<a class="as-btn not-a btn primary-btn wechat hidden"
    href="{{ $.CurrentURI }}"
    data-turbolinks-action="replace"
    data-is-refresh-link="true"
    id="proceed-button"
>
{{ template "wechat-proceed" }}
</a>
</div>
{{ end }}
{{ else }}
<p class="text-sm break-words m-0 primary-txt text-center">{{ template "wechat-auth-with-qr-code-description" }}</p>

<img class="w-48 place-self-center" src="{{ $.ImageURI }}">
{{ end }}

{{ template "__watermark.html" . }}
</div>
{{ end }}
