<!DOCTYPE html>
<html>
{{ template "__html_head.html" . }}
<body class="page">
<div class="content">

{{ template "__header.html" . }}

{{ template "__nav_bar.html" }}

{{ template "__error.html" . }}

<div class="pane flex flex-direction-column padding-6">

<h1 class="font-inherit margin-10 primary-txt">{{ template "wechat-auth-title" }}</h1>

<p class="font-smaller overflow-wrap-break-word margin-10 primary-txt">{{ template "wechat-auth-description" }}</p>

<img class="margin-10 qr-code-image" src="{{ $.ImageURI }}">

</div>
</html>
