{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="m-0 primary-txt text-center text-xl font-bold">{{ template "whatsapp-otp-page-title" }}</h1>

<div class="text-sm break-words primary-txt text-center">{{ template "whatsapp-otp-description" (dict "whatsappNumber" "the number" ) }}</div>

<form id="main-form" class="twc-container-vertical" method="post" novalidate>
{{ $.CSRFField }}

<p class="primary-txt text-center text-2xl tracking-widest">
The code
</p>

</form>

<button
	form="main-form"
	class="btn primary-btn mt-5"
	type="submit"
	name="x_action"
	value="submit"
>{{ template "whatsapp-otp-confirm" }}</button>

{{ template "__watermark.html" . }}
</div>
{{ end }}
