.widget {
  grid-column: 1 / span 6;
}

.actionButton {
  font-weight: 600;
  height: auto;
}

.messageBar {
  margin: 10px;
}

.copyButtonGroup {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.copyTextField {
  margin: 5px;
  flex: 1;
}

.copyButton {
  margin: 5px;
}
