.widget {
  grid-column: 1 / span 8;

  @apply tablet:col-span-full;
}

.separator {
  grid-column: 1 / span 8;
  @apply tablet:col-span-full;
  @apply my-2;
}

.actionButton {
  font-weight: 600;
  height: auto;
}

.copyButtonGroup {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.copyTextField {
  flex: 1;
}
