@import "../../styles/variable.scss";

.activityWidget {
  grid-column: 1 / span 12;
}

.signupConversionWidget {
  grid-column: 1 / span 6;
}

.signupMethodsWidget {
  grid-column: 7 / span 6;
}

.commandBarButtonLabelValue {
  .label {
    margin: 0 4px;
  }

  .value {
    color: $neutral-tertiary-color;
    margin: 0 4px;
  }
}

.commandBarButtonTo {
  color: $neutral-secondary-color;
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}
