.content {
  gap: 16px;
}

.loadingWrapper {
  min-height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chartContainer {
  position: relative;
  height: 170px;
  margin: 20px 0;
}

.chartContainer .noDataAvailableLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.emptyLabel {
  margin: 0;
  color: var(--gray-a11);
}

.legend {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  column-gap: 6px;
  row-gap: 16px;
}

.legendItem {
  border-left: 3px solid;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  text-align: left;
}

.legendLabel {
  margin: 0;
  color: var(--gray-12);
}

.bold {
  margin: 0;
  font-weight: 600;
  color: var(--gray-12);
}
