.loadingWrapper {
  min-height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chartContainer {
  position: relative;
  height: 170px;
  margin: 20px 0;

  .noDataAvailableLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.legend {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  row-gap: 16px;
  flex-wrap: wrap;
  margin-top: 5px;
}

.legendItem {
  width: 82px;
  border-left: 3px solid;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  text-align: left;
}

.bold {
  font-weight: 600;
}
