.loadingWrapper {
  min-height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.summaryList {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  flex-wrap: wrap;
}

.summaryItem {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.chartContainer {
  position: relative;
  height: 220px;

  .noDataAvailableLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
