.widget {
  grid-column: 1 / span 12;

  @apply tablet:col-span-full;
}

.pageHeader {
  @apply flex flex-col gap-2;
}

.pageTitle {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: var(--gray-12);
}

.pageDescription {
  color: var(--gray-a11);
}

.filterBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.dateButtonLabel {
  color: var(--gray-12);
}

.dateButtonValue {
  color: var(--gray-a11);
}

.loadingSpinner {
  margin-left: 4px;
}

.activityWidget {
  grid-column: 1 / span 12;

  @apply tablet:col-span-full;
}

.signupConversionWidget {
  grid-column: 1 / span 6;

  @apply tablet:col-span-full;
}

.signupMethodsWidget {
  @apply col-span-6 col-start-7 tablet:col-span-full;
}
