.content {
  gap: 16px;
}

.periodicalControl {
  display: flex;
  justify-content: flex-end;
}

.loadingWrapper {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chartContainer {
  height: 350px;
  margin: 20px 0;
}

.totalUserLabel {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  text-align: left;
}

.metricLabel {
  margin: 0;
  color: var(--gray-12);
}

.metricValue {
  margin: 0;
  color: var(--gray-12);
}
