.widget {
  grid-column: 1 / span 12;

  @apply mobile:col-span-full;
}

.activityWidget {
  grid-column: 1 / span 12;

  @apply mobile:col-span-full;
}

.signupConversionWidget {
  grid-column: 1 / span 6;

  @apply mobile:col-span-full;
}

.signupMethodsWidget {
  @apply desktop:col-span-6 desktop:col-start-7 mobile:col-span-full;
}

.commandBarButtonLabelValue .label {
  margin: 0 4px;
}

.commandBarButtonLabelValue .value {
  margin: 0 4px;
}

.commandBarButtonTo {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}
