.widget {
  grid-column: 1 / span 8;

  @apply tablet:col-span-full;
}

.widgetDescription {
  margin-bottom: 8px;
}

.controls {
  grid-column: 1 / span 8;
  @apply tablet:col-span-full;
}

.separator {
  grid-column: 1 / span 8;
  @apply tablet:col-span-full;
}

.title {
  font-weight: 600;
  margin-bottom: 8px;
}

.sessionInfo {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 16px 32px;
  padding: 16px 0;
}

.sessionInfo .tooltipLabel {
  display: flex;
}

.detailsHeader {
  padding: 0;
}

.tooltipHeader {
  display: flex;
}

.bold {
  font-weight: 600;
}
