.widget {
  grid-column: 1 / span 7;
}

.widgetDescription {
  margin-bottom: 8px;
}

.title {
  font-weight: 600;
  margin-bottom: 8px;
}

.sessionInfo {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 16px 32px;
  padding: 16px 0;

  .tooltipLabel {
    display: flex;
  }
}

.detailsHeader {
  padding: 0;
}

.tooltipHeader {
  display: flex;
}

.bold {
  font-weight: 600;
}
