.widget {
  grid-column: 1 / span 9;
}

.columnHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cellContent {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 18px;
}

.cellAction {
  font-weight: 600;
  height: auto;
}

.clientList {
  margin: 6px 0;
}

.clientCardList {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: auto;
  row-gap: 16px;
}

.clientCardTitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.clientCardContent {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.clientCardIdContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
