.widget {
  grid-column: 1 / span 6;
}

.controlGroup {
  display: flex;
  flex-direction: column;
}

.description {
  margin: 16px 8px;
  display: block;
  white-space: pre-line;
}

.control {
  margin: 10px;
}

.columnHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cellContent {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 18px;
}

.cellAction {
  font-weight: 600;
  height: auto;
}

.cellActionDivider {
  height: 15px;
  background-color: #edebe9;
  margin: 0 5px;
}

.clientList {
  margin: 6px 0;
}

.readOnly {
  pointer-events: none;
  opacity: 0.5;
}
