.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.body {
  padding: 20px 40px 40px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.createButton {
  align-self: flex-start;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.card {
  display: block;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  min-height: 125px;
  border-radius: 3px;
}

.cardAppID {
  display: block;
  font-weight: 700;
  color: #000000;
  margin-bottom: 15px;
  font-size: 14px;
}

.cardAppName {
  display: block;
  font-weight: 500;
  color: #176df3;
  margin-bottom: 20px;
  font-size: 22px;
  /* Deprecated but safari does not support "overflow-wrap: break-word;" */
  /* stylelint-disable-next-line declaration-property-value-keyword-no-deprecated */
  word-break: break-word;
}
