.root {
  width: 700px;
  padding-right: 30px;
}

.widgetContainer {
  margin-top: 20px;
}

.widgetHeader {
  display: flex;
}

.checkboxLabel {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  padding: 2px 0;
}

.widgetInputField {
  width: 490px;
  margin-bottom: 10px;
}

.checkboxWithContent {
  margin-bottom: 15px;
}

.widgetCheckbox {
  margin-bottom: 15px;
  margin-right: 8px;
}

.saveButtonContainer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
