.root {
  display: flex;
  flex-direction: column;
}

.searchBox {
  width: 300px;
  margin: 7px 0px;

  @apply self-start tablet:self-auto tablet:w-auto;
}

.listWrapper {
  position: relative;
  height: 300px;
}

.countryNameCell {
  line-height: 16px;
}

.callingCodeListColumnAlignLeft {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.callingCodeListColumnAlignCenter {
  justify-content: center;
  align-items: center;
  display: flex;
}

.callingCodeListRow {
  border: 0;
}

.lastPinnedCallingCode {
  border-bottom: 1px solid #c4c4c4;
}

/* Fix horizontal scrollbar appears on windows browser */
.detailsList {
  overflow-x: hidden;

  @apply mobile:overflow-auto;
}
