.root {
  display: flex;
  flex-direction: column;
}

.widget {
  margin: 10px 15px;
  max-width: 630px;
}

.authenticatorColumn {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.controlGroup {
  display: flex;
  flex-direction: column;
}

.control {
  margin: 10px;
}
