.root {
  margin: 23px 0;
  padding: 0 10px;
  width: 630px;
}

.widget {
  margin-bottom: 15px;
  padding: 15px 15px 25px;
}

.widgetHeader {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0 0 10px;
}

.authenticatorColumn {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.policyHeader {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin: 30px 0 15px;
}

.requireMFADropdown {
  width: 400px;
  margin-bottom: 15px;
}

.recoveryCodeNumber {
  width: 320px;
  margin-bottom: 20px;
}

.allowRetrieveRecoveryCode {
  margin-bottom: 25px;
}
