.widget {
  grid-column: 1 / span 8;

  @apply mobile:col-span-full;
}

.authenticatorColumn {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.authenticatorOrder {
  padding-left: 4px;
}

.authenticatorColumnSpanRow {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.readOnly {
  pointer-events: none;
  opacity: 0.5;
}
