.widget {
  grid-column: 1 / span 12;

  @apply tablet:col-span-full;
}

.content {
  grid-column: 1 / span 12;

  @apply tablet:col-span-full mt-6;
}

.enabledContent {
  /* To limit the width of the enabledContent */
  max-width: 45rem;

  display: flex;
  flex-direction: column;

  @apply mt-12;
}

.columnLeft {
  grid-column: 1 / span 4;
}

.columnRight {
  grid-column: 5 / span 4;
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.providerCardContainer {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: auto 1fr;

  column-gap: 0.5rem;

  width: 100%;
}

.providerCard {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 0.06rem; /* 1px */
  border-style: solid;
  column-gap: 1rem;

  /* ref https://res-1.cdn.office.net/files/fabric-cdn-prod_20230815.002/office-ui-fabric-core/11.1.0/css/fabric.css */
  /* .ms-depth-4 */
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.13),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.11);
}

.providerCard:disabled {
  box-shadow: none;
  cursor: not-allowed;
  background-color: #f3f2f1;
}

.providerCard > .providerCardLabel {
  cursor: pointer;
}

.providerCard:disabled > .providerCardLabel {
  cursor: not-allowed;
}

.secretKeyInputContainer {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: auto 1fr;
  column-gap: 0.5rem;
}
.secretKeyInputWithoutReveal {
  grid-column: 1 / span 8;
}
.secretKeyInputWithReveal {
  grid-column: 1 / span 7;
}
.secretKeyRevealButton {
  grid-column: span 1 / span 1;
  justify-self: center;
  align-self: end;
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.subtitle {
  font-size: 1.13rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.requirementConfigLabelContainer {
  @apply h-full flex items-center;
}

.requirementConfigLabel {
  font-weight: 600;
}
