.root {
  margin: 0 32px;
}

.description {
  display: block;
  margin: 16px 8px;
  max-width: 500px;
  font-size: 13px;
  line-height: 1.3;
}

.fieldList {
  max-width: 600px;
  min-width: 400px;
  margin: 16px 8px;
}
