.root {
  background-color: #faf8f8;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.pageTitle {
  margin-bottom: 10px;
}

.pageDesc {
  margin-bottom: 20px;
}

.fieldLabel {
  margin-bottom: 10px;
}

.appIDField {
  margin-bottom: 25px;
}
