.widget {
  grid-column: 1 / span 8;

  @apply tablet:col-span-full;
}

.wizardWidget {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @apply gap-6;
}
