.widget {
  grid-column: 1 / span 6;
}

.dialogClientId {
  display: flex;
  width: 230px;
  height: 35px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px 10px 10px;
  margin-bottom: 25px;
  background-color: #edebe9;
}

.dialogCopyIcon {
  padding: 0;
}
