.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.content {
  margin: 15px 20px;
}

.body {
  margin: 0 20px;
}

.fieldLabel {
  padding-bottom: 6px;
  font-size: 14px;
}

.fieldDesc {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
}

.appIDField {
  max-width: 350px;
  margin-bottom: 25px;
}
