.widget {
  grid-column: 1 / span 8;

  @apply tablet:col-span-full;
}

.optionLabel {
  padding-left: 26px;
}

.optionLabelText {
  line-height: 20px;
  margin-bottom: 4px;
}

.optionLabelDescription {
  line-height: 20px;
  margin-bottom: 12px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @apply gap-6;
}
