.widget {
  grid-column: 1 / span 12;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}

.emptyStateMessage {
  font-weight: 600;
}

.addNewAttributeButton {
  margin: 16px 0;
}
