.root {
  display: flex;
  flex-direction: column;
}

.verifySuccessMessageBar {
  visibility: hidden;

  &.visible {
    visibility: visible;
  }
}

.widget {
  margin: 10px 15px;
  max-width: 750px;
}

.description {
  display: block;
  margin: 16px 8px;
}

.domainListColumn {
  display: flex;
  align-items: center;
}

.addDomain {
  display: flex;
  background-color: #f8f8f8;
  padding: 10px;
  border-bottom: 1px solid #edebe9;
}

.addDomainField {
  width: 580px;
}

.addDomainButton {
  margin-left: 10px;
}

.actionButtonContainer {
  display: flex;
}

.actionButton {
  padding: 0;
  font-size: 13px;
  display: contents;
}

.divider {
  height: 15px;
  background-color: #edebe9;
  margin: 0 8px;
}

.activeStatus {
  color: #10b070;
}
