.widget {
  grid-column: 1 / span 8;

  @apply tablet:col-span-full;
}

.domainListColumn {
  display: flex;
  align-items: center;
}

.addDomain {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 10px;
  border-bottom: 1px solid #edebe9;
  gap: 10px;
}

.addDomainRow {
  display: flex;
  align-items: center;
}

.addDomainField {
  width: 580px;
}

.addDomainButton {
  margin-left: 10px;
}

.apexDomainToggle {
  align-self: flex-start;
  font-size: 12px;
  height: auto;
  padding: 0;
}

.actionButtonContainer {
  display: flex;
}

.actionButton {
  padding: 0;
  font-size: 13px;
  display: contents;
}

.divider {
  height: 15px;
  background-color: #edebe9;
  margin: 0 8px;
}

.activeStatus {
  @apply text-status-green;
}
