.widget {
  grid-column: 1 / span 5;

  @apply tablet:col-span-full;
}

.widgetColumn {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.quickStartColumn {
  grid-column: 6 / span 3;
  position: sticky;
  /* var(--screen-header-height) is height of header */
  /* 47px is height of command bar */
  /* 24px is padding of ScreenContent */
  /* 16px is distance between command bar and the pane */
  height: calc(100vh - 47px - var(--screen-header-height) - 24px - 16px);
  top: 16px;

  @apply tablet:static tablet:col-span-full tablet:row-start-2 tablet:h-auto tablet:top-auto;
}

.quickStartWidget {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.quickStartWidgetTitleIcon {
  padding-right: 8px;
}

.quickStartWidgetTitle {
  font-weight: 600;
}

.quickStartItem {
  border: 1px solid #cecece;
  color: #201f1e;
  border-radius: 2px;
  padding: 10px 12px;
  cursor: pointer;
}

.quickStartItem:hover,
.quickStartItem:focus,
.quickStartItem:active,
.quickStartItem:active:hover {
  color: #201f1e;
  text-decoration: none;
}

.quickStartItemHovered {
  border-color: #176df3;
}

.quickStartItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quickStartItemIcon {
  font-size: 24px;
  padding-right: 12px;
  line-height: 28px;
}

.quickStartItemText {
  flex-grow: 1;
}

.quickStartItemArrowIcon {
  color: #898989;
  font-size: 6px;
}

.quickStartItemHovered .quickStartItemArrowIcon,
.quickStartItemOpenTutorial {
  color: #176df3;
  pointer-events: none;
}

.frameworkImage {
  width: 24px;
  height: 24px;
  padding: 2px;
}

.quickStartScreenTitleIcon {
  padding-right: 4px;
}

.quickStartScreenDescription {
  font-weight: 600;
  padding: 5px 0;
}

.quickStartScreenButtons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 12px;
}
