.root {
  display: flex;
  min-height: 100%;
}

.wrapper {
  padding: 10px 20px;
}

.form {
  margin: 0 20px 50px;
}

.modifyClientForm {
  width: 750px;
  margin-bottom: 30px;
}

.clientIdField {
  display: flex;
  margin-bottom: 15px;
  width: 500px;
  background-color: #f3f2f1;
  padding: 0 8px;
  height: 33px;
  border-radius: 2px;
  align-items: center;
}
