.root {
  margin: 20px;
}

.form {
  margin: 0 20px 50px;
}

.modifyClientForm {
  width: 750px;
  margin-bottom: 30px;
}

.clientIdField {
  margin-bottom: 15px;
  width: 500px;
  pointer-events: none;
}
