.root {
  margin: 10px 0 0;
}

.label {
  margin: 0 8px 5px;
}

.textField {
  margin: 0 8px 15px;
}

.codeEditor {
  height: 130px;
  border: 1px solid #8A8886;
  border-radius: 2px;
  margin: 0 8px 15px;
}

.multiLineTextField {
  margin: 0 8px 15px;
}

.saveButtonContainer {
  width: 100%;
  margin: 20px 8px 15px;
  display: flex;
  justify-content: flex-start;
}
