.root {
  padding: 24px;
  min-width: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.descriptionRow {
  display: flex;
  flex-direction: row;
}

.description {
  flex: 1 0 0;
}

.counter {
  font-weight: 600;
  justify-self: end;
}

.cards {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: auto;
  row-gap: 16px;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204 204 204 / 0.8);
  padding: 14px;
  display: grid;
  grid-template-columns: 52px auto 1fr;
  grid-template-rows: repeat(3, auto);
  column-gap: 18px;
  row-gap: 8px;
  cursor: pointer;
}

.card:hover {
  border-color: var(--hover-color);
}

.cardIcon {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  align-self: start;
  height: 52px;
}

.cardTitle {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  font-weight: 600;
}

.cardDescription {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}

.cardActionButton {
  margin-top: 4px;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  font-size: smaller;
}

.card:hover .cardActionButton {
  text-decoration: underline;
}

.cardSkipButton {
  margin-top: 4px;
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  font-size: smaller;
}

.helpTextIcon {
  vertical-align: middle;
}

.dismissButton {
  align-self: end;
}
