.widget {
  grid-column: 1 / span 8;

  @apply tablet:col-span-full;
}

.columnFull {
  grid-column: 1 / span 8;

  @apply tablet:col-span-full;
}

.secretInput {
  grid-column: 1 / span 7;
}

.secretButton {
  grid-column: span 1 / span 1;
  justify-self: center;
  align-self: end;
}

.handlerEdit {
  flex-grow: 1;
  display: flex;
  column-gap: 8px;
}

.handlerEventField {
  width: 180px;
}

.handlerKindField {
  width: 180px;
}

.handlerURLField {
  min-width: 0;
  flex: 1 0 0;
}

.codeEditorContainer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.codeEditor {
  width: 80vw;
  height: 80vh;
}

.codeEditorFooter {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  padding: 0 8px 8px;
}
