.root {
  margin: 0 32px;
}

.textField {
  width: 320px;
}

.handlerList {
  width: 600px;
  margin-top: 24px;
}

.handlerEdit {
  flex-grow: 1;
  display: flex;

  .handlerEventField {
    width: 200px;
    margin-right: 8px;
  }
  .handlerURLField {
    flex: 1 0 0;
  }
}
