.widget {
  grid-column: 1 / span 12;

  @apply tablet:col-span-full;
}

.cell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.addon {
  display: grid;
  grid-template-columns: 36px 1fr;
  grid-template-rows: 20px 1fr;
  column-gap: 14px;
}

.addonLogo {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addonLogoImage {
  width: 36px;
  height: 36px;
}

.addonName {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  font-weight: 600;
}

.addonDescription {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  overflow-wrap: break-word;
  white-space: normal;
}

.action {
  font-weight: 600;
}
