.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / span 8;

  @apply mobile:col-span-full mobile:flex-col mobile:items-stretch mobile:gap-y-5;
}

.widget {
  grid-column: 1 / span 8;

  @apply mobile:col-span-full;
}
