.descriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / span 8;

  @apply tablet:col-span-full tablet:flex-col tablet:items-stretch tablet:gap-y-5;
}

.widget {
  grid-column: 1 / span 8;

  @apply tablet:col-span-full;
}
