.root {
  @apply text-center tablet:text-right;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.dropdown {
  margin: 4px;
  width: 210px;
}

.titleLabel {
  margin: 4px;
  color: var(--gray-12);
}

.optionDisabled {
  font-style: italic;
}
