.root {
  display: flex;
  flex-direction: column;
}

.widget {
  margin: 10px 15px;
  max-width: 650px;
}

.control {
  margin: 10px;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  > * {
    margin-right: 4px;
  }
}
