.inputField {
  margin-bottom: 15px;
  width: 600px;
}

.inputFieldList {
  margin-bottom: 5px;
  width: 600px;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  > * {
    margin-right: 8px;
  }
}
