.root {
  min-height: 100%;
}

.header {
  display: block;
  font-weight: 600;
  font-size: 18px;
  margin: 30px;
}

.content {
  margin: 0 20px;
}

.controlButtons {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #edebe9;
}

.addClientButton {
  margin: 0 10px 0 0;
}

.clientListColumn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.clientListColumnContent {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 18px;
}

.listActionButton {
  font-weight: 600;
  height: auto;
}

.listActionButtonDivider {
  height: 15px;
  background-color: #edebe9;
  margin: 0 5px;
}
