.root {
  display: flex;
  flex-direction: column;
}

.widget {
  margin: 10px 15px;
}


.description {
  margin: 16px 8px;
  display: block;
  white-space: pre;
}

.columnHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cellContent {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 18px;
}

.cellAction {
  font-weight: 600;
  height: auto;
}

.cellActionDivider {
  height: 15px;
  background-color: #edebe9;
  margin: 0 5px;
}
