.root {
  margin: 0 32px;
}

.textField {
  margin: 16px 8px;
}

.checkbox {
  margin: 16px 8px;
}

.dropdown {
  margin: 16px 8px;
}

.toggleWithContent {
  margin: 16px 8px;
}

.toggleLabel {
  font-size: 14px;
  margin: 0 8px 15px;
}

.tagPickerLabel {
  margin: 0 0 0 15px;
}

.tagPicker {
  margin: 0 8px;
}
