.root {
  margin: 10px 0 0;
}

.textField {
  margin: 0 8px 15px;
}

.checkbox {
  margin: 0 8px 15px;
}

.dropdown {
  margin: 0 8px 15px;
}

.toggleWithContent {
  margin: 0 8px 15px;
}

.toggleLabel {
  font-size: 14px;
  margin: 0 8px 15px;
}

.tagPickerLabel {
  margin: 0 0 0 15px;
}

.tagPicker {
  margin: 0 8px 15px;
}

.saveButtonContainer {
  width: 100%;
  margin: 20px 8px 15px;
  display: flex;
  justify-content: flex-start;
}
