.header {
  @apply flex items-center justify-between gap-4;
}

.widget {
  grid-column: 1 / span 12;

  @apply tablet:col-span-full;
}

.pageTitle {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: var(--gray-12);
}

.inviteButtonContent {
  @apply inline-flex items-center gap-1;
}
