.widget {
  @apply col-span-8 tablet:col-span-full;
}

.headerContent {
  @apply p-5;
}

.screenTitle {
  @apply col-span-12;
  @apply flex items-center justify-between;
}

.content {
  @apply col-span-full;
  @apply grid grid-cols-12;
}

.contentItem {
  @apply col-span-full;
  @apply border-x-0 border-t-0 first:border-t border-b border-solid border-separator;
}

.emptyMessage {
  @apply col-start-5 col-span-4;
  @apply flex flex-col items-center justify-center;
  @apply space-y-4;
  @apply py-20;
}

.deleteButton {
  @apply flex items-center justify-center;
  @apply space-x-2;
}
