.root {
  display: flex;
  min-height: 100%;
}

.wrapper {
  padding: 40px;
}

.error {
  margin-bottom: 20px;
}

.header {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px;
}

.helpLink {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 35px;
  display: block;
}

.widget {
  margin-bottom: 20px;
  width: 600px;
}
