.widget {
  grid-column: 1 / span 8;

  @apply tablet:col-span-full;
}

.description {
  padding-top: 18px;
}

.headerContent {
  padding: 20px;
}

/* Increase specificity to override the original class */
.screenContent.screenContent {
  padding-top: 0;
}
