.widgetLabel {
  display: flex;
  align-items: center;
}

.widgetLabelIcon {
  font-size: 16px;
}

.widgetLabelText {
  padding-left: 15px;
}

.textField,
.checkbox,
.fieldList {
  margin: 0 8px 15px 50px;
}
