.root {
  margin: 30px;
  width: 620px;
}

.error {
  margin-bottom: 20px;
}

.header {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.helpLink {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 35px;
  display: block;
}

.widget {
  margin-bottom: 20px;
}
