.root {
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.section {
  max-width: 1252px;
}

.cardsContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.cards {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-template-rows: auto;

  @apply tablet:grid-flow-row;
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.processingPaymentSection {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 560px;
  row-gap: 10px;
}

.processingPaymentSpinner {
  padding: 24px 0;
  justify-content: left;
}

.processingPaymentErrorMessage {
  padding: 24px 0;
  color: #a4262c;
}

.processingPaymentButtonContainer {
  text-align: right;
}
