@import "../../styles/variable.scss";

.root {
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.section {
  min-width: 980px;
  max-width: 1252px;
}

.cardsContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.cards {
  display: grid;
  column-gap: 16px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-template-rows: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
