.root {
  padding: 20px;
}

.costItems {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;

  @apply mobile:flex-col mobile:gap-y-2.5;
}

.costItemTitle {
  color: #646464;
}

.costItemSeparator {
  width: 1px;

  @apply mobile:w-full mobile:h-px;
}

.usageMeterContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @apply tablet:flex-col tablet:gap-y-5;
}

.usageMeter {
  display: flex;
  flex-direction: column;
}

.usageMeterTitle {
  align-self: start;
}

.usageMeterProgressBar {
  width: 355px;

  @apply mobile:w-full tablet:w-full;
}

.subscriptionManagement {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.subscriptionManagementLink {
  text-align: end;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
