.root {
  padding: 20px;
}

.costItems {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;

  @apply mobile:flex-col;
}

.costItemTitle {
  color: #646464;
}

.costItemSeparator {
  width: 1px;
}

.usageMeterContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.usageMeter {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.usageMeterTitle {
  align-self: start;
}

.usageMeterProgressBar {
  width: 355px;

  @apply mobile:w-full;
}

.subscriptionManagement {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  row-gap: 10px;
}

.subscriptionManagementLink {
  text-align: end;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
