@import "../../styles/variable.scss";

.root {
  display: flex;
  flex-direction: column;
}

.section {
  padding: 0 15px;
  margin: 30px 0;
}

.subTitle {
  font-weight: 600;
  margin-bottom: 15px;
}

.summaryList {
  display: flex;
  flex-direction: row;
  max-width: 600px;

  .summaryItem {
    flex-grow: 1;
    .label {
      color: $neutral-tertiary-color;
      margin-bottom: 5px;
    }
    .value {
      font-weight: 600;
    }
  }
}

.planBlockList {
  width: calc(3 * 325px + 2 * 20px + 2 * 20px);
  display: grid;
  grid-template-columns: repeat(3, 325px);
  grid-auto-rows: auto;
  gap: 20px;
  padding: 0 20px;
  margin: 0 -20px;

  .planBlockItem {
    display: flex;
    flex-direction: column;
    padding: 40px;
    overflow: hidden;
  }

  .title {
    font-weight: 700;
    margin-bottom: 10px;
  }

  .desc {
    color: $neutral-tertiary-color;
    margin-bottom: 40px;
  }

  .price {
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
  }

  .mau {
    text-align: center;
  }

  .extraCost {
    background-color: $neutral-lighter-alt-color;
    white-space: pre-wrap;
    line-height: 18px;
    padding: 12px;
    margin-top: 20px;
  }

  .separator {
    background-color: $neutral-lighter-color;
    height: 1px;
    margin: 20px 0;
  }

  .features {
    flex-grow: 1;
    color: $theme-tertiary-color;
    white-space: pre-wrap;
    line-height: 24px;
    margin-bottom: 50px;
  }

  .contactUsLink {
    display: block;
  }
}
