.card {
  position: relative;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 0.9fr 1fr;
}

.cardTag {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  transform: translate(10px, -50%);
  border-radius: 2px;
}

.cardTagline {
  color: #605e5c;
  margin-bottom: 24px;
}

.basePriceSection {
  margin-bottom: 24px;
}

.basePriceTag {
  text-align: center;
}

.mauRestriction {
  text-align: center;
}

.usagePriceTagSection {
  padding: 10px;
  margin-bottom: 24px;
}

.cta {
  display: block;
  width: 100%;
  margin-bottom: 24px;
}

.separator {
  height: 1px;
  margin-bottom: 24px;
}

.planDetailsSection {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.planDetailsTitle {
  font-weight: 600;
}

.cardMiddleSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
