.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.screen {
  padding: 30px 40px;
}

.screenHeaderText {
  display: block;
  font-weight: 600;
  font-size: 18px;
  margin: 10px;
}
