.root {
  padding: 10px;
  max-width: 635px;
}

.rootSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle {
  margin: 0 10px;
}

.title {
  margin: 10px;
  display: block;
  font-weight: 700;
}

.colorControlSection {
  max-width: 350px;
}

.colorControlTitle {
  margin: 10px;
  display: block;
  font-weight: 600;
}

.colorControl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.colorControlLabel {
  margin: 10px;
  padding: 0;
}

.previewSection {
  width: 223px;
  margin: 0 10px 10px 0;
}

.previewContainer {
  position: relative;
}

.previewWidget {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 0 0 0;
}
