.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / span 12;
}

.widget {
  grid-column: 1 / span 8;
}

.grid {
  display: grid;
  column-gap: 16px;
  row-gap: 20px;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: auto;
}

.columnFull {
  grid-column: 1 / span 8;
}

.columnLeft {
  grid-column: 1 / span 5;
}
