.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / span 12;
}

.widget {
  grid-column: 1 / span 6;
}

.faviconImagePicker {
  width: 350px;
}
