.root {
  margin: 0 32px;
  min-width: 750px;
  display: flex;
  flex-direction: column;
}

.themeWidget {
  margin: 10px;
}

.faviconWidget {
  margin: 10px;
  padding: 10px;
  max-width: 672px;
}

.faviconTitle {
  margin: 10px;
}

.faviconImagePicker {
  margin: 10px;
}
