.root {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.widget {
  margin: 10px 15px;
  max-width: 672px;
}

.faviconImagePicker {
  margin: 10px;
  width: 350px;
}
