.root {
  display: flex;
  flex-direction: column;
}

.widget {
  margin: 10px 15px;
  max-width: 672px;
}

.controlGroup {
  display: flex;
  flex-direction: column;
}

.control {
  margin: 10px;
}

.readOnly {
  pointer-events: none;
  opacity: 0.5;
}
