.root {
  margin: 0 32px;
}

.formField {
  width: 600px;
  margin: 0 8px 15px;
}

.claimConfigCard {
  padding: 20px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.claimConfigTitle {
  margin-bottom: 24px;
}
