.widget {
  grid-column: 1 / span 8;

  @apply tablet:col-span-full;
}

.dnsRecordListColumn {
  display: flex;
  align-items: center;
  white-space: normal;
}

.valueCell {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

.valueCellText {
  white-space: normal;
}

.copyIconButton {
  margin-left: 10px;
}

.verifyButton {
  align-self: flex-start;
}
