.root {
  display: flex;
  flex-direction: column;
  // to align with the custom domain list page
  // the height of hidden message bar
  margin-top: 32px;
}

.widget {
  margin: 10px 15px;
  max-width: 750px;
}

.description {
  display: block;
  margin: 16px 8px;
}

.dnsRecordListColumn {
  display: flex;
  align-items: center;
  white-space: normal;
}

.valueCell {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

.valueCellText {
  white-space: normal;
}

.copyIconButton {
  margin-left: 10px;
}

.controlButtons {
  margin: 25px 12px;
}
