.widget {
  grid-column: 1 / span 6;
}

.grid {
  display: grid;
  column-gap: 16px;
  row-gap: 20px;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-auto-rows: auto;
}

.columnFull {
  grid-column: 1 / span 8;
}

.secretInput {
  grid-column: 1 / span 4;
}

.secretButton {
  grid-column: 5 / span 1;
  align-self: end;
}

.handlerEdit {
  flex-grow: 1;
  display: flex;

  .handlerEventField {
    width: 200px;
    margin-right: 8px;
  }
  .handlerURLField {
    flex: 1 0 0;
  }
}
