.cardContainer {
  display: grid;
  grid-auto-flow: row;
  gap: 16px;
  width: 100%;
  min-width: 0;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  width: 100%;
  min-width: 0;
  padding: 32px;
  border: 1px solid var(--gray-a6);
  border-radius: var(--radius-4);
}

@media (max-width: 1080px) {
  .card {
    grid-template-columns: 1fr;
  }
}

.card--fullWidth {
  grid-template-columns: 1fr;
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sectionTitle {
  margin: 0;
}

.priceRow {
  display: flex;
  align-items: flex-end;
}

.priceUnit {
  margin-left: 8px;
}

.detailsSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detailsSectionTitle {
  margin: 0;
}

.costItemRow {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 16px;
}

.costItemLabel {
  min-width: 0;
}

.costItemValue {
  flex-shrink: 0;
  text-align: right;
}

.usageMeter {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  min-width: 0;
}

.usageMeterTitle {
  margin: 0 0 8px;
}

.progressBar {
  width: 100%;
  height: 4px;
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: var(--radius-full);
  background-color: var(--gray-a4);
}

.progressBarFill {
  height: 100%;
  border-radius: var(--radius-full);
  background-color: var(--accent-9);
}

.progressBarFill--warn {
  background-color: var(--red-9);
}

.usageText {
  margin: 0;
  color: var(--gray-a11);
}

.usageText--warn {
  color: var(--red-9);
}

.upgradeLink {
  margin-top: 8px;
}
