/* NOTE(1) */
/* The font-size of focusable elements must be >= 16px otherwise */
/* Safari iOS will zoom the page. */

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0;
  background-color: transparent;
  border: none;
}

button:not([disabled]):hover {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* a:link is more specific than .primary-btn so we need to add :not here */
a:not(.btn):link,
a:not(.btn):visited {
  color: #166bef;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.white-space-pre {
  white-space: pre;
}

/* min-width and max-width initial value is auto, which means content size. */
/* So setting min-width and min-height to 0 will make flex child not to overflow its parent */
.flex-child-no-overflow {
  min-width: 0;
  min-height: 0;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.primary-txt {
  color: #333333;
}

.secondary-txt {
  color: #a19f9d;
}

.errors {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

.error-txt {
  color: #e30f0f;
}

.input {
  border: none;
  border-radius: 0;
  /* NOTE(1) */
  font-size: 16px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #a19f9d;
  height: 32px;
}

.input:focus, .btn:focus {
  outline: none;
}

.input:focus {
  border-bottom-color: #166bef;
}

.input::placeholder {
  color: #a19f9d;
}

.select {
  background-color: transparent;
  height: 32px;
  border-bottom: solid 1px #a19f9d;
  padding: 0 28px 0 8px;
  background-image: url("../image/ic_select_arrow.png");
  background-position: right 5px center;
  background-size: 12px auto;
  background-repeat: no-repeat;
}

.text-input {
  background-color: transparent;
  padding: 0 8px;
}

.btn {
  /* NOTE(1) */
  font-size: 16px;
  height: 32px;
  border-radius: 2px;
}

.primary-btn {
  color: white;
  background-color: #166bef;
  min-width: 100px;
}

.secondary-btn {
  color: #323130;
  border: 1px solid #8A8886;
  min-width: 100px;
}

.destructive-btn {
  color: #323130;
  background-color: #CACACA;
  min-width: 100px;
}

.link {
  font-size: 12px;
}

button.link {
  text-align: left;
}

button.anchor {
  color: #166bef;
}

a.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page {
  background-color: white;
}

.content {
  background-color: white;
}

.logo {
  /* The logo is intended to be 21:9 */
  /* When padding-top is given as percentage, it is the percentage of the width of the container */
  /* So 9 / 21 == 42.86% */
  padding-top: 42.86%;
  background-image: url("../image/ic_app_logo.png");
  background-position: center;
  background-size: 66px 66px;
  background-repeat: no-repeat;
  background-color: #eaf1fc;
}

.authgear-logo {
  height: 80px;
  background-position: center;
  background-size: 100px auto;
  background-repeat: no-repeat;
  background-image: url("../image/ic_footer_authgear.png");
}

.back-btn {
  width: 36px;
  height: 36px;
  background-color: #f3f2f1;
  border-radius: 18px;
  background-image: url("../image/ic_back_arrow.png");
  background-position: center;
  background-size: 16px auto;
  background-repeat: no-repeat;
}

.password-visibility-btn.hide-password {
  display: none;
}

@media (min-width: 320px) {
}

@media (min-width: 1025px) {
  .page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .content {
    margin: 52px 0 0 0;
    width: 416px;
    border-radius: 2px;
    box-shadow: 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.11), 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.13);
  }
}

.phone-input {
  display: flex;
  flex-direction: row;
}

.phone-input [name="x_calling_code"] {
  margin: 0 3px 0 0;
}

.phone-input [name="x_national_number"] {
  flex: 1;
  margin: 0 0 0 3px;
}

.authorize-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.authorize-idp-section {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.authorize-idp-form {
  display: flex;
  flex-direction: column;
}

.authorize-loginid-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.authorize-loginid-form .link {
  display: block;
  padding: 4px 0;
}

.sso-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  border-radius: 2px;
  border: solid 1px #d8d8d8;
  margin: 4px 0;
  background-position: 6px center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.apple {
  color: white;
  background-color: black;
  background-image: url("../image/ic_idp_apple.png");
}

.google {
  color: #333333;
  background-color: white;
  background-image: url("../image/ic_idp_google.png");
}

.facebook {
  color: white;
  background-color: #3b5998;
  background-image: url("../image/ic_idp_facebook.png");
}

.linkedin {
  color: white;
  background-color: #187fb8;
  background-image: url("../image/ic_idp_linkedin.png");
}

.azureadv2 {
  color: #333333;
  background-color: #e2e2e2;
  background-image: url("../image/ic_idp_azuread.png");
}

.sso-loginid-separator {
  text-align: center;
  margin: 10px;
}

.password-visibility-btn {
  max-width: 170px;
  padding: 0 0 0 12px;
}

.password-visibility-btn.show-password {
  background: url("../image/ic_show_password.png") 12px center / 20px auto no-repeat;
}

.password-visibility-btn.hide-password {
  background: url("../image/ic_hide_password.png") 12px center / 20px auto no-repeat;
}

.password-policy.violated {
  color: #e30f0f;
}

.password-policy.passed {
  color: green;
}

.settings-form {
  padding: 20px;
}

.logout-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logout-form .logout-btn {
  align-self: center;
}

.simple-form {
  padding: 10px;
}

.simple-form .title {
  font-size: 24px;
  font-weight: 600;
}

.simple-form .description {
  font-size: 12px;
}

.simple-form .nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.simple-form .login-id {
  margin: 10px;
}

.vertical-form {
  display: flex;
  flex-direction: column;
}

.form-fields-container > * {
  margin: 10px;
}

.form-fields-container > form.form-fields-container {
  margin: 0;
}

.oob-otp-trigger-form {
  margin: 0 10px;
}

.enter-login-id-remove-form {
  display: none;
}

.enter-login-id-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.settings-identity {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.settings-identity .title {
  margin: 0;
  padding: 10px;
  font-size: 24px;
}

.settings-identity .identity {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 70px;
  border: solid 1px #d8d8d8;
  margin: 5px 10px;
  padding: 6px;
}

.settings-identity .icon {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 6px;
}

.settings-identity .icon.oauth {
  background-size: 24px auto;
}

.settings-identity .icon.login_id {
  background-size: 40px auto;
}

.settings-identity .identity-info {
  margin: 2px;
  flex: 1;
}

.settings-identity .identity-name,
.settings-identity .identity-claim {
  margin: 0;
  padding: 2px;
  font-size: 14px;
}

.settings-identity .identity-actions {
  display: flex;
  flex-direction: column;
}

.settings-identity .identity .btn {
  margin: 6px;
}

.settings-identity .identity-verified {
  text-align: center;
  font-size: 14px;
  color: #008000;
}

.login_id.email {
  background-image: url("../image/ic_login_id_email.png");
}

.login_id.phone {
  background-image: url("../image/ic_login_id_phone.png");
}

.setup-totp .totp-image {
  width: 200px;
  height: 200px;
  align-self: center;
}
