@media (prefers-color-scheme: dark) {
  :root {
    --color-primary-unshaded: #317BF4;
    --color-primary-shaded-1: #f6faff;
    --color-primary-shaded-2: #dde9fd;
    --color-primary-shaded-3: #bfd7fc;
    --color-primary-shaded-4: #81aff9;
    --color-primary-shaded-5: #498bf6;
    --color-primary-shaded-6: #2c70dc;
    --color-primary-shaded-7: #255eba;
    --color-primary-shaded-8: #1b4589;

    --color-text-unshaded: #ffffff;
    --color-text-shaded-1: #767676;
    --color-text-shaded-2: #a6a6a6;
    --color-text-shaded-3: #c8c8c8;
    --color-text-shaded-4: #d0d0d0;
    --color-text-shaded-5: #dadada;
    --color-text-shaded-6: #eaeaea;
    --color-text-shaded-7: #f4f4f4;
    --color-text-shaded-8: #f8f8f8;

    --color-background-unshaded: #000000;
    --color-background-shaded-1: #898989;
    --color-background-shaded-2: #737373;
    --color-background-shaded-3: #595959;
    --color-background-shaded-4: #373737;
    --color-background-shaded-5: #2f2f2f;
    --color-background-shaded-6: #252525;
    --color-background-shaded-7: #151515;
    --color-background-shaded-8: #0b0b0b;

    --color-google-unshaded: #4285f4;
    --color-google-shaded-1: #f7faff;
    --color-google-shaded-2: #e0ebfd;
    --color-google-shaded-3: #c5dafc;
    --color-google-shaded-4: #8cb6f9;
    --color-google-shaded-5: #5895f6;
    --color-google-shaded-6: #3b79dc;
    --color-google-shaded-7: #3266ba;
    --color-google-shaded-8: #254b89;

    --color-pane-background: #252525;
    --color-pane-border: #252525;

    --color-separator: #3e3e3e;

    --color-password-strength-meter-0: #8a8886;

    --color-signin-signup-link-current: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  .banner-frame {
    background-color: transparent;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
  }
  .banner {
    height: 55px;
    width: initial;
  }
}

@media (prefers-color-scheme: dark) {
  .input:focus {
    border-bottom-color: var(--color-primary-shaded-5);
  }
}


@media (prefers-color-scheme: dark) {
  .secondary-txt {
    color: var(--color-text-shaded-6);
  }
}

@media (prefers-color-scheme: dark) {
  .select:focus {
    border-bottom-color: var(--color-primary-shaded-5);
  }
}

@media (prefers-color-scheme: dark) {
  .primary-btn {
    color: var(--color-text-unshaded);
    background-color: var(--color-primary-unshaded);
  }
  .primary-btn:hover, .primary-btn:focus {
    background-color: var(--color-primary-shaded-4);
  }
  .primary-btn:active {
    background-color: var(--color-primary-shaded-7);
  }
  .primary-btn:disabled {
    background-color: var(--color-primary-shaded-2);
  }
}

@media (prefers-color-scheme: dark) {
  .secondary-btn {
    color: var(--color-primary-shaded-5);
    background-color: transparent;
  }
  .secondary-btn:hover, .secondary-btn:focus {
    color: var(--color-primary-shaded-4);
  }
  .secondary-btn:active {
    color: var(--color-primary-shaded-7);
  }
  .secondary-btn:disabled {
    color: var(--color-black-shaded-2);
  }
}

/* <a> does not have disabled attribute */
@media (prefers-color-scheme: dark) {
  a:not(.not-a), a:not(.not-a):visited, .link, .link:visited {
    color: var(--color-primary-shaded-5);
    background-color: transparent;
  }
  a:not(.not-a):hover, .link:hover, a:not(.not-a):focus, .link:focus {
    color: var(--color-primary-shaded-4);
  }
  a:not(.not-a):active, .link:active {
    color: var(--color-primary-shaded-7);
  }
}

@media (prefers-color-scheme: dark) {
  .apple {
    color: var(--color-black-unshaded);
    background-color: var(--color-white-unshaded);
  }
  .apple:hover, .apple:focus {
    background-color: var(--color-white-shaded-4);
  }
  .apple:active {
    background-color: var(--color-white-shaded-7);
  }
  .apple:disabled {
    background-color: var(--color-white-shaded-2);
  }
  .apple .sso-btn-icon {
    color: var(--color-apple-unshaded);
  }
}

@media (prefers-color-scheme: dark) {
  .sso-btn.google {
    border: 0;
  }
  .google {
    color: var(--color-white-unshaded);
    background-color: var(--color-google-unshaded);
  }
  .google:hover, .google:focus {
    background-color: var(--color-google-shaded-4);
  }
  .google:active {
    background-color: var(--color-google-shaded-7);
  }
  .google:disabled {
    background-color: var(--color-google-shaded-2);
  }
  .google .sso-btn-icon {
    color: var(--color-black-unshaded);
    background-color: var(--color-white-unshaded);
    border-radius: 2px;
    margin: 1px;
  }
}

@media (prefers-color-scheme: dark) {
  .signin-signup-link.current {
    border-bottom: 2px solid var(--color-signin-signup-link-current);
    color: var(--color-signin-signup-link-current);
  }
}

@media (prefers-color-scheme: dark) {
  .wechat {
    /* The class is used in both WeChat login button and login proceed button */
    color: var(--color-white-unshaded);
    background-color: var(--color-wechat-unshaded);
  }
  .wechat:hover, .wechat:focus {
    background-color: var(--color-wechat-shaded-4);
  }
  .wechat:active {
    background-color: var(--color-wechat-shaded-7);
  }
  .wechat:disabled {
    background-color: var(--color-wechat-shaded-2);
  }
}
