:root {
  --color-primary-unshaded: #176df3;
  --color-primary-shaded-1: #f5f9fe;
  --color-primary-shaded-2: #d8e6fd;
  --color-primary-shaded-3: #b7d1fb;
  --color-primary-shaded-4: #70a4f7;
  --color-primary-shaded-5: #317bf4;
  --color-primary-shaded-6: #1460da;
  --color-primary-shaded-7: #1151b8;
  --color-primary-shaded-8: #0c3c88;

  --color-text-unshaded: #000000;
  --color-text-shaded-1: #898989;
  --color-text-shaded-2: #737373;
  --color-text-shaded-3: #595959;
  --color-text-shaded-4: #373737;
  --color-text-shaded-5: #2f2f2f;
  --color-text-shaded-6: #252525;
  --color-text-shaded-7: #151515;
  --color-text-shaded-8: #0b0b0b;

  --color-background-unshaded: #f8f8f8;
  --color-background-shaded-1: #dcdcdc;
  --color-background-shaded-2: #c1c1c1;
  --color-background-shaded-3: #a6a6a6;
  --color-background-shaded-4: #8b8b8b;
  --color-background-shaded-5: #6f6f6f;
  --color-background-shaded-6: #545454;
  --color-background-shaded-7: #393939;
  --color-background-shaded-8: #1e1e1e;

  --color-error-unshaded: #e23d3d;
  --color-error-shaded-1: #fef6f6;
  --color-error-shaded-2: #fbdddd;
  --color-error-shaded-3: #f7c1c1;
  --color-error-shaded-4: #ee8686;
  --color-error-shaded-5: #e65252;
  --color-error-shaded-6: #cc3737;
  --color-error-shaded-7: #ac2f2f;
  --color-error-shaded-8: #7f2222;

  --color-success-unshaded: #107c10;
  --color-success-shaded-1: #f1faf1;
  --color-success-shaded-2: #caeaca;
  --color-success-shaded-3: #a0d8a0;
  --color-success-shaded-4: #55b155;
  --color-success-shaded-5: #218d21;
  --color-success-shaded-6: #0f700f;
  --color-success-shaded-7: #0c5f0c;
  --color-success-shaded-8: #094609;

  --color-white-unshaded: #ffffff;
  --color-white-shaded-1: #767676;
  --color-white-shaded-2: #a6a6a6;
  --color-white-shaded-3: #c8c8c8;
  --color-white-shaded-4: #d0d0d0;
  --color-white-shaded-5: #dadada;
  --color-white-shaded-6: #eaeaea;
  --color-white-shaded-7: #f4f4f4;
  --color-white-shaded-8: #f8f8f8;

  --color-black-unshaded: #000000;
  --color-black-shaded-1: #898989;
  --color-black-shaded-2: #737373;
  --color-black-shaded-3: #595959;
  --color-black-shaded-4: #373737;
  --color-black-shaded-5: #2f2f2f;
  --color-black-shaded-6: #252525;
  --color-black-shaded-7: #151515;
  --color-black-shaded-8: #0b0b0b;

  --color-apple-unshaded: #000000;
  --color-apple-shaded-1: #898989;
  --color-apple-shaded-2: #737373;
  --color-apple-shaded-3: #595959;
  --color-apple-shaded-4: #373737;
  --color-apple-shaded-5: #2f2f2f;
  --color-apple-shaded-6: #252525;
  --color-apple-shaded-7: #151515;
  --color-apple-shaded-8: #0b0b0b;

  --color-google-unshaded: #ffffff;
  --color-google-shaded-1: #767676;
  --color-google-shaded-2: #a6a6a6;
  --color-google-shaded-3: #c8c8c8;
  --color-google-shaded-4: #d0d0d0;
  --color-google-shaded-5: #dadada;
  --color-google-shaded-6: #eaeaea;
  --color-google-shaded-7: #f4f4f4;
  --color-google-shaded-8: #f8f8f8;

  --color-facebook-unshaded: #3b5998;
  --color-facebook-shaded-1: #f5f7fb;
  --color-facebook-shaded-2: #d7dfef;
  --color-facebook-shaded-3: #b7c4e0;
  --color-facebook-shaded-4: #7b91c2;
  --color-facebook-shaded-5: #4d69a5;
  --color-facebook-shaded-6: #36508a;
  --color-facebook-shaded-7: #2d4474;
  --color-facebook-shaded-8: #213256;

  --color-linkedin-unshaded: #187fb8;
  --color-linkedin-shaded-1: #f3f9fc;
  --color-linkedin-shaded-2: #d2e8f4;
  --color-linkedin-shaded-3: #add4ea;
  --color-linkedin-shaded-4: #65add4;
  --color-linkedin-shaded-5: #2d8dc0;
  --color-linkedin-shaded-6: #1573a5;
  --color-linkedin-shaded-7: #12618c;
  --color-linkedin-shaded-8: #0d4867;

  --color-azureadv2-unshaded: #00a2ed;
  --color-azureadv2-shaded-1: #f4fbfe;
  --color-azureadv2-shaded-2: #d4effc;
  --color-azureadv2-shaded-3: #afe2fa;
  --color-azureadv2-shaded-4: #62c6f4;
  --color-azureadv2-shaded-5: #1dadef;
  --color-azureadv2-shaded-6: #0092d5;
  --color-azureadv2-shaded-7: #007bb4;
  --color-azureadv2-shaded-8: #005b85;

  --color-adfs-unshaded: #00a2ed;
  --color-adfs-shaded-1: #f4fbfe;
  --color-adfs-shaded-2: #d4effc;
  --color-adfs-shaded-3: #afe2fa;
  --color-adfs-shaded-4: #62c6f4;
  --color-adfs-shaded-5: #1dadef;
  --color-adfs-shaded-6: #0092d5;
  --color-adfs-shaded-7: #007bb4;
  --color-adfs-shaded-8: #005b85;

  --color-wechat-unshaded: #07c160;
  --color-wechat-shaded-1: #f3fdf8;
  --color-wechat-shaded-2: #d0f5e2;
  --color-wechat-shaded-3: #a8edc9;
  --color-wechat-shaded-4: #5dda99;
  --color-wechat-shaded-5: #1fc971;
  --color-wechat-shaded-6: #07ae58;
  --color-wechat-shaded-7: #06934a;
  --color-wechat-shaded-8: #046d37;

  --color-warn: #fbca4e;
  --color-good: #58ca9a;
  --color-status-dark: #8a8886;

  --color-pane-background: #ffffff;
  --color-pane-shadow: rgba(0, 0, 0, 0.05);
  --color-pane-border: #e5e5e5;

  --color-separator: #e5e5e5;

  --color-password-strength-meter-0: #edebe9;
  --color-password-strength-meter-1: var(--color-error-unshaded);
  --color-password-strength-meter-2: #ffa133;
  --color-password-strength-meter-3: var(--color-warn);
  --color-password-strength-meter-4: #baca58;
  --color-password-strength-meter-5: var(--color-good);

  --color-recovery-code-list-background: #eaeaea;
}

.banner-frame {
  background-color: transparent;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.banner {
  height: 55px;
  width: initial;
}

.secondary-txt {
  color: var(--color-text-shaded-1);
}

.input:focus {
  border-bottom-color: var(--color-primary-unshaded);
}

.select:focus {
  border-bottom-color: var(--color-primary-unshaded);
}

.primary-btn {
  color: var(--color-background-unshaded);
  background-color: var(--color-primary-unshaded);
}
.primary-btn:hover, .primary-btn:focus {
  background-color: var(--color-primary-shaded-4);
}
.primary-btn:active {
  background-color: var(--color-primary-shaded-7);
}
.primary-btn:disabled {
  background-color: var(--color-primary-shaded-2);
}

.secondary-btn {
  color: var(--color-primary-unshaded);
  background-color: transparent;
}
.secondary-btn:hover, .secondary-btn:focus {
  color: var(--color-primary-shaded-4);
}
.secondary-btn:active {
  color: var(--color-primary-shaded-7);
}
.secondary-btn:disabled {
  color: var(--color-white-shaded-2);
}

.icon-btn {
  color: var(--color-text-unshaded);
  background-color: transparent;
}
.icon-btn:hover, .icon-btn:focus {
  color: var(--color-text-shaded-4);
}
.icon-btn:active {
  color: var(--color-text-shaded-7);
}
.icon-btn:disabled {
  color: var(--color-text-shaded-2);
}

/* <a> does not have disabled attribute */
a:not(.not-a), a:not(.not-a):visited, .link, .link:visited {
  color: var(--color-primary-unshaded);
  background-color: transparent;
}
a:not(.not-a):hover, .link:hover, a:not(.not-a):focus, .link:focus {
  color: var(--color-primary-shaded-4);
}
a:not(.not-a):active, .link:active {
  color: var(--color-primary-shaded-7);
}

.apple {
  color: var(--color-white-unshaded);
  background-color: var(--color-apple-unshaded);
}
.apple:hover, .apple:focus {
  background-color: var(--color-apple-shaded-4);
}
.apple:active {
  background-color: var(--color-apple-shaded-7);
}
.apple:disabled {
  background-color: var(--color-apple-shaded-2);
}

.sso-btn.google {
  border: 1px solid var(--color-separator);
}
.google {
  color: var(--color-black-unshaded);
  background-color: var(--color-google-unshaded);
}
.google:hover, .google:focus {
  background-color: var(--color-google-shaded-4);
}
.google:active {
  background-color: var(--color-google-shaded-7);
}
.google:disabled {
  background-color: var(--color-google-shaded-2);
}

.facebook {
  color: var(--color-white-unshaded);
  background-color: var(--color-facebook-unshaded);
}
.facebook:hover, .facebook:focus {
  background-color: var(--color-facebook-shaded-4);
}
.facebook:active {
  background-color: var(--color-facebook-shaded-7);
}
.facebook:disabled {
  background-color: var(--color-facebook-shaded-2);
}

.linkedin {
  color: var(--color-white-unshaded);
  background-color: var(--color-linkedin-unshaded);
}
.linkedin:hover, .linkedin:focus {
  background-color: var(--color-linkedin-shaded-4);
}
.linkedin:active {
  background-color: var(--color-linkedin-shaded-7);
}
.linkedin:disabled {
  background-color: var(--color-linkedin-shaded-2);
}

.azureadv2 {
  color: var(--color-white-unshaded);
  background-color: var(--color-azureadv2-unshaded);
}
.azureadv2:hover, .azureadv2:focus {
  background-color: var(--color-azureadv2-shaded-4);
}
.azureadv2:active {
  background-color: var(--color-azureadv2-shaded-7);
}
.azureadv2:disabled {
  background-color: var(--color-azureadv2-shaded-2);
}

.adfs {
  color: var(--color-white-unshaded);
  background-color: var(--color-adfs-unshaded);
}
.adfs:hover, .adfs:focus {
  background-color: var(--color-adfs-shaded-4);
}
.adfs:active {
  background-color: var(--color-adfs-shaded-7);
}
.adfs:disabled {
  background-color: var(--color-adfs-shaded-2);
}

.wechat {
  /* The class is used in both WeChat login button and login proceed button */
  color: var(--color-white-unshaded);
  background-color: var(--color-wechat-unshaded);
}
.wechat:hover, .wechat:focus {
  background-color: var(--color-wechat-shaded-4);
}
.wechat:active {
  background-color: var(--color-wechat-shaded-7);
}
.wechat:disabled {
  background-color: var(--color-wechat-shaded-2);
}

.signin-signup-link.current {
  border-bottom: 2px solid var(--color-primary-unshaded);
  color: var(--color-primary-unshaded);
}
