@media (prefers-color-scheme: dark) {
  :root {
    --color-primary-unshaded: #317BF4;
    --color-primary-shaded-1: #f6faff;
    --color-primary-shaded-2: #dde9fd;
    --color-primary-shaded-3: #bfd7fc;
    --color-primary-shaded-4: #81aff9;
    --color-primary-shaded-5: #498bf6;
    --color-primary-shaded-6: #2c70dc;
    --color-primary-shaded-7: #255eba;
    --color-primary-shaded-8: #1b4589;

    --color-text-unshaded: #ffffff;
    --color-text-shaded-1: #767676;
    --color-text-shaded-2: #a6a6a6;
    --color-text-shaded-3: #c8c8c8;
    --color-text-shaded-4: #d0d0d0;
    --color-text-shaded-5: #dadada;
    --color-text-shaded-6: #eaeaea;
    --color-text-shaded-7: #f4f4f4;
    --color-text-shaded-8: #f8f8f8;

    --color-background-unshaded: #f8f8f8;
    --color-background-shaded-1: #dcdcdc;
    --color-background-shaded-2: #c1c1c1;
    --color-background-shaded-3: #a6a6a6;
    --color-background-shaded-4: #8b8b8b;
    --color-background-shaded-5: #6f6f6f;
    --color-background-shaded-6: #545454;
    --color-background-shaded-7: #393939;
    --color-background-shaded-8: #1e1e1e;

    --color-google-unshaded: #4285f4;
    --color-google-shaded-1: #f7faff;
    --color-google-shaded-2: #e0ebfd;
    --color-google-shaded-3: #c5dafc;
    --color-google-shaded-4: #8cb6f9;
    --color-google-shaded-5: #5895f6;
    --color-google-shaded-6: #3b79dc;
    --color-google-shaded-7: #3266ba;
    --color-google-shaded-8: #254b89;

    --color-pane-background: #0b0b0b;
    --color-pane-border: #0b0b0b;

    --color-separator: #3e3e3e;

    --color-password-strength-meter-0: #8a8886;

    --color-signin-signup-link-current: #ffffff;

    --color-action-btn-active-background: rgba(255, 255, 255, 0.1);
  }
}

@media (prefers-color-scheme: dark) {
  .banner-frame {
    background-color: transparent;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
  }
  .banner {
    height: 55px;
    width: initial;
  }
}

@media (prefers-color-scheme: dark) {
  .input:focus {
    border-bottom-color: var(--color-primary-shaded-5);
  }
}


@media (prefers-color-scheme: dark) {
  .secondary-txt {
    color: var(--color-text-shaded-6);
  }
}

@media (prefers-color-scheme: dark) {
  .select:focus {
    border-bottom-color: var(--color-primary-shaded-5);
  }
}

@media (prefers-color-scheme: dark) {
  .primary-btn {
    color: var(--color-white-shaded-8);
    background-color: var(--color-primary-unshaded);
  }
  .primary-btn:focus {
    background-color: var(--color-primary-unshaded);
  }
  .primary-btn:hover {
    background-color: var(--color-primary-shaded-6);
  }
  .primary-btn:active {
    background-color: var(--color-primary-shaded-7);
  }
  .primary-btn:disabled {
    background-color: var(--color-primary-shaded-3);
  }
  .primary-btn.outline {
    color: var(--color-primary-unshaded);
    border-color: var(--color-primary-unshaded);
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
  }
  .primary-btn.outline:focus {
    color: var(--color-primary-unshaded);
    border-color: var(--color-primary-unshaded);
  }
  .primary-btn.outline:hover {
    color: var(--color-primary-shaded-6);
    border-color: var(--color-primary-shaded-6);
  }
  .primary-btn.outline:active {
    color: var(--color-primary-shaded-7);
    border-color: var(--color-primary-shaded-7);
  }
  .primary-btn.outline:disabled {
    color: var(--color-primary-shaded-3);
    border-color: var(--color-primary-shaded-3);
  }
}

@media (prefers-color-scheme: dark) {
  .secondary-btn {
    color: var(--color-primary-shaded-5);
    background-color: transparent;
  }
  .secondary-btn:focus {
    color: var(--color-primary-shaded-5);
  }
  .secondary-btn:hover {
    color: var(--color-primary-shaded-4);
  }
  .secondary-btn:active {
    color: var(--color-primary-shaded-7);
  }
  .secondary-btn:disabled {
    color: var(--color-black-shaded-2);
  }
}

@media (prefers-color-scheme: dark) {
  .action-btn:active {
    background-color: var(--color-black-shaded-6);
  }

  .settings-security-item {
    border-color: var(--color-black-shaded-6);
    background-color: var(--color-black-shaded-6);
  }
  .settings-security-item:focus {
    border-color: var(--color-black-shaded-6);
    background-color: var(--color-black-shaded-6);
  }
  .settings-security-item:hover {
    border-color: var(--color-primary-unshaded);
  }
  .settings-security-item:active {
    background-color: var(--color-black-unshaded);
  }
}

/* <a> does not have disabled attribute */
@media (prefers-color-scheme: dark) {
  a:not(.not-a), a:not(.not-a):visited, .link, .link:visited, a:not(.not-a):focus, .link:focus {
    color: var(--color-primary-shaded-5);
    background-color: transparent;
  }
  a:not(.not-a):hover, .link:hover {
    color: var(--color-primary-shaded-4);
  }
  a:not(.not-a):active, .link:active {
    color: var(--color-primary-shaded-7);
  }
}

@media (prefers-color-scheme: dark) {
  .apple {
    color: var(--color-black-unshaded);
    background-color: var(--color-white-unshaded);
  }
  .apple:focus {
    background-color: var(--color-white-unshaded);
  }
  .apple:hover {
    background-color: var(--color-white-shaded-4);
  }
  .apple:active {
    background-color: var(--color-white-shaded-7);
  }
  .apple:disabled {
    background-color: var(--color-white-shaded-2);
  }
  .apple .sso-btn-icon.apple-icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAjCAYAAABo4wHSAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAG2SURBVHgBvZc9LENRGIZfImJjsYggYWFhYfDbAYPNRMTQQU1GqygTm6SJSAw1ioHF3kEiEjUgMaoEkSCoQRDU++XcysntuW0T/fokT5qcntv3/N9ToPR00xDKQAWdoSc0Q7fzVa7C/6mj+7TPKruFItLoC5je2Y5CkRVHYApmuFVopK+O0F4oEnYELkCZDSvskUaKfbDQ6m2m1TBzdEPfrO+u6R5N0nX6Tltok1f/gV565QWRLbAI03p76L69kAlf/X4ao8/IHe4PGvcaE8h4wMN+pY4cBHdF1BV/vI7kMAszFBlFoxKUndMWmIWhtr9IGmae/ziCbg9lOgbtwBHlQHHa3+1V5cAzf2AlHYAua3CEtkOXczhCa6HLPRyh2tTAEZqGLoNwhKpeLcgUHKGH0CVEh/yhSeizRdvsgi7on0hiio7ZwQdlChaXsltmE+WjPvsqk88nmFuDJvIyb7UL5qE/tHF/K2SoNd+rVwi4K/XQF6XQMPIQUQiMoQiWSxgof7CKvntFA34kQefoMMydV87WHfrlqLsLx44o1IIOOkkbYBbZMT0NqNsMsyY66SfMgZNwVfwFgVRzhx92KF0AAAAASUVORK5CYII=');
  }
}

@media (prefers-color-scheme: dark) {
  .sso-btn.google {
    border: 0;
  }
  .google {
    color: var(--color-white-unshaded);
    background-color: var(--color-google-unshaded);
  }
  .google:focus {
    background-color: var(--color-google-unshaded);
  }
  .google:hover {
    background-color: var(--color-google-shaded-4);
  }
  .google:active {
    background-color: var(--color-google-shaded-7);
  }
  .google:disabled {
    background-color: var(--color-google-shaded-2);
  }
  .google .sso-btn-icon {
    color: var(--color-black-unshaded);
    background-color: var(--color-white-unshaded);
    border-radius: 2px;
    margin: 1px;
  }
}

@media (prefers-color-scheme: dark) {
  .signin-signup-link.current {
    border-bottom: 2px solid var(--color-signin-signup-link-current);
    color: var(--color-signin-signup-link-current);
  }
}

@media (prefers-color-scheme: dark) {
  .wechat {
    /* The class is used in both WeChat login button and login proceed button */
    color: var(--color-white-unshaded);
    background-color: var(--color-wechat-unshaded);
  }
  .wechat:focus {
    background-color: var(--color-wechat-unshaded);
  }
  .wechat:hover {
    background-color: var(--color-wechat-shaded-4);
  }
  .wechat:active {
    background-color: var(--color-wechat-shaded-7);
  }
  .wechat:disabled {
    background-color: var(--color-wechat-shaded-2);
  }
}
