{{- define "authflowv2/__authflow_branch.html" }}

{{- if (len $.Branches) }}
  {{ template "authflowv2/__divider.html" . }}
{{- end }}

<div class="flex flex-col gap-y-4">

{{- range $.Branches }}
  {{- if eq $.ActionType "authenticate" }}
    {{- if eq .Authentication "recovery_code" }}
      <form 
        class="text-left text-sm"
        method="post"
        novalidate
        data-controller="turbo-form"
        data-action="submit->turbo-form#submitForm"
      >
        {{ $.CSRFField }}
        <input type="hidden" name="x_index" value="{{ .Index }}">
        <input type="hidden" name="x_channel" value="{{ .Channel }}">
        <input type="hidden" name="x_action" value="take_branch">
        <button class="secondary-btn w-full flex gap-x-2" type="submit">
          <span class="material-icons secondary-btn__icon">key_vertical</span>
          {{ template "v2-enter-recovery-code-instead" }}
        </button>
      </form>
    {{- end }}
  {{- end }}
{{- end }}

{{- range $.Branches }}
  {{- if eq .Authentication "recovery_code" -}}
  {{ else }}
  <form 
    method="post"
    novalidate
    data-controller="turbo-form"
    data-action="submit->turbo-form#submitForm"
  >
  {{ $.CSRFField }}
  <input type="hidden" name="x_index" value="{{ .Index }}">
  <input type="hidden" name="x_channel" value="{{ .Channel }}">
  <input type="hidden" name="x_action" value="take_branch">
  <button class="secondary-btn w-full flex gap-x-2" type="submit">
    {{- if eq $.ActionType "create_authenticator" }}
      {{- if eq .Authentication "primary_password" }}
        <span class="material-icons secondary-btn__icon">key_vertical</span>
        {{ template "v2-setup-password-instead" }}
      {{- end }}
      {{- if eq .Authentication "secondary_password" }}
        <span class="material-icons secondary-btn__icon">key_vertical</span>
        {{ template "v2-setup-secondary-password-instead" }}
      {{- end }}
      {{- if eq .Authentication "secondary_totp" }}
        <span class="material-icons secondary-btn__icon">qr_code</span>
        {{ template "v2-setup-totp-instead" }}
      {{- end }}
      {{- if eq .Authentication "primary_oob_otp_email" }}
        <span class="material-icons secondary-btn__icon">mail</span>
        {{- if .VerificationSkippable }}
          {{ template "v2-setup-oob-otp-without-verification" (dict "target" .MaskedClaimValue) }}
        {{ else }}
          {{- if eq .OTPForm "code" }}
            {{ template "v2-setup-email-otp-code-instead" }}
          {{- end }}
          {{- if eq .OTPForm "link" }}
            {{ template "v2-setup-email-otp-link-instead" }}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- if eq .Authentication "secondary_oob_otp_email" }}
        <span class="material-icons secondary-btn__icon">mail</span>
        {{- if .VerificationSkippable }}
          {{ template "v2-setup-oob-otp-without-verification" (dict "target" .MaskedClaimValue) }}
        {{ else }}
          {{- if eq .OTPForm "code" }}
            {{ template "v2-setup-email-otp-code-instead" }}
          {{- end }}
          {{- if eq .OTPForm "link" }}
            {{ template "v2-setup-email-otp-link-instead" }}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- if eq .Authentication "primary_oob_otp_sms" }}
        {{- if .VerificationSkippable }}
          <span class="material-icons secondary-btn__icon">phone_iphone</span>
          {{ template "v2-setup-oob-otp-without-verification" (dict "target" .MaskedClaimValue) }}
        {{ else }}
          {{- if eq .Channel "sms" }}
            <span class="material-icons secondary-btn__icon">phone_iphone</span>
            {{ template "v2-setup-phone-otp-sms-instead" }}
          {{- end }}
          {{- if eq .Channel "whatsapp" }}
            <span class="sso-icon whatsapp-icon secondary-btn__icon"></span>
            {{ template "v2-setup-phone-otp-whatsapp-instead" }}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- if eq .Authentication "secondary_oob_otp_sms" }}
        {{- if .VerificationSkippable }}
          <span class="material-icons secondary-btn__icon">phone_iphone</span>
          {{ template "v2-setup-oob-otp-without-verification" (dict "target" .MaskedClaimValue) }}
        {{ else }}
          {{- if eq .Channel "sms" }}
            <span class="material-icons secondary-btn__icon">phone_iphone</span>
            {{ template "v2-setup-phone-otp-sms-instead" }}
          {{- end }}
          {{- if eq .Channel "whatsapp" }}
            <span class="sso-icon whatsapp-icon secondary-btn__icon"></span>
            {{ template "v2-setup-phone-otp-whatsapp-instead" }}
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}

    {{- if eq $.ActionType "authenticate" }}
      {{- if eq .Authentication "primary_password" }}
        <span class="material-icons secondary-btn__icon">key_vertical</span>
        {{ template "v2-enter-password-instead" }}
      {{- end }}
      {{- if eq .Authentication "secondary_password" }}
        <span class="material-icons secondary-btn__icon">key_vertical</span>
        {{ template "v2-enter-secondary-password-instead" }}
      {{- end }}
      {{- if eq .Authentication "primary_passkey" }}
        <span class="material-icons secondary-btn__icon">passkey</span>
        {{ template "v2-use-passkey-instead" }}
      {{- end }}
      {{- if eq .Authentication "secondary_totp" }}
        <span class="material-icons secondary-btn__icon">qr_code</span>
        {{ template "v2-enter-totp-instead" }}
      {{- end }}
      {{- if ( or (eq .Authentication "primary_oob_otp_email") (eq .Authentication "secondary_oob_otp_email")) }}
        {{- if eq .OTPForm "code" }}
        <span class="material-icons secondary-btn__icon">mail</span>
        {{ template "v2-enter-email-otp-code-instead" }}
        {{- end }}
        {{- if eq .OTPForm "link" }}
        <span class="material-icons secondary-btn__icon">mail</span>
        {{ template "v2-use-email-otp-link-instead" }}
        {{- end }}
      {{- end }}
      {{- if (or (eq .Authentication "primary_oob_otp_sms") (eq .Authentication "secondary_oob_otp_sms")) }}
        {{- if eq .Channel "sms" }}
        <span class="material-icons secondary-btn__icon">phone_iphone</span>
        {{ template "v2-enter-phone-otp-sms-instead" }}
        {{- end }}
        {{- if eq .Channel "whatsapp" }}
        <span class="sso-icon whatsapp-icon secondary-btn__icon"></span>
        {{ template "v2-enter-phone-otp-whatsapp-instead" }}
        {{- end }}
      {{- end }}
    {{- end }}

    {{- if eq $.ActionType "verify" }}
      {{- if eq .Channel "sms" }}
        <span class="material-icons secondary-btn__icon">phone_iphone</span>
        {{ template "v2-enter-phone-otp-sms-instead" }}
      {{- end }}
      {{- if eq .Channel "whatsapp" }}
        <span class="sso-icon whatsapp-icon secondary-btn__icon"></span>
        {{ template "v2-enter-phone-otp-whatsapp-instead" }}
      {{- end }}
    {{- end }}

    </button>
  </form>
  {{ end }}
{{- end }}

</div>

{{- end }}
