<!-- Example usage:
{{ template "authflowv2/__base_header.html"
  (dict
    "ContainerClass" "brand-logo__container"
    "LogoClass" "brand-logo"
  )
}}
-->
{{ define "authflowv2/__base_header.html" }}

{{/* Always initialize src to an empty string */}}
{{ $light := "" }}
{{ $dark := "" }}

{{ if $.LightThemeEnabled }}
  {{ $light = call $.StaticAssetURL "app-logo" }}
{{ end }}

{{ if $.DarkThemeEnabled }}
  {{ $dark = call $.StaticAssetURL "app-logo-dark" }}
{{ end }}

{{ if $.ClientURI }}
<a class="{{ $.ContainerClass }} light" href="{{ $.ClientURI }}">
    <img
      class="{{ $.LogoClass }} light"
      src="{{ $light }}"
      data-controller="previewable-resource"
      data-previewable-resource-key-value="brand-logo-light"
      data-previewable-resource-changable-attribute-value="src"
      data-previewable-resource-original-value="{{ .light }}"
    >
  </a>
  <a class="{{ $.ContainerClass }} dark" href="{{ $.ClientURI }}">
    <img
      class="{{ $.LogoClass }} dark"
      src="{{ $dark }}"
      data-controller="previewable-resource"
      data-previewable-resource-key-value="brand-logo-dark"
      data-previewable-resource-changable-attribute-value="src"
      data-previewable-resource-original-value="{{ .dark }}"
    >
  </a>
{{ else }}
  <div class="{{ $.ContainerClass }} light">
    <img
      class="{{ $.LogoClass }} light"
      src="{{ $light }}"
      data-controller="previewable-resource"
      data-previewable-resource-key-value="brand-logo-light"
      data-previewable-resource-changable-attribute-value="src"
      data-previewable-resource-original-value="{{ .light }}"
    >
  </div>
  <div class="{{ $.ContainerClass }} dark">
    <img
      class="{{ $.LogoClass }} dark"
      src="{{ $dark }}"
      data-controller="previewable-resource"
      data-previewable-resource-key-value="brand-logo-dark"
      data-previewable-resource-changable-attribute-value="src"
      data-previewable-resource-original-value="{{ .dark }}"
    >
  </div>
{{ end }}

{{ end }}
