<!-- Example usage:
{{ template "authflowv2/__brand_logo.html"
  (dict
    "LogoClass" "brand-logo"
  )
}}
-->
{{ define "authflowv2/__brand_logo.html" }}

{{/* Always initialize src to an empty string */}}
{{ $light := "" }}
{{ $dark := "" }}

{{ if $.LightThemeEnabled }}
  {{ $light = call $.StaticAssetURL "app-logo" }}
{{ end }}

{{ if $.DarkThemeEnabled }}
  {{ $dark = call $.StaticAssetURL "app-logo-dark" }}
{{ end }}

{{ if $.ClientURI }}
  <div 
    class="brand-logo__container light"
    data-src="{{ $light }}"
    data-controller="previewable-resource"
    data-previewable-resource-key-value="brand-logo-light"
    data-previewable-resource-changable-attribute-value="data-src"
    data-previewable-resource-original-value="{{ .light }}"
  >
    <a href="{{ $.ClientURI }}">
      <img
        class="brand-logo {{ $.LogoClass }} light"
        src="{{ $light }}"
        data-controller="previewable-resource"
        data-previewable-resource-key-value="brand-logo-light"
        data-previewable-resource-changable-attribute-value="src"
        data-previewable-resource-original-value="{{ .light }}"
      >
    </a>
  </div>
  <div 
    class="brand-logo__container dark"
    data-src="{{ $dark }}"
    data-controller="previewable-resource"
    data-previewable-resource-key-value="brand-logo-dark"
    data-previewable-resource-changable-attribute-value="data-src"
    data-previewable-resource-original-value="{{ .dark }}"
  >
    <a href="{{ $.ClientURI }}">
      <img
        class="brand-logo {{ $.LogoClass }} dark"
        src="{{ $dark }}"
        data-controller="previewable-resource"
        data-previewable-resource-key-value="brand-logo-dark"
        data-previewable-resource-changable-attribute-value="src"
        data-previewable-resource-original-value="{{ .dark }}"
      >
    </a>
  </div>
{{ else }}
  <div
    class="brand-logo__container light"
    data-src="{{ $light }}"
    data-controller="previewable-resource"
    data-previewable-resource-key-value="brand-logo-light"
    data-previewable-resource-changable-attribute-value="data-src"
    data-previewable-resource-original-value="{{ .light }}"
  >
    <img
      class="brand-logo {{ $.LogoClass }} light"
      src="{{ $light }}"
      data-controller="previewable-resource"
      data-previewable-resource-key-value="brand-logo-light"
      data-previewable-resource-changable-attribute-value="src"
      data-previewable-resource-original-value="{{ .light }}"
    >
  </div>
  <div
    class="brand-logo__container dark"
    data-src="{{ $dark }}"
    data-controller="previewable-resource"
    data-previewable-resource-key-value="brand-logo-dark"
    data-previewable-resource-changable-attribute-value="data-src"
    data-previewable-resource-original-value="{{ .dark }}"
  >
    <img
      class="brand-logo {{ $.LogoClass }} dark"
      src="{{ $dark }}"
      data-controller="previewable-resource"
      data-previewable-resource-key-value="brand-logo-dark"
      data-previewable-resource-changable-attribute-value="src"
      data-previewable-resource-original-value="{{ .dark }}"
    >
  </div>
{{ end }}

{{ end }}
