<!-- Example usage:
  {{ template "authflowv2/__dialog.html" (dict
    "Ctx" .
    "ClassName" "h-full"
    "DialogID" "bot-protection-dialog"
    "DialogControllerStr" "cloudflare-turnstile"
    "DialogContent" (include "dialog-content" .)
  ) }}

  {{ define "dialog-content" }}
    <div class="dialog">
      {{ template "dialog-close-btn" (dict "Class" "close-btn") }}
      content................
    </div>
  {{ end }}

-->
{{ define "authflowv2/__dialog.html" }}
<div
  class="dialog-backdrop"
  role="dialog"
  id="{{ $.DialogID }}"
  data-controller="dialog {{ $.DialogControllerStr }}"
  aria-modal="true"
  data-action="click->dialog#closeOnBackgroundClick"
  {{ template "dialog-attr" $.Ctx }}
>
  <div class="dialog {{ $.ClassName }}">
    {{ $.DialogContent }}
  </div>
</div>
{{ end }}

{{ define "dialog-close-btn" }}
  <button class="{{ $.Class }}" data-action="click->dialog#closeOnCrossBtnClick"></button>
{{ end }}
