{{- define "authflowv2/__error.html" -}}
{{ $dict := (dict "IdentityTypeIncoming" "other") }}
  {{ $display_error := false }}
  {{ if .Error }}
    {{ $display_error = true }}
  {{ end }}
  {{- if $display_error -}}
    {{ $info := .Error.info }}
    {{ if eq .Error.reason "PasswordPolicyViolated" }}
      {{ $general_policy_error := false }}
      {{ $contain_excluded_keywords_policy_error := false }}
      {{ $reused_error := false }}
      {{ range .Error.info.causes }}
        {{ if eq .Name "PasswordContainingExcludedKeywords" }}
          {{ $contain_excluded_keywords_policy_error = true }}
        {{ else if eq .Name "PasswordReused" }}
          {{ $reused_error = true }}
        {{ else }}
          {{ $general_policy_error = true }}
        {{ end }}
      {{ end }}
      {{ if $general_policy_error }}
        <span>
          {{ include "v2.error.password-policy-violated" nil }}
        </span>
      {{ else if $contain_excluded_keywords_policy_error }}
        <span>
          {{ include "v2.error.password-policy-disallowed-keywords" nil }}
        </span>
      {{ else if $reused_error }}
        {{ range .PasswordPolicies }}
          {{ if eq .Name "PasswordReused" }}
            <span>
              {{ include "v2.error.password-policy-reuse" (dict "size" .Info.history_size "day" .Info.history_days) }}
            </span>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ else if eq .Error.reason "ValidationFailed" }}
      {{ range .Error.info.causes }}
        {{ $details := .details }}
        {{ if (eq .kind "required") }}
          {{ $is_missing_login_id := false }}
          {{ range (list "q_login_id" "x_login_id" "x_username") }}
            {{ if (call $.SliceContains $details.missing .) }}
              {{ $is_missing_login_id = true}}
            {{ end }}
          {{ end }}
          {{ if $is_missing_login_id }}
            <span>
              {{ include "v2.error.login-id-required" (dict "variant" $.LoginIDContextualType) }}
            </span>
          {{ else if (call $.SliceContains .details.missing "x_password" ) }}
            <span>{{ include "v2.error.password-required" nil }}</span>
          {{ else if (call $.SliceContains .details.missing "x_oob_otp_code" ) }}
            <span>{{ include "v2.error.oob-otp-code-required" nil }}</span>
          {{ else if (call $.SliceContains .details.missing "x_totp_code" ) }}
            <span>{{ include "v2.error.totp-code-required" nil }}</span>
          {{ else if (call $.SliceContains .details.missing "x_verification_code" ) }}
            <span>{{ include "v2.error.verification-code-required" nil }}</span>
          {{ else if (call $.SliceContains .details.missing "x_recovery_code" ) }}
            <span>{{ include "v2.error.recovery-code-required" nil }}</span>
          {{ else if (call $.SliceContains .details.missing "x_old_password" ) }}
            <span>{{ include "v2.error.old-password-required" nil }}</span>
          {{ else if (call $.SliceContains .details.missing "x_new_password" ) }}
            <span>{{ include "v2.error.new-password-required" nil }}</span>
          {{ else if (call $.SliceContains .details.missing "x_confirm_password" ) }}
            <span>{{ include "v2.error.confirm-password-required" nil }}</span>
          {{ else if (call $.SliceContains .details.missing "x_email" ) }}
            <span>{{ include "v2.error.email-required" nil }}</span>
          {{ else if (call $.SliceContains .details.missing "x_e164" ) }}
            <span>{{ include "v2.error.phone-number-required" nil }}</span>
          {{ else if (call $.SliceContains .details.missing "x_target" ) }}
            {{ if eq $.OOBAuthenticatorType "oob_otp_email" }}
            <span>{{ include "v2.error.email-required" nil }}</span>
            {{ else }}
            <span>{{ include "v2.error.phone-number-required" nil }}</span>
            {{ end }}
          {{ else if (call $.SliceContains .details.missing "x_bot_protection_provider_response" ) }}
            <span>{{ include "v2.error.bot-protection-required" nil }}</span>
          {{ else }}
            <span>
              {{ $.Error.message }}
            </span>
          {{ end }}
        {{ else if (eq .kind "format") }}
          {{ if (eq .details.format "phone") }}
            <span>{{ include "v2.error.phone-number-format" nil }}</span>
          {{ else if (eq .details.format "email") }}
            <span>{{ include "v2.error.invalid-email" nil }}</span>
          {{ else if (eq .details.format "username") }}
            <span>{{ include "v2.error.invalid-username" nil }}</span>
          {{ else if (eq .details.format "x_totp_code") }}
            <span>{{ include "v2.error.totp-code-format" nil }}</span>
          {{ else if (eq .details.format "x_oob_otp_code") }}
            <span>{{ include "v2.error.oob-otp-code-format" nil }}</span>
          {{ else if (eq .details.format "x_verification_code") }}
            <span>{{ include "v2.error.verification-code-format" nil }}</span>
          {{ else if (eq .details.format "x_recovery_code") }}
            <span>{{ include "v2.error.recovery-code-format" nil }}</span>
          {{ else if (eq .details.format "uri") }}
            <span>{{ include "v2.error.uri-format" nil }}</span>
          {{ else }}
            <span>{{ .Error.message }}</span>
          {{ end }}
        {{ else if (eq .kind "maxLength") }}
          <span>
            {{ include "v2.error.max-length" (dict "expected" .details.expected) }}
          </span>
        {{ else if (eq .kind "blocked") }}
          {{ if (or (eq .details.reason "EmailDomainBlocklist") (eq .details.reason "EmailDomainAllowlist")) }}
            <span>{{ include "v2.error.email-not-allowed" nil }}</span>
          {{ else if (or (eq .details.reason "UsernameReserved") (eq .details.reason "UsernameExcludedKeywords")) }}
            <span>{{ include "v2.error.username-not-allowed" nil }}</span>
          {{ else if (eq .details.reason "PhoneNumberCountryCodeAllowlist") }}
            <span>{{ include "v2.error.phone-number-not-allowed" nil }}</span>
          {{ else }}
            <span>{{ .details.reason }}</span>
          {{ end }}
        {{ else if (eq .kind "type") }}
          <span>
            {{ include "v2.error.type" (dict "expected" (index .details.expected 0)) }}
          </span>
        {{ else if (eq .kind "minimum") }}
          <span>{{ include "v2.error.minimum" (dict "minimum" .details.minimum) }}</span>
        {{ else if (eq .kind "maximum") }}
          <span>{{ include "v2.error.maximum" (dict "maximum" .details.maximum) }}</span>
        {{ else if (eq .kind "general") }}
          <span>{{ .details.msg }}</span>
        {{ else }}
          <span>{{ $.Error.message }}</span>
        {{ end }}
      {{ end }}
    {{ else if eq .Error.reason "UserNotFound" }}
      {{ template "authflowv2/__error_account" . }}
    {{ else if eq .Error.reason "InvalidCredentials" }}
      <span>
        {{ include "v2.error.invalid-credentials" (dict "AuthenticationType" $info.AuthenticationType) }}
      </span>
    {{ else if eq .Error.reason "PasswordResetFailed" }}
      {{ if and (.Error.info) (eq .Error.info.otp_form "code") }}
        <span>{{ include "v2.error.invalid-credentials" nil }}</span>
      {{ else }}
        <span>{{ include "v2.error.password-reset-failed-description" nil }}</span>
      {{ end }}
    {{ else if eq .Error.reason "NewPasswordTypo" }}
      <span>{{ include "v2.error.new-password-typo" nil }}</span>
    {{ else if eq .Error.reason "StandardAttributesEmailRequired" }}
      {{ if .Error.info.ProviderType }}
        {{ if eq .Error.info.ProviderType "github" }}
          <span>{{ include "v2.error.email-required-github" nil }}</span>
        {{ else }}
          <span>{{ include "v2.error.developer-email-required" nil }}</span>
        {{ end }}
      {{ else }}
        <span>{{ include "v2.error.developer-email-required" nil }}</span>
      {{ end }}
    {{ else if eq .Error.reason "AccountManagementDuplicatedIdentity" }}
      {{ $dict := (dict "IdentityTypeIncoming" "other") }}
      <span>{{ include "v2.error.account-conflict" $dict }}</span>
    {{ else if eq .Error.reason "InvariantViolated" }}
      {{ $cause := .Error.info.cause }}
      {{ if (eq $cause.kind "RemoveLastIdentity") }}
        <span>{{ include "v2.error.remove-last-identity" nil }}</span>
      {{ else if (eq $cause.kind "RemoveLastPrimaryAuthenticator") }}
        <span>{{ include "v2.error.remove-last-primary-authenticator" nil }}</span>
      {{ else if (eq $cause.kind "RemoveLastSecondaryAuthenticator") }}
        <span>{{ include "v2.error.remove-last-secondary-authenticator" nil }}</span>
      {{ else if (eq $cause.kind "DuplicatedIdentity") }}
        {{ template "authflowv2/__error_account" . }}
      {{ else if (eq $cause.kind "DuplicatedAuthenticator") }}
        <span>
          {{ include "v2.error.duplicated-authenticator" (dict "AuthenticatorType"
          $cause.AuthenticatorType) }}
        </span>
      {{ else if (eq $cause.kind "MismatchedUser") }}
        <span>{{ include "v2.error.developer-reauthentication" nil }}</span>
      {{ else if (eq $cause.kind "NoAuthenticator") }}
        <span>{{ include "v2.error.no-authenticator" nil }}</span>
      {{ else }}
        <span>{{ .Error.message }}</span>
      {{ end }}
    {{ else if eq .Error.reason "InvalidVerificationCode" }}
      <span>
        {{ include "v2.error.verification-code-invalid" nil }}
      </span>
    {{ else if eq .Error.reason "RateLimited" }}
      {{ if eq .Error.info.bucket_name "MessagingSMSPerTarget" }}
        <span>{{ include "v2.error.sms-send-limit-exceeded" nil }}</span>
      {{ else if eq .Error.info.bucket_name "MessagingSMSPerIP" }}
        <span>{{ include "v2.error.sms-send-limit-exceeded" nil }}</span>
      {{ else if eq .Error.info.bucket_name "MessagingSMS" }}
        <span>{{ include "v2.error.sms-send-limit-exceeded" nil }}</span>
      {{ else }}
        <span>{{ include "v2.error.rate-limited" nil }}</span>
      {{ end }}
    {{ else if eq .Error.reason "AccountLockout" }}
      <!-- We need to render a full-screen modal for this case, done in __lockout.html instead -->
    {{ else if eq .Error.reason "UsageLimitExceeded" }}
      <span>{{ include "v2.error.usage-limit-exceeded" nil }}</span>
    {{ else if eq .Error.reason "SMSNotSupported" }}
      <span>
        {{/* TODO: replace `include` with `translateText` */}}
        {{ if ($.Translations.HasKey "customer-support-link") }} {{ include
        "v2.error.oob-otp-sms-not-supported-with-customer-support" (dict
        "customerSupportLink" (include "customer-support-link" nil)) }} {{ else }} {{ include "v2.error.oob-otp-sms-not-supported" nil }} {{ end
        }}
      </span>
    {{ else if eq .Error.reason "WebHookDisallowed" }}
      {{ $error_reason := index .Error.info.reasons 0 }}
      <span>
        {{ if $error_reason.title }} {{ $error_reason.title }} {{ else }}
        <!-- title is not provided, use default title -->
        {{ if eq .Error.info.event_type "pre_signup" }}
          {{ include "v2.error.webhook-pre-signup-disallowed" nil }}
        {{ else }}
          {{ include "v2.error.webhook-disallowed" nil }}
        {{ end }}
    {{ end }}
    {{ if $error_reason.reason }}
        <br />
        {{ $error_reason.reason }} {{ end }}
      </span>
    {{ else if eq .Error.reason "WebHookInvalidResponse" }}
      <span>{{ include "v2.error.webhook-invalid-response" nil }}</span>
    {{ else if eq .Error.reason "WebHookDeliveryTimeout" }}
      <span>{{ include "v2.error.webhook-delivery-timeout" nil }}</span>
    {{ else if eq .Error.reason "InvalidNetwork" }}
      <span>
        {{ include "v2.error.invalid-web3-network" (dict "chainID"
        $info.expected_chain_id) }}
      </span>
    {{ else if eq .Error.reason "InvalidWhatsappUser" }}
      <span>{{ include "v2.error.invalid-whatsapp-user" nil }}</span>
    {{ else if eq .Error.reason "NoAvailableWhatsappClient" }}
      <span>{{ include "v2.error.no-available-whatsapp-client" nil }}</span>
    {{ else if eq .Error.reason "ChangePasswordFailed" }}
      {{ $cause := .Error.info.cause }}
        {{ if (eq $cause.kind "PasswordReused") }}
        <span>{{ include "v2.error.password-change-password-reused" nil }}</span>
        {{ else }}
        <span>{{ .Error.message }}</span>
        {{ end }}
    {{ else if eq .Error.reason "AuthenticationFlowDifferentUserID" }}
      <span>{{ include "v2.error.unexpected-user" nil }}</span>
    {{ else if eq .Error.reason "BotProtectionVerificationFailed" }}
      <span>{{ include "v2.error.bot-protection-verification-failed" nil }}</span>
    {{ else }}
      <span>{{ include "v2.error.unknown" nil }}{{ call $.LogUnknownError .Error }}</span>
    {{ end }}
  {{- end -}}
{{- end -}}

{{ define "authflowv2/__error_account" }}
  {{ $info := $.Error.info }}
  {{ $dict :=
    (dict
      "FlowType" $info.FlowType
      "IdentityTypeIncoming" $info.IdentityTypeIncoming
      "LoginIDTypeIncoming" $info.LoginIDTypeIncoming
      "OAuthProviderTypeIncoming" $info.OAuthProviderTypeIncoming
      "IdentityTypeExisting" $info.IdentityTypeExisting
      "LoginIDTypeExisting" $info.LoginIDTypeExisting
      "OAuthProviderTypeExisting" $info.OAuthProviderTypeExisting
      "OAuthProviderNameIncoming" (include "v2.error.error-account-not-found-oauth-provider-name" (dict "OAuthProviderType" $info.OAuthProviderTypeIncoming))
      "OAuthProviderNameExisting" (include "v2.error.error-account-not-found-oauth-provider-name" (dict "OAuthProviderType" $info.OAuthProviderTypeExisting))
      "LoginIDNameIncoming" (include "v2.error.error-account-not-found-login-id-name" (dict "LoginIDType" $info.LoginIDTypeIncoming "LoginIDKey" $.LoginIDKey))
      "LoginIDNameExisting" (include "v2.error.error-account-not-found-login-id-name" (dict "LoginIDType" $info.LoginIDTypeExisting "LoginIDKey" $.LoginIDKey))
    )
  }}
  {{/* Determine whether it is a conflict */}}
  {{ $is_conflict := true }}
  {{ if not $info.IdentityTypeExisting }}
    {{ $is_conflict = false }}
  {{ end }}
  {{/* Tell the end-user the account is not found if there is no conflict */}}
  {{ if not $is_conflict }}
    <span>{{ include "v2.error.account-not-found" $dict }}</span>
  {{ end }}
  {{/* Tell the end-user these is a conflict */}}
  {{/* and give suggestion contextually */}}
  {{ if $is_conflict }}
    {{ $suggest_oauth := true }}
    {{ if and (ne $info.IdentityTypeExisting "oauth") (ne $info.IdentityTypeIncoming "oauth") }}
      {{ $suggest_oauth = false }}
    {{ end }}
    {{ if eq $info.OAuthProviderTypeExisting $info.OAuthProviderTypeIncoming }}
      {{ $suggest_oauth = false }}
    {{ end }}
    <span>
      {{ include "v2.error.account-conflict" $dict }}
      {{ if $suggest_oauth }}
        {{ include "v2.error.suggestion-account-conflict-oauth" $dict }}
      {{ else }}
        {{ include "v2.error.suggestion-account-conflict-login-id" $dict }}
      {{ end }}
    </span>
  {{ end }}
{{ end }}
