{{- define "authflowv2/__forgot_password_alternatives.html" }}

{{- if (len $.AlternativeChannels) }}
{{ template "authflowv2/__divider.html" . }}
{{- end }}

{{- if (len $.AlternativeChannels) }}
<div class="flex flex-col gap-y-4">
{{- range $.AlternativeChannels }}
  <form
    method="post"
    novalidate
    data-controller="turbo-form"
    data-action="submit->turbo-form#submitForm"
  >
    {{ $.CSRFField }}
    <input type="hidden" name="x_index" value="{{ .Index }}">
    <input type="hidden" name="x_action" value="select_channel">
    <button class="secondary-btn w-full flex gap-x-2" type="submit">
      {{- if eq .Channel "sms" }}
        <span class="material-icons secondary-btn__icon">phone_iphone</span>
        {{ template "v2.page.forgot-password-otp.default.alternatives-sms-otp" }}
      {{- end }}
      {{- if eq .Channel "whatsapp" }}
        <span class="sso-icon whatsapp-icon secondary-btn__icon"></span>
        {{ template "v2.page.forgot-password-otp.default.alternatives-whatsapp-otp" }}
      {{- end }}
    </button>
  </form>
{{- end }}
</div>
{{- end }}

{{- end}}
