{{/* Example usage:
  <form
    id="main-form"
    method="post"
    novalidate
    data-restore-form="false"
    data-controller="turbo-form"
    data-action="submit->turbo-form#submitForm"
  >
    {{ template "authflowv2/__image_input.html"
      (dict
        "FormName"     "main-form"
        "SubmitEvent"  "authgear.button.enter_face_image"
      )
    }}
  </form>
 */}}

{{ define "authflowv2/__image_input.html" }}
<div
  class="flex flex-col gap-4"
  data-controller="image-input"
>
  <noscript>
    {{ $noscript_alert_msg := (include "v2.component.image-input.default.noscript" nil) }}
    {{ template "authflowv2/__alert_message.html"
      (dict
        "Type" "error"
        "Classname" "mt-4"
        "Message" $noscript_alert_msg
      )
    }}
  </noscript>
  <div data-image-input-target="cameraContainer" class="camera-container">
    <div data-image-input-target="cameraInitial" class="camera-initial">
      <div>
        <span class="material-icons secondary-btn__icon">person</span>
        <span>{{ include "v2.component.image-input.default.idle-description-avoid-smile" nil }}</span>
      </div>
      <div>
        <span class="material-icons secondary-btn__icon">no_photography</span>
        <span>{{ include "v2.component.image-input.default.idle-description-not-profile-pic" nil }}</span>
      </div>
      <div>
        <span class="material-icons secondary-btn__icon">security</span>
        <span>{{ include "v2.component.image-input.default.idle-description-secure-photo" nil }}</span>
      </div>  
    </div>
    <video data-image-input-target="cameraVideo">Video stream not available.</video>
  </div>
  <canvas data-image-input-target="canvas" class="hidden"></canvas>
  <input 
    class="hidden"
    form="{{ $.FormName }}"
    type="text"
    name="x_b64_image"
    required
    data-image-input-target="input"
  />
  <button
    class="primary-btn w-full"
    type="button"
    name="{{ or $.OpenCameraButtonName "x_action" }}"
    value="{{ or $.OpenCameraButtonValue "button" }}"
    data-action="image-input#openCamera"
  > 
    {{ include "v2.component.button.default.label-open-camera" nil }}
  </button>

  <button
    class="hidden"
    type="submit"
    name="x_action"
    value="submit"
    data-authgear-event="authgear.button.enter_face_image"
    data-image-input-target="formSubmitBtn"
    tabindex="-1"
  ></button>
</div>
{{ end }}
