{{- define "authflowv2/__lockout.html" -}}
{{ if $.Error }}
  {{ if eq .Error.reason "AccountLockout" }}

  <dialog class="modal" data-controller="dialog" open>
    <div class="modal__content gap-y-4">
      <span class="material-icons screen-icon">account_circle_off</span>
      <h1 class="screen-title mt-2">
        {{ template "v2-lockout-title" }}
      </h1>
      <h2 class="screen-description">
        {{ template "v2-lockout-subtitle" }}
      </h2>
    </div>

    {{ $until := (ensureTime .Error.info.until) }}
    <div class="modal__actions mt-14">
      <button
        class="primary-btn w-full"
        data-action="click->dialog#close"
        data-controller="countdown"
        data-countdown-target="button"
        data-countdown-cooldown-until-value="{{ (rfc3339 $until) }}"
        data-countdown-label-value="{{ template "v2-lockout-retry-button-label" . }}"
        data-countdown-label-unit-value="{{ template "v2-lockout-retry-button-label--unit" . }}"
      ></button>
    </div>
  </dialog>

  {{ end }}
{{ end }}
{{ end }}
