{{ define "authflowv2/__navbar.html" }}
<nav class="navbar">
  <h1 class="navbar__title" title="{{ $.Title }}">
    <span class="navbar__title-text">{{ $.Title }}</span>
  </h1>

  {{ if not $.Context.IsSettingsAction }}
    <a
      class="navbar__item inline-flex items-center justify-center gap-x-3"
      title="{{ .BackTitle }}"
      href="{{ .BackHref }}"
      data-turbo-action="replace"
    >
      <span class="hidden tablet:inline-block">{{ .BackTitle }}</span>
    </a>
  {{ end }}
</nav>
{{ end }}
