{{/* Expected usage:
    {{ template "authflowv2/__new_password_field.html" (dict
      "Ctx" $
      "NewPasswordInputName" "x_password"
      "ConfirmPasswordInputName" "x_confirm_password"
      "AutoFocus" $.ShouldFocusInput
      "PasswordRules" $.PasswordRulesString
      "PasswordPolicies" $.PasswordPolicies
      "HasNewPasswordError" $has_pw_err
      "NewPasswordErrorMessage" $pw_error_message
      "HasConfirmPasswordError" $has_confirm_pw_err
      "ConfirmPasswordErrorMessage" $confirm_pw_error_message
    )
    }}
 */}}
{{ define "authflowv2/__new_password_field.html" }}

{{ $new_pw_input_classname := "" }}
{{ if $.HasNewPasswordError }}
  {{ $new_pw_input_classname = "input--error" }}
{{ end }}

{{ $confirm_pw_input_classname := "" }}
{{ if $.HasConfirmPasswordError }}
  {{ $confirm_pw_input_classname = "input--error" }}
{{ end }}

<div
  data-controller="password-policy new-password-field"
  data-new-password-field-confirm-password-error-message-value='{{ include "v2.error.new-password-typo" nil }}'
  class="flex flex-col gap-y-4 {{ $.Classname }}">
  <div
    class="flex flex-col gap-y-2"
    data-controller="text-field"
  >
    {{ template "authflowv2/__password_input.html"
      (dict
        "Classname" $new_pw_input_classname
        "Name" $.NewPasswordInputName
        "Type" "new-password"
        "AutoFocus" $.AutoFocus
        "PasswordRules" $.PasswordRules
        "InputAttrs" `
          data-text-field-target="input"
          data-password-policy-target="input"
          data-action="password-policy#check"
          data-new-password-field-target="newPasswordInput"
        `
      )
    }}
    {{ $pw_input_error_class := "input__error-message"}}
    {{ if (not $.NewPasswordErrorMessage) }}
      {{ $pw_input_error_class = printf "%s %s" $pw_input_error_class "hidden" }}
    {{ end }}
    <p class="{{ $pw_input_error_class }}" data-text-field-target="errorMessage">
      {{ $.NewPasswordErrorMessage }}
    </p>
  </div>

  <div
    class="flex flex-col gap-y-2"
    data-controller="text-field"
  >
    {{ template "authflowv2/__password_input.html"
      (dict
        "Classname" $confirm_pw_input_classname
        "Name" $.ConfirmPasswordInputName
        "Type" "confirm-password"
        "InputAttrs" `
          data-text-field-target="input"
          data-new-password-field-target="confirmPasswordInput"
        `
      )
    }}
    {{ $confirm_input_error_class := "input__error-message"}}
    {{ if (not $.ConfirmPasswordErrorMessage) }}
      {{ $confirm_input_error_class = printf "%s %s" $confirm_input_error_class "hidden" }}
    {{ end }}
    <p
      class="{{ $confirm_input_error_class }}"
      data-text-field-target="errorMessage"
      data-new-password-field-target="confirmPasswordError">
      {{ $.ConfirmPasswordErrorMessage }}
    </p>
  </div>

  {{ template "authflowv2/__password_policy.html" (dict
    "PasswordPolicies" $.PasswordPolicies
  ) }}
</div>

{{ end }}
