{{ define "authflowv2/__new_password_field.html" }}

{{ $has_new_pw_err := not (isNil $.NewPasswordError)}}
{{ $has_confirm_pw_err := not (isNil $.ConfirmPasswordError)}}

{{ $new_pw_input_classname := "" }}
{{ if $has_new_pw_err }}
  {{ $new_pw_input_classname = "input--error" }}
{{ end }}

{{ $confirm_pw_input_classname := "" }}
{{ if $has_confirm_pw_err }}
  {{ $confirm_pw_input_classname = "input--error" }}
{{ end }}

<div
  data-controller="password-policy new-password-field"
  data-new-password-field-confirm-password-error-message-value='{{ include "v2.error.new-password-typo" nil }}'
  class="flex flex-col gap-y-4 {{ $.Classname }}">
  <div
    class="flex flex-col gap-y-2"
    data-controller="text-field"
  >
    {{ template "authflowv2/__password_input.html"
      (dict
        "Classname" $new_pw_input_classname
        "Name" $.NewPasswordInputName
        "Type" "new-password"
        "AutoFocus" $.AutoFocus
        "PasswordRules" $.PasswordRules
        "InputAttrs" `
          data-text-field-target="input"
          data-password-policy-target="input"
          data-action="password-policy#check"
          data-new-password-field-target="newPasswordInput"
        `
      )
    }}
    {{ $has_pw_input_err_msg := $has_new_pw_err }}
    {{ $pw_input_error_class := "input__error-message"}}
    {{ if not $has_pw_input_err_msg }}
      {{ $pw_input_error_class = printf "%s %s" $pw_input_error_class "hidden" }}
    {{ end }}
    <p class="{{ $pw_input_error_class }}" data-text-field-target="errorMessage">
    {{ template "authflowv2/__error.html" (merge (dict "Error" $.NewPasswordError) $.Ctx) }}
    </p>
  </div>

  <div
    class="flex flex-col gap-y-2"
    data-controller="text-field"
  >
    {{ template "authflowv2/__password_input.html"
      (dict
        "Classname" $confirm_pw_input_classname
        "Name" $.ConfirmPasswordInputName
        "Type" "confirm-password"
        "InputAttrs" `
          data-text-field-target="input"
          data-new-password-field-target="confirmPasswordInput"
        `
      )
    }}
    {{/* confirm password has error msg only if 
      - confirm password input has error; AND
      - new password input has no error
     */}}
    {{ $has_confirm_password_input_err_msg := (and $has_confirm_pw_err (not $has_new_pw_err))}}
    {{ $confirm_input_error_class := "input__error-message"}}
    {{ if (not $has_confirm_password_input_err_msg) }}
      {{ $confirm_input_error_class = printf "%s %s" $confirm_input_error_class "hidden" }}
    {{ end }}
    <p
      class="{{ $confirm_input_error_class }}"
      data-text-field-target="errorMessage"
      data-new-password-field-target="confirmPasswordError">
      {{ template "authflowv2/__error.html" (merge (dict "Error" $.ConfirmPasswordError) $.Ctx) }}
    </p>
  </div>

  {{ template "authflowv2/__password_policy.html" (dict
    "PasswordPolicies" $.PasswordPolicies
  ) }}
</div>

{{ end }}
