{{ define "authflowv2/__new_password_field.html" }}


{{ $password_input_error := (index $.Ctx.ErrorJSON "password-input") }}

{{ $confirm_password_input_error := (index $.Ctx.ErrorJSON "confirm-password-input") }}

{{ $new_pw_input_classname := "" }}
{{ if (not (isNil $password_input_error)) }}
  {{ $new_pw_input_classname = "input--error" }}
{{ end }}

{{ $confirm_pw_input_classname := "" }}
{{ if (not (isNil $confirm_password_input_error)) }}
  {{ $confirm_pw_input_classname = "input--error" }}
{{ end }}

<div
  data-controller="password-policy new-password-field"
  data-new-password-field-confirm-password-error-message-value='{{ template "v2.error.new-password-typo" }}'
  class="flex flex-col gap-y-4 {{ $.Classname }}">
  <div
    class="flex flex-col gap-y-2"
    data-controller="text-field"
  >
    {{ template "authflowv2/__password_input.html"
      (dict
        "Classname" $new_pw_input_classname
        "Name" $.NewPasswordInputName
        "Type" "new-password"
        "AutoFocus" $.AutoFocus
        "PasswordRules" $.PasswordRules
        "InputAttrs" `
          data-text-field-target="input"
          data-password-policy-target="input"
          data-action="password-policy#check"
          data-new-password-field-target="newPasswordInput"
        `
      )
    }}
    {{ $pw_input_error_class := "input__error-message"}}
    {{ if (not $password_input_error.hasMsg) }}
      {{ $pw_input_error_class = printf "%s %s" $pw_input_error_class "hidden" }}
    {{ end }}
    <p class="{{ $pw_input_error_class }}" data-text-field-target="errorMessage">
      {{/* TODO: change to below when __error.html supports it
        {{ 
          template "authflowv2/__error.html" (dict 
            "Ctx" $.Ctx
            "Error" $password_input_error.error
          )}}
       */}}
      {{ template "authflowv2/__error.html" $.Ctx  }}
    </p>
  </div>

  <div
    class="flex flex-col gap-y-2"
    data-controller="text-field"
  >
    {{ template "authflowv2/__password_input.html"
      (dict
        "Classname" $confirm_pw_input_classname
        "Name" $.ConfirmPasswordInputName
        "Type" "confirm-password"
        "InputAttrs" `
          data-text-field-target="input"
          data-new-password-field-target="confirmPasswordInput"
        `
      )
    }}
    {{ $confirm_input_error_class := "input__error-message"}}
    {{ if (not $.confirm_password_input_error.hasMsg) }}
      {{ $confirm_input_error_class = printf "%s %s" $confirm_input_error_class "hidden" }}
    {{ end }}
    <p
      class="{{ $confirm_input_error_class }}"
      data-text-field-target="errorMessage"
      data-new-password-field-target="confirmPasswordError">
      {{/* TODO: change to below when __error.html supports it
        {{ 
          template "authflowv2/__error.html" (dict 
            "Ctx" $.Ctx
            "Error" $confirm_password_input_error.error
          )}}
       */}}
      {{ template "authflowv2/__error.html" $.Ctx  }}
    </p>
  </div>

  {{ template "authflowv2/__password_policy.html" (dict
    "PasswordPolicies" $.PasswordPolicies
  ) }}
</div>

{{ end }}
