<!-- Example usage:
  {{ template "authflowv2/__otp_input.html"
    (dict
      "CSRFField" ($.CSRFField)
      "FormName" "otp-form"
      "CodeLength" 6
      "ErrorMessage" "Invalid code"
      "InputName" "x_code"
      "SubmitButtonName" "x_action"
      "SubmitButtonValue" "submit"
      "ResendButtonHidden" false
      "ResendButtonName" "x_action"
      "ResendButtonValue" "resend"
      "ResendButtonLabel" "Resend code"
      "ResendButtonLabelWithValue" "Resend code (%ds)"
      "ResendButtonCooldown" 5
      "SubmitEvent" "submit"
      "ResendEvent" "resend"
      "Disabled" false
    )
  }}
-->

{{ define "authflowv2/__otp_input.html" }}
<div
  class="flex flex-col gap-4"
  data-controller="otp-input text-field"
  data-text-field-input-container-error-class-value="otp-input--error"
>
  <div>
    <div
      class="otp-input{{ if $.ErrorMessage }} otp-input--error{{ end }}"
      data-text-field-target="inputContainer"
    >
      <input
        class="input"
        form="{{ $.FormName }}"
        type="text"
        name="{{ or $.InputName "x_code" }}"
        inputmode="numeric"
        autocomplete="one-time-code"
        pattern="\d{{ $.CodeLength }}"
        maxlength="{{ $.CodeLength }}"
        autofocus=""
        required
        data-otp-input-target="input"
        data-text-field-target="input"
        {{ if $.Disabled }}disabled{{ end }}
      />
      <div data-otp-input-target="digitsContainer" class="otp-input__digits-container"></div>
    </div>

    {{ if $.ErrorMessage }}
      <div
        class="otp-input__error-message"
        data-text-field-target="errorMessage"
      >
        {{ $.ErrorMessage }}
      </div>
    {{ end }}

  </div>

  {{ if not $.ResendButtonHidden }}
    <form
      method="post"
      novalidate
      data-controller="turbo-form"
      data-action="submit->turbo-form#submitForm"
    >
      {{ $.CSRFField }}
      <button
        id="resend-button"
        class="link-btn"
        type="submit"
        name="{{ or $.ResendButtonName "x_action" }}"
        value="{{ or $.ResendButtonValue "resend" }}"
        data-controller="countdown"
        data-countdown-target="button"
        data-countdown-cooldown-value="{{ $.ResendButtonCooldown }}"
        data-countdown-label-value="{{ $.ResendButtonLabel }}"
        data-countdown-label-unit-value="{{ $.ResendButtonLabelWithValue }}"
        data-authgear-event="{{ $.ResendEvent }}"
      >
        {{ $.ResendButtonLabel }}
      </button>
    </form>
  {{ end }}

  <button
    form="{{ $.FormName }}"
    class="primary-btn w-full"
    type="submit"
    name="{{ or $.SubmitButtonName "x_action" }}"
    value="{{ or $.SubmitButtonValue "submit" }}"
    data-otp-input-target="submit"
    data-authgear-event="{{ $.SubmitEvent }}"
  > {{ template "v2-button-label-continue" }} </button>

</div>
{{ end }}
