{{/* Expected usage
  {{ template "authflowv2/__password_field.html" (dict
      "Ctx" $
      "Name" "my_field_name"
      "Type" "old-password"
      "AutoFocus" $should_focus_input
      "Classname" "w-full"
      "HasError" $has_pw_err
      "ErrorMessage" $pw_err_message
    ) }}
 */}}
{{ define "authflowv2/__password_field.html" }}

{{ $input_classname := "" }}
{{ if $.HasError }}
  {{ $input_classname = "input--error" }}
{{ end }}

{{ $input_attrs := `data-text-field-target="input"` }}
{{ if .InputAttrs }}
  {{ $input_attrs = printf "%s %s" $input_attrs .InputAttrs }}
{{ end }}

<div
  class="{{ .Classname }} flex flex-col gap-y-2"
  data-controller="text-field"
>
  {{ template "authflowv2/__password_input.html" (dict
    "Type" .Type
    "Classname" $input_classname
    "Name" .Name
    "AutoFocus" .AutoFocus
    "PasswordRules" .PasswordRules
    "InputAttrs" $input_attrs
  ) }}
  {{ if $.HasError }}
    <p class="input__error-message" data-text-field-target="errorMessage">
      {{ $.ErrorMessage }}
    </p>
  {{ end }}
</div>
{{ end }}
