{{ define "authflowv2/__password_strength_meter.html" }}
<div class="{{ $.Classname }} password-strength-meter" data-password-policy-target="currentMeter">
    <span class="password-strength-meter__icon material-icons mr-1"></span>
		<span
			class="password-strength-meter-description"
			data-password-policy-target="currentMeterDescription"
			data-desc-1="{{ template "v2-password-policy-password-strength-meter-1" }}"
			data-desc-2="{{ template "v2-password-policy-password-strength-meter-2" }}"
			data-desc-3="{{ template "v2-password-policy-password-strength-meter-3" }}"
			data-desc-4="{{ template "v2-password-policy-password-strength-meter-4" }}"
		></span>
</div>
{{ end }}
