{{ define "authflowv2/__password_strength_meter.html" }}
<div
  role="meter"
  class="{{ $.Classname }} password-strength-meter"
  aria-valuemin="0"
  aria-valuemax="5"
  data-controller="password-strength-meter"
  data-password-policy-target="currentMeter"
  data-desc-0="{{ template "v2.component.new-password-field.default.password-policy-password-strength-meter-1" }}"
  data-desc-1="{{ template "v2.component.new-password-field.default.password-policy-password-strength-meter-1" }}"
  data-desc-2="{{ template "v2.component.new-password-field.default.password-policy-password-strength-meter-2" }}"
  data-desc-3="{{ template "v2.component.new-password-field.default.password-policy-password-strength-meter-3" }}"
  data-desc-4="{{ template "v2.component.new-password-field.default.password-policy-password-strength-meter-4" }}"
  data-desc-5="{{ template "v2.component.new-password-field.default.password-policy-password-strength-meter-5" }}"
>
  <span class="password-strength-meter__icon material-icons"></span>
  <span class="password-strength-meter__description" data-password-strength-meter-target="currentMeterDescription">{{ template "v2.component.new-password-field.default.password-policy-password-strength-meter-1" }}</span>
</div>
{{ end }}
