{{ define "authflowv2/__password_field.html" }}
<div class="{{ .Classname }}">
  {{ if eq .HasError "true" }}
  {{ template "authflowv2/__password_input.html" (dict "Type" .Type "Classname" "input--error"  ) }}
  {{ if .ErrorMessage }}
    <p class="input__error-message mt-2">
      {{ .ErrorMessage }}
    </p>
  {{ end }}
  {{ else }}
  {{ template "authflowv2/__password_input.html" (dict "Type" .Type  ) }}
  {{ end }}
  {{ if eq .Type "new-password" }}
  {{ template "authflowv2/__password_strength_meter.html" (dict "Classname" "mt-2 w-full") }}
  {{ end }}
</div>
{{ end }}
