{{ define "authflowv2/__password_field.html" }}

<div
  class="{{ .Classname }} flex flex-col gap-y-2"
  data-controller="text-field"
>
  {{ if $.HasError }}
  {{ template "authflowv2/__password_input.html" (dict
    "Type" .Type
    "Classname" "input--error"
    "Name" .Name
    "AutoFocus" .AutoFocus
    "PasswordRules" .PasswordRules
  ) }}
  <p class="input__error-message" data-text-field-target="errorMessage"> {{ template "authflowv2/__error.html" $.Ctx  }}
  </p>
  {{ else }}
  {{ template "authflowv2/__password_input.html" (dict
    "Type" .Type 
    "Name" .Name
    "AutoFocus" .AutoFocus
    "PasswordRules" .PasswordRules
  ) }}
  {{ end }}
</div>
{{ end }}
