{{ define "authflowv2/__password_input.html" }}
<div class="{{ $.Classname }} relative" data-controller="password-visibility-toggle">
	<input
		tabindex="0"
		data-password-policy-target="input"
		class="input input__password w-full"
		type="password"
		placeholder="Password"
		data-password-visibility-toggle-target="input"
	>
	<button
		class="w-5 absolute inset-y-0 right-4"
		type="button"
		tabindex="-1"
		title="{{ template "show-password-label" }}"
		data-password-visibility-toggle-target="showButton"
		data-action="password-visibility-toggle#show">
    <span class="material-icons align-middle text-xl">
      visibility_off
    </span>
	</button>
	<button
		class="w-5 absolute inset-y-0 right-4 hidden"
		type="button"
		tabindex="-1"
		title="{{ template "hide-password-label" }}"
		data-password-visibility-toggle-target="hideButton"
		data-action="password-visibility-toggle#hide">
      <span class="material-icons align-middle text-xl">
        visibility
      </span>
	</button>
</div>
{{ end }}
