{{ define "authflowv2/__password_policy.html" }}
{{ if .PasswordPolicies }}
  <ul class="flex flex-col gap-y-1">
  {{ range .PasswordPolicies }}
    {{ if eq .Name "PasswordBelowGuessableLevel" }}
    <li class="password-policy whitespace-nowrap order-first" data-password-policy-target="policy" data-password-policy-name="strength" data-min-level={{.Info.min_level}}>
      <span class="password-policy__icon material-icons material-icons--filled"></span>
      {{ include "v2.component.new-password-field.default.password-policy-strength" nil }} {{ template "authflowv2/__password_strength_meter.html" (dict "Classname" "w-full")  }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordTooShort" }}
    <li class="password-policy" data-min-length="{{ .Info.min_length}}" data-password-policy-target="policy" data-password-policy-name="length">
      <span class="password-policy__icon material-icons material-icons--filled"></span>
      {{ include "v2.component.new-password-field.default.password-policy-minimum-length" (dict "length" .Info.min_length) }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordUppercaseRequired" }}
    <li class="password-policy" data-password-policy-target="policy" data-password-policy-name="uppercase">
      <span class="password-policy__icon material-icons material-icons--filled"></span>
      {{ include "v2.component.new-password-field.default.password-policy-uppercase" nil }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordLowercaseRequired" }}
    <li class="password-policy" data-password-policy-target="policy" data-password-policy-name="lowercase">
      <span class="password-policy__icon material-icons material-icons--filled"></span>
      {{ include "v2.component.new-password-field.default.password-policy-lowercase" nil }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordAlphabetRequired" }}
    <li class="password-policy" data-password-policy-target="policy" data-password-policy-name="alphabet">
      <span class="password-policy__icon material-icons material-icons--filled"></span>
      {{ include "v2.component.new-password-field.default.password-policy-alphabet" nil }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordDigitRequired" }}
    <li class="password-policy" data-password-policy-target="policy" data-password-policy-name="digit">
      <span class="password-policy__icon material-icons material-icons--filled"></span>
      {{ include "v2.component.new-password-field.default.password-policy-digit" nil }}
    </li>
    {{ end }}
    {{ if eq .Name "PasswordSymbolRequired" }}
    <li class="password-policy" data-password-policy-target="policy" data-password-policy-name="symbol">
      <span class="password-policy__icon material-icons material-icons--filled"></span>
      {{ include "v2.component.new-password-field.default.password-policy-symbol" nil }}
    </li>
    {{ end }}
  {{ end }}
  </ul>
{{ end }}
{{ end }}
