{{/* <!-- Example usage:
  {{ template "authflowv2/__password_input.html"
    (dict
      "Type" "new-password" // new-password | old-password | confirm-password
      "Classname" "foo"
      "Name" "x_password"
      "AutoFocus" true
      "PasswordRules" $password_rules // see https://developer.apple.com/documentation/security/password_autofill/customizing_password_autofill_rules?language=objc
      "InputAttrs" `data-foo="bar"`
    )
  }}
--> */}}

{{ define "authflowv2/__password_input.html" }}
<div class="relative" data-controller="password-visibility-toggle">
  <input
    class="{{ $.Classname }} input input__password w-full"
    {{ if .AutoFocus }}autofocus{{ end }}
    type="password"
    {{ if eq .Type "old-password" }}
    autocomplete="current-password"
    {{ else if eq .Type "new-password" }}
    autocomplete="new-password"
    {{ end }}
    autocapitalize="none"
    name="{{ .Name }}"
    {{ if eq .Type "old-password" }}
    placeholder="{{ include "v2.component.password-input.default.placeholder-password" nil }}"
    {{ else if eq .Type "new-password" }}
    placeholder="{{ include "v2.component.password-input.default.placeholder-new-password" nil }}"
    {{ else if eq .Type "confirm-password" }}
    placeholder="{{ include "v2.component.password-input.default.placeholder-confirm-password" nil }}"
    {{ end }}
    data-password-visibility-toggle-target="input"
    {{ if .PasswordRules }}
    passwordrules="{{ .PasswordRules }}"
    {{ end }}
    {{ if $.InputAttrs }}{{ htmlattr $.InputAttrs }}{{ end }}
  >
  <button
    class="w-5 absolute inset-y-0 ltr:right-4 rtl:left-4 hidden"
    type="button"
    tabindex="-1"
    title="{{ include "v2.component.password-input.default.show-password" nil }}"
    data-password-visibility-toggle-target="showButton"
    data-action="password-visibility-toggle#show">
     <span class="input__password-visibility-icon">
       visibility_off
     </span>
  </button>
  <button
    class="w-5 absolute inset-y-0 ltr:right-4 rtl:left-4 hidden"
    type="button"
    tabindex="-1"
    title="{{ include "v2.component.password-input.default.hide-password" nil }}"
    data-password-visibility-toggle-target="hideButton"
    data-action="password-visibility-toggle#hide">
       <span class="input__password-visibility-icon">
         visibility
       </span>
  </button>
</div>
{{ end }}
