<!-- Example usage:
{{ template "authflowv2/__phone_input.html"
  (dict
    "Placeholder" "Phone number"
    "InputName" "phone"
    "InputAttrs" `data-foo="bar"`
    "IsError" true
    "AutoFocus" true
    "PhoneInputAttrs" `data-foo="bar"`
  )
}}
-->

{{ define "authflowv2/__phone_input.html" }}
<div class="phone-input" data-controller="phone-input">
  <!-- NOTE: Use class="hidden" here for noscript,
    this will be reverted during connect() in phoneInput.ts -->
  <div
    data-controller="custom-select body-scroll-lock"
    data-phone-input-target="countrySelect"
    data-action="custom-select:initialized->phone-input#handleCountrySelectInitialized custom-select:open->body-scroll-lock#lock custom-select:close->body-scroll-lock#unlock"
    class="hidden"
  >
    <!-- NOTE(tung): Use type="text" here,
      because browser will not restore value of input with type="hidden" on back -->
    <input
      type="text"
      class="hidden"
      data-phone-input-target="countrySelectInput"
      data-custom-select-target="input"
      data-action="input->phone-input#handleCountryInput"
    />

    <!-- Select Button -->
    <button
      type="button"
      class="phone-input__trigger"
      aria-haspopup="listbox"
      aria-expanded="false"
      data-custom-select-target="trigger"
      data-action="click->custom-select#toggle"
    ></button>

    <!-- Dropdown Menu -->
    <div
      class="select__dropdown hidden"
      role="listbox"
      data-custom-select-target="dropdown"
    >
      <ul
        class="select__options"
        data-custom-select-target="options"
      >
      </ul>

      <template data-custom-select-target="searchTemplate">
        <div class="select__search-container">
          <div class="select__search">
            <input
              class="select__search-input"
              placeholder="{{ template "v2-search-label" }}"
              data-controller="dismiss-keyboard-on-scroll"
              data-custom-select-target="search"
              data-action="input->custom-select#search"
            >
            <div class="select__search-icon">
              <i class="material-icons">search</i>
            </div>
            <button
              class="select__clear-icon"
              type="button"
              tabindex="-1"
              data-custom-select-target="clearSearch"
              data-action="click->custom-select#clearSearch"
            >
              <i class="material-icons material-icons--filled">cancel</i>
            </button>
          </div>
          <button
            class="select__close-icon"
            type="button"
            tabindex="-1"
            data-action="click->custom-select#close"
          >
            <i class="material-icons">close</i>
          </button>
        </div>
      </template>

      <template data-custom-select-target="itemTemplate">
        <li
          class="select__option"
          role="option"
          data-action="
            click->custom-select#handleSelect
            keydown->custom-select#handleKeyDown
          "
          tabindex="-1"
        >
          <span data-label="prefix" class="select__option-prefix"></span>
          <span data-label="content" class="select__option-content"></span>
        </li>
      </template>

      <template data-custom-select-target="emptyTemplate">
        <li class="select__empty">
          {{ template "v2-no-results-found" }}
        </li>
      </template>
    </div>
  </div>
  <!-- NOTE: Use class="hidden" here for noscript,
    this will be reverted during connect() in phoneInput.ts -->
  <div class="flex-1 hidden">
    <input
      class="input w-full {{ if $.IsError }}input--error{{ end }}"
      placeholder="{{ $.Placeholder }}"
      type="text"
      inputmode="tel"
      autocapitalize="none"
      autocomplete="username"
      pattern="^[\+0-9]*$"
      data-action="input->phone-input#handleNumberInput"
      data-phone-input-target="phoneInput"
      {{ if $.AutoFocus }}autofocus{{ end }}
      {{ if $.PhoneInputAttrs }}{{ htmlattr $.PhoneInputAttrs }}{{ end }}
    />
  </div>
  <!-- NOTE(tung): Use type="text" here,
    because browser will not restore value of input with type="hidden" on back.
    Late apply class="hidden" during connect() in phoneInput.ts for noscript -->
  <input
    type="text"
    class="input w-full"
    name="{{ $.InputName }}"
    data-phone-input-target="input"
    placeholder="{{ $.PlaceholderWithExample }}"
    {{ if $.InputAttrs }}{{ htmlattr $.InputAttrs }}{{ end }}
  />
</div>
{{ end }}
