<!-- Example usage:
{{ template "authflowv2/__settings_radio.html"
  (dict
    "Label" (include "some-key" nil)
    "RadioName" "gender-select"
    "RadioValue" "other"
    "CustomHTML" (include "custom_input" .)
    "DefaultChecked" true
  )
}}
-->
{{ define "authflowv2/__settings_radio.html" }}
<div class="radio-label">

  <label for={{ $.RadioValue }}>
    {{ $.Label }}
  </label>

  <input
  type="radio"
  class="radio"
  id={{ $.RadioValue }}
  name="{{ $.RadioName }}"
  value="{{ $.RadioValue }}"
  {{ if $.DefaultChecked }}checked{{end}}
  >

  {{ $.CustomHTML }}
</div>

{{ end }}
