<!-- Example usage:
{{ template "authflowv2/__settings_radio.html"
  (dict
    "Label" (include "some-key" nil)
    "Name" "gender-select"
    "Value" "other"
    "CustomHTML" (include "custom_input" .)
    "DefaultChecked" true
  )
}}
-->
{{ define "authflowv2/__settings_radio.html" }}

{{ $inputID := (printf "radio-%s-%s" $.Name $.Value) }}

<div class="settings-radio__container">
  <label for="{{ $inputID }}">
    {{ $.Label }}
  </label>

  <input
    id="{{$inputID}}"
    type="radio"
    class="settings-radio"
    name="{{ $.Name }}"
    value="{{ $.Value }}"
    {{ if $.DefaultChecked }}checked{{end}}
  >

  {{ $.CustomHTML }}
</div>

{{ end }}
