{{/* Example usage
{{ template "authflowv2/__settings_item.html"
  (dict
    "Label" (include "some-key" nil)
    "Href" "url"
    "MaterialIconName" `email`
    "SupplementaryNote" "some content"
    "Children" $.Emails
  )
}}
*/}}
{{ define "authflowv2/__settings_item.html" }}
<a
  class="settings-item
    {{ if $.MaterialIconName }}
      with-icon
    {{ end }}
    {{ if $.Children }}
      with-content
    {{ else }}
      without-content
    {{ end }}
    {{ if $.SupplementaryNote }}
      with-note
    {{end }}
    "
  {{ if $.Href }}
  href="{{ $.Href }}"
  {{ end }}
>
  {{ if $.MaterialIconName }}
    <div class="settings-item_icon-container">
      <i class="settings-item-icon material-icons">
        {{ $.MaterialIconName }}
      </i>
    </div>
  {{ end }}
  <p class="settings-item__label">
    {{ $.Label }}
  </p>

  {{ if $.SupplementaryNote }}
    <div class="settings-item__note">
      {{ $.SupplementaryNote }}
    </div>
  {{ end }}

  {{/* If there is content */}}
  {{ if $.Children }}
    {{ $length := len $.Children }}
    <p class="settings-item__content settings-description block tablet:hidden">
      {{ $item := index $.Children  0}}
      {{ if gt $length 1 }}
        <span> {{ include "v2.page.settings.default.button-label-and-more" (dict "item" $item ) }} </span>
      {{ else }}
        {{ $item }}
      {{ end }}
    </p>
    <ul class="settings-item__content settings-description hidden tablet:block break-all">
      {{ range $i, $child := $.Children }}
      <li>
        {{ $child }}
      </li>
      {{ end }}
    </ul>
  {{ end }}

  <div class="settings-item__forward_arrow"></div>
</a>
{{ end}}
