{{ define "authflowv2/__settings_page_frame.html" }}
{{ template "authflowv2/__base_page_frame.html" . }}
{{ end }}

{{ define "page-frame-content" }}

<div
  class="flex flex-col flex-1-0-auto"
>
  {{ template "web/authflowv2/settings_layout.html" . }}
</div>
{{ end }}

{{ define "widget" }}
  <div class="widget widget--settings">
    <div class="widget-content widget-content--settings">
      {{ block "page-navbar" . }}
      {{ end }}
      {{ template "page-content" . }}
      {{ template "authflowv2/__lockout.html" . }}
    </div>
  </div>
{{ end }}
