<!-- Example usage:
{{ template "authflowv2/__settings_item.html"
  (dict
    "Label" "email"
    "RedirectURL" "url"
    "Icon" `email`
    "ContentArr" $.Emails
  )
}}
-->
{{ define "authflowv2/__settings_item.html" }}
<a
  class="settings-item with-content
    {{ if $.ContentArr }}
      with-content
    {{ else }}
      without-content
    {{ end }}
    "
  href="{{ $.RedirectURL}}"
>
  <i class="alternative-icon material-icons">
    {{ $.Icon }}
  </i>
  <p class="settings-item__label">
    {{ include $.Label nil }}
  </p>

  {{/* If there is content */}}
  {{ if $.ContentArr }}
    {{ $length := len $.ContentArr }}
    <p class="settings-description block tablet:hidden">
      {{ index $.ContentArr  0}}
      {{ if gt $length 1 }}<span> {{ template "v2.page.settings.default.button-label-and-more" .}} </span>{{ end }}
    </p>
    <ul class="settings-description hidden tablet:block">
      {{ range $i, $content := $.ContentArr }}
      <li>
        {{ $content }}
      </li>
      {{ end }}
    </ul>
  {{ end }}

  <div class="flex items-center settings-item__alternative_icon">
    <i class="material-icons">
      arrow_forward_ios
    </i>
  </div>
</a>
{{ end}}
