{{ define "authflowv2/__settings_page_frame.html" }}
{{ template "authflowv2/__base_page_frame.html" . }}
{{ end }}

{{ define "page-frame-content" }}
{{ template "authflowv2/__logo_banner.html" . }}
{{ template "web/authflowv2/settings_layout.html" . }}
{{ end }}

{{ define "widget" }}
  <div class="widget widget--settings">
    <div class="widget-content widget-content--settings">
      {{ template "page-content" . }}
      {{ template "authflowv2/__lockout.html" . }}
    </div>
  </div>
{{ end }}

