{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

  <div class="flex flex-col gap-y-8 flex-1-0-auto">
    <div class="screen-title-description">
      <h1 class="screen-title">
        {{ include "v2.page.account-linking.default.title" nil }}
      </h1>
      <h2 class="screen-description">
        {{ include "v2.page.account-linking.default.subtitle" nil }}
      </h2>
      {{ template "authflowv2/__alert_message.html"
        (dict
          "Type" "error"
          "Classname" "mt-4"
          "Message" (include "authflowv2/__error.html" .)
        )
      }}
    </div>

    <div
      class="flex flex-col gap-y-3">
      {{- range $.Options }}
        <form
          class="contents"
          method="post"
          novalidate
          data-controller="turbo-form"
          data-action="submit->turbo-form#submitForm"
        >
          {{- if eq .Identification "email" }}
            <button
              class="secondary-btn w-full"
              type="submit"
              name="x_index"
              value="{{ .Index }}">
              <div class="secondary-btn__alternative-option-content--no-badge overflow-hidden">
                <i class="secondary-btn__icon--material material-icons">mail</i>
                <span class="flex-1 truncate">
                  {{ include "v2.page.account-linking.default.by-email" (dict
                    "IdentityDisplayName" .MaskedDisplayName
                  ) }}
                </span>
              </div>
            </button>
          {{- end }}

          {{- if eq .Identification "phone" }}
            <button
              class="secondary-btn w-full"
              type="submit"
              name="x_index"
              value="{{ .Index }}">
              <div class="secondary-btn__alternative-option-content--no-badge overflow-hidden">
                <i class="secondary-btn__icon--material material-icons">smartphone</i>
                <span class="flex-1 truncate">
                  {{ include "v2.page.account-linking.default.by-phone" (dict
                    "IdentityDisplayName" .MaskedDisplayName
                  ) }}
                </span>
              </div>
            </button>
          {{- end }}

          {{- if eq .Identification "username" }}
            <button
              class="secondary-btn w-full"
              type="submit"
              name="x_index"
              value="{{ .Index }}">
              <div class="secondary-btn__alternative-option-content--no-badge overflow-hidden">
                <i class="secondary-btn__icon--material material-icons">person</i>
                <span class="flex-1 truncate">
                  {{ include "v2.page.account-linking.default.by-username" (dict
                    "IdentityDisplayName" .MaskedDisplayName
                  ) }}
                </span>
              </div>
            </button>
          {{- end }}

          {{- if eq .Identification "oauth" }}
            <button
              class="secondary-btn w-full"
              type="submit"
              name="x_index"
              value="{{ .Index }}"
            >
              {{- $icon_class := printf "%s-icon" .ProviderType -}}
              {{- $with_badge := or (eq .ProviderStatus "using_demo_credentials") (eq .ProviderStatus "missing_credentials") -}}
              <div class="
                {{ if $with_badge }}secondary-btn__alternative-option-content--with-badge{{ end }}
                {{ if not $with_badge }}secondary-btn__alternative-option-content--no-badge{{ end }}
                ">
                <i class="sso-icon secondary-btn__icon--sso-icon {{ $icon_class }}"></i>
                <span>
                  {{ include (printf "v2.component.oauth-branding.%s.label" .ProviderType) nil }}
                </span>
                {{ if $with_badge }}
                  <div class="badge">
                    {{ include "v2.component.oauth-branding-demo-badge.default.label" nil }}
                  </div>
                {{ end }}
              </div>
            </button>
          {{- end }}
        </form>
      {{- end }}
    </div>
  </div>

{{ end }}
