{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

  <div class="flex flex-col gap-y-8 flex-1-0-auto">
    <div class="screen-title-description">
      <h1 class="screen-title">
        {{ template "v2.page.account-linking.default.title" }}
      </h1>
      <h2 class="screen-description">
        {{ template "v2.page.account-linking.default.subtitle" }}
      </h2>
      {{ template "authflowv2/__alert_message.html"
        (dict
          "Type" "error"
          "Classname" "mt-4"
          "Message" (include "authflowv2/__error.html" .)
        )
      }}
    </div>

    <div
      class="flex flex-col gap-y-4">
      {{- range $.Options }}
        <form
          class="contents"
          method="post"
          novalidate
          data-controller="turbo-form"
          data-action="submit->turbo-form#submitForm"
        >
          {{ $.CSRFField }}
          {{- if eq .Identification "email" }}
            <button
              class="secondary-btn w-full"
              type="submit"
              name="x_index"
              value="{{ .Index }}">
              <div class="flex gap-2 overflow-hidden">
                <i class="alternative-icon material-icons">mail</i>
                <span class="flex-1 truncate">
                  {{ template "v2.page.account-linking.default.by-email" (dict
                    "IdentityDisplayName" .MaskedDisplayName
                  ) }}
                </span>
              </div>
            </button>
          {{- end }}

          {{- if eq .Identification "phone" }}
            <button
              class="secondary-btn w-full"
              type="submit"
              name="x_index"
              value="{{ .Index }}">
              <div class="flex gap-2 overflow-hidden">
                <i class="alternative-icon material-icons">smartphone</i>
                <span class="flex-1 truncate">
                  {{ template "v2.page.account-linking.default.by-phone" (dict
                    "IdentityDisplayName" .MaskedDisplayName
                  ) }}
                </span>
              </div>
            </button>
          {{- end }}

          {{- if eq .Identification "username" }}
            <button
              class="secondary-btn w-full"
              type="submit"
              name="x_index"
              value="{{ .Index }}">
              <div class="flex gap-2 overflow-hidden">
                <i class="alternative-icon material-icons">person</i>
                <span class="flex-1 truncate">
                  {{ template "v2.page.account-linking.default.by-username" (dict
                    "IdentityDisplayName" .MaskedDisplayName
                  ) }}
                </span>
              </div>
            </button>
          {{- end }}

          {{- if eq .Identification "oauth" }}
            <button
              class="secondary-btn w-full"
              type="submit"
              name="x_index"
              value="{{ .Index }}"
            >
              {{- $icon_class := printf "%s-icon" .ProviderType -}}
              <div class="flex gap-2">
                <i class="sso-icon {{ $icon_class }}"></i>
                <span>
                  {{ include (printf "v2.component.oauth-branding.%s.label" .ProviderType) nil }}
                </span>
              </div>
            </button>
          {{- end }}
        </form>
      {{- end }}
    </div>
  </div>

{{ end }}
