{{ $cloudflareTurnstileWidgetTheme := "light" }}
{{ $recaptchav2WidgetTheme := "light" }}
{{ if $.DarkThemeEnabled }}
 {{ $cloudflareTurnstileWidgetTheme = "dark" }}
 {{ $recaptchav2WidgetTheme = "dark" }}
{{ end }}

{{ if $.BotProtectionRequired }}
  <input type="hidden" name="x_bot_protection_provider_type" value="{{$.BotProtectionProviderType}}">
  <input type="hidden" name="x_bot_protection_provider_response">
  {{ if (eq $.BotProtectionProviderType "cloudflare" ) }}
    <div id="cloudflare-turnstile-widget" class="flex justify-center" data-controller="cloudflare-turnstile" data-cloudflare-turnstile-site-key-value="{{$.BotProtectionProviderSiteKey}}" data-cloudflare-turnstile-theme-value="{{$cloudflareTurnstileWidgetTheme}}"></div>
  {{ else if (eq $.BotProtectionProviderType "recaptchav2" ) }}
    <div id="recaptchav2-widget" class="flex justify-center" data-controller="recaptcha-v2" data-recaptcha-v2-site-key-value="{{$.BotProtectionProviderSiteKey}}" data-recaptcha-v2-theme-value="{{$recaptchav2WidgetTheme}}"></div>
  {{ end }}
{{ end }}
