{{ template "authflowv2/__page_frame.html" . }}

{{ define "page-content" }}
{{ $unknown_error_message := "" }}
{{ if $.HasUnknownError }}
  {{ $unknown_error_message = (include "authflowv2/__error.html" .) }}
{{ end }}
<div class="flex-1-0-auto">
  <h1 class="screen-title">
    {{ if (eq .Reason "expiry") }}
      {{ template "v2.page.change-password.expiry.title" }}
    {{ else }}
      {{ template "v2.page.change-password.default.title" }}
    {{ end }}
  </h1>
  <h2 class="screen-description mt-4">
    {{ if (eq .Reason "expiry") }}
      {{ template "v2.page.change-password.expiry.subtitle" }}
    {{ else }}
      {{ template "v2.page.change-password.default.subtitle" }}
    {{ end }}
  </h2>
  {{ template "authflowv2/__alert_message.html"
    (dict
      "Type" "error"
      "Classname" "mt-4"
      "Message" $unknown_error_message
    )
  }}

  <form
    method="post"
    novalidate
    class="flex flex-col gap-y-4 mt-8"
    data-controller="turbo-form"
    data-action="submit->turbo-form#submitForm"
  >
  {{ $.CSRFField }}

  {{ template "authflowv2/__new_password_field.html" (dict
    "Ctx" $
    "NewPasswordInputName" "x_new_password"
    "ConfirmPasswordInputName" "x_confirm_password"
    "AutoFocus" $.ShouldFocusInput
    "PasswordRules" $.PasswordRulesString
    "PasswordPolicies" $.PasswordPolicies
    "HasNewPasswordInputError" $.PasswordInputError.HasError
    "HasNewPasswordInputErrorMessage" $.PasswordInputError.HasErrorMessage
    "HasConfirmPasswordInputError" $.ConfirmPasswordInputError.HasError
    "HasConfirmPasswordInputErrorMessage" $.ConfirmPasswordInputError.HasErrorMessage
  )
  }}

  <button
    class="primary-btn"
    type="submit"
    name="x_action"
    value=""
    data-authgear-event="authgear.button.change_password"
  >
  {{ template "v2.page.change-password.default.update-button-label" }}
  </button>

  </form>
</div>

{{ end }}
