{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}
<form
  method="post"
  novalidate
  class="flex-1-0-auto screen-icon-layout tablet:flex-none"
  data-controller="turbo-form"
  data-action="submit->turbo-form#submitForm"
>
  {{ $.CSRFField }}
  <i class="material-icons screen-icon">check_circle</i>
  <header class="screen-title-description">
    <h1 class="screen-title">
      {{ template "v2-change-password-success-page-title" }}
    </h1>
    <p class="screen-description">{{ template "v2-change-password-success-page-description" }}</p>
    {{ template "authflowv2/__alert_message.html"
      (dict
        "Type" "error"
        "Classname" "mt-4"
        "Message" (include "authflowv2/__error.html" .)
      )
    }}
  </header>
  <div></div>
    <footer>
      <button
        class="primary-btn w-full"
        type="submit"
        name="x_action"
        value=""
      >
        {{ template "v2-button-label-continue" }}
      </button>
    </footer>
</form>
{{ end }}
