{{ template "authflowv2/__page_frame.html" . }}

{{ define "page-content" }}

{{ $err_map := (resolveError $.RawError (dict 
  "newPasswordField" (dict
    "by_reason"                    (list "InvalidCredentials" "PasswordPolicyViolated")
    "by_location"                  (list "x_new_password")
  )
  "confirmPasswordField" (dict
    "by_reason"                    (list "PasswordPolicyViolated" "NewPasswordTypo")
    "by_location"                  (list "x_confirm_password")
  )
)) }}

{{ $new_pw_err := index $err_map "newPasswordField" }}
{{ $confirm_pw_err := index $err_map "confirmPasswordField" }}
{{ $unknown_err := index $err_map "unknown" }}

{{ $has_new_pw_err := not (isNil $new_pw_err )}}
{{ $has_confirm_pw_err := not (isNil $confirm_pw_err )}}
{{ $has_unknown_err := not (isNil $unknown_err )}}

{{ $new_pw_error_message := ""}}
{{ if $has_new_pw_err }}
  {{ $new_pw_error_message = (include "authflowv2/__error.html" (merge (dict "Error" $new_pw_err) $)) }}
{{ end }}

{{ $confirm_pw_error_message := ""}}
{{ if $has_confirm_pw_err }}
  {{ $confirm_pw_error_message = (include "authflowv2/__error.html" (merge (dict "Error" $confirm_pw_err) $)) }}
{{ end }}

{{ $unknown_error_message := "" }}
{{ if $has_unknown_err }}
  {{ $unknown_error_message = (include "authflowv2/__error.html" (merge (dict "Error" $unknown_err) $)) }}
{{ end }}

<div class="flex-1-0-auto">
  <h1 class="screen-title">
    {{ if (eq .Reason "expiry") }}
      {{ include "v2.page.change-password.expiry.title" nil }}
    {{ else }}
      {{ include "v2.page.change-password.default.title" nil }}
    {{ end }}
  </h1>
  <h2 class="screen-description mt-4">
    {{ if (eq .Reason "expiry") }}
      {{ include "v2.page.change-password.expiry.subtitle" nil }}
    {{ else }}
      {{ include "v2.page.change-password.default.subtitle" nil }}
    {{ end }}
  </h2>
  {{ template "authflowv2/__alert_message.html"
    (dict
      "Type" "error"
      "Classname" "mt-4"
      "Message" $unknown_error_message
    )
  }}

  <form
    method="post"
    novalidate
    class="flex flex-col gap-y-4 mt-8"
    data-controller="turbo-form"
    data-action="submit->turbo-form#submitForm"
  >
  {{ $.CSRFField }}

  {{ template "authflowv2/__new_password_field.html" (dict
    "Ctx" $
    "NewPasswordInputName" "x_new_password"
    "ConfirmPasswordInputName" "x_confirm_password"
    "AutoFocus" $.ShouldFocusInput
    "PasswordRules" $.PasswordRulesString
    "PasswordPolicies" $.PasswordPolicies
    "HasNewPasswordError" $has_new_pw_err
    "NewPasswordErrorMessage" $new_pw_error_message
    "HasConfirmPasswordError" $has_confirm_pw_err
    "ConfirmPasswordErrorMessage" $confirm_pw_error_message
  )
  }}

  <button
    class="primary-btn"
    type="submit"
    name="x_action"
    value=""
    data-authgear-event="authgear.button.change_password"
  >
  {{ include "v2.page.change-password.default.update-button-label" nil }}
  </button>

  </form>
</div>

{{ end }}
