{{ template "authflowv2/__page_frame.html" . }}

{{ define "page-content" }}

{{ $appName := (translate "app.name" nil) }}
{{ $clientName := or $.ClientName "null" }}

<div class="flex-1-0-auto screen-icon-layout">
  {{ template "authflowv2/__header.html" . }}
  <div class="screen-title-description">
    <h1 class="screen-title">
      {{ include "v2.page.consent.default.title" (dict "ClientName" $clientName) }}
    </h1>
    <div class="flex flex-col gap-4">
      <p class="text-center text-[1rem] font-medium text-[var(--color-neutral-700)] leading-[1.5rem]">
        {{ include "v2.page.consent.default.signed-in-as-label" $.UserProfile }}
      </p>
      <h2 class="screen-description flex flex-col gap-4">
        <p>
          {{ include "v2.page.consent.default.subtitle" (dict "ClientName" $clientName) }}
        </p>
        <ul class="list-disc list-inside text-start">
          {{ if (has "https://authgear.com/scopes/full-userinfo" $.Scopes) }}
            <li>
              {{ include "v2.page.consent.scopes.full-userinfo" nil }}
            </li>
          {{ end }}

          {{ if (has "profile" $.Scopes) }}
            <li>
              {{ include "v2.page.consent.scopes.profile" nil }}
            </li>
          {{ end }}

          {{ if (has "email" $.Scopes) }}
            <li>
              {{ include "v2.page.consent.scopes.email" nil }}
            </li>
          {{ end }}

          {{ if (has "phone" $.Scopes) }}
            <li>
              {{ include "v2.page.consent.scopes.phone" nil }}
            </li>
          {{ end }}

          {{ if (has "address" $.Scopes) }}
            <li>
              {{ include "v2.page.consent.scopes.address" nil }}
            </li>
          {{ end }}
        </ul>
        {{ if (and $.ClientPolicyURI $.ClientTOSURI) }}
          <div class="text-sm primary-txt">
            {{ include "v2.page.consent.default.policy-and-tos-link-desc" (dict "clientName" $.ClientName "policyURI" $.ClientPolicyURI "tosURI" $.ClientTOSURI) }}
          </div>
        {{ else if $.ClientPolicyURI }}
          <div class="text-sm primary-txt">
            {{ include "v2.page.consent.default.policy-link-desc" (dict "clientName" $.ClientName "policyURI" $.ClientPolicyURI) }}
          </div>
        {{ else if $.ClientTOSURI }}
          <div class="text-sm primary-txt">
            {{ include "v2.page.consent.default.tos-link-desc" (dict "clientName" $.ClientName "tosURI" $.ClientTOSURI) }}
          </div>
        {{ end }}
      </h2>
    </div>
  </div>
  <div></div>
  <div class="flex flex-col gap-4">
    <form method="post" novalidate>
      <button
        class="primary-btn w-full"
        type="submit"
        name="x_action"
        value="consent"
        data-turbo="false"
        data-authgear-event="authgear.button.consent_allow"
      >{{ include "v2.page.consent.default.continue-button-label" . }}</button>
    </form>

    <form method="post" novalidate>
      <button
        class="label-btn w-full"
        type="submit"
        name="x_action"
        value="cancel"
        data-turbo="false"
        data-authgear-event="authgear.button.consent_cancel"
      >{{ include "v2.component.button.default.label-cancel" . }}</button>
    </form>
  </div>
</div>
{{ end }}
