{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}
<div class="flex flex-col gap-y-8">
  <h1 class="screen-title">
    {{ template "v2-create-password-page-title" }}
  </h1>

  <form
    id="main-form"
    method="post"
    novalidate
    class="flex flex-col gap-y-4"
  >
    {{ $.CSRFField }}
    {{ if $.PasswordManagerUsername }}
      <input class="hidden" aria-hidden="true" type="text" autocomplete="username" name="" value="{{ $.PasswordManagerUsername }}">
    {{ end }}
    {{ template "authflowv2/__new_password_field.html" (dict
      "Ctx" $
      "NewPasswordInputName" "x_password"
      "ConfirmPasswordInputName" "x_confirm_password"
      "AutoFocus" $.ShouldFocusInput
      "PasswordRules" $.PasswordRulesString
      "PasswordPolicies" $.PasswordPolicies
      "HasNewPasswordInputError" $.PasswordInputError.HasError 
      "HasNewPasswordInputErrorMessage" $.PasswordInputError.HasErrorMessage
      "HasConfirmPasswordInputError" $.ConfirmPasswordInputError.HasError
      "HasConfirmPasswordInputErrorMessage" $.ConfirmPasswordInputError.HasErrorMessage
    )
    }}
    <button
      form="main-form"
      class="primary-btn"
      type="submit"
      name="x_action"
      value=""
      data-authgear-event="authgear.button.create_password"
    >
      {{ template "v2-button.continue" }}
    </button>
  </form>

  {{ template "authflowv2/__authflow_branch.html" . }}
</div>

{{ end }}
