{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}
{{ $unknown_error_message := "" }}
{{ if $.HasUnknownError }}
  {{ $unknown_error_message = (include "authflowv2/__error.html" .) }}
{{ end }}
<div class="flex flex-col gap-y-8 flex-1-0-auto">
  <h1 class="screen-title">
    {{ template "v2-create-password-page-title" }}
  </h1>
  {{ template "authflowv2/__alert_message.html"
    (dict
      "Type" "error"
      "Classname" "mt-4"
      "Message" $unknown_error_message
    )
  }}

  <form
    id="main-form"
    method="post"
    novalidate
    class="flex flex-col gap-y-4"
    data-controller="turbo-form"
    data-action="submit->turbo-form#submitForm"
  >
    {{ $.CSRFField }}
    {{ if $.PasswordManagerUsername }}
      <!-- class="hidden" doesn't work with password manager -->
      <input style="display: none;" aria-hidden="true" type="text" autocomplete="username" name="" value="{{ $.PasswordManagerUsername }}">
    {{ end }}
    {{ template "authflowv2/__new_password_field.html" (dict
      "Ctx" $
      "NewPasswordInputName" "x_password"
      "ConfirmPasswordInputName" "x_confirm_password"
      "AutoFocus" $.ShouldFocusInput
      "PasswordRules" $.PasswordRulesString
      "PasswordPolicies" $.PasswordPolicies
      "HasNewPasswordInputError" $.PasswordInputError.HasError 
      "HasNewPasswordInputErrorMessage" $.PasswordInputError.HasErrorMessage
      "HasConfirmPasswordInputError" $.ConfirmPasswordInputError.HasError
      "HasConfirmPasswordInputErrorMessage" $.ConfirmPasswordInputError.HasErrorMessage
    )
    }}
    <button
      form="main-form"
      class="primary-btn"
      type="submit"
      name="x_action"
      value=""
      data-authgear-event="authgear.button.create_password"
    >
      {{ template "v2-button-label-continue" }}
    </button>
  </form>

  {{ template "authflowv2/__authflow_branch.html" . }}
</div>

{{ end }}
