{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}
{{ $is_password_field_error := false }}
{{ $is_confirm_password_field_error := false }}
{{ if .Error }}
  {{ if eq .Error.reason "NewPasswordTypo" }}
    {{ $is_confirm_password_field_error = true }}
  {{ else if eq .Error.reason "ValidationFailed" }}
    {{ range .Error.info.causes }}
      {{ if (eq .kind "required") }}
        {{ if and (call $.SliceContains .details.missing "x_confirm_password") (not (call $.SliceContains .details.missing "x_password")) }}
          {{ $is_confirm_password_field_error = true }}
        {{ else }}
          {{ $is_password_field_error = true }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ $is_password_field_error = true }}
  {{ end }}
{{ end }}
<h1 class="screen-title">
  {{ template "v2-create-password-page-title" }}
</h1>
<form
  id="main-form"
  data-controller="password-policy"
  method="post"
  novalidate
  class="flex flex-col gap-y-4 mt-8"
>
  {{ $.CSRFField }}
  {{ if $.PasswordManagerUsername }}
    <input style="display: none" aria-hidden="true" type="text" autocomplete="username" name="" value="{{ $.PasswordManagerUsername }}">
  {{ end }}
  {{ template "authflowv2/__password_field.html" (dict 
    "Ctx" $
    "Name" "x_password"
    "Type" "new-password"
    "AutoFocus" $.ShouldFocusInput
    "PasswordRules" $.PasswordRulesString
    "HasError" $is_password_field_error
  )
  }}
  {{ template "authflowv2/__password_field.html" (dict
    "Ctx" $
    "Name" "x_confirm_password"
    "Type" "confirm-password"
    "HasError" $is_confirm_password_field_error
  ) }}
  {{ template "authflowv2/__password_policy.html" (dict
    "PasswordPolicies" $.PasswordPolicies 
  ) }}
  <button
    form="main-form"
    class="primary-btn"
    type="submit"
    name="x_action"
    value=""
    data-authgear-event="authgear.button.create_password"
  >
    {{ template "v2-button.continue" }}
  </button>
</form>
{{ end }}
