{{ template "__csrf_error_page_layout.html" . }}

{{ define "page-content" }}
{{ $instruction_image_src_ios := call $.StaticAssetURL "csrf-ios-instruction" }}
{{ $instruction_image_src_android := call $.StaticAssetURL "csrf-android-instruction" }}
{{ $instruction_image_src_chrome := call $.StaticAssetURL "csrf-chrome-instruction" }}
{{ $instruction_image_src_samsung := call $.StaticAssetURL "csrf-samsung-instruction" }}

<div class="mx-1 mt-10 tablet:mt-20">
  <h1 class="screen-title text-[18px]">
    {{ include "v2.page.csrf-error-instruction.default.instruction-header" nil }}
  </h1>

  {{ if eq $.Device "iOS" }}
  <ul class="list-decimal ml-6 mt-6 space-y-2 dark:text-white">
    <li>{{ include "v2.page.csrf-error-instruction.ios.step-1" nil }}</li>
    <li>{{ include "v2.page.csrf-error-instruction.ios.step-2" nil }}</li>
    <li>{{ include "v2.page.csrf-error-instruction.ios.step-3" nil }}</li>
  </ul>
  <div class="mt-6 mx-6 object-contain">
    <img src="{{ $instruction_image_src_ios }}" alt="" />
  </div>
  {{ else if eq $.Device "Chrome" }}
  <ul class="list-decimal ml-6 mt-6 space-y-2 dark:text-white">
    <li>{{ include "v2.page.csrf-error-instruction.chrome-desktop.step-1" nil }}</li>
    <li>{{ include "v2.page.csrf-error-instruction.chrome-desktop.step-2" nil }}</li>
    <li>{{ include "v2.page.csrf-error-instruction.chrome-desktop.step-3" nil }}</li>
    <li>{{ include "v2.page.csrf-error-instruction.chrome-desktop.step-4" nil }}</li>
  </ul>
  <img src="{{ $instruction_image_src_chrome }}" alt="" class="mt-6"/>
  {{ else if eq $.Device "ChromeAndroid" }}
  <ul class="list-decimal ml-6 mt-6 space-y-2 dark:text-white">
    <li>{{ include "v2.page.csrf-error-instruction.android.step-1" nil }}</li>
    <li>{{ include "v2.page.csrf-error-instruction.android.step-2" nil }}</li>
    <li>{{ include "v2.page.csrf-error-instruction.android.step-3" nil }}</li>
    <li>{{ include "v2.page.csrf-error-instruction.android.step-4" nil }}</li>
  </ul>
  <div class="mt-6 mx-6 object-contain">
    <img src="{{ $instruction_image_src_android }}" alt="" />
  </div>
  {{ else if eq $.Device "Samsung" }}
  <ul class="list-decimal ml-6 mt-8 space-y-2 dark:text-white">
    <li>{{ include "v2.page.csrf-error-instruction.samsung.step-1" nil }}</li>
    <li>{{ include "v2.page.csrf-error-instruction.samsung.step-2" nil }}</li>
    <li>{{ include "v2.page.csrf-error-instruction.samsung.step-3" nil }}</li>
    <li>{{ include "v2.page.csrf-error-instruction.samsung.step-4" nil }}</li>
    <li>{{ include "v2.page.csrf-error-instruction.samsung.step-5" nil }}</li>
    <li>{{ include "v2.page.csrf-error-instruction.samsung.step-6" nil }}</li>
  </ul>
  <div class="mt-6 mx-6 object-contain">
    <img src="{{ $instruction_image_src_samsung }}" alt="" />
  </div>
  {{ else }}
  <ul class="list-decimal ml-6 mt-6 space-y-2 dark:text-white">
    <li>{{ include "v2.page.csrf-error-instruction.default.step-1" nil }}</li>
    <li>{{ include "v2.page.csrf-error-instruction.default.step-2" nil }}</li>
    <li>{{ include "v2.page.csrf-error-instruction.default.step-3" nil }}</li>
  </ul>
  {{ end }}

</div>
{{ end }}
