{{ template "__csrf_error_page_layout.html" . }}

{{ define "page-content" }}
{{ $instruction_image_src_ios := call $.StaticAssetURL "csrf-ios-instruction" }}
{{ $instruction_image_src_android := call $.StaticAssetURL "csrf-android-instruction" }}
{{ $instruction_image_src_chrome := call $.StaticAssetURL "csrf-chrome-instruction" }}
{{ $instruction_image_src_samsung := call $.StaticAssetURL "csrf-samsung-instruction" }}

<div class="mx-1 mt-10 tablet:mt-20">
  <h1 class="screen-title text-[18px]">
    {{ template "v2-csrf-error-instruction-header" }}
  </h1>

  {{ if eq $.Device "iOS" }}
  <ul class="list-decimal ml-6 mt-6 space-y-2 dark:text-white">
    <li>{{ template "v2-csrf-error-instruction-ios-step1" }}</li>
    <li>{{ template "v2-csrf-error-instruction-ios-step2" }}</li>
    <li>{{ template "v2-csrf-error-instruction-ios-step3" }}</li>
  </ul>
  <div class="mt-6 mx-6 object-contain">
    <img src="{{ $instruction_image_src_ios }}" alt="" />
  </div>
  {{ else if eq $.Device "Chrome" }}
  <ul class="list-decimal ml-6 mt-6 space-y-2 dark:text-white">
    <li>{{ template "v2-csrf-error-instruction-chrome-desktop-step1" }}</li>
    <li>{{ template "v2-csrf-error-instruction-chrome-desktop-step2" }}</li>
    <li>{{ template "v2-csrf-error-instruction-chrome-desktop-step3" }}</li>
    <li>{{ template "v2-csrf-error-instruction-chrome-desktop-step4" }}</li>
  </ul>
  <img src="{{ $instruction_image_src_chrome }}" alt="" class="mt-6"/>
  {{ else if eq $.Device "ChromeAndroid" }}
  <ul class="list-decimal ml-6 mt-6 space-y-2 dark:text-white">
    <li>{{ template "v2-csrf-error-instruction-android-step1" }}</li>
    <li>{{ template "v2-csrf-error-instruction-android-step2" }}</li>
    <li>{{ template "v2-csrf-error-instruction-android-step3" }}</li>
    <li>{{ template "v2-csrf-error-instruction-android-step4" }}</li>
  </ul>
  <div class="mt-6 mx-6 object-contain">
    <img src="{{ $instruction_image_src_android }}" alt="" />
  </div>
  {{ else if eq $.Device "Samsung" }}
  <ul class="list-decimal ml-6 mt-8 space-y-2 dark:text-white">
    <li>{{ template "v2-csrf-error-instruction-samsung-step1" }}</li>
    <li>{{ template "v2-csrf-error-instruction-samsung-step2" }}</li>
    <li>{{ template "v2-csrf-error-instruction-samsung-step3" }}</li>
    <li>{{ template "v2-csrf-error-instruction-samsung-step4" }}</li>
    <li>{{ template "v2-csrf-error-instruction-samsung-step5" }}</li>
    <li>{{ template "v2-csrf-error-instruction-samsung-step6" }}</li>
  </ul>
  <div class="mt-6 mx-6 object-contain">
    <img src="{{ $instruction_image_src_samsung }}" alt="" />
  </div>
  {{ else }}
  <ul class="list-decimal ml-6 mt-6 space-y-2 dark:text-white">
    <li>{{ template "v2-csrf-error-instruction-default-step1" }}</li>
    <li>{{ template "v2-csrf-error-instruction-default-step2" }}</li>
    <li>{{ template "v2-csrf-error-instruction-default-step3" }}</li>
  </ul>
  {{ end }}

</div>
{{ end }}
