{{ template "authflowv2/__direct_access_disable_page_frame.html" . }}

{{ define "page-content" }}

{{- $brandingURIText := trimPrefix "http://www." .BrandPageURI -}}
{{- $brandingURIText = trimPrefix "http://" $brandingURIText -}}
{{- $brandingURIText = trimPrefix "https://www." $brandingURIText -}}
{{- $brandingURIText = trimPrefix "https://" $brandingURIText -}}
<div class="flex-1 flex flex-col justify-center tablet:justify-normal">
  <div class="tablet:mt-16 tablet:mb-4 mx-auto">
    {{ template "authflowv2/__brand_logo.html"
      (merge
        (dict
          "LogoClass" "brand-logo"
        )
        .
      )
    }}
  </div>
  
  <div class="text-center px-6 tablet:px-8 desktop:px-8 max-w-90 mx-auto">
    <p class="text-3xl break-words body-text--lg font-bold mb-4">{{ translate "app.name" nil }}</p>
    {{ if $.BrandPageURI }}
      <p class="body-text--md">
        <a href="{{ $.BrandPageURI }}">{{  $brandingURIText  }}</a>
      </p>
    {{ else }}
      <p class="break-words body-text--sm m-0">{{ translate "configure-direct-access-description" nil }}</p>
    {{ end }}
  </div>
</div>
{{ end }}
