{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

  {{ $display_input_error := false }}
  {{ if $.Error }}
    {{ if eq $.Error.reason "ValidationFailed" }}
      {{ $display_input_error = true }}
    {{ end }}
  {{ end }}

  <div class="flex flex-col gap-y-8 flex-1-0-auto">
    <div class="screen-title-description">
      <h1 class="screen-title">
        {{ template "v2-enter-recovery-code-title" }}
      </h1>

      <h2 class="screen-description">
        {{ if eq $.FlowType "reauth" }}
          {{ template "v2-enter-recovery-code-description-reauth" }}
        {{ else }}
          {{ template "v2-enter-recovery-code-description" }}
        {{ end }}
      </h2>

      {{ template "authflowv2/__alert_message.html"
        (dict
          "Type" "error"
          "Classname" "mt-4"
          "Message" (ternary (include "authflowv2/__error.html" .) nil (not $display_input_error))
        )
      }}
    </div>

    <form id="main-form" method="post" novalidate>
      {{ $.CSRFField }}

      {{ $input_error_message := "" }}
      {{ if $.Error  }}
        {{ if $display_input_error }}
          {{ $input_error_message = include "authflowv2/__error.html" .  }}
        {{ end }}
      {{ end }}

      <input
        form="main-form"
        {{ if $.ShouldFocusInput }}autofocus{{ end }}
        class="input w-full {{ if $.Error }}input--error{{end}}"
        type="text"
        autocomplete="one-time-code"
        autocapitalize="characters"
        name="x_recovery_code"
        placeholder="{{ template "enter-recovery-code-placeholder" }}"
      >

      {{ if $display_input_error }}
      <p class="input__error-message mt-2">
        {{ $input_error_message }}
      </p>
      {{ end }}

      {{- if $.DeviceTokenEnabled }}
        {{ template "authflowv2/__device_token_checkbox.html" (dict "Form" "main-form" "Classname" "mt-4") }}
      {{- end }}

      <button
        class="mt-4 primary-btn w-full"
        type="submit"
        name="x_action"
        value=""
        data-authgear-event="authgear.button.enter_recovery_code"
      >
        {{ template "v2-button-label-continue" }}
      </button>
    </form>

  {{ template "authflowv2/__authflow_branch.html" . }}
  </div>
{{ end }}
