{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

<h1 class="screen-title">Enter Password</h1>

<div class="w-[400px] p-6 space-y-2">
  <button class="primary-btn w-full">Primary</button>
  <button class="primary-btn w-full" disabled>Primary Disabled</button>
  <button class="tertiary-btn">Tertiary</button>
  <button class="tertiary-btn" disabled>Tertiary Disabled</button>
  <br />
  <button class="label-btn">Label</button>
  <button class="label-btn" disabled>Label Disabled</button>
  <button class="secondary-btn w-full">Continue with Passkey</button>
  <p class="screen-description">
    We've just sent a 6-digit verification code to Marianne20@gmail.com.
  </p>
</div>
{{ end }}
