{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

<h1 class="screen-title">Enter Password</h1>

<div class="space-y-2">
  {{ template "authflowv2/__header.html" . }}
  <br />
  {{ template "authflowv2/__divider.html" (dict "Classname" "h-20") }}
  <button class="primary-btn w-full">Primary</button>
  <button class="primary-btn w-full" disabled>Primary Disabled</button>
  <button class="tertiary-btn">Tertiary</button>
  <button class="tertiary-btn" disabled>Tertiary Disabled</button>
  <br />
  <button class="label-btn">Label</button>
  <button class="label-btn" disabled>Label Disabled</button>
  <button class="secondary-btn w-full">
    <span class="material-icons mr-2">passkey</span>
    Continue with Passkey
  </button>
  <p class="screen-description">
    We've just sent a 6-digit verification code to Marianne20@gmail.com.
  </p>
  <button class="secondary-btn w-full">
    <div class="sso-icon google-icon mr-2"></div>
    Continue with Google
  </button>

  <div class="code-block">
    <p class="code-block__text"> MY2DP-DFRCY
      05TN5-4DCC3
      YS6Y8-88A8F
      AKWPM-RK627
      NYVKD-QASDA
      TATN8-DNMFP
      RC4VY-VAY4A
      C243B-GGD81
      X7MH8-FTVY1
      SGG99-D7H80
      C7S8G-KX8RZ
      ROZKD-8X53T
      BQZYT-49KGV
      B684W-45XTR
      AKYCO-F4N61
      311YM-XNZDB
    </p>
    <div class="flex gap-4 mt-4 w-full">
      <button class="tertiary-btn flex-1">Download</button>
      <button class="tertiary-btn flex-1">Copy</button>
    </div>
  </div>
  <p class="body-text--sm">
    By registering, you agree to the <a href="#">Terms of Service</a> and
    <a href="#">Privacy Policy</a>.
  </p>
  <input class="input w-full" placeholder="placeholder"/>
  <input class="input w-full input--error" invalid placeholder="placeholder"/>
  <p class="input__error-message mt-2">
    Please include '@' in the email address. 'Marianne' does not have '@'.
  </p>
  {{ template "authflowv2/__alert_message.html"
     (dict
      "Type" "error"
      "Message" "Verification code sending failed. Please try again. Verification code sending failed. Please try again. Verification code sending failed. Please try again."
    )
  }}

  <!-- OTP Input -->
  {{ template "authflowv2/__otp_input.html"
    (dict
      "CSRFField" $.CSRFField
      "CodeLength" 6
      "ResendButtonLabel" "Resend code"
      "ResendButtonLabelWithValue" "Resend code (%ds)"
      "ResendButtonCooldown" 5
      "SubmitEvent" "authgear.button.submit_verification_code"
      "ResendEvent" "authgear.button.resend_verification_code"
    )
  }}

  <!-- OTP Input - Error -->
  {{ template "authflowv2/__otp_input.html"
    (dict
      "CSRFField" $.CSRFField
      "CodeLength" 6
      "ErrorMessage" "Invalid code"
      "ResendButtonLabel" "Resend code"
      "ResendButtonLabelWithValue" "Resend code (%ds)"
      "ResendButtonCooldown" 5
      "SubmitEvent" "authgear.button.submit_verification_code"
      "ResendEvent" "authgear.button.resend_verification_code"
    )
  }}

  <form data-controller="password-policy">
    {{ template "authflowv2/__password_field.html" (dict "Type" "new-password" "HasError" "true" "ErrorMessage" "Invalid Password" "Classname" "mt-4") }}
    {{ template "authflowv2/__password_field.html" (dict "Type" "confirm-password" "Classname" "mt-4") }}
  </form>

  {{ template "authflowv2/__phone_input.html"}}
</div>
{{ end }}
