{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

  {{ $has_alternatives := false }}
	{{ range $.IdentityCandidates }}
		{{ if eq .type "oauth" }}
      {{ $has_oauth = true }}
      <!-- TODO(tung): Add SSO (https://github.com/authgear/authgear-server/issues/3593) -->
      {{/* $has_alternatives = true */}}
		{{ end }}
		{{ if eq .type "login_id" }}
		  {{ $has_login_id = true }}
      {{ if not (eq .login_id_key $.LoginIDKey) }}
		    {{ $has_alternatives = true }}
      {{ end }}
		{{ end }}
	{{ end }}

  {{ if $.Error }}
    {{ if not (eq $.Error.reason "InvalidVerificationCode") }}
      <div class="mb-8 alert-message alert-message--error">
        <span class="alert-message__icon material-icons material-icons--filled">
          error
        </span>
        <span class="alert-message__text">
          {{ template "authflowv2/__error.html" . }}
        </span>
      </div>
    {{ end }}
  {{ end }}

  <div class="space-y-4">
    {{ template "authflowv2/__header.html" . }}
    <h1 class="screen-title">
      {{ template "v2-oob-otp-page-title" }}
    </h1>
    <h2 class="screen-description">
      {{ template "v2-oob-otp-page-subtitle" . }}
    </h2>
  </div>
  <div class="mt-8">
    {{ $otp_error_message := "" }}
    {{ if $.Error  }}
      {{ if eq $.Error.reason "InvalidVerificationCode" }}
        {{ $otp_error_message = include "authflowv2/__error.html" .  }}
      {{ end }}
    {{ end }}


    {{ template "authflowv2/__otp_input.html"
      (dict
        "CSRFField" $.CSRFField
        "CodeLength" $.CodeLength
        "AutoFocus" $.ShouldFocusInput
        "Disabled" $.FailedAttemptRateLimitExceeded
        "ResendButtonLabel" (include "v2-oob-otp-page-resend-button-label" nil)
        "ResendButtonLabelWithValue" (include "v2-oob-otp-page-resend-button-label--unit" nil)
        "ResendButtonCooldown" $.ResendCooldown
        "SubmitEvent" "authgear.button.submit_verification_code"
        "ResendEvent" "authgear.button.resend_verification_code"
        "ErrorMessage" $otp_error_message
      )
    }}

    {{ if $.CanRequestDeviceToken }}
    <div class="mt-4 flex flex-row items-center gap-x-2.5">
      <div class="checkbox">
        <input form="main-form" id="device-token" type="checkbox" name="x_device_token" value="true" checked>
        <label for="device-token"></label>
      </div>
      <label class="text-sm primary-txt" for="device-token">{{ template "create-device-token-label" }}</label>
    </div>
    {{ end }}
  </div>

  <!-- TODO(newman): Alternative options -->
{{ end }}