{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

<div class="flex-1-0-auto screen-icon-layout">
  {{ template "authflowv2/__header.html" . }}
  <div class="screen-title-description">
    <h1 class="screen-title">
      {{ include "v2.page.feature-disabled.default.title" . }}
    </h1>
    {{ if .TrackingID }}
      <div class="tracking-id-text">
        {{ include "v2.component.error-tracking-id.default.label" (dict "TrackingID" .TrackingID) }}
      </div>
    {{ else }}
      <div></div>
    {{ end }}
  </div>
  <div></div>
</div>
{{ end }}
