{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}
  {{ $title := include "v2.page.fatal-error.default.title" nil }}
  {{ if .Error }}
    {{ if eq .Error.reason "WebUIInvalidSession" }}
      {{ $title = include "v2.page.fatal-error.token-invalid.title" nil }}
    {{ end }}
    {{ if eq .Error.reason "AccountManagementTokenInvalid" }}
      {{ $title = include "v2.page.fatal-error.token-invalid.title" nil }}
    {{ end }}
    {{ if eq .Error.reason "NoAvailableSMSClient" }}
      {{ $title = include "v2.page.fatal-error.no-available-sms-client.title" nil }}
    {{ end }}
  {{ end }}

  {{ $error_message := include "v2.error.server" nil }}
  {{ if .Error }}
    {{ if eq .Error.reason "WebUIInvalidSession" }}
      {{ $error_message = include "v2.error.web-ui-invalid-session-return" nil }}
    {{ else if eq .Error.reason "AuthenticationFlowNoPublicSignup" nil }}
      {{ $error_message = include "v2.error.no-public-signup" nil }}
    {{ else if eq .Error.reason "AccountManagementTokenInvalid" }}
      {{ $error_message = include "v2.error.settings-token-invalid" nil }}
    {{ else if eq .Error.reason "NoAvailableSMSClient" }}
      {{ $error_message = include "v2.error.no-available-sms-client" nil }}
    {{ end }}
  {{ end }}
  {{ template "authflowv2/__error_page_layout.html"
    (dict
      "Title" $title
      "ErrorMessage" $error_message
    )
  }}
{{ end }}
