{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}
  {{/* We only show redirecting screen for android */}}
  {{/* See https://linear.app/authgear/issue/DEV-2484 */}}
  {{ $showRedirecting := (eq .Platform "android") }}

  {{ $title := include "v2.page.fatal-error.default.title" nil }}
  {{ if .Error }}
    {{ if eq .Error.reason "WebUIInvalidSession" }}
      {{ $title = include "v2.page.fatal-error.token-invalid.title" nil }}
    {{ end }}
    {{ if eq .Error.reason "AccountManagementTokenInvalid" }}
      {{ $title = include "v2.page.fatal-error.token-invalid.title" nil }}
    {{ end }}
    {{ if eq .Error.reason "IdentityNotFound" }}
      {{ $title = include "v2.page.fatal-error.identify-not-found.title" (dict "LoginIDType" .Error.info.LoginIDType) }}
    {{ end }}
    {{ if eq .Error.reason "WebUISessionCompleted" }}
      {{ if $showRedirecting }}
        {{ $title = include "v2.page.fatal-error.redirecting.title" nil }}
      {{ else }}
        {{ $title = include "v2.page.fatal-error.token-invalid.title" nil }}
      {{ end }}
    {{ end }}
    {{ if eq .Error.reason "OAuthError" }}
      {{ $title = include "v2.page.fatal-error.oauth-error.title" nil }}
    {{ end }}
    {{ if eq .Error.reason "HookDisallowed" }}
      {{ $error_reason := index .Error.info.reasons 0 }}
      {{ if $error_reason.title }}
        {{ $title = $error_reason.title }}
      {{ else }}
        {{ $title = (include "v2.page.fatal-error.webhook-disallowed.title" (dict "FlowType" .Error.info.FlowType)) }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ $error_message := include "v2.error.server" nil }}
  {{ if .Error }}
    {{ if eq .Error.reason "WebUIInvalidSession" }}
      {{ $error_message = include "v2.error.web-ui-invalid-session-return" nil }}
    {{ else if eq .Error.reason "AuthenticationFlowNoPublicSignup" nil }}
      {{ $error_message = include "v2.error.no-public-signup" nil }}
    {{ else if eq .Error.reason "AccountManagementTokenInvalid" }}
      {{ $error_message = include "v2.error.settings-token-invalid" nil }}
    {{ else if eq .Error.reason "IdentityNotFound" }}
      {{ $error_message = include "v2.error.identify-not-found" (dict "LoginIDType" .Error.info.LoginIDType) }}
    {{ else if eq .Error.reason "WebUISessionCompleted" }}
      {{ if $showRedirecting }}
        {{ $error_message = include "v2.error.web-ui-session-completed" nil }}
      {{ else }}
      {{ $error_message = include "v2.error.web-ui-invalid-session-return" nil }}
      {{ end }}
    {{ else if eq .Error.reason "OAuthError" }}
      {{ $error_message = include "v2.error.oauth-error" (dict "error" .Error.info.error "error_description" .Error.info.error_description) }}
    {{ else if eq .Error.reason "HookDisallowed" }}
      {{ $error_reason := index .Error.info.reasons 0 }}
      {{ if $error_reason.reason }}
        {{ $error_message = $error_reason.reason }}
      {{ else }}
        {{ $error_message = (include "v2.page.fatal-error.webhook-disallowed.description" (dict "FlowType" .Error.info.FlowType)) }}
      {{ end }}
    {{ else if eq .Error.reason "HookInvalidResponse" }}
      {{ $error_message = include "v2.error.webhook-invalid-response" nil }}
    {{ else if eq .Error.reason "HookDeliveryTimeout" }}
      {{ $error_message = include "v2.error.webhook-delivery-timeout" nil }}
    {{ else if eq .Error.reason "WebHookDeliveryUnknownFailure" }}
      {{ $error_message = include "v2.error.webhook-delivery-failed" nil }}
    {{ end }}
  {{ end }}


  {{ $icon := "error" }}
  {{ if .Error }}
    {{ if and (eq .Error.reason "WebUISessionCompleted") $showRedirecting }}
      {{ $icon = "hourglass" }}
    {{ end }}
  {{ end }}
  {{ template "authflowv2/__error_page_layout.html"
    (dict
      "Icon" $icon
      "Title" $title
      "ErrorMessage" $error_message
    )
  }}
{{ end }}
