{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

  {{ $display_input_error := false }}
  {{ if $.Error }}
    {{ if eq $.Error.reason "PasswordResetFailed" }}
      {{ $display_input_error = true }}
    {{ end }}
  {{ end }}

  <div class="flex flex-col gap-y-8">
    <div class="flex flex-col gap-y-4">
      {{ template "authflowv2/__header.html" . }}
      <h1 class="screen-title">
        {{ if eq $.Channel "email" }}
          {{ template "v2-forgot-password-otp-page-title--email"}}
        {{ else if eq $.Channel "sms" }}
          {{ template "v2-forgot-password-otp-page-title--sms" }}
        {{ end }}
      </h1>
      <h2 class="screen-description">
        {{ template "v2-forgot-password-otp-description" . }}
      </h2>

      {{ if $.Error }}
        {{ if not $display_input_error }}
          {{ template "authflowv2/__alert_message.html"
            (dict
              "Type" "error"
              "Classname" "max-tablet:hidden mt-4"
              "Message" (include "authflowv2/__error.html" .)
            )
          }}
        {{ end }}
      {{ end }}
    </div>
    <div>
      {{ $error_message := "" }}
      {{ if $.Error  }}
        {{ if $display_input_error }}
          {{ $error_message = include "authflowv2/__error.html" .  }}
        {{ end }}
      {{ end }}

      {{ template "authflowv2/__otp_input.html"
        (dict
          "CSRFField" $.CSRFField
          "CodeLength" $.CodeLength
          "AutoFocus" $.ShouldFocusInput
          "Disabled" $.FailedAttemptRateLimitExceeded
          "ResendButtonLabel" (include "v2-oob-otp-page-resend-button-label" nil)
          "ResendButtonLabelWithValue" (include "v2-oob-otp-page-resend-button-label--unit" nil)
          "ResendButtonCooldown" $.ResendCooldown
          "SubmitEvent" "authgear.button.submit_verification_code"
          "ResendEvent" "authgear.button.resend_verification_code"
          "ErrorMessage" $error_message
          "Disabled" $.FailedAttemptRateLimitExceeded
        )
      }}
    </div>

  {{ template "authflowv2/__forgot_password_alternatives.html" . }}

  </div>

{{ end }}
