{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}
  {{ $show_email_input := false }}
  {{ $show_phone_input := false }}
  {{ $display_error := false }}

  {{ if and (eq $.LoginIDInputType "phone") ($.PhoneLoginIDEnabled) }}
    {{ $show_phone_input = true }}
  {{ else if and (not (eq $.LoginIDInputType "phone")) ($.EmailLoginIDEnabled) }}
    {{ $show_email_input = true }}
  {{ end }}

  {{ if $.Error }}
    {{ $display_error = true }}
  {{ end }}

  {{ if $.RequiresLoginIDInput }}
    <div class="flex flex-col gap-8 flex-1-0-auto">
      <header class="screen-title-description">
        <h1 class="screen-title">{{ template "v2-forgot-password-title" }}</h1>
        <p class="screen-description">
          {{ if $show_phone_input }}
            {{ template "v2-forgot-password-description--input-phone" }}
          {{ else }}
            {{ template "v2-forgot-password-description--input-email" }}
          {{ end }}
        </p>
        {{ template "authflowv2/__alert_message.html"
          (dict
            "Type" "error"
            "Classname" "mt-4"
          )
        }}
      </header>
      {{ if or $show_email_input $show_phone_input }}
        <form 
          class="flex flex-col gap-4"
          method="post"
          novalidate
          data-controller="turbo-form"
          data-action="submit->turbo-form#submitForm"
        >
          {{ $.CSRFField }}
          <div data-controller="text-field" class="flex flex-col gap-2">
            {{ if $show_email_input }}
              <input type="hidden" name="x_login_id_type" value="email">
              <input
                data-text-field-target="input"
                class="block input w-full {{ if $display_error }}input--error{{end}}"
                {{ if $.ShouldFocusInput }}autofocus{{ end }}
                type="{{ $.LoginIDInputType }}"
                autocomplete="username"
                autocapitalize="none"
                name="x_login_id"
                placeholder="{{ template "v2-placeholder-email" }}"
              />
            {{ end }}

            {{ if $show_phone_input }}
              <input type="hidden" name="x_login_id_type" value="phone">
              {{ template "authflowv2/__phone_input.html"
                (dict
                  "Placeholder" (include "v2-placeholder-phone" nil)
                  "PlaceholderWithExample" (include "v2-placeholder-phone--with-example" nil)
                  "IsError" $display_error
                  "AutoFocus" $.ShouldFocusInput
                  "PhoneInputAttrs" `
                    data-text-field-target="input"
                  `
                  "InputName" "x_login_id"
                )
              }}
            {{ end }}

            {{ if $display_error }}
              <p class="input__error-message" data-text-field-target="errorMessage">
                {{ template "authflowv2/__error.html" $ }}
              </p>
            {{ end }}
          </div>
          <footer class="w-full flex flex-col gap-8">
            <button
              class="primary-btn"
              type="submit"
              name="x_action"
              value=""
              data-authgear-event="authgear.button.send_reset_password_code">
              {{ template "v2-button-label-send" }}
            </button>
            {{ if gt (len $.Alternatives) 0 }}
              {{ template "authflowv2/__divider.html"  }}
              <div class="flex flex-col gap-4">
                {{ range $.Alternatives }}
                  {{ template "__forgot_password_alternative" . }}
                {{ end }}
              </div>
            {{ end }}
          </footer>
        </form>
      {{ end }}
    </div>
  {{ else }}
    <div class="screen-icon-layout screen-icon-layout--compact flex-1-0-auto">
      <i class="screen-icon material-icons">forward_to_inbox</i>
      <header class="screen-title-description">
        <h1 class="screen-title">
          {{ template "v2-forgot-password-title" }}
        </h1>
        <p class="screen-description">
          {{ if eq $.LoginIDInputType "phone" }}
            {{ template "v2-forgot-password-description--send-phone" (dict "LoginID" $.LoginID) }}
          {{ else }}
            {{ template "v2-forgot-password-description--send-email" (dict "LoginID" $.LoginID) }}
          {{ end }}
        </p>
      </header>
      <footer class="flex flex-col gap-8" method="post" novalidate>
        <form
          method="post"
          novalidate
          data-controller="turbo-form"
          data-action="submit->turbo-form#submitForm"
        >
          {{ $.CSRFField }}
          <input type="hidden" name="x_login_id_type" value="{{ $.LoginIDInputType }}">
          <input type="hidden" name="x_login_id" value="{{ $.LoginID }}">
          <button
            class="primary-btn w-full"
            type="submit"
            name="x_action"
            value=""
            data-authgear-event="authgear.button.send_reset_password_code">
            {{ template "v2-button-label-send" }}
          </button>
        </form>
        {{ if gt (len $.Alternatives) 0 }}
          {{ template "authflowv2/__divider.html"  }}
          <div class="flex flex-col gap-4">
            {{ range $.Alternatives }}
              {{ template "__forgot_password_alternative" . }}
            {{ end }}
          </div>
        {{ end }}
      </footer>
    </div>
  {{ end }}
{{ end }}

{{ define "__forgot_password_alternative" }}
  {{ if eq .AlternativeType "phone" }}
    <a
      class="secondary-btn w-full flex gap-2"
      data-turbo-action="replace"
      href="{{ .Href }}">
      <i class="alternative-icon material-icons">smartphone</i>
      {{ template "v2-forgot-password-send-via-phone" }}
    </a>
  {{ else if eq .AlternativeType "email" }}
    <a
      class="secondary-btn w-full flex gap-2"
      data-turbo-action="replace"
      href="{{ .Href }}">
      <i class="alternative-icon material-icons">mail</i>
      {{ template "v2-forgot-password-send-via-email" }}
    </a>
  {{ end }}
{{ end }}
