{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}
  <form
    class="screen-icon-layout flex-1-0-auto"
    method="post"
    novalidate
    data-controller="turbo-form"
    data-action="submit->turbo-form#submitForm"
  >
    <i class="screen-icon material-icons">forward_to_inbox</i>

    <header class="screen-title-description">
      <h1 class="screen-title">
        {{ template "v2-forgot-password-link-sent-title" }}
      </h1>
      <p class="screen-description">
        {{ template "v2-forgot-password-link-sent-description" (dict "MaskedLoginID" $.MaskedDisplayName) }}
      </p>
      {{ template "authflowv2/__alert_message.html"
        (dict
          "Type" "error"
          "Classname" "mt-4"
          "Message" (include "authflowv2/__error.html" .)
        )
      }}
    </header>

    <div></div>

    {{ $.CSRFField }}
    <footer class="flex flex-col justify-end">
      <button
        class="primary-btn w-full"
        type="submit"
        name="x_action"
        value="resend"
        data-controller="countdown"
        data-countdown-target="button"
        data-countdown-cooldown-value="{{ $.ResendCooldown }}"
        data-countdown-label-value='{{ template "v2-forgot-password-link-sent-resend" }}'
        data-countdown-label-unit-value='{{ include "v2-forgot-password-link-sent-resend--unit" nil }}'
        data-authgear-event="authgear.button.resend_reset_password_link">
        {{ template "v2-forgot-password-link-sent-resend" }}
      </button>
    </footer>
  </form>
{{ end }}
