{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

  {{/* change this */}}
  {{ $display_input_error := false }}
  {{ if $.Error }}
    {{ if eq $.Error.reason "PasswordResetFailed" }}
      {{ $display_input_error = true }}
    {{ end }}
  {{ end }}

  <div class="flex flex-col gap-y-8 flex-1-0-auto">
    <div class="screen-title-description">
      <h1 class="screen-title">
        {{ include "v2.page.forgot-password-otp.default.title" nil}}
      </h1>
      <h2 class="screen-description">
        {{ if eq $.Channel "whatsapp" }}
          {{ include "v2.page.forgot-password-otp.default.whatsapp-description" . }}
        {{ else }}
          {{ include "v2.page.forgot-password-otp.default.description" . }}
        {{ end }}
      </h2>

      {{ template "authflowv2/__alert_message.html"
        (dict
          "Type" "error"
          "Classname" "max-tablet:hidden mt-4"
          "Message" (ternary (include "authflowv2/__error.html" .) nil (not $display_input_error))
        )
      }}
    </div>
    <div>
      {{ $error_message := "" }}
      {{ if $.Error  }}
        {{ if $display_input_error }}
          {{ $error_message = include "authflowv2/__error.html" .  }}
        {{ end }}
      {{ end }}

      <form
        id="main-form"
        method="post"
        novalidate
        data-restore-form="false"
        data-controller="turbo-form"
        data-action="submit->turbo-form#submitForm"
      >
        {{ $.CSRFField }}
      </form>

      {{ template "authflowv2/__otp_input.html"
        (dict
          "CSRFField" $.CSRFField
          "FormName" "main-form"
          "CodeLength" $.CodeLength
          "AutoFocus" $.ShouldFocusInput
          "Disabled" $.FailedAttemptRateLimitExceeded
          "ResendButtonLabel" (include "v2.component.oob-otp-resend-button.default.label" nil)
          "ResendButtonLabelWithValue" (include "v2.component.oob-otp-resend-button.default.countdown-unit" nil)
          "ResendButtonCooldown" $.ResendCooldown
          "SubmitEvent" "authgear.button.submit_verification_code"
          "ResendEvent" "authgear.button.resend_verification_code"
          "ErrorMessage" $error_message
          "Disabled" $.FailedAttemptRateLimitExceeded
        )
      }}
    </div>

  {{ template "authflowv2/__forgot_password_alternatives.html" . }}

  </div>

{{ end }}
