{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}
  {{ $show_email_input := false }}
  {{ $show_phone_input := false }}
  {{ $display_error := false }}

  {{ if and (eq $.LoginIDInputType "phone") ($.PhoneLoginIDEnabled) }}
    {{ $show_phone_input = true }}
  {{ else if and (not (eq $.LoginIDInputType "phone")) ($.EmailLoginIDEnabled) }}
    {{ $show_email_input = true }}
  {{ end }}

  {{ if $.Error }}
    {{ $display_error = true }}
  {{ end }}

  {{ if $.RequiresLoginIDInput }}
    <div class="flex flex-col gap-8">
      <header class="flex flex-col gap-4">
        <h1 class="screen-title">{{ template "v2-forgot-password-title" }}</h1>
        <p class="screen-description">
          {{ if $show_phone_input }}
            {{ template "v2-forgot-password-description--input-phone" }}
          {{ else }}
            {{ template "v2-forgot-password-description--input-email" }}
          {{ end }}
        </p>
      </header>
      {{ if or $show_email_input $show_phone_input }}
        <form class="flex flex-col gap-4" method="post" novalidate>
          {{ $.CSRFField }}
          <div data-controller="text-field" class="flex flex-col gap-2">
            {{ if $show_email_input }}
              <input type="hidden" name="x_login_id_type" value="email">
              <input
                data-text-field-target="input"
                class="block input w-full {{ if $display_error }}input--error{{end}}"
                tabindex="0"
                {{ if $.ShouldFocusInput }}autofocus{{ end }}
                type="{{ $.LoginIDInputType }}"
                autocomplete="username"
                autocapitalize="none"
                name="x_login_id"
                placeholder="{{ template "v2-placeholder.email" }}"
              />
            {{ end }}

            {{ if $show_phone_input }}
              <input type="hidden" name="x_login_id_type" value="phone">
              {{ template "authflowv2/__phone_input.html"
                (dict
                  "Placeholder" (include "v2-placeholder.phone" nil)
                  "IsError" $display_error
                  "AutoFocus" $.ShouldFocusInput
                  "PhoneInputAttrs" `
                    tabindex="0"
                    data-text-field-target="input"
                  `
                  "InputName" "x_login_id"
                )
              }}
            {{ end }}

            {{ if $display_error }}
              <p class="input__error-message" data-text-field-target="errorMessage">
                {{ template "authflowv2/__error.html" $ }}
              </p>
            {{ end }}
          </div>
          <button class="primary-btn">{{ template "v2-button.send" }}</button>
        </form>
      {{ end }}
    </div>
  {{ else }}
    <!-- TODO(tung): TO BE IMPLEMENTED -->
  {{ end }}
{{ end }}
