{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

  {{ $display_input_error := false }}
  {{ if and .Error (not .OAuthError) }}
    {{ $display_input_error = true }}
  {{ end }}

  {{ $oauth_error_message := "" }}
  {{ if .OAuthError }}
    {{ $oauth_error_message = (include "authflowv2/__error.html" .) }}
  {{ end }}

  {{ $has_login_id := false }}
  {{ $has_alternatives := false }}
  {{ $show_use_text_login_id_option := false }}
  {{ $show_use_phone_login_id_option := false }}
  {{ $show_captcha_phone := false }}
  {{ $show_captcha_email := false }}
  {{ $show_captcha_username := false }}
  {{ range $.IdentityCandidates }}
    {{ if eq .type "oauth" }}
      {{ $has_alternatives = true }}
    {{ end }}
    {{ if eq .type "login_id" }}
      {{ $has_login_id = true }}
    {{ end }}
  {{ end }}

  {{ if $.PasskeyEnabled }}
    {{ $has_alternatives = true }}
  {{ end }}

  {{ if $.LoginIDInputType }}{{ if eq $.LoginIDInputType "phone" }}{{ if (or $.EmailLoginIDEnabled $.UsernameLoginIDEnabled) }}
    {{ $has_alternatives = true }}
    {{ $show_use_text_login_id_option = true }}
  {{ end }}{{ end }}{{ end }}

  {{ if $.LoginIDInputType }}{{ if not (eq $.LoginIDInputType "phone") }}{{ if $.PhoneLoginIDEnabled }}
    {{ $has_alternatives = true }}
    {{ $show_use_phone_login_id_option = true }}
  {{ end }}{{ end }}{{ end }}

  {{ $is_login_only := (or $.PublicSignupDisabled $.AllowLoginOnly) }}
  {{ $show_phone_input := false }}
  {{ $show_text_input := false }}
  {{ if $.LoginIDInputType }}{{ if eq $.LoginIDInputType "phone" }}{{ if $.PhoneLoginIDEnabled }}
    {{ $show_phone_input = true }}
  {{ end }}{{ end }}{{ end }}
  {{ if $.LoginIDInputType }}{{ if not (eq $.LoginIDInputType "phone") }}{{ if (or $.EmailLoginIDEnabled $.UsernameLoginIDEnabled) }}
    {{ $show_text_input = true }}
  {{ end }}{{ end }}{{ end }}

  {{ if $show_phone_input }}{{ if $.PhoneLoginIDBotProtectionRequired }}
    {{ $show_captcha_phone = true  }}
  {{ end }}{{ end }}

  {{ if $show_text_input }}{{ if (or $.UsernameLoginIDBotProtectionRequired $.EmailLoginIDBotProtectionRequired )}}
    {{ $show_captcha_email = true  }}
    {{ $show_captcha_username = true  }}
  {{ end }}{{ end }}
  {{ $appName := (translate "app.name" nil) }}
  {{ $clientName := or $.ClientName "null" }}

  <div class="flex-1-0-auto">
    <div class="screen-logo-layout">
      {{ template "authflowv2/__header.html" . }}
      <div class="screen-title-description">
        <h1 class="screen-title">
          {{ template "v2-login-title" (dict
            "AppName" $appName
            "ClientName" $clientName)
          }}
        </h1>
        <h2 class="screen-description">
          {{ template "v2-login-subtitle" (dict
            "AppName" $appName
            "ClientName" $clientName)
          }}
        </h2>
        {{ template "authflowv2/__alert_message.html"
          (dict
          "Type" "error"
          "Classname" "mt-4"
          "Message" $oauth_error_message
          )
        }}
      </div>
    </div>

    <!-- We don't need to retore the auth form in inline preview mode -->
    <!-- retain-form-form will try to access session store, which is not allowed -->
    <!-- or necessary if we preview page in iframe  -->
    <!-- Disabling it makes us don't need to do extra work when implementing -->
    <!-- page preview via iframe -->
    {{ $formController := "retain-form-form" }}
    {{ if $.InlinePreview }}
      {{ $formController = "" }}
    {{ end }}
    {{/* Form with disabled turbo drive */}}
    <form
      class="flex flex-col gap-4 mt-8"
      method="post"
      novalidate
      {{ if (or (and $show_phone_input $show_captcha_phone) (and $show_text_input (or $show_captcha_email $show_captcha_username)))}}
        data-action="submit->bot-protection#verifyFormSubmit"
      {{ end }}
      data-controller="{{ $formController }}"
      data-retain-form-form-id-value="auth-form"
      data-turbo="false"
    >
      {{ $.CSRFField }}
      <input type="hidden" name="x_login_id_input_type" value="{{ $.LoginIDInputType }}"/>

      {{ if (or $show_phone_input $show_text_input)}}
        <div data-controller="text-field" class="flex flex-col gap-2">
          {{ if $show_phone_input }}
            {{ if $show_captcha_phone }}
              {{ template "web/authflowv2/__bot_protection_form_input.html" . }}
            {{ end }}
            {{ template "authflowv2/__phone_input.html"
              (dict
                "Placeholder" (include "v2-placeholder-phone" nil)
                "PlaceholderWithExample" (include "v2-placeholder-phone--with-example" nil)
                "IsError" $display_input_error
                "AutoFocus" $.ShouldFocusInput
                "PhoneInputAttrs" `
                  data-text-field-target="input"
                `
                "InputName" "x_login_id"
                "InputAttrs" `
                  data-controller="retain-form-input"
                  data-retain-form-form-target="input"
                  data-retain-form-form-name-param="phone"
                  data-action="input->retain-form-input#input retain-form-input:input->retain-form-form#input"
                `
              )
            }}
          {{ end }}

          {{ if $show_text_input }}
            {{ if (or $show_captcha_email $show_captcha_username) }}
              {{ template "web/authflowv2/__bot_protection_form_input.html" . }}
            {{ end }}
            <input
              data-text-field-target="input"
              class="block input w-full {{ if $display_input_error }}input--error{{end}}"
              {{ if $.ShouldFocusInput }}autofocus{{ end }}
              type="{{ $.NonPhoneLoginIDInputType }}"
              autocomplete="username webauthn"
              autocapitalize="none"
              name="x_login_id"
              placeholder="{{ template "v2-placeholder-login-id" (dict "variant" $.NonPhoneLoginIDType) }}"
              data-controller="retain-form-input"
              data-action="input->retain-form-input#input retain-form-input:input->retain-form-form#input"
              data-retain-form-form-target="input"
              data-retain-form-form-name-param="text"
            >
          {{ end }}
          {{ if $display_input_error }}
            <p class="input__error-message" data-text-field-target="errorMessage">
              {{ template "authflowv2/__error.html" $ }}
            </p>
          {{ end }}

          <!-- This field is for Chrome and Safari to consider the above field as username for autocomplete -->
          <!-- both `class="hidden"` and `display:none` do not work for iOS autofill -->
          <input style="position: absolute; width: 0; height: 0;" aria-hidden="true" type="password" autocomplete="current-password" name="">
        </div>
      {{ end }}

      {{ if $has_login_id }}
        <button
          class="primary-btn w-full"
          type="submit"
          name="x_action"
          value="login_id"
          {{/* Modal mediation and conditional mediation cannot be present in the same page. */}}
          {{/* When a page has a pending conditional mediation promise, the modal mediation promise will always be */}}
          {{/* rejected with a NotAllowedError immediately after invocation. */}}
          {{/* Therefore, in this page, we opt-out for Turbo form submission. */}}
          {{/* Then the next page can use modal mediation normally. */}}
          data-authgear-event="authgear.button.sign_in"
        >{{ template "v2-button-label-login" }}</button>
      {{ end }}
    </form>

    {{ if (not $is_login_only) }}
      <p class="body-text--md mt-4">
        {{ $signupHref := call $.MakeURL "/signup" "q_login_id_input_type" $.LoginIDInputType "x_step" "" }}
        {{ template "v2-login-switch-to-signup" (dict "href" $signupHref )}}
      </p>
    {{ end }}

    {{ if $has_alternatives }}
      {{ template "authflowv2/__divider.html" (dict "Classname" "my-8")  }}
      <section class="flex flex-col gap-4">
        {{ if $show_use_text_login_id_option }}
          <a
            class="secondary-btn w-full"
            data-turbo-action="replace"
            href="{{ call $.MakeURL "" "q_login_id_input_type" $.NonPhoneLoginIDInputType }}">
            <div class="flex gap-2">
              <i class="alternative-icon material-icons">
                {{- if eq $.NonPhoneLoginIDInputType "username" -}}
                  person
                {{ else }}
                  mail
                {{- end -}}
              </i>
              {{ template "v2-continue-with-text-login-id" (dict "variant" $.NonPhoneLoginIDType) }}
            </div>
          </a>
        {{ end }}
        {{ if $show_use_phone_login_id_option }}
          <a
            class="secondary-btn w-full"
            data-turbo-action="replace"
            href="{{ call $.MakeURL "" "q_login_id_input_type" "phone" }}">
            <div class="flex gap-2">
              <i class="alternative-icon material-icons">smartphone</i>
              {{ template "v2-continue-with-phone" }}
            </div>
          </a>
        {{ end }}
        {{ range .IdentityCandidates }}
          {{ if eq .type "oauth" }}
            {{ $skip := false }}
            {{- if (and (eq .provider_type "wechat") (eq .provider_app_type "mobile") (not $.IsNativePlatform)) -}}
              {{ $skip = true }}
            {{ end }}
            {{- if (and (eq .provider_type "wechat") (eq .provider_app_type "web") ($.IsNativePlatform)) -}}
              {{ $skip = true }}
            {{ end }}

            {{- if not $skip -}}
              {{/* Form with disabled turbo drive */}}
              <form class="block" method="post" data-turbo="false" novalidate>
                {{ $.CSRFField }}
                <input type="hidden" name="x_provider_alias" value="{{ .provider_alias }}">
                <button
                  class="secondary-btn w-full"
                  type="submit"
                  name="x_action"
                  value="oauth"
                  data-authgear-event="authgear.button.oauth"
                >
                  {{- $icon_class := printf "%s-icon" .provider_type -}}
                  <div class="flex gap-2">
                    <i class="sso-icon {{ $icon_class }}"></i>
                    <span>
                      {{ include (printf "v2-oauth-branding-%s" .provider_type) nil }}
                    </span>
                  </div>
                </button>
              </form>
            {{ end }}
          {{ end }}
        {{ end }}

        {{ if $.PasskeyEnabled }}
          <div class="block w-full"
            data-controller="authflow-passkey-request"
            data-authflow-passkey-request-options-value="{{ $.PasskeyRequestOptionsJSON }}"
            data-authflow-passkey-request-auto-value="false">
            <button class="secondary-btn w-full"
              type="button"
              data-action="click->authflow-passkey-request#use"
              data-authgear-event="authgear.button.use_passkey"
              data-authflow-passkey-request-target="button"
              disabled>
              <div class="flex gap-2">
                <i class="alternative-icon material-icons">
                  passkey
                </i>
                <span>
                  {{ template "v2-continue-with-passkey" }}
                </span>
              </div>
              </span>
            </button>
            <form
              class="hidden"
              method="post"
              novalidate
              data-controller="turbo-form"
              data-action="submit->turbo-form#submitForm"
            >
              {{ $.CSRFField }}
              <input type="hidden" name="x_assertion_response" data-authflow-passkey-request-target="input">
              <button type="submit" class="hidden" name="x_action" value="passkey" data-authflow-passkey-request-target="submit"></button>
            </form>
          </div>
        {{ end }}
      </section>
    {{ end }}

    {{ template "authflowv2/__toc_pp_footer.html" . }}
</div>

{{ end }}
