{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}
  {{ $provider_name := include "v2.page.oauth-provider-demo-credential.default.provider-name" (dict
    "OAuthProviderType" "google"
  ) }}
  {{ $title := include "v2.page.oauth-provider-demo-credential.default.title" (dict
    "provider" $provider_name
  ) }}
  {{ $description := include "v2.page.oauth-provider-demo-credential.default.description" (dict
    "provider" $provider_name
  ) }}
  {{ $icon := "info" }}
  
  {{ template "authflowv2/__error_page_layout.html"
    (dict
      "Icon" $icon
      "Title" $title
      "ErrorMessage" $description
      "Action" (include "__oauth_provider_demo_action.html" .)
    )
  }}
{{ end }} 

{{ define "__oauth_provider_demo_action.html" }}
  {{ $provider_name := include "v2.page.oauth-provider-demo-credential.default.provider-name" (dict
    "OAuthProviderType" "google"
  ) }}
  <div class="grid grid-cols-1 gap-4">
    <button
      type="button"
      class="primary-btn w-full"
    >
      {{ include "v2.page.oauth-provider-demo-credential.default.continue-button-label" (dict
        "provider" $provider_name
      ) }}
    </button>
    <a
      class="secondary-btn w-full"
      data-turbo-action="replace"
    >
      {{ include "v2.page.oauth-provider-demo-credential.default.return-button-label" nil }}
    </a>
  </div>
{{ end }} 
