{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}
  {{ $provider_name := include "v2.page.oauth-provider-missing-credential.default.provider-name" $.Error.info }}
  {{ $title := include "v2.page.oauth-provider-missing-credential.default.title" (dict
    "provider" $provider_name
  ) }}
  {{ $error_message := include "v2.error.oauth-provider-missing-credential" (dict
    "provider" $provider_name
  ) }}
  {{ $icon := "error" }}
  
  {{ template "authflowv2/__error_page_layout.html"
    (dict
      "Icon" $icon
      "Title" $title
      "ErrorMessage" $error_message
      "ErrorAlertMessage" (include "v2.page.oauth-provider-missing-credential.default.developer-warning" (dict
        "provider" $provider_name
      ))
      "Action" (include "__oauth_provider_inactive_action.html" .)
      "TrackingID" .TrackingID
    )
  }}
{{ end }} 

{{ define "__oauth_provider_inactive_action.html" }}
<a
  class="primary-btn w-full"
  data-turbo-action="replace"
  href="{{ $.Error.info.FromURL }}"
>
  {{ include "v2.page.oauth-provider-missing-credential.default.return-button-label" nil }}
</a>
{{ end }}
