<!DOCTYPE html>

<html
{{ if and ($.DarkThemeEnabled) (not $.LightThemeEnabled) }}
  class="dark"
{{ end }}
  lang="{{ $.ResolvedLanguageTag }}"
  dir="{{ $.HTMLDir }}"
  data-controller="format-date inline-preview"
  data-dark-theme-enabled="{{ $.DarkThemeEnabled }}"
  data-light-theme-enabled="{{ $.LightThemeEnabled }}"
  data-watermark-enabled={{ $.WatermarkEnabled }}
  data-inline-preview="{{ $.InlinePreview }}"
  data-inline-preview-previewable-resource-outlet="[data-previewable-resource-key-value]"
  data-inline-preview-is-inline-preview-value="{{ $.InlinePreview }}"
  >
  {{ template "authflowv2/__html_head.html" . }}
  {{ $appName := (translate "app.name" nil) }}
  <body
    class="preview-widget"
    data-controller="previewable-resource preview-widget"
    data-previewable-resource-key-value="previewWidgetLoginMethods"
    data-previewable-resource-changable-attribute-value="data-preview-widget-login-methods-value">
    <div class="layout--preview">
      <div class="preview-widget__layout-header">
        <div class="preview-widget__badge">
          <i class="material-icons">visibility</i>
          <p>{{ include "v2.page.preview.default.title" nil }}</p>
        </div>
      </div>
      <div class="widget--preview">
        <div class="widget-content--preview">
          <div class="flex-1-0-auto">
            <div class="screen-logo-layout">
              {{ template "authflowv2/__header.html" . }}
              <div class="screen-title-description">
                <h1 class="screen-title">
                  {{ include "v2.page.signup-login.default.title" (dict
                    "AppName" $appName
                    "ClientName" "")
                  }}
                </h1>
                <h2 class="screen-description">
                  {{ include "v2.page.signup-login.default.subtitle" (dict
                    "AppName" $appName
                    "ClientName" "")
                  }}
                </h2>
                <div
                  data-preview-widget-target="noLoginMethodsError"
                  class="pt-4"
                >
                  {{ template "authflowv2/__alert_message.html"
                    (dict
                      "Type" "error"
                      "Message" (include "v2.page.preview.default.no-login-methods" nil)
                    )
                  }}
                </div>
              </div>
            </div>
            <form
              class="flex flex-col gap-4 mt-8"
              data-preview-widget-target="loginIDSection"
            >
              <div class="flex flex-col gap-2">
                <input
                  data-preview-widget-target="emailInput"
                  class="block input w-full"
                  placeholder="{{ include "v2.component.input.default.placeholder-login-id" (dict "variant" "email") }}"
                >
                <input
                  data-preview-widget-target="usernameInput"
                  class="block input w-full"
                  placeholder="{{ include "v2.component.input.default.placeholder-login-id" (dict "variant" "username") }}"
                >
                {{ template "authflowv2/__phone_input.html"
                  (dict
                    "Placeholder" (include "v2.component.input.default.placeholder-phone" nil)
                    "PlaceholderWithExample" (include "v2.component.input.default.placeholder-phone-with-example" nil)
                    "IsError" false
                    "AutoFocus" false
                    "ContainerAttrs" `
                      data-preview-widget-target="phoneInput"
                    `
                  )
                }}
              </div>
              <button
                class="primary-btn w-full"
                type="button"
              >{{ include "v2.component.button.default.label-login" nil }}</button>
            </form>

            <section
              data-preview-widget-target="branchSection"
            >
              {{ template "authflowv2/__divider.html" (dict "Classname" "py-8")  }}
              <section
                class="flex flex-col gap-4">
                <a
                  class="secondary-btn w-full"
                  data-preview-widget-target="branchOptionUsername"
                >
                  <div class="flex gap-2">
                    <i class="alternative-icon material-icons">person</i>
                    {{ include "v2.page.signup.default.signup-with-username" nil }}
                  </div>
                </a>
                <a
                  data-preview-widget-target="branchOptionPhone"
                  class="secondary-btn w-full"
                >
                  <div class="flex gap-2">
                    <i class="alternative-icon material-icons">smartphone</i>
                    {{ include "v2.page.signup.default.signup-with-phone" nil }}
                  </div>
                </a>
                {{ define "__oauth_button" }}
                  <button
                    {{ if $.attrs }}{{ htmlattr $.attrs }}{{ end }}
                    class="secondary-btn w-full"
                    type="button"
                  >
                    {{- $icon_class := printf "%s-icon" $.provider_type -}}
                    <div class="flex gap-2">
                      <i class="sso-icon {{ $icon_class }}"></i>
                      <span>
                        {{ include (printf "v2.component.oauth-branding.%s.label" $.provider_type) nil }}
                      </span>
                    </div>
                  </button>
                {{ end }}
                {{
                  template "__oauth_button" (dict
                    "provider_type" "google"
                    "attrs" `data-preview-widget-target="branchOptionGoogle"`
                  )
                }}
                {{
                  template "__oauth_button" (dict
                    "provider_type" "apple"
                    "attrs" `data-preview-widget-target="branchOptionApple"`
                  )
                }}
                {{
                  template "__oauth_button" (dict
                    "provider_type" "facebook"
                    "attrs" `data-preview-widget-target="branchOptionFacebook"`
                  )
                }}
                {{
                  template "__oauth_button" (dict
                    "provider_type" "github"
                    "attrs" `data-preview-widget-target="branchOptionGithub"`
                  )
                }}
                {{
                  template "__oauth_button" (dict
                    "provider_type" "linkedin"
                    "attrs" `data-preview-widget-target="branchOptionLinkedin"`
                  )
                }}
                {{
                  template "__oauth_button" (dict
                    "provider_type" "azureadv2"
                    "attrs" `data-preview-widget-target="branchOptionAzureadv2"`
                  )
                }}
                {{
                  template "__oauth_button" (dict
                    "provider_type" "adfs"
                    "attrs" `data-preview-widget-target="branchOptionAdfs"`
                  )
                }}
              </section>
            </section>
          </div>
          {{ template "authflowv2/__watermark.html" . }}
        </div>
      </div>
      <div class="layout__footer--default"></div>
    </div>
  </body>
</html>
