{{ template "authflowv2/__page_frame.html" . }}

{{ define "page-content" }}
{{ $show_form := true }}
{{ if .Error }}
  {{ if eq .Error.reason "PasswordResetFailed" }}
    {{ $show_form = false }}
  {{ end }}
{{ end }}

{{ $unknown_error_message := "" }}
{{ if $.HasUnknownError }}
  {{ $unknown_error_message = (include "authflowv2/__error.html" .) }}
{{ end }}

{{ if not $show_form }}
  {{ template "authflowv2/__error_page_layout.html"
    (dict
      "Title" (include "v2.error.password-reset-failed-title" nil)
      "ErrorMessage" (include "v2.error.password-reset-failed-description" nil)
    )
  }}
{{ else }}
<div class="flex-1-0-auto">
  <h1 class="screen-title">
    {{ include "v2.page.reset-password.default.title" nil }}
  </h1>
  <h2 class="screen-description mt-4">
  {{ include "v2.page.reset-password.default.subtitle" nil }}
  </h2>
  {{ template "authflowv2/__alert_message.html"
    (dict
      "Type" "error"
      "Classname" "mt-4"
      "Message" $unknown_error_message
    )
  }}

  <form 
    method="post"
    novalidate
    class="flex flex-col gap-y-4 mt-8"
    data-controller="turbo-form"
    data-action="submit->turbo-form#submitForm"
  >
  {{ $.CSRFField }}

  {{ template "authflowv2/__new_password_field.html" (dict
    "Ctx" $
    "NewPasswordInputName" "x_password"
    "ConfirmPasswordInputName" "x_confirm_password"
    "AutoFocus" $.ShouldFocusInput
    "PasswordRules" $.PasswordRulesString
    "PasswordPolicies" $.PasswordPolicies
    "HasNewPasswordInputError" $.PasswordInputError.HasError 
    "HasNewPasswordInputErrorMessage" $.PasswordInputError.HasErrorMessage
    "HasConfirmPasswordInputError" $.ConfirmPasswordInputError.HasError
    "HasConfirmPasswordInputErrorMessage" $.ConfirmPasswordInputError.HasErrorMessage
  )
  }}

  <button
    class="primary-btn"
    type="submit"
    name="x_action"
    value=""
    data-authgear-event="authgear.button.reset_password"
  >
  {{ include "v2.page.reset-password.default.title" nil }}
  </button>

  </form>
</div>
{{ end }}

{{ end }}
