{{ template "authflowv2/__page_frame.html" . }} {{ define "page-content" }}
<div class="flex-1-0-auto screen-icon-layout" >
  <i class="material-icons screen-icon">check_circle</i>
  <header class="screen-title-description">
    <h1 class="screen-title">
      {{ template "v2-reset-password-success-page-title" }}
    </h1>
    <p class="screen-description">{{ template "v2-reset-password-success-page-description" }}</p>
    {{ template "authflowv2/__alert_message.html"
      (dict
        "Type" "error"
        "Classname" "mt-4"
        "Message" (include "authflowv2/__error.html" .)
      )
    }}
  </header>
  {{ if $.CanBackToSignIn }}
    <div></div>
    <footer>
      <a class="primary-btn w-full" href="{{ call $.MakeURL "/login" "x_step" "" "x_can_back_to_login" "" }}" data-turbo="false">
        {{ template "v2-button-label-continue" }}
      </a>
    </footer>
  {{ end }}
</div>
{{ end }}
