{{ template "authflowv2/__page_frame.html" . }}

{{ define "page-content" }}

{{ $err_map := (resolveError $.RawError (dict 
  "passwordField" (dict
    "by_reason"                    (list "InvalidCredentials" "PasswordPolicyViolated")
    "by_location"                  (list "x_password")
  )
  "confirmPasswordField" (dict
    "by_reason"                    (list "PasswordPolicyViolated" "NewPasswordTypo")
    "by_location"                  (list "x_confirm_password")
  )
  "shouldHideForm" (dict
    "by_reason"                    (list "PasswordResetFailed")
  )
)) }}

{{ $pw_err := index $err_map "passwordField" }}
{{ $confirm_pw_err := index $err_map "confirmPasswordField" }}
{{ $should_hide_form_err := index $err_map "shouldHideForm" }}
{{ $unknown_err := index $err_map "unknown" }}

{{ $show_form := true }}
{{ if not (isNil $should_hide_form_err) }}
  {{ $show_form = false }}
  {{ $unknown_err = $should_hide_form_err }} {{/* should still show as alert */}}
{{ end }}

{{ $has_unknown_err := not (isNil $unknown_err )}}

{{ $unknown_error_message := "" }}
{{ if $has_unknown_err }}
  {{ $unknown_error_message = (include "authflowv2/__error.html" (merge (dict "Error" $unknown_err) $)) }}
{{ end }}

{{ if not $show_form }}
  {{ template "authflowv2/__error_page_layout.html"
    (dict
      "Title" (include "v2.error.password-reset-failed-title" nil)
      "ErrorMessage" (include "v2.error.password-reset-failed-description" nil)
    )
  }}
{{ else }}
<div class="flex-1-0-auto">
  <h1 class="screen-title">
    {{ include "v2.page.reset-password.default.title" nil }}
  </h1>
  <h2 class="screen-description mt-4">
  {{ include "v2.page.reset-password.default.subtitle" nil }}
  </h2>
  {{ template "authflowv2/__alert_message.html"
    (dict
      "Type" "error"
      "Classname" "mt-4"
      "Message" $unknown_error_message
    )
  }}

  <form 
    method="post"
    novalidate
    class="flex flex-col gap-y-4 mt-8"
    data-controller="turbo-form"
    data-action="submit->turbo-form#submitForm"
  >
  {{ $.CSRFField }}

  {{ template "authflowv2/__new_password_field.html" (dict
    "Ctx" $
    "NewPasswordInputName" "x_password"
    "ConfirmPasswordInputName" "x_confirm_password"
    "AutoFocus" $.ShouldFocusInput
    "PasswordRules" $.PasswordRulesString
    "PasswordPolicies" $.PasswordPolicies
    "NewPasswordError" $pw_err
    "ConfirmPasswordError" $confirm_pw_err
  )
  }}

  <button
    class="primary-btn"
    type="submit"
    name="x_action"
    value=""
    data-authgear-event="authgear.button.reset_password"
  >
  {{ include "v2.page.reset-password.default.title" nil }}
  </button>

  </form>
</div>
{{ end }}

{{ end }}
