{{ template "authflowv2/__page_frame.html" . }}

{{ define "page-content" }}
{{ $show_form := true }}
{{ $is_password_field_error := false }}
{{ $is_confirm_password_field_error := false }}
{{ if .Error }}
  {{ if eq .Error.reason "PasswordResetFailed" }}
    {{ $show_form = false }}
  {{ else if eq .Error.reason "NewPasswordTypo" }}
    {{ $is_confirm_password_field_error = true }}
  {{ else if eq .Error.reason "ValidationFailed" }}
    {{ range .Error.info.causes }}
      {{ if (eq .kind "required") }}
        {{ if and (call $.SliceContains .details.missing "x_confirm_password") (not (call $.SliceContains .details.missing "x_password")) }}
          {{ $is_confirm_password_field_error = true }}
        {{ else }}
          {{ $is_password_field_error = true }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ $is_password_field_error = true }}
  {{ end }}
{{ end }}


{{ if not $show_form }}
  {{ template "authflowv2/__error_page_layout.html"
    (dict
      "Title" (include "v2-error-password-reset-failed-title" nil)
      "ErrorMessage" (include "v2-error-password-reset-failed-description" nil)
    )
  }}
{{ else }}
  <h1 class="screen-title">
    {{ template "v2-reset-password-page-title" }}
  </h1>
  <h2 class="screen-description mt-4">
  {{ template "v2-reset-password-page-subtitle" }}
  </h2>

  <form 
    data-controller="password-policy"
    method="post"
    novalidate
    class="flex flex-col gap-y-4 mt-8"
  >
  {{ $.CSRFField }}

  {{ template "authflowv2/__password_field.html" (dict 
    "Ctx" $
    "Name" "x_password"
    "Type" "new-password"
    "AutoFocus" $.ShouldFocusInput
    "PasswordRules" $.PasswordRulesString
    "HasError" $is_password_field_error
  )
  }}
  {{ template "authflowv2/__password_field.html" (dict
    "Ctx" $
    "Name" "x_confirm_password"
    "Type" "confirm-password"
    "HasError" $is_confirm_password_field_error
  ) }}
  {{ template "authflowv2/__password_policy.html" (dict
    "PasswordPolicies" $.PasswordPolicies 
  ) }}

  <button
    class="primary-btn"
    type="submit"
    name="x_action"
    value=""
    data-authgear-event="authgear.button.reset_password"
  >
  {{ template "v2-reset-password-page-title" }}
  </button>

  </form>
{{ end }}

{{ end }}
