{{ template "authflowv2/__page_frame.html" . }} {{ define "page-content" }}
<div class="screen-icon-layout flex-1-0-auto">
  <i class="material-icons screen-icon">check_circle</i>
  <header class="flex flex-col gap-4">
    <h1 class="screen-title mt-2">
      {{ template "v2-reset-password-success-page-title" }}
    </h1>
    <p class="screen-description">
      {{ template "v2-reset-password-success-page-description" }}
    </p>
  </header>
  <div></div>
  {{ if $.CanBackToSignIn }}
    <footer>
      <a class="primary-btn w-full" href="{{ call $.MakeURL "/login" "x_step" "" "x_can_back_to_login" "" }}" data-turbo="false">
        {{ template "v2-button.continue" }}
      </a>
    </footer>
  {{ end }}
</div>
{{ end }}
