{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

{{/* Form with disabled turbo drive */}}
<form class="screen-icon-layout flex-1-0-auto" method="post" novalidate data-turbo="false">
  {{ $.CSRFField }}
  <i class="screen-icon material-icons">account_circle</i>
  <header class="screen-title-description">
    <h1 class="screen-title">
      {{ if $.ClientName }}
        {{ template "v2-select-account-title" (dict "AppOrClientName" $.ClientName) }}
      {{ else }}
        {{ $appName := (include "app.name" nil) }}
        {{ template "v2-select-account-title" (dict "AppOrClientName" $appName) }}
      {{ end }}
    </h1>
    <p class="screen-description">
      {{ template "v2-select-account-description" (merge (dict) $.UserProfile (dict "IdentityDisplayName" $.IdentityDisplayName)) }}
    </p>
    {{ template "authflowv2/__alert_message.html"
      (dict
        "Type" "error"
        "Classname" "mt-4"
        "Message" (include "authflowv2/__error.html" .)
      )
    }}
  </header>
  <div></div>
  <footer class="flex flex-col gap-4">
    <button
      class="primary-btn w-full"
      type="submit"
      name="x_action"
      value="continue"
      data-authgear-event="authgear.button.continue_with_current_account"
      >
      {{ template "v2-button-label-continue" }}
    </button>
    <button
      class="label-btn w-full"
      type="submit"
      name="x_action"
      value="login"
      data-authgear-event="authgear.button.use_another_account"
      >
      {{ template "v2-select-account-use-another-account" }}
    </button>
  </footer>
</form>

{{ end }}
