{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

<div class="screen-icon-layout flex-1 tablet:flex-none">
  <i class="screen-icon material-icons justify-self-center">account_circle</i>
  <section class="flex flex-col gap-4">
    <h1 class="screen-title">Log in to {App name}</h1>
    <p class="screen-description">You have logged in with Marianne20@gmail.com. Proceed to continue.</p>
  </section>
  <div></div>
  <footer class="flex flex-col gap-4">
    <button class="primary-btn w-full">Continue</button>
    <button class="label-btn w-full">Use another account</button>
  </footer>
</div>

{{ end }}
