{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-content" }}

{{ template "authflowv2/__navbar.html" (dict
  "Title" (include "v2.page.settings-profile-edit.default.title-gender" nil )
  "BackTitle" (include "v2.component.navbar.default.item-back-button-label" nil )
  "BackHref" (call $.MakeURL "/settings/profile")
  )
}}

<form
  id="form"
  class="flex flex-col gap-8 mt-8 items-center w-full"
  method="post"
  data-turbo="false"
  novalidate
>
  <div class="w-full tablet:max-w-86">
    {{ $.CSRFField }}
    {{ template "authflowv2/__settings_radio.html"
      (dict
        "Label" (include "v2.page.settings-profile-edit.default.button-label-not-provided" nil)
        "Name" "gender-select"
        "Value" ""
        "DefaultChecked" ( not $.Gender )
      )
    }}
    {{ template "authflowv2/__settings_radio.html"
      (dict
        "Label" (include "v2.page.settings-profile-edit.default.button-label-gender-female" nil)
        "Name" "gender-select"
        "Value" "female"
        "DefaultChecked" ( eq $.Gender "female")
      )
    }}
    {{ template "authflowv2/__settings_radio.html"
      (dict
        "Label" (include "v2.page.settings-profile-edit.default.button-label-gender-male" nil)
        "Name" "gender-select"
        "Value" "male"
        "DefaultChecked" ( eq $.Gender "male")
      )
    }}

    {{ $defaultChecked := false}}
    {{ if (and (not (eq $.Gender "female")) (not (eq $.Gender "male")) $.Gender) }}
      {{ $defaultChecked = true }}
    {{ end }}
    {{ template "authflowv2/__settings_radio.html"
      (dict
        "Label" (include "v2.page.settings-profile-edit.default.button-label-custom" nil)
        "Name" "gender-select"
        "Value" "other"
        "CustomHTML" (include "custom_input" .)
        "DefaultChecked" $defaultChecked
      )
    }}
  </div>

  <button
    id="save-button"
    class="primary-btn w-full tablet:max-w-86"
    type="submit"
    name="x_action"
    value="save"
    data-authgear-event="authgear.button.update_profile"
  >
    {{ template "v2.page.settings-profile-edit.default.button-label-save" }}
  </button>
</form>

{{ end }}

{{ define "custom_input" }}
<input
  class="input radio-input col-span-2"
  name="gender-input"
  value="{{ $.Gender }}"
>
{{ end }}
