{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-content" }}

{{ template "authflowv2/__navbar.html"
   (dict
      "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
      "BackHref" (call $.MakeURL "/settings")
      "Title" (translate "v2.page.settings-profile.default.navbar-title" nil)
   )
}}

<div class="mt-8">
  {{ if (call $.IsReadable "/picture") }}
  {{ template "authflowv2/__settings_user_profile_pic"
     (dict
        "Picture" $.Picture
        "GeneratedStaticAssetURL" $.GeneratedStaticAssetURL
        "Editable" (call $.IsEditable "/picture")
        "EditURL" (call $.MakeURL "/settings/profile/picture/edit")
     )
  }}
  {{ end }}

  <div class="mt-8">
    {{ $anyReadableName := or (call $.IsReadable "/name") (call $.IsReadable "/given_name") (call $.IsReadable "/family_name") (call $.IsReadable "/middle_name") (call $.IsReadable "/nickname") }}
    {{ if $anyReadableName }}
      {{ template "__settings_profile_item"
          (merge
            (dict
              "Title" (translate "v2.page.settings-profile.default.name-title" nil)
              "Content" $.FormattedNames
            )
            .
          )
      }}
    {{ end }}

    {{ if (call $.IsReadable "/gender") }}
      {{ template "__settings_profile_item"
          (merge
            (dict
              "Title" (translate "v2.page.settings-profile.default.gender-title" nil)
              "Content" $.Gender
            )
            .
          )
      }}
    {{ end }}


    {{ if (call $.IsReadable "/birthdate") }}
      {{ $content := "" }}
      {{ if $.Birthdate }}
        {{ $content = include "__settings_profile_date_item" $.Birthdate }}
      {{ end }}
      {{ template "__settings_profile_item"
          (merge
            (dict
              "Title" (translate "v2.page.settings-profile.default.birthdate-title" nil)
              "Content" $content
            )
            .
          )
      }}
    {{ end }}

    {{ if (call $.IsReadable "/zoneinfo") }}
      {{ $content := "" }}
      {{ if $.Zoneinfo }}
        {{ $content = $.ZoneinfoTimezone.DisplayLabel }}
      {{ end }}
      {{ template "__settings_profile_item"
          (merge
            (dict
              "Title" (translate "v2.page.settings-profile.default.zoneinfo-title" nil)
              "Content" $content
            )
            .
          )
      }}
    {{ end }}

    {{ if (call $.IsReadable "/locale") }}
      {{ $content := "" }}
      {{ if $.Locale }}
        {{ $content = (include "__settings_profile_locale_item" .) }}
      {{ end }}
      {{ template "__settings_profile_item"
          (merge
            (dict
              "Title" (translate "v2.page.settings-profile.default.language-title" nil)
              "Content" $content
            )
            .
          )
      }}
    {{ end }}
  </div>
</div>

{{ end }}

{{ define "__settings_profile_item" }}

<div class="settings-item">
  <div class="w-44 text-start">{{ $.Title }}</div>
  <div class="flex-1 text-start settings-description">
    {{ if $.Content }}
      {{ $.Content }}
    {{ else }}
      {{ translate "v2.page.settings-profile.default.item-value-not-provided" nil}}
    {{ end }}
  </div>
  <i class="settings-item__alternative_icon material-icons">
    arrow_forward_ios
  </i>
</div>

{{ end }}

{{ define "__settings_profile_date_item" }}
<span
  data-controller="format-input-date"
  data-format-input-date-date-value="{{ . }}"
>
  {{ . }}
</span>
{{ end }}

{{ define "__settings_profile_locale_item" }}
{{ $label := (print "language-" $.Locale) }}
<span>
  {{ $.Locale }} - {{ translate $label nil}}
</span>
{{ end }}
