{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-content" }}

{{ template "authflowv2/__navbar.html"
   (dict
     "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
      "BackHref" (call $.MakeURL "/settings/profile")
      "Title" (translate "v2.page.settings-profile-edit-zoneinfo.default.navbar-title" nil)
   )
}}

<form
  class="mt-8 settings-content flex flex-col gap-y-8"
  method="post"
  data-controller="turbo-form"
  data-action="submit->turbo-form#submitForm"
>
  {{ $.CSRFField }}

  {{ template "authflowv2/__timezone_input.html"
      (dict
        "Timezones" $.Timezones
        "Name" "/zoneinfo"
        "Value" $.Zoneinfo
      )
  }}

  <button
    class="primary-btn"
    type="submit"
    name="x_action"
    value="save"
    data-authgear-event="authgear.button.update_profile"
  >
    {{ translate "v2.page.settings-profile-edit-zoneinfo.default.save-button-label" . }}
  </button>
</form>

{{ end }}
