{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
     (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings")
        "Title" (translate "v2.page.settings-identity-list-username.default.title" nil)
     )
  }}
{{ end }}

{{ define "page-content" }}
<div class="flex flex-col gap-y-6">
  {{ if $.UsernameIdentities }}
  <ul>
    {{ range $.UsernameIdentities }}
      <li>
        {{ $href := (call $.MakeURL "/settings/identity/view_username" "q_login_id" .ID )}}
        <a class="contents" href="{{$href}}">
          {{ template "authflowv2/__settings_item.html"
            (dict
              "Label" .OriginalLoginID
              "WithArrow" true
            )
          }}
        </a>
      </li>
    {{ end }}
  </ul>
  {{ end }}

  {{ if not $.CreateDisabled}}
    {{ if not (ge (len $.UsernameIdentities) (1)) }}
      {{ $href := (call $.MakeURL "/settings/identity/add_username" "q_login_id_key" $.LoginIDKey ) }}
      <a
        class="settings-link-btn"
        href="{{ $href }}"
      >
        {{ translate "v2.page.settings-identity-list-username.default.add-username-button-label" nil }}
      </a>
    {{ end }}
  {{ end }}
</div>
{{ end }}
