{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
    (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings")
        "Title" (translate "v2.page.settings-change-password.default.navbar-title" nil)
    )
  }}
{{ end }}

{{ define "page-content" }}

{{ $unknown_error_message := "" }}
{{ if $.HasUnknownError }}
  {{ $unknown_error_message = (include "authflowv2/__error.html" .) }}
{{ end }}

<div class="flex flex-col settings-content">
  {{ template "authflowv2/__alert_message.html"
    (dict
    "Type" "error"
    "Classname" "mb-4"
    "Message" $unknown_error_message
    )
  }}
  <form
    method="post"
    novalidate
    class="flex flex-col gap-y-8"
    data-controller="turbo-form"
    data-action="submit->turbo-form#submitForm"
  >
    {{ $.CSRFField }}

    <div class="flex flex-col gap-y-4">
    <!-- This field is for Chrome and Safari to correctly associate the username with the password -->
    <!-- both `class="hidden"` and `display:none` do not work for iOS autofill -->
    {{ if $.PasswordManagerUsername }}
      <input style="position: absolute; width: 0; height: 0;" aria-hidden="true" type="text" autocomplete="username" name="" value="{{ $.PasswordManagerUsername }}">
    {{ end }}
    {{ template "authflowv2/__password_field.html" (dict
      "Ctx" $
      "Name" "x_old_password"
      "Type" "old-password"
      "AutoFocus" $.ShouldFocusInput
      "Classname" "w-full"
      "HasError" $.PasswordInputError.HasError
      "HasErrorMessage" $.PasswordInputError.HasErrorMessage
    ) }}

    {{ template "authflowv2/__new_password_field.html" (dict
      "Ctx" $
      "NewPasswordInputName" "x_new_password"
      "ConfirmPasswordInputName" "x_confirm_password"
      "AutoFocus" $.ShouldFocusInput
      "PasswordRules" $.PasswordRulesString
      "PasswordPolicies" $.PasswordPolicies
      "HasNewPasswordInputError" $.NewPasswordInputError.HasError
      "HasNewPasswordInputErrorMessage" $.NewPasswordInputError.HasErrorMessage
      "HasConfirmPasswordInputError" $.ConfirmPasswordInputError.HasError
      "HasConfirmPasswordInputErrorMessage" $.ConfirmPasswordInputError.HasErrorMessage
    )
    }}
    </div>


    <button
      class="primary-btn"
      type="submit"
      name="x_action"
      value=""
      data-authgear-event="authgear.button.change_password"
    >
      {{ template "v2.component.button.default.label-continue" }}
    </button>
  </form>
</div>

{{ end }}
