{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
     (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings/identity/view_username" "q_login_id" $.Identity.ID)
        "Title" (translate "v2.page.settings-identity-edit-username.default.navbar-title" nil)
     )
  }}
{{ end }}

{{ define "page-content" }}
<form
  class="settings-content flex flex-col gap-y-4 py-5 tablet:py-0"
  method="post"
  novalidate
  data-controller="turbo-form"
  data-action="submit->turbo-form#submitForm"
>
  {{ $.CSRFField }}

  <input
    class="input"
    name="x_login_id"
    autocomplete="username webauthn"
    autocapitalize="none"
    value="{{ $.Identity.OriginalLoginID }}"
  />

  <input
    name="x_identity_id"
    type="hidden"
    value="{{ $.Identity.ID }}"
  />

  <input
    name="x_login_id_key"
    type="hidden"
    value="{{ $.Identity.LoginIDKey }}"
  />

  <button
    class="primary-btn"
    type="submit"
    name="x_action"
    data-authgear-event="authgear.button.change_login_id"
  >
    {{ template "v2.component.button.default.label-save" }}
  </button>
</form>
{{ end }}
