{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
    (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings")
        "Title" (translate "v2.page.settings-change-password.default.navbar-title" nil)
    )
  }}
{{ end }}

{{ define "page-content" }}

{{ $err_map := (resolveError $.RawError (dict
  "oldPasswordField" (dict
    "by_reason"                    (list "InvalidCredentials")
    "by_location"                  (list "x_old_password")
  )
  "newPasswordField" (dict
    "by_reason"                    (list "PasswordPolicyViolated")
    "by_location"                  (list "x_password")
  )
  "confirmPasswordField" (dict
    "by_reason"                    (list "PasswordPolicyViolated")
    "by_location"                  (list "x_confirm_password")
  )
)) }}

{{ $old_pw_err := index $err_map "oldPasswordField" }}
{{ $new_pw_err := index $err_map "newPasswordField" }}
{{ $confirm_pw_err := index $err_map "confirmPasswordField" }}
{{ $unknown_err := index $err_map "unknown" }}

{{ $has_old_pw_err := not (isNil $old_pw_err )}}
{{ $has_new_pw_err := not (isNil $new_pw_err )}}
{{ $has_confirm_pw_err := not (isNil $confirm_pw_err )}}
{{ $has_unknown_err := not (isNil $unknown_err )}}


{{ $old_pw_error_message := ""}}
{{ if $has_old_pw_err }}
  {{ $old_pw_error_message = (include "authflowv2/__error.html" (merge (dict "Error" $old_pw_err) $)) }}
{{ end }}

{{ $new_pw_error_message := ""}}
{{ if $has_new_pw_err }}
  {{ $new_pw_error_message = (include "authflowv2/__error.html" (merge (dict "Error" $new_pw_err) $)) }}
{{ end }}

{{ $confirm_pw_error_message := ""}}
{{ if $has_confirm_pw_err }}
  {{ $confirm_pw_error_message = (include "authflowv2/__error.html" (merge (dict "Error" $confirm_pw_err) $)) }}
{{ end }}

{{ $unknown_error_message := "" }}
{{ if $has_unknown_err }}
  {{ $unknown_error_message = (include "authflowv2/__error.html" (merge (dict "Error" $unknown_err) $)) }}
{{ end }}

<div class="flex flex-col settings-content">
  {{ template "authflowv2/__alert_message.html"
    (dict
    "Type" "error"
    "Classname" "mb-4"
    "Message" $unknown_error_message
    )
  }}
  <form
    method="post"
    novalidate
    class="flex flex-col gap-y-8"
    data-controller="turbo-form"
    data-action="submit->turbo-form#submitForm"
  >
    {{ $.CSRFField }}

    <div class="flex flex-col gap-y-4">
    <!-- This field is for Chrome and Safari to correctly associate the username with the password -->
    <!-- both `class="hidden"` and `display:none` do not work for iOS autofill -->
    {{ if $.PasswordManagerUsername }}
      <input style="position: absolute; width: 0; height: 0;" aria-hidden="true" type="text" autocomplete="username" name="" value="{{ $.PasswordManagerUsername }}">
    {{ end }}
    {{ template "authflowv2/__password_field.html" (dict
      "Ctx" $
      "Name" "x_old_password"
      "Type" "old-password"
      "AutoFocus" $.ShouldFocusInput
      "Classname" "w-full"
      "HasError" $has_old_pw_err
      "ErrorMessage" $old_pw_error_message
    ) }}

    {{ template "authflowv2/__new_password_field.html" (dict
      "Ctx" $
      "NewPasswordInputName" "x_new_password"
      "ConfirmPasswordInputName" "x_confirm_password"
      "AutoFocus" $.ShouldFocusInput
      "PasswordRules" $.PasswordRulesString
      "PasswordPolicies" $.PasswordPolicies
      "HasNewPasswordError" $has_new_pw_err
      "NewPasswordErrorMessage" $new_pw_error_message
      "HasConfirmPasswordError" $has_confirm_pw_err
      "ConfirmPasswordErrorMessage" $confirm_pw_error_message
    )
    }}
    </div>


    <button
      class="primary-btn"
      type="submit"
      name="x_action"
      value=""
      data-authgear-event="authgear.button.change_password"
    >
      {{ template "v2.component.button.default.label-continue" }}
    </button>
  </form>
</div>

{{ end }}
