{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
     (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings")
        "Title" (translate "v2.page.settings-identity-phone.default.title" nil)
     )
  }}
{{ end }}

{{ define "__settings_identity_phone_verification_label.html" }}
  {{ if $.Verified }}
    <span class="body-text--md settings-text-color-success">
      {{ translate "v2.page.settings-identity.default.verification-status-verified-label" . }}
    </span>
  {{ else }}
    <span class="body-text--md settings-text-color-failure">
      {{ translate "v2.page.settings-identity.default.verification-status-unverified-label" . }}
    </span>
  {{ end }}
{{ end }}

{{ define "page-content" }}

<div class="flex flex-col gap-y-6">
  <ol>
    {{ range $.PhoneIdentities }}
      <li>
        {{ $claims := index $.Verifications .ID }}
        {{ if not (empty $claims) }}
          {{ $claim := first $claims }}
          {{ $href := (call $.MakeURL "/settings/identity/view_phone" "q_login_id_key" $.LoginIDKey "q_identity_id" .ID )}}
          <a class="contents" href="{{$href}}">
            {{ template "authflowv2/__settings_item.html"
              (dict
                "MaterialIconName" "phone_iphone"
                "Label" .OriginalLoginID
                "SupplementaryNote" (include "__settings_identity_phone_verification_label.html"
                  (dict "Verified" $claim.Verified)
                )
                "WithArrow" true
              )
            }}
          </a>
        {{ end }}
      </li>
    {{ end }}

    {{ range $.OAuthPhoneIdentities }}
      <li>
        {{ template "authflowv2/__settings_item.html"
          (dict
            "MaterialIconName" "phone_iphone"
            "Label" .Phone
            "SupplementaryNote" (translate (printf "v2.page.settings-identity-list-phone.default.provider.%s" .ProviderType) nil)
          )
        }}
      </li>
    {{ end }}
  </ol>

  {{ if not $.CreateDisabled}}
    {{ if not (ge (len $.PhoneIdentities) (1)) }}
      {{ $href := (call $.MakeURL "/settings/identity/add_phone" "q_login_id_key" $.LoginIDKey ) }}
      <a
        class="settings-link-btn"
        href="{{ $href }}"
      >
        {{ translate "v2.page.settings-identity-list-phone.default.add-phone-button-label" nil }}
      </a>
    {{ end }}
  {{ end }}

  {{ if and ($.PrimaryPhone) (gt (len $.AllPhones) (1)) }}
    <div>
      <div class="settings-title text-start">
        {{ translate "v2.page.settings-identity-list-phone.default.primary-phone-label" . }}
      </div>
      {{ template "authflowv2/__settings_item.html"
        (dict
          "MaterialIconName" "phone_iphone"
          "Label" .PrimaryPhone
          "ActionButton" (include "__settings_identity_phone_change_button.html"
            (dict "Href" (call $.MakeURL "/settings/identity/change_primary_phone" "q_login_id_key" $.LoginIDKey))
          )
        )
      }}
    </div>
  {{ end }}
</div>

{{ end }}

{{ define "__settings_identity_phone_change_button.html" }}
  <a class="settings-link-btn" href="{{ $.Href }}">
    {{ translate "v2.page.settings-identity-list-phone.default.change-primary-phone-button-label" . }}
  </a>
{{ end }}
