{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
     (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings/mfa")
        "Title" (translate "v2.page.settings-mfa-create-password.default.navbar-title" nil)
     )
  }}
{{ end }}

{{ define "page-content" }}

{{ $err_map := (resolveError $.RawError (dict
  "passwordField" (dict
    "by_reason"                    (list "InvalidCredentials" "PasswordPolicyViolated")
    "by_location"                  (list "x_password")
  )
  "confirmPasswordField" (dict
    "by_reason"                    (list "PasswordPolicyViolated")
    "by_location"                  (list "x_confirm_password")
  )
)) }}

{{ $pw_err := index $err_map "passwordField" }}
{{ $confirm_pw_err := index $err_map "confirmPasswordField" }}
{{ $unknown_err := index $err_map "unknown" }}

{{ $has_pw_err := not (isNil $pw_err )}}
{{ $has_confirm_pw_err := not (isNil $confirm_pw_err )}}
{{ $has_unknown_err := not (isNil $unknown_err )}}


{{ $pw_error_message := ""}}
{{ if $has_pw_err }}
  {{ $pw_error_message = (include "authflowv2/__error.html" (merge (dict "Error" $pw_err) $)) }}
{{ end }}

{{ $confirm_pw_error_message := ""}}
{{ if $has_confirm_pw_err }}
  {{ $confirm_pw_error_message = (include "authflowv2/__error.html" (merge (dict "Error" $confirm_pw_err) $)) }}
{{ end }}

{{ $unknown_error_message := "" }}
{{ if $has_unknown_err }}
  {{ $unknown_error_message = (include "authflowv2/__error.html" (merge (dict "Error" $unknown_err) $)) }}
{{ end }}

<form
  class="settings-content flex flex-col gap-y-8"
  method="post"
  novalidate
  data-controller="turbo-form"
  data-action="submit->turbo-form#submitForm"
>
  {{ template "authflowv2/__alert_message.html"
    (dict
      "Type" "error"
      "Classname" "mt-4"
      "Message" $unknown_error_message
    )
  }}

  {{ $.CSRFField }}
  {{ if $.PasswordManagerUsername }}
    <!-- class="hidden" doesn't work with password manager -->
    <input style="display: none;" aria-hidden="true" type="text" autocomplete="username" name="" value="{{ $.PasswordManagerUsername }}">
  {{ end }}
  {{ template "authflowv2/__new_password_field.html"
    (dict
      "Ctx" $
      "NewPasswordInputName" "x_password"
      "ConfirmPasswordInputName" "x_confirm_password"
      "NewPasswordInputPlaceholder" (include "v2.component.password-input.default.placeholder-new-password" nil)
      "ConfirmPasswordInputPlaceholder" (include "v2.component.password-input.default.placeholder-confirm-new-password" nil)
      "AutoFocus" $.ShouldFocusInput
      "PasswordRules" $.PasswordRulesString
      "PasswordPolicies" $.PasswordPolicies
      "HasNewPasswordError" $has_pw_err
      "NewPasswordErrorMessage" $pw_error_message
      "HasConfirmPasswordError" $has_confirm_pw_err
      "ConfirmPasswordErrorMessage" $confirm_pw_error_message
    )
  }}

  <button
    class="primary-btn"
    type="submit"
    name="x_action"
    data-authgear-event="authgear.button.create_password"
  >
    {{ translate "v2.component.button.default.label-continue" nil }}
  </button>
</form>
{{ end }}
