{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
     (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings/identity/phone" "q_login_id_key" $.LoginIDKey)
        "Title" (translate "v2.page.settings-identity-add-phone.default.navbar-title" nil)
     )
  }}
{{ end }}

{{ define "page-content" }}

<form  
  class="settings-content flex flex-col gap-y-4 py-5 tablet:py-0"
  method="post"
  novalidate
  data-controller="turbo-form"
  data-action="submit->turbo-form#submitForm">  

  {{ $display_error := false }}
  {{ if $.Error }}
    {{ $display_error = true }}
  {{ end }}
  
  {{ template "authflowv2/__alert_message.html"
    (dict
      "Type" "error"
      "Message" (include "authflowv2/__error.html" .)
    )
  }}

  {{ $.CSRFField }}

  {{ template "authflowv2/__phone_input.html"
    (dict
      "Placeholder" (include "v2.page.settings-identity-add-phone.default.phone-input-placeholder" nil)
      "IsError" $display_error
      "AutoFocus" $.ShouldFocusInput
      "PhoneInputAttrs" `
        data-text-field-target="input"
      `
      "InputName" "x_login_id"
    )
  }}

  <button
    class="primary-btn"
    type="submit"
    name="x_action"
    data-authgear-event="authgear.button.change_login_id"
  >
    {{ template "v2.component.button.default.label-save" }}
  </button>
</form>

{{ end }}