{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-content" }}


{{ template "authflowv2/__navbar.html"
(dict
  "BackHref" (call $.MakeURL "/settings/profile")
  "BackTitle" (include "v2.component.navbar.default.item-back-button-label" nil )
  "Title" (translate "v2.page.settings-profile.default.profile-picture-title" nil)
)
}}

<div class="grid grid-cols-1 auto-rows-auto w-full pt-5 mt-5 justify-items-center" data-controller="image-picker">

  {{/* Normally form does not need action set. */}}
  {{/* However, this form is submitted asynchronously. */}}
  {{/* By the time this form is submitted, the URL in the address bar could have changed. */}}
  {{/* This could result in a weird bug like https://github.com/authgear/authgear-server/issues/1916 */}}
  {{/* Back button is clicked after the upload was initiated */}}
  {{/* When the upload finishes, this form is submitted to the URL of the previous page */}}
  {{/* The previous page does not support POST method, hence we see the error described in the issue */}}
  <form class="hidden" method="post" action="{{ $.RequestURI }}" novalidate data-image-picker-target="formUpload">
    {{ $.CSRFField }}
    <input type="hidden" name="/picture" value="" data-image-picker-target="inputValue">
    <input type="hidden" name="x_action" value="save">
  </form>


  <img class="settings-user-profile-pic__image--edit"
    {{ if $.Picture }}
      src="{{ $.Picture }}"
    {{ else }}
      src="{{ call $.GeneratedStaticAssetURL "v2_avatar_placeholder.svg" }}"
    {{ end }}
    data-image-picker-target="imgPreview"
  >

  <div class="w-full max-w-100">
    <img
      class="w-full h-100 hidden"
      data-image-picker-target="imgCropper"
      data-action="error->image-picker#onError"
    >
  </div>

  <div class="flex flex-col mt-10 gap-4 w-full max-w-86">
    <input
      type="file"
      class="hidden"
      accept="image/png, image/jpeg"
      data-image-picker-target="inputFile"
      data-action="input->image-picker#onChange"
    >

    <!-- Upload Button -->
    <button
      class="primary-btn w-full"
      type="button"
      data-image-picker-target="buttonFile"
      data-action="click->image-picker#onClickFile"
    >
      {{ if $.Picture }}
        {{ template "v2.page.settings-profile.default.button-label-upload-new-picture" . }}
      {{ else }}
        {{ template "v2.page.settings-profile.default.button-label-add-picture" . }}
      {{ end }}
    </button>

    <!-- Remove Button -->
    <form method="post" novalidate>
      {{ $.CSRFField }}
      <input type="hidden" name="/picture" value="">
      <button
        class="secondary-btn w-full {{ if not $.Picture }}hidden{{ end }}"
        type="submit"
        name="x_action"
        value="save"
        data-image-picker-target="buttonRemove"
      >
        {{ template "v2.page.settings-profile.default.button-label-remove-picture" . }}
      </button>
    </form>

    <!-- Save button -->
    <button
      class="primary-btn w-full hidden"
      type="button"
      data-authgear-event="authgear.button.update_profile"
      data-image-picker-target="buttonSave"
      data-action="click->image-picker#onClickSave"
    >
      {{ template "v2.component.button.default.label-save" }}
    </button>
  </div>
</div>
{{ end }}
