{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
     (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings")
        "Title" (translate "v2.page.settings-identity-list-email.default.navbar-title" nil)
     )
  }}
{{ end }}

{{ define "settings_identity_email_verification_label" }}
  {{ if $.Verified }}
    <div class="body-text--md settings-text-color-success">
      {{ translate "v2.page.settings-identity-list-email.default.verified-label" . }}
    </div>
  {{ else }}
    <div class="body-text--md settings-text-color-failure">
      {{ translate "v2.page.settings-identity-list-email.default.not-verified-label" . }}
    </div>
  {{ end }}
{{ end }}

{{ define "page-content" }}

<div class="flex flex-col gap-y-6">
  {{ if $.EmailIdentities }}
  <ol>
    {{ range $.EmailIdentities }}
      <li>
        {{ $claims := index $.Verifications .ID }}
        {{ if not (empty $claims) }}
          {{ $claim := first $claims }}
          {{ $href := (call $.MakeURL "/settings/identity/view_email" "q_login_id_key" $.LoginIDKey "q_login_id" .ID )}}
          {{ template "authflowv2/__settings_action_item.html"
              (dict
                "IconName" "email"
                "Label" .OriginalLoginID
                "Description" (include "settings_identity_email_verification_label" 
                  (dict "Verified" $claim.Verified)
                )
                "RedirectURL" $href
              )
          }}
        {{ end }}
      </li>
    {{ end }}
  </ol>
  {{ end }}

  {{ if not $.CreateDisabled}}
    {{ $href := (call $.MakeURL "/settings/identity/new_email" "q_login_id_key" $.LoginIDKey ) }}
    <a
      class="settings-link-btn"
      href="{{ $href }}"
    >
      {{ translate "v2.page.settings-identity-list-email.default.button-add-email-label" nil }}
    </a>
  {{ end }}
</div>

{{ end }}
