{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
     (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings/identity/email" "q_login_id_key" $.LoginIDKey)
        "Title" (translate "v2.page.settings-identity-email.default.navbar-title" nil)
     )
  }}
{{ end }}

{{ define "settings_identity_email_verification_label" }}
  {{ if $.Verified }}
    <div class="body-text--md settings-text-color-success">
      {{ translate "v2.page.settings-identity-email.default.verified-label" . }}
    </div>
  {{ else }}
    <div class="body-text--md settings-text-color-failure">
      {{ translate "v2.page.settings-identity-email.default.not-verified-label" . }}
    </div>
  {{ end }}
{{ end }}

{{ define "settings_identity_email_edit_button" }}
  {{ if not $.Verified }}
    <a class="settings-link-btn" href="{{ $.Href }}">
      {{ translate "v2.page.settings-identity-view-email.default.button-edit-email-label" . }}
    </a>
  {{ end }}
{{ end }}

{{ define "settings_identity_email_verification_button" }}
  {{ if not $.Verified }}
    <a class="secondary-btn" href="{{ $.Href }}">
      {{ translate "v2.page.settings-identity-view-email.default.button-verify-email-label" . }}
    </a>
  {{ end }}
{{ end }}

{{ define "page-content" }}

{{ $IdentityID := $.EmailIdentity.ID }}

<div class="flex flex-col gap-y-6">
  {{ $claims := index $.Verifications $IdentityID }}
  {{ if not (empty $claims) }}
    {{ $claim := first $claims }}
    {{ $href := (call $.MakeURL "/settings/identity/edit_email" "q_login_id" $LoginID )}}

    {{/* We handle these cases separately because for some reason, even an empty "ExtraContent" value causes unwanted spacing. */}}
    {{ if $claim.Verified }}
      {{ template "authflowv2/__settings_action_item.html"
          (dict
            "IconName" "email"
            "Label" $.EmailIdentity.OriginalLoginID
            "Description" (include "settings_identity_email_verification_label" 
              (dict "Verified" true)
            )
            "ActionButton" (include "settings_identity_email_edit_button" 
              (dict "Href" (call $.MakeURL "/settings/identity/edit_email" "q_login_id" $LoginID))
            )
          )
      }}
    {{ else }}
    {{ template "authflowv2/__settings_action_item.html"
        (dict
          "IconName" "email"
          "Label" $.EmailIdentity.OriginalLoginID
          "Description" (include "settings_identity_email_verification_label" 
            (dict "Verified" false)
          )
          "ActionButton" (include "settings_identity_email_edit_button" 
            (dict "Href" (call $.MakeURL "/settings/identity/edit_email" "q_login_id" $LoginID))
          )
          "ExtraContent" (include "settings_identity_email_verification_button" 
            (dict "Verified" false "Href" (call $.MakeURL "/settings/identity/verify_email" "q_login_id" $.LoginIDKey))
          )
        )
    }}
    {{ end }}
  {{ end }}

  {{ if not $.DeleteDisabled}}
    {{ $RemoveDialogID := "remove-email-identity-dialog" }}

    {{ $href := (call $.MakeURL "/settings/identity/new_email" "q_login_id_key" $LoginID ) }}
    <button 
      class="settings-link-btn--destructive" 
      data-controller="settings-dialog"
      data-settings-dialog-dialogid-param="{{ $RemoveDialogID }}"
      data-action="click->settings-dialog#open">
      {{ translate "v2.page.settings-identity-view-email.default.button-remove-email-label" nil }}
    </button>

    {{ template "authflowv2/__settings_dialog.html" 
      (dict
        "Ctx" .
        "DialogID" $RemoveDialogID
        "Title" (include "v2.page.settings-identity-view-email.remove.title" nil)
        "Description" (include "v2.page.settings-identity-view-email.remove.description" 
          (dict 
            "target" (include "__settings_identity_view_email_inline_breakable" $.EmailIdentity.OriginalLoginID )
          )
        )
        "FormContent" $.CSRFField
        "Buttons" (list 
          (dict 
            "Type" "Destructive" 
            "Label" (include "v2.component.button.default.label-remove" nil)
            "Value" "remove"
          )
          (dict 
            "Type" "Cancel"
            "Label" (include "v2.component.button.default.label-cancel" nil)
          )
        )
      ) 
    }}
  {{ end }}
</div>

{{ end }}

{{ define "__settings_identity_view_email_inline_breakable" }}
  <span class="break-all">{{ . }}</span>
{{ end }}
