{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
     (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings/identity/email" "q_login_id_key" $.LoginIDKey)
        "Title" (translate "v2.page.settings-identity-change-primary-email.default.navbar-title" nil)
     )
  }}
{{ end }}

{{ define "page-content" }}

<form
  class="settings-content flex flex-col gap-y-8"
  method="post"
  novalidate
  data-controller="turbo-form"
  data-action="submit->turbo-form#submitForm"
>
  {{ $.CSRFField }}
  <ul>
    {{ $currentEmail := .Email }}
    {{ range .EmailIdentities }}
      <li>
        {{ template "authflowv2/__settings_radio.html"
        (dict
          "Label" (include "__settgins_identity_change_primary_email_item_label" .OriginalLoginID)
          "Name" "/email" "Value" .OriginalLoginID
          "ShowInput" false
          "DefaultChecked" (eq .OriginalLoginID $currentEmail)
        )
        }}
      </li>
    {{ end }}
  </ul>

  <button
    class="primary-btn"
    type="submit"
    name="x_action"
    value="save"
    data-authgear-event="authgear.button.update_profile"
  >
    {{ translate "v2.component.button.default.label-save" nil }}
  </button>
</form>

{{ end }}

{{ define "__settgins_identity_change_primary_email_item_label" }}
  <span class="break-all">{{ . }}</span>
{{ end }}
