{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-content" }}

<div class="flex flex-col gap-8">
  <div class="flex flex-col gap-4 items-center">
    <img
    class="rounded-full bg-center bg-cover bg-no-repeat w-30 h-30"
    {{ if (and (call $.IsReadable "/picture") $.Picture) }}
      src="{{ $.Picture }}"
    {{ else }}
      src="{{ call $.GeneratedStaticAssetURL "v2_avatar_placeholder.svg" }}"
    {{ end }}
    >
    <div>
      <div class="settings-title">
        {{ $any_name_readable := (or (call $.IsReadable "/name") (call $.IsReadable "/given_name") (call $.IsReadable "/family_name") (call $.IsReadable "/middle_name") (call $.IsReadable "/nickname")) }}
        {{ if (and $any_name_readable $.FormattedName) }}<span class="truncate">{{ $.FormattedName }}</span>{{ end }}
        {{ if (and (not $.FormattedName) $.EndUserAccountID) }}<span class="truncate">{{ $.EndUserAccountID }}</span>{{ end }}
      </div>
      <p class="body-text--lg">
        {{ $editProfileHref := call $.MakeURL "/settings/v2/profile"}}
        {{ template "v2.page.settings.default.links.edit-profile" (dict "href" $editProfileHref )}}
      </p>

    </div>
  </div>

  {{/* Identity */}}
  <div class="flex flex-col gap-2">
    <div class="flex flex-col gap-1">
      <div class="settings-title text-start">
        {{ template "v2.page.settings.default.title-my-account" . }}
      </div>
      <div class="settings-description text-start">
        {{ template "v2.page.settings.default.description-my-account" . }}
      </div>
    </div>

    <div>
    {{ range .IdentityCandidates }}
      {{ if eq .type "login_id" }}
      {{ if eq .login_id_type "email" }}
      <a
        class="settings-item w-full row-sep"
        {{ if .identity_id }}
          href="{{ call $.MakeURL "/settings/v2/enter_login_id" "q_login_id_key" .login_id_key "q_login_id_type" .login_id_type "q_login_id_input_type" .login_id_input_type "q_identity_id" .identity_id }}"
        {{ else }}
          href="{{ call $.MakeURL "/settings/v2/enter_login_id" "q_login_id_key" .login_id_key "q_login_id_type" .login_id_type "q_login_id_input_type" .login_id_input_type }}"
        {{ end }}
      >
        <div class="flex w-full">
          <div class="flex gap-2 w-44 items-center">
            <i class="alternative-icon material-icons">
              mail
            </i>
            {{ template "v2.page.settings.default.button-label-email" . }}
          </div>
          <div class="flex-1 flex-col text-start settings-description">
            {{ range $i, $email := $.Emails }}
            <div>
              {{ $email }}
            </div>
            {{ end }}
          </div>
          <div class="flex items-center">
            <i class="settings-item__alternative_icon material-icons">
              arrow_forward_ios
            </i>
          </div>
        </div>
      </a>
      {{ end }}

      {{ if eq .login_id_type "phone" }}
      <a
        class="settings-item w-full row-sep"
        {{ if .identity_id }}
          href="{{ call $.MakeURL "/settings/v2/enter_login_id" "q_login_id_key" .login_id_key "q_login_id_type" .login_id_type "q_login_id_input_type" .login_id_input_type "q_identity_id" .identity_id }}"
        {{ else }}
          href="{{ call $.MakeURL "/settings/v2/enter_login_id" "q_login_id_key" .login_id_key "q_login_id_type" .login_id_type "q_login_id_input_type" .login_id_input_type }}"
        {{ end }}
      >
        <div class="flex w-full">
          <div class="flex gap-2 w-44 items-center">
            <i class="alternative-icon material-icons">
              phone_iphone
            </i>
            {{ template "v2.page.settings.default.button-label-phone" . }}
          </div>
          <div class="flex-1 flex-col text-start settings-description">
            {{ range $i, $phone := $.PhoneNumbers }}
            <div>
              {{ $phone }}
            </div>
            {{ end }}
          </div>
          <div class="flex items-center">
            <i class="settings-item__alternative_icon material-icons">
              arrow_forward_ios
            </i>
          </div>
        </div>
      </a>
      {{ end }}

      {{ if eq .login_id_type "username" }}
      <a
        class="settings-item w-full row-sep"
        {{ if .identity_id }}
          href="{{ call $.MakeURL "/settings/v2/enter_login_id" "q_login_id_key" .login_id_key "q_login_id_type" .login_id_type "q_login_id_input_type" .login_id_input_type "q_identity_id" .identity_id }}"
        {{ else }}
          href="{{ call $.MakeURL "/settings/v2/enter_login_id" "q_login_id_key" .login_id_key "q_login_id_type" .login_id_type "q_login_id_input_type" .login_id_input_type }}"
        {{ end }}
      >
        <div class="flex w-full">
          <div class="flex gap-2 w-44 items-center">
            <i class="alternative-icon material-icons">
              account_circle
            </i>
            {{ template "v2.page.settings.default.button-label-username" . }}
          </div>
          <div class="flex-1 flex-col text-start settings-description">
            {{ range $i, $username := $.PreferredUsernames }}
            <div>
              {{ $username }}
            </div>
            {{ end }}
          </div>
          <div class="flex items-center">
            <i class="settings-item__alternative_icon material-icons">
              arrow_forward_ios
            </i>
          </div>
        </div>
      </a>
      {{ end }}
      {{ end }}
    {{ end}}

    <a
      class="settings-item w-full row-sep"
      href="{{ call $.MakeURL "/settings/v2/identity" }}"
    >
      <div class="flex w-full justify-between">
        <div class="flex gap-2 items-center">
          <i class="alternative-icon material-icons">
            link
          </i>
          {{ template "v2.page.settings.default.button-label-social-accounts" . }}
        </div>
        <div class="flex items-center">
          <i class="settings-item__alternative_icon material-icons">
            arrow_forward_ios
          </i>
        </div>
      </div>
    </a>
  </div>
  </div>

  {{/* Security */}}
  <div class="flex flex-col gap-2">
    <div class="flex flex-col gap-1">
      <div class="settings-title text-start">
        {{ template "v2.page.settings.default.title-security" . }}
      </div>
      <div class="settings-description text-start">
        {{ template "v2.page.settings.default.description-security" . }}
      </div>
    </div>

    <div>
      {{ range $.Authenticators }}
      {{ if and (eq .Type "password") (eq .Kind "primary") }}
      <a
        class="settings-item w-full row-sep"
        href="{{ call $.MakeURL "/settings/v2/change_password" }}"
      >
        <div class="flex w-full justify-between">
          <div class="flex gap-2 items-center">
            <i class="alternative-icon material-icons">
              key
            </i>
            {{ template "v2.page.settings.default.button-label-password" . }}
          </div>
          <div class="flex items-center">
            <i class="settings-item__alternative_icon material-icons">
              arrow_forward_ios
            </i>
          </div>
        </div>
      </a>
      {{ end }}
      {{ end }}

      {{ if $.ShowPrimaryPasskey }}
      <a
        class="settings-item w-full row-sep"
        href="{{ call $.MakeURL "/settings/v2/passkey" }}"
      >
        <div class="flex w-full justify-between">
          <div class="flex gap-2 items-center">
            <i class="alternative-icon material-icons">
              passkey
            </i>
            {{ template "v2.page.settings.default.button-label-passkey" . }}
          </div>
          <div class="flex items-center">
            <i class="settings-item__alternative_icon material-icons">
              arrow_forward_ios
            </i>
          </div>
        </div>
      </a>
      {{ end }}

      {{ if $.ShowMFA }}
      <a
        class="settings-item w-full row-sep"
        href="{{ call $.MakeURL "/settings/v2/mfa" }}"
      >
        <div class="flex w-full justify-between">
          <div class="flex gap-2 items-center">
            <i class="alternative-icon material-icons">
              encrypted
            </i>
            {{ template "v2.page.settings.default.button-label-mfa" . }}
          </div>
          <div class="flex items-center">
            <i class="settings-item__alternative_icon material-icons">
              arrow_forward_ios
            </i>
          </div>
        </div>
      </a>
      {{ end }}

      {{ if $.ShowBiometric }}
      <a
        class="settings-item w-full row-sep"
        href="{{ call $.MakeURL "/settings/v2/biometric" }}"
      >
        <div class="flex w-full justify-between">
          <div class="flex gap-2 items-center">
            <i class="alternative-icon material-icons">
              fingerprint
            </i>
            {{ template "v2.page.settings.default.button-label-biometric-login" . }}
          </div>
          <div class="flex items-center">
            <i class="settings-item__alternative_icon material-icons">
              arrow_forward_ios
            </i>
          </div>
        </div>
      </a>
      {{ end }}

      <a
        class="settings-item w-full row-sep"
        href="{{ call $.MakeURL "/settings/v2/sessions" }}"
      >
        <div class="flex w-full justify-between">
          <div class="flex gap-2 items-center">
            <i class="alternative-icon material-icons">
              verified_user
            </i>
            {{ template "v2.page.settings.default.button-label-signed-in-devices" . }}
          </div>
          <div class="flex items-center">
            <i class="settings-item__alternative_icon material-icons">
              arrow_forward_ios
            </i>
          </div>
        </div>
      </a>

      <a
        class="settings-item w-full row-sep"
        href="{{ call $.MakeURL "/settings/v2/advanced_settings" }}"
      >
        <div class="flex w-full justify-between">
          <div class="flex gap-2 items-center">
            <i class="alternative-icon material-icons">
              settings_alert
            </i>
            {{ template "v2.page.settings.default.button-label-advanced-settings" . }}
          </div>
          <div class="flex items-center">
            <i class="settings-item__alternative_icon material-icons">
              arrow_forward_ios
            </i>
          </div>
        </div>
      </a>
    </div>
  </div>

  {{ if and $.ClientURI (not $.IsNativePlatform) }}
  <div class="flex justify-center">
    <a
      class="secondary-btn w-86"
      href="{{ $.ClientURI }}"
    >
      <div class="flex gap-2 items-center">
        <i class="alternative-icon material-icons">
          home
        </i>
        {{ template "v2.page.settings.default.button-label-back-to-app" . }}
      </div>
    </a>
  </div>
  {{ end}}




</div>


{{ end }}
