{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
     (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings/profile")
        "Title" (translate "v2.page.settings-profile-edit-name.default.title" nil)
     )
  }}
{{ end }}

{{ define "page-content" }}

<form
  class="settings-content flex flex-col gap-y-8"
  data-controller="turbo-form form-state"
  data-action="submit->turbo-form#submitForm"
  method="post"
>
  {{ $.CSRFField }}

  <div class="settings-content-form-fields">
    {{ if (call $.IsReadable "/name") }}
      {{ template "authflowv2/__settings_text_input.html"
          (dict
            "Label" (translate "v2.page.settings-profile-edit-name.default.fullname-input-label" nil)
            "Name" "/name"
            "Value" $.Name
            "InputAttrs" `
              data-form-state-target="input"
            `
            "Disabled" (not (call $.IsEditable "/name"))
          )
      }}
    {{ end }}

    {{ if (call $.IsReadable "/given_name") }}
      {{ template "authflowv2/__settings_text_input.html"
          (dict
            "Label" (translate "v2.page.settings-profile-edit-name.default.given-name-input-label" nil)
            "Name" "/given_name"
            "Value" $.GivenName
            "InputAttrs" `
              data-form-state-target="input"
            `
            "Disabled" (not (call $.IsEditable "/given_name"))
          )
      }}
    {{ end }}

    {{ if (call $.IsReadable "/middle_name") }}
      {{ template "authflowv2/__settings_text_input.html"
          (dict
            "Label" (translate "v2.page.settings-profile-edit-name.default.middle-name-input-label" nil)
            "Name" "/middle_name"
            "Value" $.MiddleName
            "InputAttrs" `
              data-form-state-target="input"
            `
            "Disabled" (not (call $.IsEditable "/middle_name"))
          )
      }}
    {{ end }}

    {{ if (call $.IsReadable "/family_name") }}
      {{ template "authflowv2/__settings_text_input.html"
          (dict
            "Label" (translate "v2.page.settings-profile-edit-name.default.family-name-input-label" nil)
            "Name" "/family_name"
            "Value" $.FamilyName
            "InputAttrs" `
              data-form-state-target="input"
            `
            "Disabled" (not (call $.IsEditable "/family_name"))
          )
      }}
    {{ end }}

    {{ if (call $.IsReadable "/nickname") }}
      {{ template "authflowv2/__settings_text_input.html"
          (dict
            "Label" (translate "v2.page.settings-profile-edit-name.default.nickname-input-label" nil)
            "Name" "/nickname"
            "Value" $.Nickname
            "InputAttrs" `
              data-form-state-target="input"
            `
            "Disabled" (not (call $.IsEditable "/nickname"))
          )
      }}
    {{ end }}
  </div>

  {{ if or (call $.IsEditable "/name") (call $.IsEditable "/given_name") (call $.IsEditable "/family_name") (call $.IsEditable "/middle_name") (call $.IsEditable "/nickname") }}
    <button
      class="primary-btn"
      type="submit"
      name="x_action"
      value="save"
      data-authgear-event="authgear.button.update_profile"
      data-form-state-target="submit"
    >
      {{ translate "v2.component.button.default.label-save" . }}
    </button>
  {{ end }}
</form>

{{ end }}
