{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ $title := (translate "v2.page.settings-oob-otp-sms.default.navbar-title" nil) }}
  {{ if eq $.OOBOTPType "email" }}
    {{ $title = (translate "v2.page.settings-oob-otp-email.default.navbar-title" nil) }}
  {{ end }}
  {{ template "authflowv2/__navbar.html"
     (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings/mfa")
        "Title" $title
     )
  }}
{{ end }}

{{ define "page-content" }}
<div>
  {{ if $.OOBOTPAuthenticators }}
    <ul>
      {{ range $.OOBOTPAuthenticators }}
        <li>
          {{ $label := .Phone }}
          {{ if eq $.OOBOTPType "email" }}
            {{ $label = .Email }}
          {{ end }}
          {{ template "authflowv2/__settings_action_item.html"
              (dict
                "Label" $label
                "Description" (include "__settings_oob_otp_item_added_at" .)
                "ActionButton" (include "__settings_oob_otp_item_delete_button" nil)
              )
          }}
        </li>
      {{ end }}
    </ul>
  {{ end }}

  {{ $href := (call $.MakeURL (printf "/settings/mfa/new_oob_otp_%s" $.OOBOTPType)) }}
  <a
    class="settings-link-btn mt-6 block"
    href="{{ $href }}"
  >
    {{ $label := (translate "v2.page.settings-oob-otp.default.button-oob-otp-sms-label" nil)}}
    {{ if eq $.OOBOTPType "email" }}
      {{ $label = (translate "v2.page.settings-oob-otp.default.button-oob-otp-email-label" nil) }}
    {{ end }}
    {{ $label }}
  </a>
</div>
{{ end }}


{{ define "__settings_oob_otp_item_added_at" }}
<span>
  {{
    translate "v2.page.settings-oob-otp.default.added-at-label"
      (dict
        "time" .CreatedAt
        "rfc3339" (rfc3339 .CreatedAt)
      )
  }}
</span>
{{ end }}

{{ define "__settings_oob_otp_item_delete_button" }}
<button type="button">
  <i class="material-icons text-[1.5rem] text-[var(--color-neutral-200)]">close</i>
</button>
{{ end }}
