{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
     (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings/identity/email" "q_login_id_key" $.LoginIDKey)
        "Title" (translate "v2.page.settings-identity-email.default.title" nil)
        "Context" .
     )
  }}
{{ end }}

{{ define "__settings_identity_email_verification_label.html" }}
  {{ if $.VerificationEnabled }}
    <div class="flex flex-col gap-y-2 items-start">
    {{ if $.Verified }}
      <p class="body-text--md settings-text-color-success">
        {{ translate "v2.page.settings-identity.default.verification-status-verified-label" . }}
      </p>
    {{ else }}
      <p class="body-text--md settings-text-color-failure">
        {{ translate "v2.page.settings-identity.default.verification-status-unverified-label" . }}
      </p>
      {{ $.VerfifyButton }}
    {{ end }}
    </div>
  {{ end }}
{{ end }}

{{ define "__settings_identity_email_edit_button.html" }}
  {{ if not $.Verified }}
    <a class="settings-link-btn" href="{{ $.Href }}">
      {{ translate "v2.page.settings-identity-view-email.default.edit-email-button-label" . }}
    </a>
  {{ end }}
{{ end }}

{{ define "__settings_identity_email_verification_button.html" }}
  <form
    method="post"
    novalidate
    data-controller="turbo-form"
    data-action="submit->turbo-form#submitForm"
    >
    {{ .CSRFField }}
    <input type="hidden" name="x_login_id" value="{{ .LoginID }}">
    <input type="hidden" name="x_identity_id" value="{{ .IdentityID }}">
    <button type="submit" class="secondary-btn" name="x_action" value="verify">
      {{ translate "v2.page.settings-identity-view-email.default.verify-email-button-label" . }}
    </button>
  </form>
{{ end }}

{{ define "page-content" }}

{{ $LoginID := $.EmailIdentity.LoginID }}
{{ $IdentityID := $.EmailIdentity.ID }}

<div class="flex flex-col gap-y-6">
  {{ $verifyButton := "" }}
  {{ if not $.Verified }}
    {{ $verifyButton = (include "__settings_identity_email_verification_button.html"
        (dict
          "CSRFField" $.CSRFField
          "LoginID" $LoginID
          "IdentityID" $IdentityID
        )
      )
    }}
  {{ end }}
  {{ template "authflowv2/__settings_item.html"
    (dict
      "MaterialIconName" "email"
      "Label" $.EmailIdentity.OriginalLoginID
      "WithArrow" false
      "SupplementaryNote" (include "__settings_identity_email_verification_label.html"
        (dict
          "Verified" $.Verified
          "VerfifyButton" $verifyButton
          "VerificationEnabled" $.VerificationEnabled
        )
      )
      "ActionButton" (include "__settings_identity_email_edit_button.html"
        (dict "Href" (call $.MakeURL "/settings/identity/change_email" "q_login_id_key" $.LoginIDKey "q_identity_id" $IdentityID))
      )
    )
  }}

  {{ if not $.DeleteDisabled}}
    {{ $RemoveDialogID := "remove-email-identity-dialog" }}
    <button
      class="settings-link-btn--destructive"
      data-controller="dialog"
      id="{{ $RemoveDialogID }}"
      data-action="click->dialog#open">
      {{ translate "v2.page.settings-identity-view-email.default.remove-email-button-label" nil }}
    </button>

    {{ template "authflowv2/__settings_dialog.html"
      (dict
        "Ctx" .
        "DialogID" $RemoveDialogID
        "Title" (include "v2.page.settings-identity-view-email.default.remove-identity-dialog-title" nil)
        "Description" (include "v2.page.settings-identity-view-email.default.remove-identity-dialog-description"
          (dict
            "target" (include "__settings_identity_view_email_inline_breakable.html" $.EmailIdentity.OriginalLoginID )
          )
        )
        "FormContent" (include "__settings_identity_view_email_remove_dialog_form_content.html" .)
        "Buttons" (list
          (dict
            "Type" "Destructive"
            "Label" (include "v2.component.button.default.label-remove" nil)
            "Value" "remove"
          )
          (dict
            "Type" "Cancel"
            "Label" (include "v2.component.button.default.label-cancel" nil)
          )
        )
      )
    }}
  {{ end }}
</div>

{{ end }}

{{ define "__settings_identity_view_email_remove_dialog_form_content.html" }}
  {{ $.CSRFField }}
  <input type="hidden" name="x_identity_id" value="{{ $.EmailIdentity.ID }}">
{{ end }}

{{ define "__settings_identity_view_email_inline_breakable.html" }}
  <span class="break-all"><b>{{ . }}</b></span>
{{ end }}
