{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
     (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings/mfa")
        "Title" (translate "v2.page.settings-mfa-password.default.navbar-title" nil)
     )
  }}
{{ end }}

{{ define "page-content" }}
{{ if $.ShowSecondaryPassword }}
  <div class="flex flex-col gap-y-8">
    {{ $href := (call $.MakeURL "/settings/mfa/create_password") }}
    {{ if $.SecondaryPassword }}
      {{ $href = (call $.MakeURL "/settings/mfa/password") }}
    {{ end }}

    {{ template "authflowv2/__settings_item.html"
        (dict
          "Label" (translate "v2.page.settings-mfa-password.default.additional-password-label" nil)
          "Href" (call $.MakeURL "/settings/mfa/edit_password")
          "SupplementaryNote" (include "__settings_mfa_password_description" (dict "SecondaryPassword" $.SecondaryPassword))
        )
    }}

    <button
      type="button"
      class="settings-link-btn--destructive"
      data-controller="settings-dialog"
      data-action="click->settings-dialog#open"
      data-settings-dialog-dialogid-param="settings-mfa-delete-secondary-password"
    >
      {{ translate "v2.page.settings-mfa-password.default.remove-button-label" nil }}
    </button>

    {{ template "authflowv2/__settings_dialog.html" (dict
      "Ctx" .
      "DialogID" "settings-mfa-delete-secondary-password"
      "Title" (translate "v2.page.settings-mfa-password.default.dialog-delete-title" nil)
      "Description" (translate "v2.page.settings-mfa-password.default.dialog-delete-description" nil)
      "FormContent" $.CSRFField
      "Buttons" (list
        (dict
          "Type" "Destructive"
          "Label" (include "v2.component.button.default.label-remove" nil)
          "Value" "remove_secondary_password"
        )
        (dict
          "Type" "Cancel"
          "Label" (include "v2.component.button.default.label-cancel" nil)
        )
      )
    )}}
  </div>
{{ end }}
{{ end }}

{{ define "__settings_mfa_password_description" }}
<span class="settings-description">
  {{ if (eq $.SecondaryPassword.CreatedAt $.SecondaryPassword.UpdatedAt) }}
    {{
      (translate "v2.page.settings-mfa-password.default.additional-password-added-at" (dict
        "time" $.SecondaryPassword.CreatedAt
        "rfc3339" (rfc3339 $.SecondaryPassword.CreatedAt)
      ))
    }}
  {{ else }}
    {{
      $supplementaryNote = (translate "v2.page.settings-mfa-password.default.additional-password-updated-at" (dict
        "time" $.SecondaryPassword.UpdatedAt
        "rfc3339" (rfc3339 $.SecondaryPassword.UpdatedAt)
      ))
    }}
  {{ end }}
</span>
{{ end }}
