{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
    (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings")
        "Title" (translate "v2.page.settings-sessions.default.navbar-title" nil)
    )
  }}
{{ end }}

{{ define "page-content" }}
<div class="flex flex-col">
  {{ $ctx := . }}
  {{ range .Sessions }}
  {{ $actionBtn := "" }}
  {{ if not .IsCurrent }}
    {{ $actionBtn = (include "__settings_session_item_remove_btn" (dict "DialogID" .ID)) }}
      {{ template "authflowv2/__settings_dialog.html" (dict
        "Ctx" $ctx
        "DialogID" .ID
        "Title" (include "v2.page.settings-sessions.default.session-dialog-title" nil)
        "Description" (include "v2.page.settings-sessions.default.session-dialog-description" nil)
        "FormContent" (include "__settings_session_dialog_remove_input" (dict "ID" .ID "CSRFField" $.CSRFField))
        "Buttons" (list
          (dict
            "Type" "Destructive"
            "Label" (include "v2.component.button.default.label-terminate" nil)
            "Value" "revoke"
            "Event" "authgear.button.revoke_session"
          )
          (dict
            "Type" "Cancel"
            "Label" (include "v2.component.button.default.label-cancel" nil)
          )
        )
      )}}
    {{ end }}

    {{
      template "authflowv2/__settings_action_item.html"
      (dict
        "Label" .DisplayName
        "Description" (include "__settings_session_item_description" .)
        "ActionButton" $actionBtn
      )
    }}
  {{ end }}

  {{ if gt (len .Sessions) 1 }}
    <button
      class="settings-link-btn--destructive py-6"
      data-controller="settings-dialog"
      data-action="click->settings-dialog#open"
      data-settings-dialog-dialogid-param="revoke-all"
    >
      {{ include "v2.page.settings-sessions.default.revoke-all-label" nil }}
    </button>

    {{ template "authflowv2/__settings_dialog.html" (dict
      "Ctx" $ctx
      "DialogID" "revoke-all"
      "Title" (include "v2.page.settings-sessions.default.all-sessions-dialog-title" nil)
      "Description" (include "v2.page.settings-sessions.default.all-sessions-dialog-description" nil)
      "FormContent" (include "__settings_session_dialog_remove_all_input" (dict "CSRFField" $.CSRFField))
      "Buttons" (list
        (dict
          "Type" "Destructive"
          "Label" (include "v2.component.button.default.label-terminate" nil)
          "Value" "revoke_all"
          "Event" "authgear.button.revoke_all_sessions"
        )
        (dict
          "Type" "Cancel"
          "Label" (include "v2.component.button.default.label-cancel" nil)
        )
      )
    )}}
  {{ end }}
</div>
{{ end }}

{{ define "__settings_session_dialog_remove_input" }}
  {{ $.CSRFField }}
  <input type="hidden" name="x_session_id" value="{{ .ID }}">
{{ end }}

{{ define "__settings_session_dialog_remove_all_input" }}
  {{ $.CSRFField }}
{{ end }}

{{ define "__settings_session_item_remove_btn" }}
<button
  class="settings-action-item__icon--pale"
  data-controller="settings-dialog"
  data-action="click->settings-dialog#open"
  data-settings-dialog-dialogid-param="{{ .DialogID }}"
>
  <i class="material-icons">close</i>
</button>
{{ end }}

{{ define "__settings_session_item_description"}}
<div>
  <p>
    {{ if and .LastAccessedByIPEnglishCountryName .LastAccessedByIPCountryCode }}
      {{ translate "v2.page.settings-sessions.default.country-ip-item-description" (dict "countryName" .LastAccessedByIPEnglishCountryName "countryCode" .LastAccessedByIPCountryCode "ip" .LastAccessedByIP) }}
    {{ else }}
      {{ .LastAccessedByIP }}
    {{ end }}
  </p>
  <p>
    {{ $desc := .DisplayName }}
    {{ if .ApplicationName }}
      {{ $desc = .ApplicationName }}
    {{ end }}
    {{ translate "v2.page.settings-sessions.default.device-item-description" (dict "time" .LastAccessedAt "rfc3339" (rfc3339 .LastAccessedAt) "desc" $desc "isCurrent" .IsCurrent) }}
  </p>
</div>
{{ end }}
