{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
    (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings")
        "Title" (translate "v2.page.settings-biometric.default.navbar-title" nil)
    )
  }}
{{ end }}

{{ define "page-content" }}
<div class="flex flex-col">
  {{ if not $.BiometricIdentities }}
    <p class="settings-description text-center pt-5">
      {{ translate "v2.page.settings-biometric.default.no-biometric-description" nil }}
    </p>
  {{ end }}

  {{ $ctx := .}}
  {{ range $.BiometricIdentities }}
    {{ $name := (include "v2.page.settings-biometric.default.unknown-name-item-label" nil) }}
    {{ if .DisplayName }}
      {{ $name = .DisplayName }}
    {{ end }}
    {{
      template "authflowv2/__settings_action_item.html"
      (dict
        "IconName" "phone_iphone"
        "Label" $name
        "Description" ( include "v2.page.settings-biometric.default.item-description" (dict "time" .CreatedAt "rfc3339" (rfc3339 .CreatedAt)) )
        "ActionButton" (include "__settings_biometric_item_remove_btn" (dict "DialogID" .ID))
      )
    }}

    {{ template "authflowv2/__settings_dialog.html"
      (dict
        "Ctx" $ctx
        "DialogID" .ID
        "Title" (include "v2.page.settings-biometric.default.dialog-title" nil)
        "Description" (include "v2.page.settings-biometric.default.dialog-description" nil)
        "FormContent" (include "__settings_biometric_dialog_remove_input" (dict "BiometricID" .ID "CSRFField" $.CSRFField))
        "Buttons"
          (list
            (dict
              "Type" "Destructive"
              "Label" (include "v2.component.button.default.label-remove" nil)
              "Value" "remove"
              "Event" "authgear.button.remove_biometric"
            )
            (dict
              "Type" "Cancel"
              "Label" (include "v2.component.button.default.label-cancel" nil)
            )
          )
    )}}
  {{ end }}

</div>
{{end}}

{{ define "__settings_biometric_item_remove_btn" }}
<button
  class="settings-link-btn--destructive"
  data-controller="settings-dialog"
  data-action="click->settings-dialog#open"
  data-settings-dialog-dialogid-param="{{ .DialogID }}"
>
  {{ translate "v2.page.settings-biometric.default.disconnect-button-label" nil }}
</button>
{{ end }}

{{ define "__settings_biometric_dialog_remove_input" }}
  {{ $.CSRFField }}
  <input type="hidden" name="x_identity_id" value="{{ $.BiometricID }}">
{{ end }}
