{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
     (dict
        "Title" (translate "v2.page.settings-mfa-view-recovery-code.default.title" nil)
        "BackHref" (call $.MakeURL "/settings/mfa")
        "Context" .
     )
  }}
{{ end }}

{{ define "page-content" }}

<div class="settings-content settings-content-form-fields pb-5 tablet:pb-0">
  <div class="screen-title-description">
    <h2 class="screen-description">
      {{ if .HasRecoveryCodes }}
        {{ include "v2.page.settings-mfa-view-recovery-code.default.storage-description" nil }}
      {{ else }}
        {{ include "v2.page.settings-mfa-view-recovery-code.default.empty" nil }}
      {{ end }}
    </h2>
  </div>

  {{ if .HasRecoveryCodes }}
    <div class="code-block">
      <p class="code-block__text">{{ range $.RecoveryCodes }}{{ . }}{{ "\n" }}{{ end }}</p>

      <code id="copy-button-source" class="hidden">{{ template "__recovery_code.html" . }}</code>
      <div class="mt-5 w-full grid gap-4 {{ if not .IsNativePlatform }}grid-cols-2{{ else }}grid-cols-1{{ end }}">
        {{ if not .IsNativePlatform }}
        {{/* Form with disabled turbo drive */}}
        <form
          id="download-form"
          method="post"
          novalidate
          target="_blank"
        >
          {{ $.CSRFField }}
          <button
            form="download-form"
            class="tertiary-btn w-full"
            type="submit"
            name="x_action"
            value="download"
          >
            {{ include "v2.component.button.default.download" nil }}
          </button>
        </form>
        {{ end }}
        <button
          class="tertiary-btn w-full"
          type="button"
          data-controller="copy-button"
          data-copy-button-source-value="#copy-button-source"
          data-action="copy-button#copy"
        >
          {{ include "v2.component.button.default.copy" nil }}
        </button>
      </div>
    </div>
  {{ else }}
    <div>
    </div>
  {{ end }}

  {{ if $.CanProceed }}
    <form
      method="post"
      novalidate
      data-controller="turbo-form"
      data-action="submit->turbo-form#submitForm"
    >
      {{ $.CSRFField }}
      <button class="btn primary-btn w-full" type="submit" name="x_action" value="proceed">
      {{ include "v2.component.button.default.label-continue" nil }}
      </button>
    </form>
  {{ end }}

  {{ if $.CanRegenerate }}
    <form
      method="post"
      novalidate
      data-controller="turbo-form"
      data-action="submit->turbo-form#submitForm"
    >
      {{ $.CSRFField }}
      <button class="btn primary-btn w-full" type="submit" name="x_action" value="regenerate">
      {{ include "v2.page.settings-mfa-view-recovery-code.default.regenerate-button-label" nil }}
      </button>
    </form>
  {{ end }}

</div>
{{ end }}
