{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ template "authflowv2/__navbar.html"
     (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" (call $.MakeURL "/settings/identity/email" "q_login_id_key" $.LoginIDKey)
        "Title" (translate "v2.page.settings-identity-email.default.navbar-title" nil)
     )
  }}
{{ end }}

{{ define "settings_identity_email_verification_label" }}
  {{ if $.Verified }}
    <div class="body-text--md settings-text-color-success">
      {{ translate "v2.page.settings-identity-email.default.verified-label" . }}
    </div>
  {{ else }}
    <div class="body-text--md settings-text-color-failure">
      {{ translate "v2.page.settings-identity-email.default.not-verified-label" . }}
    </div>
  {{ end }}
{{ end }}

{{ define "settings_identity_email_edit_button" }}
  {{ if not $.Verified }}
    <a class="settings-link-btn" href="{{ $.Href }}">
      {{ translate "v2.page.settings-identity-view-email.default.button-edit-email-label" . }}
    </a>
  {{ end }}
{{ end }}

{{ define "settings_identity_email_verification_button" }}
  <form
    method="post"
    novalidate
    data-controller="turbo-form"
    data-action="submit->turbo-form#submitForm"
    >
    {{ .CSRFField }}
    <input type="hidden" name="x_login_id" value="{{ .LoginID }}">
    <input type="hidden" name="x_identity_id" value="{{ .IdentityID }}">
    <button type="submit" class="secondary-btn" name="x_action" value="verify">
      {{ translate "v2.page.settings-identity-view-email.default.button-verify-email-label" . }}
    </button>
  </form>
{{ end }}

{{ define "page-content" }}

{{ $LoginID := $.EmailIdentity.LoginID }}
{{ $IdentityID := $.EmailIdentity.ID }}

<div class="flex flex-col gap-y-6">
  {{ $extraContent := "" }}
  {{ if not $.Verified }}
    {{ $extraContent = (include "settings_identity_email_verification_button"
        (dict
          "CSRFField" $.CSRFField
          "LoginID" $LoginID
          "IdentityID" $IdentityID
        )
      )
    }}
  {{ end }}
  {{ template "authflowv2/__settings_action_item.html"
      (dict
        "IconName" "email"
        "Label" $.EmailIdentity.OriginalLoginID
        "Description" (include "settings_identity_email_verification_label"
          (dict "Verified" $.Verified)
        )
        "ActionButton" (include "settings_identity_email_edit_button"
          (dict "Href" (call $.MakeURL "/settings/identity/edit_email" "q_identity_id" $IdentityID))
        )
        "ExtraContent" $extraContent
      )
  }}

  {{ if not $.DeleteDisabled}}
    {{ $RemoveDialogID := "remove-email-identity-dialog" }}
    <button
      class="settings-link-btn--destructive"
      data-controller="settings-dialog"
      data-settings-dialog-dialogid-param="{{ $RemoveDialogID }}"
      data-action="click->settings-dialog#open">
      {{ translate "v2.page.settings-identity-view-email.default.button-remove-email-label" nil }}
    </button>

    {{ template "authflowv2/__settings_dialog.html"
      (dict
        "Ctx" .
        "DialogID" $RemoveDialogID
        "Title" (include "v2.page.settings-identity-view-email.default.remove-identity-dialog-title" nil)
        "Description" (include "v2.page.settings-identity-view-email.default.remove-identity-dialog-description"
          (dict
            "target" (include "__settings_identity_view_email_inline_breakable" $.EmailIdentity.OriginalLoginID )
          )
        )
        "FormContent" (include "__settings_identity_view_email_remove_dialog_form_content" .)
        "Buttons" (list
          (dict
            "Type" "Destructive"
            "Label" (include "v2.component.button.default.label-remove" nil)
            "Value" "remove"
          )
          (dict
            "Type" "Cancel"
            "Label" (include "v2.component.button.default.label-cancel" nil)
          )
        )
      )
    }}
  {{ end }}
</div>

{{ end }}

{{ define "__settings_identity_view_email_remove_dialog_form_content" }}
  {{ $.CSRFField }}
  <input type="hidden" name="x_identity_id" value="{{ $.EmailIdentity.ID }}">
{{ end }}

{{ define "__settings_identity_view_email_inline_breakable" }}
  <span class="break-all"><b>{{ . }}</b></span>
{{ end }}
