{{ template "authflowv2/__settings_page_frame.html" . }}

{{ define "page-navbar" }}
  {{ $back_url := (call $.MakeBackURL "/settings/mfa") }}
  {{ $title := "" }}
  {{- if eq $.Channel "email" }}
    {{ $back_url = (call $.MakeBackURL "/settings/mfa/oob_otp_email") }}
    {{ $title = translate "v2.page.settings-mfa-create-oob-otp.default.title--email" nil }}
  {{- else if eq $.Channel "whatsapp" }}
    {{ $back_url = (call $.MakeBackURL "/settings/mfa/oob_otp_sms") }}
    {{ $title = translate "v2.page.settings-mfa-create-oob-otp.default.title--phone" nil }}
  {{- else if eq $.Channel "sms" }}
    {{ $back_url = (call $.MakeBackURL "/settings/mfa/oob_otp_sms") }}
    {{ $title = translate "v2.page.settings-mfa-create-oob-otp.default.title--phone" nil }}
  {{- end }}

  {{ template "authflowv2/__navbar.html"
     (dict
        "BackTitle" (translate "v2.component.navbar.default.item-back-button-label" nil)
        "BackHref" $back_url
        "Title" $title
        "Context" .
     )
  }}
{{ end }}

{{ define "page-content" }}

  {{ $err_map := (resolveError $.RawError (dict
    "otpInput" (dict
      "by_reason"                    (list "ValidationFailed")
    )
  )) }}

  {{ $otp_err := index $err_map "otpInput" }}
  {{ $unknown_err := index $err_map "unknown" }}
  {{ $has_otp_err := not (isNil $otp_err) }}
  {{ $has_unknown_err := not (isNil $unknown_err )}}

  {{ $otp_error_message := "" }}
  {{ if $has_otp_err }}
    {{ $otp_error_message = include "authflowv2/__error.html" (merge (dict "Error" $otp_err) $) }}
  {{ end }}

  {{ $unknown_error_message := "" }}
  {{ if $has_unknown_err }}
    {{ $unknown_error_message = (include "authflowv2/__error.html" (merge (dict "Error" $unknown_err) $)) }}
  {{ end }}

  <div class="settings-content flex flex-col gap-y-8">
    <div class="screen-title-description">
      <h2 class="screen-description">
        {{- if eq $.Channel "email" }}
          {{ include "v2.page.settings-mfa-create-oob-otp.email.subtitle" nil }}
        {{- else }}
          {{- if eq .Channel "whatsapp" }}
            {{ include "v2.page.settings-mfa-create-oob-otp.whatsapp.subtitle" nil }}
          {{ else if eq .Channel "sms" }}
            {{ include "v2.page.settings-mfa-create-oob-otp.sms.subtitle" nil }}
          {{- end }}
        {{ end }}
      </h2>
    </div>

    <form
      method="post"
      novalidate
      data-controller="turbo-form"
      data-action="submit->turbo-form#submitForm"
    >

      <input type="hidden" name="x_channel" value="{{ $.Channel }}">

      {{- if eq $.Channel "email" }}
        <input
          {{ if $.ShouldFocusInput }}autofocus{{ end }}
          class="input w-full{{ if $has_otp_err }} input--error{{end}}"
          type="email"
          name="x_target"
          autocomplete="email"
          autocapitalize="none"
          placeholder="{{ include "v2.component.input.default.placeholder-email" nil }}"
        >
      {{- else }}
        {{ template "authflowv2/__phone_input.html"
          (dict
            "Placeholder" (include "v2.component.input.default.placeholder-phone" nil)
            "PlaceholderWithExample" (include "v2.component.input.default.placeholder-phone-with-example" nil)
            "IsError" $has_otp_err
            "AutoFocus" $.ShouldFocusInput
            "InputName" "x_target"
          )
        }}
      {{- end }}

      {{ if $has_otp_err }}
      <p class="input__error-message mt-2">
        {{ $otp_error_message }}
      </p>
      {{ end }}

      <button
        class="primary-btn w-full mt-4"
        type="submit"
        name="x_action"
        value=""
        data-authgear-event="authgear.button.setup_oob_otp"
      >{{ include "v2.component.button.default.label-continue" nil }}</button>
    </form>
  </div>
{{ end }}
