{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

  {{ $err_map := (resolveError $.RawError (dict 
  )) }}

  {{ $unknown_err := index $err_map "unknown" }}
  {{ $has_unknown_err := not (isNil $unknown_err )}}

  {{ $unknown_error_message := "" }}
  {{ if $has_unknown_err }}
    {{ $unknown_error_message = (include "authflowv2/__error.html" (merge (dict "Error" $unknown_err) $)) }}
  {{ end }}

  <div class="flex flex-col gap-y-8 flex-1-0-auto">
    <div class="space-y-8">
      <h1 class="screen-title">
        {{ include "v2.page.setup-face-image.default.title" nil }}
      </h1>
      <h2 class="screen-description">
        {{ include "v2.page.setup-face-image.default.subtitle" nil }}
      </h2>
      {{ template "authflowv2/__alert_message.html"
        (dict
          "Type" "error"
          "Classname" "mt-4"
          "Message" $unknown_error_message
        )
      }}
    </div>
    <form
      id="main-form"
      method="post"
      novalidate
      data-controller="turbo-form"
      data-action="submit->turbo-form#submitForm"
    >
      {{ $.CSRFField }}
      {{ template "authflowv2/__image_input.html"
        (dict
          "FormName"     "main-form"
          "SubmitEvent"  "authgear.button.setup_face_image"
        )
      }}
    </form>

    {{ template "authflowv2/__authflow_branch.html" $ }}
  </div>
{{ end }}
