{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

  {{ $err_map := (resolveError $.RawError (dict 
    "otpInput" (dict
      "by_reason"                    (list "ValidationFailed")
    )
  )) }}

  {{ $otp_err := index $err_map "otpInput" }}
  {{ $unknown_err := index $err_map "unknown" }}
  {{ $has_otp_err := not (isNil $otp_err) }}
  {{ $has_unknown_err := not (isNil $unknown_err )}}

  {{ $otp_error_message := "" }}
  {{ if $has_otp_err }}
    {{ $otp_error_message = include "authflowv2/__error.html" (merge (dict "Error" $otp_err) $) }}
  {{ end }}

  {{ $unknown_error_message := "" }}
  {{ if $has_unknown_err }}
    {{ $unknown_error_message = (include "authflowv2/__error.html" (merge (dict "Error" $unknown_err) $)) }}
  {{ end }}

  {{ $show_captcha := false}}
  {{ if $.IsBotProtectionRequired }}
    {{ $show_captcha = true }}
  {{ end }}

  <div class="flex flex-col gap-y-8 flex-1-0-auto">
    <div class="space-y-4">
      <h1 class="screen-title">
        {{ include "v2.page.setup-oob-otp.default.title" nil }}
      </h1>
      <h2 class="screen-description">
        {{- if eq $.OOBAuthenticatorType "oob_otp_sms" }}
          {{- if eq .Channel "whatsapp" }}
            {{ include "v2.page.setup-oob-otp.whatsapp.subtitle" nil }}
          {{ else }}
            {{ include "v2.page.setup-oob-otp.sms.subtitle" nil }}
          {{- end }}
        {{- end }}
        {{- if eq $.OOBAuthenticatorType "oob_otp_email" }}
          {{ include "v2.page.setup-oob-otp.email.subtitle" nil }}
        {{ end }}
      </h2>

      {{ template "authflowv2/__alert_message.html"
        (dict
          "Type" "error"
          "Classname" "mt-4"
          "Message" $unknown_error_message
        )
      }}
    </div>

    <form
      method="post"
      novalidate
      data-controller="turbo-form"
      data-action="{{ if $show_captcha }}submit->bot-protection#verifyFormSubmit {{end}}submit->turbo-form#submitForm"
    >
      {{ $.CSRFField }}
      {{ if $show_captcha }}
        {{ template "web/authflowv2/__bot_protection_form_input.html" . }}
      {{ end }}

      {{- if eq $.OOBAuthenticatorType "oob_otp_sms" }}
      {{ template "authflowv2/__phone_input.html"
        (dict
          "Placeholder" (include "v2.component.input.default.placeholder-phone" nil)
          "PlaceholderWithExample" (include "v2.component.input.default.placeholder-phone-with-example" nil)
          "IsError" $has_otp_err
          "AutoFocus" $.ShouldFocusInput
          "InputName" "x_target"
        )
      }}
      {{- end }}

      {{- if eq $.OOBAuthenticatorType "oob_otp_email" }}
      <input
        {{ if $.ShouldFocusInput }}autofocus{{ end }}
        class="input w-full{{ if $has_otp_err }} input--error{{end}}"
        type="email"
        name="x_target"
        autocomplete="email"
        autocapitalize="none"
        placeholder="{{ include "v2.component.input.default.placeholder-email" nil }}"
      >
      {{- end }}

      {{ if $has_otp_err }}
      <p class="input__error-message mt-2">
        {{ $otp_error_message }}
      </p>
      {{ end }}

      <button
        class="primary-btn w-full mt-4"
        type="submit"
        name="x_action"
        value=""
        data-authgear-event="authgear.button.setup_oob_otp"
      >{{ include "v2.component.button.default.label-continue" nil }}</button>
    </form>

    {{ template "authflowv2/__authflow_branch.html" $ }}
  </div>
{{ end }}
