{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

<div class="flex flex-col gap-y-8 flex-1-0-auto">
  <div class="space-y-4">
    <h1 class="screen-title">{{ template "v2.page.setup-totp.default.title" }}</h1>

    <h2 class="screen-description">{{ template "v2.page.setup-totp.default.description" }}</h2>
    {{ template "authflowv2/__alert_message.html"
      (dict
        "Type" "error"
        "Classname" "mt-4"
        "Message" (include "authflowv2/__error.html" .)
      )
    }}
  </div>

  <img class="w-48 place-self-center" src="{{ $.ImageURI }}">

  <div>
    <div class="code-block code-block--single gap-x-8">
      <p
        id="copy-button-source"
        class="code-block__text"
      >{{ template "v2.page.setup-totp.default.raw-secret" (dict "secret" $.Secret) }}</p>

      <button
        class="tertiary-btn"
        type="button"
        data-controller="copy-button"
        data-copy-button-source-value="#copy-button-source"
        data-action="copy-button#copy"
      >
        {{ template "v2.component.button.default.copy" }}
      </button>
    </div>

    <a
      class="primary-btn w-full mt-10"
      href="{{ call $.MakeURL "setup_totp" "q_setup_totp_step" "verify"}}"
    >
      {{ template "v2.component.button.default.label-continue" }}
    </a>
  </div>

  {{ template "authflowv2/__authflow_branch.html" . }}

  </div>
{{ end }}
