{{ template "__page_frame.html" . }}

{{ define "page-content" }}
<div class="pane twc-container-vertical pt-8 pb-5 px-6 tablet:px-8 desktop:px-8">

<h1 class="m-0 primary-txt text-center text-xl font-bold">
{{- if eq $.OOBAuthenticatorType "oob_otp_sms" }}
	{{- if eq .Channel "whatsapp" }}
		{{ template "setup-oob-otp-title--whatsapp" }}
	{{ else }}
		{{ template "setup-oob-otp-title--sms" }}
	{{- end }}
{{- end }}
{{- if eq $.OOBAuthenticatorType "oob_otp_email" }}
	{{ template "setup-oob-otp-title--email" }}
{{ end }}
</h1>

<form class="twc-container-vertical" method="post" novalidate>
{{ $.CSRFField }}

{{- if eq $.OOBAuthenticatorType "oob_otp_sms" }}
<input
	data-intl-tel-input="true"
	data-intl-tel-input-class-value="flex flex-row"
	class="primary-txt text-input w-full"
	tabindex="0"
	{{ if $.ShouldFocusInput }}autofocus{{ end }}
	type="text"
	inputmode="tel"
	autocomplete="tel-national"
	autocapitalize="none"
	name="x_target"
	placeholder="{{ template "phone-number-placeholder" }}"
	data-controller="intl-tel-input"
	data-action="input->intl-tel-input#input countrychange->intl-tel-input#input"
>
{{- end }}

{{- if eq $.OOBAuthenticatorType "oob_otp_email" }}
<input
	tabindex="0"
	{{ if $.ShouldFocusInput }}autofocus{{ end }}
	class="text-input primary-txt"
	type="email"
	name="x_target"
	autocomplete="email"
	autocapitalize="none"
	placeholder="{{ template "email-placeholder" }}"
>
{{- end }}

<button
	class="btn primary-btn mt-5"
	type="submit"
	name="x_action"
	value=""
	data-authgear-event="authgear.button.setup_oob_otp"
>
{{ template "next-button-label" }}
</button>

</form>

{{ template "__authflow_branch.html" . }}

{{ template "__watermark.html" . }}

</div>
{{ end }}
