{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

  {{ $display_error := false }}
  {{ if .Error }}
    {{ $display_error = true }}
  {{ end }}

  {{ $has_oauth := false }}
  {{ $has_login_id := false }}
  {{ $has_alternatives := false }}
  {{ range $.IdentityCandidates }}
    {{ if eq .type "oauth" }}
      {{ $has_oauth = true }}
      {{ $has_alternatives = true }}
    {{ end }}
    {{ if eq .type "login_id" }}
      {{ $has_login_id = true }}
      {{ if not (eq .login_id_key $.LoginIDKey) }}
        {{ $has_alternatives = true }}
      {{ end }}
    {{ end }}
  {{ end }}
  <div class="flex flex-col gap-4">
    {{ template "authflowv2/__header.html" . }}
    <h1 class="screen-title">
      {{ if $.ClientName }}
      {{ template "v2-sign-up.title" (dict "AppOrClientName" $.ClientName) }}
      {{ else }}
      {{ $appName := (include "app.name" nil) }}
      {{ template "v2-sign-up.title" (dict "AppOrClientName" $appName) }}
      {{ end }}
    </h1>
    <h2 class="screen-description">
      {{ template "v2-sign-up.subtitle" }}
    </h2>
  </div>
  <form
    class="block mt-8"
    method="post"
    novalidate
    data-controller="retain-form-form"
    data-retain-form-form-id-value="auth-form">
    {{ $.CSRFField }}
    <input type="hidden" name="q_login_id_key" value="{{ $.LoginIDKey }}">
    {{ range $.IdentityCandidates }}
    {{ if eq .type "login_id" }}{{ if eq .login_id_key $.LoginIDKey }}
      <input type="hidden" name="q_login_id_type" value="{{ .login_id_type }}">
      <div data-controller="text-field" class="flex flex-col gap-2">
        {{ if eq .login_id_type "phone" }}
          {{ template "authflowv2/__phone_input.html"
            (dict
              "Placeholder" (include "v2-placeholder.phone" nil)
              "IsError" $display_error
              "AutoFocus" $.ShouldFocusInput
              "PhoneInputAttrs" `
                tabindex="0"
                data-text-field-target="input"
              `
              "InputName" "q_login_id"
              "InputAttrs" `
                data-controller="retain-form-input"
                data-retain-form-form-target="input"
                data-retain-form-form-name-param="phone"
                data-action="input->retain-form-input#input retain-form-input:input->retain-form-form#input"
              `
            )
          }}
        {{ else }}
          <input
            data-text-field-target="input"
            {{ if $.ShouldFocusInput }}autofocus{{ end }}
            class="block input w-full {{ if $display_error }}input--error{{end}}"
            tabindex="0"
            type="{{ $.NonPhoneLoginIDInputType }}"
            name="q_login_id"
            autocomplete="username"
            autocapitalize="none"
            placeholder="{{ template "v2-placeholder.login-id" (dict "variant" $.LoginIDKey) }}"
            data-controller="retain-form-input"
            data-action="input->retain-form-input#input retain-form-input:input->retain-form-form#input"
            data-retain-form-form-target="input"
            data-retain-form-form-name-param="text"
          >
        {{ end }}
        {{ if $display_error }}
          <p class="input__error-message" data-text-field-target="errorMessage">
            {{ template "authflowv2/__error.html" $ }}
          </p>
        {{ end }}
      </div>
    {{ end }}{{ end }}
    {{ end }}

    {{ if $has_login_id }}
      <button
        class="primary-btn w-full mt-4"
        type="submit"
        name="x_action"
        value="login_id"
        data-authgear-event="authgear.button.sign_up"
      >{{ template "v2-button.continue" }}</button>
    {{ end }}
  </form>

  <p class="body-text--md mt-4">
    {{ $loginHref := call $.MakeURL "/login" "q_login_id_input_type" $.LoginIDInputType "x_step" "" }}
    {{ template "v2-sign-up.switch-to-login" (dict "href" $loginHref )}}
  </p>

  {{ if $has_alternatives }}
    {{ template "authflowv2/__divider.html" (dict "Classname" "my-8")  }}
    <section class="flex flex-col gap-4">
      {{ range .IdentityCandidates }}
        {{ if eq .type "login_id" }}{{ if not (eq .login_id_key $.LoginIDKey) }}
          {{ if eq .login_id_key "email" }}
            <a class="secondary-btn" data-turbo-action="replace"
              href="{{ call $.MakeURL "" "q_login_id_key" .login_id_key "q_login_id_input_type" .login_id_input_type }}">
              <div class="flex gap-2">
                <i class="alternative-icon material-icons">mail</i>
                {{ template "v2-sign-up.signup-with-email" }}
              </div>
            </a>
          {{ end }}
          {{ if eq .login_id_key "username" }}
            <a class="secondary-btn" data-turbo-action="replace"
              href="{{ call $.MakeURL "" "q_login_id_key" .login_id_key "q_login_id_input_type" .login_id_input_type }}">
              <div class="flex gap-2">
                <i class="alternative-icon material-icons">person</i>
                {{ template "v2-sign-up.signup-with-username" }}
              </div>
            </a>
          {{ end }}
          {{ if eq .login_id_key "phone" }}
            <a class="secondary-btn" data-turbo-action="replace"
              href="{{ call $.MakeURL "" "q_login_id_key" .login_id_key "q_login_id_input_type" .login_id_input_type }}">
              <div class="flex gap-2">
                <i class="alternative-icon material-icons">smartphone</i>
                {{ template "v2-sign-up.signup-with-phone" }}
              </div>
            </a>
          {{ end }}
        {{ end }}{{ end }}
        {{ if eq .type "oauth" }}
          {{ $skip := false }}
          {{- if (and (eq .provider_type "wechat") (eq .provider_app_type "mobile") (not $.IsNativePlatform)) -}}
            {{ $skip = true }}
          {{ end }}
          {{- if (and (eq .provider_type "wechat") (eq .provider_app_type "web") ($.IsNativePlatform)) -}}
            {{ $skip = true }}
          {{ end }}

          {{- if not $skip -}}
            <form class="block" method="post" data-turbo="false" novalidate>
              {{ $.CSRFField }}
              <input type="hidden" name="x_provider_alias" value="{{ .provider_alias }}">
              <button
                class="secondary-btn w-full"
                type="submit"
                name="x_action"
                value="oauth"
                data-turbo="false"
                data-authgear-event="authgear.button.oauth"
              >
                {{- $icon_class := printf "%s-icon" .provider_type -}}
                <div class="flex gap-2">
                  <i class="sso-icon {{ $icon_class }}"></i>
                  <span>
                    {{ include (printf "v2-oauth-branding-%s" .provider_type) nil }}
                  </span>
                </div>
              </button>
            </form>
          {{ end }}
        {{ end }}
      {{ end }}
    </section>
  {{ end }}

  {{ template "authflowv2/__toc_pp_footer.html" . }}

{{ end }}
