{{ template "authflowv2/__page_frame.html" . }}

{{ define "page-content" }}
  {{/* Form with disabled turbo drive */}}
  <form
    class="screen-icon-layout flex-1-0-auto"
    method="post"
    novalidate
    data-turbo="false"
  >
    {{ $.CSRFField }}
    <i class="material-icons screen-icon">phone_iphone</i>
    <header class="screen-title-description">
      <h1 class="screen-title">{{ template "v2-confirm-terminate-other-sessions-title" }}</h1>
      <p class="screen-description">{{ template "v2-confirm-terminate-other-sessions-description" }}</p>
      {{ template "authflowv2/__alert_message.html"
        (dict
          "Type" "error"
          "Classname" "mt-4"
          "Message" (include "authflowv2/__error.html" .)
        )
      }}
    </header>
    <div></div>

    <footer class="flex flex-col gap-4">
      <button
        class="primary-btn w-full"
        type="submit"
        name="x_action"
        value="confirm"
        data-authgear-event="authgear.button.confirm_terminate_other_sessions"
      >
        {{ template "v2-button-label-continue" }}
      </button>
      <button
        class="label-btn w-full"
        type="submit"
        name="x_action"
        value="cancel"
        data-authgear-event="authgear.button.cancel_terminate_other_sessions"
      >
        {{ template "v2-confirm-terminate-other-sessions-cancel-button-label" }}
      </button>
    </footer>
  </form>

{{ end }}
