{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

  {{ $appName := (translate "app.name" nil) }}

  {{ if eq .State "invalid_code" }}
    {{ template "authflowv2/__error_page_layout.html"
      (dict
        "Title" (include "v2.page.verify-login-link.invalid.title" nil)
        "ErrorMessage" (include "v2.page.verify-login-link.invalid.description" nil)
      )
    }}
  {{ else if eq .State "matched" }}
    <div class="screen-icon-layout flex-1-0-auto">
      <i class="screen-icon material-icons">check_circle</i>
      <h1 class="screen-title">
        {{ include "v2.page.verify-login-link.approved.title" nil }}
      </h1>
      <p class="screen-description">
        {{ include "v2.page.verify-login-link.approved.description" (dict "AppOrClientName" $appName) }}
      </p>
      {{ template "authflowv2/__alert_message.html"
        (dict
          "Type" "error"
          "Classname" "mt-4"
          "Message" (include "authflowv2/__error.html" .)
        )
      }}
    </div>
  {{ else }}
    <form
      class="flex-1-0-auto flex flex-col pt-32 gap-4"
      method="post"
      action="{{ $.FormActionPath }}"
      novalidate
      data-controller="turbo-form"
      data-action="submit->turbo-form#submitForm"
    >
      {{ $.CSRFField }}
      <input type="hidden" name="x_oob_otp_code" value="{{ .Code }}">
      <h1 class="screen-title">{{ include "v2.page.verify-login-link.default.title" nil }}</h1>
      <p class="screen-description">{{ include "v2.page.verify-login-link.default.description" (dict "AppOrClientName" $appName) }}</p>
      {{ template "authflowv2/__alert_message.html"
        (dict
          "Type" "error"
          "Classname" "mt-4"
          "Message" (include "authflowv2/__error.html" .)
        )
      }}
      <div class="flex-1 tablet:h-4 tablet:flex-none"></div>
      <button
        class="primary-btn"
        type="submit"
        name="x_action"
        value=""
        data-authgear-event="authgear.button.verify_login_link">
        {{ include "v2.page.verify-login-link.default.approve-button-label" nil }}
      </button>
    </form>
  {{ end }}

{{ end }}
