{{ template "authflowv2/__page_frame.html" . }}
{{ define "page-content" }}

<div class="flex-1-0-auto">
  <div class="space-y-4">
    <h1 class="screen-title">
      {{ template "v2.page.view-recovery-code.default.title" }}
    </h1>
    <h2 class="screen-description">
      {{ template "v2.page.view-recovery-code.default.storage-description" }}
    </h2>
    {{ template "authflowv2/__alert_message.html"
      (dict
        "Type" "error"
        "Classname" "mt-4"
        "Message" (include "authflowv2/__error.html" .)
      )
    }}
  </div>

  <div class="my-6 code-block">
    <p class="code-block__text">{{ range $.RecoveryCodes }}{{ . }}
{{ end }}</p>

    <code id="copy-button-source" class="hidden">{{ template "__recovery_code.html" . }}</code>
    <div class="mt-5 w-full grid gap-4 {{ if not .IsNativePlatform }}grid-cols-2{{ else }}grid-cols-1{{ end }}">
      {{ if not .IsNativePlatform }}
      {{/* Form with disabled turbo drive */}}
      <form
        id="download-form"
        method="post"
        novalidate
        target="_blank"
        data-turbo="false"
      >
        {{ $.CSRFField }}
        <button
          form="download-form"
          class="tertiary-btn w-full"
          type="submit"
          name="x_action"
          value="download"
        >
          {{ template "v2.component.button.default.download" }}
        </button>
      </form>
      {{ end }}
      <button
        class="tertiary-btn w-full"
        type="button"
        data-controller="copy-button"
        data-copy-button-source-value="#copy-button-source"
        data-action="copy-button#copy"
      >
        {{ template "v2.component.button.default.copy" }}
      </button>
    </div>
  </div>

  <form
    method="post"
    novalidate
    data-controller="turbo-form"
    data-action="submit->turbo-form#submitForm"
  >
    {{ $.CSRFField }}
    <button class="btn primary-btn w-full" type="submit" name="x_action" value="proceed">
    {{ template "v2.component.button.default.label-continue" }}
    </button>
  </form>
</div>
{{ end }}
