{{ template "authflowv2/__page_frame.html" . }}

{{ define "page-content" }}

{{ if $.IsNativePlatform }}
{{ if $.WechatRedirectURI }}

<div class="screen-action-layout flex-1-0-auto">
  <header class="screen-title-description">
    <h1 class="screen-title">
      {{ template "v2.page.wechat-auth.default.title" }}
    </h1>
    <h2 class="screen-description">
      {{ template "v2.page.wechat-auth.default.app-description" }}
    </h2>
    {{ template "authflowv2/__alert_message.html"
      (dict
        "Type" "error"
        "Classname" "mt-4"
        "Message" (include "authflowv2/__error.html" .)
      )
    }}
  </header>

  <form
    class="screen-actions flex flex-col mt-8"
    data-controller="click-to-switch"
    method="post"
    novalidate
    data-controller="turbo-form"
    data-action="submit->turbo-form#submitForm"
  >
  {{ $.CSRFField }}

  <a
    href="{{ $.WechatRedirectURI }}"
    class="primary-btn"
    data-turbo-action="replace"
    data-click-to-switch-target="clickToHide"
    data-action="click-to-switch#click"
  >
    {{ template "v2.page.wechat-auth.default.open-app" }}
  </a>

  <button
    class="primary-btn primary-btn--success hidden"
    type="submit"
    name="x_action"
    value=""
    data-is-refresh-link="true"
    data-click-to-switch-target="clickToShow"
  >
    {{ template "v2.page.wechat-auth.default.proceed" }}
  </button>

  </form>
</div>

{{ end }}
{{ else }}

<div class="screen-action-layout flex-1-0-auto">
  <header class="screen-title-description">
    <h1 class="screen-title">
      {{ template "v2.page.wechat-auth.default.title" }}
    </h1>
    <h2 class="screen-description">
      {{ template "v2.page.wechat-auth.default.qr-code-description" }}
    </h2>
  </header>

  <footer class="flex flex-col gap-y-4 mt-8">
    <img class="w-44 place-self-center" src="{{ $.ImageURI }}">
  </footer>
</div>

{{ end }}
{{ end }}
