{{ template "authflowv2/__page_frame.html" . }}

{{ define "page-content" }}

{{ if $.IsNativePlatform }}
{{ if $.WechatRedirectURI }}

<div class="flex flex-col gap-y-8 flex-1-0-auto">
  <header class="screen-title-description">
    <h1 class="screen-title">
      {{ include "v2.page.wechat-auth.default.title" nil }}
    </h1>
    <h2 class="screen-description">
      {{ include "v2.page.wechat-auth.default.app-description" nil }}
    </h2>
    {{ template "authflowv2/__alert_message.html"
      (dict
        "Type" "error"
        "Classname" "mt-4"
        "Message" (include "authflowv2/__error.html" .)
      )
    }}
  </header>

  <form
    class="flex flex-col"
    data-controller="wechat-button"
    method="post"
    novalidate
{{/* It is observed that if this form is submitted with fetch, ASWebAuthenticationSession or WKWebView will result in this error */}}
{{/* Failed to load resource: Cross-origin redirection to com.myapp://host/path?code=code denied by Cross-Origin Resource Sharing policy: not allowed to follow a cross-origin CORS redirection with non CORS scheme */}}
{{/* In WKWebView, this error CANNOT be bypassed by WKNavigationDelegate nor WKURLSchemeHandler */}}
{{/* The only known way to work around is just not to use fetch */}}
    data-action="wechat-button#onSubmit"
  >

  <a
    href="{{ $.WechatRedirectURI }}"
    class="primary-btn"
    data-turbo-action="replace"
    data-wechat-button-target="openWechatAnchor"
    data-action="wechat-button#onClickOpenWechatAnchor"
  >
    {{ include "v2.page.wechat-auth.default.open-app" nil }}
  </a>

  <button
    class="primary-btn primary-btn--success hidden"
    type="submit"
    name="x_action"
    value=""
    data-is-refresh-link="true"
    data-wechat-button-target="proceedButton"
  >
    {{ include "v2.page.wechat-auth.default.proceed" nil }}
  </button>

  </form>
</div>

{{ end }}
{{ else }}

<div class="flex flex-col gap-y-8 flex-1-0-auto">
  <header class="screen-title-description">
    <h1 class="screen-title">
      {{ include "v2.page.wechat-auth.default.title" nil }}
    </h1>
    <h2 class="screen-description">
      {{ include "v2.page.wechat-auth.default.qr-code-description" nil }}
    </h2>
  </header>

  <a
    href="{{ $.AuthorizationURL }}"
    class="primary-btn"
    data-turbo="false"
  >
    {{ include "v2.page.wechat-auth.default.show-wechat-hosted-qr-code-page" nil }}
  </a>
</div>

{{ end }}
{{ end }}
