DELETE FROM _auth_authenticator_oob WHERE app_id = 'loadtest';
DELETE FROM _auth_authenticator_passkey WHERE app_id = 'loadtest';
DELETE FROM _auth_authenticator_password WHERE app_id = 'loadtest';
DELETE FROM _auth_authenticator_totp where app_id = 'loadtest';
DELETE FROM _auth_authenticator WHERE app_id = 'loadtest';
DELETE FROM _auth_identity_anonymous WHERE app_id = 'loadtest';
DELETE FROM _auth_identity_biometric WHERE app_id = 'loadtest';
DELETE FROM _auth_identity_login_id WHERE app_id = 'loadtest';
DELETE FROM _auth_identity_oauth WHERE app_id = 'loadtest';
DELETE FROM _auth_identity_passkey WHERE app_id = 'loadtest';
DELETE FROM _auth_identity_siwe WHERE app_id = 'loadtest';
DELETE FROM _auth_identity WHERE app_id = 'loadtest';
DELETE FROM _auth_oauth_authorization WHERE app_id = 'loadtest';
DELETE FROM _auth_password_history WHERE app_id = 'loadtest';
DELETE FROM _auth_recovery_code WHERE app_id = 'loadtest';
DELETE FROM _auth_user_group WHERE app_id = 'loadtest';
DELETE FROM _auth_user_role WHERE app_id = 'loadtest';
DELETE FROM _auth_verified_claim WHERE app_id = 'loadtest';
DELETE FROM _auth_user WHERE app_id = 'loadtest';
