.colorPicker {
  @apply flex items-center;
  @apply px-2 h-8;
  @apply relative;
  border-radius: var(--radius-2);
  border: 1px solid var(--gray-a6);
  overflow: hidden;
}

.colorPicker.active {
  border-color: var(--accent-8);
  outline: 2px solid var(--accent-8);
  outline-offset: -2px;
}
