.colorPickerField__pickerContainer {
  @apply w-4 h-4 relative;
  border: 1px solid var(--gray-7);
  border-radius: var(--radius-2);
}

.colorPickerField__pickerInput {
  @apply absolute top-0 left-0 h-full w-full cursor-pointer opacity-0;
  padding: 0;
  margin: 0;
  border: none;
}
