@import "normalize.css";

/* NOTE(1) */
/* The font-size of focusable elements must be >= 16px otherwise */
/* Safari iOS will zoom the page. */

:root {
  --color-primary: #155bef;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Load fluentui font */
/* The URLs are observed in browser console */
/* The font weights are from https://developer.microsoft.com/en-us/fluentui#/styles/web/typography */
@font-face {
  font-family: "Segoe UI Web";
  src: url(//static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Segoe UI Web";
  src: url(//static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Segoe UI Web";
  src: url(//static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-bold.woff2) format("woff2");
  font-weight: 700;
}

body {
  font-family: "Segoe UI Web",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

input, select, textarea, button {
  font-family: inherit;
  /* NOTE(1) */
  font-size: inherit;
}

*, *::before, *::after {
  box-sizing: border-box;
}


button {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

a {
  text-decoration: none;
  cursor: pointer;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* Use 600 for heading */
/* https://developer.microsoft.com/en-us/fluentui#/styles/web/typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.white-space-pre {
  white-space: pre;
}

/* min-width and max-width initial value is auto, which means content size. */
/* So setting min-width and min-height to 0 will make flex child not to overflow its parent */
.flex-child-no-overflow {
  min-width: 0;
  min-height: 0;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.primary-txt {
  color: #333333;
}

.secondary-txt {
  color: #a19f9d;
}

.good-txt {
  color: #58CA9A;
}

.warn-txt {
  color: #FBCA4E;
}

.error-txt {
  color: #E23D3D;
}

.errors {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

.input {
  border: none;
  border-radius: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #a19f9d;
}

.input:disabled, .input:read-only {
  opacity: 0.7;
}

.input:focus, .btn:focus {
  outline: none;
}

.input:focus {
  border-bottom-color: var(--color-primary);
}

.input::placeholder {
  color: #a19f9d;
}

.password-input-wrapper {
  display: flex;
  padding: 6px 12px;
  border-radius: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #a19f9d;
}

.password-input-wrapper .input {
  flex: 1;
  padding: 0 12px 0 0;
  border: none;
}

.password-input-wrapper .show-password-button {
  display: inline-block;
  flex: none;
}

.password-input-wrapper.show-password .show-password-button {
  display: none;
}

.password-input-wrapper .hide-password-button {
  display: none;
  flex: none;
}

.password-input-wrapper.show-password .hide-password-button {
  display: inline-block;
}

.select {
  background-color: transparent;
  height: 32px;
  border-bottom: solid 1px #a19f9d;
  padding: 0 28px 0 8px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAAH2U1dRAAAABGdBTUEAALGPC/xhBQAAAA9QTFRFAAAAaGhdYV9cYF9dYF5cYSRWqgAAAAR0Uk5TABZp1J65f3sAAAB5SURBVCjPxdDLDYJQEIXhb7wUcBMswIUFDIECRPrvyQVXEY0rTTyrOX/mDQibIrewyh3YqSO5FHQfUrZOcEDMlISYS75N/EInqBjbGCU5VhhXQMkVMM6trlT/1Xm4R/11/cfUSL+03Rp5+EaePDENO09My8tt8ctbbxZSCTDnykmRAAAAAElFTkSuQmCC');
  background-position: right 5px center;
  background-size: 12px auto;
  background-repeat: no-repeat;
}

.select:disabled, .select:read-only {
  background-image: none;
}

.text-input {
  background-color: transparent;
  padding: 6px 12px;
}

.btn {
  height: 32px;
  border-radius: 2px;
}

.primary-btn {
  color: white;
  background-color: var(--color-primary);
  min-width: 100px;
}

.secondary-btn {
  color: var(--color-primary);
}

.destructive-btn {
  color: #E23D3D;
}

.link {
  color: var(--color-primary);
  font-size: smaller;
}

button.link {
  text-align: left;
}

button.anchor {
  /* NOTE(1) */
  font-size: 1rem;
  color: var(--color-primary);
}

a.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page {
  background-color: white;
}

.content {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.banner {
  /* The banner is intended to be fixed height */
  height: 90px;
  margin: 6px;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.pane {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 6px;
  margin: 6px;
}

.nav-bar {
  margin: 6px;
  display: flex;
  flex-direction: row;
}

.back-btn {
  visibility: hidden;
}

.js .back-btn {
  visibility: visible;
}

.public-signup-disabled-notice {
  margin: 12px;
}

@media (min-width: 320px) {
  .content {
    padding: 6px;
  }
}

@media (min-width: 1025px) {
  .page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .content {
    width: 546px;
  }
}

.password-policy-title {
  margin: 0;
}

.password-policy-list {
  display: block;
  margin: 0;
  padding: 0;
}

.password-policy-list .password-policy {
  display: block;
}

.password-policy-required-password-strength-title {
  margin: 16px 0 0 0;
}

.password-strength-meter {
  -webkit-appearance: none;
  display: block;
  width: 266px;
  height: 4px;
  margin: 8px 0;
}

.password-strength-meter::-webkit-meter-optimum-value,
.password-strength-meter::-webkit-meter-suboptimum-value,
.password-strength-meter::-webkit-meter-even-less-good-value {
  background: none;
}

.password-strength-meter, .password-strength-meter::-webkit-meter-bar {
  background: linear-gradient(
    90deg,
    #E0E0E0 0% 18.4%,
    transparent 18.4% 20.4%,
    #E0E0E0 20.4% 38.8%,
    transparent 38.8% 40.8%,
    #E0E0E0 40.8% 59.2%,
    transparent 59.2% 61.2%,
    #E0E0E0 61.2% 79.6%,
    transparent 79.6% 81.6%,
    #E0E0E0 81.6% 100%
  );
}

.password-strength-meter[value="1"], .password-strength-meter[value="1"]::-webkit-meter-bar {
  background: linear-gradient(
    90deg,
    #E23D3D 0% 18.4%,
    transparent 18.4% 20.4%,
    #E0E0E0 20.4% 38.8%,
    transparent 38.8% 40.8%,
    #E0E0E0 40.8% 59.2%,
    transparent 59.2% 61.2%,
    #E0E0E0 61.2% 79.6%,
    transparent 79.6% 81.6%,
    #E0E0E0 81.6% 100%
  );
}
.password-strength-meter-description[data-value="1"] {
  color: #E23D3D;
}

.password-strength-meter[value="2"], .password-strength-meter[value="2"]::-webkit-meter-bar {
  background: linear-gradient(
    90deg,
    #FFA133 0% 18.4%,
    transparent 18.4% 20.4%,
    #FFA133 20.4% 38.8%,
    transparent 38.8% 40.8%,
    #E0E0E0 40.8% 59.2%,
    transparent 59.2% 61.2%,
    #E0E0E0 61.2% 79.6%,
    transparent 79.6% 81.6%,
    #E0E0E0 81.6% 100%
  );
}
.password-strength-meter-description[data-value="2"] {
  color: #FFA133;
}

.password-strength-meter[value="3"], .password-strength-meter[value="3"]::-webkit-meter-bar {
  background: linear-gradient(
    90deg,
    #FBCA4E 0% 18.4%,
    transparent 18.4% 20.4%,
    #FBCA4E 20.4% 38.8%,
    transparent 38.8% 40.8%,
    #FBCA4E 40.8% 59.2%,
    transparent 59.2% 61.2%,
    #E0E0E0 61.2% 79.6%,
    transparent 79.6% 81.6%,
    #E0E0E0 81.6% 100%
  );
}
.password-strength-meter-description[data-value="3"] {
  color: #FBCA4E;
}

.password-strength-meter[value="4"], .password-strength-meter[value="4"]::-webkit-meter-bar {
  background: linear-gradient(
    90deg,
    #BACA58 0% 18.4%,
    transparent 18.4% 20.4%,
    #BACA58 20.4% 38.8%,
    transparent 38.8% 40.8%,
    #BACA58 40.8% 59.2%,
    transparent 59.2% 61.2%,
    #BACA58 61.2% 79.6%,
    transparent 79.6% 81.6%,
    #E0E0E0 81.6% 100%
  );
}
.password-strength-meter-description[data-value="4"] {
  color: #BACA58;
}

.password-strength-meter[value="5"], .password-strength-meter[value="5"]::-webkit-meter-bar {
  background: linear-gradient(
    90deg,
    #58CA9A 0% 18.4%,
    transparent 18.4% 20.4%,
    #58CA9A 20.4% 38.8%,
    transparent 38.8% 40.8%,
    #58CA9A 40.8% 59.2%,
    transparent 59.2% 61.2%,
    #58CA9A 61.2% 79.6%,
    transparent 79.6% 81.6%,
    #58CA9A 81.6% 100%
  );
}
.password-strength-meter-description[data-value="5"] {
  color: #58CA9A;
}

.phone-input {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.phone-input [name="x_calling_code"] {
  margin: 0 3px 0 0;
}

.phone-input [name="x_national_number"] {
  flex: 1;
  margin: 0 0 0 3px;
}

.authorize-form {
  display: flex;
  flex-direction: column;
}

.authorize-idp-section {
  display: flex;
  flex-direction: column;
  margin: 6px;
  padding: 6px;
}

.authorize-idp-form {
  display: flex;
  flex-direction: column;
}

.authorize-loginid-form {
  display: flex;
  flex-direction: column;
  margin: 6px;
  padding: 6px;
}

.authorize-loginid-form .link {
  display: block;
  padding: 4px 0;
}

.sso-btn {
  margin: 4px 0;
  border-radius: 2px;
  border: solid 1px #d8d8d8;
  height: 36px;
}

/* Safari button cannot have display being set to other value */
/* Therefore we have to wrap the content in a span */
/* However, other sizing properties still need to be declared on the button itself */
/* Otherwise, the content will overflow the button */
.sso-btn-content {
  display: grid;
  grid: "icon title" auto
      /  36px 1fr;
}

.sso-btn .fab {
  grid-area: icon;
  align-self: center;
  justify-self: center;
}

.sso-btn .title {
  grid-area: title;
  align-self: center;
  justify-self: center;
  margin: 0 0 0 -36px;
}

.apple {
  color: white;
  background-color: black;
}

.google {
  color: #333333;
  background-color: white;
}

.facebook {
  color: white;
  background-color: #3b5998;
}

.linkedin {
  color: white;
  background-color: #187fb8;
}

.azureadv2 {
  color: #333333;
  background-color: #e2e2e2;
}

.wechat {
  color: white;
  background-color: #07c160;
}

.sso-loginid-separator, .wechat-auth-separator {
  text-align: center;
  margin: 6px;
  padding: 6px;
}

.device-token-control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.device-token-label {
  padding: 4px;
  font-size: smaller;
}

.simple-form {
  padding: 10px;
}

.simple-form .title {
  font-size: inherit;
}

.simple-form .description {
  font-size: smaller;
  overflow-wrap: break-word;
}

.simple-form .nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.simple-form .login-id {
  margin: 10px;
}

.vertical-form {
  display: flex;
  flex-direction: column;
}

.form-fields-container > * {
  margin: 10px;
}

.form-fields-container > form.form-fields-container {
  margin: 0;
}

.oob-otp-trigger-form {
  margin: 0 10px;
}

.enter-login-id-remove-form {
  display: none;
}

.enter-login-id-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.setup-totp .totp-image {
  width: 200px;
  height: 200px;
  align-self: center;
}

.logout-row {
  margin: 14px 18px;
}

.logout-section {
  display: grid;
  grid: "title  action" auto
      /   1fr    auto;
}

.logout-section > * {
  margin: 0;
}

.logout-section .title {
  grid-area: title;
  font-size: 1rem;
  align-self: center;
}

.logout-section .action {
  grid-area: action;
}

.settings-row {
  margin: 10px 14px 0px 14px;
  padding: 0 0 10px 0;
}

.settings-row:not(:last-child) {
  border-bottom: 1px solid #E5E5E5;
}

.settings-page-section-with-title-desc-action {
  display: grid;
  grid: "title    action  " auto
        "desc     action-2" auto
      /  1fr       auto;
  gap: 8px;
}

.settings-page-section-with-title-desc-action > * {
  margin: 0;
}


.settings-page-section-with-title-desc-action .title {
  grid-area: title;
  font-size: 1rem;
}

.settings-page-section-with-title-desc-action .description {
  grid-area: desc;
  font-size: smaller;
}

.settings-page-section-with-title-desc-action .action {
  grid-area: action;
  justify-self: end;
}

.settings-page-section-with-title-desc-action .action-2 {
  grid-area: action-2;
  justify-self: end;
}

.settings-page-section-with-title-info-desc-action {
  display: grid;
  grid: "title    action" auto
        "info     ......" auto
        "desc     ......" auto
      /  1fr       auto;
  gap: 8px;
}

.settings-page-section-with-title-info-desc-action > * {
  margin: 0;
}

.settings-page-section-with-title-info-desc-action .title {
  grid-area: title;
}

.settings-page-section-with-title-info-desc-action .info {
  grid-area: info;
  font-size: smaller;
}

.settings-page-section-with-title-info-desc-action .description {
  grid-area: desc;
  font-size: smaller;
}

.settings-page-section-with-title-info-desc-action .action {
  grid-area: action;
}

.settings-page-section-with-title {
  display: grid;
  grid: "title" auto
      /  1fr;
  gap: 8px;
}

.settings-page-section-with-title > * {
  margin: 0;
}

.settings-page-section-with-title .title {
  grid-area: title;
  font-size: 1rem;
}

.settings-page-section-revoke-device-tokens {
  display: grid;
  grid: "action" auto
      /  1fr;
  gap: 8px;
}

.settings-page-section-revoke-device-tokens > * {
  margin: 0;
}

.settings-page-section-revoke-device-tokens .action {
  grid-area: action;
  justify-self: start;
}

.settings-identity-row {
  margin: 10px 14px 0px 14px;
  padding: 0 0 10px 0;
}

.settings-identity-row:not(:last-child) {
  border-bottom: 1px solid #E5E5E5;
}

.settings-identity-title-section {
  display: grid;
  grid: "title"
        "desc";
  gap: 8px;
}

.settings-identity-title-section > * {
  margin: 0;
}

.settings-identity-title-section .title {
  grid-area: title;
  font-size: 1rem;
}

.settings-identity-title-section .description {
  grid-area: desc;
  font-size: smaller;
}

.settings-identity-identity-section {
  display: grid;
  grid: "icon  name   action1" auto
        "icon  claim  action2" auto
      /  32px   1fr    auto;
  font-size: 1rem;
}

.settings-identity-identity-section > * {
  margin: 0;
}

.settings-identity-identity-section .icon {
  align-self: start;
  justify-self: center;
  grid-area: icon;
  margin: 2px;
}

.settings-identity-identity-section .name {
  grid-area: name;
  align-self: center;
  /* We must keep using the dfault value justify-self: stretch */
  /* So that this element takes exact 1fr width */
  /* Otherwise it could overflow */
  font-size: inherit;
}

.settings-identity-identity-section .claim {
  grid-area: claim;
  align-self: center;
  /* We must keep using the dfault value justify-self: stretch */
  /* So that this element takes exact 1fr width */
  /* Otherwise it could overflow */
  font-size: smaller;
}

.settings-identity-identity-section .primary-action {
  grid-area: action1;
  align-self: center;
  justify-self: end;
}

.settings-identity-identity-section .secondary-action {
  grid-area: action2;
  align-self: center;
  justify-self: end;
}

.settings-totp-row {
  margin: 10px 14px 0px 14px;
  padding: 0 0 10px 0;
}

.settings-totp-row:not(:last-child) {
  border-bottom: 1px solid #E5E5E5;
}

.settings-totp-title-section .title {
  margin: 0;
  font-size: 1rem;
}

.settings-totp-item-section {
  display: grid;
  grid: "name  action" auto
        "desc  ......" auto
      /  1fr   auto    auto;
  font-size: 1rem;
}

.settings-totp-item-section > * {
  margin: 0;
}

.settings-totp-item-section .name {
  grid-area: name;
  align-self: center;
  /* We must keep using the default value justify-self: stretch */
  /* So that this element takes exact 1fr width */
  /* Otherwise it could overflow */
  font-size: inherit;
}

.settings-totp-item-section .desc {
  grid-area: desc;
  align-self: center;
  /* We must keep using the default value justify-self: stretch */
  /* So that this element takes exact 1fr width */
  /* Otherwise it could overflow */
  font-size: smaller;
}

.settings-totp-item-section .action {
  grid-area: action;
  align-self: center;
  justify-self: end;
}

.settings-totp-add-section .action {
  margin: 0;
  font-size: 1rem;
}

.settings-oob-otp-row {
  margin: 10px 14px 0px 14px;
  padding: 0 0 10px 0;
}

.settings-oob-otp-row:not(:last-child) {
  border-bottom: 1px solid #E5E5E5;
}

.settings-oob-otp-title-section .title {
  margin: 0;
  font-size: 1rem;
}

.settings-oob-otp-item-section {
  display: grid;
  grid: "icon  name  action" auto
        "icon  desc  ......" auto
      /  36px  1fr   auto    auto;
  font-size: 1rem;
}

.settings-oob-otp-item-section > * {
  margin: 0;
}

.settings-oob-otp-item-section .icon {
  align-self: start;
  justify-self: center;
  grid-area: icon;
  margin: 2px;
}

.settings-oob-otp-item-section .name {
  grid-area: name;
  align-self: center;
  /* We must keep using the default value justify-self: stretch */
  /* So that this element takes exact 1fr width */
  /* Otherwise it could overflow */
  font-size: inherit;
}

.settings-oob-otp-item-section .desc {
  grid-area: desc;
  align-self: center;
  /* We must keep using the default value justify-self: stretch */
  /* So that this element takes exact 1fr width */
  /* Otherwise it could overflow */
  font-size: smaller;
}

.settings-oob-otp-item-section .action {
  grid-area: action;
  align-self: center;
  justify-self: end;
}

.settings-sessions-row {
  margin: 10px 14px 0px 14px;
  padding: 0 0 10px 0;
}

.settings-sessions-row:not(:last-child) {
  border-bottom: 1px solid #E5E5E5;
}

.settings-sessions-title-section .title {
  margin: 0;
  font-size: 1rem;
}

.settings-sessions-item-section {
  display: grid;
  grid: "name  action" auto
        "desc  action" auto
      /  1fr   auto    auto;
  font-size: 1rem;
  line-height: 1.5;
}

.settings-sessions-item-section > * {
  margin: 0;
}

.settings-sessions-item-section .name {
  grid-area: name;
  align-self: center;
  /* We must keep using the default value justify-self: stretch */
  /* So that this element takes exact 1fr width */
  /* Otherwise it could overflow */
  font-size: inherit;
}

.settings-sessions-item-section .desc {
  grid-area: desc;
  align-self: center;
  /* We must keep using the default value justify-self: stretch */
  /* So that this element takes exact 1fr width */
  /* Otherwise it could overflow */
  font-size: inherit;
}

.settings-sessions-item-section .action {
  grid-area: action;
  align-self: start;
  justify-self: end;
}

.settings-sessions-revoke-all-section .action {
  margin: 0;
  font-size: 1rem;
}

.recovery-code-row {
  margin: 10px 14px 0px 14px;
  padding: 0 0 10px 0;
}

.recovery-code-title-section .title {
  margin: 0;
  font-size: 1rem;
}

.recovery-code-list-section {
  align-self: center;
  justify-self: end;
}

.recovery-code-list-section .code-list-container {
   display: flex;
   justify-content: center;
   padding: 16px;
 }

.recovery-code-list-section .code-list {
  padding: 0;
  margin: 0;
}

@media (min-width: 576px) {
  .recovery-code-list-section .code-list {
    column-count: 2;
  }
}

.recovery-code-list-section .code-item {
  white-space: pre;
  font-family: monospace;
  font-size: larger;
  margin: 0 50px;
}

.recovery-code-action-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.recovery-code-action-section .action {
  margin: 5px;
  padding: 4px 16px;
  font-size: 1rem;
}

.recovery-codes-container {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.toc-pp-footer {
  font-size: smaller;
  margin: 12px;
}

.signin-signup-switch {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.signin-signup-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-bottom: 2px solid #EDEBE9;
}

.signin-signup-link.current {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.wechat-auth-qr-code {
  width: 200px;
  height: 200px;
  align-self: center;
}
