@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply m-0 p-0 min-h-screen;
  }

  /* Load fluentui font */
  /* The URLs are observed in browser console */
  /* The font weights are from https://developer.microsoft.com/en-us/fluentui#/styles/web/typography */
  @font-face {
    font-family: "Segoe UI Web";
    src: url(//static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff2)
      format("woff2");
    font-weight: 400;
  }
  @font-face {
    font-family: "Segoe UI Web";
    src: url(//static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff2)
      format("woff2");
    font-weight: 600;
  }
  @font-face {
    font-family: "Segoe UI Web";
    src: url(//static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-bold.woff2)
      format("woff2");
    font-weight: 700;
  }

  body {
    font-family: "Segoe UI Web", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  }

  /* NOTE(1) */
  /* The font-size of focusable elements must be >= 16px otherwise */
  /* Safari iOS will zoom the page. */

  /* Fluent UI color name <-> Shade */
  /* themeLighterAlt Shade.Shade1 */
  /* themeLighter    Shade.Shade2 */
  /* themeLight      Shade.Shade3 */
  /* themeTertiary   Shade.Shade4 */
  /* themeSecondary  Shade.Shade5 */
  /* themePrimary    Shade.Unshaded */
  /* themeDarkAlt    Shade.Shade6 */
  /* themeDark       Shade.Shade7 */
  /* themeDarker     Shade.Shade8 */

  input,
  select,
  textarea,
  button {
    /* NOTE(1) */
    font-size: inherit;
  }

  /* textarea by default has background color of white */
  /* In dark mode, the text color is also white */
  /* Therefore we have to reset the background color to transparent */
  textarea,
  input,
  select {
    @apply bg-transparent;
  }

  *:focus {
    @apply outline-none;
  }

  button {
    font-weight: inherit;
  }
  button:disabled {
    cursor: not-allowed;
  }

  a {
    @apply no-underline cursor-pointer;
  }

  select {
    @apply appearance-none;
  }

  /* Use 600 for heading */
  /* https://developer.microsoft.com/en-us/fluentui#/styles/web/typography */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }
}

@layer components {
  .twc-title-icon {
    @apply w-5 flex items-center;
  }

  .twc-container-vertical {
    @apply grid grid-cols-1 auto-rows-auto gap-y-5;
  }

  .as-btn {
    @apply flex flex-row justify-center items-center;
  }

  .btn.primary-btn,
  .btn.light-btn,
  .btn.destructive-btn {
    @apply rounded-sm px-5 py-1.5 text-center border border-solid border-transparent;
  }

  .btn.action-btn {
    @apply rounded-sm px-3 py-1 text-center;
  }

  .btn.sso-btn {
    @apply rounded-sm text-center;
  }

  /* Safari button cannot have display being set to other value */
  /* Therefore we have to wrap the content in a span */
  /* However, other sizing properties still need to be declared on the button itself */
  /* Otherwise, the content will overflow the button */
  .sso-btn-content {
    @apply block relative px-9 py-1.5;
  }

  .sso-btn-icon {
    @apply absolute top-0 left-0 w-9 h-9 bg-no-repeat bg-center;
    background-size: 50%;
  }

  .select {
    @apply rounded-none text-base py-1.5 pr-7 border border-solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  .textarea {
    @apply rounded-none text-base border border-solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  .text-input {
    @apply rounded-none py-1.5 text-base border border-solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  .modal {
    @apply fixed flex top-0 left-0 w-full h-full justify-center items-center transition-opacity duration-300;
  }

  .modal.closed {
    @apply opacity-0 pointer-events-none;
  }

  .modal-overlay {
    @apply absolute bg-gray-900 w-full h-full opacity-50;
  }

  .modal-container {
    @apply max-w-md z-50 mx-auto overflow-y-auto rounded-md;
    width: 95%;
  }

  .modal-content {
    @apply p-5 text-left;
  }

  .modal-title {
    @apply m-0 text-xl;
  }

  .modal-body {
    @apply mt-0 mb-5;
  }

  .password-input-wrapper .input {
    @apply pr-8 -mr-8;
  }

  .password-input-wrapper input::-ms-reveal,
  .password-input-wrapper input::-ms-clear {
    @apply hidden;
  }

  .phone-label.whatsapp-icon {
    @apply inline-block bg-no-repeat pl-7;
    background-position: left center;
    background-size: 24px;
  }

  .qr-overlay.whatsapp-icon {
    @apply bg-center bg-no-repeat;
    background-size: 40px;
  }

  .settings-security-item {
    @apply p-3 tablet:p-3 desktop:p-4 rounded-md flex flex-col space-y-2.5;
  }

  .settings-add-btn {
    @apply p-5 text-sm w-full;
    text-align: inherit;
  }

  .banner-wrapper {
    /* 16px is the banner default padding */
    /* 40px - 16px = 8px */
    /* 40px - 16px = 8px */
    @apply pt-6 pb-6;
    /* 80px - 16px = 48px */
    /* 64px - 16px = 32px */
    @apply tablet:pt-[66px] tablet:pb-12;
    /* 80px - 16px = 48px */
    /* 64px - 16px = 32px */
    @apply desktop:pt-[66px] desktop:pb-12;
  }
}
