.container {
  @apply h-full;
  @apply flex flex-col;
  @apply overflow-auto;
}

.header {
}

.contentExpand {
  @apply flex-1;
}

.footer {
  @apply flex items-center;
  @apply space-x-4;
  @apply p-6;
  @apply bg-white;
}

.footerSticky {
  @apply border-0 border-t border-solid border-grey-500;
  @apply sticky bottom-0;
}

.hidden {
  @apply invisible;
}
