@import "./styles/variable.scss";

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.extendButton {
  padding: 5px;
  margin: -5px;
}

.downArrow {
  i {
    transition: transform 200ms ease;
  }
}

.downArrowExtended {
  i {
    transform: rotate(-180deg);
  }
}

.contentContainer {
  height: auto;
}

.contentContainerExtended {
  height: auto;
}

.content {
  padding: 0 20px 20px;
}

.readOnly {
  pointer-events: none;
  opacity: 0.5;
}
