.list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.listItem {
  display: flex;
}

.deleteButton {
  align-self: start;
}

.errorMessage {
  display: block;
  color: #a4262c;
  font-size: 12px;
  padding-top: 5px;
}

.addButton {
  padding: 0 10px 0 0;
}

.addButtonIcon {
  margin: 0 10px 0 0;
}

.description {
  line-height: 20px;
}

.description--top {
  @apply mb-2;
}
