.listItem {
  display: flex;
}

.deleteButton {
  margin-left: 5px;
}

.errorMessage {
  display: block;
  color: #a4262c;
  font-size: 12px;
  padding-top: 5px;
}

.addButton {
  padding: 0 10px 0 0;
}

.addButtonIcon {
  margin: 0 10px 0 0;
}
