.header {
  /*
    Chromium browsers has partial support of sticky position for tables,
    we don't use tables here so ignore this.
   */
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  position: sticky;
  top: 0;
  min-height: 80px;
  z-index: 1000;
}

.commandBar {
  border-bottom: 1px solid #edebe9;
}
