.root {
  display: flex;
  flex-direction: column;
}

.label {
  align-self: flex-start;
}

.input {
  display: none;
}

.image {
  height: 90px;
  margin: 5px 0;
}

.button {
  align-self: flex-start;
  margin: 5px 0;
}
