@import "./tailwind.css";
@import "./icons/authgear-portal-icons.css";

/* Ensure the page is least as tall as the viewport */
html,
body,
#react-app-root {
  min-height: 100vh;
  height: 100%;
}

/* Ensure the default page font is compatible with common operation systems */
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica",
    "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/* For all <button> element not in fluent or radix */
button:not(:disabled) {
  cursor: pointer;
}

/* For fluent buttons */
button[disabled] {
  cursor: not-allowed;
}

/* Some shared configs */
:root {
  --screen-header-height: 48px;
}
