@import "./tailwind.css";
@import "./icons/authgear-portal-icons.css";
@import "./formatting.css";

/* Ensure the page is least as tall as the viewport */
html,
body,
#react-app-root {
  min-height: 100vh;
  height: 100%;
}

html {
  /* Use system font. This string is copied from the stylesheet of github.com. */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/* For all <button> element not in fluent or radix */
button:not(:disabled) {
  cursor: pointer;
}

/* For fluent buttons */
button[disabled] {
  cursor: not-allowed;
}

/* Some shared configs */
:root {
  --screen-header-height: 48px;
}
