.logo {
  position: absolute;
  height: 48px;
}
.center {
  position: relative;
  height: 80vh;
  margin: auto;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply w-2/5 mobile:w-11/12;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.content {
  margin-top: 50px;
  margin-bottom: 50px;
}
