.SingleChoiceButtonGroupVariantCentered {
  @apply my-[72px];
  @apply flex flex-row flex-wrap items-center justify-center;
  @apply gap-4;
}

.SingleChoiceButtonGroupVariantLabeled {
  @apply flex flex-row flex-wrap items-center;
  @apply gap-4;
  @apply w-full;
}

.formBox {
  @apply mt-[48px] mb-[72px];
  @apply grid;
  @apply gap-8;
}

.step1Content {
  @apply max-w-[600px];
}

.step2Content {
  @apply max-w-[420px];
}

.step3Content {
  @apply max-w-[420px];
}

.step4Content {
  @apply max-w-[760px];
}

.step4 {
  @apply mt-[48px] mb-[72px];
}

.MultiChoiceButtonGroup {
  @apply grid;
  @apply gap-6 mobile:gap-3;
  @apply grid-cols-2 mobile:grid-cols-1;
  grid-auto-rows: 1fr;
}

.CompoundChoiceButton {
  @apply max-w-[368px] mobile:max-w-[410px];
  min-height: 118px;
  height: 100%;
  padding: 25px;
}

.otherReasonInput {
  @apply mt-8;
}
