.logo {
  position: absolute;
  height: 48px;
}
.body {
  min-height: 100vh;
  flex-shrink: 0;
}
.centerDiv {
  margin: auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 750px;
}
.navigationDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.contentDiv {
  margin: 50px 10px;
  max-width: 100%;
}
.titlesDiv {
  width: 420px;
  max-width: 100%;
}
.SurveyTitle {
  white-space: pre-line;
  text-align: center;
  margin-bottom: 20px;
}
.SurveySubtitle {
  white-space: pre-line;
  text-align: center;
}
