.singleChoiceButtonGroup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.individualSingleChoiceButtonGroup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
}
.formBox {
  width: 380px;
  max-width: 380px;
  display: grid;
  gap: 20px;
}
