.container {
  width: 100%;
  height: 32px;
}

.input {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--PhoneTextField-border-color);
  outline: 0;
}

.input:focus {
  border-radius: 0;
  border-width: 2px;
  border-color: var(--PhoneTextField-border-color-focus);
  // stylelint-disable-next-line declaration-no-important
  padding-left: 51px !important;
  // stylelint-disable-next-line declaration-no-important
  padding-right: 5px !important;
}

.input:disabled {
  border-width: 0;
}

.errorMessage {
  padding-top: 5px;
}
