/* This file defines our own custom color palette */
/* https://www.figma.com/design/wAIzBnO9un4fYcq5ampR5k/Radix-Themes-(Storybook)?node-id=3795-92063&t=hD90rcrEF95c6rUb-0 */

/* stylelint-disable no-duplicate-selectors -- We always have dupliacted selectors in this file */

:root {
  --semantics-error-1: #fffcfc;
  --semantics-error-2: #fff7f7;
  --semantics-error-3: #feebec;
  --semantics-error-4: #ffdbdc;
  --semantics-error-5: #ffcdce;
  --semantics-error-6: #fdbdbe;
  --semantics-error-7: #f4a9aa;
  --semantics-error-8: #eb8e90;
  --semantics-error-9: #e5484d;
  --semantics-error-10: #dc3e42;
  --semantics-error-11: #ce2c31;
  --semantics-error-12: #641723;

  --semantics-error-a1: #ff000003;
  --semantics-error-a2: #ff000008;
  --semantics-error-a3: #f3000d14;
  --semantics-error-a4: #ff000824;
  --semantics-error-a5: #ff000632;
  --semantics-error-a6: #f8000442;
  --semantics-error-a7: #df000356;
  --semantics-error-a8: #d2000571;
  --semantics-error-a9: #db0007b7;
  --semantics-error-a10: #d10005c1;
  --semantics-error-a11: #c40006d3;
  --semantics-error-a12: #55000de8;
}

[data-accent-color="semantics-error"] {
  --accent-1: var(--semantics-error-1);
  --accent-2: var(--semantics-error-2);
  --accent-3: var(--semantics-error-3);
  --accent-4: var(--semantics-error-4);
  --accent-5: var(--semantics-error-5);
  --accent-6: var(--semantics-error-6);
  --accent-7: var(--semantics-error-7);
  --accent-8: var(--semantics-error-8);
  --accent-9: var(--semantics-error-9);
  --accent-10: var(--semantics-error-10);
  --accent-11: var(--semantics-error-11);
  --accent-12: var(--semantics-error-12);

  --accent-a1: var(--semantics-error-a1);
  --accent-a2: var(--semantics-error-a2);
  --accent-a3: var(--semantics-error-a3);
  --accent-a4: var(--semantics-error-a4);
  --accent-a5: var(--semantics-error-a5);
  --accent-a6: var(--semantics-error-a6);
  --accent-a7: var(--semantics-error-a7);
  --accent-a8: var(--semantics-error-a8);
  --accent-a9: var(--semantics-error-a9);
  --accent-a10: var(--semantics-error-a10);
  --accent-a11: var(--semantics-error-a11);
  --accent-a12: var(--semantics-error-a12);
}

:root {
  --semantics-success-1: #fbfefc;
  --semantics-success-2: #f4fbf6;
  --semantics-success-3: #e6f6eb;
  --semantics-success-4: #d6f1df;
  --semantics-success-5: #c4e8d1;
  --semantics-success-6: #adddc0;
  --semantics-success-7: #8eceaa;
  --semantics-success-8: #5bb98b;
  --semantics-success-9: #30a46c;
  --semantics-success-10: #2b9a66;
  --semantics-success-11: #218358;
  --semantics-success-12: #193b2d;

  --semantics-success-a1: #00c04004;
  --semantics-success-a2: #00a32f0b;
  --semantics-success-a3: #00a43319;
  --semantics-success-a4: #00a83829;
  --semantics-success-a5: #019c393b;
  --semantics-success-a6: #00963c52;
  --semantics-success-a7: #00914071;
  --semantics-success-a8: #00924ba4;
  --semantics-success-a9: #008f4acf;
  --semantics-success-a10: #008647d4;
  --semantics-success-a11: #00713fde;
  --semantics-success-a12: #002616e6;
}

[data-accent-color="semantics-success"] {
  --accent-1: var(--semantics-success-1);
  --accent-2: var(--semantics-success-2);
  --accent-3: var(--semantics-success-3);
  --accent-4: var(--semantics-success-4);
  --accent-5: var(--semantics-success-5);
  --accent-6: var(--semantics-success-6);
  --accent-7: var(--semantics-success-7);
  --accent-8: var(--semantics-success-8);
  --accent-9: var(--semantics-success-9);
  --accent-10: var(--semantics-success-10);
  --accent-11: var(--semantics-success-11);
  --accent-12: var(--semantics-success-12);

  --accent-a1: var(--semantics-success-a1);
  --accent-a2: var(--semantics-success-a2);
  --accent-a3: var(--semantics-success-a3);
  --accent-a4: var(--semantics-success-a4);
  --accent-a5: var(--semantics-success-a5);
  --accent-a6: var(--semantics-success-a6);
  --accent-a7: var(--semantics-success-a7);
  --accent-a8: var(--semantics-success-a8);
  --accent-a9: var(--semantics-success-a9);
  --accent-a10: var(--semantics-success-a10);
  --accent-a11: var(--semantics-success-a11);
  --accent-a12: var(--semantics-success-a12);
}
