/* See https://www.radix-ui.com/themes/docs/theme/typography#custom-font-weights */
/* Reference https://www.figma.com/design/wAIzBnO9un4fYcq5ampR5k/Authgear---Radix-Themes--Storybook-?node-id=610-103 */
.radix-themes {
  --default-font-family: inherit;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
}
