.container {
  position: relative;
  transition: opacity 150ms 150ms ease-in;
  height: 300px;
}

.img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hidden {
  visibility: hidden;
}

.placeholder {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  color: #fff;
  background-color: #ddd;
  cursor: pointer;
  @apply rounded-full;
}

.placeholderIcon {
  width: 180px;
  height: 180px;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.preview {
  width: 300px;
  height: 300px;
  object-fit: contain;
  @apply rounded-full;
}
