.header {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  height: 48px;
}

.logo {
  height: 24px;
  margin: 12px;
}

.logoutButton {
  display: block;
  padding: 6px;
  margin: 6px;
  border-radius: 2px;
  background-color: orange;
}
