.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  height: 48px;
}

.headerLeft {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.headerArrow {
  padding-right: 10px;
  font-size: 14px;
}

.headerAppID {
  font-size: 12px;
  font-weight: 600;
}

.logoLink {
  display: flex;
}

.logo {
  height: 24px;
  margin: 12px 10px;
}

.logoutButton {
  display: block;
  padding: 6px;
  margin: 6px;
  border-radius: 2px;
  background-color: orange;
}
