.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  height: 48px;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.headerMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.headerArrow {
  padding-right: 10px;
  font-size: 14px;
}

.headerAppID {
  font-size: 12px;
  font-weight: 600;
}

.logoLink {
  display: flex;
}

.logo {
  height: 24px;
  margin: 12px 10px;
}

.logoNavHeader {
  height: 24px;
  margin: 12px;
}

.logoutButton {
  display: block;
  padding: 6px;
  margin: 6px;
  border-radius: 2px;
  background-color: orange;
}

.hamburger {
  margin: 8px 20px 8px 16px;
}
