.root {
  padding: 10px;
  max-width: 672px;
  display: flex;
  flex-direction: column;
}

.content {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.rootSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle {
  margin: 0 10px;
}

.title {
  margin: 10px;
  display: block;
  font-weight: 700;
}

.leftSection {
  display: flex;
  flex-direction: column;
}

.presetSection {
  align-self: flex-start;
  margin: 10px;
}

.presetWidget {
  margin: 10px 0;
}

.presetTitle {
  margin: 10px 0;
  display: block;
  font-weight: 600;
}

.colorControlSection {
  margin: 10px;
}

.colorControlTitle {
  margin: 10px 0;
  display: block;
  font-weight: 600;
}

.colorControl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.colorControlLabel {
  margin: 0;
  padding: 0;
}

.colorPicker {
  margin: 0 -4px;
}

.previewSection {
  width: 223px;
  margin: 10px;
}

.previewContainer {
  position: relative;
}

.previewWidget {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 0 0 0;
  width: 360px;
}
