.root {
  display: flex;
  flex-direction: column;
}

.content {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.rootSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle {
  margin: 0 10px;
}

.leftSection {
  display: flex;
  flex-direction: column;
}

.themeColorSection {
  align-self: flex-start;
  margin: 10px;
}

.presetWidget {
  width: 350px;
  margin: 10px 0;
}

.sectionTitle {
  margin: 10px 0;
  display: block;
  font-weight: 600;
}

.colorControl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.colorControlLabel {
  margin: 0;
  padding: 0;
}

.colorPicker {
  margin: 0 -4px;
}

.previewSection {
  width: 223px;
  margin: 10px;
}

.previewContainer {
  position: relative;
}

.previewWidget {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 0 0 0;
  width: 360px;
}

.appLogoSection {
  width: 350px;
  margin: 10px;
}

.appLogoControl {
  display: flex;
  flex-direction: row;
  margin: -5px;
}

.appLogoDropdown {
  margin: 5px;
  flex: 3 0 0;
}

.appLogoDimension {
  margin: 5px;
  flex: 1 0 0;
}

.appLogoPadding {
  margin: 5px;
  flex: 1 0 0;
}

.appLogoColorControl {
  margin: 10px 0;
}
