.root {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
}

.preset {
  border: 2px solid #cecece;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  cursor: pointer;
}

.preset.selected {
  border: 2px solid #176df3;
}

.background {
  margin: 5px;
  border-radius: 2px;
}

.foreground {
  height: 24px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 6px;
}

.presetName {
  margin: 5px;
  text-align: center;
}

.customIcon {
  align-self: center;
  color: #8a8886;
  margin: 8px;
  font-size: 26px;
}
