.root {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, auto);
}

.preset {
  border: 2px solid var(--gray-a6);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  cursor: pointer;
}

.preset.selected {
  border: 2px solid var(--accent-9);
}

.preset.disabled {
  opacity: 0.4;
  cursor: initial;
}

.background {
  margin: 5px;
  border-radius: 2px;
}

.foreground {
  height: 24px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 6px;
}

.presetName {
  margin: 5px;
  text-align: center;
}

.customIcon {
  align-self: center;
  color: var(--gray-a9);
  margin: 8px;
  font-size: 26px;
}
