.reorderHandle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.onDragEnter.before {
  box-shadow: inset 0 4px black;
}

.onDragEnter.after {
  box-shadow: inset 0 -4px black;
}

.consequence {
  margin: 10px 0;
}

.consequence::before {
  content: "- ";
}
