.root {
  display: grid;
  padding: 24px;
  column-gap: 16px;
  row-gap: 20px;
  grid-auto-rows: auto;
  align-self: center;

  @apply grid-cols-[repeat(6,_80px)] mobile:grid-cols-6;
}

.content {
  margin-top: 24px;
  padding: 16px;
  display: grid;
  row-gap: 16px;
  grid-template-columns: auto;
  grid-auto-rows: auto;
  background-color: white;

  grid-column: 1 / span 6;
  @apply tablet:col-span-full;
}

.title {
  font-weight: 600;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.skip {
  font-size: smaller;

  grid-column: 1 / span 6;
  @apply tablet:col-span-full;
}
