@font-face {
  font-family: "twemoji-countries";
  unicode-range: U+1F1E6-1F1FF;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./icons/Twemoji.Mozilla-subset.woff2") format("woff2"),
    url("./icons/Twemoji.Mozilla-subset.ttf") format("truetype");
}

.twemoji-countries {
  font-family: "twemoji-countries";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizelegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

@supports (-webkit-appearance: none) and (stroke-color: transparent) {
  @font-face {
    font-family: "twemoji-countries";
    src: url("./icons/twemoji-color-subset.woff2") format("woff2"),
      url("./icons/twemoji-color-subset.ttf") format("truetype");
  }

  .twemoji-countries {
    position: relative;
    bottom: 0.2rem;
  }
}
