@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@layer base {
  html,
  body {
    @apply m-0 p-0 h-full min-h-min flex flex-col;
    /* Reference font size */
    font-size: 16px;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Colors */
  :root {
    --c-white: #ffffff;
    --c-black: #000000;
    --c-success: #11c624;
    --c-error: #ff295b;
    --c-warning: #f39d17;

    /* primary */
    --c-primary-base: #176df3;
    --c-primary-100: #e2e7fe;
    --c-primary-200: #adbdfd;
    --c-primary-300: #7295fc;
    --c-primary-400: #176df3;
    --c-primary-500: #0d4cae;
    --c-primary-600: #052e6f;
    --c-primary-700: #011234;

    /* grey */
    --c-grey-base: #73747b;
    --c-grey-100: #e7e7e9;
    --c-grey-200: #bfbfc3;
    --c-grey-300: #98999e;
    --c-grey-400: #73747b;
    --c-grey-500: #505157;
    --c-grey-600: #303135;
    --c-grey-700: #131315;
  }

  /* Border Radius */
  :root {
    --border-radius-full: 9999px;
    --border-radius-sqaure: 0px;
    --border-radius-rounded-square: 14px;
  }

  /* Typography */
  :root {
    --font-family-headline-medium: inherit;
    --font-size-headline-medium: 1.75rem;
    --line-height-headline-medium: 2.125rem;
    --letter-spacing-headline-medium: 0px;
    --font-weight-headline-medium: 700;

    --font-family-title-medium: inherit;
    --font-size-title-medium: 1rem;
    --line-height-title-medium: 1.5rem;
    --letter-spacing-title-medium: 0.009375rem;
    --font-weight-title-medium: 500;

    --font-family-label-large: inherit;
    --font-size-label-large: 1rem;
    --line-height-label-large: 1.5rem;
    --letter-spacing-label-large: 0.00625rem;
    --font-weight-label-large: 600;
  }

  /* Alignment */
  :root {
    --alignment-branding: center;
    --alignment-content: center;
  }
}
