.onboardingSurveyPhoneInput__container :global(.iti__dropdown-content) {
  background: var(--accent-12);
}

.onboardingSurveyPhoneInput__container :global(.iti__dial-code) {
  color: var(--gray-12);
}

.onboardingSurveyPhoneInput__container :global(.iti__arrow) {
  border-top-color: var(--gray-12);
}
