.heading {
  color: var(--gray-12);
  font-weight: 600;
  font-size: var(--font-size-6);
  line-height: var(--line-height-6);
  letter-spacing: var(--letter-spacing-6);
}

.headingHint {
  color: var(--white-a6);
  font-weight: 600;
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  letter-spacing: var(--letter-spacing-3);
}

.body {
  color: var(--gray-12);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-4);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-4);
}
