.container {
  @apply flex flex-col items-center justify-center text-center;
  @apply flex-1 min-h-0 w-full;
  padding: 3.5rem 1.5rem;
}

.title {
  margin: 0 0 0.5rem;
  color: var(--gray-12);
}

.description {
  margin: 0;
  max-width: 30rem;
  color: var(--gray-11);
}

.button {
  @apply mt-4;
}
