<!DOCTYPE html>
<html>
{{ template "auth_ui_html_head.html" . }}
<body class="page">
<div class="content">

{{ template "auth_ui_header.html" . }}

<div class="simple-form vertical-form form-fields-container">

<div class="title primary-txt">{{ template "forgot-password-success-page-title" }}</div>

{{ template "ERROR" . }}

<div class="description primary-txt">{{ template "forgot-password-success-description" (makemap "target" $.GivenLoginID) }}</div>

<a class="btn primary-btn align-self-flex-end" href="{{ call .MakeURL "/login" }}">{{ template "login-button-label--forgot-password-success-page" }}</a>

</div>

</div>
</body>
</html>
