<!DOCTYPE html>
<html>
{{ template "auth_ui_html_head.html" . }}
<body class="page">
<div class="content">

{{ template "auth_ui_header.html" . }}

<form class="simple-form vertical-form form-fields-container" method="post" novalidate>
{{ $.CSRFField }}

<div class="title primary-txt">{{ template "reset-password-page-title" }}</div>

{{ template "ERROR" . }}

<div class="description primary-txt">{{ template "reset-password-description" }}</div>

<input id="password" data-password-policy-password="" class="input text-input primary-txt" type="password" name="x_password" placeholder="{{ template "password-placeholder" }}">

<button class="btn secondary-btn password-visibility-btn show-password" type="button">{{ template "show-password" }}</button>
<button class="btn secondary-btn password-visibility-btn hide-password" type="button">{{ template "hide-password" }}</button>

{{ template "PASSWORD_POLICY" . }}

<button class="btn primary-btn submit-btn align-self-flex-end" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>

</form>

</div>
</body>
</html>
