<!DOCTYPE html>
<html>
{{ template "auth_ui_html_head.html" . }}
<body class="page">
<div class="content">

{{ template "auth_ui_header.html" . }}

{{ template "auth_ui_nav_bar.html" true }}

<p class="align-self-center primary-txt">
  Click <a href="/logout">here</a> to sign out.
</p>

<div class="pane">
  <div class="content-row content-row-layout-2x2">
    <h2 class="content-row-title content-row-item primary-txt">
      {{ template "settings-identity-title" }}
    </h2>
    <a class="content-row-item" href="/settings/identity">
      {{ template "details-button-label" }}
    </a>
    <p class="content-row-item secondary-txt">
      {{ template "settings-identity-description" }}
    </p>
  </div>
</div>

</div>
</body>
</html>
