<!DOCTYPE html>
<html>
{{ template "auth_ui_html_head.html" . }}
<body class="page">
<div class="content">

{{ template "auth_ui_header.html" . }}

<div class="simple-form vertical-form form-fields-container setup-totp">

<div class="nav-bar">
	<button class="btn back-btn" type="button" title="{{ template "back-button-title" }}"></button>
</div>

<div class="title primary-txt">
	{{ template "setup-totp-title" }}
</div>

{{ template "ERROR" . }}

<form class="vertical-form form-fields-container" method="post" novalidate>

{{ $.CSRFField }}

<img class="totp-image" src="{{ $.ImageURI }}">

<p class="description primary-txt">{{ template "setup-totp-get-google-authenticator-description" }}</p>

<p class="description primary-txt white-space-pre">{{ template "setup-totp-use-google-authenticator-description" }}</p>

<p class="description primary-txt white-space-pre">{{ template "setup-totp-fallback-description" (makemap "secret" $.Secret) }}</p>

<p class="description primary-txt white-space-pre">{{ template "setup-totp-code-description" }}</p>

<input class="input text-input primary-txt" type="text" inputmode="numeric" pattern="[0-9]*" name="x_code" placeholder="{{ template "setup-totp-code-placeholder" }}">

{{ range $.Alternatives }}
{{ if eq .Type "totp" }}
<a class="link align-self-flex-start" href="{{ .URL }}">{{ template "setup-totp-instead" }}</a>
{{ end }}
{{ if eq .Type "oob_otp" }}
<a class="link align-self-flex-start" href="{{ .URL }}">{{ template "setup-oob-otp-instead" }}</a>
{{ end }}
{{ if eq .Type "password" }}
<a class="link align-self-flex-start" href="{{ .URL }}">{{ template "setup-password-instead" }}</a>
{{ end }}
{{ end }}

<button class="btn primary-btn align-self-flex-end" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>

</form>

</div>

</div>
</body>
</html>
