<!DOCTYPE html>
<html>
{{ template "auth_ui_html_head.html" . }}
<body class="page">
<div class="content">

{{ template "auth_ui_header.html" . }}

<div class="simple-form vertical-form form-fields-container">

<div class="nav-bar">
	<button class="btn back-btn" type="button" title="{{ localize "back-button-title" }}"></button>
</div>

{{ if $.VerificationCodeChannel }}
{{ if eq $.VerificationCodeChannel "sms" }}
<div class="title primary-txt">{{ localize "verify-user-page-title--sms" }}</div>
{{ end }}
{{ if eq $.VerificationCodeChannel "email" }}
<div class="title primary-txt">{{ localize "verify-user-page-title--email" }}</div>
{{ end }}
{{ end }}

{{ template "ERROR" . }}

{{ if $.IdentityDisplayID }}
<div class="description primary-txt">{{ localize "verify-user-description" $.VerificationCodeLength $.IdentityDisplayID }}</div>
{{ end }}

<form class="vertical-form form-fields-container" method="post" novalidate>
{{ $.CSRFField }}

<input class="input text-input primary-txt" type="text" inputmode="numeric" pattern="[0-9]*" name="x_password" placeholder="{{ localize "verify-user-placeholder" }}" value="{{ $.VerificationCode }}">
<button class="btn primary-btn align-self-flex-end" type="submit" name="submit" value="">{{ localize "next-button-label" }}</button>
</form>

<form class="link verify-user-trigger-form" method="post" novalidate>
{{ $.CSRFField }}

<span class="primary-txt">{{ localize "verify-user-resend-button-hint" }}</span>
<button id="resend-button" class="anchor" type="submit" name="trigger" value="true"
	data-cooldown="{{ $.VerificationCodeSendCooldown }}"
	data-label="{{ localize "verify-user-resend-button-label" }}"
	data-label-unit="{{ localize "verify-user-resend-button-label--unit" }}">{{ localize "verify-user-resend-button-label" }}</button>
</form>

</div>
{{ template "auth_ui_footer.html" . }}

</div>
</body>
</html>
