<!DOCTYPE html>
<html>
{{ template "auth_ui_html_head.html" . }}
<body class="page">
<div class="content">

{{ template "auth_ui_header.html" . }}

<div class="simple-form vertical-form form-fields-container setup-totp">

<div class="nav-bar">
	<button class="btn back-btn" type="button" title="{{ localize "back-button-title" }}"></button>
</div>

<div class="title primary-txt">
	{{ localize "setup-totp-title" }}
</div>

{{ template "ERROR" . }}

<form class="vertical-form form-fields-container" method="post" novalidate>

{{ $.CSRFField }}

<img class="totp-image" src="{{ $.ImageURI }}">

<p class="description primary-txt white-space-pre">{{ localize "setup-totp-get-google-authenticator-description" }}</p>

<a class="link align-self-flex-start" target="_blank" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">{{ localize "google-play-store-label" }}</a>

<a class="link align-self-flex-start" target="_blank" href="https://apps.apple.com/app/google-authenticator/id388497605">{{ localize "apple-app-store-label" }}</a>

<p class="description primary-txt white-space-pre">{{ localize "setup-totp-use-google-authenticator-description" }}</p>

<p class="description primary-txt white-space-pre">{{ localize "setup-totp-fallback-description" $.Secret }}</p>

<p class="description primary-txt white-space-pre">{{ localize "setup-totp-code-description" }}</p>

<input class="input text-input primary-txt" type="text" inputmode="numeric" pattern="[0-9]*" name="x_code" placeholder="{{ localize "setup-totp-code-placeholder" }}">

<button class="btn primary-btn align-self-flex-end" type="submit" name="submit" value="">{{ localize "next-button-label" }}</button>

</form>

</div>
{{ template "auth_ui_footer.html" . }}

</div>
</body>
</html>
