<!DOCTYPE html>
<html>
{{ template "auth_ui_html_head.html" . }}
<body class="page">
<div class="content">

{{ template "auth_ui_header.html" . }}

{{ template "auth_ui_nav_bar.html" }}

<form class="simple-form vertical-form form-fields-container pane" method="post" novalidate>
{{ $.CSRFField }}

<h1 class="title primary-txt">{{ template "enter-password-page-title" }}</h1>

{{ template "ERROR" . }}

<!-- This field is for Chrome and Safari to correctly associate the username with the password -->
<input style="display: none" aria-hidden="true" type="text" autocomplete="username" name="" value="{{ $.IdentityDisplayID }}">

<input
	id="password"
	class="input text-input primary-txt"
	type="password"
	autocomplete="current-password"
	name="x_password"
	placeholder="{{ template "password-placeholder" }}"
>

<button class="btn secondary-btn password-visibility-btn show-password" type="button">{{ template "show-password" }}</button>
<button class="btn secondary-btn password-visibility-btn hide-password" type="button">{{ template "hide-password" }}</button>

{{ range $.Alternatives }}
{{ if eq .Type "device_token" }}
<div class="device-token-control align-self-flex-start">
<input class="device-token-input" id="device-token" type="checkbox" name="x_device_token" value="true">
<label class="device-token-label primary-txt" for="device-token">{{ template "create-device-token-label" }}</label>
</div>
{{ end }}
{{ end }}

<button class="btn primary-btn align-self-flex-end" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>

<!-- This page for entering password. So if the user reaches this page normally, forgot password link should be provided -->
<a class="link align-self-flex-start" href="{{ call $.MakeURL "/forgot_password" }}">{{ template "forgot-password-button-label--enter-password-page" }}</a>

{{ range $.Alternatives }}
{{ if eq .Type "totp" }}
<a class="link align-self-flex-start" href="{{ .URL }}">{{ template "enter-totp-instead" }}</a>
{{ end }}
{{ if eq .Type "password" }}
<a class="link align-self-flex-start" href="{{ .URL }}">{{ template "enter-password-instead" }}</a>
{{ end }}
{{ if eq .Type "oob_otp" }}
<a class="link align-self-flex-start" href="{{ .URL }}">{{ template "enter-oob-otp-instead" (makemap "target" .MaskedTarget) }}</a>
{{ end }}
{{ if eq .Type "recovery_code" }}
<a class="link align-self-flex-start" href="{{ .URL }}">{{ template "enter-recovery-code-instead" }}</a>
{{ end }}
{{ end }}

</form>

</div>
</body>
</html>
