<!DOCTYPE html>
<html>
{{ template "auth_ui_html_head.html" . }}
<body class="page">
<div class="content">

{{ template "auth_ui_header.html" . }}

{{ template "auth_ui_nav_bar.html" }}

<div class="simple-form vertical-form form-fields-container pane">

<div class="title primary-txt">
	{{ template "recovery-code-title" }}
</div>

{{ template "ERROR" . }}

<form class="vertical-form form-fields-container" method="post" novalidate>

{{ $.CSRFField }}

<p class="description primary-txt">{{ template "recovery-code-storage-description" }}</p>

<div class="recovery-codes">
	{{ range $.RecoveryCodes }}
	<p class="recovery-code">{{ . }}</p>
	{{ end }}
</div>

<p class="description primary-txt">{{ template "recovery-code-consumption-description" }}</p>

<div class="setup-recovery-code-buttons">
	<button class="btn primary-btn" type="submit" name="submit" value="">{{ template "next-button-label" }}</button>
	<a class="btn primary-btn" target="_blank" href="{{ call $.MakeURLState "" "download" "true" }}">{{ template "download-button-label" }}</a>
</div>

</form>

</div>

</div>
</body>
</html>
