<!DOCTYPE html>
<html>
{{ template "auth_ui_html_head.html" . }}
<body class="page">
<div class="content">

{{ template "auth_ui_header.html" . }}

<div class="settings-identity">
  <h1 class="title primary-txt">{{ template "settings-identity-title" }}</h1>

  {{ template "ERROR" . }}

  {{ range .IdentityCandidates }}
  {{ $verification_status := index $.VerificationStatuses .identity_id }}
  {{ if eq $verification_status "" }}
    {{ $verification_status = "disabled" }}
  {{ end }}

  <div class="identity">
    <div class="icon {{ .type }} {{ .provider_type }} {{ .login_id_type }}"></div>
    <div class="identity-info flex-child-no-overflow">
      <h2 class="identity-name primary-txt">
         {{ if eq .type "oauth" }}
           {{ if eq .provider_type "google" }}
           {{ template "settings-identity-oauth-google" }}
           {{ end }}
           {{ if eq .provider_type "apple" }}
           {{ template "settings-identity-oauth-apple" }}
           {{ end }}
           {{ if eq .provider_type "facebook" }}
           {{ template "settings-identity-oauth-facebook" }}
           {{ end }}
           {{ if eq .provider_type "linkedin" }}
           {{ template "settings-identity-oauth-linkedin" }}
           {{ end }}
           {{ if eq .provider_type "azureadv2" }}
           {{ template "settings-identity-oauth-azureadv2" }}
           {{ end }}
         {{ end }}
         {{ if eq .type "login_id" }}
           {{ if eq .login_id_type "email" }}
           {{ template "settings-identity-login-id-email" }}
           {{ end }}
           {{ if eq .login_id_type "phone" }}
           {{ template "settings-identity-login-id-phone" }}
           {{ end }}
           {{ if eq .login_id_type "username" }}
           {{ template "settings-identity-login-id-username" }}
           {{ end }}
           {{ if eq .login_id_type "raw" }}
           {{ template "settings-identity-login-id-raw" }}
           {{ end }}
         {{ end }}
      </h2>

      {{ if .display_id }}
      <h3 class="identity-claim secondary-txt text-ellipsis">
        {{ .display_id }}
      </h3>
      {{ end }}
    </div>

    <div class="identity-actions">
      {{ if eq .type "oauth" }}
        <form method="post" novalidate>
        {{ $.CSRFField }}
        <input type="hidden" name="x_provider_alias" value="{{ .provider_alias }}">
        <input type="hidden" name="x_identity_id" value="{{ .identity_id }}">
        {{ if .identity_id }}
        <button class="btn destructive-btn" type="submit" name="x_action" value="unlink_oauth">{{ template "disconnect-button-label" }}</button>
        {{ else }}
        <button class="btn primary-btn" type="submit" name="x_action" value="link_oauth" data-form-xhr="false">{{ template "connect-button-label" }}</button>
        {{ end }}
        </form>
      {{ end }}

      {{ if eq .type "login_id" }}
        {{ if .identity_id }}
        <a class="btn secondary-btn" href="{{ call $.MakeURL "/enter_login_id" "x_login_id_key" .login_id_key "x_login_id_type" .login_id_type "x_login_id_input_type" .login_id_input_type "x_identity_id" .identity_id }}">{{ template "change-button-label" }}</a>

        {{ if or (eq $verification_status "pending") (eq $verification_status "required") }}
          <form method="post" novalidate>
            {{ $.CSRFField }}
            <input type="hidden" name="x_identity_id" value="{{ .identity_id }}">
            <button class="btn secondary-btn" type="submit" name="x_action" value="verify_login_id">{{ template "verify-button-label" }}</button>
          </form>
        {{ else if eq $verification_status "verified" }}
          <span class="identity-verified">{{ template "verification-status-label--verified" }}</span>
        {{ end }}

        {{ else }}
        <a class="btn secondary-btn" href="{{ call $.MakeURL "/enter_login_id" "x_login_id_key" .login_id_key "x_login_id_type" .login_id_type "x_login_id_input_type" .login_id_input_type }}">{{ template "connect-button-label" }}</a>
        {{ end }}
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>

{{ template "auth_ui_footer.html" . }}

</div>
</body>
</html>
