<!DOCTYPE html>
<html>
{{ template "auth_ui_html_head.html" . }}
<body class="page">
<div class="content">

{{ template "auth_ui_header.html" . }}

<div class="simple-form vertical-form form-fields-container">

<div class="nav-bar">
	<button class="btn back-btn" type="button" title="{{ localize "back-button-title" }}"></button>
</div>

<div class="title primary-txt">{{ localize "enter-recovery-code-title" }}</div>

{{ template "ERROR" . }}

<p class="description primary-txt">{{ localize "enter-recovery-code-description" }}</p>

<form class="vertical-form form-fields-container" method="post" novalidate>
{{ $.CSRFField }}

<input class="input text-input primary-txt" type="text" name="x_code" placeholder="{{ localize "enter-recovery-code-placeholder" }}">

{{ range $.Alternatives }}
{{ if eq .Type "totp" }}
<a class="link align-self-flex-start" href="{{ .URL }}">{{ localize "enter-totp-instead" }}</a>
{{ end }}
{{ if eq .Type "password" }}
<a class="link align-self-flex-start" href="{{ .URL }}">{{ localize "enter-password-instead" }}</a>
{{ end }}
{{ if eq .Type "oob_otp" }}
<a class="link align-self-flex-start" href="{{ .URL }}">{{ localize "enter-oob-otp-instead" .MaskedTarget }}</a>
{{ end }}
{{ if eq .Type "recovery_code" }}
<a class="link align-self-flex-start" href="{{ .URL }}">{{ localize "enter-recovery-code-instead" }}</a>
{{ end }}
{{ end }}

<button class="btn primary-btn align-self-flex-end" type="submit" name="submit" value="">{{ localize "next-button-label" }}</button>

</form>

</div>
{{ template "auth_ui_footer.html" . }}

</div>
</body>
</html>
