<!DOCTYPE html>
<html>
{{ template "auth_ui_html_head.html" . }}
<body class="page">
<main class="content">

{{ template "auth_ui_header.html" . }}

{{ template "auth_ui_nav_bar.html" true }}

<p class="align-self-center primary-txt">
  Click <a href="/logout">here</a> to sign out.
</p>

<!-- Security -->
<section class="pane">
  <!-- The title and the description -->
  <section class="settings-row settings-page-section-with-title-desc-action">
    <h2 class="title primary-txt">
      {{ template "settings-page-security-section-title" }}
    </h2>
    <p class="description secondary-txt">
      {{ template "settings-page-security-section-description" }}
    </p>
  </section>

  {{ range $.Authenticators }}
  <!-- Primary Password -->
  {{ if eq .Type "password" }}{{ if eq .Kind "primary" }}
  <section class="settings-row settings-page-section-with-title-desc-action">
    <p class="title primary-txt">
      {{ template "settings-page-primary-password-title" }}
    </p>
    <p class="description secondary-txt">
    <!-- FIXME(ui): format localized date time -->
    {{ template "settings-page-primary-password-description" (makemap "time" "FIXME") }}
    </p>
    <a class="action" href="#">
      {{ template "change-password-button-label" }}
    </a>
  </section>
  {{ end }}{{ end }}

  <!-- Primary OOB OTP -->
  {{ if eq .Type "oob_otp" }}{{ if eq .Kind "primary" }}
  <section class="settings-row settings-page-section-with-title-info-desc-action">
    <p class="title primary-txt">
      {{ if eq (index .Claims "https://authgear.com/claims/oob_otp/channel_type") "email" }}
      {{ template "settings-page-primary-oob-otp-title--email" }}
      {{ end }}
      {{ if eq (index .Claims "https://authgear.com/claims/oob_otp/channel_type") "sms" }}
      {{ template "settings-page-primary-oob-otp-title--sms" }}
      {{ end }}
    </p>
    <p class="info secondary-txt">
      {{ if eq (index .Claims "https://authgear.com/claims/oob_otp/channel_type") "email" }}
      <i class="fas fa-envelope" aria-hidden="true"></i>
      {{ index .Claims "https://authgear.com/claims/oob_otp/email" }}
      {{ end }}
      {{ if eq (index .Claims "https://authgear.com/claims/oob_otp/channel_type") "sms" }}
      <i class="fas fa-phone" aria-hidden="true"></i>
      {{ index .Claims "https://authgear.com/claims/oob_otp/phone" }}
      {{ end }}
    </p>
    <p class="description secondary-txt">
    <!-- FIXME(ui): format localized date time -->
    {{ template "settings-page-primary-oob-otp-description" (makemap "time" "FIXME") }}
    </p>
    <a class="action" href="/settings/identity">
      {{ template "details-button-label" }}
    </a>
  </section>
  {{ end}}{{ end }}
  {{ end }}

  <!-- MFA title -->
  <section class="settings-row settings-page-section-with-title">
    <h3 class="title primary-txt">
      {{ template "settings-page-mfa-section-title" }}
    </h3>
  </section>

  <!-- Secondary TOTP -->
  {{ if $.SecondaryTOTPEnabled }}
  <section class="settings-row settings-page-section-with-title-desc-action">
    <p class="title primary-txt">
      {{ template "settings-page-secondary-totp-title" }}
    </p>
    {{ $totp := false }}

    {{ range $.Authenticators }}
    {{ if eq .Type "totp" }}{{ if eq .Kind "secondary" }}
    {{ $totp = true }}
    {{ end }}{{ end }}
    {{ end }}
    {{ if $totp }}
    <p class="description good-txt">
      {{ template "activated-label" }}
    </p>
    {{ else }}
    <p class="description warn-txt">
      {{ template "inactive-label" }}
    </p>
    {{ end }}

    <a class="action" href="#">
      {{ template "details-button-label" }}
    </a>
  </section>
  {{ end }}

  <!-- Secondary OOB OTP -->
  {{ if $.SecondaryOOBOTPEnabled }}
  <section class="settings-row settings-page-section-with-title-desc-action">
    <p class="title primary-txt">
      {{ template "settings-page-secondary-oob-otp-title" }}
    </p>
    {{ $totp := false }}

    {{ range $.Authenticators }}
    {{ if eq .Type "oob_otp" }}{{ if eq .Kind "secondary" }}
    {{ $totp = true }}
    {{ end }}{{ end }}
    {{ end }}
    {{ if $totp }}
    <p class="description good-txt">
      {{ template "activated-label" }}
    </p>
    {{ else }}
    <p class="description warn-txt">
      {{ template "inactive-label" }}
    </p>
    {{ end }}

    <a class="action" href="#">
      {{ template "details-button-label" }}
    </a>
  </section>
  {{ end }}
</section>

<!-- Connected Identities -->
<section class="pane">
  <section class="settings-row settings-page-section-with-title-desc-action">
    <h2 class="title primary-txt">
      {{ template "settings-identity-title" }}
    </h2>
    <p class="description secondary-txt">
      {{ template "settings-page-identity-section-description" }}
    </p>
    <a class="action" href="/settings/identity">
      {{ template "details-button-label" }}
    </a>
  </section>
</section>

</main>
</body>
</html>
