# Edge 44 is the last version based on EdgeHTML.
# Edge 79 is the first version based on Chromium.
# There is no [45,78] major version of Edge.
# As of 2020-08-27, the latest version of Edge is 84.
# And Edge has adopted a release schedule similar to Chrome and Firefox.
# Therefore we can write this.
last 2 Edge versions
last 2 Chrome versions
last 2 Firefox versions
Safari >= 11
not dead # no browsers without security updates
