# Edge 44 is the last version based on EdgeHTML.
# Edge 79 is the first version based on Chromium.
# There is no [45,78] major version of Edge.
# As of 2020-08-27, the latest version of Edge is 84.
# And Edge has adopted a release schedule similar to Chrome and Firefox.
# Therefore we can write this.
iOS >= 14.5
Safari >= 14.1
Android >= 5.0

# As of 2025-11-19, the last 3 Firefox ESR are 115 (released in 2023), 128 (released in 2024), 140 (released in 2025)
Firefox >= 115

# Chrome 116 was released in 2023
Chrome >= 116
ChromeAndroid >= 116

# Edge 116 was released in 2023
# https://learn.microsoft.com/en-us/deployedge/microsoft-edge-release-schedule
Edge >= 116

# Samsung Internet is based on Chromium 115, released in 2023
Samsung >= 23

>=0.4% and not dead
