.radioCards__root {
  justify-content: center;
}

.radioCards__itemTextContainer {
  @apply flex flex-col text-center;
}

.radioCards__itemTextTitle {
  color: var(--gray-a12);
}

.radioCards__itemTextSubtitle {
  color: var(--gray-a11);
}
