.radioCards__root {
  justify-content: center;
}

.radioCards__itemTextContainer {
  @apply flex flex-col text-center;
}

.radioCards__itemTextTitle {
  color: var(--gray-a12);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-2);
}

.radioCards__itemTextSubtitle {
  color: var(--gray-a11);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-2);
}
