.listWrapper {
  @apply flex-1;
  min-height: 0;
  overflow: auto;
}

.loading {
  display: flex;
  justify-content: center;
  padding: 32px;
}

.clickableRow {
  cursor: pointer;
}

.clickableRow:hover {
  background-color: var(--gray-a2);
}

.pagination {
  align-self: flex-end;
  margin: 12px 16px;
}

.message {
  margin: 20px 0;
}
