.calloutRoot {
  /* Originally the background color is --accent-a2, which is transparent
  Use accent-2 to make it a solid color */
  background-color: var(--accent-2);

  grid-template-areas: "icon text action";
  grid-template-columns: auto 1fr auto;

  align-items: center;
}

.calloutRoot--toast {
  width: 22.5rem;
}

.calloutIcon {
  grid-area: icon;
}

.calloutText {
  grid-area: text;
}

.calloutAction {
  grid-area: action;
  cursor: pointer;
  color: var(--accent-12);
  line-height: 0px;
}
