.iconRadioCards__root {
  justify-content: center;
}

.iconRadioCards__itemContainer {
  @apply self-stretch flex items-start gap-3;
}

.iconRadioCards__iconContainer {
  @apply flex flex-none;
}

.iconRadioCards__itemTextContainer {
  @apply flex-1 overflow-hidden text-ellipsis;
  @apply flex flex-col text-left;
}

.iconRadioCards__itemTextTitle {
  color: var(--gray-a12);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-2);
}

.iconRadioCards__itemTextSubtitle {
  color: var(--gray-a11);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-2);
}
