.container {
  @apply flex flex-col gap-3;
  background-color: var(--color-panel-solid);
  border: 1px solid var(--gray-a5);
  border-radius: var(--radius-3);
  padding: 20px 24px 16px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray-12);
}

.chartWrap {
  height: 200px;
  width: 100%;
}
